<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=50--><BR>Département(s) de
            publication : <B>44</B><!-- ED=20158208--><BR>Annonce No&nbsp;<B>13-137111</B><BR>Travaux<!--Autre-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>CIF COOPERATIVE.<BR>&nbsp;Correspondant&nbsp;:&nbsp;cuffel-patry
            Franck,&nbsp;10 rue de Bel Air CS 53205&nbsp;44032&nbsp;Nantes Cedex 1, tél.&nbsp;:&nbsp;02-40-99-40-22,
            courriel&nbsp;:&nbsp;fcuffelpatry@groupecif.com.<BR>Adresse internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://www.boamp.fr/demat/consultation/CONS-13-137111","TestLien","");'
                    class="lien">https://www.boamp.fr/demat/consultation/CONS-13-137111</A>.<BR>Le pouvoir adjudicateur
            agit pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s) Activité(s) du pouvoir adjudicateur
                : </i> SCCIC HLM.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>réalisation d'un ensemble immobilier neuf mixte Tertiaire et
                logements à Nantes</B>.<BR><I>Type de marché de travaux&nbsp;:&nbsp;</I> exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;45211350.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>216 Bd Jules Verne,&nbsp;44300&nbsp;Nantes.<BR><I>Code
                    NUTS : </I>FR511.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR><I>Des variantes seront-elles prises en
                compte: </I>oui.La procédure d'achat du présent avis est couverte par l'accord sur les marchés publics
                de l'OMC : non.<br/>Le présent avis correspond à un système de qualification constituant une mise en
                concurrence.<br/><BR>Prestations divisées en lots : oui.<BR>Possibilité de pr&eacute;senter une offre
                pour un ou plusieurs lots.<BR><i>Date&nbsp;prévisionnelle&nbsp;de&nbsp;commencement&nbsp;des&nbsp;travaux&nbsp;:&nbsp;</i>15&nbsp;décembre&nbsp;2015.<BR><I>Cautionnement
                    et garanties exigés&nbsp;:&nbsp;</I>taux de retenue de Garantie : 5%.<BR><I>Modalités essentielles
                    de financement et de paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>fond
                propre et prêt - paiement à 45 jours à compter de la présentation des situations au MOE.<BR><i>Forme
                    juridique que devra revêtir le groupement d'opérateurs économiques attributaire du marché&nbsp;:&nbsp;</i>groupement
                solidaire, avec un mandataire désigné dès la candidature.<BR><I>L'exécution du marché est soumise à
                    d'autres conditions particulières : </I>-Tranches de livraison et ou mise à disposition des
                différents volumes : ERP et Locaux Commerciaux livrés Brut<Br>Hors d'eau Hors d'air, Bureaux NM,
                Sous-Sol et Logements.<Br>-Proximité du Tramway.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>-Capacité de l'entreprise de mener à bien ce type de chantier et d'assurer
                son bon déroulement, en<Br>Particulier les points suivants : organisation mise en<Br>Place
                (organigramme, encadrement...), moyens<Br>Humains, pour respecter les objectifs de délai : noté de<Br>0
                à 40.<Br>-Capacité de l'entreprise d'effectuer les études en<Br>Interne ou externe à l'entreprise, pour
                mener à bien le<Br>Chantier compte tenu des particularités décrites aux<Br>Paragraphes Ii.1.4 : noté de
                0 à 30.<Br>-Capacité financière de l'entreprise : noté de 0 à 30.<Br>Le classement sera réalisé dans
                l'ordre décroissant des<br>notes.<BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>-l'imprimé
                Dc1 dûment rempli et signé doit obligatoirement être fourni à l'appui de la<Br>Candidature, que celle ci
                soit présentée à titre individuel ou en groupement.<Br>-Pour fournir les renseignements demandés, le
                candidat peut utiliser le formulaire DC 2 ou<br>équivalent.<BR><I>Capacité économique et financière -
                    références requises&nbsp;:&nbsp;</I>-Déclaration sur l'honneur dûment datée et signée,<Br>Justifiant
                la satisfaction par le candidat des obligations<Br>Fiscales et sociales ou formulaire " état annuel
                des<Br>Certificats reçus " Noti2.<Br>- déclaration concernant le chiffre d'affaires global et le<Br>Chiffre
                d'affaires concernant les<Br>Travaux objet du marché, réalisés au cours des<Br>Cinq derniers exercices
                disponibles ou documents<BR><I>Référence professionnelle et capacité technique - références requises&nbsp;:&nbsp;</I>présentation
                d'une liste de références de travaux<Br>Exécutés similaires, en nature et<Br>Importance, appuyée
                d'attestations de bonne exécution<Br>Pour les travaux les plus<Br>Importants.<Br>Niveau(X) spécifique(s)
                minima(aux) exigé(s) :<Br>Présenter au minimum 5<Br>Références significatives au cours des dernières
                années<Br>Dans les domaines de<Br>Compétence décrits au paragraphe de l'annexes B<Br>Détaillant chaque
                lot.<Br>*Les candidats étrangers devront produire les<Br>Qualifications dans leur langue d'origine. Ils
                devront les<Br>Accompagner de leur traduction en français certifiée<Br>Conforme à l'original par un
                traducteur assermenté<Br>Et d'une note justifiant de l'équivalence avec les<Br>Qualifications françaises
                demandées<Br>Déclaration indiquant les effectifs moyens annuels du<Br>Candidat et l'importance du<Br>Personnel
                d'encadrement pour chacune des 3 dernières<Br>Années.<Br>3 - l'organisation<Br>L'Organisation envisagée
                pour la réalisation des travaux<Br>Avec le nom et le curriculum<Br>Vitae détaillé du personnel
                d'encadrement et la liste des<Br>Sous-Traitants envisagés.<Br>Niveau(X) spécifique(s) minimal(aux)
                exigé(s) : Equipe<Br>D'Encadrement de niveau ingénieur (ou équivalent)<Br>Justifiant d'une expérience de
                plus de cinq ans dans<Br>Le domaine décrit dans l'annexe B décrivant chaque<Br>Lot. Les personnes
                morales sont tenues d'indiquer les<Br>Noms et qualifications professionnelles des membres<Br>Du
                personnel responsables de l'exécution des travaux<Br>4 - le materiel<Br>Le matériel, l'équipement
                technique et l'outillage dont le<Br>Candidat dispose pour la<Br>Réalisation de marchés de même
                nature,<Br>-Nota 1 :<Br>Les références feront apparaître la description de<Br>L'Opération accompagnée a
                minima des éléments<Br>Suivants : Caractéristiques principales des travaux,<Br>Situation, année,<Br>Maître
                d'ouvrage, position du candidat (mandataire, cotraitant,<Br>Sous-Traitant), montant des travaux<Br>Nota
                2 : justifier de ses capacités professionnelles,<Br>Techniques et financières.<BR><I>Référence
                    professionnelle et capacité technique - Niveau(x) spécifique(s) minimal(aux)
                    exigé(s)&nbsp;:&nbsp;</I>l'entreprise et preuves par tout moyen<Br>De la capacité technique
                équivalente aux Qualification<Br>(S) suivant Qualibat ou Qualifelec selon tableau cidessous<Br>:<Br>1
                gros &oelig;uvre - espaces<br>verts - bardage metallique<Br>1212-1233-1292-2113-2212-2242-1311-1341-1351<Br>2
                charpente metallique - cOUVERTURE 2412<Br>3 ÉTANCHÉITÉ 3212-3292 ou sur références<Br>Équivalentes<Br>4
                verriere et chassis asservis<Br>2412-4413-4421<Br>5 menuiseries extérieures metalliques -<Br>Occultations
                3522<Br>6 menuiseries interieures 4312<Br>7 plancher technique 7232 ou sur
                références<Br>Équivalentes<Br>8 METALLERIE - sERRURERIE 4412<Br>9 CLOISONS - dOUBLAGES -
                fAUX-PLAFONDS<Br>4131<Br>10 revêtements de sols - carrelage mural<Br>6312-6222<Br>11 PEINTURE 6112<Br>12
                appareils elevateurs Sur référence<Br>13 PLOMBERIE - sANITAIRE 5112<Br>14 CHAUFFAGE - vENTILATION 5312 -
                5431<Br>15 ELECTRICITE - courants forts -<br>courants faibles Qualification Elec E2 - c3<Br>16 NACELLE
                Sur référence.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire obligatoirement par le candidat, à l'appui de sa candidature&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Copie
                du ou des jugements prononcés, si le candidat est en redressement judiciaire;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                sur l'honneur du candidat justifiant qu'il n'entre dans aucun des cas mentionnés à l'article 43 du code
                des marchés publics, concernant les interdictions de soumissionner;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                sur l'honneur du candidat attestant qu'il est en règle, au cours de l'année précédant celle au cours de
                laquelle a lieu le lancement de la consultation, au regard des articles L. 5212-1, L. 5212-2, L. 5212 5
                et L. 5212-9 du code du travail, concernant l'emploi des travailleurs handicapés;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                le candidat est établi en France, une déclaration sur l'honneur du candidat justifiant que le travail
                est effectué par des salariés employés régulièrement au regard des articles L. 1221-10, L. 3243-2 et R.
                3243-1 du code du travail (dans le cas où le candidat emploie des salariés, conformément à l'article D.
                8222-5-3° du code du travail);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si le candidat est établi ou
                domicilié à l'étranger, une déclaration sur l'honneur du candidat attestant qu'il fournit à ses salariés
                des bulletins de paie comportant les mentions prévues à l'article R. 3243-1 du code du travail, ou des
                documents équivalents.<br/><br/><i>Documents à produire à l'appui des candidatures par le candidat, au
                    choix de l'acheteur public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Présentation
                d'une liste des principales fournitures ou des principaux services effectués au cours des trois
                dernières années, indiquant le montant, la date et le destinataire public ou privé. Les livraisons et
                les prestations de services sont prouvées par des attestations du destinataire ou, à défaut, par une
                déclaration de l'opérateur économique;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire DC1, Lettre de
                candidature - Habilitation du mandataire par ses co-traitants (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC2, Déclaration du candidat individuel ou du membre du groupement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4).<br/><br/><i>Documents
                    à produire obligatoirement par l'attributaire, avant la signature et la notification du marché
                    public ou de l'accord-cadre (formulaire NOTI1)&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Les
                pièces prévues aux articles D. 8222-5 ou D. 8222-7 et D. 8222-8 du code du travail;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                l'attributaire est établi en France, les attestations et certificats délivrés par les administrations et
                organismes compétents prouvant qu'il a satisfait à ses obligations fiscales et sociales ou un état
                annuel des certificats reçus;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si l'attributaire est établi dans
                un Etat autre que la France, un certificat établi par les administrations et organismes du pays
                d'origine. Lorsqu'un tel certificat n'est pas délivré par le pays concerné, il peut être remplacé par
                une déclaration sous serment, ou dans les Etats où un tel serment n'existe pas, par une déclaration
                solennelle faite par l'intéressé devant l'autorité judiciaire ou administrative compétente, un notaire
                ou un organisme professionnel qualifié du pays;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si les documents
                fournis par le candidat ne sont pas établis en langue française, ils doivent être accompagnés d'une
                traduction en français, certifiée conforme à l'original par un traducteur assermenté.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).
            <P><I>Type de procédure&nbsp;:&nbsp;</I>appel d'offres restreint.
            <p><I>Date limite de réception des candidatures&nbsp;:&nbsp;</I>7&nbsp;septembre&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>Date
                limite de réception des offres&nbsp;:&nbsp;</I>8&nbsp;septembre&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>A1173 AAPC ENT.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>24&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I>SCP Jorand - Van GORKUM.<BR>&nbsp;10 bis rue Sarrazin - B.P.&nbsp;61807,&nbsp;&nbsp;44018&nbsp;Nantes
            Cedex 1,&nbsp;, tél.&nbsp;:&nbsp;(+33)2-40-48-63-73,&nbsp;, courriel&nbsp;:&nbsp;huissier@juri-huis.com.<BR><I>Adresse
                auprès de laquelle les documents peuvent être obtenus&nbsp;:&nbsp;</I>synapse ouest.<BR>, tél.&nbsp;:&nbsp;(+33)2-99-55-02-05,&nbsp;,
            courriel&nbsp;:&nbsp;support@synapse-ouest.com,&nbsp;&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.ao-groupecif.com","TestLien","");' class="lien">http://www.ao-groupecif.com</A>.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal Administratif de Nantes,&nbsp;6
                allée Ile Gloriette B.P.&nbsp;24111&nbsp;44000&nbsp;Nantes Cedex 1, tél.&nbsp;:&nbsp;(+33)
                2-40-99-46-00, courriel&nbsp;:&nbsp;greffe.ta-nantes@juradm.fr.</P>
            <P><I>Renseignements relatifs aux lots&nbsp;:&nbsp;</I>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 01.</span> - gros &oelig;uvre - espaces verts-
                                    bardage metallique.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Les travaux concernent l'installation de chantier, le terrassement, les
                                    VRD, les aménagements de surfaces, le gros &oelig;uvre et les travaux de bardage
                                    métallique
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45223220<br><i>Objets
                                    supplémentaires&nbsp;:&nbsp;</i>45112500<BR>45112710<BR>45262650.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 02.</span> - charpente metallique.</td>
                            </tr>
                            <tr>
                                <td class="txt">Les travaux concernent la charpente métallique de la double peau, la
                                    structure du bâtiment pavillon et sa couverture, la couverture des 2 halls du
                                    bâtiment logement R+2 et les ouvrages en pignon du bâtiment logement R+2
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i><br><i>Objets supplémentaires&nbsp;:&nbsp;</i>45261100<BR>45223110.<BR>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 03.</span> - étanchéité.</td>
                            </tr>
                            <tr>
                                <td class="txt">Les travaux comprennent la mise en &oelig;uvre de l'étanchéité sur les
                                    terrasses accessible et non accessible, et les travaux d'étanchéité sur dalle du
                                    parking
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45261420.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 04.</span> - verriere et chassis asservis.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Les travaux concernent l'installation de la verrière en partie haute de
                                    l'atrium des bureaux, et des grilles de ventilations, désenfumage des bureaux et
                                    clapet de ventilation de la façade double peau
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45421140.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 05.</span> - menuiseries extérieures
                                    metalliques - oCCULTATIONS.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Les travaux concernent l'ensemble des fenêtres, portes vitrées ainsi que
                                    les portes métalliques, les gardes corps vitrés, métal et techniques et mains
                                    courante de la double peau ,
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45421000<br><i>Objets
                                    supplémentaires&nbsp;:&nbsp;</i>45420000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 06.</span> - menuiseries intérieures.</td>
                            </tr>
                            <tr>
                                <td class="txt">Les travaux comprennent la fourniture et la pose de l'ensemble des
                                    portes bois, des plinthes, des façades des trappes, de la banque d'accueil et de la
                                    signalétique de sécurité et des espaces techniques, la pose de parquet bois dans
                                    l'accueil des bureaux.,
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45421150<br><i>Objets
                                    supplémentaires&nbsp;:&nbsp;</i>45432113.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 07.</span> - plancher technique.</td>
                            </tr>
                            <tr>
                                <td class="txt">Les travaux concernent l'installation de faux-*plancher technique dans
                                    les bureaux
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45432120.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 08.</span> - métallerie - sERRURERIE.</td>
                            </tr>
                            <tr>
                                <td class="txt">Les travaux concernent l'installation des grilles de ventilations, garde
                                    corps, échelle et ouvrage de serrurerie du bâtiment. -
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;44316500<br><i>Objets
                                    supplémentaires&nbsp;:&nbsp;</i>45340000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 09.</span> - cloisons - dOUBLAGES - faux
                                    -plafonds.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Les travaux comprennent la mise en &oelig;uvre des cloisons, doublage et
                                    plafond en plâtre, mise en &oelig;uvre de plafond hydrofuge, de doublage thermo
                                    acoustique, de faux plafond, de baffles acoustiques et de gaine de désenfumage
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45410000<br><i>Objets
                                    supplémentaires&nbsp;:&nbsp;</i>45420000<BR>45421146.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 10.</span> - revêtements de sols - carrelage
                                    mural.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Les travaux concernent la mise en &oelig;uvre des revêtements muraux des
                                    logements et des parties communes, le revêtement sols souples des logements, la mise
                                    en &oelig;uvre de la moquette dans les bureaux
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45430000<br><i>Objets
                                    supplémentaires&nbsp;:&nbsp;</i>45432111.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 11.</span> - peinture.</td>
                            </tr>
                            <tr>
                                <td class="txt">Les travaux comprennent la mise en &oelig;uvre des travaux de peinture
                                    avec la préparation des supports, murs et plafonds et le nettoyage
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45442110.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 12.</span> - ascenseurs.</td>
                            </tr>
                            <tr>
                                <td class="txt">Fourniture et mise en &oelig;uvre des monte-charge du bâtiment Logement
                                    et du bâtiment bureau
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;42416100.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 13.</span> - plomberie - sANITAIRES.</td>
                            </tr>
                            <tr>
                                <td class="txt">Les travaux concernent la plomberie et les équipements sanitaires,
                                    évacuations du bâtiment
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45330000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 14.</span> - chauffage - vENTILATION -
                                    dESENFUMAGE.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Les travaux concernent le chauffage, ventilation et désenfumage</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45331000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 15.</span> - électricité - courants forts et
                                    courants faibles.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Les travaux comprennent la mise en place du tableau HTA, des coffrets
                                    d'urgence, du TGBT, le passage de câbles, l'appareillage PC, Rj45, caméra, lecteurs
                                    de badges. Du contrôle d'accès et de la sécurité incendie
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;09310000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 16.</span> - nacelle.</td>
                            </tr>
                            <tr>
                                <td class="txt">Les travaux concernent l'installation de d'une nacelle de nettoyage et
                                    d'entretien des façades
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;51511300.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2613776&noa=13-137111" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>