<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>93</B><!-- ED=20158296--><BR>Annonce No&nbsp;<B>13-205558</B><BR>Services<!--Commune-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Commune de Sevran.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;le
            maire de sevran,&nbsp;28&nbsp;avenue du general leclerc&nbsp;93270&nbsp;Sevran, tél.&nbsp;:&nbsp;01-49-36-52-34,
            télécopieur&nbsp;:&nbsp;01-49-36-52-18, courriel&nbsp;:&nbsp;grp_marches_publics@ville-sevran.fr&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://ville-sevran.fr","TestLien","");' class="lien">http://ville-sevran.fr</A>.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://ville-sevran.marcoweb.fr","TestLien","");' class="lien">http://ville-sevran.marcoweb.fr</A>.<BR><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>vérification des alarmes anti-intrusion et des systèmes de
                détection incendie</B>.<BR><I>Catégorie de services&nbsp;:&nbsp;</I>1.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;35121700.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>territoire de la ville de
                Sevran,&nbsp;93270&nbsp;Sevran.<BR><I>Code NUTS : </I>FR106.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>le présent marché a pour objet de
                déterminer les conditions d'exécution de vérification des alarmes anti-intrusion et des systèmes de
                détection incendie installés dans les bâtiments de la Ville de SEVRAN<BR><i>Nombre de reconductions
                    éventuelles&nbsp;:&nbsp;</i>3.<BR><I>Refus des variantes</I>.<BR>La procédure d'achat du présent
                avis est couverte par l'accord sur les marchés publics de l'OMC : non.<br/>Le présent avis correspond à
                un avis périodique indicatif constituant une mise en concurrence.<br/><BR>Prestations divisées en lots :
                non.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>12 mois à compter de la notification du
                marché.<BR><I>Modalités essentielles de financement et de paiement et/ou références aux textes qui les
                    réglementent&nbsp;:&nbsp;</I>financement sur les crédits inscrits au budget communal. Paiement selon
                les règles de la comptabilité publique en vigueur.<BR><i>Forme juridique que devra revêtir le groupement
                    d'opérateurs économiques attributaire du marché&nbsp;:&nbsp;</i>l'offre, qu'elle soit présentée par
                une seule entreprise ou par un groupement, devra indiquer tous les sous-traitants connus lors de son
                dépôt. Elle devra également indiquer les prestations (et leur montant) dont la sous-traitance est
                envisagée, la dénomination et la qualité des sous-traitants qui l'exécuteront à la place du
                titulaire.<Br><Br>Le pouvoir adjudicateur ne souhaite imposer aucune forme de groupement à
                l'attributaire du marché.<Br><Br>Il est interdit aux candidats de présenter plusieurs offres en agissant
                à la fois :<Br>- en qualité de candidats individuels et de membres d'un ou plusieurs groupements ; <Br>-
                en qualité de membres de plusieurs groupements.<BR><I>L'exécution du marché est soumise à d'autres
                    conditions particulières : </I>non.<BR><I>Langues pouvant être utilisées dans l'offre ou la
                    candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>garanties et capacités techniques et financières<Br>Capacités
                professionnelles.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire obligatoirement par le candidat, à l'appui de sa candidature&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Copie
                du ou des jugements prononcés, si le candidat est en redressement judiciaire;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                sur l'honneur du candidat justifiant qu'il n'entre dans aucun des cas mentionnés à l'article 43 du code
                des marchés publics, concernant les interdictions de soumissionner;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                sur l'honneur du candidat attestant qu'il est en règle, au cours de l'année précédant celle au cours de
                laquelle a lieu le lancement de la consultation, au regard des articles L. 5212-1, L. 5212-2, L. 5212 5
                et L. 5212-9 du code du travail, concernant l'emploi des travailleurs handicapés.<br/><br/><i>Documents
                    à produire à l'appui des candidatures par le candidat, au choix de l'acheteur
                    public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration concernant le chiffre
                d'affaires global et le chiffre d'affaires concernant les fournitures, services ou travaux objet du
                marché, réalisés au cours des trois derniers exercices disponibles;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                appropriée de banques ou preuve d'une assurance pour les risques professionnels;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                indiquant les effectifs moyens annuels du candidat et l'importance du personnel d'encadrement pour
                chacune des trois dernières années;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration indiquant
                l'outillage, le matériel et l'équipement technique dont le candidat dispose pour la réalisation de
                marchés de même nature;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire DC1, Lettre de candidature -
                Habilitation du mandataire par ses co-traitants (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC2, Déclaration du candidat individuel ou du membre du groupement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;S'il
                s'appuie, pour présenter sa candidature, sur les capacités professionnelles, techniques et financières
                d'autres opérateurs économiques, le candidat produit les mêmes documents concernant cet opérateur
                économique que ceux qui lui sont exigés par l'acheteur public. Le candidat doit également apporter la
                preuve que chacun de ces opérateurs économiques mettra à sa disposition les moyens nécessaires, pendant
                toute la durée d'exécution du marché public ou de l'accord-cadre.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur
                technique : 60 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix des prestations : 40 %.<BR>Une enchère
                électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>18&nbsp;novembre&nbsp;2015,&nbsp;à&nbsp;11&nbsp;h&nbsp;30.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>SE13-020.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>a/Modalités d'attribution des points<Br><Br>1/ La
                valeur technique sera notée sur 60 points répartit de la manière suivante:<Br><Br>A-Méthodologie
                concernant la mise en &oelig;uvre des procédures : 30 points<Br>Le candidat devra produire une note
                méthodologique visant à expliquer les procédures de mise en &oelig;uvre pour réaliser les contrôles et
                vérifications en sites occupés, celle-ci ne devant pas faire plus de 2 pages maximum.<Br><Br>B-Formation
                des utilisateurs : 30 points<Br> Le candidat devra produire une note visant à expliquer le protocole de
                formation mis en &oelig;uvre aux utilisateurs, celle-ci ne devant pas faire plus de 2 pages maximum.<Br><br>
                Les points seront attribués de la façon suivante:<Br> <Br> Concernant les notes a et b sur 30 points
                :<Br>- la note ne répond a aucun élément = 0 points<Br>- l'élément décrit dans la note est jugé
                insatisfaisant ou incomplet =5 points<Br>- l'élément décrit dans la note est moyennement satisfaisant =
                12 points<Br>- l'élément décrit dans la note est jugé satisfaisant = 20 points<Br>- l'élément décrit
                dans la note est jugé très satisfaisant = 30 points <br><br><Br>2/ Le prix des prestations sera noté sur
                40 points selon la formule ci-dessous<br><br> 40 X (offre moins disante / offre du candidat) <Br><Br>Dans
                le cas où des erreurs purement matérielles (de multiplication, d'addition ou de report) seraient
                constatées entre les indications portées sur le bordereau des prix unitaires et le détail quantitatif
                estimatif, le bordereau des prix prévaudra et le montant du détail quantitatif estimatif sera rectifié
                en conséquence. L'entreprise sera invitée à confirmer l'offre ainsi rectifiée ; en cas de refus, son
                offre sera éliminée comme non cohérente.<Br><br>b / Auditions / négociations<Br><Br>1 - déroulement des
                auditions / négociations<Br><Br>La ville se réserve la possibilité de rencontrer ou de poser des
                questions, par tout moyen jugé pertinent, aux candidats afin de mener des auditions / négociations sur
                le plan technique et / ou financier.<Br><Br>Dans le cas où des auditions seraient menées, le(s)
                candidat(s) seront informés par télécopie ou courriel des dates, horaires et lieux précis ainsi que des
                modalités de déroulement des entretiens.<Br><Br>Pour le cas où des questions seraient posées, les
                candidats sont invités à s'assurer de la disponibilité de leurs appareils de réception (courriel et
                télécopie notamment) et de consulter ceux-ci.<Br><Br>2 - champ des auditions / négociations<Br><Br>Il
                est précisé que la négociation ne doit pas entraîner des modifications substantielles du cahier des
                charges, au regard notamment des obligations en matière de définition des besoins comme des conditions
                initiales de la consultation.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>le pouvoir adjudicateur préconise la
                transmission des documents par voie électronique mais accepte les plis adressés par voie papier. Le
                choix du mode de transmission est irréversible. Les candidats doivent appliquer le même mode de
                transmission à tous les documents transmis au pouvoir adjudicateur.<Br><Br>L'Offre pourra être transmise
                de 3 façons permettant à la collectivité de déterminer de façon certaine la date et l'heure de leur
                réception et d'en garantir la confidentialité :<Br>- soit déposé contre récépissé du LUNDI au VENDREDI
                de 9&nbsp;heures à 11h30 et de 13h30 à 17&nbsp;heures à l'adresse suivante : ville de sevran - direction
                de la commande publique- service marches publics - 26&nbsp;avenue du general leclerc - 93270 SEVRAN <br><br>-
                soit envoyé par la poste par pli recommandé avec avis de réception et parvenir à destination avant la
                date et l'heure limites de réception des offres indiquées sur la page de garde du présent document et ce
                à l'adresse suivante : ville de sevran - direction de la commande publique- service marches publics - 28&nbsp;avenue
                du general leclerc- 93270 sevran<br><br>- soit déposée sur la plateforme de dématérialisation de la
                ville à l'adresse suivante : http://ville-sevran.marcoweb.fr.<Br><Br>Le pli qui serait remis ou dont
                l'avis de réception serait délivré après la date et l'heure limites précitées ainsi que remis sous
                enveloppe non cachetée, ne sera pas retenu ; il sera renvoyé à son auteur.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>22&nbsp;octobre&nbsp;2015.</P><I>Adresse
                auprès de laquelle des renseignements d'ordre administratif et technique peuvent être obtenus&nbsp;:&nbsp;</I>Ville
            de Sevran<BR>Direction de la commande oublique.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>service marchés
            publics,&nbsp;&nbsp;2 rue paul Langevin,&nbsp;&nbsp;93270&nbsp;Sevran,&nbsp;, tél.&nbsp;:&nbsp;01-49-36-52-34,&nbsp;,
            télécopieur&nbsp;:&nbsp;01-49-36-52-18,&nbsp;, courriel&nbsp;:&nbsp;grp_marches_publics@ville-sevran.fr,&nbsp;&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http:////www.ville-sevran.fr","TestLien","");'
                               class="lien">http:////www.ville-sevran.fr</A>.<p><I>Instance chargée des procédures de
                recours&nbsp;:&nbsp;</I>Tribunal administratif de Montreuil&nbsp;7 rue catherine puig&nbsp;93100&nbsp;Montreuil,
                tél.&nbsp;:&nbsp;01-49-20-20-00, courriel&nbsp;:&nbsp;greffe.ta-montreuil@juadm.fr, télécopieur&nbsp;:&nbsp;01-49-20-20-99.
            </P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Tribunal
                administratif de Montreuil&nbsp;7 rue catherine puig&nbsp;93100&nbsp;Montreuil, tél.&nbsp;:&nbsp;01-49-20-20-00,
                courriel&nbsp;:&nbsp;greffe.ta-montreuil@juadm.fr, télécopieur&nbsp;:&nbsp;01-49-20-20-99.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2682223&noa=13-205558" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>