<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>69</B><!-- ED=20158126--><BR>Annonce No&nbsp;<B>14-122156</B><BR>Travaux<!--Autre-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Métropole de Lyon.<BR>&nbsp;Correspondant&nbsp;:&nbsp;robin
            Nicolas, gestionnaire administratif du marché,&nbsp;direction de la Propreté - div. Ressources - sAF 20 rue
            du Lac - cS 33569&nbsp;69505&nbsp;Lyon Cedex 03, télécopieur&nbsp;:&nbsp;04-26-99-30-64&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://marches.grandlyon.com","TestLien","");'
                               class="lien">http://marches.grandlyon.com</A>.<BR>Adresse internet du profil d'acheteur&nbsp;:
            <A HREF='javascript:BMP_openWindow("http://marches.grandlyon.com","TestLien","");' class="lien">http://marches.grandlyon.com</A>.<BR>Le
            pouvoir adjudicateur n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> eau, assainissement, voirie, aménagement urbain,
            déchets.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>travaux de remise en état des convoyeurs à déchets du quai
                de transfert des déchets ménagers de Givors et définition d'un programme de maintenance
                préventive</B>.<BR><I>Type de marché de travaux&nbsp;:&nbsp;</I> exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;42417200<br><i>Objets supplémentaires&nbsp;:&nbsp;</i>45351000.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>quai
                de transfert de Givors Bans Zi de Bans, chemin des Lônes,&nbsp;69700&nbsp;Givors.<BR><I>Code NUTS : </I>FR716.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>la Métropole de Lyon possède sur le sud
                de son territoire un quai de transfert sur la commune de Givors. Il réceptionne des bennes à ordures
                ménagères et de tri sélectifs des communes de Givors, Grigny et Charly.<Br>Les déchets sont vidés à quai
                dans deux convoyeurs qui alimentent deux semi-remorques à fond mouvant. Ces dernières sont ensuite
                évacuées vers les filières indiquées par la collectivité.<Br><Br>Lors des différentes opérations de
                maintenance préventive sur chaque convoyeur, il a été constaté l'usure de certaines pièces qui nous
                conduisent à réaliser les travaux pour<Br>Leurs remplacements et un nettoyage en profondeur de
                l'équipement<BR><i>Quantités (fournitures et services), nature et étendue (travaux)&nbsp;:&nbsp;</i>la
                prestation consiste à :<br><br>- remplacer les pièces défectueuses sur les deux convoyeurs comprenant
                l'ensemble des sujétions afférentes (démontages, fournitures montages, raccordement...)<br><br>-
                apporter des améliorations (accès aux déchets accrochés sous convoyeurs, accessibilités des points de
                graissage)<br><br>- nettoyer des structures supports laissés en place.<Br><br>- fournir un dossier des
                ouvrages exécutés (manuel opératoire et de maintenance).<BR><I>Refus des variantes</I>.<BR>La procédure
                d'achat du présent avis est couverte par l'accord sur les marchés publics de l'OMC : oui.<br/><BR>Prestations
                divisées en lots : non.<BR><i>Date&nbsp;prévisionnelle&nbsp;de&nbsp;commencement&nbsp;des&nbsp;travaux&nbsp;:&nbsp;</i>1.e.r&nbsp;septembre&nbsp;2015.<BR><I>Cautionnement
                    et garanties exigés&nbsp;:&nbsp;</I>néant.<BR><I>Modalités essentielles de financement et de
                    paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>le mode de règlement du
                marché est le virement administratif selon les règles de la comptabilité publique française.<Br>Délai de
                paiement : 30 jours dans les conditions fixées par l-article 98 du code des marchés publics et du décret
                n<sup>o</sup>2013-269 du 29 mars 2013.<Br><br>- acomptes :<Br>Acomptes versés dans les conditions fixées
                par l'article 91 du code des marchés publics et par l'acte d'engagement - ccap.<Br><br>- avance :<Br>1
                avance versée dans les conditions fixées par l'article 87 à 90 du code des marchés publics et par l'acte
                d'engagement - ccap.<Br><br>- variation des prix :<Br>Prix actualisable<br><br>- modalités de
                financement<Br>Le présent marché est financé sur des fonds : <Br>Budget de la Métropole de Lyon.<BR><I>L'exécution
                    du marché est soumise à d'autres conditions particulières : </I>non.<BR><I>Langues pouvant être
                    utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée,
                    l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>-lettre
                de candidature (imprimé Dc1) signée en original ou équivalent <Br>-Si le candidat est en redressement
                judiciaire, copie du ou des jugements prononcés à cet effet <Br>-Déclarations sur l'honneur datées et
                signées en original visées à l'article 44-2 du code des marchés publics ou règles d'effet équivalent
                pour les candidats non établis en France (modèle de déclaration sur l'honneur disponible par télécopie)
                <Br>-Si le candidat est une personne morale, les documents relatifs aux pouvoirs des personnes
                habilitées à l'engager (statuts ou K-Bis ou équivalent, et le cas échéant pouvoirs internes signés) <Br>En
                cas de groupement d'entreprises, la lettre de candidature ou équivalent sera signée en original par
                chaque membre du groupement ou par le mandataire dûment habilité. Les autres justifications ci- dessus
                seront fournies par chaque membre du groupement.<BR><I>Capacité économique et financière - références
                    requises&nbsp;:&nbsp;</I>- déclaration concernant le chiffre d'affaires global et le chiffre
                d'affaires concernant les fournitures, services ou travaux objet du marché, réalisés au cours des trois
                derniers exercices disponibles ou documents équivalents si le candidat est objectivement dans
                l'impossibilité de fournir ceux demandés ;<BR><I>Capacité économique et financière - Niveau(x)
                    spécifique(s) minimal(aux) exigé(s)&nbsp;:&nbsp;</I>- Le CA global du candidat doit, au moins sur
                l'un des trois derniers exercices, être supérieur à 270 000 euros (H.T.).<BR><I>Référence
                    professionnelle et capacité technique - références requises&nbsp;:&nbsp;</I>- déclaration indiquant
                les effectifs moyens annuels du candidat et l'importance du personnel l'encadrement pour chacune des
                trois dernières années ;<br><br>- présentation d'une liste des travaux exécutés au cours des cinq
                dernières années, appuyée d'attestations de bonne exécution pour les travaux les plus importants. Ces
                attestations indiquent le montant, l'époque et le lieu d'exécution des travaux et précisent s'ils ont
                été effectués selon les règles de l'art et menés régulièrement à bonne fin.<BR><I>Référence
                    professionnelle et capacité technique - Niveau(x) spécifique(s) minimal(aux)
                    exigé(s)&nbsp;:&nbsp;</I>- Les effectifs moyens annuels du candidat doivent être supérieurs à 5
                personnes dont au moins 1 encadrant pour chacune des trois dernières années.<Br><br>- le candidat doit
                être en capacité de réaliser des travaux d'équipement de transfert, de type convoyeurs de déchets,
                appréciée au regard d'au moins 3 références réalisées au cours des cinq dernières années ou équivalent.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix
                : 60 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur technique : 40 %.<BR>Une enchère électronique ne
                sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>16&nbsp;juin&nbsp;2015,&nbsp;à&nbsp;16&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>180 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>15DP004.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>- le pouvoir adjudicateur est une collectivité
                territoriale (loi Matpam) <br><br>- le dossier de consultation des entreprises peut être demandé
                gratuitement par courrier ou télécopie (la réception de la demande doit parvenir au moins dix jours
                calendaires avant la date limite de remise des offres) à l'adresse intitulée "adresse auprès de laquelle
                des informations complémentaires peuvent être obtenues", ou retiré (jusqu'à la date limite de remise des
                offres) à l'adresse intitulée "adresse auprès de laquelle le cahier des charges et les documents
                complémentaires peuvent être obtenus", les jours ouvrés de 09 heures à 12 heures et de 13h30 à 16
                heures. Le dossier peut également être téléchargé, jusqu'à la date limite de remise des offres à
                l'adresse internet suivante: http://marches.grandlyon.com sous la référence 15dp004 ou en effectuant une
                recherche sur la rubrique "consultation-rechercher" avec les mots clefs "convoyeurs". <br><br>- marché
                non-alloti<br><br>- adresse de dépôt des plis contre récépissé : <Br>Métropole de Lyon <Br>83 cours de
                la Liberté <Br>Immeuble le CLIP - 5ème étage - dir. Propreté <Br>Saf - unité achats - juridique<Br>69003
                Lyon. <br><br>- le marché est un marché à prix global et forfaitaire. Durée de 13 semaines à compter de
                l'émission de l'ordre de Service n<sup>o</sup>1. <br><br>- procédure adaptée (art. 28 du cmp)<br><br>-
                précision sur les critères de choix : Le critère "prix" est pondéré à 60%. Le critère "Valeur technique"
                est pondéré à 40 % et comporte 4 sous-critères d'égale valeur :<Br> <Br>- sous-Critère n<sup>o</sup>1 :
                Modalités prévues pour garantir le respect des délais de réalisation,<br><br>- sous-Critère
                n<sup>o</sup>2 : Pertinence des solutions techniques proposées,<br><br>- sous-Critère n<sup>o</sup>3 :
                Qualité du programme de maintenance préventive proposée et des préconisations d'utilisation,<br><br>-
                sous-Critère n<sup>o</sup>4 : Pertinence de l'organisation et des moyens humains et
                matériels.<Br><br><br><br>- les justificatifs visés aux rubriques " capacité économique et financière "
                et " référence professionnelle et capacité technique " seront fournis par le groupement, afin de
                permettre l'appréciation globale des capacités des membres du groupement. Il n'est pas exigé que chaque
                cotraitant ait la totalité des capacités financières, techniques et professionnelles requises pour
                l'exécution du marché. <Br>- sauf dans les cas de sous-traitance interdite, le candidat peut demander la
                prise en compte des capacités d'autres opérateurs économiques. Il doit alors justifier des capacités de
                ce ou ces opérateurs (même justificatifs professionnels, techniques ou financiers à fournir que ceux
                exigés des candidats aux rubriques " capacité économique et financière " et " référence professionnelle
                et capacité technique ") et produire un engagement signé de l'opérateur justifiant que le candidat
                disposera de ces capacités pour l'exécution du marché. L'opérateur devra aussi fournir les justificatifs
                exigés à la rubrique " situation juridique " sauf lettre de candidature. <Br>- un même candidat n'est
                pas autorisé à présenter pour le marché (ou pour un même lot) plusieurs offres en agissant à la fois en
                qualité de candidat individuel et de membre d'un ou plusieurs groupements ou en qualité de membre de
                plusieurs groupements.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>voir le règlement de la consultation.<Br><Br>Les
                candidats peuvent choisir de transmettre leur pli par voie électronique à l'adresse
                http://marches.grandlyon.com . Ils peuvent, dans le délai imparti pour la remise des plis, adresser une
                copie de sauvegarde sur support papier ou sur support physique électronique (Cd-Rom ou Dvd-Rom...).
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>6&nbsp;mai&nbsp;2015.</P><I>Adresse à
                laquelle les offres/candidatures/projets/demandes de participation doivent être envoyés&nbsp;:&nbsp;</I>Métropole
            de Lyon.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>Mme&nbsp;la Directrice de la Propreté,&nbsp;&nbsp;20 rue
            du Lac - cS 33569,&nbsp;&nbsp;69505&nbsp;Lyon Cedex 03,&nbsp;&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://marches.grandlyon.com","TestLien","");' class="lien">http://marches.grandlyon.com</A>.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre administratif et technique peuvent être obtenus&nbsp;:&nbsp;</I>Métropole
            de Lyon.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>Mme&nbsp;la Directrice de la Propreté,&nbsp;&nbsp;20 rue
            du Lac - cS 33569,&nbsp;&nbsp;69505&nbsp;Lyon Cedex 03,&nbsp;, télécopieur&nbsp;:&nbsp;04-26-99-30-64,&nbsp;&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://marches.grandlyon.com","TestLien","");'
                               class="lien">http://marches.grandlyon.com</A>.<BR><I>Adresse auprès de laquelle les
                documents peuvent être obtenus&nbsp;:&nbsp;</I>Métropole de
            Lyon.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>unité Achats - juridique,&nbsp;&nbsp;83 cours de la Liberté
            - immeuble le CLIP 5ème étage,&nbsp;&nbsp;69003&nbsp;Lyon,&nbsp;, télécopieur&nbsp;:&nbsp;04-26-99-30-64,&nbsp;&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://marches.grandlyon.com","TestLien","");'
                               class="lien">http://marches.grandlyon.com</A>.<p><I>Instance chargée des procédures de
                recours&nbsp;:&nbsp;</I>Tribunal administratif de Lyon&nbsp;184 rue Duguesclin&nbsp;69003&nbsp;Lyon,
                tél.&nbsp;:&nbsp;04-78-14-10-10, courriel&nbsp;:&nbsp;greffe.ta-lyon@juradm.fr.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Tribunal
                administratif de Lyon&nbsp;184 rue Duguesclin&nbsp;69003&nbsp;Lyon, tél.&nbsp;:&nbsp;04-78-14-10-10,
                courriel&nbsp;:&nbsp;greffe.ta-lyon@juradm.fr.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2825229&noa=14-122156" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>