<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>93</B><!-- ED=20158071--><BR>Annonce No&nbsp;<B>14-156699</B><BR>Services<!--Commune-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Commune de Sevran.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;le
            maire de sevran,&nbsp;28 av du genneral leclerc&nbsp;93270&nbsp;Sevran, tél.&nbsp;:&nbsp;01-49-36-52-34,
            télécopieur&nbsp;:&nbsp;01-49-36-52-18, courriel&nbsp;:&nbsp;grp_marches_publics@ville-sevran.fr&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://ville-sevran.fr","TestLien","");' class="lien">http://ville-sevran.fr</A>.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://ville-sevran.marcoweb.fr","TestLien","");' class="lien">http://ville-sevran.marcoweb.fr</A>.<BR><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>contrôle des aires de jeux et des sols de sécurité dans les
                crèches, écoles, square, centres de loisirs et les parcs de la ville de Sevran</B>.<BR><I>Catégorie de
                services&nbsp;:&nbsp;</I>27.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>sevran,&nbsp;93270&nbsp;Sevran.<BR><I>Code
                NUTS : </I>FR.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>le présent marché porte sur le contrôle
                de tous les aires de jeux et des sols de sécurité situés sur le territoire de la commune de Sevran. <Br><Br>1.1.1
                Contrôle annuel forfaitaire. <Br><Br>Le contrôle annuel sur l'ensemble des sites concernés, comprend:
                <Br>- un contrôle visuel et dynamique des jeux <Br>- un contrôle des sols de sécurité (Hic) <Br>- la
                rédaction du rapport par site<Br>- la mise à jour du registre de sécurité<Br>- les extractions
                d'observation sous tableau Excel<Br>- le programme de formation des agents<Br> <Br>Les prestations
                attendues et la liste des espaces extérieurs concernés, font l'objet d'une description détaillée au sein
                du Cahier des Clauses Techniques Particulières (C.C.T.P.) et de ses annexes. <Br><Br>1.1.2 Prestations
                supplémentaires éventuelles à bon de commande<Br><Br>Il pourra être demandé au prestataire, de procéder
                au contrôle d'aires de jeux et des sols de sécurité pour les raisons suivantes: <br><br>- création de
                nouvelles aires de jeux ( qui au jour de la notification du marché n'existaient pas)<Br>- recontrôle des
                aires de jeux et des sols suite à des actions de maintenance ou de réparations <Br>- doute quant à la
                sureté d'une aire de jeux. <Br><Br>Le titulaire s'engagera dans un premier temps à établir un devis qui
                sera par la suite validé ou non par le pouvoir adjudicateur<Br>Si ce dernier est validé un bon de
                commande sera alors établit afin de débuter la prestation.<Br>Sans acceptation au préalable du pouvoir
                adjudicateur aucune prestation ne pourra débuter<BR><I>Refus des variantes</I>.<BR>Le présent avis
                correspond à un avis périodique indicatif constituant une mise en concurrence.<br/><BR>Prestations
                divisées en lots : non.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>12 mois à compter de la notification du
                marché.<BR><I>Modalités essentielles de financement et de paiement et/ou références aux textes qui les
                    réglementent&nbsp;:&nbsp;</I>financement sur les crédits inscrits au budget communal. Paiement selon
                les règles de la comptabilité publique en vigueur.<BR><I>L'exécution du marché est soumise à d'autres
                    conditions particulières : </I>non.<BR><I>Langues pouvant être utilisées dans l'offre ou la
                    candidature&nbsp;:</I>&nbsp;français.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>garanties et capacités techniques et financières<Br>Capacités
                professionnelles.
            <p>La prestation n'est pas réservée à une profession particulière.
            <p>Les personnes morales ne sont pas tenues d'indiquer les noms et qualifications professionnelles des
                membres du personnel chargé de la prestation.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire obligatoirement par le candidat, à l'appui de sa candidature&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Copie
                du ou des jugements prononcés, si le candidat est en redressement judiciaire;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                sur l'honneur du candidat justifiant qu'il n'entre dans aucun des cas mentionnés à l'article 43 du code
                des marchés publics, concernant les interdictions de soumissionner;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                sur l'honneur du candidat attestant qu'il est en règle, au cours de l'année précédant celle au cours de
                laquelle a lieu le lancement de la consultation, au regard des articles L. 5212-1, L. 5212-2, L. 5212 5
                et L. 5212-9 du code du travail, concernant l'emploi des travailleurs handicapés.<br/><br/><i>Documents
                    à produire à l'appui des candidatures par le candidat, au choix de l'acheteur
                    public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration concernant le chiffre
                d'affaires global et le chiffre d'affaires concernant les fournitures, services ou travaux objet du
                marché, réalisés au cours des trois derniers exercices disponibles;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                appropriée de banques ou preuve d'une assurance pour les risques professionnels;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Bilans
                ou extraits de bilans, concernant les trois dernières années, des opérateurs économiques pour lesquels
                l'établissement des bilans est obligatoire en vertu de la loi;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                indiquant les effectifs moyens annuels du candidat et l'importance du personnel d'encadrement pour
                chacune des trois dernières années;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Présentation d'une liste des
                principales fournitures ou des principaux services effectués au cours des trois dernières années,
                indiquant le montant, la date et le destinataire public ou privé. Les livraisons et les prestations de
                services sont prouvées par des attestations du destinataire ou, à défaut, par une déclaration de
                l'opérateur économique;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire DC1, Lettre de candidature -
                Habilitation du mandataire par ses co-traitants (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC2, Déclaration du candidat individuel ou du membre du groupement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4).
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur
                technique : 60 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix des prestations : 40 %.
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>2&nbsp;avril&nbsp;2015,&nbsp;à&nbsp;11&nbsp;h&nbsp;30.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i>
            <P><I>Renseignements complémentaires&nbsp;:&nbsp;</I>modalites d'attribution des points<br><Br>1/ s'agissant
                de la valeur technique sur 60 points : <Br><Br>L'Analyse portera sur la note méthodologique transmise
                par les candidats dans leur offre au travers des éléments suivants:<Br> <Br>- programme et moyens mis en
                &oelig;uvre pour la formation d'au moins 3 agents (20 points) <Br> - détail méthodologique d'une
                prestation de contrôle type (20 points)<Br>- proposition d'organisation des prestations au travers d'un
                planning prévisionnel sur l'ensemble des sites prévus au Cctp(10 points)<Br>- clarté, complétude et plus
                value apportés par le candidat dans l'exemple de compte-rendu proposé (10 points)<Br><Br>La notation de
                chaque élément se fera de la manière suivante :<Br>- élément dont la valeur se révèle très satisfaisante
                : 20/10 points;<Br>- élément dont la valeur se révèle satisfaisante : 15/7,5 points;<Br>- éléments dont
                la valeur est moyennement satisfaisante: 10/5 points;<Br>- éléments dont la valeur est insatisfaisante:
                5/2,5 points;<Br>- élément non renseigné : 0 points. <br><br><br><Br>2/ s'agissant du prix des
                prestations sur 40 points <Br><Br>L'Offre financière la moins disante se verra attribuer 40 points. <Br>Les
                autres candidats se verront attribuer une note en fonction des écarts entre le prix proposé par chacun
                d'eux et l'offre la moins disante par application de la formule suivante: 40 X (Offre moins disante
                /Offre du candidat)<br><br><Br>2 / Auditions / négociations<Br><Br>2.1 - déroulement des auditions /
                négociations<Br><Br>La ville se réserve la possibilité de rencontrer ou de poser des questions, par tout
                moyen jugé pertinent, aux candidats afin de mener des auditions / négociations sur le plan technique et
                / ou financier.<Br><Br>Dans le cas où des auditions seraient menées, le(s) candidat(s) seront informés
                par télécopie ou courriel des dates, horaires et lieux précis ainsi que des modalités de déroulement des
                entretiens.<Br><Br>Pour le cas où des questions seraient posées, les candidats sont invités à s'assurer
                de la disponibilité de leurs appareils de réception (courriel et télécopie notamment) et de consulter
                ceux-ci.<Br><Br>2.2- champ des auditions / négociations<Br><Br>Il est précisé que la négociation ne doit
                pas entraîner des modifications substantielles du cahier des charges, au regard notamment des
                obligations en matière de définition des besoins comme des conditions initiales de la consultation.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>le pouvoir adjudicateur préconise la
                transmission des documents par voie électronique mais accepte les plis adressés par voie papier. Le
                choix du mode de transmission est irréversible. Les candidats doivent appliquer le même mode de
                transmission à tous les documents transmis au pouvoir adjudicateur.<Br><Br>L'Offre pourra être transmise
                de 3 façons permettant à la collectivité de déterminer de façon certaine la date et l'heure de leur
                réception et d'en garantir la confidentialité :<br><br>- soit déposé contre récépissé du LUNDI au
                VENDREDI de 9 heures à 11h30 heures et de 13h30 à 17&nbsp;heures, et parvenir à destination avant la
                date et l'heure limites de réception des offres, et ce à l'adresse suivante :<Br>Ville de sevran<Br>Direction
                de la commande publique<Br>Service marches publics<Br>2 rue Paul Langevin<Br>1<sup>er</sup> Etage -
                porte de Gauche<Br>93270 sevran<br>n.b. : Les plis Chronopost, Colissimo, etc., parvenant par
                l'intermédiaire d'un coursier doivent UNIQUEMENT être déposés à cette adresse.<Br>L'Accueil dans les
                locaux du service marchés publics étant restreint le lundi, en cas de difficulté, le secrétariat du
                service est joignable au 01 49 36 52 34 pendant les heures d'ouvertures citées précédemment.<Br><br>-
                soit envoyé par la poste par pli recommandé avec avis de réception, et parvenir à destination avant la
                date et l'heure limites de réception des offres, et ce à l'adresse suivante :<Br>Ville de sevran<Br>Direction
                de la commande publique<Br>Service marches publics<Br>28&nbsp;avenue du général leclerc<Br>93270
                sevran<br><br>- soit déposée sur la plateforme de dématérialisation de la ville à l'adresse suivante :
                http://ville-sevran.marcoweb.fr.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>11&nbsp;mars&nbsp;2015.</P><I>Adresse
                auprès de laquelle des renseignements d'ordre administratif et technique peuvent être obtenus&nbsp;:&nbsp;</I>Ville
            de Sevran<BR>Direction de la commande publique.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>service marchés
            publics,&nbsp;&nbsp;2 rue paul Langevin,&nbsp;&nbsp;93270&nbsp;Sevran,&nbsp;, tél.&nbsp;:&nbsp;01-49-36-52-34,&nbsp;,
            télécopieur&nbsp;:&nbsp;01-49-36-52-18,&nbsp;, courriel&nbsp;:&nbsp;grp_marches_publics@ville-sevran.fr,&nbsp;&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.ville-sevran.fr","TestLien","");'
                               class="lien">http://www.ville-sevran.fr</A>.<p><I>Instance chargée des procédures de
                recours&nbsp;:&nbsp;</I>Tribunal administratif de Montreuil&nbsp;7 rue catherine puig&nbsp;93100&nbsp;Montreuil,
                tél.&nbsp;:&nbsp;01-49-20-20-00, courriel&nbsp;:&nbsp;greffe.ta-montreuil@juadm.fr, télécopieur&nbsp;:&nbsp;01-49-20-20-99.
            </P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Tribunal
                administratif de Montreuil&nbsp;7 rue catherine puig&nbsp;93100&nbsp;Montreuil, tél.&nbsp;:&nbsp;01-49-20-20-00,
                courriel&nbsp;:&nbsp;greffe.ta-montreuil@juadm.fr, télécopieur&nbsp;:&nbsp;01-49-20-20-99.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2859772&noa=14-156699" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>