<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>34</B><!-- ED=20158216--><BR>Annonce No&nbsp;<B>14-166074</B><BR>Services
            <!--Etablissement public territorial--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>EID Méditerranée.<BR>&nbsp;Correspondant&nbsp;:&nbsp;mr
            le président de l'eid,&nbsp;165&nbsp;avenue Paul Rimbaud&nbsp;34184&nbsp;Montpellier Cedex 4, tél.&nbsp;:&nbsp;04-67-63-67-63,
            télécopieur&nbsp;:&nbsp;04-67-63-54-05, courriel&nbsp;:&nbsp;eid.med@eid-med.org&nbsp;adresse internet&nbsp;:
            <A HREF='javascript:BMP_openWindow("http://www.eid-med.org","TestLien","");' class="lien">http://www.eid-med.org</A>.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://marches-publics.herault.fr","TestLien","");' class="lien">https://marches-publics.herault.fr</A>.
            <p><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>mission de maîtrise d'&oelig;uvre pour la réhabilitation
                d'un hangar et de son système d'avitaillement sur l'aérodrome de Candillargues</B>.<BR><I>Catégorie de
                services&nbsp;:&nbsp;</I>12.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;71221000.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>dans le cadre de l'amélioration de ses
                procédures, l'eid Méditerranée a engagé une réflexion tendant à améliorer ses locaux sur divers sites de
                sa zone d'action. Le site de Candillargues a la vocation particulière des traitements aériens.<Br><Br>La
                base aéronautique de Candillargues dépend de l'agence EID de Montpellier-Fréjorgues. Elle permet de
                couvrir l'ensemble des zones d'intervention de l'eid pour les traitements aériens.<Br><Br>L'Opération de
                réhabilitation des locaux de Candillargues permettra de répondre à plusieurs objectifs :<Br>-Réorganiser
                et adapter le bâtiment pour permettre d'augmenter la réactivité, sur de grandes surfaces de traitement,
                par une amélioration de l'organisation des préparations et par une plus grande rapidité d'avitaillement
                des avions. Le recours à plusieurs prestataires à plusieurs types d'aéronefs accroît les exigences dans
                ce domaine et met en évidence la nécessité de doubler la chaîne de remplissage.<Br>-Traiter les déchets
                en retour de mission, en limitant l'utilisation des ressources naturelles, la pollution de l'eau et du
                sol, dans un souci de préservation de la qualité environnementale. La gestion des effluents n'est pas
                aujourd'hui satisfaisante : elle nécessite de nombreuses manipulations, génère un gaspillage d'eau (pas
                de recyclage), aucun système d'évacuation des eaux usées n'existant sur ce site entouré de zones
                naturelles protégées.<Br>-Adapter, dans le temps, les moyens de préparation ou de traitement, au regard
                de l'évolution des produits utilisés d'une part, automatiser et sécuriser le système d'approvisionnement
                d'autre part (Gtc).<Br>-Conserver les produits et envisager ou une plusieurs techniques pour que les
                températures des locaux phytosanitaires soient comprises toute l'année entre 5° C et 20-22° C<Br>-S'Offrir
                la possibilité de préparer des bouillies à partir de nouveaux procédés (glaçons, poudres, etc...) et
                disposer de l'infrastructure adéquate<BR><i>Quantités (fournitures et services), nature et étendue
                    (travaux)&nbsp;:&nbsp;</i>l'aérodrome dont dépend cette base est destiné à l'aviation légère et se
                situe au sud de la commune de Candillargues, aux portes de la "Petite Camargue", à 8 Km de l'aéroport de
                Montpellier Fréjorgues.<Br><Br>Descriptif sommaire du bâtiment existant<Br>-Hangar industriel à
                charpente métallique<Br>-4 travées de portiques de 15,00 de portée<Br>-5,00m entre files<Br>-Couverture
                bacs métalliques 2 pentes, panneaux translucides d'éclairement,<Br>-Hauteur à l'égout 4,50m 6,00 au
                faîtage<Br>-Murs périphériques maçonnés jusqu'à 2,50m bardage métal en partie supérieure<Br>-Portail
                automatique coté piste 14,00x3,50<Br>-Dallage sur terre-plein, sol industriel<Br>-Ensemble non isolé<Br>-Un
                parking stabilisé sans revêtement de surface<Br>-Une aire de nettoyage et d'avitaillement des appareils
                coté piste , bétonnée.<Br><Br>Ce bâtiment est divisé en plusieurs zones:<Br>Une partie hangar divisée en
                1 zone de préparation de produits (chaîne de préparation) et 1 zone d'entretien pour 1 avion, une
                réserve stocks produits, un bureau, des sanitaires, une réserve stocks (divers "produits" nécessaires à
                la préparation des mélanges de traitement).<Br><Br>Le titulaire devra étudier l'opportunité , pour la
                réalisation de cette opération, d'une réhabilitation de l'existant (extension) ou d'une démolition et
                construction neuve (phase diagnostic).<Br><Br>La part de l'enveloppe affectée aux travaux par le maître
                de l'ouvrage est fixée à 850.000 euros (H.T.).<BR><I>Refus des variantes</I>.<BR>La procédure d'achat du
                présent avis est couverte par l'accord sur les marchés publics de l'OMC : oui.<br/><BR>Prestations
                divisées en lots : non.<BR><I>Langues pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>à l'issue de l'analyse des candidatures, 3 candidats seront autorisés à
                remettre une offre.<BR><I>Référence professionnelle et capacité technique - références requises&nbsp;:&nbsp;</I>les
                candidats doivent remettre un dossier, comprenant :<Br>1) sous forme de tableau : références, uniquement
                sous forme d'une sélection de trois opérations récentes et jugées les plus représentatives au regard de
                la présente consultation sur des opérations réalisées ou en cours de réalisation (nature et/ou
                importance et/ou contexte similaires). Pour chacune des références fournies, le candidat devra
                mentionner la nature de l'ouvrage, une description sommaire de l'opération (photos), le maître de
                l'ouvrage et ses coordonnées, le montant prévisionnel des travaux et le montant réel des travaux au DGD,
                le pourcentage de rémunération définitif fixé en APD, les écarts d'exécution par rapport au planning
                prévisionnel (en + ou en -).<Br>Compte tenu de l'objet de la consultation, les candidats devront
                disposer de compétences en MOE industrielle et logistique (process, automatisme ainsi qu'en CVC, fluides
                et structures).<Br>2) dans 6 pochettes distinctes, les éléments permettant d'apprécier les 6 capacités
                du candidat définies ci-dessous, et notamment obligatoirement, les références personnelles (du
                titulaire, d'un cotraitant ou d'un sous-traitant) dans l'exercice de ces capacités et le ou les CV et
                qualifications de la ou des personnes affectées à la mission.<Br>Critères d'analyse des capacités : le
                maître de l'ouvrage prendra en compte les capacités financières (10%), techniques (20%) et
                professionnelles (70%).<Br>Les capacités professionnelles prendront en compte :<Br>- technique (20%)<Br>-
                économie de la construction (20%)<Br>- direction de chantier (30%)<br>- opc (10%)<Br>- gestion
                administrative et financière des marchés (10%)<Br>- capacités architecturales (10%).
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire à l'appui des candidatures par le candidat, au choix de l'acheteur
                public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire DC1, Lettre de candidature -
                Habilitation du mandataire par ses co-traitants (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC2, Déclaration du candidat individuel ou du membre du groupement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4).
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des candidatures&nbsp;:&nbsp;</I>7&nbsp;septembre&nbsp;2015,&nbsp;à&nbsp;12&nbsp;h&nbsp;30.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>3&nbsp;août&nbsp;2015.</P>
            <P><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de Montpellier&nbsp;6
                rue Pitot CS 99002&nbsp;34063&nbsp;Montpellier Cedex, tél.&nbsp;:&nbsp;04-67-54-81-00, courriel&nbsp;:&nbsp;greffe.ta-montpellier@juradm.fr,
                télécopieur&nbsp;:&nbsp;04-67-54-74-10.</P>
            <P><I>Organe chargé des procédures de médiation&nbsp;:&nbsp;</I>M.&nbsp;le président du comité consultatif
                interrégional de règlement amiable des litiges en matière de marchés publics&nbsp;préfecture de Région
                secrétariat général pour les affaires interrégionales 30 rue Paul Peytral&nbsp;13282&nbsp;Marseille
                Cedex 20.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Tribunal
                administratif de Montpellier&nbsp;6 rue Pitot CS 99002&nbsp;34063&nbsp;Montpellier Cedex, tél.&nbsp;:&nbsp;04-67-54-81-00,
                courriel&nbsp;:&nbsp;greffe.ta-montpellier@juradm.fr, télécopieur&nbsp;:&nbsp;04-67-54-74-10.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2869147&noa=14-166074" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>