<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>75</B><!-- ED=20158126--><BR>Annonce No&nbsp;<B>14-195177</B><BR>Travaux<!--Autre-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Ecole Normale Supérieure.<BR>&nbsp;Correspondant&nbsp;:&nbsp;pôle
            des marchés publics,&nbsp;46 rue d'ulm&nbsp;75230&nbsp;Paris Cedex 05, tél.&nbsp;:&nbsp;01-44-32-30-20,
            poste&nbsp;2120, courriel&nbsp;:&nbsp;marches.publics@ens.fr&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.ens.fr","TestLien","");'
                    class="lien">http://www.ens.fr</A>.<BR>Adresse internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.marches-publics.gouv.fr/?page=entreprise","TestLien","");'
                    class="lien">http://www.marches-publics.gouv.fr/?page=entreprise</A>.<BR>Le pouvoir adjudicateur
            n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s) Activité(s) du pouvoir
                adjudicateur : </i> Établissement public à caractère scientifique, culturel et professionnel.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>réaménagement d'une surface de lecture en deux salles de
                cours au rez-de-chaussée - département d'études Cognitives de l'école normale supérieure</B>.<BR><I>Type
                de marché de travaux&nbsp;:&nbsp;</I> exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45111100.<BR><I>Lieu
                d'ex&eacute;cution&nbsp;:&nbsp;</I>29 rue d'ulm,&nbsp;75230&nbsp;Paris Cedex 05.<BR><I>Code NUTS : </I>FR101.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>travaux de réaménagement d'une surface de
                lecture en deux salles de cours pour le Département d'études Cognitives de l'école normale supérieure -
                salle Prestige - rez-de chaussée de l'immeuble situé 29 rue d'ulm (Paris 5e) - la surface totale
                concernée est de 180 m2. La présente consultation est composée de 3 lots.<Br>Les travaux devraient
                débuter début juin 2015 pour 10 semaines<BR><i>Quantités (fournitures et services), nature et étendue
                    (travaux)&nbsp;:&nbsp;</i>cf. Le C.C.T.P pour chacun des lots. Les candidats joindront à leur offre
                un devis détaillé suivant l'articulation du C.C.T.P.<BR><I>Refus des variantes</I>.<BR>Prestations
                divisées en lots : oui.<BR>Possibilité de pr&eacute;senter une offre pour un ou plusieurs lots.<BR><I>Cautionnement
                    et garanties exigés&nbsp;:&nbsp;</I>une retenue de garantie de 5 % sera appliquée sur chaque
                acompte. Elle couvrira les réserves à la réception des travaux ainsi que celles qui seraient formulées
                pendant le délai de garantie. Elle peut être remplacée par une garantie à 1re demande. Les cautions
                personnelles et solidaires ne seront pas acceptées par le maître d'ouvrage.<BR><I>Modalités essentielles
                    de financement et de paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>caractéristique
                des prix : prix global forfaitaire ferme. <Br>Paiement des situtations de travaux sous 30 jours à
                compter de l'acceptation sans réserve des prestations par le maître d'ouvrage. <Br>Possibilité de
                versement d'une avance.<BR><I>L'exécution du marché est soumise à d'autres conditions particulières
                    : </I>non.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>cf. Article 6.1 du règlement de consultation.<BR><I>Situation juridique -
                références requises&nbsp;:&nbsp;</I>cf. Article 5 du règlement de consultation.<BR><I>Capacité
                économique et financière - références requises&nbsp;:&nbsp;</I>cf. Article 5 du règlement de
                consultation<BR><I>Référence professionnelle et capacité technique - références
                    requises&nbsp;:&nbsp;</I>cf. Article 5 du règlement de consultation.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire à l'appui des candidatures par le candidat, au choix de l'acheteur
                public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire DC1, Lettre de candidature -
                Habilitation du mandataire par ses co-traitants (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC2, Déclaration du candidat individuel ou du membre du groupement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;S'il
                s'appuie, pour présenter sa candidature, sur les capacités professionnelles, techniques et financières
                d'autres opérateurs économiques, le candidat produit les mêmes documents concernant cet opérateur
                économique que ceux qui lui sont exigés par l'acheteur public. Le candidat doit également apporter la
                preuve que chacun de ces opérateurs économiques mettra à sa disposition les moyens nécessaires, pendant
                toute la durée d'exécution du marché public ou de l'accord-cadre.<br/><br/><i>Documents à produire
                    obligatoirement par l'attributaire, avant la signature et la notification du marché public ou de
                    l'accord-cadre (formulaire NOTI1)&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Les
                pièces prévues aux articles D. 8222-5 ou D. 8222-7 et D. 8222-8 du code du travail;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                l'attributaire est établi en France, les attestations et certificats délivrés par les administrations et
                organismes compétents prouvant qu'il a satisfait à ses obligations fiscales et sociales ou un état
                annuel des certificats reçus.<br/><br/><i>Autres renseignements demandés&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres
                renseignements demandés : le candidat sélectionné, pour être définitivement titulaire du marché - devra
                justifier qu'il est titulaire des assurances obligatoires.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>20&nbsp;mai&nbsp;2015,&nbsp;à&nbsp;10&nbsp;heures.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>2015-026.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>renseignement(S) technique(s) : <Br>École Normale
                Supérieure <Br>Service du Patrimoine <Br>45, rue d'ulm <Br>75005 PARIS <Br>Melle Aurélie Le Clech <Br>Tél
                : 01 44 32 32 71 <Br>Email : aurelie.leclech@ens.fr<Br>Visite des lieux d'exécution du marché <Br>Seules
                seront acceptées les candidatures des entreprises ayant visité le site avant la remise des plis. <Br>2
                visites sont prévues : <Br>- le 12 mai 2015 à 14 h<Br>- le 13 mai 2015 à 14 h<Br>Contact : <Br>Melle
                Aurélie Le Clech<Br>Lieu de rendez-vous : École normale supérieure, Service du Patrimoine - escalier D,
                2e étage, 45, rue d'ulm (Paris 5e). <Br><Br>Le dossier de consultation des entreprises est disponible
                gratuitement : <Br>- aux adresses électroniques suivantes : <Br>1)
                https://www.marches-publics.gouv.fr/page=entreprise.EntrepriseHome.référence de la consultation
                2015-026) <BR>2)www.ens.fr - rubrique "marchés publics", sous-rubrique "Annonces des achats envisagés",
                "Travaux" http://www.ens.fr/page-accueil/informations-pratiques/marches-publics-156/.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>5&nbsp;mai&nbsp;2015.</P><I>Adresse
                auprès de laquelle des renseignements d'ordre administratif peuvent être obtenus&nbsp;:&nbsp;</I><BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>pôle
            des marchés publics,&nbsp;&nbsp;46, rue d'ulm,&nbsp;&nbsp;75230&nbsp;Paris Cedex 05,&nbsp;, tél.&nbsp;:&nbsp;01-44-32-30-20,&nbsp;,
            poste&nbsp;3120,&nbsp;, courriel&nbsp;:&nbsp;marches.publics@ens.fr,&nbsp;&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://www.marches-publics.gouv.fr","TestLien","");' class="lien">https://www.marches-publics.gouv.fr</A>.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de Paris&nbsp;7, rue
                de Jouy&nbsp;75181&nbsp;Paris Cedex 04, tél.&nbsp;:&nbsp;01-44-59-44-00, courriel&nbsp;:&nbsp;greffe.ta-paris@juradm.fr,
                télécopieur&nbsp;:&nbsp;01-44-59-46-46.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Tribunal
                administratif de Paris&nbsp;7, rue de Jouy&nbsp;75181&nbsp;Paris Cedex 04, tél.&nbsp;:&nbsp;01-44-59-44-00,
                courriel&nbsp;:&nbsp;greffe.ta-paris@juradm.fr, télécopieur&nbsp;:&nbsp;01-44-59-46-46.</P>
            <P><I>Renseignements relatifs aux lots&nbsp;:&nbsp;</I>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 1.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Démolition - gros &oelig;uvre - menuiserie&nbsp;:&nbsp;cf. Le CCTP pour
                                    le lot 1.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45111100<br><i>Objets
                                    supplémentaires&nbsp;:&nbsp;</i>45223220<BR>45421000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 2.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Electricité. Cf. Le CCTP pour le lot 2</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45311200.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 3.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Peinture et sol. Cf. Le CCTP pour le lot 3</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45442100<br><i>Objets
                                    supplémentaires&nbsp;:&nbsp;</i>45432111.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2898249&noa=14-195177" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>