<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>69</B>,&nbsp;38<!-- ED=20158146--><BR>Annonce No&nbsp;<B>14-128306</B><BR>Travaux
            <!--Etat--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>D.I.R. Centre Est S.R.E.I. de
            Chambéry.<BR>&nbsp;Correspondant&nbsp;:&nbsp;Mme&nbsp;la directrice interdépartementale des routes
            Centre-Est par délégation préfectorale n<sup>o</sup>2015083-0013 du 07/04/2015,&nbsp;la Villardière 228, rue
            Garibaldi&nbsp;69446&nbsp;Lyon Cedex 03, tél.&nbsp;:&nbsp;04-79-70-02-00, télécopieur&nbsp;:&nbsp;04-79-60-13-00,
            courriel&nbsp;:&nbsp;srei-chambery.dirce@developpement-durable.gouv.fr&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.dir.centre-est.developpement-durable.gouv.fr","TestLien","");'
                    class="lien">http://www.dir.centre-est.developpement-durable.gouv.fr</A>.<BR>Adresse internet du
            profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.marches-publics.gouv.fr","TestLien","");' class="lien">http://www.marches-publics.gouv.fr</A>.<BR>Le
            pouvoir adjudicateur n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>opération Gentiane - voies Rapides Urbaines de Grenoble -
                renforcement de la signalisation dynamique des vitesses</B>.<BR><I>Type de marché de travaux&nbsp;:&nbsp;</I>
                exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;34942000&nbsp;-&nbsp;AA02&nbsp;-&nbsp;IA01<br><i>Objets
                    supplémentaires&nbsp;:&nbsp;</i>45233294&nbsp;-&nbsp;IA28.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>voies
                Rapides Urbaines non concédées de Grenoble,&nbsp;38000&nbsp;Grenoble.<BR><I>Code NUTS : </I>FR714.
            <p>L'avis implique l'établissement d'un accord-cadre.<BR>Accord-cadre avec un seul opérateur.<BR>Durée de
                l'accord-cadre :&nbsp;4 an(s).<BR>Fréquence et valeur des marchés à attribuer :&nbsp;marché à bons de
                commande tel que défini à l'article 77 du code des marchés publics avec un minimum et un maximum en
                quantités.<Br><Br>La durée du marché est de 1an à compter de sa notification. Il comprend une période
                ferme et 3 périodes de reconductions selon la périodicité suivante :<Br><Br>Période ferme<Br>De la date
                de notification du marché jusqu'à la veille de la date anniversaire + 1 an<Br>Reconduction n<sup>o</sup>1<Br>De
                la date de notification du marché + 1 an jusqu'à la veille de la date anniversaire + 2 ans<Br>Reconduction
                n<sup>o</sup>2<Br>De la date de notification du marché + 2 ans jusqu'à la veille de la date anniversaire
                + 3 ans<Br>Reconduction n<sup>o</sup>3<Br>De la date de notification du marché + 3 ans jusqu'à la veille
                de la date anniversaire + 4 ans<Br><Br>La reconduction prévue au marché est tacite, le titulaire ne peut
                refuser la reconduction.<Br>Si le RPA ne souhaite pas reconduire le marché, il doit se prononcer dans un
                délai de 2 mois avant la fin de la période en cours.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>les travaux portent notamment sur :<Br>-
                la dépose de panneaux de police variables (Ppv) existants sur mat en accotement des VRU (14 PPV sur la
                Rn87 et 16 PPV sur A480), leurs vérifications et réinstallations en axe des voies de circulation sur des
                structures neuves accessibles de type portiques ou potences ainsi que leurs raccordements terminaux aux
                réseaux énergie et transmission de Gentiane;<Br>- l'aménagement d'arrêt et accès de service sur les
                différents sites PPV afin de faciliter et sécuriser les opérations de maintenance ultérieures ;<Br>- la
                reprise et la mise en conformité des dispositifs de retenue au droit des ouvrages<BR><i>Quantités
                    (fournitures et services), nature et étendue (travaux)&nbsp;:&nbsp;</i><Br>- quantité minimum: 5
                sites PPV à équiper <Br>- quantité maximum : 30 sites PPV à équiper<Br>Les variantes techniques sont
                autorisées et se limitent au choix de la structure PPHM à mettre en &oelig;uvre : soit une potence pour
                chaque sens de circulation ou soit un portique double commun aux deux sens de circulation lorsque 2
                sites PPV situés sur des sens de circulation différents peuvent être implantés et regroupés au niveau du
                même PR. Les 6 sites PPV qui peuvent être regroupés au même PR sont le Ppv28 et 29 sur la Rn87 ainsi que
                les Ppv9 et 10, Ppv11 et 12, PPV 14 et 15, Ppv16 et 17, Ppv19 et 20 sur l'a480.<BR><i>Options :
                    descriptions concernant les achats complémentaires&nbsp;:&nbsp;</i>possibilité de confier au
                titulaire du marché la réalisation de prestations similaires dans le cadre d'un ou de plusieurs marchés
                négociés en application de l'article 35-ii-6 du Code des Marchés Publics pour un montant total maximum
                égal à 100% du marché initial.<BR><i>Calendrier prévisionnel de l'exercice de ces
                    options&nbsp;:&nbsp;</i>48 mois à compter de la notification du marché.<BR><I>Des variantes
                    seront-elles prises en compte: </I>oui.La procédure d'achat du présent avis est couverte par
                l'accord sur les marchés publics de l'OMC : oui.<br/><BR>Prestations divisées en lots : non.<BR><I>Modalités
                    essentielles de financement et de paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>origine
                du financement : 100 % État - imputation budgétaire :centre finnancier 0203-cfdc-di69; domaine
                fonctionnel 0203-12-21;<Br>- une avance à hauteur de 15%, pourra être accordée au titulaire, aux
                co-traitants et sous-traitants, selon les conditions fixées dans le cahier des charges ;<Br>- les prix
                seront révisables ;<Br>- les comptes seront réglés mensuellement sous la forme d'acomptes et d'un solde
                ;<Br>- le délai global de paiement du règlement des comptes sera fixé à 30 jours.<BR><i>Forme juridique
                    que devra revêtir le groupement d'opérateurs économiques attributaire du marché&nbsp;:&nbsp;</i>le
                marché sera conclu :<Br>- soit avec une entreprise unique ;<Br>- soit avec des entreprises groupées
                solidaires, en cas de groupement le nom du mandataire sera précisé.<Br>Chaque candidat ne pourra
                remettre, pour la présente consultation, qu'une seule candidature en agissant en qualité soit de
                candidat individuel, soit de membre d'un groupement (article 51-vi du Cmp).<Br>Le candidat communiquera
                les pouvoirs de la personne habilitée pour engager le candidat, y compris en cas de groupement, le cas
                échéant, les habilitations nécessaires pour représenter les entreprises au stade de la passation du
                marché.<Br>Pour justifier des capacités professionnelles, techniques ou financières d'autres opérateurs
                économiques sur lesquels le candidat s'appuie pour présenter sa candidature (groupement ou
                sous-traitance) en application du III de l'aricle 45 du code des marches publics, il produit les mêmes
                documents concernant cet opérateur économique que ceux qui lui sont exigés par le pouvoir adjudicateur.
                En outre, pour justifier qu'il dispose des capacités de cet opérateur économique pour l'exécution du
                marché, le candidat produit un engagement écrit de ce dernier (voir article 112 du CMP pour la
                sous-traitance).<BR><I>L'exécution du marché est soumise à d'autres conditions particulières
                    : </I>non.<BR><I>Langues pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>les documents fournis par les candidats qui sont recevables en application
                des articles 43 et 44 du CMP.<Br>Les candidatures qui sont accompagnées des pièces mentionnées à
                l'article 45 du CMP et demandées au présent avis.<BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I><Br>Les
                candidats devront fournir : en application de l'article 44 du CMP : <Br>- la copie du ou des jugements
                prononcés si le candidat est en redressement judiciaire, <Br>- une déclaration sur l'honneur justifiant
                que le candidat n'entre dans aucun des cas mentionnés à l'article 43 du cmp,<br>- les autres documents
                et renseignements demandés par le pouvoir adjudicateur, dans les conditions fixées à l'article 45 du
                code des marchés publics.<Br>Pour y satisfaire, le candidat utilisera les formulaires suivants,
                téléchargeables sur le site internet du Ministère de l'économie.<Br>- dc1 (lettre de candidature et
                habilitation du mandataire par ses co-traitants) daté et signé en original,<Br>- dc2 (déclaration du
                candidat individuel ou du membre du groupement). <Br>En cas de groupement, le Dc2 doit être produit par
                chaque membre du groupement. .<BR><I>Capacité économique et financière - références requises&nbsp;:&nbsp;</I>-
                Une déclaration concernant le chiffre d'affaires global et le chiffre d'affaires concernant les travaux
                objets du présent marché, réalisés au cours des 3 derniers exercices disponibles ;<Br>- une déclaration
                appropriée de banques ou preuve d'une assurance pour les risques professionnels.<Br>Capacité économique
                et financière - références requises : chiffre d'affaire global de chacun des 3 derniers exercices
                disponibles supérieur à 1 500 000&nbsp;euros (H.T.)<Br>Le candidat peut prouver sa capacité par tout
                autre document considéré comme équivalent par le pouvoir adjudicateur<BR><I>Référence professionnelle et
                    capacité technique - références requises&nbsp;:&nbsp;</I>a - expérience:<Br>La présentation d'une
                liste des travaux en cours d'exécution ou exécutés au cours des 5 dernières années, appuyée
                d'attestations de bonne exécution pour les travaux les plus importants. Ces attestations indiquent le
                montant, l'époque et le lieu d'exécution des travaux et précisent s'ils ont été effectués selon les
                règles de l'art et menés régulièrement à bonne fin.<Br>B - capacités professionnelles :<Br>Indication
                des titres d'études et professionnels de l'opérateur économique et/ou des cadres de l'entreprise, et
                notamment des responsables de prestation de services ou de conduite des travaux de même nature que celle
                du marché.<Br>La preuve de ces capacités peut être apportée par tout moyen notamment par des certificats
                d'identité professionnelle ou des références de travaux attestant de la compétence de l'opérateur
                économique à réaliser la prestation pour laquelle il se porte candidat.<Br>C - capacités techniques
                :<Br>Une déclaration indiquant les effectifs moyens annuels du candidat et l'importance du personnel
                d'encadrement, pour chacune des 3 dernières années ;<Br>Une déclaration indiquant l'outillage, le
                matériel et l'équipement technique dont le candidat dispose pour la réalisation de marchés de même
                nature.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;le
                prix des prestations, analysé au vu du détail estimatif et du bordereau de prix unitaires et
                forfaitaires : 70 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;la valeur technique des prestations,
                appréciée au vu du mémoire justificatif et explicatif comportant la notice du soged (20%), le sopaq
                (20%) et la notice technique (60%) : 30 %.<BR>Une enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>6&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>180 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>dirce-srei-2015-rsdvgentiane.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>- les candidatures et les offres seront entièrement
                rédigées en langue française ainsi que tous les documents de présentation associés. Dans le cas où les
                candidatures, les offres et tous les documents associés seraient issus d'une traduction en français,
                celle-ci sera certifiée conforme à l'original par un traducteur assermenté ;<Br>- unité monétaire
                utilisée: l'euro ;<Br>- à titre indicatif, les travaux commenceront en octobre 2015 <Br>- le délai de la
                période de préparation et le délai d'exécution des travaux seront précisés sur chaque bon de
                commande.<Br><Br>Conditions d'obtention du cahier des charges et des documents complémentaires :<Br>- le
                mode de retrait du dossier de consultation ne conditionne pas le choix du mode de transmission de
                l'offre ;<Br>- les documents de la consultation sont disponibles par voie électronique sur la
                plate-forme de dématérialisation (http://www.marchespublics.gouv.fr) sous la référence publique
                "dirce-srei-2015-rsdvgentiane", après avoir installé les pré-requis techniques et avoir pris
                connaissance du manuel d'utilisation.<Br><Br>Modalités d'ouverture des plis:<Br>- personnes autorisées à
                assister à l'ouverture des plis : Non, l'ouverture des plis n'est pas publique.<Br><Br>Documents à
                produire dans tous les cas au stade de l'attribution du marché:<Br>- les pièces prévues aux articles
                D.8222-5 ou D.8222-7 et D8222-8 du Code du Travail qui seront demandées au candidat par le pouvoir
                adjudicateur au moyen du formulaire NOTI 1 (information au candidat retenu). Il est précisé aux
                candidats que l'état annuel des certificats reçus (formulaire NOTI 2) mentionné à la rubrique F1 du
                formulaire NOTI 1 est téléchargeable sur le site internet du Ministère de l'économie.<Br>Ces pièces
                seront transmises au Pouvoir Adjudicateur dans le délai fixé à la rubrique E du formulaire NOTI 1.<Br>Si
                l'offre a été présentée sous la forme d'un document numérisé ou sur un support physique électronique,
                l'attributaire pourra confirmer son offre en fin de procédure sous la forme d'un document papier
                signé.<Br>Pour l'application des articles D.8254-2 à 5 du Code du Travail, la liste nominative des
                salariés étrangers sera remise par l'attributaire avant la notification du marché.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>si plusieurs offres sont successivement
                transmises par un même candidat, seule est ouverte la dernière offre reçue, par voie électronique ou sur
                support matériel, par le maître de l'ouvrage dans le délai fixé pour la remise des offres. Les autres
                documents sont retournés au candidat sans être ouverts. S'il s'agit d'une offre électronique, elle est
                effacée des fichiers du pouvoir adjudicateur sans avoir été lue. <Br>Les candidats appliquent le même
                mode de transmission à l'ensemble des documents qu'ils adressent au pouvoir adjudicateur. <Br>La copie
                de sauvegarde, prévue à l'article 56 du CMP, doit être placée dans un pli scellé comportant la mention
                lisible "copie de sauvegarde".<Br>Le pouvoir adjudicateur privilégie la transmission des offres sous
                forme papier;<Br>Les offres transmises par échange électronique sur la plate-forme de dématérialisation
                (http://www.marches-publics.gouv.fr) sous la référence publique
                "entité-service-anneedepublication-nomdudossier", le seront suivant les modalités précisées dans le
                règlement de la consultation.<Br>Les candidatures ou les offres dans lequel un programme informatique
                malveillant serait détecté par le pouvoir adjudicateur ne feront pas l'objet d'une réparation, elles
                seront réputées n'avoir jamais été reçues.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>22&nbsp;mai&nbsp;2015.</P><I>Adresse à
                laquelle les offres/candidatures/projets/demandes de participation doivent être envoyés&nbsp;:&nbsp;</I>Dreal
            Rhône Alpes - Samif/ump.<BR>&nbsp;5, place Jules Ferry,&nbsp;&nbsp;69453&nbsp;Lyon Cedex 06,&nbsp;, tél.&nbsp;:&nbsp;04-26-28-60-00.<BR><I>Adresse
                auprès de laquelle des renseignements complémentaires peuvent être obtenus&nbsp;:&nbsp;</I>Direction
            Interdépartementale des Routes Centre-Est<BR>Service Régional d'Exploitation et d'Ingénierie (SREI) de
            Chambéry.<BR>&nbsp;l'adret, 1, rue des Cévennes,&nbsp;&nbsp;73026&nbsp;Chambéry Cedex,&nbsp;, tél.&nbsp;:&nbsp;04-79-70-02-00,&nbsp;,
            télécopieur&nbsp;:&nbsp;04-79-60-13-00.<p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Palais
                des juridictions administratives&nbsp;184, rue Du Guesclin&nbsp;69433&nbsp;Lyon Cedex 03, tél.&nbsp;:&nbsp;04-78-14-10-10,
                courriel&nbsp;:&nbsp;greffe.ta-lyon@juradm.fr, télécopieur&nbsp;:&nbsp;04-78-14-10-65.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2831379&noa=14-128306" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>