<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>974</B><!-- ED=20158149--><BR>Annonce No&nbsp;<B>14-186454</B><BR>Fournitures<!--Commune-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Commune du Tampon.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;le
            maire de la commune du Tampon,&nbsp; 256 rue Hubert Delisle&nbsp;97430&nbsp;Tampon, tél.&nbsp;:&nbsp;02-62-57-86-32,
            télécopieur&nbsp;:&nbsp;02-62-57-87-38, courriel&nbsp;:&nbsp;smp@mairie-tampon.fr&nbsp;adresse internet&nbsp;:
            <A HREF='javascript:BMP_openWindow("http://webmarche.adullact.org","TestLien","");' class="lien">http://webmarche.adullact.org</A>.<BR>Le
            pouvoir adjudicateur n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>fourniture et installation d'un nouveau poste de contrôle
                commande au monte-charge de Grand Bassin</B>.<BR><I>Type de marché de fournitures&nbsp;:&nbsp;</I>
                achat.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;31211100<br><i>Objets supplémentaires&nbsp;:&nbsp;</i>31124200.<BR><I>Lieu
                    de livraison&nbsp;:&nbsp;</I>commune du Tampon - bois Court,&nbsp;97430&nbsp;Le Tampon.<BR><I>Code
                    NUTS : </I>FR94.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>le présent marché concerne la fourniture
                et l'installation d'un nouveau poste de contrôle commande au monte-charge de Grand Bassin<BR><i>Quantités
                    (fournitures et services), nature et étendue (travaux)&nbsp;:&nbsp;</i>les prestations comprennent:
                <Br>-L'Étude et la réalisation du système de contrôle commande,<Br>-La fourniture rendue Réunion des
                équipements, capteurs et câblages,son installation, incluant le démontage et l'évacuation en déchetterie
                des anciens équipements<Br>-De la mise en service de l'équipement ainsi rénové, incluant une formation à
                son utilisation et sa maintenance courante....(voir Cctp) .<BR><I>Refus des variantes</I>.<BR>La
                procédure d'achat du présent avis est couverte par l'accord sur les marchés publics de l'OMC : non.<br/><BR>Prestations
                divisées en lots : non.<BR><i>Date&nbsp;prévisionnelle&nbsp;de&nbsp;début&nbsp;des&nbsp;prestations&nbsp;(fournitures/services)&nbsp;:&nbsp;</i>1.e.r&nbsp;juillet&nbsp;2015.<BR><I>Cautionnement
                    et garanties exigés&nbsp;:&nbsp;</I>garantie à première demande garantissant le remboursement à
                hauteur de 100% de l'avance (voir Ccap). Le dossier sera remis gratuitement sur simple demande.<BR><I>Modalités
                    essentielles de financement et de paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>le
                délai global de paiement est fixé à 30 jours. <Br>Les ressources mobilisées pour financer l'opération
                sont : Fonds communaux .<Br>Le prix est ferme.<BR><I>L'exécution du marché est soumise à d'autres
                    conditions particulières : </I>non.<BR><I>Langues pouvant être utilisées dans l'offre ou la
                    candidature&nbsp;:</I>&nbsp;français.<BR>ou langue étrangère si elles sont accompagnées d'une
                traduction en langue française<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>-
                La lettre de candidature (Dc1) remplie et signée (en originale) par la personne physique habilitée par
                le candidat ; <Br>- une déclaration du candidat (quel que soit le nombre de lots) (Dc2) comprenant les
                renseignements permettant d'évaluer les capacités financières du candidat avec en annexe les pièces
                demandées au point B / Références et/ ou qualifications de l'entreprise du RC. <Br>- si le candidat est
                redressement judiciaire, la copie du ou des jugements prononcés à cet effet. <Br>En cas de groupement :
                soit une seule lettre de candidature (Dc1), cette dernière étant alors signée (en originale) en sa
                partie H par chaque cotraitant ; soit une lettre de candidature (Dc1) par chacun des membres du
                groupement.<Br>- une déclaration du candidat(dc2) par cotraitant (quel que soit le nombre de lots)
                comprenant les renseignements permettant d'évaluer les capacités financières du candidat avec en annexe
                les pièces demandées à l'article 4.1. Du RC.<BR><I>Capacité économique et financière - références
                    requises&nbsp;:&nbsp;</I>- Le chiffre d'affaires global des trois dernières années ou des trois
                exercices clos (rubrique D1 du Dc2). <Br>- en ce qui concerne les entreprises nouvelles, la déclaration
                auprès du centre de formalités des entreprises<BR><I>Référence professionnelle et capacité technique -
                    références requises&nbsp;:&nbsp;</I>-Liste des principales fournitures effectuées ou services
                réalisés indiquant le montant et le destinataire public ou privé pour les marchés de même nature.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).<BR>Une enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>22&nbsp;juin&nbsp;2015,&nbsp;à&nbsp;16&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>SMP/NH/NB/MONTECHARGE/GB.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>- Modalités d'ouverture des offres : séance non
                publique, date et heure et lieu inconnus à ce jour.<Br>- instance chargée des procédures de recours :
                tribunal administratif de Saint- denis de la Réunion, 27, rue Félix Guyon, B.P.&nbsp;2024,
                97488 saint-denis Cedex, tél. : 02-62-92-43-60, courriel : greffe.ta-saintdenis@juradm.fr,
                télécopieur : 02-62-92-43-62.<Br>- délai de livraison et le delai d'installation : à l'initiative des
                candidats.<Br>- adresse auprès de laquelle des informations complémentaires, les documents peuvent être
                obtenus et les offres/demandes de participation doivent être envoyées : Service des marchés
                publics , 256 rue Hubert Delisle, 97430 Tampon, téléphone. : 02-62-57-86-32,
                télécopieur : 02-62-57-87-38. ; Courrier électronique (e-mail) : smp@mairie-tampon.fr ; Adresse Internet
                (Url) : http://webmarche.adullact.org.<Br>- adresse auprès de laquelle des informations techniques
                peuvent être obtenues : Mairie du Tampon<Br>256, Rue Hubert Delisle 97430 Le Tampon - direction du
                développement touristique et économique - Mme&nbsp;GEFFROTIN Sophie Tél : 0262 57 86 59 / 0692 67 28 35
                - courriel : sophie.geffrotin@mairie-tampon.fr .
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>les candidats peuvent retirer le dossier
                de consultation selon les deux modalités suivantes.<Br>1 / Sous format papier : En retirant ou en
                faisant retirer le dossier au service des marchés publics de la commune du Tampon, ou en faisant la
                demande écrite soit à l'adresse postale indiquée dans le présent avis, soit par télécopie au 0262 57 87
                38.<Br>2 / Sous format électronique : En téléchargeant le dossier de consultation à l'adresse Internet
                suivante https://webmarche.adullact.org cf.&nbsp;règlement de la consultation<Br>Les candidats peuvent
                remettre leurs offres sous forme papier ou sous forme électronique - voir règlement de la consultation.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>28&nbsp;mai&nbsp;2015.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2889526&noa=14-186454" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>