<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>10</B><!-- ED=20158076--><BR>Annonce No&nbsp;<B>14-175683</B><BR>Travaux<!--Commune-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Ville de Troyes.<BR>&nbsp;Correspondant&nbsp;:&nbsp;ville
            de Troyes ou son représentant,&nbsp;place Alexandre Israël B.P.&nbsp;767&nbsp;10026&nbsp;Troyes Cedex, tél.&nbsp;:&nbsp;(+33)3-25-42-68-47,
            télécopieur&nbsp;:&nbsp;(+33)3-25-42-34-47, courriel&nbsp;:&nbsp;commande.publique@ville-troyes.fr&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.ville-troyes.fr","TestLien","");'
                               class="lien">http://www.ville-troyes.fr</A>.<BR>Adresse internet du profil d'acheteur&nbsp;:
            <A HREF='javascript:BMP_openWindow("http://www.marches-aube.fr","TestLien","");' class="lien">http://www.marches-aube.fr</A>.<BR>Le
            pouvoir adjudicateur n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>restauration du campanile et d'une partie de la couverture
                du dôme du Théâtre de Champagne</B>.<BR><I>Type de marché de travaux&nbsp;:&nbsp;</I> exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;45261210<br><i>Objets supplémentaires&nbsp;:&nbsp;</i>45262100<BR>44316500<BR>45442100.<BR><I>Lieu
                    d'ex&eacute;cution&nbsp;:&nbsp;</I>théâtre de Champagne,&nbsp;10000&nbsp;Troyes.<BR><I>Code NUTS
                    : </I>FR212.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>la présente consultation concerne la
                restauration du campanile et d'une partie de la couverture du dôme du Théâtre de Champagne.<Br><Br>La
                consultation donnera lieu à un marché à tranches conformément à l'article 72 du Code des Marchés Publics
                définit comme suit :<Br>- tranche ferme : Restauration de la couverture du campanile<Br>- tranche
                conditionnelle : Restauration de la couverture zinc sur tasseaux du dôme et du désenfumage<Br><Br>Les
                travaux seront exécutés dans un délai global de 6 mois (tranche ferme + tranche conditionnelle), non
                compris 2 mois de période de préparation, à compter de la date prescrite par l'ordre de service de
                démarrage. La durée d'exécution propre à chacun des lots s'insère dans ce délai.<Br>L'Ordre de service
                vaut ordre de service de démarrage de chacun des lots aux dates prévues par le calendrier détaillé
                d'exécution.<Br><Br>La décision d'affermissement de la tranche conditionnelle pourra intervenir dès la
                notification de l'attribution du marché au titulaire ou au plus tard le 30 août 2015.<Br><br>a titre
                indicatif, la période de préparation débutera à partir de mai 2015 et les travaux seront exécutés à
                compter de juillet 2015<BR><i>Quantités (fournitures et services), nature et étendue (travaux)&nbsp;:&nbsp;</i>la
                visite du site est obligatoire et se fera uniquement sur rendez-vous pris auprès de Mme&nbsp;Claire
                Perron (Téléphone : 03.25.42.34.82 - mail : c.perron@ville-troyes.fr ). <Br>Le certificat de visite, à
                joindre obligatoirement à la remise de l'offre, sera établi et signé par le représentant de la Ville de
                Troyes présent sur les lieux de la visite.<Br>Toute entreprise candidate qui remettrait une offre sans
                avoir effectué au préalable la visite du site sera déclarée irrégulière et rejetée.<Br><br><Br>La
                Collectivité procédera à des négociations avec les candidats ayant présenté une offre recevable. Cette
                négociation portera sur l'aspect financier et/ou technique, et sera faite par tout moyen de
                communication écrit.<BR><i>Options : descriptions concernant les achats complémentaires&nbsp;:&nbsp;</i>pas
                d'option.<BR><I>Refus des variantes</I>.<BR>La procédure d'achat du présent avis est couverte par
                l'accord sur les marchés publics de l'OMC : non.<br/><BR>Prestations divisées en lots : oui.<BR>Possibilité
                de pr&eacute;senter une offre pour un ou plusieurs lots.<BR><i>Date&nbsp;prévisionnelle&nbsp;de&nbsp;commencement&nbsp;des&nbsp;travaux&nbsp;:&nbsp;</i>15&nbsp;juillet&nbsp;2015.<BR><I>Cautionnement
                    et garanties exigés&nbsp;:&nbsp;</I>une retenue de garantie de 5% pouvant être remplacée au gré du
                titulaire par une garantie à 1ère demande ou une caution personnelle et solidaire.<BR><I>Modalités
                    essentielles de financement et de paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>mode
                de règlement : virement bancaire (Mandat administratif)<Br>Avance : Il sera fait application de
                l'article 87 du Code des Marchés Publics<Br>Délai global de paiement : 30 jours<Br>Financement sur
                budget Ville de Troyes + Etat.<BR><I>L'exécution du marché est soumise à d'autres conditions
                    particulières : </I>non.<BR><I>Langues pouvant être utilisées dans l'offre ou la
                    candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>capacités du candidat à répondre aux besoins exprimés au vue des pièces
                exigées en candidature.<BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>se référer au
                bloc Justifications.<BR><I>Capacité économique et financière - références requises&nbsp;:&nbsp;</I>se
                référer au bloc Justifications<BR><I>Référence professionnelle et capacité technique - références
                    requises&nbsp;:&nbsp;</I>se référer au bloc Justifications.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire obligatoirement par le candidat, à l'appui de sa candidature&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Copie
                du ou des jugements prononcés, si le candidat est en redressement judiciaire.<br/><br/><i>Documents à
                    produire à l'appui des candidatures par le candidat, au choix de l'acheteur
                    public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration indiquant l'outillage,
                le matériel et l'équipement technique dont le candidat dispose pour la réalisation de marchés de même
                nature;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Certificats de qualifications professionnelles. La
                preuve de la capacité du candidat peut être apportée par tout moyen, notamment par des certificats
                d'identité professionnelle ou des références de travaux attestant de la compétence de l'opérateur
                économique à réaliser la prestation pour laquelle il se porte candidat : - lot 1 - echafaudage : <BR>Qualibat
                1412 et/ou 1413 Echafaudages fixes de technicité confirmée et supérieure<BR>- lot 2 - couverture : <BR>Qualibat
                3193 Couverture du patrimoine ancien et/ou 3194 Couverture des monuments historiques<BR>Qualibat 3131
                Revêtements en plomb de balcons et accessoires en plomb (technicité courante)<BR>Qualibat 5444
                Désenfumage<BR>- lot 3 - serrurerie : <BR>Qualibat, 4432 Ferronnerie<BR>- lot 4 - peinture : <BR>Qualibat
                6112 Peinture et ravalement Technicité confirmée<BR>En l'absence de Qualibat ou équivalent, la preuve de
                la capacité du candidat peut être apportée par tout moyen, notamment par des certificats d'identité
                professionnelle, des références travaux appuyées d'attestations de bonne exécution, justifiant de sa
                compétence à intervenir sur les travaux de restauration en matière de momuments historiques ou
                patrimoine ancien.;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire DC1, Lettre de candidature -
                Habilitation du mandataire par ses co-traitants (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC2, Déclaration du candidat individuel ou du membre du groupement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4).<br/><br/><i>Documents
                    à produire obligatoirement par l'attributaire, avant la signature et la notification du marché
                    public ou de l'accord-cadre (formulaire NOTI1)&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Les
                pièces prévues aux articles D. 8222-5 ou D. 8222-7 et D. 8222-8 du code du travail;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                l'attributaire est établi en France, les attestations et certificats délivrés par les administrations et
                organismes compétents prouvant qu'il a satisfait à ses obligations fiscales et sociales ou un état
                annuel des certificats reçus;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si l'attributaire est établi dans
                un Etat autre que la France, un certificat établi par les administrations et organismes du pays
                d'origine. Lorsqu'un tel certificat n'est pas délivré par le pays concerné, il peut être remplacé par
                une déclaration sous serment, ou dans les Etats où un tel serment n'existe pas, par une déclaration
                solennelle faite par l'intéressé devant l'autorité judiciaire ou administrative compétente, un notaire
                ou un organisme professionnel qualifié du pays;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si les documents
                fournis par le candidat ne sont pas établis en langue française, ils doivent être accompagnés d'une
                traduction en français, certifiée conforme à l'original par un traducteur assermenté.<br/><br/><i>Autres
                    renseignements demandés&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres
                renseignements demandés : copie du pouvoir conféré au signataire pour engager la personne qu'il
                représente;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres renseignements demandés : présentation d'une
                liste de travaux ou de certificats de capacités exécutés au cours des 3 dernières années, indiquant le
                montant, la date et le lieu d'exécution pour des travaux de restauration en matière de monuments
                historiques ou patrimoine ancien.<BR>tout cotraitant ou sous-traitant, doit OBLIGATOIREMENT être
                titulaire de la (des) qualification(s) exigée(s) ci-dessus pour la partie des travaux qu'il exécutera ou
                justifier de références travaux en matière de restauration de monuments historiques ou patrimoine
                ancien, sous peine de rendre la candidature irreguliere.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur
                technique, au vu du mémoire technique répondant au cadre de précision sur la valeur technique, notée sur
                10 (voir détail ci-dessous) : 60 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix des prestations, noté
                sur 10 (voir détail ci-dessous) : 40 %.<BR>Une enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>9&nbsp;avril&nbsp;2015,&nbsp;à&nbsp;18&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>14S0085.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>1) Renseignements administratifs<Br>Direction Commande
                Publique et Achats Transversaux<Br>Correspondant : Mme&nbsp;Christine NICASTRI<Br>Tél. : 03-25-42-68-47
                - télécopie : 03.25.42.34.47<Br>Mail : commande.publique@ville-troyes.fr<Br><Br>2) Renseignements
                techniques et visite des lieux<Br>Direction Patrimoine Bâti <Br>Correspondant : Mme&nbsp;Claire
                PERRON<Br>Tél. : 03-25-42-34-82 - télécopie : 03-25-42-33-65<Br>Mail : c.perron@ville-troyes.fr <Br><Br>3)
                Autres renseignements :<Br>Toute demande de renseignements complémentaires induisant un complément
                d'information et/ou précisions tant techniques qu'administratifs, devra impérativement respecter les
                conditions suivantes ci-après exposées.<Br>Toute demande ne peut se faire que par écrit :<Br>- à
                l'adresse suivante : commande.publique@ville-troyes.fr (en ce qui concerne les demandes adressées par
                courriel) ;<Br>- au numéro suivant : 03.25.42.34.47 (en ce qui concerne les demandes envoyées par
                télécopieur) ;<Br>- à l'adresse indiquée à l'article 5.5 du RC (en ce qui concerne les demandes
                adressées par lettre).<Br>Le pouvoir adjudicateur consignera l'ensemble des questions/demandes de
                renseignements complémentaires et une unique réponse sera communiquée à l'ensemble des candidats ayant
                téléchargé un dossier de consultation en version dématérialisée ou ayant émis une demande d'envoi postal
                de ce dernier.<Br><br>attention : Date limite de demande de renseignements complémentaires : au plus
                tard 6 jours avant la date limite de remise des offres.<Br><Br>Si la date limite fixée pour la remise
                des offres venait à être reportée, la disposition précédente est applicable en fonction de cette
                nouvelle date.<Br><br><br>detail des criteres de jugement des offres<br><Br>Pour le lot n<sup>o</sup> 1
                - echafaudage (pour la réalisation de la tranche ferme + conditionnelle)<Br>1) Valeur technique, notée
                sur 10, pondération 60%, jugée au regard du mémoire technique établit par le candidat,<Br>- organisation
                et méthodologie que le candidat envisage d'employer pour la réalisation de la prestation (5 points)<Br>-
                moyens matériels et humains que le candidat affectera au chantier (3 points)<Br>- type d'échafaudage mis
                en &oelig;uvre par rapport à la configuration des lieux (2 points)<Br><Br>2)Prix des prestations, noté
                sur 10, pondération 40%, jugé au regard du détail quantitatif estimatif.<Br><br><Br>Pour le lot
                n<sup>o</sup> 2 - couverture (pour la réalisation de la tranche ferme + conditionnelle)<Br>1) Valeur
                technique, notée sur 10, pondération 60%, jugée au regard du mémoire technique établit par le
                candidat,<Br>- organisation et méthodologie que le candidat envisage d'employer pour la réalisation de
                la prestation (5 points)<Br>- moyens matériels et humains que le candidat affectera au chantier (2
                points)<Br>- types de protection des trémies de désenfumage et sécurité des couvreurs, compris
                échafaudage de couverture, mises en &oelig;uvre pour la tranche conditionnelle (3 points)<Br><Br>2)Prix
                des prestations, noté sur 10, pondération 40%, jugé au regard du montant de la décomposition du prix
                global et forfaitaire.<Br><br><Br>Pour les lots n<sup>o</sup> 3 - serrurerie et n<sup>o</sup> 4 -
                peinture<Br>1) Valeur technique, notée sur 10, pondération 60%, jugée au regard du mémoire technique
                établit par le candidat,<Br>- organisation et méthodologie que le candidat envisage d'employer pour la
                réalisation de la prestation (6 points)<Br>- moyens matériels et humains que le candidat affectera au
                chantier (4 points)<Br><Br>2) Prix des prestations, noté sur 10, pondération 40%, jugé au regard du
                montant de la décomposition du prix global et forfaitaire.
            <p><I>Conditions et mode de paiement pour obtenir les documents contractuels et additionnels</I> :<BR>Dossier
                gratuit <Br>Adresse de retrait du dossier version papier : <Br>(Demande préalable du dossier par
                télécopieur ou par mail souhaitée) <Br><Br>Mairie de Troyes <Br>Direction Commande Publique et Achats
                Transversaux <Br>Place Alexandre Israël <Br>Porte F ou G 4e étage <Br>B.P.&nbsp;767 <Br>10026 Troyes
                Cedex <Br>Tél : 03-25-42-68-47 <Br>Télécopieur : 03-25-42-34-47 <Br>Adresse mail :
                commande.publique@ville-troyes.fr. <Br><Br>Le dossier de consultation est disponible en version
                électronique par téléchargement via la plateforme suivante : <Br>Url :http://www.ville-troyes.fr
                rubrique " marchés publics " ou http://www.marches-aube.fr.<BR><I>Date limite d'obtention</I> : 9&nbsp;avril&nbsp;2015,
                à 18&nbsp;heures.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>chaque candidat pourra transmettre sa
                candidature et son offre soit : <Br>- sur support papier, en respectant impérativement les règles
                ci-après posées : <Br>Les candidats transmettront leur proposition sous pli cacheté portant la mention
                suivante : <Br>"Restauration du campanile et d'une partie de la couverture du dôme du Théâtre de
                Champagne - lot n<sup>o</sup> - ne pas ouvrir " <Br><Br>L'Enveloppe contient les justificatifs de
                candidature et les éléments relatifs à l'offre visés au sein du présent Règlement de la Consultation.
                <Br>Cette enveloppe devra être remise contre récépissé ou envoyée par la poste par pli recommandé avec
                avis de réception postal, à l'adresse ci-dessous : <Br><Br>Mairie de Troyes <Br>Direction Commande
                Publique et Achats Transversaux <Br>Porte F ou G - 4e étage <Br>Place Alexandre Israël <Br>B.P.&nbsp;767
                <Br>10026 Troyes Cedex <Br>Horaires d'ouverture au public : 8h30 / 12 heures - 13h30 / 18 heures
                <Br><Br>Les dossiers qui parviendraient après la date et l'heure limites fixées au présent règlement de
                la consultation ainsi que ceux parvenus sous enveloppe non cachetée ne seront pas retenus et seront
                renvoyés à leur auteur. <br><br>- par voie électronique, en respectant impérativement les règles décrite
                dans l'annexe à la dématérialisation. <Br>Le pouvoir adjudicateur accepte la transmission des offres des
                candidats par voie électronique à l'adresse suivante : http://www.marche-aube.fr.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>16&nbsp;mars&nbsp;2015.</P>
            <P><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal Administratif de
                Châlons-En-Champagne, 25 rue du Lycée, 51000 Châlons-En-Champagne - Téléphone : 03.26.66.86.87 -
                Télécopie : 03.26.21.81.87.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Direction
                Commande Publique et Achats Transversaux - place Alexandre Israel, B.P.&nbsp;767, 10026 Troyes - tél. :
                (+33) 3-25-42-68-45 - courriel : commande.publique@ville-troyes.fr - télécopieur : (+33) 3-25-42-34-47 -
                adresse internet : http://ville-troyes.fr.</P>
            <P><I>Renseignements relatifs aux lots&nbsp;:&nbsp;</I>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 1.</span> - echafaudage.</td>
                            </tr>
                            <tr>
                                <td class="txt">Fourniture et pose d'un échafaudage</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45262100.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 2.</span> - couverture.</td>
                            </tr>
                            <tr>
                                <td class="txt">Travaux de couverture</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45261210.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 3.</span> - serrurerie.</td>
                            </tr>
                            <tr>
                                <td class="txt">Travaux de restauration des garde-corps de la couverture du dôme du
                                    théâtre de Champagne et des ventelles du tambour du campanile
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;44316500.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 4.</span> - peinture.</td>
                            </tr>
                            <tr>
                                <td class="txt">Travaux de peinture</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45442100.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2878756&noa=14-175683" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>