<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>42</B>,&nbsp;69<!-- ED=20158155--><BR>Annonce No&nbsp;<B>14-181017</B><BR>Travaux
            <!--Etat--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>DIR Centre-Est.<BR>&nbsp;Correspondant&nbsp;:&nbsp;Mme&nbsp;la
            Directrice Interdépartementale des Routes Centre Est par délégation de M.&nbsp;le préfet, coordonnateur des
            itinéraires routiers (arrêté préfectoral n<sup>o</sup>2014086-0004 du 01/04/2014),&nbsp;228 rue Garibaldi&nbsp;69446&nbsp;Lyon
            Cedex, courriel&nbsp;:&nbsp;SIR-lyon.DIRCE@developpement-durable.gouv.fr&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.enroute.centre-est.developpement-durable.gouv.fr","TestLien","");'
                    class="lien">http://www.enroute.centre-est.developpement-durable.gouv.fr</A>.<BR>Adresse internet du
            profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://www.boamp.fr/demat/consultation/CONS-14-181017","TestLien","");'
                    class="lien">https://www.boamp.fr/demat/consultation/CONS-14-181017</A>.<BR>Le pouvoir adjudicateur
            n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<p><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>rn88
                - mur Cotille 4 (mur B) au Chambon Feugerolles - aménagement paysager en arrière du mur</B>.<BR><I>Type
                de marché de travaux&nbsp;:&nbsp;</I> exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45112710.<BR><I>Lieu
                d'ex&eacute;cution&nbsp;:&nbsp;</I>rue Pasteur,&nbsp;42500&nbsp;Le Chambon Feugerolles.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><br><i>Quantités (fournitures et services),
                nature et étendue (travaux)&nbsp;:&nbsp;</i>engazonnement: 2000 mètres carrés<Br>Plantation de 15 arbres<Br>Création
                d'une haie de 80m de long<Br>Plantation d'environ 3000 arbustes et plantes couvre-sol sur 740m²<Br>Démolition
                de parking: 85 mètres carrés<Br>Gnt 0/20: 20m3 ; sable: 5m3.<BR><I>Refus des variantes</I>.<BR>La
                procédure d'achat du présent avis est couverte par l'accord sur les marchés publics de l'OMC : non.<br/>Le
                présent avis correspond à un avis périodique indicatif constituant une mise en concurrence.<br/><BR>Prestations
                divisées en lots : non.<BR><i>Date&nbsp;prévisionnelle&nbsp;de&nbsp;commencement&nbsp;des&nbsp;travaux&nbsp;:&nbsp;</i>15&nbsp;octobre&nbsp;2015.<BR><I>Modalités
                    essentielles de financement et de paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>*
                Origine du financement : État: 100% ;<Br>* Une avance sera accordée au titulaire selon les conditions
                fixées dans le cahier des charges ;<Br>* Les prix seront fermes actualisables;<Br>* Les comptes seront
                réglés mensuellement sous la forme d'acomptes et d'un solde ;<Br>* Le délai global de paiement du
                règlement des comptes sera fixé à 30 jours ;<Br>* Une avance sera accordée au titulaire selon les
                conditions fixées dans le cahier des charges ;.<BR><I>L'exécution du marché est soumise à d'autres
                    conditions particulières : </I>* Il sera fait application de l'article 53 IV 1° du Code des Marchés
                Publics ;.<BR><I>Langues pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>*
                Les documents et renseignements qui rendent recevables les candidatures en application de l'article 44
                du Code des Marchés Publics (Cmp), à cet effet le candidat pourra utiliser les formulaires Dc1 et Dc2
                téléchargeables sur le site du Ministère de l'économie;<Br>* La forme juridique du candidat ;<Br>* En
                cas de groupement, sa nature et le nom du mandataire ;<Br>* Une déclaration sur l'honneur justifiant que
                le candidat n'entre dans aucun des cas mentionnés à l'article 43 du<Br>Code de Marchés Publics;<Br>*Les
                autres documents et renseignements demandés par le pouvoir adjudicateur, dans les conditions fixées à
                l'article 45 du code des marchés publics, sont précisés dans les paragraphes "Capacités économiques
                et<Br>Financières" et "Références professionnelles et capacité techniques" du présent avis;<Br>* Les
                pouvoirs de la personne habilitée pour engager le candidat y compris, en cas de groupement, le cas
                échéant, les habilitations nécessaires pour représenter les entreprises au stade de la passation du
                marché.<BR><I>Capacité économique et financière - références requises&nbsp;:&nbsp;</I>* Une déclaration
                concernant le chiffre d'affaires global et le chiffre d'affaires concernant les travaux objet du marché,
                réalisés au cours des 3 derniers exercices disponibles ;<Br>Le candidat peut prouver sa capacité par
                tout autre document considéré comme équivalent par le pouvoir adjudicateur<BR><I>Référence
                    professionnelle et capacité technique - références requises&nbsp;:&nbsp;</I>a - expérience :<Br>La
                présentation d'une liste des travaux en cours d'exécution ou exécutés au cours des 5 dernières années,
                appuyée d'attestations de bonne exécution pour les travaux les plus importants. Ces attestations
                indiquent le montant, l'époque et le lieu d'exécution des travaux et précisent s'ils ont été effectués
                selon les règles de l'art et menés régulièrement à bonne fin.<Br><br>b - capacités professionnelles
                :<Br>* des certificats d'identité professionnelle ou des références de travaux attestant de la
                compétence de l'opérateur économique à réaliser la prestation pour laquelle il se porte candidat;<Br>*
                des certificats de qualifications professionnelles : Qualipaysage ou équivalent<Br><Br>La preuve de ces
                capacités peut être apportée par tout moyen.<Br><br>c - capacités techniques :<Br>* Une déclaration
                indiquant les effectifs moyens annuels du candidat et l'importance du personnel d'encadrement, pour
                chacune des 3 dernières années ;<Br>* Une déclaration indiquant l'outillage, le matériel et l'équipement
                technique dont le candidat dispose pour la réalisation de marchés de même nature ;<Br>Pour justifier de
                ses capacités professionnelles, techniques et financières, le candidat, même s'il s'agit d'un
                groupement, peut demander que soient également prises en compte les capacités professionnelles,
                techniques et financières d'autres opérateurs économiques quelle que soit la nature juridique des liens
                existant entre ces opérateurs et lui (notamment en cas de sous-traitance). En outre, pour justifier
                qu'il dispose des capacités des opérateurs économiques pour l'exécution du marché, le candidat produit
                un engagement écrit de ceux-ci.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;la
                valeur technique : 20 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;le prix des prestations : 80 %.
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>3&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>270 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>dirce-poa2015-rn88-cotille4-ap.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>* Les candidatures et les offres seront entièrement
                rédigées en langue française ainsi que tous les documents de présentation associés. Dans le cas où les
                candidatures, les offres et tous les documents associés seraient issus d'une traduction en français,
                celle-ci sera certifiée conforme à l'original par un traducteur assermenté ;<Br>* le RPA prévoit une
                négociation dans le cadre de ce marché,<Br>*La période de préparation est de 1 mois à compter de la date
                fixée par l'ordre de service qui prescrira de la<Br>Commencer,<Br>* Unité monétaire utilisée, l'euro
                ;<Br>* Les candidatures et les offres qui ne peuvent être admises en application des dispositions du I
                de l'article 52 du CMP sont éliminées par le rpa ;<Br>* à titre indicatif, les travaux commenceront en
                octobre 2015 pour une durée de 2 mois pour la tranche ferme, 12 mois pour la 1ère tranche
                conditionnelle, et 12 mois pour la 2<sup>e</sup> tranche conditionnelle;<Br>* Il ne s'agit pas d'un
                marché a caractère périodique ;<Br>* Le marché ne s'inscrit pas dans un projet/programme financé par des
                fonds communautaires ;<Br>Modalités d'ouverture des offres<Br>* Personnes autorisées à assister à
                l'ouverture des offres : Non<Br>* l'ouverture des plis n'est pas publique.<Br>Conditions d'obtention du
                cahier des charges et des documents complémentaires :<Br>* Le mode de retrait du dossier de consultation
                ne conditionne pas le choix du mode de transmission de l'offre ;<Br>* Les documents de la consultation
                sont disponibles par voie électronique sur la plate-forme de dématérialisation<BR>(http://www.marches-publics.gouv.fr)
                sous la référence publique "dirce-poa2015-rn88-cotille4-ap", après avoir installé les pré-requis
                techniques et avoir pris connaissance du manuel d'utilisation ;<Br>Conditions de remise des offres :<Br>*
                Si plusieurs offres sont successivement transmises par un même candidat, seule est ouverte la dernière
                offre<Br>Reçue, par voie électronique ou sur support matériel, par le maître de l'ouvrage dans le délai
                fixé pour la remise des<Br>Offres. Les autres documents sont retournés au candidat sans être ouverts
                ;<Br>* Si plusieurs offres électroniques sont successivement transmises par un même candidat, seule est
                ouverte la<Br>Dernière offre reçue, l'offre rejetée est effacée des fichiers du pouvoir adjudicateur
                sans avoir été lue. Le candidat en est informé.<Br>*Les candidats appliquent le même mode de
                transmission à l'ensemble des documents qu'ils adressent au pouvoir adjudicateur,<Br>* La copie de
                sauvegarde, prévue à l'article 56 du CMP, doit être placée dans un pli scellé comportant la mention<Br>Lisible
                "copie de sauvegarde" ;<Br>* Les candidatures ou les offres dans lesquelles un programme informatique
                malveillant serait détecté par le pouvoir adjudicateur ne feront pas l'objet d'une réparation, le cas
                échéant, la copie de sauvegarde sera ouverte. Si cette dernière comportait elle aussi un programme
                informatique malveillant, les candidatures ou les offres seront réputées n'avoir jamais été reçues ;<Br>*
                Le mode de transmission des candidatures et des offres retenu est l'échange électronique sur la
                plate-forme de dématérialisation. Cependant le pouvoir adjudicateur acceptera les plis transmis sous
                format papier ou sur un support physique électronique.<Br>*Les offres transmises par échange
                électronique sur la plat-forme de dématérialisation (http://www.marchespublics.gouv.fr) sous la
                référence publique"dirce-poa2015-rn88-cotille4-ap" le seront suivant les modalités précisées dans le
                règlement de la consultation.<Br>Documents à produire dans tous les cas au stade de l'attribution du
                marché :<Br>Les pièces prévues aux articles D8222-5 ou D8222-7et D8222-8 du Code du Travail qui seront
                demandées au<Br>Candidat par le pouvoir adjudicateur au moyen du formulaire NOTI 1 (Information au
                candidat retenu). Il est précisé aux candidats que l'état annuel des certificats reçus (formulaire NOTI
                2) mentionné à la rubrique F1 du NOTI 1 est téléchargeable sur le site internet du Ministère de
                l'économie, accès direct, rubriques réglementation des marchés publics, marchés publics, les
                formulaires, les formulaires non obligatoires d'aide à la passation et l'exécution.<Br>Ces pièces seront
                transmises au pouvoir adjudicateur dans le délai fixé à la rubrique E du formulaire NOTI 1.<Br>Si
                l'offre a été présentée sous la forme d'un document numérisé ou sur un support physique
                électronique,<Br>L'Attributaire confirmera son offre en fin de procédure sous la forme d'un document
                papier signé.<Br>Pour l'application des articles D.8254-2 à 5 du Code du Travail, la liste nominative
                des salariés étrangers sera<Br>Remise par l'attributaire avant la notification du marché.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>3&nbsp;juin&nbsp;2015.</P>
            <P><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Palais des Juridictions administratives&nbsp;184
                rue Duguesclin&nbsp;69433&nbsp;Lyon, tél.&nbsp;:&nbsp;04-78-14-10-10, courriel&nbsp;:&nbsp;greffe.talyon@juradm.fr.
            </P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Greffe
                du tribunal administratif de Lyon, courriel&nbsp;:&nbsp;greffe.ta-lyon@juradm.fr.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2884089&noa=14-181017" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>