<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>62</B><!-- ED=20158097--><BR>Annonce No&nbsp;<B>14-132415</B><BR>Travaux<!--Commune-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Commune d'Hénin-Beaumont.<BR>&nbsp;Correspondant&nbsp;:&nbsp;m
            le maire,&nbsp;1 Place Jean Jaurès CS 90 109&nbsp;62252&nbsp;Hénin Beaumont, courriel&nbsp;:&nbsp;mpub@mairie-heninbeaumont.fr&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.mairie-heninbeaumont.fr/","TestLien","");'
                               class="lien">http://www.mairie-heninbeaumont.fr/</A>.<BR>Adresse internet du profil
            d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://http//www.mairie-heninbeaumont/Services-en-ligne/marches-publics","TestLien","");'
                    class="lien">http://http//www.mairie-heninbeaumont/Services-en-ligne/marches-publics</A>.<p><I>Objet
                du march&eacute;&nbsp;:&nbsp;</I><B>travaux de restauration de l'enveloppe extérieure de l'église
                Saint-Martin à Hénin-Beaumont</B>.<BR><I>Type de marché de travaux&nbsp;:&nbsp;</I> exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;45000000<br><i>Objets supplémentaires&nbsp;:&nbsp;</i>45212360<BR>45212361<BR>45212314.<BR><I>Lieu
                    d'ex&eacute;cution&nbsp;:&nbsp;</I>hénin-Beaumont,&nbsp;62252&nbsp;Hénin Beaumont.<BR><I>Code NUTS
                    : </I>FR302.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><br><i>Options : descriptions concernant les
                achats complémentaires&nbsp;:&nbsp;</i>option : Emmarchement Béton<Br>Pour le lot 2 - béton armé.<BR><I>Refus
                des variantes</I>.<BR>Prestations divisées en lots : oui.<BR>Possibilité de pr&eacute;senter une offre
                pour un ou plusieurs lots.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>15 mois à compter de la notification du
                marché.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>si le candidat est en redressement judiciaire ou fait l'objet d'une
                procédure équivalente régie par un droit étranger, la copie du ou des jugements prononcés à cet effet
                ;<Br><Br>Au titre des capacités professionnelles, techniques et financières des candidats, il est
                demandé aux candidats de fournir les renseignements suivants (Arrêté du 28 août 2006 fixant la liste des
                renseignements et des documents pouvant être demandés aux candidats aux marchés passés par les pouvoirs
                adjudicateurs) : <Br>1.Descriptif de la société : Nom, adresse, personne à contacter et responsable du
                dossier, n<sup>o</sup> de téléphone, n<sup>o</sup> de télécopie, adresse mél ;<Br>2.Déclaration
                concernant le chiffre d'affaires global et le chiffre d'affaires concernant les prestations objet du
                marché, réalisés au cours des trois derniers exercices disponibles ;<Br>3.Déclaration indiquant les
                effectifs moyens annuels du candidat et l'importance du personnel d'encadrement pour chacune des trois
                dernières années ;<Br><Br>4.Présentation d'une liste de travaux effectués au cours des cinq dernières
                années, appuyée d'attestations de bonne exécution, indiquant le montant, la date et le destinataire
                public ou privé. <Br>5.Déclaration indiquant l'outillage, le matériel et l'équipement technique dont le
                candidat dispose pour la réalisation de marchés de même nature ;<Br>6.Certificats de qualifications
                professionnelles. La preuve de la capacité du candidat peut être apportée par tout moyen.<BR><I>Situation
                    juridique - références requises&nbsp;:&nbsp;</I>chaque candidat doit respecter les conditions
                d'accès à la commande publique définies aux articles 43 et 44 du code des marchés publics.<BR><I>Référence
                    professionnelle et capacité technique - références requises&nbsp;:&nbsp;</I>qualification des
                Entreprises :<Br>Qualification et certification des entreprises de construction suivant nomenclature
                Qualibat (Réf nf x 50-091)<Br>Lot 1 : Echafaudages (Réf 1413 ou références équivalentes)<Br>Travaux de
                maçonnerie (Réf 2194 ou références équivalentes)<Br>Travaux de menuiserie interieure bois (Réf 4323 ou
                références équivalentes)<Br>Lot 2 : Travaux de réparation d'ouvrages en béton. (références équivalentes)<Br>Lot
                3 : Travaux de couverture. (Réf 3194 ou références équivalentes)<Br>Lot 4 : Menuiseries ext Acier (Réf
                3532 ou références équivalentes)<Br>Ferronnerie d'art (Réf 4493 ou références équivalentes)<Br>Lot 5 :
                Vitraux (Références équivalentes).
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire à l'appui des candidatures par le candidat, au choix de l'acheteur
                public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire DC1, Lettre de candidature -
                Habilitation du mandataire par ses co-traitants (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC2, Déclaration du candidat individuel ou du membre du groupement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4).<br/><br/><i>Documents
                    à produire obligatoirement par l'attributaire, avant la signature et la notification du marché
                    public ou de l'accord-cadre (formulaire NOTI1)&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Les
                pièces prévues aux articles D. 8222-5 ou D. 8222-7 et D. 8222-8 du code du travail;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                l'attributaire est établi en France, les attestations et certificats délivrés par les administrations et
                organismes compétents prouvant qu'il a satisfait à ses obligations fiscales et sociales ou un état
                annuel des certificats reçus;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si l'attributaire est établi dans
                un Etat autre que la France, un certificat établi par les administrations et organismes du pays
                d'origine. Lorsqu'un tel certificat n'est pas délivré par le pays concerné, il peut être remplacé par
                une déclaration sous serment, ou dans les Etats où un tel serment n'existe pas, par une déclaration
                solennelle faite par l'intéressé devant l'autorité judiciaire ou administrative compétente, un notaire
                ou un organisme professionnel qualifié du pays;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si les documents
                fournis par le candidat ne sont pas établis en langue française, ils doivent être accompagnés d'une
                traduction en français, certifiée conforme à l'original par un traducteur assermenté.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;mémoire
                technique : 50 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix : 40 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;planning
                détaillé : 10 %.
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>3&nbsp;juin&nbsp;2015,&nbsp;à&nbsp;11&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>210 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>15TRA003.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>une visite obligatoire (attestation à joindre au
                dossier de consultation) du lieu des travaux sera prévue avec les candidats éventuels le LUNDI 11 MAI
                2015 A 14 HEURES sur place. (voir le complément d'informations dans le règlement de la consultation).
            <p><I>Conditions et mode de paiement pour obtenir les documents contractuels et additionnels</I> :<BR>La
                transmission du dossier de consultation des entreprises est gratuite et la demande devra être faite soit
                : <Br>- par télécopie au 03.91.83.01.94 <Br>- par courrier à : Mairie d'hénin Beaumont - service des
                Marchés Publics - 1 Place Jean Jaurès CS 90109 - 62252 Hénin Beaumont Cedex <Br>- par courriel à :
                mpub@mairie-heninbeaumont.fr <Br><Br>Le dossier de consultation des entreprises est également
                téléchargeable dans sa totalité sur notre site de dématérialisation ci-après : <BR>http://www.mairie-heninbeaumont.fr/Services-en-ligne/Marches-publics.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>les plis seront adressés : <Br>- soit par
                dépôt direct contre récépissé, au service des marchés publics, 174 rue pasteur 62110 Hénin Beaumont.
                <Br>- soit par envoi recommandé avec demande de réception postal à M. le maire d'hénin Beaumont, 1 place
                Jean Jaurès, CS 90109 62252 Hénin Beaumont Cedex <Br><Br>Une réponse par offre dématérialisée est
                acceptée par l'intermédiaire de notre site à l'adresse : <BR>http://www.mairie-heninbeaumont.fr/Services-en-ligne/Marches-publics.
                <Br><Br>Dans tous les cas, il devra être précisé sur l'enveloppe la mention suivante de façon apparente
                : <Br>Procédure adaptée - travaux de restauration de l'enveloppe extérieure de l'église Saint-Martin à
                Hénin-Beaumont- lot(S) ___ - ne pas ouvrir - ainsi que le cachet du candidat.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>3&nbsp;avril&nbsp;2015.</P><I>Adresse
                auprès de laquelle des renseignements d'ordre technique peuvent être obtenus&nbsp;:&nbsp;</I>Agence T
            KINT.<BR>&nbsp;architecte du patrimoine 50 rue princesse,&nbsp;&nbsp;59000&nbsp;Lille,&nbsp;, tél.&nbsp;:&nbsp;03-28-36-24-08,&nbsp;,
            télécopieur&nbsp;:&nbsp;03-28-36-24-07,&nbsp;, courriel&nbsp;:&nbsp;agence.t.kint@free.fr.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre administratif peuvent être obtenus&nbsp;:&nbsp;</I>Mairie
            d'Hénin-Beaumont.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>service Marchés Publics,&nbsp;&nbsp;174 Rue
            Pasteur,&nbsp;&nbsp;62110&nbsp;Hénin Beaumont,&nbsp;, tél.&nbsp;:&nbsp;03-91-83-01-80,&nbsp;, courriel&nbsp;:&nbsp;mpub@mairie-heninbeaumont.fr.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal Administratif&nbsp;rue Jacquemars
                Giélée&nbsp;59800&nbsp;Lille, tél.&nbsp;:&nbsp;03-20-63-13-00, télécopieur&nbsp;:&nbsp;03-20-63-17-47.
            </P><I>Précisions concernant le(s) délai(s) d'introduction des recours : </I>en vue de contester la validité
            de la procédure ou celle du contrat ou des actes détachables du contrat : - référé précontractuel sur le
            fondement de l'article L.551-1 du code de justice administrative à compter de la publication du présent avis
            jusqu'à la signature du contrat. - Recours contre les actes unilatéraux détachables du contrat dans un délai
            de deux mois à compter de leur notification ou de leur publication conformément aux articles R.421-1 et
            suivants du code de justice administrative assorti d'un référé suspension conformément à l'article L.521-1
            du code de justice administrative. (Le cas échéant recours administratif auprès du pouvoir adjudicateur à
            l'encontre de la décision de rejet de l'offre dans les deux mois à compter de la notification de la dite
            décision conformément aux articles R.421-1 et suivants du code de justice administrative) - recours à
            l'encontre du contrat une fois signé dans un délai de deux mois à compter de sa publication (avis
            d'attribution) conformément aux articles R.421-1 et suivants du code de justice administrative (arrêt du
            conseil d'état du 16/07/07 - no291545) assorti d'un référé suspension conformément à l'article L.521-1 du
            code de justice administrative et le cas échéant d'une demande indemnitaire. <Br>En vue d'obtenir une
            indemnisation : recours indemnitaire à l'encontre du pouvoir adjudicateur dans les deux mois de la
            notification de la décision rejetant la demande préalable d'indemnité conformément aux articles R.421-1 et
            suivants du code de justice administrative. <Br>La médiation du comité consultatif du règlement amiable des
            litiges relatifs aux marchés publics est réservée aux relations entre le pouvoir adjudicateur et le
            titulaire du contrat. .<p><I>Renseignements relatifs aux lots&nbsp;:&nbsp;</I>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 1.</span> - maçonnerie - echafaudage - vRD -
                                    menuiserie extérieure bois.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Installations et préparation de chantiers - maçonnerie briques - réseau
                                    d'eau pluviale - révision des portes / volets bois
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 2.</span> - béton armé.</td>
                            </tr>
                            <tr>
                                <td class="txt">Travaux de réparation et travaux de plaquage</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 3.</span> - couverture.</td>
                            </tr>
                            <tr>
                                <td class="txt">Travaux divers de couverture, chéneaux</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 4.</span> - menuiseries métalliques -
                                    ferronnerie.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Restauration des châssis de fenêtres et ouvrage de peinture sur
                                    menuiserie métallique - restauration et mise en peinture des grilles extérieures et
                                    de soupiraux
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 5.</span> - vitraux.</td>
                            </tr>
                            <tr>
                                <td class="txt">Dépose et pose de panneaux de dalles de verre</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2835488&noa=14-132415" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>