<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>75</B><!-- ED=20158091--><BR>Annonce No&nbsp;<B>14-103373</B><BR>Travaux<!--Etat-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Assemblée nationale.<BR>&nbsp;Correspondant&nbsp;:&nbsp;service
            des Affaires immobilières et du Patrimoine - du lundi au vendredi de 9h30 à 12h et de 14h30 à 18h -
            secrétariat de la cellule juridique : tél : 01 40 63 83 01 ou 01 40 63 83 35, télécopieur : 01 40 63 83 98,&nbsp;126,
            rue de l'université&nbsp;75355&nbsp;Paris 07 Sp, courriel&nbsp;:&nbsp;secretariat-saip@assemblee-nationale.fr&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.assemblee-nationale.fr","TestLien","");'
                               class="lien">http://www.assemblee-nationale.fr</A>.<BR>Adresse internet du profil
            d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://assemblee-nationale.achatpublic.com","TestLien","");'
                    class="lien">https://assemblee-nationale.achatpublic.com</A>.<BR>Le pouvoir adjudicateur n'agit pas
            pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s) Activité(s) de l'entité adjucatrice
                : </i> Assemblée parlementaire.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>sécurisation du réseau primaire de chauffage par bouclage au
                Palais-Bourbon (marché 2015saip-05)</B>.<BR><I>Type de marché de travaux&nbsp;:&nbsp;</I> exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;45331000<br><i>Objets supplémentaires&nbsp;:&nbsp;</i>45331200<BR>45223220<BR>45111000<BR>45262522.<BR><I>Lieu
                    d'ex&eacute;cution&nbsp;:&nbsp;</I>assemblée nationale,&nbsp;75355&nbsp;Paris 07.<BR><I>Code NUTS
                    : </I>FR.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>le présent marché a pour objet
                l'opération de sécurisation du réseau primaire de chauffage par bouclage au Palais-Bourbon, à Paris 7ème
                arrondissement. Cette opération consiste à sécuriser les distributions primaires d'eau chaude chauffage
                Nord et Sud en raccordant ces deux réseaux de distribution.<Br>La présente opération est constituée de 9
                lots distincts :<Br>- lot 1 "Chauffage - ventilation - climatisation ", <Br>- lot 2 " Gros-&oelig;uvre -
                maçonnerie ",<br>- lot 3 " Métallerie - serrurerie "<br>- lot 4 " Électricité courants forts ",<br>- lot
                5 " Électricité courants faibles "<br>- lot 6 " Sécurité incendie "<br>- lot 7 " Plomberie "<br>- lot 8
                " Peinture "<br>- lot 9 " Gestion technique de l'électricité ".<Br><Br>Le marché sera exécuté à compter
                de la date de notification (Date prévisionnelle de notification : fin juin 2015) et s'achèvera en
                décembre 2015<BR><i>Quantités (fournitures et services), nature et étendue (travaux)&nbsp;:&nbsp;</i>deux
                lots font l'objet de la présente consultation : <Br>Lot 1 "Chauffage - ventilation - climatisation "<Br>Lot
                2 " Gros-&oelig;uvre - maçonnerie " .<Br>Les travaux correspondant aux sept autres lots seront exécutés
                par les entreprises respectivement titulaires d'accords-cadres ou marchés à bons de commande de
                l'assemblée nationale.<Br>Les caractéristiques techniques des travaux sont décrites dans le Cahier des
                Clauses Techniques Particulières (C.C.T.P.) de chaque lot faisant l'objet de la consultation, joints au
                dossier de consultation des entreprises.<BR><I>Refus des variantes</I>.<BR>Prestations divisées en lots
                : oui.<BR><I>Cautionnement et garanties exigés&nbsp;:&nbsp;</I>une retenue de garantie de 5 % sera
                prélevée sur le montant de chaque acompte payé au titulaire du marché.<Br>Cette retenue sera restituée à
                l'expiration de la période de garantie de l'ensemble des travaux, conformément à l'article 44.1 du
                C.C.A.G.-Travaux. <Br>L'Assemblée nationale souhaite que la retenue de garantie soit remplacée par une
                garantie à première demande. <Br>Il ne sera pas accepté de caution personnelle et solidaire en
                remplacement de la retenue de garantie.<BR><I>Modalités essentielles de financement et de paiement et/ou
                    références aux textes qui les réglementent&nbsp;:&nbsp;</I>budget de l'assemblée NATIONALE -
                éTAT.<BR><I>Langues pouvant être utilisées dans l'offre ou la
                    candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire obligatoirement par le candidat, à l'appui de sa candidature&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Copie
                du ou des jugements prononcés, si le candidat est en redressement judiciaire;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                sur l'honneur du candidat justifiant qu'il n'entre dans aucun des cas mentionnés à l'article 43 du code
                des marchés publics, concernant les interdictions de soumissionner;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                sur l'honneur du candidat attestant qu'il est en règle, au cours de l'année précédant celle au cours de
                laquelle a lieu le lancement de la consultation, au regard des articles L. 5212-1, L. 5212-2, L. 5212 5
                et L. 5212-9 du code du travail, concernant l'emploi des travailleurs handicapés;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                le candidat est établi en France, une déclaration sur l'honneur du candidat justifiant que le travail
                est effectué par des salariés employés régulièrement au regard des articles L. 1221-10, L. 3243-2 et R.
                3243-1 du code du travail (dans le cas où le candidat emploie des salariés, conformément à l'article D.
                8222-5-3° du code du travail).<br/><br/><i>Documents à produire à l'appui des candidatures par le
                    candidat, au choix de l'acheteur public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                concernant le chiffre d'affaires global et le chiffre d'affaires concernant les fournitures, services ou
                travaux objet du marché, réalisés au cours des trois derniers exercices disponibles;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                indiquant les effectifs moyens annuels du candidat et l'importance du personnel d'encadrement pour
                chacune des trois dernières années;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Présentation d'une liste des
                travaux exécutés au cours des cinq dernières années, appuyée d'attestations de bonne exécution pour les
                travaux les plus importants. Ces attestations indiquent le montant, l'époque et le lieu d'exécution des
                travaux et précisent s'ils ont été effectués selon les règles de l'art et menés régulièrement à bonne
                fin;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration indiquant l'outillage, le matériel et
                l'équipement technique dont le candidat dispose pour la réalisation de marchés de même nature;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Certificats
                de qualifications professionnelles. La preuve de la capacité du candidat peut être apportée par tout
                moyen, notamment par des certificats d'identité professionnelle ou des références de travaux attestant
                de la compétence de l'opérateur économique à réaliser la prestation pour laquelle il se porte candidat :
                lot 1 - cVC : Qualibat <BR>5313 installations thermiques technicité supérieure <BR>5322 Tuyauterie
                d'installation thermique <BR>5342 Régulation<BR>Lot 2 - gros &oelig;uvre - maçonnerie : Qualibat <BR>1111
                démolition<BR>2111 maçonnerie et béton armé courant<BR>2151 dallage béton courant;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC1, Lettre de candidature - Habilitation du mandataire par ses co-traitants (disponible à l'adresse
                suivante : http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC2, Déclaration du candidat individuel ou du membre du groupement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;S'il
                s'appuie, pour présenter sa candidature, sur les capacités professionnelles, techniques et financières
                d'autres opérateurs économiques, le candidat produit les mêmes documents concernant cet opérateur
                économique que ceux qui lui sont exigés par l'acheteur public. Le candidat doit également apporter la
                preuve que chacun de ces opérateurs économiques mettra à sa disposition les moyens nécessaires, pendant
                toute la durée d'exécution du marché public ou de l'accord-cadre.<br/><br/><i>Documents à produire
                    obligatoirement par l'attributaire, avant la signature et la notification du marché public ou de
                    l'accord-cadre (formulaire NOTI1)&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Les
                pièces prévues aux articles D. 8222-5 ou D. 8222-7 et D. 8222-8 du code du travail;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                l'attributaire est établi en France, les attestations et certificats délivrés par les administrations et
                organismes compétents prouvant qu'il a satisfait à ses obligations fiscales et sociales ou un état
                annuel des certificats reçus.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des
                offres&nbsp;:&nbsp;</I>5&nbsp;mai&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai minimum de
                validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception des
                offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>2015SAIP-05.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>la visite du site est obligatoire préalablement à la
                remise des offres. Se reporter au Règlement de la consultation pour en connaître les modalités. <Br><Br>En
                application de l'article 28 du code des marchés publics, l'attribution du marché pourra, le cas échéant,
                être précédée d'une phase de négociation avec les candidats. La négociation pourra porter sur tout ou
                partie de l'offre. Les thèmes sur lesquels l'assemblée nationale pourrait être amenée à négocier sont
                propres à chaque candidat invité à négocier.<Br><Br>Les informations et questions peuvent être adressées
                via la plate-forme de dématérialisation des marchés publics de l'assemblée nationale, accessible depuis
                le site www.assemblee nationale.fr , rubrique " marchés publics " ou à l'adresse url :
                https://assemblee-nationale.achatpublic.com.
            <p><I>Conditions et mode de paiement pour obtenir les documents contractuels et additionnels</I> :<BR>gratuité.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>deux modes de transmission alternatifs
                sont ouverts aux candidats :.1. Sur support papier .2. Par voie électronique sur le portail de
                dématérialisation des marchés publics de l'assemblée nationale, accessible à l'url suivante :
                http://www.assemblee-nationale.fr/, rubrique marchés publics ou à l'adresse suivante :
                https://assemblee-nationale.achatpublic.com.<Br>Se reporter au Règlement de la consultation.<Br><Br>Les
                plis qui seraient remis ou dont l'avis de réception serait délivré après la date et l'heure limite de
                remise des offres, ainsi que les envois remis sous enveloppe non fermée, ne seront pas retenus.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>31&nbsp;mars&nbsp;2015.</P><I>Adresse
                auprès de laquelle des renseignements complémentaires peuvent être obtenus&nbsp;:&nbsp;</I><BR>Service
            des Affaires immobilières et du patrimoine<BR>Secrétariat de la cellule juridique.<BR>&nbsp;courriel :
            secretariat-saip@assemblee-nationale.fr.<p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal
                administratif de Paris.&nbsp;7 rue Jouy, 75004 Paris.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2806446&noa=14-103373" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>