<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>1</B>,&nbsp;21,&nbsp;52,&nbsp;71<!-- ED=20158089--><BR>Annonce No&nbsp;<B>14-185998</B><BR>Travaux
            <!--Etablissement public national--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>INRAP.<BR>&nbsp;Correspondant&nbsp;:&nbsp;Mme&nbsp;Vartouhi
            Kolomian,&nbsp;7, rue de Madrid&nbsp;75008&nbsp;Paris, courriel&nbsp;:&nbsp;marc.costaz@inrap.fr&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.inrap.fr","TestLien","");' class="lien">http://www.inrap.fr</A>.<BR>Le
            pouvoir adjudicateur n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>travaux de terrassement de nature archéologique sur le tracé
                du Gazoduc artère Val de Saône</B>.<BR><I>Type de marché de travaux&nbsp;:&nbsp;</I> exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;45112500.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>décapage de précision, remblaiement et
                réalisation et démontage de pistes et plate-formes<BR><i>Quantités (fournitures et services), nature et
                    étendue (travaux)&nbsp;:&nbsp;</i>montant minimum (H.T.) : 500 000.00&nbsp;euros<Br>Montant maximum
                (H.T.) : 2 000 000.00&nbsp;euros.<BR><I>Refus des variantes</I>.<BR>La procédure d'achat du présent avis
                est couverte par l'accord sur les marchés publics de l'OMC : oui.<br/><BR>Prestations divisées en lots :
                non.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>36 mois à compter de la notification du
                marché.<BR><i>Date&nbsp;prévisionnelle&nbsp;de&nbsp;commencement&nbsp;des&nbsp;travaux&nbsp;:&nbsp;</i>20&nbsp;juillet&nbsp;2015.<BR><I>Modalités
                    essentielles de financement et de paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>budget
                principal de l'inrap, paiement par virement à 30 jours.<BR><i>Forme juridique que devra revêtir le
                    groupement d'opérateurs économiques attributaire du marché&nbsp;:&nbsp;</i>si groupement, le
                mandataire doit être solidaire.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Capacité économique et financière - références
                requises&nbsp;:&nbsp;</I>renseignements et formalités nécessaires pour évaluer si ces exigences sont
                remplies : une déclaration concernant le chiffre d'affaires global et le chiffre d'affaires relatif aux
                prestations auxquelles se réfère l'appel d'offres réalisées par le candidat au cours des trois derniers
                exercices<BR><I>Référence professionnelle et capacité technique - références requises&nbsp;:&nbsp;</I>renseignements
                et formalités nécessaires pour évaluer si ces exigences sont remplies : une liste des principales
                prestations fournies au cours des trois dernières années, indiquant notamment le montant, la date et les
                bénéficiaires.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire obligatoirement par le candidat, à l'appui de sa candidature&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Copie
                du ou des jugements prononcés, si le candidat est en redressement judiciaire;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                sur l'honneur du candidat justifiant qu'il n'entre dans aucun des cas mentionnés à l'article 43 du code
                des marchés publics, concernant les interdictions de soumissionner;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                sur l'honneur du candidat attestant qu'il est en règle, au cours de l'année précédant celle au cours de
                laquelle a lieu le lancement de la consultation, au regard des articles L. 5212-1, L. 5212-2, L. 5212 5
                et L. 5212-9 du code du travail, concernant l'emploi des travailleurs handicapés;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                le candidat est établi en France, une déclaration sur l'honneur du candidat justifiant que le travail
                est effectué par des salariés employés régulièrement au regard des articles L. 1221-10, L. 3243-2 et R.
                3243-1 du code du travail (dans le cas où le candidat emploie des salariés, conformément à l'article D.
                8222-5-3° du code du travail);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si le candidat est établi ou
                domicilié à l'étranger, une déclaration sur l'honneur du candidat attestant qu'il fournit à ses salariés
                des bulletins de paie comportant les mentions prévues à l'article R. 3243-1 du code du travail, ou des
                documents équivalents.<br/><br/><i>Documents à produire à l'appui des candidatures par le candidat, au
                    choix de l'acheteur public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                concernant le chiffre d'affaires global et le chiffre d'affaires concernant les fournitures, services ou
                travaux objet du marché, réalisés au cours des trois derniers exercices disponibles;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Présentation
                d'une liste des travaux exécutés au cours des cinq dernières années, appuyée d'attestations de bonne
                exécution pour les travaux les plus importants. Ces attestations indiquent le montant, l'époque et le
                lieu d'exécution des travaux et précisent s'ils ont été effectués selon les règles de l'art et menés
                régulièrement à bonne fin;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration indiquant l'outillage, le
                matériel et l'équipement technique dont le candidat dispose pour la réalisation de marchés de même
                nature.<br/><br/><i>Documents à produire obligatoirement par l'attributaire, avant la signature et la
                    notification du marché public ou de l'accord-cadre (formulaire NOTI1)&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Les
                pièces prévues aux articles D. 8222-5 ou D. 8222-7 et D. 8222-8 du code du travail;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                l'attributaire est établi en France, les attestations et certificats délivrés par les administrations et
                organismes compétents prouvant qu'il a satisfait à ses obligations fiscales et sociales ou un état
                annuel des certificats reçus;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si l'attributaire est établi dans
                un Etat autre que la France, un certificat établi par les administrations et organismes du pays
                d'origine. Lorsqu'un tel certificat n'est pas délivré par le pays concerné, il peut être remplacé par
                une déclaration sous serment, ou dans les Etats où un tel serment n'existe pas, par une déclaration
                solennelle faite par l'intéressé devant l'autorité judiciaire ou administrative compétente, un notaire
                ou un organisme professionnel qualifié du pays;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si les documents
                fournis par le candidat ne sont pas établis en langue française, ils doivent être accompagnés d'une
                traduction en français, certifiée conforme à l'original par un traducteur assermenté.<br/><br/><i>Autres
                    renseignements demandés&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres
                renseignements demandés : kbis.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix
                : 60 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur technique : 40 %.
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des
                offres&nbsp;:&nbsp;</I>4&nbsp;mai&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai minimum de
                validit&eacute; des offres&nbsp;:&nbsp;</I>180 jours à compter de la date limite de réception des
                offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>15inrap0010.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>ce marché est passé en procédure adaptée en application
                de l'article 28 du Code des Marchés. Ces marchés sont conclus pour 36 mois à partir de sa date de
                notification. Le critère prix sera apprécié selon une modélisation effectuée avec certains prix
                significatifs du BPU afin d'obtenir une estimation. Les estimations obtenues seront notées selon la
                formule: (estimation considérée/estimation la plus basse)x10. <Br>Le critère "valeur technique de
                l'offre" est apprécié en fonction des sous-critères pondérés suivants : <Br>Pour le plan d'assurance
                qualité au regard du métier de l'archéologie (pondération 40% ; pour les moyens (pondération 30%) ; pour
                les modalités l'auto-contrôle en faveur de la sécurité et du développement durable (pondération 30%). A
                l'issue de l'analyse des offres, une phase de négociation sera mise en &oelig;uvre avec au maximum les
                trois candidats ayant présenté les offres les mieux disantes. Les candidats peuvent télécharger le
                dossier de consultation des entreprises (Dce) <Br>Sur la place de marché interministérielle (Pmi) :
                https://www.marches-publics.gouv.fr <Br>Les candidats ont la faculté de se faire communiquer le DCE sur
                support électronique (mail), sur support papier ou sur support physique électronique aux coordonnées
                indiquées ci-dessous. <Br>Ils adressent pour cela une demande écrite à l'intention de Vartouhi Kolomian
                à l'adresse suivante: <Br>Institut national de recherches archéologiques préventives <Br>Direction de
                l'administration et des finances <Br>Services marchés publics <Br>7, rue de Madrid <Br>75008 Paris <Br>Ou
                par télécopie au 01 42 93 38 85 <Br>Ou par courriel à l'adresse suivante: <br>service-marches-publics@inrap.fr
                <Br>Les candidats indiquent le support (papier ou Cd-Rom) sur lequel ils souhaitent que le dossier leur
                soit adressé. Le dossier leur est adressé sur le support de leur choix, par courrier simple, et ce dès
                la réception de la demande. <Br>La remise des offres n'est pas possible par mail. Elle est autorisée par
                courrier ou en mains propres à l'adresse suivante : Inrap - service des marchés publics <Br>7, rue de
                Madrid 75008 Paris <Br>Ou par dépôt sur la place de marché interministérielle (Pmi) :
                https://www.marches-publics.gouv.fr.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>27&nbsp;mars&nbsp;2015.</P><I>Adresse à
                laquelle les offres/candidatures/projets/demandes de participation doivent être envoyés&nbsp;:&nbsp;</I>inrap.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>Mme&nbsp;Kolomian,&nbsp;&nbsp;7,
            rue de Madrid,&nbsp;&nbsp;75008&nbsp;Paris,&nbsp;,
            courriel&nbsp;:&nbsp;service-marches-publics@inrap.fr.<BR><I>Adresse auprès de laquelle des renseignements
                d'ordre administratif et technique peuvent être obtenus&nbsp;:&nbsp;</I>INRAP.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>M.&nbsp;Costaz,&nbsp;&nbsp;7,
            rue de Madrid,&nbsp;&nbsp;78008&nbsp;Paris,&nbsp;, courriel&nbsp;:&nbsp;marc.costaz@inrap.fr.<p><I>Instance
                chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de Paris&nbsp;7, rue de Jouy&nbsp;75181&nbsp;Paris,
                courriel&nbsp;:&nbsp;greffe-ta-paris@juradm.fr.</P><I>Précisions concernant le(s) délai(s)
                d'introduction des recours : </I>pour plus de précisions sur l'introduction des recours, les candidats
            sont invités à consulter le site du Conseil d'etat : http//wwwconseil-etat.fr.<BR><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2889070&noa=14-185998" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>