<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>11</B>,&nbsp;34<!-- ED=20158155--><BR>Annonce No&nbsp;<B>14-28585</B><BR>Services
            <!--Commune--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Ville de Saint Marcel sur
            Aude.<BR>&nbsp;Correspondant&nbsp;:&nbsp;secrétariat général,&nbsp;9&nbsp;avenue Georges Brassens&nbsp;11120&nbsp;Saint-Marcel-sur-Aude,
            tél.&nbsp;:&nbsp;04-68-93-62-13, télécopieur&nbsp;:&nbsp;04-68-93-49-97, courriel&nbsp;:&nbsp;mairie@saintmarcelsuraude.fr&nbsp;adresse
            internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.mairiedesaintmarcelsuraude.com","TestLien","");'
                    class="lien">http://www.mairiedesaintmarcelsuraude.com</A>.<BR>Adresse internet du profil d'acheteur&nbsp;:
            <A HREF='javascript:BMP_openWindow("http://can.marcoweb.fr","TestLien","");' class="lien">http://can.marcoweb.fr</A>.<BR>Le
            pouvoir adjudicateur n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>assistance à maîtrise d'ouvrage pour la création d'un
                complexe multifonction : maison du peuple, maison des jeunes et de la culture, salles associatives,
                salle de sport et l'aménagement urbanistique de la zone d'implantation</B>.<BR><I>Catégorie de services&nbsp;:&nbsp;</I>12.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;71300000.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>.<BR><I>Code NUTS : </I>FR811.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>la Commune de Saint Marcel sur Aude
                souhaite réaliser un complexe public afin de réunir les activités suivantes : maison du peuple, salles
                associatives, maison des jeunes et de la culture et salle de sport (mise à disposition d'un club de
                musculation/fitness).<Br><Br>Au regard de la complexité et de l'envergure du projet, la Commune n'est
                pas en mesure d'arrêter un programme de travaux et un projet d'aménagement détaillé.<Br><Br>Le
                prestataire ou le groupement retenu devra assister la Commune pour étudier l'opportunité du projet sur
                plusieurs secteurs éventuels : le secteur de l'ancienne cave coopérative, le secteur de la ZAC du
                Mourastel, la parcelle BA 86 (propriété de la Commune, située sur la zone Uec et A en partie, abritant
                actuellement deux antennes relai).<Br><Br>Dans l'hypothèse où le secteur de l'ancienne cave coopérative
                serait retenu, il devra étudier la conservation, la démolition partielle ou totale de la cave en prenant
                en compte notamment l'étude réalisée par le cabinet OTCE sur le bâti.<Br><Br>Il devra également inscrire
                ce projet dans une étude urbaine de l'ensemble de la zone dite de la Distillerie en prenant en compte le
                projet de la Commune de construire 3 cellules commerciales en continuité du caveau de vente<BR><i>Quantités
                    (fournitures et services), nature et étendue (travaux)&nbsp;:&nbsp;</i>cette mission devra permettre
                d'aboutir à un avant-projet sommaire chiffré en fonction des différentes phases de validation avec les
                élus et proposer un calendrier global de réalisation.<Br><Br>Cet avant-projet devra permettre ensuite à
                la Commune de lancer une procédure de maîtrise d'&oelig;uvre. <Br><Br>Le prestataire ou le groupement
                devra présenter les compétences suivantes :<Br><Br>-Insertion urbaine à l'échelle de la Commune toute
                entière (stationnement, circulation...)<Br>-Prise en compte des contraintes des sites proposés<Br>-Étude
                architecturale <Br>-Besoin sommaire en termes de vrd<br><Br>La durée du marché est de 6 mois à compter
                de sa notification.<BR><I>Refus des variantes</I>.<BR>La procédure d'achat du présent avis est couverte
                par l'accord sur les marchés publics de l'OMC : oui.<br/><BR>Prestations divisées en lots : non.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>6 mois à compter de la notification du
                marché.<BR><I>Modalités essentielles de financement et de paiement et/ou références aux textes qui les
                    réglementent&nbsp;:&nbsp;</I>articles 86 à 111 du Code des marchés publics français. <Br>Délai
                global de paiement: 30 jours <Br>Les prestations du marché seront financées au moyen de ressources
                propres de la Commune.<BR><I>L'exécution du marché est soumise à d'autres conditions particulières
                    : </I>non.<BR><I>Langues pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>garanties et capacités techniques et financières<Br>Capacités
                professionnelles.<BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>-Copie du ou des
                jugements prononcés, si le candidat est en redressement judiciaire ;<Br>-Déclaration sur l'honneur pour
                justifier que le candidat n'entre dans aucun des cas mentionnés à l'article 43 du CMP.<BR><I>Capacité
                    économique et financière - références requises&nbsp;:&nbsp;</I>-Déclaration appropriée de banques ou
                preuve d'une assurance pour les risques professionnels ; <Br>-Déclaration concernant le chiffre
                d'affaires global et le chiffre d'affaires concernant les études objet du contrat, réalisées au cours
                des trois derniers exercices disponibles<BR><I>Référence professionnelle et capacité technique -
                    références requises&nbsp;:&nbsp;</I>-Liste des principaux services effectués au cours des trois
                dernières années, indiquant le montant, la date et le destinataire public ou privé. Les prestations de
                services sont prouvées par des attestations du destinataire ou, à défaut, par une déclaration de
                l'opérateur économique<Br>- déclaration indiquant les effectifs moyens annuels du candidat et
                l'importance du personnel d'encadrement pour chacune des trois dernières années.
            <p>La prestation n'est pas réservée à une profession particulière.
            <p>Les personnes morales sont tenues d'indiquer les noms et qualifications professionnelles des membres du
                personnel chargé de la prestation.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur
                technique : 60 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix des prestations : 40 %.<BR>Une enchère
                électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>17&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i>
            <P><i>Conditions de remise des offres ou des candidatures :</i><br>le pli devra être remis contre récépissé
                ou, s'il est envoyé par la poste par pli recommandé avec avis de réception postal, parvenir à
                destination avant la date et l'heure limites de réception des offres et ce, à l'adresse suivante :<Br>Mairie
                de Saint Marcel sur Aude<Br>9&nbsp;avenue Georges Brassens<Br>11120 Saint Marcel sur Aude<Br><Br>Le pli
                qui serait remis ou dont l'avis de réception serait délivré après la date et l'heure limites précitées
                ainsi que remis sous enveloppe non cachetée, ne sera pas retenu ; il sera renvoyé à leurs
                auteurs.<Br><Br>Les plis peuvent être déposés directement en Mairie: l'accueil est ouvert au public du
                lundi au jeudi de 9 heures à 12 heures et de 17 heures à 18 heures et le vendredi uniquement de 9 heures
                à 12 heures.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>3&nbsp;juin&nbsp;2015.</P>
            <P><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal Administratif de Montpellier&nbsp;6
                Rue Pitot&nbsp;34063&nbsp;Montpellier, tél.&nbsp;:&nbsp;04-67-54-81-00, courriel&nbsp;:&nbsp;greffe.ta-montpellier@juradm.fr.
            </P>
            <P><I>Organe chargé des procédures de médiation&nbsp;:&nbsp;</I>Comité Consultatif Interdépartemental de
                Règlement Amiable des Litiges&nbsp;boulevard Peytral&nbsp;13006&nbsp;Marseille.</P><I>Précisions
                concernant le(s) délai(s) d'introduction des recours : </I>articles R 421-1 à R 421-7 du Code de justice
            administrative (2 mois à compter de la notification ou publication de la décision de rejet de l'organisme).
            Articles L 551-1 et R 551-1 du Code de justice administrative pour le référé précontractuel. Recours de
            pleine juridiction ouvert aux concurrents évincés (deux mois à compter de la date à laquelle la conclusion
            du contrat est rendue publique).<BR><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2731658&noa=14-28585" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>