<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>85</B><!-- ED=20158324--><BR>Annonce No&nbsp;<B>14-43279</B><BR>Services<!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>AGENCE DE SERVICES AUX
            COLLECTIVITES.<BR>&nbsp;Correspondant&nbsp;:&nbsp;stéphane BEDU,&nbsp;33 rue de l'atlantique Cs80206&nbsp;85005&nbsp;La
            Roche-sur-Yon Cedex, tél.&nbsp;:&nbsp;02-51-44-90-00, télécopieur&nbsp;:&nbsp;02-51-46-13-74.<p><I>Objet du
                march&eacute;&nbsp;:&nbsp;</I><B>réalisation d'un état initial du milieu naturel en vue de
                l'optimisation et du développement du Port de La Faute sur Mer</B>.<BR><I>Catégorie de services&nbsp;:&nbsp;</I>12.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;79311000.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>le projet porte sur une surface d'environ
                38 ha et nécessite la réalisation d'un état intial préalable à l'élaboration des différents dossiers
                d'autorisation au titre des Codes de l'urbanisme et de l'environnement (dossier loi sur l'eau, étude
                d'incidence natura 2000, dérogation espèces protégées, ...)<Br>Nomenclature CPV : 79311000-7 (services
                d'études)<BR><I>Refus des variantes</I>.<BR>Prestations divisées en lots : non.<BR><I>Modalités
                    essentielles de financement et de paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>fonds
                propres, Subventions, Emprunts - paiement à 30 jours fin de mois par virement.<BR><i>Forme juridique que
                    devra revêtir le groupement d'opérateurs économiques attributaire du marché&nbsp;:&nbsp;</i>nature
                du groupement attributaire : groupement conjoint avec mandataire solidaire ou groupement
                solidaire.<BR><I>L'exécution du marché est soumise à d'autres conditions particulières : </I>marché non
                soumis à l'amp.<BR><I>Langues pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I>
            <P>La prestation est réservée à une profession particulière.<BR><I>Référence des dispositions législatives,
                réglementaires ou administratives applicables</I>&nbsp;:<BR>le candidat devra intégrer les compétences
                suivantes :<Br>1.Naturaliste, écologue<Br>2.Travaux fluviaux (hydro-géomorphologie, sédimentation...).
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix
                des prestations : 60 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur technique de l'offre , jugée au
                travers d'un mémoire technique de 5 pages maximum format a4 mettant en avant : les moyens affectés à la
                mission : moyens humains : niveau d'expertise et références des personnels affectés à la mission dans
                les compétences attendues (2 points) moyens matériels affectés à la mission (2 points) la méthodologie
                de travail envisagée pour mener à bien l'ensemble de la démarche : prospection de terrain mise en
                &oelig;uvre, (2 points) animation des différentes réunions, proposition d'organisation (2 points)
                cohérence de la proposition de planning d'intervention avec la complexité de la mission (2 points) : 40
                %.
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>11&nbsp;décembre&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>90 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i>
            <P><I>Renseignements complémentaires&nbsp;:&nbsp;</I>maitre d'ouvrage : Commune de la faute sur mer - 9&nbsp;avenue
                de l'océan - 85460 La Faute sur Mer - tél. : 02.51.97.19.20 - type de pouvoir adjudicateur :
                Collectivité Territoriale - représentant du maître d'ouvrage : M. Patrick JOUIN, en qualité de Maire de
                la commune - adresse du profil acheteur : https://www.marches-securises.fr<br>mandataire du maitre
                d'ouvrage : Agence de Services aux Collectivités Locales de Vendée - 33 rue de l'atlantique - cS 80206 -
                85005 la roche sur yon Cedex - tél. : 02.51.44.90.00 - télécopieur : 02.51.46.13.74 - personne chargée
                du dossier et habilitée à donner des renseignements complémentaires : M. Stéphane bedu<br>procedure de
                passation : Consultation passée selon une procédure adaptée et soumise notamment aux dispositions des
                articles 26, 28 et 40 du Code des Marchés Publics.<Br>Les conditions de participation et la liste des
                documents devant être remis par le candidat sont précisées dans le règlement de consultation.
                Appréciation de la situation juridique et des capacités techniques, professionnelles et financières au
                regard des documents mentionnés au règlement en application des articles 43, 44, 45 et 52 du Code des
                marchés publics.<Br>Délai global maximum : 12 mois à compter de la notification du marché.
            <p><I>Conditions et mode de paiement pour obtenir les documents contractuels et additionnels</I> :<BR>modalites
                de retrait des documents de consultation (gratuit) : Le dossier de consultation est téléchargeable sur
                le site https://www.marches-securises.fr.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>les offres devront parvenir avant le 11
                décembre 2015 à 12&nbsp;heures à l'agence de Services aux Collectivités Locales de Vendée (coordonnées
                ci-dessus) OU sur le site https://www.marches-securises.fr.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>19&nbsp;novembre&nbsp;2015.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>TRIBUNAL
                ADMINISTRATIF DE NANTES&nbsp;6 allée de l'ile Gloriette - B.P.&nbsp;24111&nbsp;44041&nbsp;Nantes Cedex,
                tél.&nbsp;:&nbsp;02-40-99-46-00, courriel&nbsp;:&nbsp;greffe.ta-nantes@juradm.fr, télécopieur&nbsp;:&nbsp;02-40-99-46-58.
            </P><img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2746352&noa=14-43279" width="1"
                     height="1"></td>
    </tr>
</table>
</body>
</html>