<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>1</B><!-- ED=20158183--><BR>Annonce No&nbsp;<B>15-101646</B><BR>Fournitures<!--Commune-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Ville d'Oyonnax.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;Arnaud
            Corbet,&nbsp;service Marchés Publics, 126 rue Anatole France&nbsp;01100&nbsp;Oyonnax, tél.&nbsp;:&nbsp;(+33)
            4-74-77-00-06, télécopieur&nbsp;:&nbsp;(+33) 4-74-77-18-60,
            courriel&nbsp;:&nbsp;arnaud.corbet@oyonnax.fr.<BR><i>Principale(s) Activité(s) du pouvoir adjudicateur
                : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>fourniture de décors et de matériel pour les fetes 2015 -
                2016</B>.<BR><I>Type de marché de fournitures&nbsp;:&nbsp;</I> achat.<BR><I>Lieu de livraison&nbsp;:&nbsp;</I>01100
                OYONNAX.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>marché unique à tranches
                conditionnelles<BR><i>Quantités (fournitures et services), nature et étendue (travaux)&nbsp;:&nbsp;</i>tranche
                Ferme : acquisition de materiel.<BR><i>Options : descriptions concernant les achats complémentaires&nbsp;:&nbsp;</i>tranche
                Conditionnelle 1: location de materiel.<BR><I>Refus des variantes</I>.<BR>La procédure d'achat du
                présent avis est couverte par l'accord sur les marchés publics de l'OMC : non.<br/><BR>Prestations
                divisées en lots : non.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>2 mois à compter de la notification du
                marché.<BR><I>Cautionnement et garanties exigés&nbsp;:&nbsp;</I>aucune garantie financière n'est exigée.<BR><I>Modalités
                    essentielles de financement et de paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>articles
                86 à 111 du Code des marchés publics français. Caractéristiques des prix : Prix unitaires. Modalités de
                variation des prix : Révision Périodique. Annuelle. Modalité de règlement des comptes : selon les
                modalités du C.C.A.G.-F.C.S. Le délai global de paiement est de 30 jours. Modalités de financements :
                Fonds propres de la Ville d'oyonnax - budget principal - section investissement et
                fonctionnement.<BR><i>Forme juridique que devra revêtir le groupement d'opérateurs économiques
                    attributaire du marché&nbsp;:&nbsp;</i>groupement conjoint avec mandataire solidaire. Il est
                interdit aux candidats de présenter plusieurs offres en agissant à la fois : - en qualité de candidats
                individuels et de membres d'un ou plusieurs groupements ; - en qualité de membres de plusieurs
                groupements.<BR><I>L'exécution du marché est soumise à d'autres conditions particulières : </I>le marché
                débutera à compter de la notification du contrat. Tranche Ferme: Délai 1 mois Tranche Conditionnelle 1:
                Délai 1 mois.<BR><I>Langues pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>copie
                du ou des jugements prononcés, si le candidat est en redressement judiciaire ; Déclaration sur l'honneur
                pour justifier que le candidat n'entre dans aucun des cas mentionnés à l'article 43 du CMP ;
                Renseignements sur le respect de l'obligation d'emploi mentionnée aux articles L. 5212-1 à L. 5212-11 du
                Code du travail.<BR><I>Capacité économique et financière - références requises&nbsp;:&nbsp;</I>déclaration
                concernant le chiffre d'affaires global et le chiffre d'affaires concernant les fournitures objet du
                contrat, réalisés au cours des trois derniers exercices disponibles ; Déclaration appropriée de banques
                ou preuve d'une assurance pour les risques professionnels<BR><I>Référence professionnelle et capacité
                    technique - références requises&nbsp;:&nbsp;</I>déclaration indiquant les effectifs moyens annuels
                du candidat et l'importance du personnel d'encadrement pour chacune des trois dernières années ; Liste
                des principales fournitures effectuées au cours des trois dernières années, indiquant le montant, la
                date et le destinataire public ou privé. Les livraisons sont prouvées par des attestations du
                destinataire ou, à défaut, par une déclaration de l'opérateur économique ; Déclaration indiquant
                l'outillage, le matériel et l'équipement technique dont le candidat dispose pour la réalisation de
                contrats de meme nature ; Description de l'équipement technique, des mesures employées par l'opérateur
                économique pour s'assurer de la qualité et des moyens d'étude et de recherche de son entreprise.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;caractère
                esthétique : 35 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;caractère esthétique : qualité des éléments
                d'après les supports infographiques : 10 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;caractère esthétique
                : diversité de la gamme de décors proposés dans l'offre : 15 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;caractère
                esthétique : qualité des effets d'animation proposés sur les décors : 10 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur
                technique : 25 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur technique : délais de livraison : 5
                %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur technique : qualité écologique d'après le ratio nombre
                de points lumineux / puissance électrique consommée (w) : 20 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix
                des prestations : 30 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;service après-vente : 10 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;service
                après-vente : méthodologie et délai garanti d'intervention en cas de défectuosité : 10 %.<BR>Une enchère
                électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>20&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;16&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>1506LUMI.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>conformément à la législation française, l'ouverture
                des offres n'est pas publique. Les offres peuvent etre transmises par lettre recommandée avec avis de
                réception ou déposées contre récépissé . Dématérialisation des procédures : l'organisme acheteur
                préconise la transmission des plis par voie papier. Il accepte cependant les plis adressés par d'autres
                moyens permettant d'en garantir la confidentialité et la date de réception. Le fuseau horaire de
                référence sera celui de (Gmt+01:00) Paris, Bruxelles, Copenhague, Madrid. Les formats électroniques dans
                lesquels les documents peuvent etre transmis sont les suivants : pdf exclusivement . Le niveau de
                sécurité requis pour le certificat de signature électronique est le Niveau (**) du RGS. Les candidats
                utilisent un certificat conforme au RGS (Référentiel Général de Sécurité) figurant sur la liste de
                confiance française (http://references.modernisation.gouv.fr) ou sur une liste de confiance d'un autre
                Etat-Membre de l'union européenne. Toutefois, les candidats sont libres d'utiliser le certificat de leur
                choix si celui-ci est conforme aux obligations minimales résultant du RGS. Dans ce cas, ils doivent
                transmettre tous les éléments nécessaires à la vérification de cette conformité.tout document contenant
                un virus informatique fera l'objet d'un archivage de sécurité et sera réputé n'avoir jamais été reçu. Il
                est conseillé aux candidats de soumettre leurs documents à un anti-virus avant envoi. Il est précisé que
                les candidats devront remettre à l'appui de leur offre des échantillons dont la liste figure au CCTP, à
                livrer au magasin municipal - rue des condamines - 01100 Oyonnax, dans les délais de remise des offres.
                Les éléments livrés seront à disposition des candidats les ayant remis sur le meme site une fois
                l'analyse terminée.
            <p><I>Conditions et mode de paiement pour obtenir les documents contractuels et additionnels</I> :<BR>Dossier
                de consultation remis contre paiement des frais de reprographie estimés à 6.40&nbsp;euros et à verser à
                m. Le tresorier principal.<BR>L'obtention des documents contractuels et additionnels est payante.<BR><I>Prix</I>
                : 6,40&nbsp;euros.
            <p><i>Le présent marché a un caractère périodique :&nbsp;</i>non.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>1.e.r&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I>Mairie d'Oyonnax.<BR>&nbsp;service Marchés Publics, 126 rue Anatole France,&nbsp;&nbsp;01100&nbsp;Oyonnax,&nbsp;,
            tél.&nbsp;:&nbsp;(+33) 4-74-77-00-06,&nbsp;, télécopieur&nbsp;:&nbsp;(+33) 4-74-77-18-60,&nbsp;&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://oyonnax.marcoweb.fr","TestLien","");'
                               class="lien">http://oyonnax.marcoweb.fr</A>.<BR><I>Adresse auprès de laquelle des
                renseignements d'ordre technique peuvent être obtenus&nbsp;:&nbsp;</I>Ville d'Oyonnax.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>M.&nbsp;Alain
            ROBIN,&nbsp;&nbsp;services Techniques, 6 rue du Stand,&nbsp;&nbsp;01100&nbsp;Oyonnax,&nbsp;, tél.&nbsp;:&nbsp;(+33)
            4-74-81-27-27,&nbsp;, télécopieur&nbsp;:&nbsp;(+33) 4-74-77-18-02,&nbsp;, courriel&nbsp;:&nbsp;alain.robin@oyonnax.fr.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre administratif peuvent être obtenus&nbsp;:&nbsp;</I>Mairie
            d'Oyonnax.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>M.&nbsp;Arnaud CORBET,&nbsp;&nbsp;service Marchés
            Publics, 126 rue Anatole France,&nbsp;&nbsp;01100&nbsp;Oyonnax,&nbsp;, tél.&nbsp;:&nbsp;(+33) 4-74-77-00-06,&nbsp;,
            télécopieur&nbsp;:&nbsp;(+33) 4-74-77-18-60,&nbsp;, courriel&nbsp;:&nbsp;arnaud.corbet@oyonnax.fr.<BR><I>Adresse
                auprès de laquelle les documents peuvent être obtenus&nbsp;:&nbsp;</I>Mairie d'Oyonnax.<BR>&nbsp;service
            Marchés Publics, 126 rue Anatole France,&nbsp;&nbsp;01100&nbsp;Oyonnax,&nbsp;, tél.&nbsp;:&nbsp;(+33)
            4-74-77-00-06,&nbsp;, télécopieur&nbsp;:&nbsp;(+33) 4-74-77-18-60,&nbsp;&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://oyonnax.marcoweb.fr","TestLien","");' class="lien">http://oyonnax.marcoweb.fr</A>.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal Administratif de Lyon&nbsp;184 rue
                Duguesclin&nbsp;69003&nbsp;Lyon Cedex, tél.&nbsp;:&nbsp;(+33) 4-78-14-10-10, courriel&nbsp;:&nbsp;greffe.ta-lyon@juradm.fr,
                télécopieur&nbsp;:&nbsp;(+33) 4-78-14-10-65.</P><I>Précisions concernant le(s) délai(s) d'introduction
                des recours : </I>introduction des recours: - référé précontractuel conformément aux dispositions de
            l'article L. 551-1 du Code de justice administrative, pouvant etre introduit depuis le début de la procédure
            de passation jusqu'à la signature du contrat. - recours gracieux dans un délai de deux mois à compter de la
            notification ou de la publication de la décision faisant grief. - recours pour excès de pouvoir contre les
            actes détachables du contrat et/ou référé suspension (article L. 521-1 du Code de justice administrative)
            dans un délai de deux mois à compter de la notification ou de la publication de la décision attaquée
            (article R. 421-1 du Code de justice administrative). - référé contractuel dans le délai de 30 jours suivant
            la publication de l'avis d'attribution ou dans le délai de six mois suivant la signature du contrat en
            l'absence d'un tel avis (L551-13 et suivants du Code de Justice Administrative). - recours de pleine
            juridiction exercé par tout concurrent évincé de la conclusion d'un contrat administratif contestant la
            validité de ce contrat ou de certaines de ses clauses, assorti le cas échéant de demandes indemnitaires,
            dans un délai de deux mois à compter de l'accomplissement des mesures de publicité appropriées (conséquence
            de la jurisprudence du Conseil d'état du 16 juillet 2007, Société Tropic Travaux Signalisation - req. No
            291545).<BR><img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000208&noa=15-101646" width="1"
                             height="1"></td>
    </tr>
</table>
</body>
</html>