<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>11</B><!-- ED=20158184--><BR>Annonce No&nbsp;<B>15-102153</B><BR>Services<!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Conseil Général de l'Aude.<BR>&nbsp;Correspondant&nbsp;:&nbsp;
            M.&nbsp;le président du Conseil Départemental de l'aude,&nbsp;département de l'aude Allée Raymond Courrière&nbsp;11855&nbsp;Carcassonne
            Cedex 9, tél.&nbsp;:&nbsp;04-68-11-69-70, télécopieur&nbsp;:&nbsp;04-68-11-68-93, courriel&nbsp;:&nbsp;marches@aude.fr&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.aude.fr","TestLien","");' class="lien">http://www.aude.fr</A>.<BR>Le
            pouvoir adjudicateur n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>scénario départemental transmédia pour la médiation
                culturelle des sites pôles du pays cathare</B>.<BR><I>Catégorie de services&nbsp;:&nbsp;</I>26.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;92520000<br><i>Objets supplémentaires&nbsp;:&nbsp;</i>92522000.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>.<BR><I>Code
                    NUTS : </I>|FR811|.
            <p>L'avis implique l'établissement d'un accord-cadre.<BR>Accord-cadre avec un seul opérateur.<BR>Durée de
                l'accord-cadre :&nbsp;43 mois.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>scénario départemental transmédia pour la
                médiation culturelle des sites pôles du pays cathare<BR><I>Refus des variantes</I>.<BR>Prestations
                divisées en lots : non.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>43 mois à compter de la notification du
                marché.<BR><I>Modalités essentielles de financement et de paiement et/ou références aux textes qui les
                    réglementent&nbsp;:&nbsp;</I>mode de financement : Les crédits émaneront du budget propre du
                Département.<Br>- mode de paiement : Virement bancaire (Mandat administratif).<br>- délai de paiement :
                30 jours.<BR><I>Langues pouvant être utilisées dans l'offre ou la
                    candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>capacités techniques et professionnelles<br>- capacités financières.<BR><I>Situation
                juridique - références requises&nbsp;:&nbsp;</I>lettre de candidature (ou Imprimé Dc1)<Br>Déclaration du
                candidat (ou Imprimé Dc2)<Br>Pouvoir de la personne à engager le candidat<br>déclaration sur l'honneur
                du candidat justifiant qu'il n'entre dans aucun des cas mentionnés à l'article 43 du code des marchés
                publics.<BR><I>Capacité économique et financière - références requises&nbsp;:&nbsp;</I>copie du ou des
                jugements prononcés si le candidat est en redressement judiciaire<br>déclaration concernant le chiffre
                d'affaires global et le chiffre d'affaires concernant les travaux, fournitures ou services objet du
                marché, réalisés au cours des trois derniers exercices disponibles<BR><I>Référence professionnelle et
                    capacité technique - références requises&nbsp;:&nbsp;</I>moyens humains (effectifs) et matériels
                (outillage et équipement technique) dont le candidat dispose pour la réalisation de prestations de même
                nature<br>liste des principales références pour des prestations similaires exécutées ou en cours
                d'exécution au cours des trois dernières années (cinq pour les travaux) indiquant notamment indiquant le
                montant, la date et le destinataire public ou privé.
            <p>La prestation n'est pas réservée à une profession particulière.
            <p>Les personnes morales ne sont pas tenues d'indiquer les noms et qualifications professionnelles des
                membres du personnel chargé de la prestation.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Autres
                renseignements demandés&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres renseignements
                demandés : === Offre ===;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres renseignements demandés : acte
                d'engagement;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres renseignements demandés : décomposition du
                Prix Global et Forfaitaire;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres renseignements demandés :
                détail Quantitatif Estimatif;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres renseignements demandés :
                cadre mémoire technique;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres renseignements demandés :
                bordereau des Prix;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres renseignements demandés : cv avec
                références du chef de projet et des intervenants pressentis.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix
                des prestations : 50 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur technique de l'offre : 50 %.<BR>Une
                enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>27&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;16&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>15S0089.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>modalités de retrait des documents : Retrait par voie
                papier ou par voie électronique. <Br>Modalités de sélection des offres : La pondération est exprimée en
                pourcentage.<BR><I>Ce marché s'inscrit-il dans un projet / programme financé par les fonds
                    communautaires&nbsp;:&nbsp;</I> non.
            <P><i>Conditions de remise des offres ou des candidatures :</i><br>remise des plis sous support papier ou
                par voie dématérialisée (voir règlement de la consultation).
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>2&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I>Département de l'Aude.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I> Cécile PRUSS,&nbsp;&nbsp;allée
            Raymond Courrière Service des Marchés Publics Bureau 2.089,&nbsp;&nbsp;11855&nbsp;Carcassonne Cedex 9,&nbsp;&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.aude.fr","TestLien","");' class="lien">http://www.aude.fr</A>.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre technique peuvent être obtenus&nbsp;:&nbsp;</I>Département
            de l'Aude.<BR>&nbsp;département de l'aude Allée Raymond Courrière Service Developpement Economique,&nbsp;&nbsp;11855&nbsp;Carcassonne
            Cedex 9,&nbsp;, tél.&nbsp;:&nbsp;04-68-11-65-77,&nbsp;,
            courriel&nbsp;:&nbsp;vanessa.piquemal@aude.fr.<BR><I>Adresse auprès de laquelle des renseignements d'ordre
                administratif peuvent être obtenus&nbsp;:&nbsp;</I>Département de l'Aude.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>
            Cécile PRUSS,&nbsp;&nbsp;département de l'aude Allée Raymond Courrière Service des Marchés Publics,&nbsp;&nbsp;11855&nbsp;Carcassonne
            Cedex 9,&nbsp;, tél.&nbsp;:&nbsp;04-68-11-69-70,&nbsp;, télécopieur&nbsp;:&nbsp;04-68-11-68-93,&nbsp;,
            courriel&nbsp;:&nbsp;marches@aude.fr,&nbsp;&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://marchespublics.aude.fr","TestLien","");' class="lien">http://marchespublics.aude.fr</A>.<BR><I>Adresse
                auprès de laquelle les documents peuvent être obtenus&nbsp;:&nbsp;</I>Département de l'Aude.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>
            Cécile PRUSS,&nbsp;&nbsp;département de l'aude Allée Raymond Courrière Service des Marchés Publics,&nbsp;&nbsp;11855&nbsp;Carcassonne
            Cedex 9,&nbsp;, tél.&nbsp;:&nbsp;046-81-16-97-01,&nbsp;, télécopieur&nbsp;:&nbsp;04-68-11-68-93,&nbsp;,
            courriel&nbsp;:&nbsp;marches@aude.fr,&nbsp;&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.aude.fr","TestLien","");' class="lien">http://www.aude.fr</A>.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal Administratif de Montpellier&nbsp;tribunal
                Administratif de Montpellier 6, rue Pitot&nbsp;34063&nbsp;Montpellier Cedex, tél.&nbsp;:&nbsp;04-67-54-81-00,
                courriel&nbsp;:&nbsp;greffe.ta-montpellier@juradm.fr, télécopieur&nbsp;:&nbsp;04-67-54-74-10&nbsp;adresse
                internet&nbsp;: <A
                        HREF='javascript:BMP_openWindow("http://www.ta-montpellier.juradm.fr/ta/montpellier/index.shtml","TestLien","");'
                        class="lien">http://www.ta-montpellier.juradm.fr/ta/montpellier/index.shtml</A>.</P>
            <P><I>Organe chargé des procédures de médiation&nbsp;:&nbsp;</I>Comité consultatif Interrégional de
                Règlement Amiable des Différends et des Litiges&nbsp;c.c.i.r.a.l. Secrétariat général pour les Affaires
                Régionales Boulevard Paul Peytral&nbsp;13282&nbsp;Marseille Cedex 20, tél.&nbsp;:&nbsp;04-91-15-63-74,
                télécopieur&nbsp;:&nbsp;04-91-15-61-90&nbsp;adresse internet&nbsp;: <A
                        HREF='javascript:BMP_openWindow("http://www.paca.pref.gouv.fr/frameset.php","TestLien","");'
                        class="lien">http://www.paca.pref.gouv.fr/frameset.php</A>.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000715&noa=15-102153" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>