<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>76</B><!-- ED=20158183--><BR>Annonce No&nbsp;<B>15-101865</B><BR>Fournitures<!--Commune-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Ville de Saint Aubin les
            Elbeuf.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;Masson Jean-Marie, Maire,&nbsp;esplanade de Pattensen
            Cs60015&nbsp;76410&nbsp;Saint-Aubin-les-Elbeuf, tél.&nbsp;:&nbsp;02-35-81-01-84, télécopieur&nbsp;:&nbsp;02-32-82-14-42,
            courriel&nbsp;:&nbsp;servicemarchespublics@ville-saint-aubin-les-elbeuf.fr&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.ville-saint-aubin-les-elbeuf.fr","TestLien","");'
                    class="lien">http://www.ville-saint-aubin-les-elbeuf.fr</A>.<BR>Adresse internet du profil
            d'acheteur&nbsp;: <A HREF='javascript:BMP_openWindow("https://www.mpe76.fr","TestLien","");' class="lien">https://www.mpe76.fr</A>.<BR>Le
            pouvoir adjudicateur n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>fourniture de produits d'épicerie pour les écoles de
                Saint-Aubin-Lès-Elbeuf</B>.<BR><I>Type de marché de fournitures&nbsp;:&nbsp;</I> achat.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;15890000.<BR><I>Lieu de livraison&nbsp;:&nbsp;</I>ville de Saint Aubin les Elbeuf,&nbsp;76410&nbsp;Saint-Aubin-les-Elbeuf.<BR><I>Code
                    NUTS : </I>|FR232|.
            <p>L'avis implique l'établissement d'un accord-cadre.<BR>Accord-cadre avec un seul opérateur.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>il s'agit d'un marché à bons de commande
                au sens de l'article 77 du code des marchés publics<BR><i>Quantités (fournitures et services), nature et
                    étendue (travaux)&nbsp;:&nbsp;</i>montant minimum annuel : 18.000 euro(s) Ht<Br>Montant maximum
                annuel : 35.000 euro(s) (H.T.).<BR><i>Options : descriptions concernant les achats complémentaires&nbsp;:&nbsp;</i>marché
                à bons de commande conclu pour une durée de un an, reconductible trois fois pour une période
                identique.<BR><I>Refus des variantes</I>.<BR>La procédure d'achat du présent avis est couverte par
                l'accord sur les marchés publics de l'OMC : oui.<br/><BR>Prestations divisées en lots : non.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>48 mois à compter de la notification du
                marché.<BR><i>Date&nbsp;prévisionnelle&nbsp;de&nbsp;début&nbsp;des&nbsp;prestations&nbsp;(fournitures/services)&nbsp;:&nbsp;</i>26&nbsp;octobre&nbsp;2015.<BR><I>Modalités
                    essentielles de financement et de paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>financement
                sur le budget de la Ville.<BR><i>Forme juridique que devra revêtir le groupement d'opérateurs
                    économiques attributaire du marché&nbsp;:&nbsp;</i>entreprise unique ou groupement solidaire ou
                conjoint.<BR><I>Langues pouvant être utilisées dans l'offre ou la
                    candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>les compétences techniques, professionnelles et financières seront
                examinées selon la conformité des pièces fournies à l'appui de la candidature.<BR><I>Situation juridique
                    - références requises&nbsp;:&nbsp;</I>renseignements concernant la forme juridique du
                candidat.<BR><I>Capacité économique et financière - références requises&nbsp;:&nbsp;</I>chiffre
                d'affaires (H.T.) des trois dernières années ou des trois derniers exercices clos<BR><I>Référence
                    professionnelle et capacité technique - références requises&nbsp;:&nbsp;</I>références similaires au
                cours des trois dernières années. Moyens humains et matériels.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire obligatoirement par le candidat, à l'appui de sa candidature&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Copie
                du ou des jugements prononcés, si le candidat est en redressement judiciaire.<br/><br/><i>Documents à
                    produire à l'appui des candidatures par le candidat, au choix de l'acheteur
                    public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire DC1, Lettre de
                candidature - Habilitation du mandataire par ses co-traitants (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC2, Déclaration du candidat individuel ou du membre du groupement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;S'il
                s'appuie, pour présenter sa candidature, sur les capacités professionnelles, techniques et financières
                d'autres opérateurs économiques, le candidat produit les mêmes documents concernant cet opérateur
                économique que ceux qui lui sont exigés par l'acheteur public. Le candidat doit également apporter la
                preuve que chacun de ces opérateurs économiques mettra à sa disposition les moyens nécessaires, pendant
                toute la durée d'exécution du marché public ou de l'accord-cadre;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                les documents fournis par le candidat ne sont pas établis en langue française, ils doivent être
                accompagnés d'une traduction en français, certifiée conforme à l'original par un traducteur
                assermenté.<br/><br/><i>Documents à produire obligatoirement par l'attributaire, avant la signature et
                    la notification du marché public ou de l'accord-cadre (formulaire NOTI1)&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Les
                pièces prévues aux articles D. 8222-5 ou D. 8222-7 et D. 8222-8 du code du travail;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                l'attributaire est établi en France, les attestations et certificats délivrés par les administrations et
                organismes compétents prouvant qu'il a satisfait à ses obligations fiscales et sociales ou un état
                annuel des certificats reçus;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si les documents fournis par le
                candidat ne sont pas établis en langue française, ils doivent être accompagnés d'une traduction en
                français, certifiée conforme à l'original par un traducteur assermenté.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;montant
                de l'offre : 40 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur technique : 60 %.<BR>Une enchère
                électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>4&nbsp;septembre&nbsp;2015,&nbsp;à&nbsp;17&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>90 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>765612015015.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>les candidats doivent impérativement remettre les
                produits suivants dans le but d'évaluer leur qualité par des tests de cuisson et de dégustation :
                spaghetti, tortis, coquillettes, blé, semoule couscous, riz blanc, en sac complet, et petits pois extra
                fins, en boîte, selon le poids indiqué dans le descriptif technique du Cctp.<Br>Ces échantillons seront
                demandés par télécopieur ou par mail . Ils ne devront en aucun cas être envoyés sans demande préalable
                écrite du Responsable de la Restauration.<Br>Ces échantillons doivent parvenir avant la date indiquée
                dans le mail ou le télécopieur, à l'adresse suivante :<Br>Cantine de l'ecole Paul Bert<Br>Rue
                Gantois<Br>76410 saint aubin les Elbeuf<Br>Ils sont fournis gratuitement et ne seront pas restitués à
                l'issue des tests.<br>tout retard ou absence d'échantillons entrainera l'élimination de l'offre.
            <p><I>Conditions et mode de paiement pour obtenir les documents contractuels et additionnels</I> :<BR>Le
                dossier de consultation est téléchargeable gratuitement sur : https://www.mpe76.fr. Il pourra aussi être
                obtenu en adressant une demande écrite par télécopieur (02.32.82.14.42), par mail
                (servicemarchespublics@ville-saint-aubin-les-elbeuf.fr) ou courrier (Hôtel de Ville - esplanade de
                Pattensen - cS 60015 - 76410 Saint-Aubin-Lès-Elbeuf) ou retiré sur place.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>les offres dématérialisées sont
                acceptées, mais l'offre retenue dématérialisée sera obligatoirement rematérialisée, pour signatures par
                les parties en vue de la notification du marché.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>2&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I>Mairie de Saint Aubin les Elbeuf - Service marchés publics.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>M.&nbsp;le
            maire,&nbsp;&nbsp;esplanade de Pattensen - cs60015,&nbsp;&nbsp;76410&nbsp;Saint-Aubin-les-Elbeuf,&nbsp;&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("https://www.mpe76.fr","TestLien","");' class="lien">https://www.mpe76.fr</A>.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre technique peuvent être obtenus&nbsp;:&nbsp;</I>Mairie de
            Saint Aubin les Elbeuf - service restauration.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>M.&nbsp;Yves
            Morand,&nbsp;&nbsp;esplanade de Pattensen - cs60015,&nbsp;&nbsp;76410&nbsp;Saint-Aubin-les-Elbeuf,&nbsp;,
            tél.&nbsp;:&nbsp;02-35-81-75-52,&nbsp;, télécopieur&nbsp;:&nbsp;02-35-78-99-55.<BR><I>Adresse auprès de
                laquelle des renseignements d'ordre administratif peuvent être obtenus&nbsp;:&nbsp;</I>Mairie de Saint
            Aubin les Elbeuf - service marchés publics.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>Mme&nbsp;Alexandra
            Mignot,&nbsp;&nbsp;esplanade de Pattensen - cs60015,&nbsp;&nbsp;76410&nbsp;Saint-Aubin-les-Elbeuf,&nbsp;,
            tél.&nbsp;:&nbsp;02-35-81-01-84,&nbsp;, télécopieur&nbsp;:&nbsp;02-32-82-14-42,&nbsp;, courriel&nbsp;:&nbsp;servicemarchespublics@ville-saint-aubin-les-elbeuf.fr,&nbsp;&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("https://www.mpe76.fr","TestLien","");' class="lien">https://www.mpe76.fr</A>.<BR><I>Adresse
                auprès de laquelle les documents peuvent être obtenus&nbsp;:&nbsp;</I>Mairie de Saint Aubin les Elbeuf -
            Service marchés publics.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>Mme&nbsp;Catherine Robbe,&nbsp;&nbsp;esplanade
            de Pattensen - cs60015,&nbsp;&nbsp;76410&nbsp;Saint-Aubin-les-Elbeuf,&nbsp;, tél.&nbsp;:&nbsp;02-35-81-01-84,&nbsp;,
            télécopieur&nbsp;:&nbsp;02-32-82-14-42,&nbsp;, courriel&nbsp;:&nbsp;servicemarchespublics@ville-saint-aubin-les-elbeuf.fr,&nbsp;&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("https://www.mpe76.fr","TestLien","");' class="lien">https://www.mpe76.fr</A>.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de Rouen&nbsp;53&nbsp;avenue
                Gustave Flaubert&nbsp;76000&nbsp;Rouen, tél.&nbsp;:&nbsp;02-32-08-12-70, courriel&nbsp;:&nbsp;greffe.ta-rouen@juradm.fr,
                télécopieur&nbsp;:&nbsp;02-32-08-12-71.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Greffe
                du tribunal administratif de Rouen&nbsp;53&nbsp;avenue Gustave Flaubert&nbsp;76000&nbsp;Rouen, tél.&nbsp;:&nbsp;02-32-08-12-70,
                courriel&nbsp;:&nbsp;greffe.ta-rouen@juradm.fr, télécopieur&nbsp;:&nbsp;02-32-08-12-71.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000427&noa=15-101865" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>