<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>53</B><!-- ED=20158187--><BR>Annonce No&nbsp;<B>15-102634</B><BR>Services<!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Syndicat de bassin oudon
            nord.<BR>&nbsp;Correspondant&nbsp;:&nbsp;louis Michel,&nbsp;za Villeneuve - rue de Buchenberg&nbsp;53400&nbsp;Craon,
            tél.&nbsp;:&nbsp;02-43-91-79-79, courriel&nbsp;:&nbsp;bassinoudon@yahoo.fr.<BR>Le pouvoir adjudicateur agit
            pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s) Activité(s) de l'entité adjucatrice
                : </i> Eau.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>etude sur la restauration de la continuité écologique de
                l'étang de la Guéhardière et la réduction de la vulnérabilité aux inondations de Montjean</B>.<BR><I>Catégorie
                de services&nbsp;:&nbsp;</I>12.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>bassin versant de l'oudon.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>groupement de commandes composé du
                Syndicat de Bassin pour l'aménagement de la rivière Oudon et du Syndicat Mixte du Bassin de l'oudon pour
                la Lutte contre les Inondations et les Pollutions.<Br>Coordonnateur du groupement de commandes :
                Syndicat de Bassin pour l'aménagement de la rivière Oudon <br><br>- lot 1 : Etude de faisabilité sur la
                restauration de la continuité écologique du barrage de l'étang de la Guéhardière<br><br>- lot 2 : Etude
                de faisabilité pour réduire la vulnérabilité aux inondations de la commune de Montjean<BR><i>Options :
                    descriptions concernant les achats complémentaires&nbsp;:&nbsp;</i>lot 1 - options :<Br>Option 1 :
                Levés bathymétriques complémentaires de l'étang<Br>Option 2 : Levés topographiques complémentaires en
                aval <Br>Option 3 : Achat du modèle hydraulique du site de la Guéhardière<Br>Option 4 : Achat du modèle
                hydraulique de la ville de Craon<Br><Br>Lot 2 - options :<Br>Option 1 : Achat du modèle hydraulique de
                Montjean.<BR><I>Des variantes seront-elles prises en compte: </I>oui.La procédure d'achat du présent
                avis est couverte par l'accord sur les marchés publics de l'OMC : non.<br/><BR>Prestations divisées en
                lots : oui.<BR>Possibilité de pr&eacute;senter une offre pour tous les lots.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>12 mois à compter de la notification du
                marché.<BR><i>Date&nbsp;prévisionnelle&nbsp;de&nbsp;début&nbsp;des&nbsp;prestations&nbsp;(fournitures/services)&nbsp;:&nbsp;</i>1.e.r&nbsp;novembre&nbsp;2015.<BR><i>Date&nbsp;prévisionnelle&nbsp;de&nbsp;commencement&nbsp;des&nbsp;travaux&nbsp;:&nbsp;</i>31&nbsp;octobre&nbsp;2016.<BR><I>Langues
                    pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire obligatoirement par le candidat, à l'appui de sa candidature&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Copie
                du ou des jugements prononcés, si le candidat est en redressement judiciaire;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                sur l'honneur du candidat justifiant qu'il n'entre dans aucun des cas mentionnés à l'article 43 du code
                des marchés publics, concernant les interdictions de soumissionner;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                sur l'honneur du candidat attestant qu'il est en règle, au cours de l'année précédant celle au cours de
                laquelle a lieu le lancement de la consultation, au regard des articles L. 5212-1, L. 5212-2, L. 5212 5
                et L. 5212-9 du code du travail, concernant l'emploi des travailleurs handicapés;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                le candidat est établi en France, une déclaration sur l'honneur du candidat justifiant que le travail
                est effectué par des salariés employés régulièrement au regard des articles L. 1221-10, L. 3243-2 et R.
                3243-1 du code du travail (dans le cas où le candidat emploie des salariés, conformément à l'article D.
                8222-5-3° du code du travail);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si le candidat est établi ou
                domicilié à l'étranger, une déclaration sur l'honneur du candidat attestant qu'il fournit à ses salariés
                des bulletins de paie comportant les mentions prévues à l'article R. 3243-1 du code du travail, ou des
                documents équivalents.<br/><br/><i>Documents à produire à l'appui des candidatures par le candidat, au
                    choix de l'acheteur public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire DC1,
                Lettre de candidature - Habilitation du mandataire par ses co-traitants (disponible à l'adresse suivante
                : http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC2, Déclaration du candidat individuel ou du membre du groupement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4).<br/><br/><i>Documents
                    à produire obligatoirement par l'attributaire, avant la signature et la notification du marché
                    public ou de l'accord-cadre (formulaire NOTI1)&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                l'attributaire est établi en France, les attestations et certificats délivrés par les administrations et
                organismes compétents prouvant qu'il a satisfait à ses obligations fiscales et sociales ou un état
                annuel des certificats reçus.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur
                technique : 60 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix des prestations : 40 %.
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>15&nbsp;septembre&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>90 jours à compter de la date limite de réception
                des offres.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>3&nbsp;juillet&nbsp;2015.</P>
            <P><I>Renseignements relatifs aux lots&nbsp;:&nbsp;</I>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 1.</span> - etude de faisabilité sur la
                                    restauration de la continuité écologique du barrage de l'étang de la Guéhardière.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Etude de faisabilité sur la restauration de la continuité écologique du
                                    barrage de l'étang de la Guéhardière
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 2.</span> - etude de faisabilité pour réduire
                                    la vulnérabilité aux inondations de la commune de Montjean.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Etude de faisabilité pour réduire la vulnérabilité aux inondations de la
                                    commune de Montjean
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3001196&noa=15-102634" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>