<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>6</B><!-- ED=20158184--><BR>Annonce No&nbsp;<B>15-101392</B><BR>Services<!--Commune-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Ville de Nice.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.
            le maire,&nbsp;5 rue de l'hôtel de ville&nbsp;06364&nbsp;Nice Cedex 4, tél.&nbsp;:&nbsp;04-97-13-44-70,
            télécopieur&nbsp;:&nbsp;04-97-13-29-19, courriel&nbsp;:&nbsp;dao@nicecotedazur.org.<BR>Le pouvoir
            adjudicateur n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<p><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>achat
                et maintenance d'un logiciel de gestion de maintenance assistée par ordinateur (Gmao) pour la Cuisine
                centrale de la ville de Nice</B>.<BR><I>Catégorie de
                services&nbsp;:&nbsp;</I>7.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;48000000.<BR><I>Lieu
                d'ex&eacute;cution&nbsp;:&nbsp;</I>ville de Nice.<BR><I>Code NUTS : </I>FR823.
            <p>L'avis implique l'établissement d'un accord-cadre.<BR>Accord-cadre avec un seul opérateur.<BR>Durée de
                l'accord-cadre :&nbsp;4 an(s).
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>la présente consultation est passée dans
                le respect des dispositions du code des marchés publics selon une procédure adaptée ouverte en
                application de l'article 28 du code des marchés publics avec négociation, librement définie par le
                pouvoir adjudicateur.<Br>La consultation a pour objet : l'achat et la maintenance d'un logiciel de
                Gestion de Maintenance assistée par ordinateur (Gmao) qui doit permettre de disposer et d'assurer le
                suivi des prestations suivantes : <Br>-Achat de matériel et inventaire, gestion d'amortissement<Br>-Suivi
                de la maintenance corrective<Br>-Suivi de la maintenance préventive et des contrôles réglementaires.<Br>-Réalisation
                de rapports d'activité (indicateurs)<BR><i>Quantités (fournitures et services), nature et étendue
                    (travaux)&nbsp;:&nbsp;</i>il s'agit d'un marché à prix mixtes:<br><br>- une partie forfaitaire
                correspondant aux prestations d'acquisition des logiciels de base, des prestations de mise en &oelig;uvre
                initiale, et des garanties, maintenance, et hébergement initiaux<br><br>- une partie unitaire correspond
                aux acquisitions et prestations supplémentaires, et aux garanties, maintenances et hébergement à l'issue
                de la première année, dont les montants minimum et maximum par période sont les suivants:<Br>Minimum: 10
                000 HT<Br>Maximum: 55 000 HT<Br>Les prestations feront l'objet d'un marché fractionné à bons de commande
                en application de l'article 77 du code des marchés publics. Les prestations du marché sont exécutées par
                l'émission de bons de commande successifs selon les besoins. Chaque bon de commande précise celles des
                prestations décrites dans le marché dont l'exécution est demandée. Il en détermine la quantité.<Br><br>-
                durée du marché :<Br>Le délai d'exécution du marché court à compter de la date de sa notification.<Br>La
                durée initiale est de 2 an(s).<Br>Le marché pourra faire l'objet de 1 reconduction(s) sans que sa durée
                totale ne puisse excéder 4 an(s). <Br>La reconduction est expresse.<BR><i>Options : descriptions
                    concernant les achats complémentaires&nbsp;:&nbsp;</i>- Des avenants et/ou des marchés
                complémentaires et/ou des prestations similaires (article 35 II du code des marchés publics) pourront
                être conclus, dans le respect des seuils de mise en concurrence fixés par le code des marchés
                publics.<Br>- concernant les marchés complémentaires de services, le montant cumulé de ces marchés
                complémentaires ne dépassera pas 50% du montant du marché principal.<Br>- le nombre de reconductions
                possibles est de 1.<BR><i>Nombre de reconductions éventuelles&nbsp;:&nbsp;</i>1.<BR><I>Refus des
                    variantes</I>.<BR>La procédure d'achat du présent avis est couverte par l'accord sur les marchés
                publics de l'OMC : non.<br/><BR>Prestations divisées en lots : non.<BR><I>Cautionnement et garanties
                    exigés&nbsp;:&nbsp;</I>néant.<BR><I>Modalités essentielles de financement et de paiement et/ou
                    références aux textes qui les réglementent&nbsp;:&nbsp;</I>financement du marché : fonds propres<Br>Modalités
                de règlement des prestations : selon les règles de la comptabilité publique et celles prévues par le
                Code des Marchés Publics et par mandat administratif.<Br>Délai global de paiement : 30 jours à compter
                de la réception de la facture.<Br>Comptable assignataire : M. L'administrateur des finances publiques de
                Nice Municipale<Br>Prix : révisables.<Br>Avance : sans objet.<BR><i>Forme juridique que devra revêtir le
                    groupement d'opérateurs économiques attributaire du marché&nbsp;:&nbsp;</i>conjoint ou
                solidaire.<BR><I>L'exécution du marché est soumise à d'autres conditions particulières : </I>non.<BR><I>Langues
                    pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>-
                Lettre de candidature (Dc1 mis à jour au 25/08/2014) ou équivalent : Elle devra être complétée, datée et
                signée.<Br>- déclaration du candidat (Dc2 mis à jour au 15/09/10) ou équivalent, complétée.<BR><I>Capacité
                    économique et financière - références requises&nbsp;:&nbsp;</I>chiffres d'affaires : Déclaration
                concernant le chiffre d'affaires global réalisé au cours du dernier exercice disponible<BR><I>Référence
                    professionnelle et capacité technique - références requises&nbsp;:&nbsp;</I>liste des principaux
                services : Présentation d'une liste des principaux services effectués au cours des trois dernières
                années, indiquant le montant, la date et le destinataire public ou privé.<Br>Le candidat pourra prouver
                sa capacité par tout autre document considéré comme équivalent par le pouvoir adjudicateur s'il est
                objectivement dans l'impossibilité de produire l'un des renseignements demandés relatifs à sa capacité.
            <p>La prestation n'est pas réservée à une profession particulière.
            <p>Les personnes morales ne sont pas tenues d'indiquer les noms et qualifications professionnelles des
                membres du personnel chargé de la prestation.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;la
                valeur technique : 70 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;le prix : 30 %.<BR>Une enchère
                électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>28&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;16&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>VDN-15-0009.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>1/ Jugement des offres <Br>Le pouvoir adjudicateur
                retiendra l'offre économiquement la plus avantageuse à l'issue d'un classement.<Br>Le choix de l'offre
                économiquement la plus avantageuse s'effectuera selon les critères pondérés suivants :<Br>- la valeur
                technique : 70/100<Br> Définition du critère : Ce critère est noté sur 20.<Br>Ce critère sera noté au vu
                des éléments indiqués par le candidat dans le cadre de mémoire technique et dans le bordereau des
                précisions techniques.<Br><Br>Si le candidat ne renseigne pas l'un des éléments demandés, il obtiendra
                la note de 0.<Br>1) Description du logiciel et méthodologie de l'offre- noté sur 12 (au regard du
                cmt)<br><Br>Il est rappelé que le consultant dédié devra posséder au minimum 5 ans d¿expérience dans le
                domaine de la gestion de parcs d¿équipements en lien avec une activité industrielle<Br><Br>2) Couverture
                technique par rapport aux besoins - noté sur 8 (au regard du bpt)<br><br>- le prix : 30/100<Br>Définition
                du critère : Ce critère est noté sur 20<Br>Le prix sera jugé sur la base du montant total du DDED
                calculé à partir des prix figurant dans le bpu.<Br><Br>En cas d'égalité de la note globale, c'est le
                candidat le mieux placé sur le critère majoritaire qui sera attributaire du marché.<Br><br><Br>2/
                Eléments de négociation<Br>Le pouvoir adjudicateur engagera des négociations avec les candidats dont les
                offres, à l'issue d'un premier classement, ont été jugées les meilleures.<Br>3/ À compter du
                1<sup>er</sup> janvier 2010 et conformément à l'arrêté du 14 décembre 2009 relatif à la
                dématérialisation des procédures de passation des marchés publics, l'identification des opérateurs
                économiques pour accéder aux documents de la consultation n'est plus obligatoire. Toutefois, nous
                attirons votre attention sur le fait que l'identification vous permet d'être tenus informés
                automatiquement des modifications et des précisions éventuellement apportées au DCE. Dans le cas
                contraire, il vous appartiendra de récupérer par vos propres moyens les informations communiquées.
                <Br><Br>4/Conditions de remise des plis : <Br>La transmission des documents requis pour les marchés
                informatiques se fait obligatoirement par voie électronique. <Br>A) par voie électronique uniquement ;
                <Br>B) par voie électronique et par courrier ; dans ce cas la transmission par courrier est la copie de
                sauvegarde de la transmission par voie électronique. <Br>Précisions concernant la remise des copies de
                sauvegarde par courrier : <Br>Les copies de sauvegarde devront être expédiées par la poste en recommandé
                avec avis de réception ou remis contre récépissé. <Br>- précisions concernant la remise des plis par
                voie électronique : <Br>Les formats électroniques acceptés sont ceux des pièces du dossier de
                consultation des entreprises (Dce) fournie par le pouvoir adjudicateur. <Br>Sont aussi acceptés, pour
                les documents scannés, les formats suivant : pdf, bmp, jpg, jpeg, tif, tiff ou GIF. <Br>* Le certificat
                de signature électronique doit être en cours de validité. <Br>Conformément à l'arrêté du 15 juin 2012
                relatif à la signature électronique dans les marchés publics, tout envoi électronique devra être signé
                au moyen de certificats de signature électronique conformes au RGS (y compris pades, cades ou Xades).
                <Br>Les certificats RGS utilisés devront être au minimum d'un niveau 2 étoiles. <Br>La copie de
                sauvegarde (sur support physique cd-rom, dvd-rom ... , ou sur support papier) peut être envoyée par
                l'opérateur économique dans les conditions prévues par l'arrêté Ministériel du 14.12.2009. Cette copie
                de sauvegarde doit parvenir dans les délais impartis pour la remise des plis et être placée dans un pli
                scellé comportant la mention lisible "copie de sauvegarde" à l'adresse indiquée à l'article relatif à la
                remise sur support papier ou support physique électronique du règlement de la consultation. <Br><Br>Cas
                de la copie de sauvegarde : <Br>Direction des contrats publics / marchés publics <Br>45 rue gioffredo
                <Br>06364 NICE Cedex 4 <Br>Pli pour " nom du marche " <Br>A ouvrir par le représentant du pouvoir
                adjudicateur.<BR><I>Date limite d'obtention</I> : 28&nbsp;juillet&nbsp;2015, à 16&nbsp;heures.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>2&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I>La remise des plis par voie électronique est obligatoire.<BR>&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.e-marches06.fr","TestLien","");'
                               class="lien">http://www.e-marches06.fr</A>.<BR><I>Adresse auprès de laquelle des
                renseignements complémentaires peuvent être obtenus&nbsp;:&nbsp;</I>uniquement par mail à :
            sebastien.carletto@ville-nice.fr / dao@nicecotedazur.org.<BR><I>Adresse auprès de laquelle les documents
                peuvent être obtenus&nbsp;:&nbsp;</I>Uniquement par voie dématérialisée.<BR>&nbsp;adresse internet&nbsp;:
            <A HREF='javascript:BMP_openWindow("http://www.e-marches06.fr","TestLien","");' class="lien">http://www.e-marches06.fr</A>.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal Administratif de Nice, 33
                Boulevard Franck Pilatte, F-06300 Nice. Tél. (+33) 4 92 04 13 13. télécopieur (+33) 4 93 55 78 31.</P>
            <P><I>Organe chargé des procédures de médiation&nbsp;:&nbsp;</I>Préfecture de la région Provence - Alpes -
                Côte d'Azur - Secrétariat général pour les affaires régionales, place Félix-Baret - cS 80001, F-13282
                Marseille Cedex 06. Tél. (+33) 4 84 35 45 54. télécopieur (+33) 4 84 35 44 60 E-mail :
                catherine.pietri@paca.pref.gouv.fr.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Greffe
                du Tribunal Administratif de Nice, 33 Boulevard Franck Pilatte, F-06300 Nice. Tél. (+33) 4 92 04 13 13.
                télécopieur (+33) 4 93 55 78 31.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2999954&noa=15-101392" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>