<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>28</B><!-- ED=20158182--><BR>Annonce No&nbsp;<B>15-100091</B><BR>Travaux<!--Commune-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Ville de Châteaudun.<BR>&nbsp;Correspondant&nbsp;:&nbsp;
            le maire,&nbsp;2 place du 18 Octobre&nbsp;28200&nbsp;Châteaudun, tél.&nbsp;:&nbsp;02-37-45-11-91,
            télécopieur&nbsp;:&nbsp;02-37-45-54-46, courriel&nbsp;:&nbsp;marchespublics@mairie-chateaudun.fr&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.ville-chateaudun.fr/","TestLien","");'
                               class="lien">http://www.ville-chateaudun.fr/</A>.<BR>Adresse internet du profil
            d'acheteur&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.ville-chateaudun.fr/","TestLien","");'
                                 class="lien">http://www.ville-chateaudun.fr/</A>.<p><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>eglise
                saint-valérien : restauration des facades</B>.<BR><I>Type de marché de travaux&nbsp;:&nbsp;</I>
                exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45212350.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>eglise
                saint-valerien rue Gambetta,&nbsp;28200&nbsp;Chateaudun.<BR><I>Code NUTS : </I>|FR242|.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR><I>Refus des variantes</I>.<BR>Prestations
                divisées en lots : oui.<BR>Possibilité de pr&eacute;senter une offre pour un ou plusieurs lots.<BR><I>Langues
                    pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Autres
                renseignements demandés&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres renseignements
                demandés : lettre de candidature Dc1 (anciennement DC&nbsp;4) et Déclaration du Candidat Dc2
                (anciennement Dc5) disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres
                renseignements demandés : noti2 (DC&nbsp;7) ou documents équivalents en cas de candidat étranger (Etat
                annuel des certificats reçus, disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-notification).<BR>un mémoire indiquant les effectifs moyens
                annuels, les moyens techniques et matériels du candidat et la liste des travaux effectués au cours des
                cinq dernières années.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).<BR>Une enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>1.e.r&nbsp;septembre&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i>
            <P><I>Renseignements complémentaires&nbsp;:&nbsp;</I>retrouvez cet avis intégral, l'accès au dossier et le
                guichet de dépôt sur http://www.ville-chateaudun.fr/<BR>Marché à tranches conditionnelles.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>30&nbsp;juin&nbsp;2015.</P><I>Adresse à
                laquelle les offres/candidatures/projets/demandes de participation doivent être envoyés&nbsp;:&nbsp;</I>Mairie
            de Châteaudun : Service des Marchés.<BR>&nbsp;2 place du 18
            Octobre,&nbsp;&nbsp;28200&nbsp;Chateaudun.<BR><I>Adresse auprès de laquelle des renseignements
                complémentaires peuvent être obtenus&nbsp;:&nbsp;</I>Direction des Services Techniques.<BR>&nbsp;2 place
            du 18 Octobre,&nbsp;&nbsp;28200&nbsp;Chateaudun,&nbsp;, tél.&nbsp;:&nbsp;02-37-45-89-41,&nbsp;, télécopieur&nbsp;:&nbsp;02-37-45-98-42,&nbsp;,
            courriel&nbsp;:&nbsp;dstm@mairie-chateaudun.fr.<BR><I>Adresse auprès de laquelle des renseignements d'ordre
                technique peuvent être obtenus&nbsp;:&nbsp;</I>PATRICE CALVEL ARCHITECTE DPLG : ARCHITECTE EN CHEF DES
            MONUMENTS HISTORIQUES.<BR>&nbsp;7 rue Pasteur,&nbsp;&nbsp;91800&nbsp;Brunoy,&nbsp;, tél.&nbsp;:&nbsp;01-60-46-17-28,&nbsp;,
            télécopieur&nbsp;:&nbsp;01-60-46-16-51,&nbsp;, courriel&nbsp;:&nbsp;cabinet.calvel-acmh@wanadoo.fr.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre administratif peuvent être obtenus&nbsp;:&nbsp;</I>Mairie
            de Châteaudun : Service des Marchés.<BR>&nbsp;2 place du 18 Octobre,&nbsp;&nbsp;28200&nbsp;Chateaudun,&nbsp;,
            tél.&nbsp;:&nbsp;02-37-45-11-91,&nbsp;, télécopieur&nbsp;:&nbsp;02-37-45-54-46,&nbsp;, courriel&nbsp;:&nbsp;marchespublics@mairie-chateaudun.fr.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal Administratif d'Orléans&nbsp;28
                rue de la Bretonnerie Cedex 1&nbsp;45057&nbsp;Orleans, tél.&nbsp;:&nbsp;02-38-77-59-00, télécopieur&nbsp;:&nbsp;02-38-53-85-16.
            </P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Greffe
                du Tribunal Administratif d'Orléans&nbsp;28, rue de la Bretonnerie Cedex 1&nbsp;45057&nbsp;Orleans, tél.&nbsp;:&nbsp;02-38-77-59-00,
                courriel&nbsp;:&nbsp;greffe.ta-orleans@juradm.fr, télécopieur&nbsp;:&nbsp;02-38-53-85-16.</P>
            <P><I>Renseignements relatifs aux lots&nbsp;:&nbsp;</I>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 1.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">maconnerie - pierre de taille</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45262512.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 2.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">couverture</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45261210.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 3.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">restauration de sculpture</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;92312230.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 4.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">serrurerie</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;44316500.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 5.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">vitrerie de restauration</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;39299000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 6.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">verriere de doublage</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;39299000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 7.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">menuiserie</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45421000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 8.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">horlogerie</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;39254000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2998653&noa=15-100091" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>