<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>972</B><!-- ED=20158184--><BR>Annonce No&nbsp;<B>15-102620</B><BR>Services<!--Autre-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>CGSSM.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;le
            directeur général de la Caisse Générale de Sécurité Sociale de la Martinique, Département Marchés,&nbsp;place
            d'armes&nbsp;97210&nbsp;Lamentin Cedex 02, tél.&nbsp;:&nbsp;05-96-66-50-89, télécopieur&nbsp;:&nbsp;05-96-51-54-00,
            courriel&nbsp;:&nbsp;marchespublics@cgss-martinique.fr&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.cgss-martinique.fr","TestLien","");' class="lien">http://www.cgss-martinique.fr</A>.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.achatpublic.com","TestLien","");' class="lien">http://www.achatpublic.com</A>.<BR>Le
            pouvoir adjudicateur n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Protection sociale.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>la présente consultation a pour objectif de fournir
                essentiellement à des cadres supérieurs de l'organisme des smartphones " Android " équipés de ligne
                d'abonnement GSM 3g+ minimum, permettant les communications voix, la connexion à la messagerie, le surf
                internet</B>.<BR><I>Catégorie de services&nbsp;:&nbsp;</I>5.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;32252000.<BR><I>Lieu
                d'ex&eacute;cution&nbsp;:&nbsp;</I>siège, Centre de Césaire.<BR><I>Code NUTS : </I>FR92.
            <p>L'avis implique l'établissement d'un accord-cadre.<BR>Accord-cadre avec un seul opérateur.<BR>Durée de
                l'accord-cadre :&nbsp;24 mois.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><br><i>Quantités (fournitures et services),
                nature et étendue (travaux)&nbsp;:&nbsp;</i>le marché est traité à bons de commande :<Br><Br>&#61607;Montant
                minimum sur deux ans : 20 000 euros (H.T.) ;<Br>&#61607;Montant maximum sur deux ans : 100 000 euros
                (H.T.).<Br><Br>Les prestations sont décrites dans le cahier des Clauses Techniques Particulières.<BR><i>Options
                    : descriptions concernant les achats complémentaires&nbsp;:&nbsp;</i>en application de l'article
                35-ii-5°du code des Marchés Publics, l'organisme se réserve la possibilité de recourir à un marché
                complémentaire avec le titulaire du marché.<BR><I>Refus des variantes</I>.<BR>La procédure d'achat du
                présent avis est couverte par l'accord sur les marchés publics de l'OMC : non.<br/><BR>Prestations
                divisées en lots : oui.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>24 mois à compter de la notification du
                marché.<BR><I>Modalités essentielles de financement et de paiement et/ou références aux textes qui les
                    réglementent&nbsp;:&nbsp;</I>modalités de financement : budget de la CGSS de la Martinique <Br>Modalités
                de paiement : virement bancaire dans la limite de 30 jours conformément au décret 408-2008 du 28 avril
                2008 relatif à la mise en &oelig;uvre du délai maximum de paiement dans les marchés publics- paiement
                direct.<BR><I>Langues pouvant être utilisées dans l'offre ou la
                    candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>-La
                lettre de candidature selon le nouvel imprimé Dc1 (ancien DC&nbsp;4) téléchargeable sur
                http://www.economie.gouv.fr/directions_services/daj/marches_publics/formulaires/DC/imprimes_dc/dc1.rtf;<Br>-La
                déclaration du candidat selon le nouvel imprimé Dc2 (ancien Dc5) téléchargeable sur
                http://www.economie.gouv.fr/directions_services/daj/marches_publics/formulaires/DC/imprimes_dc/dc2.rtf ;<Br>-Le
                candidat devra renseigner, dater et signer la déclaration sur l'honneur type remise par la CGSSM ;<Br>-Une
                présentation du candidat, de son organisation et des moyens dont il dispose ;<Br>-Une liste de
                références pour des prestations similaires (moins de trois ans), avec les références du client, leur
                montant et leur date d'exécution. <Br>-Si l'entreprise est en redressement judiciaire, une copie
                certifiée conforme du jugement.<Br>-Si les documents ne sont pas signés par la personne habilitée, ils
                devront être accompagnés d'un pouvoir.<Br>-Une attestation d'assurance en cours de validité.<Br>Dans
                tous les cas, au moment de l'attribution :<Br>-Une copie de l'attestation URSSAF de " versement de
                cotisations et de fourniture de déclarations des candidats attributaires d'un marché public " ou l'état
                annuel NOTI 2 fourni par le trésorier payeur général ou par le receveur général des finances établi au
                31 décembre 2014 ; <Br>-Une copie de l'attestation URSSAF de " fourniture de déclarations sociales et de
                paiement des cotisations et contributions de sécurité sociale " datant de moins de six mois ;<Br>-La
                copie des certificats attestant la déclaration et le paiement des impôts, taxes et cotisations sociales,
                délivrés par les administrations fiscales et organismes compétents, ou l'état annuel NOTI 2 fourni par
                le trésorier payeur général ou par le receveur général des finances établi au 31 décembre 2014 ;<Br>-Une
                copie de l'extrait K-Bis datant de moins de trois mois ;<Br>-Les pièces prévues aux articles D8222-5 ou
                D8222-7 et D8222-8 du code du travail.<BR><I>Capacité économique et financière - références requises&nbsp;:&nbsp;</I>toute
                documentation permettant d'apprécier la capacité financière de l'entreprise<BR><I>Référence
                    professionnelle et capacité technique - références requises&nbsp;:&nbsp;</I>les références relatives
                à l'objet du marché.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire obligatoirement par le candidat, à l'appui de sa candidature&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Copie
                du ou des jugements prononcés, si le candidat est en redressement judiciaire.<br/><br/><i>Documents à
                    produire à l'appui des candidatures par le candidat, au choix de l'acheteur
                    public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration concernant le chiffre
                d'affaires global et le chiffre d'affaires concernant les fournitures, services ou travaux objet du
                marché, réalisés au cours des trois derniers exercices disponibles;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                appropriée de banques ou preuve d'une assurance pour les risques professionnels;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                indiquant les effectifs moyens annuels du candidat et l'importance du personnel d'encadrement pour
                chacune des trois dernières années;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Présentation d'une liste des
                principales fournitures ou des principaux services effectués au cours des trois dernières années,
                indiquant le montant, la date et le destinataire public ou privé. Les livraisons et les prestations de
                services sont prouvées par des attestations du destinataire ou, à défaut, par une déclaration de
                l'opérateur économique;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire DC1, Lettre de candidature -
                Habilitation du mandataire par ses co-traitants (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC2, Déclaration du candidat individuel ou du membre du groupement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                les documents fournis par le candidat ne sont pas établis en langue française, ils doivent être
                accompagnés d'une traduction en français, certifiée conforme à l'original par un traducteur
                assermenté.<br/><br/><i>Documents à produire obligatoirement par l'attributaire, avant la signature et
                    la notification du marché public ou de l'accord-cadre (formulaire NOTI1)&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Les
                pièces prévues aux articles D. 8222-5 ou D. 8222-7 et D. 8222-8 du code du travail;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                l'attributaire est établi en France, les attestations et certificats délivrés par les administrations et
                organismes compétents prouvant qu'il a satisfait à ses obligations fiscales et sociales ou un état
                annuel des certificats reçus;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si les documents fournis par le
                candidat ne sont pas établis en langue française, ils doivent être accompagnés d'une traduction en
                français, certifiée conforme à l'original par un traducteur assermenté.<br/><br/><i>Autres
                    renseignements demandés&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres
                renseignements demandés : - la déclaration sur l'honneur type;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres
                renseignements demandés : - une présentation du candidat, de son organisation et des moyens dont il
                dispose.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;1.le
                prix : 50 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;2.le délai : 10 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;3.la
                qualité technique de l'offre : 40 %.
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>27&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;16&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>180 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>15 10 00.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>les candidats sont informés que conformément à
                l'article 56 du code des marchés publics, les offres peuvent être transmises par voie électronique sur
                le site suivant : https://www.achatpublic.com.<Br>La transmission des candidatures et des offres par
                voie électronique devra se faire obligatoirement au moyen d'un certificat électronique dans les
                conditions énoncées par l'arrêté du 28 Août 2006 pris en application du I de l'article 48 et de
                l'article 56 du code des marchés publics et relatif à la dématérialisation.<Br>En cas d'envoi par voie
                dématérialisée via la plate-forme achat public, le candidat est informé que l'heure limite de réception
                des offres est 16 heures, heure de Paris.<Br><br>" Certification : <Br><Br>Pour déposer une candidature
                et une offre par voie électronique, les candidats doivent disposer d'un certificat de signature
                électronique répondant aux conditions prévues par arrêté du Ministère de l'economie et des Finances du
                15 juin 2012 relatif à la signature électronique dans les marchés publics.<Br>Ils sont ensuite chiffrés.<Br><Br>Les
                catégories de certificats électroniques acceptés par le profil d'acheteur sont :<Br><Br>-Les certificats
                RGS, dont la liste est disponible sur le site :<Br> http://www.references.modernisation.gouv.fr<Br><Br>-Les
                certificats délivrés par une autorité de certification figurant sur la liste établie par la Commission
                européenne conformément à la décision 2009/767/ce du 16 octobre 2009, dont la liste est disponible sur
                le site :
                http://ec.europa.eu/information_society/policy/esignature/eu_legislation/trusted_lists/index_en.htm<Br><Br>-Un
                certificat répondant à des normes équivalentes à celles du RGS. Dans ce cas, le signataire doit joindre
                à son envoi électronique l'adresse du site Internet de référencement du prestataire par le pays
                d'établissement ou, à défaut, les données publiques relatives au certificat du signataire, qui
                comportent au moins la liste de révocation et le certificat du prestataire de services de certification
                électronique émetteur.<Br><br>nb : A compter du 19 mai 2013, seuls les certificats de signature
                électronique conformes au référentiel général de sécurité (Rgs) prévu par l'ordonnance du 8 décembre
                2005 devront être utilisés pour signer les documents.<Br><br> Dans tous les cas, les certificats de
                signature doivent être de niveau ** ou *** et le signataire doit joindre à son envoi électronique la
                procédure permettant la vérification de la validité de la signature.<Br><Br>Les formats de signature
                acceptés sont Pades, Cades et Xades.<Br><Br>Le signataire doit pouvoir produire les éléments propres à
                établir que la signature utilisée a été délivrée à une personne qui pouvait engager l'entreprise dans
                les conditions énumérées aux articles 1316 à 1316-4 du Code Civil.<Br>Le Candidat produit les éléments
                permettant d'établir que c'est la personne habilitée qui a envoyé électroniquement ou validé l'envoi
                électronique des candidatures et des offres. "<br><Br>Les dossiers sous format " papier "Devront
                parvenir, sous enveloppe cachetée, en recommandé avec AR ou être remis contre récépissé à l'adresse
                indiquée ci-dessous, au plus tard aux date et heure limites de réception des offres.<Br><Br>Les
                candidats pourront remettre leur offre sous enveloppe cachetée portant les mentions suivantes :<Br>Marché
                " Fourniture de service de téléphonie mobile connectée "<Br>Caisse Générale de Sécurité Sociale de la
                Martinique<Br>" Département Marchés "<Br>Hall 3 ; Niveau -1 ; Couloir 6<Br>Place d'armes<Br>97 210
                LAMENTIN Cedex 2<br>a n'ouvrir qu'en seance de commission des marches<br><Br>Les horaires d'ouverture de
                la GSSM sont les suivants :<Br>Lundi et Jeudi : 08h à 12&nbsp;heures et 14&nbsp;heures à 16h<Br>Mardi,
                Mercredi et Vendredi : 08h à 12h30<br><br> 3 Conditions pour obtenir les documents :<Br><Br>Les
                candidats intéressés devront impérativement récupérer les dossiers complets sur le site suivant :
                https://www.achatpublic.com.<Br><br> Le demandeur qui aurait fourni une adresse erronée, ou qui ne se
                serait pas inscrit sur la plateforme de téléchargement, ne saurait invoquer une atteinte à l'égalité de
                traitement des candidats, du fait que l'organisme n'a pas pu lui transmettre une nouvelle version des
                documents.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>2&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I>CGSSM.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>département Marchés,&nbsp;&nbsp;place
            d'armes,&nbsp;&nbsp;97210&nbsp;Lamentin Cedex 02,&nbsp;, tél.&nbsp;:&nbsp;05-96-66-50-89,&nbsp;, télécopieur&nbsp;:&nbsp;05-96-51-54-00,&nbsp;&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("https://www.achatpublic.com","TestLien","");'
                               class="lien">https://www.achatpublic.com</A>.<BR><I>Adresse auprès de laquelle des
                renseignements d'ordre administratif peuvent être obtenus&nbsp;:&nbsp;</I>CGSSM.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>département
            Marchés,&nbsp;&nbsp;place d'armes,&nbsp;&nbsp;97210&nbsp;Lamentin Cedex 02,&nbsp;, tél.&nbsp;:&nbsp;05-96-66-50-89,&nbsp;,
            télécopieur&nbsp;:&nbsp;05-96-51-54-00,&nbsp;, courriel&nbsp;:&nbsp;marchespublics@cgss-martinique.fr,&nbsp;&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("https://www.achatpublic.com","TestLien","");'
                               class="lien">https://www.achatpublic.com</A>.<BR><I>Adresse auprès de laquelle les
                documents peuvent être obtenus&nbsp;:&nbsp;</I>CGSSM.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>département
            Marchés,&nbsp;&nbsp;place d'armes,&nbsp;&nbsp;97210&nbsp;Lamentin Cedex 02,&nbsp;, tél.&nbsp;:&nbsp;05-96-66-50-89,&nbsp;,
            télécopieur&nbsp;:&nbsp;05-96-51-54-00,&nbsp;&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://www.achatpublic.com","TestLien","");' class="lien">https://www.achatpublic.com</A>.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>TGI&nbsp;35 Boulevard Général de Gaulle&nbsp;97200&nbsp;Fort-de-France,
                tél.&nbsp;:&nbsp;08-99-02-51-35, courriel&nbsp;:&nbsp;gug.fort-de-france@justice.fr, télécopieur&nbsp;:&nbsp;08-99-02-33-28.
            </P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>TGI&nbsp;35
                Boulevard Général de Gaulle&nbsp;97200&nbsp;Fort-de-France, tél.&nbsp;:&nbsp;08-99-02-51-35, courriel&nbsp;:&nbsp;gug.fort-de-france@justice.fr,
                télécopieur&nbsp;:&nbsp;08-99-02-33-28.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3001182&noa=15-102620" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>