<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center>
            <center><I>Rectificatif</I></center>
            <BR>Département(s) de publication : <B>27</B><!-- ED=20158182--><BR>Annonce No&nbsp;<B>15-101141</B>
            <HR>
            -&nbsp;<!--Autre--><!--DEBUTFACT--><I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>HABITAT
            COOPERATIF DE NORMANDIE.<BR>&nbsp;Correspondant&nbsp;:&nbsp;service developpement,&nbsp;4, rue Saint Pierre
            B.P.&nbsp;587&nbsp;27005&nbsp;Evreuxtél.&nbsp;:&nbsp;02-32-62-23-47courriel&nbsp;:&nbsp;mbazin@lfeure.fr.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.hcnormandie.com/","TestLien","");' class="lien">http://www.hcnormandie.com/</A>.
            <p><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>construction de 13 logements individuels</B>.<BR><I>Lieu
                d'ex&eacute;cution&nbsp;:&nbsp;</I>la Plaine,&nbsp;27930&nbsp;Guichainville.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Références de l'avis initial&nbsp;:</i><Br>
            <Table>
                <Tr>
                    <Td class="txt" colspan="2" valign="top"><span>mis en ligne sur le site <A
                            href="http://www.boamp.fr/avis/detail/15-96127/officiel" class="lien" " target="_blank" title="voir la publication sur Boamp.Fr" >www.boamp.fr</a></span>
                        du <B>29/06/2015</B> au <B>31/08/2015</B></Td>
                </Tr>
            </Table>
            <BR/><i>Informations rectificatives :</i>
            <P>Dans la rubrique&nbsp;&nbsp;<I>"caractéristiques principales du marché"</I>&nbsp;:<BR>Ajouter&nbsp;:&nbsp;"marché
                ouvert en groupement ou corps d'états séparés<Br>Prestations divisées en lots: oui".<BR><img
                        src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2999703&noa=15-101141" width="1"
                        height="1"></td>
    </tr>
</table>
</body>
</html>