<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>27</B><!-- ED=20158181--><BR>Annonce No&nbsp;<B>15-100401</B><BR>Travaux<!--Etat-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>ESID de Rennes.<BR>&nbsp;Correspondant&nbsp;:&nbsp;Mme&nbsp;leray
            marie, Etablissement du Service d'infrastructure de la Défense de RENNES,&nbsp;quartier Margueritte bp14&nbsp;35998&nbsp;Rennes
            Cedex 9, tél.&nbsp;:&nbsp;02-23-35-22-95, télécopieur&nbsp;:&nbsp;02-23-35-21-93.<BR><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Défense.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>evreux (27) - bA 105- construction d'un bâtiment pour
                maîtres-chiens</B>.<BR><I>Type de marché de travaux&nbsp;:&nbsp;</I>
                exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45000000.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>base
                Aérienne 105 d'evreux - route de Paris,&nbsp;27000&nbsp;Evreux Fauville.<BR><I>Code NUTS : </I>|FR231|.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>construction d'un bâtiment pour
                maîtres-chiens<BR><I>Refus des variantes</I>.<BR>Prestations divisées en lots : oui.<BR>Possibilité de
                pr&eacute;senter une offre pour un ou plusieurs lots.<BR><I>Modalités essentielles de financement et de
                    paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>budget Défense, crédits
                infrastructure du ministère de la défense, paiement selon les modalités du CMP, prix révisables, délai
                global de paiement fixé à 30 jours.<BR><i>Forme juridique que devra revêtir le groupement d'opérateurs
                    économiques attributaire du marché&nbsp;:&nbsp;</i>groupement solidaire, ou<br>groupement conjoint.
                Dans cette hypothèse, la forme imposée du groupement après attribution est le groupement conjoint avec
                un mandataire solidaire de chacun des membres du groupement.<BR><I>Langues pouvant être utilisées dans
                    l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>conformément au 6.1 du règlement de la consultation.<BR><I>Situation
                juridique - références requises&nbsp;:&nbsp;</I>si non fournie dans le Dc2 : déclaration du chiffre
                d'affaire global sur 3 dernières années.<BR><I>Capacité économique et financière - références requises&nbsp;:&nbsp;</I>effectifs
                moyens annuels du candidat pour les 3 dernières années<BR><I>Référence professionnelle et capacité
                    technique - références requises&nbsp;:&nbsp;</I>certificats de qualifications professionnelles
                (cf.art.6.1 du Rc) ou équivalents :<Br>Lot 1 - st1 : Qualibat 2112 ;<Br>Lot 1 - st5 : Qualibat 3522
                ;<Br>Lot 2 : Qualibat 3212 ;<Br>Lot 4 : Qualibat 5432 ;<Br>Lot 5 : Qualibat 1321.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire à l'appui des candidatures par le candidat, au choix de l'acheteur
                public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire DC1, Lettre de candidature -
                Habilitation du mandataire par ses co-traitants (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC2, Déclaration du candidat individuel ou du membre du groupement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;S'il
                s'appuie, pour présenter sa candidature, sur les capacités professionnelles, techniques et financières
                d'autres opérateurs économiques, le candidat produit les mêmes documents concernant cet opérateur
                économique que ceux qui lui sont exigés par l'acheteur public. Le candidat doit également apporter la
                preuve que chacun de ces opérateurs économiques mettra à sa disposition les moyens nécessaires, pendant
                toute la durée d'exécution du marché public ou de l'accord-cadre;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                les documents fournis par le candidat ne sont pas établis en langue française, ils doivent être
                accompagnés d'une traduction en français, certifiée conforme à l'original par un traducteur
                assermenté.<br/><br/><i>Documents à produire obligatoirement par l'attributaire, avant la signature et
                    la notification du marché public ou de l'accord-cadre (formulaire NOTI1)&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Les
                pièces prévues aux articles D. 8222-5 ou D. 8222-7 et D. 8222-8 du code du travail;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                l'attributaire est établi dans un Etat autre que la France, un certificat établi par les administrations
                et organismes du pays d'origine. Lorsqu'un tel certificat n'est pas délivré par le pays concerné, il
                peut être remplacé par une déclaration sous serment, ou dans les Etats où un tel serment n'existe pas,
                par une déclaration solennelle faite par l'intéressé devant l'autorité judiciaire ou administrative
                compétente, un notaire ou un organisme professionnel qualifié du pays;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                les documents fournis par le candidat ne sont pas établis en langue française, ils doivent être
                accompagnés d'une traduction en français, certifiée conforme à l'original par un traducteur assermenté.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).<BR>Une enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>3&nbsp;août&nbsp;2015,&nbsp;à&nbsp;16&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>15-029 CS 442059.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>30&nbsp;juin&nbsp;2015.</P><I>Adresse
                auprès de laquelle des renseignements d'ordre administratif et technique peuvent être obtenus&nbsp;:&nbsp;</I>ESID
            de Rennes.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>Mme&nbsp;Leray Marie,&nbsp;&nbsp;quartier Margueritte -
            B.P.&nbsp;14,&nbsp;&nbsp;35998&nbsp;Rennes Cedex 9,&nbsp;, tél.&nbsp;:&nbsp;02-23-35-22-95,&nbsp;,
            télécopieur&nbsp;:&nbsp;02-23-35-21-93,&nbsp;, courriel&nbsp;:&nbsp;marie.leray@intradef.gouv.fr.<BR><I>Adresse
                auprès de laquelle les documents peuvent être obtenus&nbsp;:&nbsp;</I><BR>&nbsp;adresse internet&nbsp;:
            <A HREF='javascript:BMP_openWindow("https://www.marches-publics.gouv.fr/?page=entreprise.EntrepriseAdvancedSearch&AllCons&refConsultation=259083&orgAcronyme=g7h","TestLien","");'
               class="lien">https://www.marches-publics.gouv.fr/?page=entreprise.EntrepriseAdvancedSearch&AllCons&refConsultation=259083&orgAcronyme=g7h</A>.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de Rennes&nbsp;3,
                contour de la Motte&nbsp;35044&nbsp;Rennes Cedex, tél.&nbsp;:&nbsp;02-23-21-28-20, courriel&nbsp;:&nbsp;greffe.ta-rennes@juradm.fr,
                télécopieur&nbsp;:&nbsp;02-99-63-56-84.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Tribunal
                administratif de Rennes&nbsp;3, contour de la Motte&nbsp;35044&nbsp;Rennes Cedex, tél.&nbsp;:&nbsp;02-23-21-28-20,
                courriel&nbsp;:&nbsp;greffe.ta-rennes@juradm.fr, télécopieur&nbsp;:&nbsp;02-99-63-56-84.</P>
            <P><I>Renseignements relatifs aux lots&nbsp;:&nbsp;</I>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 1.</span> - gros-&oelig;uvre - démolitions -
                                    vRD - clos couvert - agencements - finitions.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Le lot 1 est divisé en 7 sections techniques<br>les travaux concernent 2
                                    tranches : 1 tranche ferme et 1 tranche conditionnelle
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : délai d'exécution 9 mois + 2 mois de
                                    préparation.<BR></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45000000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 2.</span> - etanchéité-Toiture-Terrasse.</td>
                            </tr>
                            <tr>
                                <td class="txt">Les travaux concernent la tranche ferme</td>
                            </tr>
                            <tr>
                                <td class="txt"><I>Durée :</I>&nbsp; 11 mois à compter de la date de notification du
                                    marché.<BR></td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45261420.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 3.</span> - electricité courants forts -
                                    courants faibles.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Les travaux concernent 2 tranches : 1 tranche ferme et une tranche
                                    conditionnelle
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"><I>Durée :</I>&nbsp; 11 mois à compter de la date de notification du
                                    marché.<BR></td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45311000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 4.</span> - chauffage-Plomberie-Vmc.</td>
                            </tr>
                            <tr>
                                <td class="txt">Les travaux concernent la tranche ferme</td>
                            </tr>
                            <tr>
                                <td class="txt"><I>Durée :</I>&nbsp; 11 mois à compter de la date de notification du
                                    marché.<BR></td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45331000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 5.</span> - vrd-Espaces verts.</td>
                            </tr>
                            <tr>
                                <td class="txt">Les travaux concernent la tranche ferme</td>
                            </tr>
                            <tr>
                                <td class="txt"><I>Durée :</I>&nbsp; 11 mois à compter de la date de notification du
                                    marché.<BR></td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45236000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2998963&noa=15-100401" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>