<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>56</B><!-- ED=20158187--><BR>Annonce No&nbsp;<B>15-102361</B><BR>Fournitures<!--Commune-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Ville de Lorient.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;le
            maire,&nbsp;service Commande Publique - 2 bd Leclerc - cS 30010&nbsp;56315&nbsp;Lorient Cedex, tél.&nbsp;:&nbsp;02-97-02-22-64,
            télécopieur&nbsp;:&nbsp;02-97-02-22-44, courriel&nbsp;:&nbsp;achats@mairie-lorient.fr&nbsp;adresse internet&nbsp;:
            <A HREF='javascript:BMP_openWindow("http://www.lorient.fr","TestLien","");' class="lien">http://www.lorient.fr</A>.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.e-megalisbretagne.org","TestLien","");' class="lien">http://www.e-megalisbretagne.org</A>.
            <p><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>illuminations de Noël - hiver 2015 - mise à disposition,
                installation, maintenance et dépose de motifs. Marché à "bons de commande". Minimum (T.T.C.) 60 000
                euros - maximum (T.T.C.) 150 000 euros. Période de fonctionnement : Du 5.12.2015 au
                3.01.2016</B>.<BR><I>Type de marché de fournitures&nbsp;:&nbsp;</I> location.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;31000000.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR><I>Refus des variantes</I>.<BR>La
                procédure d'achat du présent avis est couverte par l'accord sur les marchés publics de l'OMC : oui.<br/><BR>Prestations
                divisées en lots : non.<BR><I>Modalités essentielles de financement et de paiement et/ou références aux
                    textes qui les réglementent&nbsp;:&nbsp;</I>mandat administratif. Délai de paiement 30 jours. Prix
                fermes. Financement sur les fonds propres de la collectivité. Paiements selon avancement. Avance de 5 %
                selon disposition des articles 87-ii-2° à 89 du Code des Marches Publics, moyennant dépôt préalable
                d'une garantie à première demande. <Br>Retenue de garantie : Sans objet.<BR><I>Langues pouvant être
                    utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée,
                    l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>critères de recevabilité des candidatures : <Br>Conformité administrative ;
                Capacités professionnelles ; Moyens techniques et humains ; Chiffres d'affaires.<BR><I>Capacité
                    économique et financière - références requises&nbsp;:&nbsp;</I>déclaration des chiffres d'affaires
                réalisés au cours des 3 derniers exercices (entreprises nouvelles, justifier de la date de création)<Br>Référence
                professionnelle et capacité technique - références requises : moyens humains et techniques. <Br>Références
                récentes sur fournitures et prestations de même nature et de même ampleur (préciser objet, année,
                montant, nom du maître d'ouvrage). A défaut, le candidat prouvera par tout moyen sa capacité
                professionnelle à assurer les prestations
            <P><I>Marché réservé :&nbsp;</I>non.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>3&nbsp;septembre&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>90 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i>
            <P><I>Renseignements complémentaires&nbsp;:&nbsp;</I>type de procédure : Procédure adaptée en application
                des articles 26-ii, 28 et 77 du code des marchés publics. <Br>Marché à "bons de commande. Accord-Cadre
                souscrit avec un attributaire non remis en concurrence lors des commandes. <Br><Br>Critères
                d'attribution : <Br>Offre économiquement la plus avantageuse appréciée en fonction des critères énoncés
                ci-dessous avec leur pondération : <Br>- prix : 40 %. <Br>- qualité artistique et décorative de nuit des
                propositions en réponse au thème retenu par la Ville ; insertion dans le paysage urbain : 35 %. <Br>-
                consommation d'énergie de la proposition : 15 %. <Br>- moyens techniques de mise en &oelig;uvre,
                démontage, maintenance : 10 %. <Br>Le marché ne fera pas l'objet d'une négociation avant attribution.
                <Br><Br>Conditions de participation : (Documents fixés en application des articles 43 à 45 du Code des
                Marchés Publics)<Br>Déclaration sur l'honneur à compléter par chaque candidat ou chaque membre en cas de
                groupement (cf. Site www.colloc.bercy.gouv.fr - rubrique Marchés Publics - imprimés Dc1 - dc2, modèles
                non obligatoires), datée et signée attestant que le candidat : <Br>- a satisfait aux obligations
                fiscales et sociales au titre de l'année 2014. <br><br>a) Condamnation définitive : <Br>- ne pas avoir
                fait l'objet, depuis moins de cinq ans, d'une condamnation définitive pour l'une des infractions prévues
                aux articles 222-38, 222-40, 226-13, 313-1 à 313-3, 314-1 à 314-3, 324-1 à 324-6, 413-9 à 413-12, 421-1
                à 421-2-3, au deuxième alinéa de l'article 421-5, à l'article 433-1, au second alinéa de l'article
                433-2, au huitième alinéa de l'article 434-9, au second alinéa de l'article 434-9-1, aux articles 435-3,
                435-4, 435-9, 435-10, 441-1 à 441-7, 441-9, 445-1 et 450-1 du code pénal, à l'article 1741 du code
                général des impôts, aux articles L. 2339-2 à L. 2339-4, L. 2339-11-1 à L. 2339-11-3 du code de la
                défense et à l'article L. 317-8 du code de la sécurité intérieure, ou pour une infraction de même nature
                dans un autre Etat de l'union européenne ; <Br>- ne pas être exclu des marchés publics, à titre de peine
                principale ou complémentaire prononcée par le juge pénal, sur le fondement des articles 131-10 ou 131-39
                du code pénal. <br><br>b) Lutte contre le travail illégal : <Br>- ne pas avoir fait l'objet, depuis
                moins de cinq ans, d'une condamnation inscrite au bulletin no2 du casier judiciaire pour les infractions
                mentionnées aux articles L. 8221-1, L. 8221-3, L. 8221-5, L. 8231-1, L. 8241-1 , L. 8251-1 et L. 8251-2
                du code du travail, ou pour des infractions de même nature dans un autre Etat de l'union européenne ;
                <Br>- pour les contrats administratifs, ne pas faire l'objet d'une mesure d'exclusion ordonnée par le
                préfet, en application des articles L. 8272-4, R. 8272-10 et R. 8272-11 du code du travail. <br><br>c)
                Obligation d'emploi des travailleurs handicapés ou assimilés : <Br>Etre en règle, au cours de l'année
                précédant celle au cours de laquelle a lieu le lancement de la consultation, au regard des articles L.
                5212-1 à L. 5212-11 du code du travail concernant l'emploi des travailleurs handicapés. <br><br>d)
                Liquidation judiciaire : <Br>Ne pas être soumis à la procédure de liquidation judiciaire prévue à
                l'article L. 640-1 du code de commerce, ne pas être en état de faillite personnelle en application des
                articles L. 653-1 à L. 653-8 du même code, et ne pas faire l'objet d'une procédure équivalente régie par
                un droit étranger. <br><br>e) Redressement judiciaire : <Br>Ne pas être admis à la procédure de
                redressement judiciaire instituée par l'article L. 631-1 du code de commerce ou à une procédure
                équivalente régie par un droit étranger ou justifier d'une habilitation à poursuivre ses activités
                pendant la durée prévisible d'exécution du marché ou de l'accord-cadre.<Br><br>f) Egalité
                professionnelle entre les femmes et les hommes :<Br>- ne pas avoir fait l'objet, depuis moins de cinq
                ans, d'une condamnation inscrite au bulletin n<sup>o</sup> 2 du casier judiciaire pour les infractions
                mentionnées à l'article L. 1146-1 du code du travail.<Br>- avoir, au 31 décembre de l'année précédant
                celle au cours de laquelle a lieu le lancement de la consultation, mis en &oelig;uvre l'obligation de
                négociation prévue à l'article L. 2242-5 du code du travail ou, à défaut, avoir réalisé ou engagé la
                régularisation de cette situation à la date de la soumission.<Br><br>g) que les renseignements fournis
                dans le formulaire Dc2, et ses annexes, sont exacts.<Br><Br>En cas de groupement, chaque membre fournira
                les documents et attestations ci-dessus ainsi qu'une déclaration de candidature signée de chaque partie
                ou imprimés Dc1 - dc2 (cf. Site www.colloc.bercy.gouv.fr, rubrique marchés publics). Pour un groupement,
                la capacité technique et professionnelle sera appréciée globalement et non pas pour chacun des membres.
                <Br><Br>De même si le candidat souhaite faire valoir les capacités d'un autre intervenant (ex.
                Sous-Traitant), ce dernier fournira les renseignements et documents ci-avant de nature à permettre
                d'apprécier ses moyens, capacités financières et professionnelles aux côtés du candidat, accompagné d'un
                engagement écrit d'assurer la mission. <Br><Br>Après jugement des offres, le pouvoir adjudicateur
                sollicitera du candidat le mieux classé, les certificats fiscaux et sociaux et attestations mentionnés à
                l'article 46 du Code des Marchés Publics et lui fixera un délai pour les produire. <Br><Br>Renseignement
                d'ordre technique : Service Voirie - tél 02.97.35.32.49. <Br>Renseignements d'ordre administratif :
                Service Commande publique - té 02.97.02.22.64. <Br><Br>Délais et voie de recours : <Br>Instance chargée
                des procédures de recours : <Br>Tribunal Administratif de Rennes 3 Contour de la Motte, F-35044 Rennes
                Cedex., tél. : 02-23-21-28-28, télécopieur : 02-99-63-56-84. Courriel : greffe.ta-rennes@juradm.fr. <Br><Br>Services
                auprès desquels des renseignements peuvent être obtenus concernant l'introduction des recours : <Br>Tribunal
                Administratif de Rennes ; adresse ci-dessus. <Br>Direction Des Instances et des Affaires Juridiques de
                la Ville de Lorient - tel 02.97.02.22.45 - télécopieur 02.97.02.21.72. <Br><Br>Conditions et mode de
                paiement pour obtenir les documents contractuels et additionnels : <Br>Par télécopieur au
                02.97.02.22.44. Dossier également téléchargeable totalement ou partiellement sur
                www.e-megalisbretagne.org ou a partir du site de la ville www.lorient.fr, rubrique marchés publics. <Br><Br>Conditions
                de remise des offres ou des candidatures : <Br>M.&nbsp;le maire de la Ville de Lorient - service
                Commande Publique - adresse : voir rubrique 1. <Br>La transmission des offres par voie électronique
                sécurisée est possible. En parallèle, la transmission d'une "copie de sauvegarde" par voie papier ou
                support physique électronique au plus tard aux date et heure limites de dépôt des offres est autorisée.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>3&nbsp;juillet&nbsp;2015.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000923&noa=15-102361" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>