<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>84</B>,&nbsp;13<!-- ED=20158183--><BR>Annonce No&nbsp;<B>15-101640</B><BR>Travaux
            <!--Autre--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Conseil Rég Provence-Alpes-Côte
            d'Azur.<BR>&nbsp;Correspondant&nbsp;:&nbsp; MARIA Jean-Charles, directeur général Délégué,&nbsp;agissant au
            nom et pour le compte de la Région PACA, 29 Boulevard Charles Nedelec, CS
            90250&nbsp;13331&nbsp;Marseille.<BR>Adresse internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://achat.regionpaca.fr","TestLien","");' class="lien">http://achat.regionpaca.fr</A>.<BR>Le
            pouvoir adjudicateur agit pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s) Activité(s) du
                pouvoir adjudicateur : </i> Logement et équipements collectifs.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>réhabilitation du hangar Delta 1 à l'aéroport
                Avignon-Provence (84)</B>.<BR><I>Type de marché de travaux&nbsp;:&nbsp;</I> exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;45311000.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>vaucluse (84).
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>réhabilitation TCE et mises aux normes
                d'un hangar d'aviation d'une surface de 2850 m2 environ - réhabilitation et mises aux normes des VRD de
                proximité desservant le batiment - accès, parking, ep, eu, aep, électricité. Marché séparé à tranches
                conditionnelles<BR><i>Quantités (fournitures et services), nature et étendue (travaux)&nbsp;:&nbsp;</i>tranche
                Ferme : Réhabilitation du hangar Delta 1.<BR><i>Options : descriptions concernant les achats
                    complémentaires&nbsp;:&nbsp;</i>tranche Conditionnelle 1: Reprise réseau EP côté Ouest.<BR><I>Des
                    variantes seront-elles prises en compte: </I>oui.La procédure d'achat du présent avis est couverte
                par l'accord sur les marchés publics de l'OMC : non.<br/><BR>Prestations divisées en lots : oui.<BR>Possibilité
                de pr&eacute;senter une offre pour un ou plusieurs lots.<BR><I>Cautionnement et garanties exigés&nbsp;:&nbsp;</I>retenue
                de garantie de 5,000%, qui peut etre remplacée par une garantie à première demande.<br>garantie à
                première demande couvrant 100,000% du montant de l'avance.<BR><I>Modalités essentielles de financement
                    et de paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>articles 86 à 111 du
                Code des marchés publics français. Caractéristiques des prix : Prix global forfaitaire. Modalités de
                variation des prix : Révision mensuelle. Une avance de 20,000% sera accordée dans les conditions prévues
                au contrat. Modalité de règlement des comptes : via un système de gestion informatique des marchés. Le
                délai global de paiement est de 30 jours. Modalités de financements : Assuré en totalité par le Conseil
                Régional.<BR><i>Forme juridique que devra revêtir le groupement d'opérateurs économiques attributaire du
                    marché&nbsp;:&nbsp;</i>aucune forme de groupement imposée à l'attributaire. S'il s'agit d'un
                groupement conjoint, le mandataire est obligatoirement solidaire des autres membres du groupement. En
                outre, il est interdit aux candidats de présenter plusieurs offres en agissant à la fois : - en qualité
                de candidats individuels et de membres d'un ou plusieurs groupements ; - en qualité de membres de
                plusieurs groupements.<BR><I>L'exécution du marché est soumise à d'autres conditions particulières
                    : </I>les marchés débuteront à compter du 01/10/2015 jusqu'au 01/08/2016. Tranche Ferme: Délai 10
                mois Tranche Conditionnelle 1: Délai 10 mois Des prestations supplémentaires ou alternatives sont
                définies au cahier des charges.<BR><I>Langues pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>lettre
                de candidature et habilitation du mandataire par ses cotraitants ; Copie du ou des jugements prononcés,
                si le candidat est en redressement judiciaire ; Déclaration sur l'honneur pour justifier que le candidat
                n'entre dans aucun des cas mentionnés à l'article 43 du CMP ; Renseignements sur le respect de
                l'obligation d'emploi mentionnée aux articles L. 5212-1 à L. 5212-11 du Code du travail.<BR><I>Capacité
                    économique et financière - références requises&nbsp;:&nbsp;</I>déclaration concernant le chiffre
                d'affaires global et le chiffre d'affaires concernant les travaux objet du contrat, réalisés au cours
                des trois derniers exercices disponibles<BR><I>Référence professionnelle et capacité technique -
                    références requises&nbsp;:&nbsp;</I>déclaration indiquant les effectifs moyens annuels du candidat
                et l'importance du personnel d'encadrement pour chacune des trois dernières années ; Liste des travaux
                exécutés au cours des cinq dernières années, appuyée d'attestations de bonne exécution pour les travaux
                les plus importants. Ces attestations indiquent le montant, l'époque et le lieu d'exécution des travaux
                et précisent s'ils ont été effectués selon les règles de l'art et menés régulièrement à bonne fin ;
                Déclaration indiquant l'outillage, le matériel et l'équipement technique dont le candidat dispose pour
                la réalisation de contrats de meme nature ; Le(S) certificat(s) de qualification demandé(s) ou
                référence(s) ou qualification(s) équivalentes.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur
                technique de l'offre : 60 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix des prestations : 40 %.<BR>Une
                enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>23&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;17&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>826BTXXA.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>retrouvez cet avis intégral, l'accès au dossier et le
                guichet de dépôt sur http://achat.regionpaca.fr<BR>Marché à tranches conditionnelles<br>durée du marché
                : A compter du 01/10/2015 Jusqu'Au 01/08/2016les candidats doivent utiliser les formulaires Dc1 (lettre
                de candidature) et Dc2 (déclaration du candidat) pour présenter leur candidature. Ces documents sont
                disponibles gratuitement sur le site www.economie.gouv.fr. Conformément à la législation française,
                l'ouverture des offres n'est pas publique. Ref AAPC 15/65 MM - valeur indicative de l'ensemble des lots
                objet de la présente consultation 2 000 000 euro(s) (H.T.) l'attention des candidats est attirée sur le
                fait que les travaux sont à exécuter dans un site ou des locaux occupés par des usagers. Les offres
                peuvent etre transmises par lettre recommandée avec avis de réception ou déposées contre récépissé .
                Dématérialisation des procédures : l'organisme acheteur préconise la transmission des plis par
                voieélectronique. Il accepte cependant les plis adressés par d'autres moyens permettant d'en garantir la
                confidentialité et la date de réception. Les modalités de transmission électronique des plis sont
                définies dans le règlement de la consultation.
            <p><i>Le présent marché a un caractère périodique :&nbsp;</i>non.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>1.e.r&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I>AREA Provence-Alpes-Côte d'Azur : Service Marchés.<BR>&nbsp;29 Boulevard Charles
            Nédélec, Horaires : 8h30 à12h et 13h30 à 17h, CS 90250 Cedex 03,&nbsp;&nbsp;13331&nbsp;Marseille.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre technique peuvent être obtenus&nbsp;:&nbsp;</I>Agence
            ARCHITECTES CACTUS : M SELTZER - Architecte.<BR>&nbsp;mandataire du GC de maitrise d'&oelig;uvre 14 rue de
            la Guirlande,&nbsp;&nbsp;13002&nbsp;Marseille,&nbsp;, tél.&nbsp;:&nbsp;(+33) 4-91-91-36-68.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre administratif peuvent être obtenus&nbsp;:&nbsp;</I>AREA
            Provence-Alpes-Côte d&nbsp;Azur : M CHIAMBRETTO - Chef de projet ou Mme&nbsp;MARQUIE - Assistante.<BR>&nbsp;29,
            Boulevard Charles Nédélec CS 90250 Cedex 03,&nbsp;&nbsp;13331&nbsp;Marseille,&nbsp;, tél.&nbsp;:&nbsp;(+33)
            4-91-14-36-00.<p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de
                Marseille&nbsp;22, 24 rue Breteuil&nbsp;13006&nbsp;Marseille, tél.&nbsp;:&nbsp;04-91-13-48-13, courriel&nbsp;:&nbsp;greffe.ta-marseille@juradm.fr,
                télécopieur&nbsp;:&nbsp;04-91-81-13-87.</P><I>Précisions concernant le(s) délai(s) d'introduction des
                recours : </I>cf. Le Greffe du Tribunal Administratif à l'adresse ci-dessus.<p><I>Renseignements
                relatifs aux lots&nbsp;:&nbsp;</I>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 1.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Voirie Réseaux Divers<Br>Voirie VL - stationnements - réseaux ep, eu,
                                    aep, edf, telecom, Eclairage - micro station champ d'épandage&nbsp;:&nbsp;délai
                                    Tranche ferme: 10 mois . Délai Tranche condi. 1: 10 mois.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : références et qualifications : FNTP
                                    n<sup>o</sup>2313. FNTP n<sup>o</sup>2342. FNTP n<sup>o</sup>3121. FNTP
                                    n<sup>o</sup>5113. FNTP n<sup>o</sup>5192. FNTP n<sup>o</sup>5422. FNTP
                                    n<sup>o</sup>7423.. Pour chaque certificat précité,le représentant du pouvoir
                                    adjudicateur accepte tout moyen de preuve équivalent.<BR></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45111290.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 2.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Retrait amiante, GO, Déconstructions<Br>Retrait des plaques de toitures
                                    amiantées, et retrait matériaux amiantés localisés - déconstruction des appentis
                                    Nord et Sud Déconstruction des remplissages des façades Démolitions éléments
                                    intérieurs - fondations locaux modulaires Fondations rails portes avions dallage
                                    intérieur hangar dallage local technique&nbsp;:&nbsp;délai Tranche ferme: 10 mois.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : références et qualifications : Qualibat n<sup>o</sup>1552.
                                    Qualibat n<sup>o</sup>2111. Qualibat n<sup>o</sup>2152.. Pour chaque certificat
                                    précité,le représentant du pouvoir adjudicateur accepte tout moyen de preuve
                                    équivalent.<BR></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45110000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 3.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Charpente métallique<br>renforcement charpente métallique existante
                                    Ossature casquette filante façades longitudinales&nbsp;:&nbsp;délai Tranche ferme:
                                    10 mois.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : références et qualifications : Qualibat n<sup>o</sup>2413..
                                    Pour chaque certificat précité,le représentant du pouvoir adjudicateur accepte tout
                                    moyen de preuve équivalent.<BR></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45261100.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 4.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Couverture, étanchéité, lanterneaux, bardage, serrurerie<br>membrane
                                    d'étanchéité PVC toiture isolée sur bac acier Exutoires - bardage métal vertical
                                    double peau - bardage polycarbonate pose normale - portes métalliques et ouvrages
                                    divers&nbsp;:&nbsp;délai Tranche ferme: 10 mois.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : références et qualifications : Qualibat n<sup>o</sup>3271.
                                    Qualibat n<sup>o</sup>3813.. Pour chaque certificat précité,le représentant du
                                    pouvoir adjudicateur accepte tout moyen de preuve équivalent.<BR></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45261213.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 5.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Portes hangar<br>portes hangar coulissantes manuelles&nbsp;:&nbsp;délai
                                    Tranche ferme: 10 mois.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45421131.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 6.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Locaux modulaires<br>locaux modulaires à ossature bois préfabriqués&nbsp;:&nbsp;délai
                                    Tranche ferme: 10 mois.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45262600.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 7.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Electricité, Plomberie<Br>Dépose installation existante installation
                                    courant fort (éclairage, force, tableaux, etc) - sécurité incendie alarme type 2
                                    désenfumage plomberie réseau alimentation gaz&nbsp;:&nbsp;délai Tranche ferme: 10
                                    mois.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : références et qualifications : Qualibat n<sup>o</sup>5112.
                                    Qualifelec E2.. Pour chaque certificat précité,le représentant du pouvoir
                                    adjudicateur accepte tout moyen de preuve équivalent.<BR></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45330000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 8.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Peinture<Br>Peinture sur ouvrages métalliques neufs et anciens&nbsp;:&nbsp;délai
                                    Tranche ferme: 10 mois.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45442100.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000202&noa=15-101640" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>