<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>77</B><!-- ED=20158182--><BR>Annonce No&nbsp;<B>15-101138</B><BR>Travaux
            <!--Etablissement public territorial--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>C.C Fontainebleau-Avon.<BR>&nbsp;Correspondant&nbsp;:&nbsp;Mme&nbsp;Gobin
            Vanessa,&nbsp;44 rue du Château&nbsp;77300&nbsp;Fontainebleau, tél.&nbsp;:&nbsp;01-64-70-10-84, télécopieur&nbsp;:&nbsp;01-64-70-10-98,
            courriel&nbsp;:&nbsp;vanessa.gobin@pays-fontainebleau.fr.<BR>Adresse internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://www.achatpublic.com/sdm/ent/gen/index.jsp","TestLien","");'
                    class="lien">https://www.achatpublic.com/sdm/ent/gen/index.jsp</A>.<BR><i>Principale(s) Activité(s)
                du pouvoir adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>travaux d'agrandissement de la gare routière à Avon</B>.<BR><I>Type
                de marché de travaux&nbsp;:&nbsp;</I> exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45111291.<BR><I>Lieu
                d'ex&eacute;cution&nbsp;:&nbsp;</I>rue de la Petite Vitesse,&nbsp;77210&nbsp;Avon.<BR><I>Code NUTS
                : </I>|FR102|.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>travaux d'agrandissement de la gare
                routière à Avon<BR><I>Refus des variantes</I>.<BR>La procédure d'achat du présent avis est couverte par
                l'accord sur les marchés publics de l'OMC : oui.<br/><BR>Prestations divisées en lots : non.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>3 mois à compter de la notification du
                marché.<BR><I>Modalités essentielles de financement et de paiement et/ou références aux textes qui les
                    réglementent&nbsp;:&nbsp;</I>ressources propres de la collectivité.<BR><I>L'exécution du marché est
                    soumise à d'autres conditions particulières : </I>non.<BR><I>Langues pouvant être utilisées dans
                    l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I>
            <P><I>Marché réservé :&nbsp;</I>non.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Autres
                renseignements demandés&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres renseignements
                demandés : voir le règlement de la consultation pour les pièces à fournir pour la candidature.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur
                technique : 50 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix : 50 %.
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>MAPA 15.14.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>1.e.r&nbsp;juillet&nbsp;2015.</P><I>Adresse
                auprès de laquelle des renseignements d'ordre technique peuvent être obtenus&nbsp;:&nbsp;</I>Communauté
            de communes du Pays de Fontainebleau.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>Mme&nbsp;Jacky STEPHAN,&nbsp;&nbsp;44
            rue du Château,&nbsp;&nbsp;77300&nbsp;Fontainebleau,&nbsp;, tél.&nbsp;:&nbsp;01-64-70-10-85,&nbsp;,
            télécopieur&nbsp;:&nbsp;01-64-70-10-98,&nbsp;, courriel&nbsp;:&nbsp;jacky.stephan@pays-fontainebleau.fr.<BR><I>Adresse
                auprès de laquelle les documents peuvent être obtenus&nbsp;:&nbsp;</I>Communauté de communes du Pays de
            Fontainebleau.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>Mme&nbsp;Gobin Vanessa,&nbsp;&nbsp;44 rue du
            Château,&nbsp;&nbsp;77300&nbsp;Fontainebleau,&nbsp;, tél.&nbsp;:&nbsp;01-64-70-10-84,&nbsp;, télécopieur&nbsp;:&nbsp;01-64-70-10-98,&nbsp;,
            courriel&nbsp;:&nbsp;vanessa.gobin@pays-fontainebleau.fr,&nbsp;&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://www.achatpublic.com/sdm/ent/gen/ent_detail.do?PCSLID=CSL_2015_rSeZC2HM88","TestLien","");'
                    class="lien">https://www.achatpublic.com/sdm/ent/gen/ent_detail.do?PCSLID=CSL_2015_rSeZC2HM88</A>.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de Melun&nbsp;43 rue
                du Général de Gaulle Case postale n<sup>o</sup>8630&nbsp;77008&nbsp;Melun Cedex, tél.&nbsp;:&nbsp;01-60-56-66-30&nbsp;adresse
                internet&nbsp;: <A
                        HREF='javascript:BMP_openWindow("http://melun.tribunal-administratif.fr","TestLien","");'
                        class="lien">http://melun.tribunal-administratif.fr</A>.</P>
            <P><I>Organe chargé des procédures de médiation&nbsp;:&nbsp;</I>Comité consultatif interdépartemental de
                règlement amiable des litiges Préfecture de la région Ile de France&nbsp;29 rue Barbet de Jouy&nbsp;75007&nbsp;Paris,
                tél.&nbsp;:&nbsp;01-44-42-63-75, courriel&nbsp;:&nbsp;webmestre-internet@ile-de-france.pref.gouv.fr.</P>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2999700&noa=15-101138" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>