<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>78</B><!-- ED=20158182--><BR>Annonce No&nbsp;<B>15-100794</B><BR>Services
            <!--Etablissement public territorial--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>C.A. de
            Saint-Quentin-en-Yvelines.<BR>&nbsp;Correspondant&nbsp;:&nbsp; LAUGIER Michel, Président,&nbsp;1 rue Eugène
            Hénaff, Z.A. Du Buisson de la Couldre B.P.&nbsp;10118&nbsp;78192&nbsp;Trappes, tél.&nbsp;:&nbsp;01-39-44-80-80&nbsp;adresse
            internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.marches-publics.agglo-sqy.fr/","TestLien","");'
                    class="lien">http://www.marches-publics.agglo-sqy.fr/</A>.<BR>Adresse internet du profil d'acheteur&nbsp;:
            <A HREF='javascript:BMP_openWindow("http://www.marches-publics.agglo-sqy.fr/","TestLien","");' class="lien">http://www.marches-publics.agglo-sqy.fr/</A>.<BR>Le
            pouvoir adjudicateur n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>plan Local pour l'insertion et l'emploi (Plie)<Br>Dispositif
                1 : Favoriser l'insertion des Yvelinois par la levée des freins aux parcours</B>.<BR><I>Catégorie de
                services&nbsp;:&nbsp;</I>25.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;85312300.<BR><I>Lieu
                d'ex&eacute;cution&nbsp;:&nbsp;</I>.<BR><I>Code NUTS : </I>|FR103|.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>le PLIE (Plan Local pour l'insertion et
                l'emploi) est un dispositif d'accompagnement vers l'emploi durable, destiné aux personnes en difficulté.<br>le
                PLIE de Saint-Quentin-En-Yvelines a été créée en 1998. Il est financé par la Communauté d'agglomération
                de Saint-Quentin-En-Yvelines et le Fonds Social Européen.<Br>Le dispositif PLIE s'appuie sur :<Br>- un
                accompagnement renforcé et individualisé des publics<br>- des actions de parcours utilisées en renfort
                de l'accompagnement (par exemple la mobilisation, la remise à niveau, le placement?)<br>la présente
                consultation (Dispositif 1) concerne l'accompagnement renforcé, la mobilisation des publics en
                difficulté, la remise à niveau ; et l'établissement d'un projet professionnel<BR><i>Options :
                    descriptions concernant les achats complémentaires&nbsp;:&nbsp;</i>les présents marchés sont conclus
                pour une durée de 12 mois à compter du 1e janvier 2016, reconductible de façon tacite1 fois sans que la
                durée totale ne puisse excéder 2 ans.<BR><i>Nombre de reconductions
                    éventuelles&nbsp;:&nbsp;</i>1.<BR><I>Refus des variantes</I>.<BR>La procédure d'achat du présent
                avis est couverte par l'accord sur les marchés publics de l'OMC : oui.<br/><BR>Prestations divisées en
                lots : oui.<BR>Possibilité de pr&eacute;senter une offre pour un ou plusieurs lots.<BR><I>Cautionnement
                    et garanties exigés&nbsp;:&nbsp;</I>pour le lot 1 garantie à première demande pour le versement de
                l'avance en raison du montant du marché.<BR><I>Modalités essentielles de financement et de paiement
                    et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>cette consultation fait l'objet
                d'un cofinancement de la Communauté d'agglomération et du Fonds Social Européen au titre de l'axe 3 du
                pon fse 2014-2020 "lutter contre la pauvreté et promouvoir l'inclusion", objectif spécifique 3.9.1.1. Le
                versement d'une avance est prévu pour tous les lots. Les prix sont révisables. Les autres modalités de
                paiement sont décrites dans le dossier de consultation.<BR><i>Forme juridique que devra revêtir le
                    groupement d'opérateurs économiques attributaire du marché&nbsp;:&nbsp;</i>entreprise seule ou
                groupement. Les candidats sont informés qu'en cas d'attribution à un groupement la forme retenue sera le
                groupement solidaire.<BR><I>L'exécution du marché est soumise à d'autres conditions particulières : </I>non.<BR><I>Langues
                    pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>-
                Imprimé Dc1 mis à jour en août 2014, Ou document équivalent accompagné des attestations sur l'honneur
                contenues dans le Dc1<Br>- pouvoir(S) des personnes habilitées à engager le candidat pour la durée
                totale du marché, et au minimum à hauteur de son offre financière.<br>- en cas de redressement
                judiciaire : copie du ou des jugements prononcés à cet effet.<br>- imprimé Dc2 " déclaration du candidat
                " (version septembre 2010) ou les renseignements et documents permettant d'évaluer l'expérience, la
                capacité professionnelle, technique et financière du candidat<br>- pièces à fournir par le candidat
                auquel il est envisagé d'attribuer le marché :<Br>* Pièces prévues aux articles D. 8222-5 ou D. 8222-7,
                D. 8222-8 et D8254-2 du code du travail.<br>* Attestations et certificats délivrés par les
                administrations et organismes compétents prouvant que le candidat a satisfait à ses obligations fiscales
                et sociales (imprimé Noti2) ou documents équivalents en cas de candidat étranger.<br>* Attestation
                d'assurance en cours de validité.<BR><I>Capacité économique et financière - références requises&nbsp;:&nbsp;</I>-
                Déclaration concernant le chiffre global et le chiffre d'affaires concernant les services objet du
                marché, réalisés au cours des trois derniers exercices disponibles<br>- déclaration indiquant les
                effectifs moyens annuels du candidat et l'importance du personnel d'encadrement pour chacune des trois
                dernières années ;<BR><I>Référence professionnelle et capacité technique - références requises&nbsp;:&nbsp;</I>-
                Présentation d'une liste de références pour prestations similaires de moins de trois ans indiquant
                notamment le montant, la date et le maître d'ouvrage.<br>les références données doivent être
                représentatives de la prestation objet du marché.<br>- certificats de qualification professionnelle ou
                certificats d'identité professionnelle, ou des références attestant de la compétence de l'entreprise à
                réaliser les prestations pour lesquelles il se porte candidat<br>- pour justifier de ses capacités
                professionnelles, techniques et financières, le candidat au marché peut demander que soient également
                prises en compte les capacités professionnelles, techniques et financières d'un ou de plusieurs
                opérateur(s) économique(s).<br>dans ce cas, il doit justifier : des capacités de ce(s) opérateur(s)
                économique(s) : DC 2 ou équivalent, des références de ce(s) opérateur(s) économiques pour des
                prestations similaires, du fait qu'il en dispose pour l'exécution du marché : produire soit le contrat
                de sous-traitance soit un engagement écrit du ou des opérateur(s) économique(s).
            <p>La prestation n'est pas réservée à une profession particulière.
            <p>Les personnes morales ne sont pas tenues d'indiquer les noms et qualifications professionnelles des
                membres du personnel chargé de la prestation.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur
                technique de l'offre : 70 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix : 30 %.<BR>Une enchère
                électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>24&nbsp;août&nbsp;2015,&nbsp;à&nbsp;16&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>150 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>15AS-DMC-1042-Z.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>retrouvez cet avis intégral, l'accès au dossier et le
                guichet de dépôt sur http://www.marches-publics.agglo-sqy.fr/<BR>Criteres d'attributions : Les
                sous-détails de la valeur technique et du prix sont indiqués dans le règlement de la consultation.<br>les
                candidatures qui ne sont pas recevables en application des articles 43 à 45 du Code des Marchés Publics,
                qui ne sont pas accompagnées des pièces mentionnées à l'article 5.1 du règlement de la consultation,
                sous réserve des dispositions du 1<sup>er</sup> alinéa de l'article 52 du c. M. P., ou qui ne présentent
                pas des garanties techniques et financières suffisantes ou si les compétences demandées sont
                insuffisantes, ne sont pas admises.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>30&nbsp;juin&nbsp;2015.</P><I>Adresse à
                laquelle les offres/candidatures/projets/demandes de participation doivent être envoyés&nbsp;:&nbsp;</I>Communauté
            d'agglomération de Saint-Quentin-en-Yvelines : Division Marchés-Contrats.<BR>&nbsp;1 rue Eugène Hénaff, ZA
            du Buisson de la Couldre B.P.&nbsp;118,&nbsp;&nbsp;78192&nbsp;Trappes.<BR><I>Adresse auprès de laquelle des
                renseignements d'ordre technique peuvent être obtenus&nbsp;:&nbsp;</I>Communauté d'agglomération de
            Saint-Quentin-en-Yvelines : Xavier MELCUS.<BR>&nbsp;service Plie/Insertion, 1 rue Eugène Hénaff, ZA du
            Buisson de la Couldre B.P.&nbsp;10118,&nbsp;&nbsp;78192&nbsp;Trappes,&nbsp;, tél.&nbsp;:&nbsp;01-39-44-40-65,&nbsp;,
            courriel&nbsp;:&nbsp;xavier.melcus@agglo-sqy.fr.<BR><I>Adresse auprès de laquelle des renseignements d'ordre
                administratif peuvent être obtenus&nbsp;:&nbsp;</I>Communauté d'agglomération de
            Saint-Quentin-en-Yvelines : Céline REBOULET.<BR>&nbsp;service Marchés Publics, 1 rue Eugène Hénaff, ZA du
            Buisson de la Couldre B.P.&nbsp;10118,&nbsp;&nbsp;78192&nbsp;Trappes,&nbsp;, tél.&nbsp;:&nbsp;01-39-44-80-37,&nbsp;,
            télécopieur&nbsp;:&nbsp;01-30-57-12-64,&nbsp;, courriel&nbsp;:&nbsp;celine.reboulet@agglo-sqy.fr.<p><I>Instance
                chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de Versailles&nbsp;56&nbsp;avenue
                de Saint Cloud&nbsp;78011&nbsp;Versailles, tél.&nbsp;:&nbsp;01-39-20-54-00, courriel&nbsp;:&nbsp;greffe.ta-versailles@juradm.fr,
                télécopieur&nbsp;:&nbsp;01-39-20-54-87&nbsp;adresse internet&nbsp;: <A
                        HREF='javascript:BMP_openWindow("http://www.ta-versailles.juradm.fr","TestLien","");'
                        class="lien">http://www.ta-versailles.juradm.fr</A>.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Communauté
                d'agglomération de Saint-Quentin-en-Yvelines : Division Marchés-Contrats&nbsp;1 rue Eugène Hénaff, ZA du
                Buisson de la Couldre B.P.&nbsp;118&nbsp;78192&nbsp;Trappes, tél.&nbsp;:&nbsp;01-39-44-80-29,
                télécopieur&nbsp;:&nbsp;01-30-57-12-64.</P>
            <P><I>Renseignements relatifs aux lots&nbsp;:&nbsp;</I>
            <table border="0" cellpadding="1" align="center" width="80%">
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">1.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Accompagnement renforcé de proximité, couverture du
                        territoire
                    </td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">2.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Accompagnement renforcé : prise en compte des spécificités
                        du public féminin
                    </td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">3.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Accompagnement renforcé : renforcement Trappes et
                        Guyancourt
                    </td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">4.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Mobilisation des publics en difficulté</td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">5.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Remise à niveau</td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">6.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Projets professionnels</td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2999356&noa=15-100794" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>