<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>6</B><!-- ED=20158188--><BR>Annonce No&nbsp;<B>15-101530</B><BR>Services
            <!--Etablissement public territorial--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>CCAS de Cannes.<BR>&nbsp;Correspondant&nbsp;:&nbsp;lionel
            Mercier,&nbsp;centre Communal d'action Sociale de Cannes 22 Rue Borniol - cS 60063&nbsp;06414&nbsp;Cannes
            Cedex, tél.&nbsp;:&nbsp;(+33)4-93-06-31-70, télécopieur&nbsp;:&nbsp;(+33)4-93-06-32-36, courriel&nbsp;:&nbsp;contact@ccas-cannes.fr&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.ccas-cannes.fr","TestLien","");'
                               class="lien">http://www.ccas-cannes.fr</A>.<BR>Adresse internet du profil d'acheteur&nbsp;:
            <A HREF='javascript:BMP_openWindow("http://www.marches-securises.fr","TestLien","");' class="lien">http://www.marches-securises.fr</A>.<BR>Le
            pouvoir adjudicateur n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Protection sociale, Action sociale.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>prestations de services relatives aux maintenances
                (préventive, curative et évolutive) et installations des systèmes de climatisation et ventilation du
                CCAS et de ses sites extérieurs</B>.<BR><I>Catégorie de services&nbsp;:&nbsp;</I>1.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;50700000<br><i>Objets supplémentaires&nbsp;:&nbsp;</i>50730000<BR>42500000<BR>45331000.<BR><I>Lieu
                    d'ex&eacute;cution&nbsp;:&nbsp;</I>ccas de cannes et sites
                extérieurs,&nbsp;06400&nbsp;Cannes.<BR><I>Code NUTS : </I>FR823.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>marché de prestations de services
                relatives aux maintenances et installations des systèmes de climatisation et ventilation du CCAS et de
                ses sites extérieurs, passé selon la procédure adaptée, en application des articles 26 et 28 du décret n<sup>o</sup>
                2006-975 du 1<sup>er</sup> août 2006 portant Code des Marchés Publics et du règlement interne d'achat
                relatif aux marchés à procédures adaptées du CCAS de Cannes adoptée en Conseil d'administration par
                délibération.<Br>La consultation donnera lieu à la conclusion d'un accord-cadre au sens de la Directive
                2004/18/ce sans remise en concurrence périodique attribué à un seul opérateur économique et à un marché
                à bons de commande en application de l'article 77 du Code des marchés publics attribué à un opérateur
                économique et sans remise en concurrence périodique.<Br>Le Centre Communal d'action Sociale de Cannes
                ci-après désigné le CCAS, se réserve la possibilité, conformément à l'article 27 du code des marchés
                publics, de traiter par consultations et marchés distincts du présent contrat, les besoins non réguliers
                susceptibles de constituer des unités fonctionnelles.<Br> l'ensemble des prestations et fournitures
                susceptible d'être commandé au cours d'une période variera en fonction des crédits ouverts au titre de
                chaque exercice budgétaire annuel.<Br>Les montants (H.T.) minimum et maximum des prestations et
                fournitures pour la durée totale du marché (4 ans) sont les suivants :<Br>La personne publique est
                engagée sur le montant minimum (H.T.) pour la durée totale du marché.<Br>Le marché sera résilié d'office
                dès lors que les montants maximums du marché (sur sa durée totale) seront atteints<BR><i>Quantités
                    (fournitures et services), nature et étendue (travaux)&nbsp;:&nbsp;</i>prestations de services
                relatives aux maintenances (préventive, curative et évolutive) et installations des systèmes de
                climatisation et ventilation du CCAS et de ses sites extérieurs. Confère CCTP.<BR><i>Estimation de la
                    valeur (H.T.) : </i>entre 15 000 et 206 000&nbsp;euros.<BR><i>Nombre de reconductions éventuelles&nbsp;:&nbsp;</i>3.<BR><i>Calendrier
                    des marchés ultérieurs en cas de marchés reconductibles&nbsp;:&nbsp;</i>le marché prend effet à
                compter de la date de notification pour une durée ferme d'un an (12 mois).<Br>Conformément à l'article
                16 du Code des marchés publics, le présent marché est ensuite renouvelable tacitement aux mêmes clauses,
                charges et conditions, à compter de la date de notification, date anniversaire ; sous réserve de
                l'application des divers cas de résiliation prévus tant par la loi que par le présent marché, sans
                toutefois pouvoir dépasser une durée totale de quatre ans. Le titulaire ne pourra pas refuser la
                reconduction.<BR><I>Refus des variantes</I>.<BR>Prestations divisées en lots : non.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>12 mois à compter de la notification du
                marché.<BR><i>Date&nbsp;prévisionnelle&nbsp;de&nbsp;début&nbsp;des&nbsp;prestations&nbsp;(fournitures/services)&nbsp;:&nbsp;</i>1.e.r&nbsp;septembre&nbsp;2015.<BR><I>Modalités
                    essentielles de financement et de paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>le
                délai global de paiement ne pourra excéder 30 jours ;<Br>(Le décret n<sup>o</sup> 2013-269 du 29 mars
                2013 étend le délai maximum de 30 jours à l'ensemble des contrats de la commande publique, il prévoit le
                versement automatique des intérêts de retard et d'une indemnité forfaitaire de 40&nbsp;euros. Une
                synthèse du nouveau dispositif réglementaire a été publiée le 15 mars 2013.)<Br>Les règlements se feront
                par virement bancaire (mandat administratif) ;<Br>Les crédits nécessaires au financement de l'opération
                seront inscrits pour chaque période dans les comptes du CCAS de Cannes au budget annuel ;<Br>Financement
                sur fonds propres ;<Br>Prix unitaires appliqués aux prestations réellement exécutées et fournitures
                réellement livrées.<BR><I>L'exécution du marché est soumise à d'autres conditions particulières : </I>confère
                CCAP 22.2 Promotion de l'emploi et de l'insertion.<Br>Le CCAS de la ville de Cannes, dans un souci de
                promotion de l'emploi et de lutte contre l'exclusion, a décidé de faire application des dispositions de
                l'article 14 du code des marchés publics en incluant une clause obligatoire d'insertion par l'activité
                économique.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>- Le(S) document(s) relatif(s) au(x) pouvoir(s) de la personne (ou des
                personnes) habilitée(s) pour engager le candidat.<Br>- la lettre de candidature datée et signée :
                établie sur papier à en-tête de l'entreprise ou sur l'imprimé Dc1 joint au dossier de la
                consultation<Br>Confère CCAP.<BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>confère
                CCAP.<BR><I>Capacité économique et financière - références requises&nbsp;:&nbsp;</I>des éléments de
                capacités financières, techniques et professionnelles (ou formulaire Dc2)<Br>Confère CCAP<BR><I>Référence
                    professionnelle et capacité technique - références requises&nbsp;:&nbsp;</I>des éléments de
                capacités techniques et professionnelles (ou formulaire Dc2)<Br>Confère CCAP.
            <p>La prestation n'est pas réservée à une profession particulière.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire à l'appui des candidatures par le candidat, au choix de l'acheteur
                public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire DC1, Lettre de candidature -
                Habilitation du mandataire par ses co-traitants (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC2, Déclaration du candidat individuel ou du membre du groupement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC3, Acte d'engagement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC&nbsp;4, Déclaration de sous-traitance (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;S'il
                s'appuie, pour présenter sa candidature, sur les capacités professionnelles, techniques et financières
                d'autres opérateurs économiques, le candidat produit les mêmes documents concernant cet opérateur
                économique que ceux qui lui sont exigés par l'acheteur public. Le candidat doit également apporter la
                preuve que chacun de ces opérateurs économiques mettra à sa disposition les moyens nécessaires, pendant
                toute la durée d'exécution du marché public ou de l'accord-cadre;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                les documents fournis par le candidat ne sont pas établis en langue française, ils doivent être
                accompagnés d'une traduction en français, certifiée conforme à l'original par un traducteur
                assermenté.<br/><br/><i>Documents à produire obligatoirement par l'attributaire, avant la signature et
                    la notification du marché public ou de l'accord-cadre (formulaire NOTI1)&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Les
                pièces prévues aux articles D. 8222-5 ou D. 8222-7 et D. 8222-8 du code du travail;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                l'attributaire est établi en France, les attestations et certificats délivrés par les administrations et
                organismes compétents prouvant qu'il a satisfait à ses obligations fiscales et sociales ou un état
                annuel des certificats reçus;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si l'attributaire est établi dans
                un Etat autre que la France, un certificat établi par les administrations et organismes du pays
                d'origine. Lorsqu'un tel certificat n'est pas délivré par le pays concerné, il peut être remplacé par
                une déclaration sous serment, ou dans les Etats où un tel serment n'existe pas, par une déclaration
                solennelle faite par l'intéressé devant l'autorité judiciaire ou administrative compétente, un notaire
                ou un organisme professionnel qualifié du pays;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si les documents
                fournis par le candidat ne sont pas établis en langue française, ils doivent être accompagnés d'une
                traduction en français, certifiée conforme à l'original par un traducteur assermenté.<br/><br/><i>Autres
                    renseignements demandés&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres
                renseignements demandés : confère CCAP Article 20-documents à produire.<BR>visite sur site
                obligatoire<Br>Afin de mieux appréhender le présent marché et de parfaire la formulation de l'offre, les
                candidats devront effectuer obligatoirement une visite sur les sites où les prestations doivent être
                effectuées.<Br>La date limite de visite obligatoire est fixée au mercredi 29 juillet 2015 à 12&nbsp;heures.<Br>Les
                prises de rendez-vous pour les visites obligatoires se feront auprès du SITTES du CCAS de Cannes par
                téléphone en contactant :<Br>M.&nbsp;Guy LATAPIE - référent Sécurité - &#61480; : 04-93-06-31-96 ou
                06-81-68-98-36<Br>Toute modification ou annulation d'une visite se fera, en coordination avec le SITTES,
                par télécopieur (n<sup>o</sup> 04-93-06-31-88) ou mail (glatapie@ccas-cannes.fr)<Br>Une attestation sera
                remise à l'issue de la visite par le SITTES.<Br>Cette attestation devra être obligatoirement jointe à
                l'offre. Tout dossier remis sans cette attestation sera rejeté.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix
                : 60 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur technique : 40 %.
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>6&nbsp;août&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>2015-0018.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>- Renseignements administratifs<Br>Service des Finances
                et de la Commande Publique : <Br>M.&nbsp;Lionel MERCIER - téléphone : 04.93.06.32.41<Br>- renseignements
                techniques<Br>Service Informatique Téléphonie Technique Entretien Sécurité (Sittes) :<Br>M.&nbsp;Patrick
                COUTENCEAU : 04-93-06-32-35 / 06-22-58-48-21<Br>M.&nbsp;Guy LATAPIE : 04-93-06-31-96 /
                06-81-68-98-36<Br>M.&nbsp;Christophe SIMONNET : 04-93-06-31-89 / 06-80-42-33-28<Br>télécopieur SITTES :
                04-93-06-31-88.
            <p><I>Conditions et mode de paiement pour obtenir les documents contractuels et additionnels</I> :<BR>Le
                dossier de consultation des entreprises est remis gratuitement à chaque opérateur économique qui en fait
                la demande à l'adresse suivante :<Br>(Ouverture au public du lundi au vendredi de 8h30 à 12&nbsp;heures
                et de 13h30 à 16&nbsp;heures):<Br>Ccas de Cannes<Br>Service des Finances et de la Commande Publique<Br>22
                Rue Borniol<Br>Cs 60063<Br>06414 Cannes Cedex<Br>Il est également téléchargeable sur :<Br>- notre site
                Internet : www.ccas-cannes.fr / Rubrique  Marchés Publics <br>- notre profil d'acheteur :
                http://www.marches-securises.fr.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>- Transmission des documents sous format
                papier<Br>Les candidats doivent transmettre leur proposition par tout moyen assurant date certaine de
                réception et confidentialité des plis. Les propositions doivent être transmises sous pli cacheté.<Br>Les
                offres transmises en mains propres seront remises contre récépissé du lundi au vendredi de 8h30 à 12&nbsp;heures
                et de 13h30 à 16&nbsp;heures, à l'adresse suivante :<Br>Ccas de Cannes<Br>Service des Finances et de la
                Commande Publique<Br>Marché n<sup>o</sup> 2015 - 0018<Br>Prestations de services relatives aux
                maintenances et installations des systèmes de climatisation et ventilation du CCAS et de ses sites<Br>22
                Rue Borniol<Br>Cs 60063<Br>06414 Cannes Cedex<Br>Avant la date limite 06/08/2015 à 12&nbsp;heures.<Br>Après
                cette date limite les plis seront considérés hors délai et non ouverts.<Br>Les dossiers qui
                parviendraient après la date et l'heure limites fixées ainsi que ceux parvenus sous enveloppe non
                cachetée ne seront pas retenus et seront renvoyés à leur auteur.<Br>La transmission des offres par télex
                ou télécopieur n'est pas admise.<Br>Il est demandé aux candidats de transmettre une copie de leur offre
                papier sur un support numérique de type Cd-Rom ou clé usb.<Br>- transmission des documents par voie
                électronique via la plate-forme https://www.marches-securises.fr<Br>En application des articles 48 et 56
                du Code des Marchés Publics, en application de l'arrêté du 14 décembre 2009 relatif à la
                dématérialisation des procédures de passation des marchés publics et en application de l'arrêté du 28
                août 2006 articles 5 et 6, la présente consultation peut donner lieu à une transmission par voie
                électronique. Dans ce cas là, les candidatures et offres seront transmises par voie électronique sur le
                profil d'acheteur du CCAS de Cannes à l'adresse suivante : http://www.marches-securises.fr.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>6&nbsp;juillet&nbsp;2015.</P>
            <P><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de Nice&nbsp;33,
                Boulevard Franck Pilatte - B.P.&nbsp;4179&nbsp;06359&nbsp;Nice Cedex 4, tél.&nbsp;:&nbsp;(+33)
                4-92-04-13-13, courriel&nbsp;:&nbsp;greffe-ta-nice@juradm.fr, télécopieur&nbsp;:&nbsp;(+33)
                4-93-55-78-31&nbsp;adresse internet&nbsp;: <A
                        HREF='javascript:BMP_openWindow("http://www.nice.tribunal-administratif.fr","TestLien","");'
                        class="lien">http://www.nice.tribunal-administratif.fr</A>.</P>
            <P><I>Organe chargé des procédures de médiation&nbsp;:&nbsp;</I>Comité consultatif interrégional de
                règlement amiable des litiges en matière de marchés public&nbsp;22 boulevard Paul Peytral&nbsp;13282&nbsp;Marseille
                Cedex 20, tél.&nbsp;:&nbsp;(+33) 4-91-15-63-74, courriel&nbsp;:&nbsp;catherine.pietri@paca.pref.gouv.fr,
                télécopieur&nbsp;:&nbsp;(+33) 4-84-35-44-60.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Tribunal
                administratif de Nice&nbsp;33, Boulevard Franck Pilatte - B.P.&nbsp;4179&nbsp;06359&nbsp;Nice Cedex 4,
                tél.&nbsp;:&nbsp;(+33) 4-92-04-13-13, courriel&nbsp;:&nbsp;greffe-ta-nice@juradm.fr, télécopieur&nbsp;:&nbsp;(+33)
                4-93-55-78-31&nbsp;adresse internet&nbsp;: <A
                        HREF='javascript:BMP_openWindow("http://www.nice.tribunal-administratif.fr","TestLien","");'
                        class="lien">http://www.nice.tribunal-administratif.fr</A>.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000092&noa=15-101530" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>