<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>34</B><!-- ED=20158182--><BR>Annonce No&nbsp;<B>15-100673</B><BR>Services
            <!--Etablissement public territorial--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>SICTOM Pezenas-Agde.<BR>&nbsp;Correspondant&nbsp;:&nbsp;
            M.&nbsp;le président,&nbsp;27&nbsp;avenue de pezenas B.P.&nbsp;112&nbsp;34120&nbsp;Nezignan-l'Eveque.<BR><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Environnement.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>marche de mise en service de reseau wan, toip, acces
                internet, telephonie mobile, maintenance des ponts radio</B>.<BR><I>Catégorie de
                services&nbsp;:&nbsp;</I>5.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>la fourniture, la mise en &oelig;uvre et
                le management du réseau ip vpn ou liaison spécialisée d'interconnexions des sites, des accès Internet
                sécurisé, du réseau de téléphonie fixe IP, système de communication unifiée fixe/mobile. (lot 1) ;
                l'abonnement à la téléphonie mobile et la fourniture de terminaux (lot 2) ; La maintenance, paramétrage
                et déplacements éventuels des ponts radios (lot 3). . Marché séparé à bons de commande avec maximum et
                un opérateur économique<BR><i>Quantités (fournitures et services), nature et étendue (travaux)&nbsp;:&nbsp;</i>les
                marchés sont conclus pour une période de 1 an à compter du 22/10/2015 jusqu'au 21/10/2016. Les marchés
                sont reconductibles pour 3 périodes de un an.<BR><I>Des variantes seront-elles prises en compte: </I>oui.La
                procédure d'achat du présent avis est couverte par l'accord sur les marchés publics de l'OMC : non.<br/><BR>Prestations
                divisées en lots : oui.<BR>Possibilité de pr&eacute;senter une offre pour un ou plusieurs lots.<BR><I>Cautionnement
                    et garanties exigés&nbsp;:&nbsp;</I>garantie à première demande couvrant 100,000% du montant de
                l'avance.<BR><I>Modalités essentielles de financement et de paiement et/ou références aux textes qui les
                    réglementent&nbsp;:&nbsp;</I>articles 86 à 111 du Code des marchés publics français.
                Caractéristiques des prix : Prix unitaires. Modalités de variation des prix : fermes actualisables. Une
                avance de 5,000% sera accordée dans les conditions prévues au contrat. Modalité de règlement des comptes
                : selon les modalités du C.C.A.G.-T.I.C. Le mode de règlement proposé est le virement (après
                mandatement).. Le délai global de paiement est de 30 jours. Modalités de financements : Financement sur
                fonds propres.<BR><i>Forme juridique que devra revêtir le groupement d'opérateurs économiques
                    attributaire du marché&nbsp;:&nbsp;</i>aucune forme de groupement imposée à l'attributaire. Il est
                interdit aux candidats de présenter plusieurs offres en agissant à la fois : - en qualité de candidats
                individuels et de membres d'un ou plusieurs groupements ; - en qualité de membres de plusieurs
                groupements.<BR><I>L'exécution du marché est soumise à d'autres conditions particulières : </I>la durée
                du contrat précitée est une durée maximum.<BR><I>Langues pouvant être utilisées dans l'offre ou la
                    candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>au
                titre de la situation propre des opérateurs économiques (y compris les exigences relatives à
                l'inscription au registre du commerce ou de la profession), les renseignements nécessaires pour évaluer
                si ces exigences sont remplies Documents relatifs aux pouvoirs des personnes habilitées à engager le
                candidat dont si nécessaire ceux retraçant les délégations ; Copie du ou des jugements prononcés, si le
                candidat est en redressement judiciaire ; Déclaration sur l'honneur datée et signée pour justifier que
                le candidat n'entre dans aucun des cas mentionnés à l'article 43 du CMP ou le formulaire Dc1 à jour ("
                Lettre de candidature - habilitation du mandataire par ses co-traitants " ou équivalent) ;
                Renseignements sur le respect de l'obligation d'emploi mentionnée à l'article L. 5212-1 à 4 du code du
                travail.<BR><I>Capacité économique et financière - références requises&nbsp;:&nbsp;</I>déclaration
                concernant le chiffre d'affaires global et le chiffre d'affaires concernant les fournitures objet du
                contrat, réalisés au cours des trois derniers exercices disponibles (Dc2 ou équivalent) ; Conformément à
                l'article 45 III du code des marchés publics, si le candidat est objectivement dans l'impossibilité de
                produire ce renseignement pour justifier de sa capacité financière, il peut prouver sa capacité par tout
                autre document considéré comme équivalent par le pouvoir adjudicateur<BR><I>Référence professionnelle et
                    capacité technique - références requises&nbsp;:&nbsp;</I>liste des principales fournitures
                effectuées au cours des trois dernières années, indiquant le montant, la date et le destinataire public
                ou privé. Les livraisons sont prouvées par des attestations du destinataire ou, à défaut, par une
                déclaration de l'opérateur économique ; Déclaration indiquant les effectifs moyens annuels du candidat
                et l'importance du personnel d'encadrement pour chacune des trois dernières années ; Les sociétés qui ne
                sont pas en mesure de fournir ces éléments, en raison de leur date récente de création, peuvent prouver
                leur capacité technique par tout autre moyen. Pour l'attributaire, les documents suivants sont également
                demandés : attestation et certificat délivrés par les administrations et organismes compétents, prouvant
                que le candidat a satisfait à ses obligations fiscales et sociales ou documents équivalents en cas de
                candidat étranger ou Notif2 ; Pièces prévues aux articles : D.8222-5 ou D.8222-7 et D.8222-8 du Code du
                travail.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;lot
                1 : prix des prestations : 40 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;lot 1 : valeur technique : 60
                %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;lot 2 : prix des prestations : 40 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;lot
                2 : critère technique : 60 % critères et pondérations exposées en annexe du cctp : 60 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;lot
                3 : prix des prestations : 40 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;lot 3 : valeur technique : 60
                %.<BR>Une enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>27&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>2015-14.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>conformément à la législation française, l'ouverture
                des offres n'est pas publique. Dématérialisation des procédures : l'organisme acheteur préconise la
                transmission des plis par voie papier. Il accepte cependant les plis adressés par d'autres moyens
                permettant d'en garantir la confidentialité et la date de réception. Le fuseau horaire de référence sera
                celui de (Gmt+01:00) Paris, Bruxelles, Copenhague, Madrid. Les formats électroniques dans lesquels les
                documents peuvent etre transmis sont les suivants : Les candidats transmettront leurs réponses dans des
                formats de fichiers identiques à ceux des documents constituant le dossier de consultation des
                entreprises (Dce).. Le niveau de sécurité requis pour le certificat de signature électronique est le
                Niveau (**) du RGS. Les candidats utilisent un certificat conforme au RGS (Référentiel Général de
                Sécurité) figurant sur la liste de confiance française (http://references.modernisation.gouv.fr) ou sur
                une liste deconfiance d'un autre Etat-Membre de l'union européenne. Toutefois, les candidats sont libres
                d'utiliser le certificat de leur choix si celui-ci est conforme aux obligations minimales résultant du
                RGS. Dans ce cas, ils doivent transmettre tous les éléments nécessaires à la vérification de cette
                conformité.tout document contenant un virus informatique fera l'objet d'un archivage de sécurité et sera
                réputé n'avoir jamais été reçu. Il est conseillé aux candidats de soumettre leurs documents à un
                anti-virus avant envoi. Les documents transmis par voie électronique seront re-matérialisés après
                l'ouverture des plis et pourront faire l'objet d'une signature manuscrite.
            <p><i>Le présent marché a un caractère périodique :&nbsp;</i>non.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>30&nbsp;juin&nbsp;2015.</P><I>Adresse à
                laquelle les offres/candidatures/projets/demandes de participation doivent être envoyés&nbsp;:&nbsp;</I>Adresse
            postale:.<BR>&nbsp;sictom Pézenas Agde B.P.&nbsp;112 34120 PEZENAS Adresse physique SICTOM Pézenas Agde 27&nbsp;avenue
            de Pézenas,&nbsp;&nbsp;34120&nbsp;Nezignan-l'Eveque,&nbsp;&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://agysoft.marcoweb.fr","TestLien","");' class="lien">http://agysoft.marcoweb.fr</A>.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre technique peuvent être obtenus&nbsp;:&nbsp;</I>SICTOM
            Pézenas Agde.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I> M.&nbsp;Benoît HUSSON,&nbsp;&nbsp;27,&nbsp;avenue
            de Pézenas,&nbsp;&nbsp;34120&nbsp;Nézignan-l'Eveque,&nbsp;, courriel&nbsp;:&nbsp;b.husson@sictom-pezenas-agde.fr.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre administratif peuvent être obtenus&nbsp;:&nbsp;</I>SICTOM
            Pézenas Agde.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>Mme&nbsp;Nadine OUATTARA,&nbsp;&nbsp;27,&nbsp;avenue
            de Pézenas,&nbsp;&nbsp;34120&nbsp;Nézignan-l'Eveque,&nbsp;, courriel&nbsp;:&nbsp;n.ouattara@sictom-pezenas-agde.fr.<BR><I>Adresse
                auprès de laquelle les documents peuvent être obtenus&nbsp;:&nbsp;</I>SICTOM Pézenas Agde.<BR>&nbsp;27&nbsp;avenue
            de Pézenas,&nbsp;&nbsp;34120&nbsp;Nezignan-l'Eveque,&nbsp;&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://agysoft.marcoweb.fr","TestLien","");' class="lien">http://agysoft.marcoweb.fr</A>.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal Administratif de Montpellier&nbsp;6,
                rue Pitot&nbsp;34063&nbsp;Montpellier Cedex, tél.&nbsp;:&nbsp;(+33) 4-67-54-81-00, télécopieur&nbsp;:&nbsp;(+33)
                4-67-54-74-10.</P><I>Précisions concernant le(s) délai(s) d'introduction des recours : </I>organe chargé
            des procédures de médiation : comités consultatifs de règlement amiable des différends ou litiges aux
            marchés publics (décret n<sup>o</sup>2010-1525 du 8 décembre 2010 relatif aux comités consultatifs de
            règlement amiable des différends ou litiges relatifs aux marchés publics, en application de l'article 127 du
            Cmp). Précisions concernant le(s) délai(s) d'introduction des recours : - par référé contractuel
            conformément aux dispositions de l'article L551-13 du code de justice administrative ; - par requete dans
            les formes et dans le délai de deux mois mentionnés aux articles R 411-1 à R 421-7 du code de justice
            administrative.<p><I>Renseignements relatifs aux lots&nbsp;:&nbsp;</I>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 1.</span> - la fourniture, la mise en &oelig;uvre
                                    et le management du réseau ip vpn ou liaison spé.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">La fourniture, la mise en &oelig;uvre et le management du réseau ip vpn
                                    ou liaison spécialisée d'interconnexions des sites, des accès Internet sécurisé, du
                                    réseau de téléphonie fixe IP, système de communication unifiée fixe/mobile&nbsp;:&nbsp;maximum
                                    26 250.00&nbsp;euros pour la période initiale. Ces montants seront identiques pour
                                    les périodes de reconduction.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;64211100.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 2.</span> - l'abonnement à la téléphonie
                                    mobile et la fourniture de terminaux.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">l'abonnement à la téléphonie mobile et la fourniture de terminaux&nbsp;:&nbsp;maximum
                                    20 000.00&nbsp;euros pour la période initiale. Ces montants seront identiques pour
                                    les périodes de reconduction.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;64212000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 3.</span> - la maintenance, paramétrage et
                                    déplacements éventuels des ponts radios.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">La maintenance, paramétrage et déplacements éventuels des ponts radios&nbsp;:&nbsp;maximum
                                    2 500.00&nbsp;euros pour la période initiale. Ces montants seront identiques pour
                                    les périodes de reconduction.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;50324200.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2999235&noa=15-100673" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>