<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>13</B><!-- ED=20158182--><BR>Annonce No&nbsp;<B>15-101140</B><BR>Services<!--Commune-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Ville de Marseille.<BR>&nbsp;Correspondant&nbsp;:&nbsp;
            M. le maire,&nbsp;hôtel de ville - quai du port Hôtel de ville - quai du port&nbsp;13233&nbsp;Marseille
            Cedex 20&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://marseille.fr","TestLien","");' class="lien">http://marseille.fr</A>.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://marchespublics.mairie-marseille.fr","TestLien","");'
                    class="lien">http://marchespublics.mairie-marseille.fr</A>.<BR>Le pouvoir adjudicateur n'agit pas
            pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s) Activité(s) du pouvoir adjudicateur
                : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>commande d'une &oelig;uvre originale dans le cadre du 1%
                artistique pour l'opération Groupe Scolaire Mirabilis ZAC de Sainte-Marthe - 13014 MARSEILLE</B>.<BR><I>Catégorie
                de services&nbsp;:&nbsp;</I>27.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;92312000.<BR><I>Lieu
                d'ex&eacute;cution&nbsp;:&nbsp;</I>zac de Sainte-Marthe,&nbsp;13014&nbsp;Marseille.<BR><I>Code NUTS
                : </I>|FR824|.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>commande d'une &oelig;uvre originale dans
                le cadre du 1% artistique pour l'opération groupe scolaire Mirabilis ZAC de Sainte-Marthe - 13014
                Marseille<BR><i>Quantités (fournitures et services), nature et étendue (travaux)&nbsp;:&nbsp;</i>une
                procédure de 1% artistique est ouverte par la ville de Marseille dans le cadre de l'opération Groupe
                Scolaire Mirabilis ZAC de Ste Marthe 13014 MARSEILLE (détails art. 2.1 du Rc).<BR><I>Refus des
                    variantes</I>.<BR>Prestations divisées en lots : non.<BR><I>Cautionnement et garanties exigés&nbsp;:&nbsp;</I>pas
                de cautionnement, ni de garantie demandés au titre des articles 101, 102 et 103 du code des marchés
                publics.<BR><I>Modalités essentielles de financement et de paiement et/ou références aux textes qui les
                    réglementent&nbsp;:&nbsp;</I>le marché est financé par ressources budgétaires propres. <Br>Les
                règlements seront effectués par virement bancaire dans un délai de 30 jours. <Br>La référence du ou des
                comptes bancaires où les paiements devront être effectués, doit être précisée dans l'acte d'engagement.
                <Br>Le marché est à prix global et forfaitaire. <Br>Le marché est conclu à prix fermes.<BR><i>Forme
                    juridique que devra revêtir le groupement d'opérateurs économiques attributaire du marché&nbsp;:&nbsp;</i>aucune
                forme de groupement, conjoint ou solidaire, n'est exigée après attribution du marché.<BR><I>L'exécution
                    du marché est soumise à d'autres conditions particulières : </I>non.<BR><I>Langues pouvant être
                    utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée,
                    l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>qualité des références artistiques du candidat au vu de son dossier
                artistique et de son curriculum vitae détaillé<br>motivation de l'artiste au regard de sa lettre de
                candidature<br>garanties et capacités économiques et financières.<BR>il est rappelé que le nombre
                maximum de candidats retenus pour présenter un projet est de trois candidats.<BR><I>Situation juridique
                    - références requises&nbsp;:&nbsp;</I>renseignements et formalités nécessaires pour évaluer si ces
                exigences sont remplies : <Br>- lettre de candidature dc 1 - jugement(s)) prononçant le redressement
                judiciaire (en cas de redressement judiciaire) <Br>- déclaration sur l'honneur pour justifier n'entrer
                dans aucun des cas mentionnés à l'article 43 du code des marchés publics<br>- documents attestant des
                pouvoirs des personnes signataires habilitées à engager le candidat.<BR>pour justifier de ces capacités
                professionnelles, techniques et financières, le candidat peut demander que soient prises en compte les
                capacités professionnelles, techniques et financières d'un ou de plusieurs sous-traitants ou autres
                opérateurs économiques. Dans ce cas, il doit justifier des capacités de ce ou ces sous-traitants et
                autres opérateurs économiques et du fait qu'il en dispose pour l'exécution du marché.<BR><I>Capacité
                    économique et financière - références requises&nbsp;:&nbsp;</I>déclaration du candidat individuel ou
                du membre du groupement pouvant prendre la forme du formulaire Dc2, dans sa version mise à jour,
                comportant les informations suivantes ou accompagné des documents suivants : <Br>- déclaration
                concernant le chiffre d'affaires global et le chiffre d'affaires concernant les prestations objet du
                marché, réalisés au cours des trois derniers exercices disponibles.<br>les entreprises nouvellement
                créées ne pouvant produire les chiffres d'affaires des trois derniers exercices devront fournir :<Br>-
                une copie certifiée du récépissé de dépôt du centre de formalités des entreprises (pour vérifier la date
                de création de l'entreprise),<br>- le montant de leur capital social (pour justifier de leurs capacités
                économiques et financières)<BR><I>Référence professionnelle et capacité technique - références requises&nbsp;:&nbsp;</I>il
                est demandé :<Br>- une lettre de candidature dûment motivée, complétée par une note d'intention
                spécifique à l'objet du marché <Br>- un dossier artistique actualisé.
            <p><I>Marché réservé :&nbsp;</I>non.<BR><I>Nombre minimal de candidats admis à présenter une offre&nbsp;:&nbsp;</I>3.<BR><I>Nombre
                maximal de candidats admis à présenter une offre&nbsp;:&nbsp;</I>3.<BR><I>Critères objectifs de
                limitation du nombre de candidats&nbsp;:&nbsp;</I>optimisation de l'analyse<br>limitation des dépenses
                annnexes.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;qualité
                artistique : 60 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;qualité technique et financière : 40 %.
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des candidatures&nbsp;:&nbsp;</I>17&nbsp;août&nbsp;2015,&nbsp;à&nbsp;16&nbsp;h&nbsp;30.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>2015_50303_0036.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>la durée du marché sera en conformité avec le délai des
                travaux du groupe scolaire qui est de 18 mois compris 2 mois de période de préparation.<br>le titulaire
                devra dès sa désignation prendre contact avec le Maître d'&oelig;uvre pour la prise en compte de ses
                interventions dans le calendrier global d'exécution des travaux.<br>le délai de réalisation de l'&oelig;uvre
                courra à compter de la notification du présent marché.<br>les dossiers de consultation des entreprises
                peuvent être retirés sur place à l'adresse suivante : Ville de Marseille /Direction des Constructions et
                de l'architecture / Service Administratif / Secrétariat Marchés Publics<Br>1 boulevard de Louvain /
                13008 Marseille<Br>Tél : 04 91 55 17 68 - courriel : dbical@mairie-marseille.fr<br>horaires : de 8h30 à
                12&nbsp;heures et de 13h30 à 16&nbsp;heures.<br>les dossiers peuvent être transmis aux candidats sur
                demande envoyée par courrier à l'adresse indiquée ci-dessus, par télécopie au : 04 91 55 37 79 ou par
                courriel à l'adresse indiquée ci-dessus.<br>remise des offres contre récépissé: Ville de Marseille /
                Direction de l'action Culturelle (service Arts visuels - 7e étage - bât b) / 40 rue Fauchier / 13233
                Marseille Cedex 20 / Téléphone : 04 91 14 53 40 / 04 91 14 53 49 horaires : 8h30/12&nbsp;heures -
                13h30/16h30. <Br>La remise par voie dématérialisée n'est pas autorisée pour cette consultation. <Br>Critères
                de jugement des offres (cf. Détails au rc) : <Br>1/ Qualité artistique /60 points<br>- pertinence dans
                le site et adéquation du projet par rapport au programme artistique;<br>- qualité artistique du
                projet;<br>2/ Qualité technique et financière /40 points<br>- capacité à maîtriser les contraintes
                inhérentes à la commande : sécurité de l'&oelig;uvre, sécurité des personnes, maintenance réduite,
                solidité, pérennité et durée de vie de l'&oelig;uvre.<br>- adéquation du projet avec le montant
                financier annoncé pour l'&oelig;uvre : respect de l'enveloppe financière et coût maîtrisé de
                fonctionnement et de maintenance de l'&oelig;uvre.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>1.e.r&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I>Ville de Marseille / Direction des affaires culturelles.<BR>&nbsp;service arts
            visuels - 7e étage - bât b / 40 rue Fauchier,&nbsp;&nbsp;13002&nbsp;Marseille.<BR><I>Adresse auprès de
                laquelle les documents peuvent être obtenus&nbsp;:&nbsp;</I>Ville de Marseille / Direction des
            constructions et de l'Architecture.<BR>&nbsp;secrétariat marchés publics / 1 bd de Louvain,&nbsp;&nbsp;13008&nbsp;Marseille,&nbsp;,
            tél.&nbsp;:&nbsp;04-91-55-17-68,&nbsp;, télécopieur&nbsp;:&nbsp;04-91-55-37-79,&nbsp;, courriel&nbsp;:&nbsp;dbical@mairie-marseille.fr.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de Marseille&nbsp;22-24,
                rue Breteuil&nbsp;13281&nbsp;Marseille Cedex 6, tél.&nbsp;:&nbsp;04-91-13-48-13, courriel&nbsp;:&nbsp;greffe.ta-marseille@juradm.fr,
                télécopieur&nbsp;:&nbsp;04-91-81-13-87.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Tribunal
                administratif de Marseille&nbsp;22-24, rue Breteuil&nbsp;13281&nbsp;Marseille Cedex 6, tél.&nbsp;:&nbsp;04-91-13-48-13,
                courriel&nbsp;:&nbsp;greffe.ta-marseille@juradm.fr, télécopieur&nbsp;:&nbsp;04-91-81-13-87.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2999702&noa=15-101140" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>