<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><BR>Département(s) de publication : <B>11</B>
            <center><B>Convention de délégation de service public</B></center><!-- ED=20158184--><BR>Annonce No&nbsp;<B>15-102387</B>
            <HR>
            <a class="lien" href="#I">I.</a> <a class="lien" href="#II">II.</a> <a class="lien" href="#III">III.</a> <a
                    class="lien" href="#IV">IV.</a> <a class="lien" href="#V">V.</a><br>
            <p class="titreSection">Section I : Autorité délégante et adresse</p><span class="txt">I.1) </span><span
                    class="bold"> Nom et adresse</span><br/>Voies navigables de France,&nbsp;2, port Saint Etienne, à
            l'attention de&nbsp;M.&nbsp;Butte Patrick, Directeur Territorial,&nbsp;31000&nbsp;Toulouse.&nbsp;Tél.&nbsp;05-61-36-24-12.&nbsp;E-mail&nbsp;:&nbsp;<a
                    href="mailto:philippe.valieres@vnf.fr">philippe.valieres@vnf.fr</a>.&nbsp;télécopieur&nbsp;05-61-54-66-50.
            Contact : philippe Valières ou David Baichère&nbsp;Tél.&nbsp;05-61-36-24-12.<br/>Adresse du profil
            d'acheteur : <A HREF='javascript:BMP_openWindow("https://www.marches-publics.gouv.fr/","TestLien","");'
                            class="lien">https://www.marches-publics.gouv.fr/</A>.<BR><span class="bold">Adresse auprès de laquelle des informations complémentaires peuvent être obtenues : </span><br/><span
                    class="txt">Point(s) de contact susmentionné(s).</span><br/><span class="txt">I.2) </span><span
                    class="bold"> Nature de l'autorité délégante</span><br/>Etablissement public nationnal.<BR>
            <p class="titreSection">Section II : Objet de la délégation de service public</p><span
                    class="txt">II.1)</span><span
                    class="bold">Intitulé de la délégation de service public</span><br/><span class="txt">concession du port de plaisance de Carcassonne.</span><br/><span
                    class="txt">II.2)</span><span
                    class="bold">Texte en application duquel la convention est conclue</span><br/><span class="txt">loi n<sup>o</sup>93-122 du 29/01/93.</span><br/><span
                    class="txt">II.3)</span><span class="bold">Objet de la délégation</span><br/><span class="txt">concession de service public relative à l'exploitation et l'aménagement d'un port de plaisance.</span><br/>Domaine
            de la délégation : Autre : port de plaisance<BR/>Durée de la délégation : 20 ansAutres précisions :<BR/>La
            convention prendra effet le 1.e.r&nbsp;mars&nbsp;2016.<BR/>Lieu principal d'exécution de la délégation :
            carcassonne.<br/>Code NUTS <span class="obl">|FR811|.</span><br/><span class="txt">II.5)</span><span
                    class="bold">Classification CPV (vocabulaire commun pour les marchés publics)</span><br/><span
                    class="txt"><span class="obl">63721200</span>, <span class="obl">50246000</span>, <span class="obl">65000000</span>.<br/></span>
            <p class="titreSection">Section IV : Procédure</p><span class="txt">IV.1)</span><span class="bold">Numéro de référence attribué au dossier par l'autorité</span><br><span
                    class="txt">dsp carcassonne.</span><br/><span class="txt">IV.3)</span><span class="bold">Condition de délai</span><br>Date
            limite de réception des candidatures : 5&nbsp;août&nbsp;2015, à 15&nbsp;heures.<BR/>
            <p class="titreSection">Section V : Renseignements complémentaires</p><span class="txt">V.3)</span><span
                    class="bold">Procédures de recours</span><br/><span class="txt">V.3.1)</span><span class="bold">Instance chargée des procédures de recours</span><br/><span
                    class="txt">Tribunal administratif,&nbsp;6 rue pitot Text_Icr_Lieu_Dit,&nbsp;34000&nbsp;Montpellier.&nbsp;E-mail&nbsp;:&nbsp;<a
                    href="mailto:greffe.ta-montpellier@juradm.fr">greffe.ta-montpellier@juradm.fr</a>.&nbsp;Tél.&nbsp;05-67-54-81-00.&nbsp;télécopieur&nbsp;04-67-54-74-10.<br/></span><span
                    class="txt">V.3.3)</span><span class="bold">Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours</span><br/><span
                    class="txt">Tribunal administratif,&nbsp;tribunal administratif Text_Irr_Lieu_Dit,&nbsp;34000&nbsp;Montpellier.&nbsp;E-mail&nbsp;:&nbsp;<a
                    href="mailto:greffe.ta-montpellier@juradm.fr">greffe.ta-montpellier@juradm.fr</a>.&nbsp;Tél.&nbsp;05-67-54-81-00.&nbsp;télécopieur&nbsp;04-67-54-74-10.<br/></span><span
                    class="txt">V.4)</span><span class="bold">Date d'envoi du présent avis : </span><span class="txt">2&nbsp;juillet&nbsp;2015.</span><br/><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000949&noa=15-102387" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>