<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>72</B><!-- ED=20158187--><BR>Annonce No&nbsp;<B>15-102172</B><BR>Travaux<!--Autre-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Sarthe Habitat.<BR>&nbsp;Correspondant&nbsp;:&nbsp;Mme&nbsp;le
            directeur général de Sarthe Habitat,&nbsp;158&nbsp;avenue Bollée - cS 81933&nbsp;72019&nbsp;Le Mans Cedex 2,
            tél.&nbsp;:&nbsp;02-43-43-72-24, télécopieur&nbsp;:&nbsp;02-77-41-03-13&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.sarthe-habitat.fr","TestLien","");' class="lien">http://www.sarthe-habitat.fr</A>.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.sarthe-habitat-marches.com","TestLien","");'
                    class="lien">http://www.sarthe-habitat-marches.com</A>.<BR>Le pouvoir adjudicateur agit pour le
            compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s) Activité(s) du pouvoir adjudicateur : </i>
            OPH.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>construction de 6 logements locatifs individuels, travaux de
                VRD et aménagements paysagers - rue de la Gare à voivres les le mans - programme 919</B>.<BR><I>Type de
                marché de travaux&nbsp;:&nbsp;</I> exécution.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>travaux de construction réalisés en
                groupement de commandes formé par Sarthe Habitat et la Communauté de Communes du Val de Sarthe dont les
                conditions de fonctionnement sont référencées dans la convention constitutive de groupement du
                19/12/2013.<Br><Br>En application des dispositions de l'article 14 du code des marchés publics,
                l'exécution du marché comporte une clause obligatoire d'insertion par l' activité économique<Br>Le
                programme de travaux, objet de la présente consultation, est complété par un programme d'insertion
                professionnelle.<Br>Les entreprises concernées s'engagent à mettre en &oelig;uvre des actions
                d'insertion par l'économique au bénéfice des populations en recherche d'emploi.<Br><Br>La base minimum
                imposée par sarthe habitat pour cette opération est de :<Br>-165 heures à confier par les entreprises
                aux bénéficiaires de l'insertion par l'économique, réparties comme suit :<Br>Lot 4 - maçonnerie :
                95h<Br>Lot 5 - ossature bois -charpente - couverture - bardage : 35h<Br>Lot 10 - chauffage - ventilation
                - plomberie - sanitaires : 35h<Br>Attention : toute offre remise sans cet engagement minimal lot par lot
                sera déclarée non conforme et sera rejetée.<Br><br><Br>Le délai d'exécution des travaux (hors congés
                payés et intempéries) est fixé à 9 mois à compter de l'ordre de service<BR><I>Des variantes seront-elles
                    prises en compte: </I>oui.<BR>Prestations divisées en lots : oui.<BR>Possibilité de pr&eacute;senter
                une offre pour un ou plusieurs lots.<BR><i>Date&nbsp;prévisionnelle&nbsp;de&nbsp;commencement&nbsp;des&nbsp;travaux&nbsp;:&nbsp;</i>1.e.r&nbsp;septembre&nbsp;2016.<BR><I>Modalités
                    essentielles de financement et de paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>délai
                global maximum de paiement : 30 jours.<BR><i>Forme juridique que devra revêtir le groupement
                    d'opérateurs économiques attributaire du marché&nbsp;:&nbsp;</i>en cas d'attribution du marché à un
                groupement conjoint, le mandataire du groupement sera solidaire, pour l'exécution du marché, de chacun
                des membres du groupement pour ses obligations contractuelles en application de l'article 51-ii du Code
                des marchés publics.<BR><I>Langues pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>garanties et capacités techniques et financières<Br>Capacités
                professionnelles.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire obligatoirement par le candidat, à l'appui de sa candidature&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Copie
                du ou des jugements prononcés, si le candidat est en redressement judiciaire;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                sur l'honneur du candidat justifiant qu'il n'entre dans aucun des cas mentionnés à l'article 43 du code
                des marchés publics, concernant les interdictions de soumissionner.<br/><br/><i>Documents à produire à
                    l'appui des candidatures par le candidat, au choix de l'acheteur public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                concernant le chiffre d'affaires global et le chiffre d'affaires concernant les fournitures, services ou
                travaux objet du marché, réalisés au cours des trois derniers exercices disponibles;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC1, Lettre de candidature - Habilitation du mandataire par ses co-traitants (disponible à l'adresse
                suivante : http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC2, Déclaration du candidat individuel ou du membre du groupement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4).<br/><br/><i>Autres
                    renseignements demandés&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres
                renseignements demandés : aspect social/sociétal<BR>-Lettre de présentation de l'entreprise présentant
                :les moyens en personnel et en matériels, les moyens et compétences du personnel de l'entreprise
                (organigramme, formation, habilitation...);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres
                renseignements demandés : aspect environnemental<BR>Une liste de 3 références de chantiers en lien avec
                l'objet du marché réalisées ou en cours de réalisation uniquement de moins de trois ans avec le nom du
                maître d'ouvrage, lieux, dates de réalisation et montant des travaux<BR>Les candidats pourront apporter
                à l'appui de ces références des attestations de bonne exécution, ou des attestations " chantier propre
                ".;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres renseignements demandés : -Les attestation
                d'assurance civile et décennale à jour, respectant impérativement les conditions administratives
                définissant les qualifications professionnelles correspondant aux travaux;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres
                renseignements demandés : - Les pouvoirs de la personne habilitée à engager la société.<BR>attention :
                les attestations d'agrément délivrées par sarthe habitat ne sont pas valables pour la présente
                consultation, tous les documents ci-dessus sont à fournir obligatoirement.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>31&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;16&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i>
            <P><I>Conditions et mode de paiement pour obtenir les documents contractuels et additionnels</I> :<BR>Retrait
                du dossier : Le DCE est consultable et téléchargeable GRATUITEMENT sur le site
                www.sarthe-habitat-marches.com.<Br>Pour tout renseignement complémentaire relatif à la récupération en
                ligne des pièces du dossier, les entreprises peuvent s'adresser au support de synapse ouest (partenaire)
                au 02.99.55.02.05 qui les aidera à s'enregistrer.<Br>Le DCE ne pourra être retiré auprès de sarthe
                habitat - service Achats qu'après une demande transmise par télécopieur ou courriel.<Br>Un contre
                paiement forfaitaire de 80&nbsp;euros est exigé pour la remise du dossier sur support papier.<Br>Ce
                contre paiement sera restitué pour toute offre transmise dans les délais.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>remise des candidatures et des offres :
                Les candidatures et les offres peuvent être envoyées ou remises à sarthe habitat - service Achats
                (Bureau 502)<Br>Les candidatures et les offres peuvent être transmises par voie électronique en toute
                confidentialité et de manière sécurisée sur le site www.sarthe-habitat-marches.com, <Br>Pour cela, il
                vous suffit seulement de vous enregistrer sur notre site, vous serez ensuite pris en charge par le
                centre d'appel téléphonique de notre plate-forme qui vous accompagnera dans votre démarche.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>3&nbsp;juillet&nbsp;2015.</P><I>Adresse
                auprès de laquelle des renseignements d'ordre technique peuvent être
                obtenus&nbsp;:&nbsp;</I>Architour.<BR>, tél.&nbsp;:&nbsp;02-43-86-09-42,&nbsp;, télécopieur&nbsp;:&nbsp;02-43-85-02-40.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre administratif peuvent être obtenus&nbsp;:&nbsp;</I>Sarthe
            habitat.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>Mme&nbsp;Guéranger,&nbsp;, tél.&nbsp;:&nbsp;02-43-43-72-72,&nbsp;,
            télécopieur&nbsp;:&nbsp;02-77-41-03-13.<p><I>Renseignements relatifs aux lots&nbsp;:&nbsp;</I>
            <table border="0" cellpadding="1" align="center" width="80%">
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">1.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Terrassement - voirie</td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">2.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Assainissement</td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">3.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Réseaux divers</td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">4.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Maçonnerie</td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">5.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Ossature bois - charpente - couverture - bardage</td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">6.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Etanchéité</td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">7.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Menuiseries extérieures pvc</td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">8.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Menuiseries intérieures bois</td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">9.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Cloisons sèches</td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">10.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Chauffage - ventilation - plomberie - sanitaires</td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">11.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Electricité - panneaux photovoltaïque</td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">12.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Carrelage - faïence</td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">13.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Peinture - sols souples</td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">14.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Espaces verts - clôture</td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000734&noa=15-102172" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>