<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>59</B><!-- ED=20158188--><BR>Annonce No&nbsp;<B>15-101762</B><BR>Fournitures
            <!--Etablissement public territorial--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>SDIS 59.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;le
            président du CA,&nbsp;65 Place Rihour B.P.&nbsp;70345&nbsp;59026&nbsp;Lille Cedex, tél.&nbsp;:&nbsp;03-20-95-72-70,
            télécopieur&nbsp;:&nbsp;03-20-95-72-79, courriel&nbsp;:&nbsp;marches@sdis59.fr.<BR>Adresse internet du
            profil d'acheteur&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.achatpublic.com","TestLien","");'
                                        class="lien">http://www.achatpublic.com</A>.<BR>Le pouvoir adjudicateur n'agit
            pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s) Activité(s) du pouvoir adjudicateur
                : </i> Ordre et sécurité publics.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>acquisition, installation et maintenance d'un logiciel de
                gestion du dossier médical dématérialisé des agents du SDIS du Nord et prestations associées</B>.<BR><I>Type
                de marché de fournitures&nbsp;:&nbsp;</I> achat.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;48180000.<BR><I>Lieu
                de livraison&nbsp;:&nbsp;</I>sdis 59 / Groupement SSSM - 18 rue de Pas - 59000 LILLE.<BR><I>Code NUTS
                : </I>FR301.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>la durée est de quatre (4) ans, à compter
                de la date de notification du marché<BR><i>Quantités (fournitures et services), nature et étendue
                    (travaux)&nbsp;:&nbsp;</i>il s'agit d'un marché à prix mixtes comprenant : <br><br>- les prestations
                telles que définies au CCTP et rémunérées sur la base d'un prix global et forfaitaire.<Br><br>- les
                prestations à bons de commande, en application de l'article 77 du Code des Marchés Publics, avec un
                montant total maximum de 80 000,00 euros (H.T.) sur la durée totale du marché.<BR><I>Refus des
                    variantes</I>.<BR>La procédure d'achat du présent avis est couverte par l'accord sur les marchés
                publics de l'OMC : non.<br/><BR>Prestations divisées en lots : non.<BR><I>Cautionnement et garanties
                    exigés&nbsp;:&nbsp;</I>il ne sera pas appliqué de retenue de garantie.<BR><I>Modalités essentielles
                    de financement et de paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>le
                paiement s'effectuera selon les règles de la comptabilité publique, par virement.<Br><Br>Le délai global
                de paiement est de 30 jours après réception de la facture dès lors que celle-ci a été acceptée par le
                Pouvoir Adjudicateur.<Br>Le titulaire a droit à des intérêts moratoires, dans les conditions
                réglementaires, en cas de retard dans les paiements tel qu'il est prévu à l'alinéa précédent. Le taux
                des intérêts moratoires est égal au taux d'intérêt appliqué par la Banque centrale européenne à ses
                opérations principales de refinancement les plus récentes, en vigueur au premier jour du semestre de
                l'année civile au cours duquel les intérêts moratoires ont commencé à courir, majoré de huit points de
                pourcentage. Le montant de l'indemnité forfaitaire pour frais de recouvrement, due pour tout retard de
                paiement, en sus des intérêts moratoires est fixé à 40&nbsp;euros.<Br>Les dépenses seront imputées sur
                le budget de fonctionnement ou d'investissement aux exercices comptables concernés, sachant que ce
                budget est notamment financé par les contributions versées par les communes, les Etablissements Publics
                de Coopération Intercommunale (Epci) et le Département.<BR><i>Forme juridique que devra revêtir le
                    groupement d'opérateurs économiques attributaire du marché&nbsp;:&nbsp;</i>le marché pourra être
                attribué à un opérateur économique seul ou à un groupement d'opérateurs économiques solidaire. Un même
                prestataire ne peut pas être mandataire de plus d'un groupement pour un même marché.<BR><I>Langues
                    pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;langue française ou traduction
                en français certifiée conforme à l'original par un traducteur assermenté.<BR><i>Unité monétaire
                    utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>- Conformité administrative : candidats ayant fourni les déclarations et
                attestations, dûment remplies et signées,<Br>- capacités professionnelles, techniques et financières :
                candidats dont les garanties par rapport aux prestations, objet de la consultation, sont
                suffisantes.<BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>- la lettre de candidature
                en cas de groupement<Br>- pouvoir de la personne habilitée à engager le candidat<Br>- la déclaration que
                le candidat ne tombe pas sous le coup d'une procédure de redressement judiciaire au sens de l'article L.
                631-1 du code de commerce, ou à une procédure équivalente régie par un droit étranger. Si le candidat
                est en redressement judiciaire, il fournira la copie du ou des jugements prononcés à cet effet,<Br>- une
                déclaration sur l'honneur du candidat, dûment datée et signée, pour justifier, qu'il n'entre dans aucun
                des cas d'interdiction de soumissionner à un marché public mentionnés à l'article 43 du code des marchés
                publics (cf. Règlement de la consultation pour le détail des interdictions).<BR><I>Capacité économique
                    et financière - références requises&nbsp;:&nbsp;</I>- déclaration concernant le chiffre d'affaires
                global et le chiffre d'affaires concernant les prestations, objet du marché, réalisés au cours des trois
                derniers exercices disponibles<BR><I>Référence professionnelle et capacité technique - références
                    requises&nbsp;:&nbsp;</I>capacité professionnelle :<Br>Renseignements et formalités nécessaires pour
                évaluer si ces exigences sont remplies :<Br>- présentation d'une liste des principales prestations
                exécutées au cours des trois dernières années, indiquant le montant, la date et le destinataire public
                ou privé. Les prestations sont prouvées par des attestations du destinataire ou, à défaut, par une
                déclaration de l'opérateur économique ;<br><br>- capacité technique :<Br>Renseignements et formalités
                nécessaires pour évaluer si ces exigences sont remplies :<Br>- déclaration indiquant les effectifs
                moyens annuels du candidat et l'importance du personnel d'encadrement pour chacune des trois dernières
                années.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur
                technique : 60 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix : 40 %.<BR>Une enchère électronique ne
                sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>25&nbsp;août&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>180 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i>
            <P><I>Renseignements complémentaires&nbsp;:&nbsp;</I>critères de jugement des offres :<Br>1- valeur
                technique (60%), appréciée sur la base du cadre de réponses et de la démonstration de la solution
                informatique.<Br><Br>Celle-Ci sera analysée en fonction de :<br><br>- l'intégration et
                l'interopérabilité du logiciel avec les dispositifs connectés (appareils biomédicaux) ;<Br>-
                l'intégration du logiciel avec les autres SI (base agents du Sdis) ;<Br>- l'intégrité, la
                confidentialité et la sécurité des données personnelles ;<Br>- l'ergonomie de l'application, notamment
                évaluée au regard du nombre d'actions utilisateurs nécessaires à la réalisation d'opérations courantes :<Br>-
                consultation d'un dossier médical existant,<Br>- création d'une visite d'aptitude,<Br>- création d'une
                consultation non liée à une visite d'aptitude,<Br>- constitution d'un dossier médical pour
                transfert.<Br><Br>2- prix (40%), celui-ci sera analysé en fonction de :<Br>- la Décomposition du Prix
                Global et Forfaitaire (30%)<Br>- du bordereau des prix unitaires (seront pris en compte pour l'analyse
                le coût des périphériques, ainsi que le coût de la maintenance du logiciel) (10%)<Br><Br>Le code de
                Justice Administrative français est consultable sur le site officiel " legifrance - le service public de
                la diffusion du droit " : http://www.legifrance.gouv.fr.
            <p><I>Conditions et mode de paiement pour obtenir les documents contractuels et additionnels</I> :<BR>Les
                documents sont délivrés gratuitement.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>attention : Dématérialisation totale en
                application de l'article 56-ll du Code des Marchés Publics<Br>Les candidats sont informés que le mode de
                transmission des plis est obligatoirement la transmission par voie électronique.<Br>Le présent avis et
                l'ensemble des documents de la consultation sont consultables sur le site Internet : www.achatpublic.com<Br>Les
                candidats intéressés peuvent télécharger librement l'ensemble du dossier de consultation sur ce même
                site. Pour cela, une personne physique chargée du téléchargement par l'opérateur économique peut
                s'inscrire en ligne et renseigner son nom ainsi qu'une adresse électronique afin de pouvoir être
                destinataire des modifications et des précisions diffusées lors de la phase de mise en concurrence.<Br>Il
                appartient au candidat de vérifier qu'il dispose bien de l'intégralité des documents de la consultation
                pour établir sa réponse.<Br><Br>Les modalités de remise des plis de manière dématérialisée sont définies
                à l'annexe du règlement de la consultation et sur le site www.achatpublic.com.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>6&nbsp;juillet&nbsp;2015.</P>
            <P><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de Lille&nbsp;143
                rue Jacquemars Giélée B.P.&nbsp;203&nbsp;59014&nbsp;Lille Cedex, tél.&nbsp;:&nbsp;03-20-63-13-00,
                courriel&nbsp;:&nbsp;greffe.ta-lille@juradm.fr, télécopieur&nbsp;:&nbsp;03-20-63-13-47&nbsp;adresse
                internet&nbsp;: <A
                        HREF='javascript:BMP_openWindow("http://lille.tribunal-administratif.fr/ta-caa","TestLien","");'
                        class="lien">http://lille.tribunal-administratif.fr/ta-caa</A>.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Tribunal
                administratif de Lille&nbsp;143 rue Jacquemars Giélée B.P.&nbsp;203&nbsp;59014&nbsp;Lille Cedex, tél.&nbsp;:&nbsp;03-20-63-13-00,
                courriel&nbsp;:&nbsp;greffe.ta-lille@juradm.fr, télécopieur&nbsp;:&nbsp;03-20-63-13-47&nbsp;adresse
                internet&nbsp;: <A
                        HREF='javascript:BMP_openWindow("http://lille.tribunal-administratif.fr/ta-caa","TestLien","");'
                        class="lien">http://lille.tribunal-administratif.fr/ta-caa</A>.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000324&noa=15-101762" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>