<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>56</B><!-- ED=20158183--><BR>Annonce No&nbsp;<B>15-101660</B><BR>Services<!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Auray Quiberon Terre
            Atlantique.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;le président,&nbsp;rue du Danemark. Espace tertiaire
            Porte Océane&nbsp;56404&nbsp;Auray Cedex.<BR>Adresse internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.emegalisbretagne.org","TestLien","");' class="lien">http://www.emegalisbretagne.org</A>.<BR>Le
            pouvoir adjudicateur n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<p><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>élaboration
                d'un schéma directeur en vue de la définition d'une politique sportive et d'une politique culturelle et
                patrimoniale pour la Communauté de communes</B>.<BR><I>Catégorie de services&nbsp;:&nbsp;</I>11.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;79311000<br><i>Objets supplémentaires&nbsp;:&nbsp;</i>71241000<BR>72224000<BR>79111000.<BR><I>Lieu
                    d'ex&eacute;cution&nbsp;:&nbsp;</I>.<BR><I>Code NUTS : </I>FR524.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>l'objet de la mission est d'accompagner
                la collectivité dans la définition de ses politiques en matière de sports de culture et de
                patrimoine.<Br>A cet effet, la production attendue est la réalisation d'un schéma directeur du sport et
                de la culture qui permettra de décliner les différents axes des politiques de la Communauté de communes
                dans ces deux domaines.<Br>Ce schéma directeur sera réalisé sur la base d'un diagnostic territorial et
                d'une étude de besoins qui permettront de mettre en évidence les atouts, les forces et les faiblesses du
                territoire. Les complémentarités sous toutes les formes seront également analysées et recherchées à fin
                de mutualisation ou de mise en réseau (musées par exemple) dans une perspective d'optimisation des
                ressources.<Br>Pour mener à bien sa mission de conseil et d'assistance, le titulaire devra disposer des
                compétences dans les domaines suivants :<Br>-Sport et loisirs,<Br>-Culture,<Br>-Patrimoine,<Br>-Evénementiel,<Br>-Tourisme,<Br>-Aménagement
                du territoire, géographie, urbanisme,<Br>-Sociologie,<Br>-Economie et financement de projet,<br>-juridiques<BR><i>Quantités
                    (fournitures et services), nature et étendue (travaux)&nbsp;:&nbsp;</i>tranche ferme :<Br>Phase 1 :
                Diagnostic du Territoire, 2 mois, <Br>Phase 2 : Analyse des besoins, 2 mois,<Br>Phase 3 : Définition des
                enjeux et propositions d'actions, 1 mois,<Br>Phase 4 : Rédaction du Schéma Directeur, 1 mois.<Br>Tranche
                conditionnelle 1 : 1 journée.<Br>Tranche conditionnelle 2 :<Br>-Lot 1 : 15 jours d'études<Br>-Lot 2 : 3
                jours d'études.<BR><I>Refus des variantes</I>.<BR>La procédure d'achat du présent avis est couverte par
                l'accord sur les marchés publics de l'OMC : non.<br/><BR>Prestations divisées en lots : oui.<BR>Possibilité
                de pr&eacute;senter une offre pour tous les lots.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>voir article 8 du RPC.<BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>voir
                article 3.2.1 du RPC.<BR><I>Capacité économique et financière - références requises&nbsp;:&nbsp;</I>voir
                article 3.2.2 du RPC<BR><I>Référence professionnelle et capacité technique - références requises&nbsp;:&nbsp;</I>voir
                article 3.2.3 du RPC.
            <p>La prestation est réservée à une profession particulière.<BR><I>Référence des dispositions législatives,
                réglementaires ou administratives applicables</I>&nbsp;:<BR>pour la partie juridique de la mission, les
                candidats se présentant devront être habilités à exécuter les prestations du marché conformément à la
                loi n<sup>o</sup> 71-1130 du 31 décembre 1971 modifiée portant réforme de certaines professions
                judiciaires et juridiques.
            <p>Les personnes morales sont tenues d'indiquer les noms et qualifications professionnelles des membres du
                personnel chargé de la prestation.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix
                (pondération 20 points) : 20 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur technique (pondération 80
                points) : 80 %.<BR>Une enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>28&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>AQTA_mapa_2015_025.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>il est prévu une audition et une négociation (voir
                article 4 du Rpc).
            <p><I>Conditions et mode de paiement pour obtenir les documents contractuels et additionnels</I> :<BR>envoi
                de la version papier sur demande écrite (courrier postal, télécopie), ou retrait direct de 8h30 à 12h et
                de 13 heures 30 à 17h30 du lundi au jeudi et de 8h30 à 12h et de 13 heures 30 à 16h30 le vendredi (sauf
                jours fériés) : Communauté de communes Auray Quiberon Terre Atlantique, Espace tertiaire Porte Océane,
                56 404 Auray Cedex <Br>Ou retrait sur la plateforme de dématérialisation accessible de la manière
                suivante: <Br>Url : www.e-megalisbretagne.org <Br>Documents payants : non.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>1.e.r&nbsp;juillet&nbsp;2015.</P>
            <P><I>Renseignements relatifs aux lots&nbsp;:&nbsp;</I>
            <table border="0" cellpadding="1" align="center" width="80%">
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">1.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">sport</td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">2.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">culture</td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000222&noa=15-101660" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>