<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>69</B><!-- ED=20158188--><BR>Annonce No&nbsp;<B>15-100230</B><BR>Services
            <!--Etablissement public territorial--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Métropole de Lyon.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;le
            président de la Métropole de Lyon,&nbsp;délégation développement économique, emploi et savoirs Direction
            ressources Service juridique et commande publique CS 33569 20 rue du lac&nbsp;69505&nbsp;Lyon Cedex 03&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://marches.grandlyon.com","TestLien","");'
                               class="lien">http://marches.grandlyon.com</A>.<BR><i>Principale(s) Activité(s) du pouvoir
                adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>mission de conception, fabrication et gestion de deux stands
                pour le salon du MIPIM prévu au Palais des Festivals à Cannes du 15 au 18 mars 2016 et pour le salon
                EXPOREAL prévu au Centre d'exposition Messe Munchen à Munich début octobre 2016</B>.<BR><I>Catégorie de
                services&nbsp;:&nbsp;</I>27.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;39154100.<BR><I>Lieu
                d'ex&eacute;cution&nbsp;:&nbsp;</I>cannes et Munich.<BR><I>Code NUTS : </I>FR716.
            <p>L'avis implique l'établissement d'un accord-cadre.<BR>Accord-cadre avec un seul opérateur.<BR>Durée de
                l'accord-cadre :&nbsp;12 mois.<BR>Valeur minimum estimée (H.T.) :&nbsp;50 000&nbsp;euros.<BR>Valeur
                maximum estimée (H.T.) :&nbsp;194 000&nbsp;euros.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>le prestataire est chargé de concevoir et
                fabriquer un stand reflétant l'attractivité économique de la métropole lyonnaise au Mipim et à Exporeal.
                Il devra de même assurer la maintenance et la gestion du stand :<Br>- au Mipim : la surface de stand est
                de 142 m2 et de 98 m2 de terrasse.<Br>- a Exporeal : la surface de stand est de 93 mètres carrés <Br>-
                les stands devront s'adapter aux contraintes de chaque emplacement et aux besoins des différentes
                équipes commerciales. A ce titre, il devra cerner au mieux les besoins de la Délégation au Développement
                Economique, Emploi et Savoirs et respecter le concept de stand préconisé dans le cahier des charges.<Br>Le
                prestataire assistera dans cette perspective à plusieurs réunions de travail avec les différents chargés
                de missions concernés.<Br>Il devra :<Br>- proposer un concept de stand différenciant et audacieux<Br>-
                assurer la maintenance et la gestion du stand<Br>- assurer l'entretien du stand<Br>- assurer la
                fourniture du stand en mobilier et matériel audiovisuel selon les besoins du salon<Br>- assurer le
                transport, le montage puis le démontage du stand<Br>- fournir une assistance technique sur stand pendant
                la durée du salon<Br>- gérer les demandes d'autorisations et d'assurances auprès de l'organisateur ;
                gérer les arrivées d'eau, branchements électriques et connexions Internet sur le salon<BR><i>Quantités
                    (fournitures et services), nature et étendue (travaux)&nbsp;:&nbsp;</i>le marché est un marché à
                bons de commande au sens de l'article 77 du code des marchés publics. Durée ferme de 12 mois.<Br>Montant
                total minimum de 50 000 euros ht<Br>Montant total maximum de 194 000 euros (H.T.).<BR><I>Refus des
                    variantes</I>.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>12 mois à compter de la notification du
                marché.<BR><i>Date&nbsp;prévisionnelle&nbsp;de&nbsp;début&nbsp;des&nbsp;prestations&nbsp;(fournitures/services)&nbsp;:&nbsp;</i>1.e.r&nbsp;décembre&nbsp;2015.<BR><I>Modalités
                    essentielles de financement et de paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>ressources
                propres du pouvoir adjudicateur<Br>Paiement : par virement administratif selon les règles de la
                comptabilité publique française.<Br>Délai de paiement : 30 jours dans les conditions fixées par
                l'article 98 modifié du code des marchés publics et par le décret n<sup>o</sup> 2013-269 DU 29 mars
                2013.<Br>Acomptes : acomptes versés dans les conditions fixées par l'article 91 du code des marchés
                publics et par l'acte d'engagement/ccap.<Br>Avance : article 87 code des marchés publics<Br>Variation
                des prix : prix fermes actualisables.<BR><I>Langues pouvant être utilisées dans l'offre ou la
                    candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>-
                lettre de candidature - (Dc1) signée en original ou équivalent<Br>- si le candidat est en redressement
                judiciaire, copie du ou des jugements prononcés à cet effet.<Br>- déclaration sur l'honneur datée et
                signée en original visées à l'article 44-2 du code des marché publics ou règles d'effet équivalent pour
                les candidats non établis en France.<Br>- en cas de groupement d'entreprise, la lettre de candidature ou
                équivalent sera signée en original par chaque membre du groupement pour par le mandataire dûment
                habilité. Les autres justifications ci-dessus seront fournies par chaque membre du groupement.<BR><I>Capacité
                    économique et financière - références requises&nbsp;:&nbsp;</I>déclaration appropriée de banques ou
                preuve d'une assurance pour les risques professionnels ou documents équivalents si le candidat est
                objectivement dans l'impossibilité de fournir ceux demandés<BR><I>Capacité économique et financière -
                    Niveau(x) spécifique(s) minimal(aux) exigé(s)&nbsp;:&nbsp;</I>déclaration appropriée de banques ou
                preuve d'une assurance pour les risques professionnels en cours de validité à la date limite de remise
                des offres.<BR><I>Référence professionnelle et capacité technique - références requises&nbsp;:&nbsp;</I>a/
                présentation d'une liste des principales fournitures ou des principaux services effectués au cours des
                trois dernières années, indiquant le montant, la date et le destinataire public ou privé. Les livraisons
                et les prestations de services sont prouvées par des attestations du destinataire ou, à défaut, par une
                déclaration de l'opérateur économique.<Br>B/ indication des titres d'études et professionnels de<Br>L'Opérateur
                économique et/ou des cadres de<Br>L'Entreprise, et notamment des responsables de<Br>Prestation de
                services ou de conduite des travaux de même nature que celle du marché.<BR><I>Référence professionnelle
                    et capacité technique - Niveau(x) spécifique(s) minimal(aux) exigé(s)&nbsp;:&nbsp;</I>a/ Etre en
                capacité de réaliser des prestations liées à l'évènementiel de même nature et importance ; appréciée au
                regard d'au moins 3 références réalisées au cours des trois dernières années ou équivalent.<Br>B/ Titres
                d'études et professionnels dans les<Br>Domaines de la communication,<Br>Niveau Bac +2, et/ou du design
                en terme<Br>D'Aménagement / décoration de stand,<Br>Niveau CAP menuiserie ou équivalent.
            <p>La prestation n'est pas réservée à une profession particulière.
            <p>Les personnes morales ne sont pas tenues d'indiquer les noms et qualifications professionnelles des
                membres du personnel chargé de la prestation.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;critère
                n<sup>o</sup>1 : la valeur technique de l'offre appréciée au regard de 3 sous-critères : 30 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;critère
                n<sup>o</sup>2 : qualités esthétiques et fonctionnelles du stand apprécié au regard de 2 sous-critères :
                40 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;critère n<sup>o</sup>3 : prix de la prestation sur la base
                du devis quantitatif estimatif : 30 %.
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>4&nbsp;septembre&nbsp;2015,&nbsp;à&nbsp;16&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>150 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>15DEI020.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>marché à procédure adaptée ouverte<Br>Les critères
                d'attribution des offres sont pondérés de la manière suivante : <Br>- critère n<sup>o</sup>1 : Valeur
                technique de l'offre - 30%<Br>- sous-Critère 1.1 : Qualité des matériaux et du mobilier utilisés sur
                présentation des échantillons demandés - 10 %<br>- sous-Critère 1.2 : Pertinence des moyens humains
                dédiés à la mission et du rétroplanning - 10 %<br>- sous-Critère 1.3 : Performance en matière de
                protection de l'environnement sur les produits et matériaux utilisés et le recyclage des matériaux du
                stand envisagés sur les deux événements (MIPIM et Exporeal) - 10 %<br>- critère n<sup>o</sup>2 :
                Qualités esthétiques et fonctionnelles du stand - 40%<Br>- sous-Critère 2.1 : Originalité et modernité
                du concept - 30 %<br>- sous-Critère 2.2 : Fonctionnalités des espaces et exploitation des emplacements -
                visibilité des espaces signalétiques - 10 %<Br>Les justificatifs visés aux rubriques "capacités
                économiques et financières et professionnelles et capacité technique " seront fournis par le groupement
                afin de permettre l'appréciation globale des capacités des membres du groupement. Il n'est pas exigé que
                chaque cotraitant ait la totalité des capacités financières, techniques et professionnelles requises
                pour l'exécution du marché. <Br>- le candidat peut demander la prise en compte des capacités d'autres
                opérateurs économiques. Il doit alors justifier des capacités de ce ou ces opérateurs (même
                justificatifs professionnels, techniques ou financiers à fournir que ceux exigés des candidats aux
                rubriques " capacité économique et financière " et " référence professionnelle et capacité technique ")
                et produire un engagement écrit de l'opérateur justifiant que le candidat disposera de ces capacités
                pour l'exécution du marché. L'opérateur devra aussi fournir les justificatifs exigés à la rubrique "
                situation juridique " sauf lettre de candidature. <Br>- un même candidat n'est pas autorisé à présenter
                pour le marché (ou pour un même lot) plusieurs offres en agissant à la fois en qualité de candidat
                individuel et de membre d'un ou plusieurs groupements ou en qualité de membre de plusieurs groupements.
                <Br>-La forme du groupement indiquée à la rubrique " conditions relatives au marché " sera imposée à
                l'attributaire (article 51-7 du code des marchés publics).
            <p><I>Conditions et mode de paiement pour obtenir les documents contractuels et additionnels</I> :<BR>Le
                dossier de consultation peut être télécharger jusqu'à la date limite de remise des offres à l'adresse
                Internet suivante : http://marches.grandlyon.com <Br>En effectuant une recherche avec les mots clés
                suivants (Stand Mipim Exporeal) ou la référence 15dei020 sur la rubrique " consultation- rechercher" de
                la page d'accueil. <Br>Le dossier de consultation peut aussi être demandé gratuitement : <Br>- par
                courrier à l'adresse suivante : <Br>Métropole de Lyon<Br>Délégation Economique Emploi et Savoirs <Br>Direction
                des ressources<Br>Service juridique et commande publique <Br>20 rue du Lac - cS 33569<Br>69505 Lyon
                Cedex 03 <Br>- par télécopie au no 04.26.99.30.58. <Br>La réception de la demande devant parvenir au
                moins 10 jours calendaires avant la date limite de remise des offres, ou retiré les jours ouvrés de 9
                heures à 12 heures et de 14 heures à 16 heures (jusqu'à la date limite de remise des offres) à l'adresse
                ci-dessus.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>voir le règlement de consultation.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>6&nbsp;juillet&nbsp;2015.</P>
            <P><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de Lyon&nbsp;184 rue
                duguesclin&nbsp;69003&nbsp;Lyon, tél.&nbsp;:&nbsp;04-78-14-10-10, courriel&nbsp;:&nbsp;greffe.ta-lyon@juradm.fr.
            </P>
            <P><I>Organe chargé des procédures de médiation&nbsp;:&nbsp;</I>Tribunal administratif de Lyon&nbsp;184 rue
                duguesclin&nbsp;69003&nbsp;Lyon, tél.&nbsp;:&nbsp;04-78-14-10-10, courriel&nbsp;:&nbsp;greffe.ta-lyon@juradm.fr.
            </P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Tribunal
                administratif de Lyon&nbsp;184 rue duguesclin&nbsp;69003&nbsp;Lyon, tél.&nbsp;:&nbsp;04-78-14-10-10,
                courriel&nbsp;:&nbsp;greffe.ta-lyon@juradm.fr.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2998792&noa=15-100230" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>