<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>59</B><!-- ED=20158222--><BR>Annonce No&nbsp;<B>15-102205</B><BR>Travaux
            <!--Etablissement public territorial--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Communauté d'Agglomération du
            Douaisis.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;le président Christian Poiret,&nbsp;service Commande
            Publique 746, Rue Jean Perrin - zI de Douai Dorignies B.P n<sup>o</sup> 300&nbsp;59351&nbsp;Douai Cedex,
            tél.&nbsp;:&nbsp;(+33)3-27-99-21-47, télécopieur&nbsp;:&nbsp;(+33)3-27-99-52-10, courriel&nbsp;:&nbsp;marchespublics@douaisis-agglo.com.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://marches.rvvn.org","TestLien","");' class="lien">https://marches.rvvn.org</A>.<BR>Le
            pouvoir adjudicateur n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>travaux d'interconnexion des unités de production d'eau
                potable d'esquerchin/férin et Sécurisation de l'alimentation en eau de Courchelettes</B>.<BR><I>Type de
                marché de travaux&nbsp;:&nbsp;</I> exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45231300.<BR><I>Lieu
                d'ex&eacute;cution&nbsp;:&nbsp;</I>.<BR><I>Code NUTS : </I>FR301.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>la consultation a pour objet des travaux
                d'interconnexion des unités de production d'eau potable d'esquerchin/férin et Sécurisation de
                l'alimentation en eau de Courchelettes<BR><I>Des variantes seront-elles prises en compte: </I>oui.La
                procédure d'achat du présent avis est couverte par l'accord sur les marchés publics de l'OMC : non.<br/><BR>Prestations
                divisées en lots : non.<BR><I>Cautionnement et garanties exigés&nbsp;:&nbsp;</I>une retenue de garantie
                de 5% sera appliquée sur le montant du marché. Cette retenue pourra être remplacée au gré du titulaire
                par une garantie à première demande ou si les deux parties en sont d'accord par une caution personnelle
                et solidaire dans les conditions prévues par la réglementation.<BR><I>Modalités essentielles de
                    financement et de paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>le
                paiement s'effectuera selon les règles de la comptabilité publique, par virement.<Br><Br>Le délai global
                de paiement est de 30 jours après réception de la facture dès lors que celle-ci a été acceptée par le
                Pouvoir Adjudicateur.<Br>Le titulaire a droit à des intérêts moratoires, dans les conditions
                réglementaires, en cas de retard dans les paiements tel qu'il est prévu à l'alinéa précédent. Le taux
                des intérêts moratoires est égal au taux d'intérêt appliqué par la Banque centrale européenne à ses
                opérations principales de refinancement les plus récentes, en vigueur au premier jour du semestre de
                l'année civile au cours duquel les intérêts moratoires ont commencé à courir, majoré de huit points de
                pourcentage.<Br>Les dépenses seront financées sur fonds propres de la collectivité et par
                subventions.<BR><I>L'exécution du marché est soumise à d'autres conditions particulières : </I>en
                application des dispositions de l'article 14 du code des marchés publics, l'exécution du marché comporte
                une clause obligatoire d'insertion par l'activité économique.<BR><I>Langues pouvant être utilisées dans
                    l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>- conformité administrative : candidats ayant fourni les déclarations et
                attestations, dûment remplies et signées,<Br>- capacités professionnelles, techniques et financières :
                candidats dont les garanties par rapport aux prestations, objet de la consultation, sont
                suffisantes.<BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>situation propre des
                opérateurs économiques :<Br>1- la lettre de candidature en cas de groupement<Br>2- une attestation de
                pouvoir pour la personne habilitée à engager le candidat<Br>3- une attestation sur l'honneur du
                candidat, dûment datée et signée, déclarant ne faire l'objet d'aucune interdiction de soumissionner en
                application de l'article 43 du code des marchés publics.<BR><I>Capacité économique et financière -
                    références requises&nbsp;:&nbsp;</I>4- déclaration de bilan - bilans ou extraits de bilans,
                concernant les trois dernières années, des opérateurs économiques pour lesquels l'établissement des
                bilans est obligatoire en vertu de la loi ; <Br>- déclaration appropriée de banques ou preuve d'une
                assurance pour les risques professionnels ;<BR><I>Référence professionnelle et capacité technique -
                    références requises&nbsp;:&nbsp;</I>capacité professionnelle - références requises :<Br>5-
                présentation d'une liste des travaux exécutés au cours des cinq dernières années, appuyée d'attestations
                de bonne exécution pour les travaux les plus importants. Ces attestations indiquent le montant, l'époque
                et le lieu d'exécution des travaux et précisent s'ils ont été effectués selon les règles de l'art et
                menés régulièrement à bonne fin et s'ils l'ont été sous charte Qualité de l'agence de l'eau Artois
                Picardie pour les réseaux d'assainissement collectif des Eaux Usées;<Br>- certificats de qualifications
                professionnelles relatifs aux travaux de rénovation continue par techniques multiples spécialisées, aux
                réparations ponctuelles en place, au remplacement avec éclatement et/ou extraction sans ouverture de
                tranchées. La preuve de la capacité du candidat peut être apportée par tout moyen, notamment par des
                certificats d'identité professionnelle ou des références de travaux attestant de la compétence de
                l'opérateur économique à réaliser la prestation pour laquelle il se porte candidat ;<Br><Br>Capacité
                technique - références requises :<Br>6- déclaration indiquant les effectifs moyens annuels du candidat
                et l'importance du personnel d'encadrement pour chacune des trois dernières années ;<Br>- déclaration
                indiquant l'outillage, le matériel et l'équipement technique dont le candidat dispose pour la
                réalisation de marchés de même nature.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix
                des prestations : 40 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur technique : 60 %.
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>9&nbsp;octobre&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>4 mois à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>CAD-15EP058.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>délai d'exécution des travaux : les délais sont
                précisés à l'acte d'engagement<Br><Br>La valeur technique, à hauteur de 60% sera évaluée au travers du
                mémoire du candidat et selon les sous critères suivants :<Br>Oles principales mesures prévues pour
                assurer la sécurité, l&nbsp;hygiène et les conditions de travail sur le chantier. - notation sur 2
                POINTS<Br>Ola nature et l&nbsp;origine des fournitures, matériaux : - notation sur 10 POINTS<Br>Ol&nbsp;Analyse
                des contraintes et la Gestion technique du chantier :- notation sur 37 POINTS<Br>Oplan de contrôle : -
                notation sur 3 POINTS<Br>Oune Note environnementale sur le projet : - notation sur 4 POINTS<Br>Oune Note
                descriptive sur les précautions prises pour réaliser les travaux dans le périmètre du champ captant de
                Ferin : - notation sur 4 POINTS.
            <p><I>Conditions et mode de paiement pour obtenir les documents contractuels et additionnels</I> :<BR>Le
                dossier de consultation peut être téléchargé sur le profil acheteur de la Communauté
                https://marches.rvvn.org sous la référence Cad-15ep058<Br>A Défaut, le candidat adressera un courriel au
                Service Commande Publique de la Communauté (marchespublics@douaisis-agglo.com) pour obtenir le dossier
                par voie postale.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>les candidats sont informés que le mode
                de transmission des plis, retenu par le pouvoir adjudicateur, est la transmission sur support
                papier.<Br>Cependant, conformément à l'article 56-i du code des marchés publics, le pouvoir adjudicateur
                ne pourra refuser les plis transmis sur support électronique.<Br>L'Attention des candidats est attirée
                sur le fait que le choix du mode de transmission est irréversible, l'utilisation d'un mode de
                transmission différencié entre la candidature et l'offre n'est pas autorisée.<Br><Br>Les offres seront
                envoyées sous plis avec preuve de réception au siège du pouvoir adjudicateur, déposées contre récépissé
                au siège du pouvoir Adjudicateur ou déposées sur la plateforme de dématérialisation des marchés publics
                (https://marches.rvvn.org) sous la référence Cad-15ep058.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>7&nbsp;août&nbsp;2015.</P>
            <P><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de Lille&nbsp;143
                rue Jacquemars Giélée&nbsp;59014&nbsp;Lille Cedex, tél.&nbsp;:&nbsp;(+33) 3-20-63-13-00, courriel&nbsp;:&nbsp;greffe.ta-lille@juradm.fr,
                télécopieur&nbsp;:&nbsp;(+33) 3-20-63-13-47&nbsp;adresse internet&nbsp;: <A
                        HREF='javascript:BMP_openWindow("http://www.lille.tribunal-administratif.fr","TestLien","");'
                        class="lien">http://www.lille.tribunal-administratif.fr</A>.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Tribunal
                administratif de Lille&nbsp;143 rue Jacquemars Giélée&nbsp;59014&nbsp;Lille Cedex, tél.&nbsp;:&nbsp;(+33)
                3-20-63-13-00, courriel&nbsp;:&nbsp;greffe.ta-lille@juradm.fr, télécopieur&nbsp;:&nbsp;(+33)
                3-20-63-13-47&nbsp;adresse internet&nbsp;: <A
                        HREF='javascript:BMP_openWindow("http://www.lille.tribunal-administratif.fr","TestLien","");'
                        class="lien">http://www.lille.tribunal-administratif.fr</A>.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000767&noa=15-102205" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>