<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>76</B><!-- ED=20158184--><BR>Annonce No&nbsp;<B>15-102410</B><BR>Travaux
            <!--Etablissement public national--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>GPMH au Havre.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;Martel
            Hervé, Le représentant légal de l'établissement public, directeur général,&nbsp;terre-Plein de la Barre, CS
            81413&nbsp;76067&nbsp;Le Havre Cedex, tél.&nbsp;:&nbsp;02-32-74-69-58, télécopieur&nbsp;:&nbsp;02-32-74-72-40.<BR>Le
            pouvoir adjudicateur agit pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s) Activité(s) du
                pouvoir adjudicateur : </i> Activités portuaires.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>antifer - plage de bruneval : réaménagement et
                revalorisation du perré</B>.<BR><I>Type de marché de travaux&nbsp;:&nbsp;</I> exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;45246410.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>port du Havre,&nbsp;76600&nbsp;Le
                Havre.<BR><I>Code NUTS : </I>|FR232|.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>la présente consultation porte sur le
                réaménagement et la revalorisation du Perré de la valleuse de Bruneval. Il convient de remettre en état
                la protection des ouvrages et de réaliser des aménagements pour la commune de Saint-Jouin de Bruneval.
                Les prestations portent principalement sur la reconstitution de la protection par enrochements, la
                réhabilitation architecturale du Perré de Bruneval et la création d'un belvédère. <BR>Le marché est
                fractionné en :<Br>- une tranche ferme portant sur les travaux de protection situés sur le domaine
                public maritime. Une option consistant à réaliser un dallage général en fin de tranche ferme est
                intégrée à celle-ci. <Br>- une tranche conditionnelle portant sur l'aménagement du Perré<BR><i>Quantités
                    (fournitures et services), nature et étendue (travaux)&nbsp;:&nbsp;</i>a titre indicatif, les
                prestations concerent la reconstruction de la protection Nord du Perré sur environ 25 m et l'aménagement
                de la plate forme sur environ 1200 mètres carrés.<BR><i>Options : descriptions concernant les achats
                    complémentaires&nbsp;:&nbsp;</i>dallage béton d'environ 0,15m d'épaisseur sur environ 1200 mètres
                carrés. <Br>Cette option, si elle est retenue, sera levée lors de la notification du marché.<BR>La
                procédure d'achat du présent avis est couverte par l'accord sur les marchés publics de l'OMC : non.<br/><BR>Prestations
                divisées en lots : non.<BR><I>Cautionnement et garanties exigés&nbsp;:&nbsp;</I>une retenue de garantie
                de 5% sera appliquée sur chaque acompte. Cette retenue de garantie pourra, au gré du titulaire, être
                remplacée par une garantie à première demande.<BR><I>Modalités essentielles de financement et de
                    paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>les prestations faisant
                l'objet de la présente consultation seront rémunérées dans le cadre du budget d'investissement du GPMH
                et seront financées totalement par lui.<BR>le titulaire du marché a la possibilité de céder ou nantir sa
                créance. L'exemplaire unique du marché est délivré sur sa demande au titulaire.<BR>le règlement des
                prestations interviendra par acomptes mensuels versés au prorata de l'avancement des travaux par
                application de prix forfaitaires et de prix unitaires.<BR>les prix sont révisables sur chaque
                acompte.<BR>il est prévu le versement d'une avance dans les conditions fixées à l'article 87 du Code des
                marchés publics.<BR>le mode de règlement est le virement bancaire à 30 jours à compter de la réception
                de la facture.<BR><i>Forme juridique que devra revêtir le groupement d'opérateurs économiques
                    attributaire du marché&nbsp;:&nbsp;</i>le marché sera conclu avec un seul opérateur économique ou
                avec des opérateurs économiques groupés. <Br>L'Attention des candidats est attirée sur le fait qu'en cas
                de groupement d'opérateurs économiques, en application des dispositions de l'article 51 du Code des
                Marchés Publics :<Br>- le groupement doit avoir été constitué dès le stade de la candidature, et aucune
                modification ne peut intervenir dans la composition du groupement entre la date de remise des
                candidatures et la date de signature du marché, sous réserve des dispositions du V de l'article 51 du
                Cmp,<Br>- en cas de groupement conjoint, le Grand Port Maritime du Havre pourra exiger du titulaire la
                transformation du groupement en groupement solidaire lors de l'attribution du marché.<br>le mandataire
                du groupement conjoint sera solidaire, pour l'exécution du marché, de chacun des membres du groupement
                pour ses obligations contractuelles à l'égard du pouvoir adjudicateur.<br>en cas de groupement conjoint,
                le candidat indique dans l'acte d'engagement le montant et la répartition détaillée des prestations que
                chaque membre du groupement s'engage à exécuter.<BR><I>Langues pouvant être utilisées dans l'offre ou la
                    candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>capacités professionnelles, garanties techniques et garanties
                financières.<BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>les formulaires CERFA
                (Lettre de candidature - habilitation du mandataire par ses co-traitants : Dc1 - déclaration du candidat
                individuel ou du membre du groupement : Dc2) comportant les éléments ci-après et accompagnés des
                justificatifs correspondants :<Br>Pour les groupements, le Dc1 devra être signé par chaque membre du
                groupement ou par le mandataire dûment habilité qui devra justifier des habilitations nécessaires pour
                représenter les entreprises au stade de la passation du marché conformément aux dispositions de
                l'article 51 IV du C.M.P.,<Br>- un extrait Kbis,<Br>- les documents relatifs aux pouvoirs de la personne
                physique ayant le pouvoir d'engager le candidat individuel ou le membre du groupement,<br>- si le
                candidat est en redressement judiciaire, la justification de l'habilitation à poursuivre ses activités
                pendant la durée prévisible d'exécution du marché public ou de l'accord-cadre (copie du ou des jugements
                prononcés).<BR><I>Capacité économique et financière - références requises&nbsp;:&nbsp;</I>une
                déclaration concernant le chiffre d'affaires global et le chiffre d'affaires concernant les travaux,
                objet du marché, réalisé au cours des trois derniers exercices disponibles<BR><I>Référence
                    professionnelle et capacité technique - références requises&nbsp;:&nbsp;</I>une déclaration
                indiquant les effectifs moyens annuels du candidat et l'importance du personnel d'encadrement pour
                chacune des trois dernières années disponibles ;<BR>Une déclaration indiquant l'outillage, le matériel
                et l'équipement technique dont le prestataire dispose pour la réalisation de marchés de même nature
                ;<BR>Une liste des principaux travaux, notamment l'exécution de travaux à la mer de protection réalisés
                depuis la berge, permettant la mise en place d'enrochements nécessitant des moyens en matériels
                appropriés, l'exécution de travaux de terrassements et de génie civil (béton armé, dallage désactivé)
                exécutés au cours des cinq dernières années disponibles, appuyée d'attestations de bonne exécution pour
                les travaux les plus importants. Ces attestations indiquent le montant, l'époque et le lieu d'exécution
                des travaux et précisent s'ils ont été effectués selon les règles de l'art et menés régulièrement à
                bonne fin ;<BR>Les candidats possédant les certificats de qualification professionnelle :<br>- fntp 113
                Ouvrages de technicité courante, ouvrages d'art et de génie civil industriel (béton et acier béton)
                ;<br>- fntp 1432 Enrochement depuis la berge, ouvrages en site maritime ou fluvial ;<br>- fntp 3431
                Béton à performances particulières, revêtements en béton hydraulique, chaussées urbaines ;<Br>Pourront
                apporter la preuve de leur capacité à réaliser les travaux en joignant uniquement les certificats
                correspondants. Toutefois en l'absence de certificat, le candidat pourra apporter la preuve de sa
                capacité par tous moyens notamment par des certificats d'identité professionnelle ou des références de
                travaux attestant de la compétence de l'opérateur économique à réaliser la prestation pour laquelle il
                se porte candidat.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><BR>justifications
                à produire quant aux qualités et capacités du candidat : les attestations, justifications, certificats
                de capacité, références et les divers documents demandés dans les conditions de participation,
                permettant aux candidats d'apporter la preuve qu'ils disposent de toutes les conditions requises en
                application des dipositions des articles 44 et 45 du Codes des marchés publics.<br>conformément aux
                dispositions de l'article 45 III du Code des Marchés Publics, les candidats sont informés que pour
                justifier de leurs capacités professionnelles, techniques et financières, ils peuvent demander à ce que
                soient également prises en compte les capacités professionnelles, techniques et financières d'un ou
                plusieurs opérateurs économiques (co-traitants, sous-traitants...). Il leur appartient dès lors de
                demander à l'appui de leur candidature que soient prises en compte les capacités de ce(s) opérateur(s)
                économique(s) et de justifier ainsi du fait qu'ils en disposent pour l'exécution du marché. Si tel est
                le cas, les candidats devront préciser le nom et les qualifications du ou des opérateurs économiques et
                fournir un engagement écrit de ceux-ci à travailler avec le candidat si celui-ci est attributaire du
                marché.<br>en cas d'impossibilité pour le candidat de produire les documents cités ci-avant, ceux-ci
                pourront justifier de leur capacité technique et financière par tous moyens.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;coût
                des prestations : 55 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur technique : 40 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;complétude
                du dossier : 5 %.<BR>Une enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>24&nbsp;août&nbsp;2015,&nbsp;à&nbsp;20&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>360 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>14 ETI 32.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>le délai d'exécution de chacune des tranches est de 3
                mois. Il est prévu, pour chacune des tranches, une période de préparation d'1 mois comprise dans le
                délai d'exécution.<br>si elle est affermie, la notification de la tranche conditionnelle aura lieu dans
                le délai limite d'1 an à compter de la fin de la tranche ferme.<br>il n'est pas prévu de recouvrement
                des tranches dans le temps.<BR>une visite du site est obligatoire. Les visites seront organisées sur
                rendez-vous, tous les jours ouvrés, du lundi 6 juillet 2015 au vendredi 17 juillet 2015 inclus de 8&nbsp;heures
                à 12&nbsp;heures et de 13h30 à 17&nbsp;heures.<br>les candidats n'ayant pas participé aux visites dans
                la période précisée ci-dessus verront leur offre écartée.<br>pour prendre rendez-vous, les candidats
                devront s'adresser à :<Br>M.&nbsp;Guillaume Fleuret<Br>Tél : 02.32.74.28.77<br>télécopieur :
                02.32.74.72.25<br>courriel : guillaume.fleuret@havre-port.fr<BR>modalité d'ouverture des offres :
                l'ouverture des offres n'est pas publique.<br>organe chargé des procédures de médiation : Médiateur des
                marchés publics - www.mediation-des-marches-publics.fr.
            <p><I>Conditions et mode de paiement pour obtenir les documents contractuels et additionnels</I> :<BR>Les
                dossiers sont mis gratuitement à disposition des candidats au :<Br>Grand Port Maritime du Havre<Br>Service
                des Achats - pôle Marchés<Br>Terre-Plein de la Barre<Br>Cs 81413<br>76067 Le Havre Cedex<Br>Tél. :
                0232746958<br>télécopieur : 0232747240<br>courriel : gpmhmarches@havre-port.fr<BR>ou téléchargeables
                gratuitement à l'adresse Internet suivante : <BR>https://www.achatpublic.com/sdm/ent/gen/ent_detail.do?PCSLID=CSL_2015_nZolkzPOaN&v=1&selected=0.<BR><I>Date
                    limite d'obtention</I> : 24&nbsp;août&nbsp;2015, à 20&nbsp;heures.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>sous format papier adressées au GPMH
                (Service des Achats - pôle Marchés) sous pli fermé portant la mention "Appel public à la concurrence -
                référence "14 ETI 32 - aNTIFER - plage de bruneval : réaménagement et revalorisation du perré"" ;<Br>Sous
                forme dématérialisée sur la plate-forme "http://www.achatpublic.com" selon les modalités qui y sont
                précisées.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>2&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I>Grand Port Maritime du Havre.<BR>&nbsp;M.&nbsp;le Chef du Service des Achats -
            pôle Marchés, Terre-Plein de la Barre, CS 81413,&nbsp;&nbsp;76067&nbsp;Le Havre Cedex,&nbsp;, tél.&nbsp;:&nbsp;02-32-74-69-58,&nbsp;,
            télécopieur&nbsp;:&nbsp;02-32-74-72-40,&nbsp;&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://www.achatpublic.com/sdm/ent/gen/ent_detail.do?PCSLID=CSL_2015_nZolkzPOaN&v=1&selected=0","TestLien","");'
                    class="lien">https://www.achatpublic.com/sdm/ent/gen/ent_detail.do?PCSLID=CSL_2015_nZolkzPOaN&v=1&selected=0</A>.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre technique peuvent être obtenus&nbsp;:&nbsp;</I>Grand Port
            Maritime du Havre.<BR>&nbsp;M.&nbsp;le Chef du Service des Etudes et Travaux d'infrastructure, Terre-Plein
            de la Barre, CS 81413,&nbsp;&nbsp;76067&nbsp;Le Havre Cedex,&nbsp;,
            télécopieur&nbsp;:&nbsp;02-32-74-72-25.<BR><I>Adresse auprès de laquelle des renseignements d'ordre
                administratif peuvent être obtenus&nbsp;:&nbsp;</I>Grand Port Maritime du Havre.<BR>&nbsp;M.&nbsp;le
            Chef du Service des Achats - pôle Marchés, Terre-Plein de la Barre, CS 81413,&nbsp;&nbsp;76067&nbsp;Le Havre
            Cedex,&nbsp;, tél.&nbsp;:&nbsp;02-32-74-69-58,&nbsp;, télécopieur&nbsp;:&nbsp;02-32-74-72-40,&nbsp;,
            courriel&nbsp;:&nbsp;gpmhmarches@havre-port.fr.<BR><I>Adresse auprès de laquelle les documents peuvent être
                obtenus&nbsp;:&nbsp;</I>Grand Port Maritime du Havre.<BR>&nbsp;M.&nbsp;le Chef du Service des Achats -
            pôle Marchés, Terre-Plein de la Barre, CS 81413,&nbsp;&nbsp;76067&nbsp;Le Havre Cedex,&nbsp;, tél.&nbsp;:&nbsp;02-32-74-69-58,&nbsp;,
            télécopieur&nbsp;:&nbsp;02-32-74-72-40,&nbsp;, courriel&nbsp;:&nbsp;gpmhmarches@havre-port.fr,&nbsp;&nbsp;adresse
            internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://www.achatpublic.com/sdm/ent/gen/ent_detail.do?PCSLID=CSL_2015_nZolkzPOaN&v=1&selected=0","TestLien","");'
                    class="lien">https://www.achatpublic.com/sdm/ent/gen/ent_detail.do?PCSLID=CSL_2015_nZolkzPOaN&v=1&selected=0</A>.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal Administratif de Rouen&nbsp;53,&nbsp;avenue
                Gustave Flaubert&nbsp;76000&nbsp;Rouen, tél.&nbsp;:&nbsp;02-32-08-12-70, courriel&nbsp;:&nbsp;greffe.ta-rouen@juradm.fr,
                télécopieur&nbsp;:&nbsp;02-32-08-12-71.</P><I>Précisions concernant le(s) délai(s) d'introduction des
                recours : </I>introduction des recours : <Br>- référé pré contractuel : avant la signature du
            marché,<br>- référé contractuel : 31 jours à compter de la publication de l'avis d'attribution au Joue,<Br>-
            recours pour excès de pouvoir : 2 mois à compter de la décision attaquée,<br>- recours de plein contentieux
            : 2 mois à compter de la publication de l'avis d'attribution,<br>- service du pouvoir adjudicateur auprès
            duquel les renseignements peuvent être obtenus : m. Hermier, Chef du Service des Achats du Grand Port
            Maritime du Havre, tél. : 02.32.74.73.60, télécopieur : 02.32.74.72.40.<BR><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000972&noa=15-102410" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>