<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>34</B>,&nbsp;11,&nbsp;30,&nbsp;66<!-- ED=20158184--><BR>Annonce
            No&nbsp;<B>15-102130</B><BR>Fournitures<!--Autre--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>CCIR Languedoc-Roussillon.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;Service
            des achats le président de la ccir lr, ccir languedoc roussillon,&nbsp;99 Impasse Adam Smith CS 81000&nbsp;34477&nbsp;Pérols
            Cedex, tél.&nbsp;:&nbsp;04-67-13-68-00, télécopieur&nbsp;:&nbsp;04-67-13-68-10, courriel&nbsp;:&nbsp;p.zimmermann@languedoc-roussillon.cci.fr&nbsp;adresse
            internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.languedoc-roussillon.cci.fr/","TestLien","");'
                    class="lien">http://www.languedoc-roussillon.cci.fr/</A>.<BR>Adresse internet du profil d'acheteur&nbsp;:
            <A HREF='javascript:BMP_openWindow("https://www.marches-publics.gouv.fr","TestLien","");' class="lien">https://www.marches-publics.gouv.fr</A>.<BR>Le
            pouvoir adjudicateur n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Services aux entreprises.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>fourniture de tenues professionnelles pour le centre de
                formation des apprentis régional du Languedoc Roussillon</B>.<BR><I>Type de marché de fournitures&nbsp;:&nbsp;</I>
                achat.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;18110000.<BR><I>Lieu de livraison&nbsp;:&nbsp;</I>languedoc-Roussillon.<BR><I>Code
                    NUTS : </I>|FR81|.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>fourniture de tenues professionnelles
                pour le centre de formation des apprentis régional du Languedoc Roussillon<BR><i>Quantités (fournitures
                    et services), nature et étendue (travaux)&nbsp;:&nbsp;</i>le marché conclu sera un marché à bons de
                commande mono-attributaire, en application de l'article 77 du Code des Marchés Publics. <Br>Le marché
                est passé sans montant annuel minimum, et avec un montant annuel maximum de: 65 000&nbsp;euros
                (H.T.).<BR><i>Options : descriptions concernant les achats complémentaires&nbsp;:&nbsp;</i>possibilité
                d'avenants et de marchés complémentaires.<BR><i>Nombre de reconductions
                    éventuelles&nbsp;:&nbsp;</i>1.<BR><I>Refus des variantes</I>.<BR>La procédure d'achat du présent
                avis est couverte par l'accord sur les marchés publics de l'OMC : oui.<br/><BR>Prestations divisées en
                lots : non.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>12 mois à compter de la notification du
                marché.<BR><i>Date&nbsp;prévisionnelle&nbsp;de&nbsp;début&nbsp;des&nbsp;prestations&nbsp;(fournitures/services)&nbsp;:&nbsp;</i>25&nbsp;septembre&nbsp;2015.<BR><I>Cautionnement
                    et garanties exigés&nbsp;:&nbsp;</I>aucune caution et garanties exigées.<BR><I>Modalités
                    essentielles de financement et de paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>la
                Région Languedoc-Roussillon contribue à l'acquisition des tenues professionnelles car celles-ci-font
                parties du 1<sup>er</sup> équipement professionnel des apprentis via un subventionnement de l'organisme
                gestionnaire.<br>paiement direct par la ccir lr par virement dans un délai de 30 jours à réception de
                facture.<BR><i>Forme juridique que devra revêtir le groupement d'opérateurs économiques attributaire du
                    marché&nbsp;:&nbsp;</i>les opérateurs économiques sont autorisés à se porter candidats sous forme de
                groupement conjoint avec mandataire solidaire. Cette forme de groupement sera en tout état de cause
                imposée au groupement après attribution du marché.<BR><I>L'exécution du marché est soumise à d'autres
                    conditions particulières : </I>non.<BR><I>Langues pouvant être utilisées dans l'offre ou la
                    candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>capacités techniques, économiques satisfaisantes.<BR><I>Situation juridique
                - références requises&nbsp;:&nbsp;</I>la " lettre de candidature - habilitation du mandataire par ses
                cotraitants<br>" (formulaire Dc1) dûment complétée, datée et signée<br>la " déclaration du candidat "
                dûment complétée (formulaire Dc2)<Br>L'Extrait K-Bis accompagné, le cas échéant, d'une copie du pouvoir
                donnant délégation au signataire des documents<br>- si le candidat fait l'objet d'une procédure de
                redressement judiciaire, la copie du ou des jugements prononcés<br>prouvant que le candidat est autorisé
                à poursuivre son activité au-delà de la durée du marché<br>- attestation d'assurance responsabilité
                civile en cours de validité.<BR><I>Capacité économique et financière - références
                    requises&nbsp;:&nbsp;</I>chiffres d'affaires (H.T.) globaux et relatifs aux prestations<br>objet du
                marché des trois derniers exercices disponibles<BR><I>Référence professionnelle et capacité technique -
                    références requises&nbsp;:&nbsp;</I>effectifs moyens annuels et l'importance<br>du personnel
                d'encadrement pour chacune des trois dernières années;<br>liste des principales fournitures livrées au
                cours des trois dernières années, indiquant le montant, la date et le<br>destinataire public ou privé.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire obligatoirement par le candidat, à l'appui de sa candidature&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Copie
                du ou des jugements prononcés, si le candidat est en redressement judiciaire;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                sur l'honneur du candidat justifiant qu'il n'entre dans aucun des cas mentionnés à l'article 43 du code
                des marchés publics, concernant les interdictions de soumissionner;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                sur l'honneur du candidat attestant qu'il est en règle, au cours de l'année précédant celle au cours de
                laquelle a lieu le lancement de la consultation, au regard des articles L. 5212-1, L. 5212-2, L. 5212 5
                et L. 5212-9 du code du travail, concernant l'emploi des travailleurs handicapés;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                le candidat est établi en France, une déclaration sur l'honneur du candidat justifiant que le travail
                est effectué par des salariés employés régulièrement au regard des articles L. 1221-10, L. 3243-2 et R.
                3243-1 du code du travail (dans le cas où le candidat emploie des salariés, conformément à l'article D.
                8222-5-3° du code du travail);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si le candidat est établi ou
                domicilié à l'étranger, une déclaration sur l'honneur du candidat attestant qu'il fournit à ses salariés
                des bulletins de paie comportant les mentions prévues à l'article R. 3243-1 du code du travail, ou des
                documents équivalents.<br/><br/><i>Documents à produire à l'appui des candidatures par le candidat, au
                    choix de l'acheteur public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                concernant le chiffre d'affaires global et le chiffre d'affaires concernant les fournitures, services ou
                travaux objet du marché, réalisés au cours des trois derniers exercices disponibles;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                appropriée de banques ou preuve d'une assurance pour les risques professionnels;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                indiquant les effectifs moyens annuels du candidat et l'importance du personnel d'encadrement pour
                chacune des trois dernières années;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Présentation d'une liste des
                principales fournitures ou des principaux services effectués au cours des trois dernières années,
                indiquant le montant, la date et le destinataire public ou privé. Les livraisons et les prestations de
                services sont prouvées par des attestations du destinataire ou, à défaut, par une déclaration de
                l'opérateur économique;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration indiquant l'outillage, le
                matériel et l'équipement technique dont le candidat dispose pour la réalisation de marchés de même
                nature;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire DC1, Lettre de candidature - Habilitation du
                mandataire par ses co-traitants (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC2, Déclaration du candidat individuel ou du membre du groupement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;S'il
                s'appuie, pour présenter sa candidature, sur les capacités professionnelles, techniques et financières
                d'autres opérateurs économiques, le candidat produit les mêmes documents concernant cet opérateur
                économique que ceux qui lui sont exigés par l'acheteur public. Le candidat doit également apporter la
                preuve que chacun de ces opérateurs économiques mettra à sa disposition les moyens nécessaires, pendant
                toute la durée d'exécution du marché public ou de l'accord-cadre;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                les documents fournis par le candidat ne sont pas établis en langue française, ils doivent être
                accompagnés d'une traduction en français, certifiée conforme à l'original par un traducteur
                assermenté.<br/><br/><i>Documents à produire obligatoirement par l'attributaire, avant la signature et
                    la notification du marché public ou de l'accord-cadre (formulaire NOTI1)&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Les
                pièces prévues aux articles D. 8222-5 ou D. 8222-7 et D. 8222-8 du code du travail;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                l'attributaire est établi en France, les attestations et certificats délivrés par les administrations et
                organismes compétents prouvant qu'il a satisfait à ses obligations fiscales et sociales ou un état
                annuel des certificats reçus;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si l'attributaire est établi dans
                un Etat autre que la France, un certificat établi par les administrations et organismes du pays
                d'origine. Lorsqu'un tel certificat n'est pas délivré par le pays concerné, il peut être remplacé par
                une déclaration sous serment, ou dans les Etats où un tel serment n'existe pas, par une déclaration
                solennelle faite par l'intéressé devant l'autorité judiciaire ou administrative compétente, un notaire
                ou un organisme professionnel qualifié du pays;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si les documents
                fournis par le candidat ne sont pas établis en langue française, ils doivent être accompagnés d'une
                traduction en français, certifiée conforme à l'original par un traducteur assermenté.<br/><br/><i>Autres
                    renseignements demandés&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres
                renseignements demandés : extrait K-Bis ou équivalent.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur
                technique : 45 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix des prestations : 35 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;délais
                : 20 %.<BR>Une enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>10&nbsp;août&nbsp;2015,&nbsp;à&nbsp;17&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>90 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>L-10052015.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>la cci lr se réserve la possibilité de négocier avec
                les 3 candidats arrivant en tête du classement des offres.<br>le marché ne comporte pas de PSE (options
                au sens du droit français).<br>les sous-critères de la valeur technique et des délais sont ceux indiqués
                dans le cadre de réponse, ils seront évalués avec la même pondération.<br>les candidats devront fournir
                à l'appui de leur offre des échantillons dont le contenu est détaillé au sein des fiches " Liste des
                échantillons à fournir " jointes au marché. Ces échantillons serviront à mieux apprécier la qualité des
                produits proposés. Ces échantillons devront être envoyés à la même adresse et à la même date que
                l'offre. Il n'est pas prévu d'indemnité pour la remise de ces échantillons.
            <p><I>Conditions et mode de paiement pour obtenir les documents contractuels et additionnels</I> :<BR>Les
                documents contractuels sont téléchargeables gratuitement sur la plateforme
                www.marchespublics.gouv.fr.<BR><I>Date limite d'obtention</I> : 10&nbsp;août&nbsp;2015, à 17&nbsp;heures.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>les plis sont transmis par voie postale
                en RAR, déposés contre remise d'un récépissé à l'accueil de la CCIR Languedoc Roussillon (adresse
                susvisée) ou transmis par voie dématérialisée sur la plateforme<BR>htpps://www.marches-publics.gouv.fr.
                Les horaires d'ouverture de la CCIR sont les suivantes en cas de dépôt de plis à l'accueil : du lundi au
                vendredi de 8h30 à 12h15 et de 13h45 à 17 heures.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>2&nbsp;juillet&nbsp;2015.</P><I>Adresse
                auprès de laquelle des renseignements d'ordre administratif et technique peuvent être obtenus&nbsp;:&nbsp;</I>CCI
            Languedoc Roussillon.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I> Mlle&nbsp;Pauline ZIMMERMANN Service des
            Achats,&nbsp;&nbsp;99 Impasse Adam Smith CS 81000,&nbsp;&nbsp;34477&nbsp;Pérols,&nbsp;, tél.&nbsp;:&nbsp;04-67-13-68-59,&nbsp;,
            télécopieur&nbsp;:&nbsp;04-67-13-68-31,&nbsp;, courriel&nbsp;:&nbsp;p.zimmermann@languedoc-roussillon.cci.fr,&nbsp;&nbsp;adresse
            internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.languedoc-roussillon.cci.fr/","TestLien","");'
                    class="lien">http://www.languedoc-roussillon.cci.fr/</A>.<BR><I>Adresse auprès de laquelle les
                documents peuvent être obtenus&nbsp;:&nbsp;</I><BR>&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://www.marches-publics.gouv.fr/?page=entreprise.EntrepriseAdvancedSearch&AllCons&refConsultation=259755&orgAcronyme=l2m","TestLien","");'
                    class="lien">https://www.marches-publics.gouv.fr/?page=entreprise.EntrepriseAdvancedSearch&AllCons&refConsultation=259755&orgAcronyme=l2m</A>.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal Administratif de Montpellier&nbsp;6
                rue Pitot 6 rue Pitot&nbsp;34063&nbsp;Montpellier Cedex, tél.&nbsp;:&nbsp;04-67-54-81-00, courriel&nbsp;:&nbsp;greffe.ta-montpellier@juradm.fr,
                télécopieur&nbsp;:&nbsp;04-67-54-74-10&nbsp;adresse internet&nbsp;: <A
                        HREF='javascript:BMP_openWindow("http://montpellier.tribunal-administratif.fr","TestLien","");'
                        class="lien">http://montpellier.tribunal-administratif.fr</A>.</P>
            <P><I>Organe chargé des procédures de médiation&nbsp;:&nbsp;</I>Comité consultatif interrégional pour le
                règlement amiable des marchés publics&nbsp;boulevard Paul Peytral&nbsp;13282&nbsp;Marseille, tél.&nbsp;:&nbsp;04-84-35-45-54,
                télécopieur&nbsp;:&nbsp;04-84-35-44-60.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Tribunal
                Administratif de Montpellier&nbsp;6 rue Pitot 6 rue Pitot&nbsp;34063&nbsp;Montpellier Cedex, tél.&nbsp;:&nbsp;04-67-54-81-00,
                courriel&nbsp;:&nbsp;greffe.ta-montpellier@juradm.fr, télécopieur&nbsp;:&nbsp;04-67-54-74-10&nbsp;adresse
                internet&nbsp;: <A
                        HREF='javascript:BMP_openWindow("http://montpellier.tribunal-administratif.fr","TestLien","");'
                        class="lien">http://montpellier.tribunal-administratif.fr</A>.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000692&noa=15-102130" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>