<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>12</B><!-- ED=20158182--><BR>Annonce No&nbsp;<B>15-100244</B><BR>Travaux
            <!--Etablissement public territorial--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>S.D.I.S. de l'Aveyron.<BR>&nbsp;Correspondant&nbsp;:&nbsp;
            Cellule Marchés,&nbsp;za Bel Air - rue de la Sauvegarde - cS 53121&nbsp;12031&nbsp;Rodez Cedex 9, tél.&nbsp;:&nbsp;05-65-77-12-00,
            télécopieur&nbsp;:&nbsp;05-65-77-12-44, courriel&nbsp;:&nbsp;contact@sdis12.fr&nbsp;adresse internet&nbsp;:
            <A HREF='javascript:BMP_openWindow("http://www.sdis12.fr","TestLien","");'
               class="lien">http://www.sdis12.fr</A>.<BR>Adresse internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.e-aveyron.fr","TestLien","");' class="lien">http://www.e-aveyron.fr</A>.<BR><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> lutte contre les incendies et secours à personnes.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>travaux de platrerie, cloisons sèches, isolation pour la
                construction du CIS de Millau</B>.<BR><I>Type de marché de travaux&nbsp;:&nbsp;</I> exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;44112300<br><i>Objets supplémentaires&nbsp;:&nbsp;</i>45320000<BR>45210000.<BR><I>Lieu
                    d'ex&eacute;cution&nbsp;:&nbsp;</I>chemin des Hauts Prignoles,&nbsp;12100&nbsp;Millau.<BR><I>Code
                    NUTS : </I>|FR622|.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>cette consultation fait suite à l'arrêt
                de l'activité du titulaire du lot 9 sur décision du tribunal de commerce de Rodez. La procédure initiale
                comportait 15 lots techniques, tous attribués. Les marchés ont été notifiés le 20 avril 2015 et les
                travaux de terrassement ont commencé fin mai 2015.-<br>la durée totale initiale du chantier est de 17
                mois (période de préparation comprise)<BR><i>Quantités (fournitures et services), nature et étendue
                    (travaux)&nbsp;:&nbsp;</i>construction d'un centre d'incendie et de secours neuf avec 2900 mètres
                carrés de surfaces baties et 4500 mètres carrés d'espaces extérieurs. L'opération porte sur :-<Br>- un
                espace technique pour 22 véhicules et 3 remorques ;-<Br>- un espace opération ;-<Br>- un espace vie pour
                un effectif de 106 sapeurs-pompiers volontaires et professionnels ;-<Br>- un espace extérieur parking,
                cour de man&oelig;uvres, aire de sport, etc.<BR><I>Des variantes seront-elles prises en compte: </I>oui.<BR>Prestations
                divisées en lots : non.<BR><i>Date&nbsp;prévisionnelle&nbsp;de&nbsp;début&nbsp;des&nbsp;prestations&nbsp;(fournitures/services)&nbsp;:&nbsp;</i>31&nbsp;août&nbsp;2015.<BR><I>Cautionnement
                    et garanties exigés&nbsp;:&nbsp;</I>retenue de garantie au taux de 5% dans les conditions prévues
                aux articles 101, 102 et 103 du code des marchés publics. Cette sûreté porte sur l'intégralité des
                prestations objet du marché.-<br>la retenue de garantie peut être remplacée, au gré du titulaire, par
                une garantie à première demande ou par une caution personnelle et solidaire, dans les conditions prévues
                à l'article 102 du code des marchés publics, si le pouvoir adjudicateur ne s'y oppose pas après examen
                de la demande de remplacement.<BR><I>Modalités essentielles de financement et de paiement et/ou
                    références aux textes qui les réglementent&nbsp;:&nbsp;</I>budget propre du SDIS. Conformément aux
                règles de la comptabilité publique, le paiement aura lieu par mandat administratif suivi d'un virement
                bancaire, avec respect du délai global de paiement de 30 jours selon les dispositions de l'article 98 du
                code des marchés et du décret n<sup>o</sup> 2013-269 du 29 mars 2013.<BR><I>L'exécution du marché est
                    soumise à d'autres conditions particulières : </I>non.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>garanties professionnelles, financières et techniques.<BR><I>Capacité
                économique et financière - références requises&nbsp;:&nbsp;</I>chiffre d'affaires des 3 derniers
                exercices à mentionner dans le Dc2<BR><I>Référence professionnelle et capacité technique - références
                    requises&nbsp;:&nbsp;</I>moyens humains et matériels de l'entreprise à mentionner dans le Dc2.-<Br>Références,
                certificats de capacité ou qualifications.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire obligatoirement par le candidat, à l'appui de sa candidature&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Copie
                du ou des jugements prononcés, si le candidat est en redressement judiciaire.<br/><br/><i>Documents à
                    produire à l'appui des candidatures par le candidat, au choix de l'acheteur
                    public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration concernant le chiffre
                d'affaires global et le chiffre d'affaires concernant les fournitures, services ou travaux objet du
                marché, réalisés au cours des trois derniers exercices disponibles;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                appropriée de banques ou preuve d'une assurance pour les risques professionnels;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                indiquant les effectifs moyens annuels du candidat et l'importance du personnel d'encadrement pour
                chacune des trois dernières années;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration indiquant
                l'outillage, le matériel et l'équipement technique dont le candidat dispose pour la réalisation de
                marchés de même nature;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Certificats de qualifications
                professionnelles. La preuve de la capacité du candidat peut être apportée par tout moyen, notamment par
                des certificats d'identité professionnelle ou des références de travaux attestant de la compétence de
                l'opérateur économique à réaliser la prestation pour laquelle il se porte candidat : qualifications ou
                références dans le domaine concerné (platrerie, cloisons sèches, isolation);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC1, Lettre de candidature - Habilitation du mandataire par ses co-traitants (disponible à l'adresse
                suivante : http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC2, Déclaration du candidat individuel ou du membre du groupement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;S'il
                s'appuie, pour présenter sa candidature, sur les capacités professionnelles, techniques et financières
                d'autres opérateurs économiques, le candidat produit les mêmes documents concernant cet opérateur
                économique que ceux qui lui sont exigés par l'acheteur public. Le candidat doit également apporter la
                preuve que chacun de ces opérateurs économiques mettra à sa disposition les moyens nécessaires, pendant
                toute la durée d'exécution du marché public ou de l'accord-cadre;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                les documents fournis par le candidat ne sont pas établis en langue française, ils doivent être
                accompagnés d'une traduction en français, certifiée conforme à l'original par un traducteur assermenté.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix
                : 60 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur technique : 40 %.
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>24&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>90 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>14S0010.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>conformément aux dispositions de l'article 56 du code
                des marchés publics, le pouvoir adjudicateur autorise la transmission des candidatures et des offres par
                voie électronique à l'adresse suivant : http://www.e-aveyron.fr.
            <p><I>Conditions et mode de paiement pour obtenir les documents contractuels et additionnels</I> :<BR>Ces
                documents sont téléchargeables gratuitement sur le site du profil d'acheteur (http://www.e-aveyron.fr).-<BR>En
                application de l'article 41 du code des marchés publics, si le candidat souhaite un exemplaire version
                papier du dossier de consultation, il devra s'acquitter d'une somme de 131.23&nbsp;euros (T.T.C.)
                (dossier complet avec plans en noir) ou de 148.02&nbsp;euros (T.T.C.) (dossier complet avec plans en
                couleur) directement auprès du prestataire Soprobat.-<Br>Il est possible également de n'acheter qu'un ou
                plusieurs plans.-<br>coordonnées : SOPROBAT 67 bis rue Béteille - cs23519 - 12035 Rodez Cedex 9.-<br>tel
                : 05.65.73.13.16 / télécopieur : 05.65.68.48.32 / Mél : soprobat@orange.fr.<BR><I>Date limite
                    d'obtention</I> : 24&nbsp;juillet&nbsp;2015, à 12&nbsp;heures.
            <p><i>Le présent marché a un caractère périodique :&nbsp;</i>non.<BR><I>Ce marché s'inscrit-il dans un
                projet / programme financé par les fonds communautaires&nbsp;:&nbsp;</I> non.
            <P><i>Conditions de remise des offres ou des candidatures :</i><br>mentionnées dans le règlement de
                consultation téléchargeable gratuitement sur le profil d'acheteur (http://www.e-aveyron.fr).
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>30&nbsp;juin&nbsp;2015.</P><I>Adresse
                auprès de laquelle des renseignements d'ordre technique peuvent être obtenus&nbsp;:&nbsp;</I>Navecth
            Architectes.<BR>&nbsp;13 rue Soubeyran,&nbsp;&nbsp;48000&nbsp;Mende,&nbsp;, tél.&nbsp;:&nbsp;04-66-49-28-83,&nbsp;,
            télécopieur&nbsp;:&nbsp;04-66-49-28-85,&nbsp;, courriel&nbsp;:&nbsp;navectharchitectes@free.fr.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre administratif peuvent être obtenus&nbsp;:&nbsp;</I>SDIS
            12.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I> Cellule Marchés,&nbsp;&nbsp;z.a. Bel Air, rue de la
            sauvegarde-<br>cs 53121,&nbsp;&nbsp;12031&nbsp;Rodez Cedex 9,&nbsp;, tél.&nbsp;:&nbsp;05-65-77-12-06,&nbsp;,
            télécopieur&nbsp;:&nbsp;05-65-77-12-44,&nbsp;, courriel&nbsp;:&nbsp;cellule-marches@sdis12.fr.<p><I>Instance
                chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de Toulouse&nbsp;B.P.&nbsp;7007-<br>68
                rue Raymond IV&nbsp;31068&nbsp;Toulouse Cedex 7, tél.&nbsp;:&nbsp;05-62-73-57-57, courriel&nbsp;:&nbsp;greffe.ta-toulouse@juradm.fr,
                télécopieur&nbsp;:&nbsp;05-62-73-57-40.</P><I>Précisions concernant le(s) délai(s) d'introduction des
                recours : </I>- par référé précontractuel qui peut être exercé jusqu'à la signature du marché
            conformément aux délais et dispositions de l'article L.551-1 du code de justice administrative ;-<Br>- par
            référé contractuel codifié aux articles L.551-13 à L.551-21 du code de justice administrative ;-<Br>- par
            requête dans les formes et dans le délai de 2 mois mentionnés aux articles R.411-1 0 R.421-7 du code de
            justice administrative.<BR><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2998806&noa=15-100244" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>