<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>10</B><!-- ED=20158184--><BR>Annonce No&nbsp;<B>15-102159</B><BR>Services<!--Autre-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Centre Hospitalier de Troyes.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;Ratsimiseta
            Fabrice, directeur du service travaux et maintenance,&nbsp;101,&nbsp;avenue Anatole France Cedex 03 B.P.&nbsp;718&nbsp;10000&nbsp;Troyes,
            tél.&nbsp;:&nbsp;03-25-49-47-97, télécopieur&nbsp;:&nbsp;03-25-49-48-50, courriel&nbsp;:&nbsp;catherine.adnot@ch-troyes.fr.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.klekoon.com","TestLien","");' class="lien">http://www.klekoon.com</A>.
            <p><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>consultation pour le choix des bureaux de contrôle pour des
                opérations diverses en 2015/2016 au Centre Hospitalier de Troyes et ses Annexes</B>.<BR><I>Catégorie de
                services&nbsp;:&nbsp;</I>27.<BR>Prestations divisées en lots : oui.<BR>Possibilité de pr&eacute;senter
                une offre pour un ou plusieurs lots.<BR><I>Langues pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>voir dossier de consultation.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><BR>fournir les
                pieces demandees dans le dossier de consultation.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>27&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>90 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>02072015.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>adresse profil acheteur, le DCE (Dossier de
                Consulation) est téléchargeable gratuitement sur : www.klekoon.com.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>2&nbsp;juillet&nbsp;2015.</P><I>Adresse
                auprès de laquelle des renseignements d'ordre technique peuvent être obtenus&nbsp;:&nbsp;</I>CENTRE
            HOSPITALIER Direction du Patrimoine.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>M.&nbsp;Jarry Stéphane,&nbsp;&nbsp;101,&nbsp;avenue
            Anatole France,&nbsp;&nbsp;10000&nbsp;Troyes,&nbsp;, tél.&nbsp;:&nbsp;03-25-49-47-44,&nbsp;, télécopieur&nbsp;:&nbsp;03-25-49-48-50,&nbsp;,
            courriel&nbsp;:&nbsp;stephane.jarry@ch-troyes.fr.<BR><I>Adresse auprès de laquelle des renseignements
                d'ordre administratif peuvent être obtenus&nbsp;:&nbsp;</I>CENTRE HOSPITALIER Direction du
            Patrimoine.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>Mme&nbsp;ADNOT Catherine,&nbsp;&nbsp;101,&nbsp;avenue
            Anatole France,&nbsp;&nbsp;10000&nbsp;Troyes,&nbsp;, tél.&nbsp;:&nbsp;03-25-49-47-97,&nbsp;, télécopieur&nbsp;:&nbsp;03-25-49-48-50,&nbsp;,
            courriel&nbsp;:&nbsp;catherine.adnot@ch-troyes.fr.<p><I>Renseignements relatifs aux lots&nbsp;:&nbsp;</I>
            <table border="0" cellpadding="1" align="center" width="80%">
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">1.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Lot 00 : diagnostic amiante avant travaux (DIAGAM)</td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">4.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Lot 3 : Sécurité Protection pour la Santé (SPS)</td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">5.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Lot 4 : Vérification initiale des installations
                        électriques (V2IE)
                    </td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">2.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Lot 01 : Contrôle Technique de la Construction (CTC)</td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">3.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Lot 2 : Systèmes de Sécurité Incendie (SSI)</td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000721&noa=15-102159" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>