<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>44</B><!-- ED=20158183--><BR>Annonce No&nbsp;<B>15-100498</B><BR>Fournitures<!--Commune-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Ville de Nantes.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;Denis
            Saurat,&nbsp;11 boulevard Stalingrad&nbsp;44094&nbsp;Nantes Cedex 01, tél.&nbsp;:&nbsp;(+33)02-40-41-99-82&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.nantes.fr","TestLien","");' class="lien">http://www.nantes.fr</A>.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://marchespublics.nantesmetropole.fr","TestLien","");'
                    class="lien">https://marchespublics.nantesmetropole.fr</A>.<BR>Le pouvoir adjudicateur n'agit pas
            pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s) Activité(s) du pouvoir adjudicateur
                : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>fourniture, pose et location de bâtiments modulaires pour la
                relocalisation provisoire du multi-accueil bottière</B>.<BR><I>Type de marché de fournitures&nbsp;:&nbsp;</I>
                location.<BR><I>Lieu de livraison&nbsp;:&nbsp;</I>.<BR><I>Code NUTS : </I>FR511.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>recueil de candidatures et d'offres pour
                un marché de service (lot unique) relatif à la fourniture, pose et location de bâtiments modulaires pour
                la relocalisation provisoire du multi-accueil bottière.<Br><br>a titre indicatif, les bâtiments mis en
                place devront être opérationnels à compter du 21 décembre 2015, la durée de location étant fixée à 23
                mois.<Br>La durée de mise en place des bâtiments est fixée à 3 semaines et sera précédée d'une période
                de préparation d'un mois qui débutera le 2 novembre 2015.<Br>Procédure adaptée ouverte (article 28-i du
                Cmp)<Br>Procédure dématerialisée<BR><i>Options : descriptions concernant les achats complémentaires&nbsp;:&nbsp;</i>prestation
                supplémentaire éventuelle n<sup>o</sup>1 : Habillage des modulaires de bardage bois.<BR><I>Refus des
                    variantes</I>.<BR>Prestations divisées en lots : non.<BR><i>Date&nbsp;prévisionnelle&nbsp;de&nbsp;début&nbsp;des&nbsp;prestations&nbsp;(fournitures/services)&nbsp;:&nbsp;</i>2&nbsp;novembre&nbsp;2015.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>capacités technique, professionnelle et financière.<BR><I>Situation
                juridique - références requises&nbsp;:&nbsp;</I>- Lettre de candidature (imprimé Dc1) que la candidature
                soit présentée à titre individuel ou en groupement <Br>- copie du ou des jugements prononcés, si le
                candidat est en redressement judiciaire (cadre D2 du Dc2 à remplir si utilisation de ce document) ;<Br>-
                les documents attestant les pouvoirs de la personne habilitée pour engager le candidat (cadre C1 du Dc2
                à remplir si utilisation de ce document).<BR><I>Capacité économique et financière - références requises&nbsp;:&nbsp;</I>-
                Déclaration concernant le chiffre d'affaires global et le chiffre d'affaires concernant les prestations
                objet du contrat, réalisés au cours des trois derniers exercices disponibles (cadre D1 du document Dc2 à
                remplir si utilisation de ce document) ;<Br>- preuve d'une assurance pour les risques professionnels
                ;<BR><I>Référence professionnelle et capacité technique - références requises&nbsp;:&nbsp;</I>-Déclaration
                indiquant les effectifs moyens annuels du candidat et l'importance du personnel d'encadrement pour
                l'année en cours et l'année précédente (en annexe au Dc2 si utilisation de ce document et tout document
                complémentaire) ;<Br>-Liste des principales fournitures et des principaux services exécutés au cours des
                trois dernières années, indiquant le montant, la date et le destinataire public ou privé. Les livraisons
                ou prestations de service sont prouvées par des attestations du destinataire ou, à défaut, par une
                déclaration de l'opérateur économique (en annexe au Dc2 si utilisation de ce document et tout document
                complémentaire) ;<Br>-Déclaration indiquant l'outillage, le matériel et l'équipement technique dont le
                candidat dispose pour la réalisation de contrats de même nature (en annexe au Dc2 si utilisation de ce
                document et tout document complémentaire) ; <Br><Br>Pour justifier des capacités professionnelles,
                techniques et financières d'autres opérateurs économiques sur lesquels il s'appuie pour présenter sa
                candidature, le candidat produit les mêmes documents concernant cet opérateur économique que ceux qui
                lui sont exigés par le pouvoir adjudicateur. En outre, pour justifier qu'il dispose des capacités de cet
                opérateur économique pour l'exécution des prestations, le candidat produit un engagement écrit de
                l'opérateur économique.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).<BR>Une enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>25&nbsp;août&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>150 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>1597A033.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>date prévisionnelle de début des prestations : novembre
                2015<Br><Br>Durée du marché ou délai d'exécution : La durée de mise en place des bâtiments est fixée à 3
                semaines et sera précédée d'une période de préparation d'un mois.<Br><br><Br>Adresse de consultation, de
                téléchargement et de réponse par voie électronique :
                https://marchespublics.nantesmetropole.fr/ville-nantes <Br><Br>La transmission électronique des
                candidatures et des offres n'est pas obligatoire.<Br><Br>Délai minimum de validité des offres : 150
                Jours à compter de la date de réception des offres finales.<Br><Br>Critères de sélection des
                candidatures et des offres : <Br>- candidatures : capacités techniques, financières, professionnelles
                <Br>- offres : se reporter aux critères pondérés fixés dans le règlement de consultation<Br><Br>Visite
                sur place préalable à toute remise d'offre très fortement conseillée, notamment pour l'implantation des
                différents réseaux et pour établissement de la mise en situation numérique des modulaires. <Br>Prendre
                rendez vous préalablement avec M.&nbsp;Denis Saurat, téléphone : 02.40.41.99.82.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>1.e.r&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I>Direction de la Commande Publique - service des marchés - Immeuble Valmy - 11&nbsp;avenue
            Carnot - 44923 Nantes Cedex 9 <BR>ouvert de 8h30 à 12h30 et de 13h30 à 17h30 <BR>Correspondant : Estelle
            Talhouarn - Tél : 02 40 99 23 68 - télécopieur : 02 40 99 62 40.<BR>Courriel :
            estelle.talhouarn@nantesmetropole.fr.<BR><I>Adresse auprès de laquelle des renseignements d'ordre technique
                peuvent être obtenus&nbsp;:&nbsp;</I>Direction du B.A.T.I.<BR>B.A.T.I. - <BR>11 Boulevard Stalingrad<BR>44923
            Nantes Cedex 9 <BR>M.&nbsp;Denis Saurat<BR>téléphone : 02.40.41.99.82.<BR><I>Adresse auprès de laquelle des
                renseignements d'ordre administratif peuvent être obtenus&nbsp;:&nbsp;</I>Direction de la Commande
            Publique - service des marchés - Immeuble Valmy - 11&nbsp;avenue Carnot - 44923 Nantes Cedex 9 <BR>ouvert de
            8h30 à 12h30 et de 13h30 à 17h30 <BR>Correspondant : Estelle Talhouarn - Tél : 02 40 99 23 68 - télécopieur
            : 02 40 99 62 40.<BR>Courriel : estelle.talhouarn@nantesmetropole.fr.<p><I>Instance chargée des procédures
                de recours&nbsp;:&nbsp;</I>Tribunal Administratif de Nantes&nbsp;6 allée Ile Gloriette B.P.&nbsp;24111&nbsp;44000&nbsp;Nantes
                Cedex 01, tél.&nbsp;:&nbsp;02-40-99-46-00, courriel&nbsp;:&nbsp;greffe.ta-nantes@juradm.fr, télécopieur&nbsp;:&nbsp;02-40-99-46-58.
            </P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Tribunal
                Administratif de Nantes&nbsp;6 allée Ile Gloriette B.P.&nbsp;24111&nbsp;44000&nbsp;Nantes Cedex 01, tél.&nbsp;:&nbsp;02-40-99-46-00,
                courriel&nbsp;:&nbsp;greffe.ta-nantes@juradm.fr, télécopieur&nbsp;:&nbsp;02-40-99-46-58.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2999060&noa=15-100498" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>