<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>92</B><!-- ED=20158182--><BR>Annonce No&nbsp;<B>15-100194</B><BR>Travaux<!--Autre-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Ste Périne - Rossini - Chardon
            Lagache.<BR>&nbsp;Correspondant&nbsp;:&nbsp;Mme&nbsp;TARAVELLA Martine, Responsable Cellule des Marchés,&nbsp;11,
            rue Chardon Lagache&nbsp;75016&nbsp;Paris, tél.&nbsp;:&nbsp;01-44-96-31-15, télécopieur&nbsp;:&nbsp;01-44-96-32-47,
            courriel&nbsp;:&nbsp;cellulemarches.gh10@spr.aphp.fr.<BR>Adresse internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://www.achatpublic.com/sdm/ent/gen/index.jsp","TestLien","");'
                    class="lien">https://www.achatpublic.com/sdm/ent/gen/index.jsp</A>.<BR>Le pouvoir adjudicateur
            n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s) Activité(s) du pouvoir
                adjudicateur : </i> Santé.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>création d'un deuxième IRM site de l'hôpital Ambroise Paré
                des hôpitaux universitaires Paris Ile-De-France Ouest</B>.<BR><I>Type de marché de
                travaux&nbsp;:&nbsp;</I> exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;45113000.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>hôpital Ambroise Paré,&nbsp;92100&nbsp;Boulogne
                Billancourt.<BR><I>Code NUTS : </I>|FR105|.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>lot unique de travaux de réhabilitation
                pour accueillir un deuxième IRM. Les travaux sont tous corps d'état confondu.<br>la consultation est
                lancée avec une PSE imposée : menuiseries exterieures<BR><I>Refus des variantes</I>.<BR>Prestations
                divisées en lots : non.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>4 mois à compter de la notification du
                marché.<BR><I>Cautionnement et garanties exigés&nbsp;:&nbsp;</I>le candidat sera dispensé du versement
                de la retenue de garantie.<BR><I>Modalités essentielles de financement et de paiement et/ou références
                    aux textes qui les réglementent&nbsp;:&nbsp;</I>l'exécution du marché sera financée par le budget
                des Hôpitaux Universitaires Paris Ile de France Ouest (Ap-Hp) et sera régie par le titre IV de la
                première partie du code des marchés publics. Conformément à l'article 98 du Code des Marchés Publics, le
                délai maximum de paiement est de 50 jours.<BR>le défaut de paiement dans les délais précités fait courir
                de plein droit des intérêts moratoires au bénéfice du titulaire du marché, à compter du jour suivant
                l'expiration du délai. Le taux de ces intérêts est fixé sur la base du taux d'intérêt appliqué par la
                Banque Centrale Européenne à ses opérations de refinancement majoré de huit points.<br>par ailleurs, une
                indemnité forfaitaire pour frais de recouvrement fixée à 40&nbsp;euros sera versée systématiquement en
                sus des intérêts moratoires.<BR><i>Forme juridique que devra revêtir le groupement d'opérateurs
                    économiques attributaire du marché&nbsp;:&nbsp;</i>le candidat peut se présenter sous forme de
                groupement sous réserve du respect des règles relatives à la concurrence. Dans ce cas, la lettre de
                candidature (le formulaire Dc1) devra préciser si le groupement est solidaire ou conjoint et être dûment
                complété. L'acte d'engagement et les annexes financières devront être soit co-signés par l'ensemble des
                entreprises groupées, soit signés par le mandataire seul dès lors qu'il justifie des habilitations
                nécessaires pour représenter les membres du groupement. Dans les deux formes de groupement, le nom du
                mandataire doit être expressément désigné dans l'acte d'engagement.<BR><I>L'exécution du marché est
                    soumise à d'autres conditions particulières : </I>non.<BR><I>Langues pouvant être utilisées dans
                    l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>capacités professionnelles, techniques et financières Dc2.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire obligatoirement par le candidat, à l'appui de sa candidature&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Copie
                du ou des jugements prononcés, si le candidat est en redressement judiciaire.<br/><br/><i>Documents à
                    produire à l'appui des candidatures par le candidat, au choix de l'acheteur
                    public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Certificats de qualifications
                professionnelles. La preuve de la capacité du candidat peut être apportée par tout moyen, notamment par
                des certificats d'identité professionnelle ou des références de travaux attestant de la compétence de
                l'opérateur économique à réaliser la prestation pour laquelle il se porte candidat : référence
                équivalente d'installation clé en main d'un IRM, de moins de deux ans ou des références de travaux de
                complexité analogue;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire DC1, Lettre de candidature -
                Habilitation du mandataire par ses co-traitants (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC2, Déclaration du candidat individuel ou du membre du groupement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4).<br/><br/><i>Documents
                    à produire obligatoirement par l'attributaire, avant la signature et la notification du marché
                    public ou de l'accord-cadre (formulaire NOTI1)&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Les
                pièces prévues aux articles D. 8222-5 ou D. 8222-7 et D. 8222-8 du code du travail;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                l'attributaire est établi en France, les attestations et certificats délivrés par les administrations et
                organismes compétents prouvant qu'il a satisfait à ses obligations fiscales et sociales ou un état
                annuel des certificats reçus.
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>16&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;10&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>180 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>GH10-2015/076.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>critere prix : 50%<br>critere 2 - valeur technique de
                l'offre : 50 % <Br>Sous-Critère A - exécution 25% <Br>- modes opératoires de gestion des difficultés
                techniques propres au chantier et au site hospitalier<br>- planning prévisionnel des travaux (respect
                impératif du planning travaux y compris études, essais et réception).<br>- etude technique spécifique à
                l'opération.<br>sous-critère B - moyens mis en &oelig;uvre par l'entreprise 15%<br>- moyens en personnel
                affectés au chantier pour respecter le planning<br>- moyens en matériel affectés au chantier<br>-
                organigramme d'exécution avec cv + habilitation du personnel<br>- protection des travailleurs
                (protections collectives, EPI, etc.)<br>sous-critère C : Hygiène et sécurité 5%<br>- moyens mis en
                &oelig;uvre pour assurer l'hygiène sur le chantier et les abords (bonne tenue, bon respect, propreté,
                nettoyage).<br>- moyens mis en &oelig;uvre pour assurer la sécurité sur le chantier et les abords<br>-
                moyens mis en &oelig;uvre pour la protection des usagers et des personnels<br>sous-critère D
                -Environnement 5%<br>- gestion des déchets de chantier<br>- valorisation des matériaux<BR>le groupe
                hospitalier se réserve la possibilité de négocier, auquel cas, la négociation se déroulera avec les 3
                candidats les mieux classés après première analyse. <Br>La négociation sera réalisée dans le respect de
                l'égalité des candidats, de la propriété intellectuelle et individuelle et sans modifier l'objet du
                marché. Elles pourront porter sur l'offre technique et sur le prix. <Br>Les négociations seront
                finalisées par courriels avec chaque candidat admis à la négociation. Les candidats remettront leur
                nouvelle offre avant la date limite qui leur sera communiquée le jour de l'engagement des
                négociations.<br>a l'issue des négociations, il sera demandé à chaque candidat de remettre sa meilleure
                proposition afin de prendre en compte les modifications issues de la négociation (nouveaux AE signés
                et/ou de compléments de proposition par écrit) à la cellule des marchés du groupe hospitalier ; la
                pondération ci-dessus sera à nouveau appliquée aux nouvelles offres obtenues.<br>pour les candidats qui
                auraient remis leurs offres éventuellement modifiées après la date et l'heure limites, le jugement final
                des offres sera effectué sur la base de l'offre remise initialement (avant négociation). <Br>La date
                prévisionnelle de début du marché est prévue fin août 2015.<br>le délai d'exécution TCE est de 4 mois
                dont 1 mois de préparation à partir de la date fixée par l'ordre de service prescrivant à l'entrepreneur
                du lot unique de commnecer l'exécution des travaux.<br>retrait du dossier de consultation: Aucun envoi
                du dossier ne sera fait par la poste ou par mail. <Br>- sur place, suite à une demande préalable par
                courriel (cellulemarches.gh10@spr.aphp.fr), les entreprises peuvent retirer gratuitement le dossier de
                consultation, au Secrétariat de la Cellule des Marchés, à l'hôpital Sainte Périne -Chardon Lagache-
                rossini, Pavillon Joséphine, 11 rue Chardon Lagache 75 016 PARIS, de 9&nbsp;heures à 12&nbsp;heures et
                de 14&nbsp;heures à 16&nbsp;heures, les lundis, mardis, jeudis et vendredis sauf fériés. Sur la
                plateforme de dématérialisation, les candidats peuvent télécharger les documents du dossier de
                consultation.<br>pour tous renseignements complémentaires qui leur seraient nécessaires en vue de
                répondre à la présente consultation, les candidats peuvent poser leurs questions avant le 09/07/2015 à
                12&nbsp;heures à l'adresse suivante: https://www.achats-hopitaux.com dans la section "échange avec
                l'organisme" ou par télécopie à la Cellule des Marchés des HUPIFO : 01 44 96 32 47 ou par courriel :
                cellulemarches.gh10@spr.aphp.fr ; <Br>La Cellule des Marchés du groupe hospitalier transmettra les
                réponses à ces questions via la plateforme de dématérialisation à l'adresse indiquée par les candidats
                lors du téléchargement du dossier sur le site https://www.achats-hopitaux.com.<BR>Conditions de dépôt ou
                d'envoi des offres:<br>les candidats peuvent déposer leuroffre sous enveloppe anonyme et cachetée,
                contre récépissé, ou envoyer leur offre par lettre recommandée avec demande d'avis de réception postale
                à l'adresse suivante:<br>secrétariat de la Cellule des Marchés, Hôpital Sainte Périne, Pavillon
                Joséphine, 11 rue Chardon Lagache, 75 016 Paris.<Br>Horaires d'ouverture:de 9&nbsp;heures à 12&nbsp;heures
                et 14&nbsp;heures à 16&nbsp;heuresles les lundis, mardis, jeudis et vendredis sauf férié<br>si le
                dossier du candidat est envoyé par la poste, il doit parvenir à destination avant le 16/07/2015 à 10&nbsp;heures.
                Une fois que le candidat a expédié ou déposé son dossier, il ne peut ni retirer, ni modifier son offre.
                Si plusieurs dossiers sont successivement déposés, seul le dernier reçu sera ouvert.<br>l'enveloppe doit
                porter obligatoirement l'indication suivante: ne pas ouvrir - reponse a la mise en concurrence -
                consultation n<sup>o</sup> Gh10-2015/076 "Création d'un deuxième Irm".<Br>Il appartient aux candidats de
                s'assurer de la bonne réception dans les délais et dans les lieux prescrits. Les dossiers, qui
                parviendront après cette date, ou ceux qui parviendront sous enveloppe non cachetée, ou ne comportant
                pas l'objet du marché, ne seront pas retenus. <Br>La visite est facultative et individuelle et doit
                avoir lieu avant le 16/07/2015 à 10&nbsp;heures. Les rendez-vous pour réaliser la visite sont à prendre
                auprès de M.&nbsp;Alain CARIO 01 49 09 57 54 alain.cario@aphp.fr ; Pour tout problème lié à la prise de
                rendez-vous pour réaliser la visite, contacter : cellulemarches.gh10@spr.aphp.fr ; <Br>Procédure par
                voie électronique.<br>en application de l'article 56 du code des marchés publics, les candidats ont la
                possibilité de répondre via le site<br>de dématérialisation dont l'adresse internet est
                https://www.achats-hopitaux.com Pour répondre sous forme<br>dématérialisée, le candidat doit être
                inscrit sur le site https//www.achats-hopitaux.com et la personne habilitée à<br>engager le candidat
                doit être titulaire d'un certificat électronique afin de signer les fichiers composant sa<br>réponse.
                Conformément à l'arrêté du 15 juin 2012, le certificat de signature électronique doit être conforme
                au<br>rgs (référentiel général de sécurité) ; dans ce cas, le niveau minimum de sécurité exigé est ** ;
                les formats de<br>signature acceptés sont Pades, Cades, Xades. Lorque l'offre est envoyée par voie
                électronique, une copie de<br>sauvegarde peut être envoyée dans les conditions prévues au règlement de
                la consultation.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>30&nbsp;juin&nbsp;2015.</P><I>Adresse
                auprès de laquelle les documents peuvent être obtenus&nbsp;:&nbsp;</I><BR>&nbsp;adresse internet&nbsp;:
            <A HREF='javascript:BMP_openWindow("https://www.achatpublic.com/sdm/ent/gen/ent_detail.do?PCSLID=CSL_2015_s36CZqkbtj","TestLien","");'
               class="lien">https://www.achatpublic.com/sdm/ent/gen/ent_detail.do?PCSLID=CSL_2015_s36CZqkbtj</A>.<p><I>Instance
                chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal Administratif de CERGY- PONTOISE&nbsp;2/4
                boulevard de l'hautil, B.P.&nbsp;30322&nbsp;95027&nbsp;Cergy Pontoise Cedex, tél.&nbsp;:&nbsp;01-30-17-34-00,
                courriel&nbsp;:&nbsp;greffe.ta-cergy-pontoise@juradm.fr, télécopieur&nbsp;:&nbsp;01-30-17-34-59.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Tribunal
                Administratif de CERGY- PONTOISE&nbsp;2/4 boulevard de l'hautil, B.P.&nbsp;30322&nbsp;95027&nbsp;Cergy
                Pontoise, tél.&nbsp;:&nbsp;01-30-17-34-00, courriel&nbsp;:&nbsp;greffe.ta-cergy-pontoise@juradm.fr,
                télécopieur&nbsp;:&nbsp;01-30-17-34-59.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2998756&noa=15-100194" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>