<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>69</B><!-- ED=20158187--><BR>Annonce No&nbsp;<B>15-100057</B><BR>Travaux<!--Commune-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Ville de Tassin La Demi Lune.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;Pascal
            CHARMOT, Maire,&nbsp;place Hippolyte Péragut - B.P.&nbsp;58&nbsp;69812&nbsp;Tassin-la-Demi Lune, tél.&nbsp;:&nbsp;04-72-59-22-11,
            télécopieur&nbsp;:&nbsp;04-72-59-22-33, courriel&nbsp;:&nbsp;marchespublics@villetassinlademilune.fr&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.tassinlademilune.fr","TestLien","");'
                               class="lien">http://www.tassinlademilune.fr</A>.<BR>Adresse internet du profil d'acheteur&nbsp;:
            <A HREF='javascript:BMP_openWindow("http://tassinlademilune.marcoweb.fr","TestLien","");' class="lien">http://tassinlademilune.marcoweb.fr</A>.<BR><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>travaux de mise en sécurité et de réfection des toitures
                terrasses et des verrières de l'atrium à Tassin La Demi-Lune</B>.<BR><I>Type de marché de travaux&nbsp;:&nbsp;</I>
                exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45261920<br><i>Objets supplémentaires&nbsp;:&nbsp;</i>45261900<BR>45441000.<BR><I>Lieu
                    d'ex&eacute;cution&nbsp;:&nbsp;</I>l'atrium - 69 160 - tassin La Demi-Lune - rhône,&nbsp;69160&nbsp;Tassin-la-Demi
                Lune.<BR><I>Code NUTS : </I>FR716.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>la présente consultation concerne les
                travaux de mise en sécurité et de réfection des toitures terrasses et des verrières de l'atrium à Tassin
                La Demi-Lune<Br><Br>Elle fait l'objet d'une décomposition en 2 lots :<Br>-Lot n<sup>o</sup>1 - travaux
                de mise en sécurité et de réfection des toitures terrasses<Br>-Lot n<sup>o</sup>2 - travaux de mise en
                sécurité et de réfection des verrières<BR><i>Quantités (fournitures et services), nature et étendue
                    (travaux)&nbsp;:&nbsp;</i>durée du marché :<Br>Pour les 2 lots, les marchés sont conclus pour 2 ans
                à compter de leurs dates de notification ; La durée des 2 marchés comprend le délai d'exécution des
                travaux indiqué ci-dessous et à l'article 3-2 de l'acte d'engagement.<Br><Br>Les travaux relatifs au lot
                n<sup>o</sup>1 comprennent : Reprise étanchéité des jonctions de couvertine / Mousses à retirer / Pose
                des bandes porte joint (couvertine) / Joint de façade détérioré à refaire / Plis en surface courante à
                reprendre / Reprise des relevés d'étanchéité de la verrière / Couvertine à refaire / Remplacement des
                fixations (avec joint étanche) / Refaire les relevés d'étanchéité bitume / Nettoyer la toiture.<Br><Br>Les
                travaux relatifs au lot n<sup>o</sup>2 comprennent : mise en place des installations de chantier,
                protection du site, du personnel et du public / Dépose des couvertines / Dépose des vitrages et des
                joints / Nettoyage de l'ensemble de la structure / Mise en peinture de la structure intérieure (tube
                rond en acier) / Mise en &oelig;uvre de nouveaux joints / Repose du vitrage existant / Pose des
                couvertines neuves / Provision bris de verres et ce pour les 2 verrières.<Br><Br>Ces listes ne sont pas
                exhaustives.<BR><i>Options : descriptions concernant les achats complémentaires&nbsp;:&nbsp;</i>il n'y a
                pas d'option(s).<BR><I>Refus des variantes</I>.<BR>Prestations divisées en lots : oui.<BR>Possibilité de
                pr&eacute;senter une offre pour un ou plusieurs lots.<BR><i>Date&nbsp;prévisionnelle&nbsp;de&nbsp;commencement&nbsp;des&nbsp;travaux&nbsp;:&nbsp;</i>2&nbsp;novembre&nbsp;2015.<BR><I>Cautionnement
                    et garanties exigés&nbsp;:&nbsp;</I>-Une retenue de garantie de 5% du montant initial du marché
                (augmenté le cas échéant du montant des avenants) sera constituée. Cette retenue de garantie peut être
                remplacée au gré du titulaire par une garantie à première demande, constituée en totalité au plus tard à
                la date à laquelle le titulaire remet la demande de paiement correspondant au premier acompte du marché.
                Il ne sera par contre pas accepté de caution personnelle et solidaire.<Br>-Avance : selon modalités du
                code des marchés publics - versement d'une avance en contre partie de la constitution d'une garantie à
                première demande.<BR><I>Modalités essentielles de financement et de paiement et/ou références aux textes
                    qui les réglementent&nbsp;:&nbsp;</I>-délai global de paiement : selon art. 98 du CMP.<Br>-Financement
                sur fonds propres.<BR><i>Forme juridique que devra revêtir le groupement d'opérateurs économiques
                    attributaire du marché&nbsp;:&nbsp;</i>forme souhaitée par le pouvoir adjudicateur : groupement
                solidaire.<BR><I>L'exécution du marché est soumise à d'autres conditions particulières : </I>non.<BR><I>Langues
                    pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>cf.&nbsp;règlement de consultation.<BR><I>Situation juridique - références
                requises&nbsp;:&nbsp;</I>cf.&nbsp;règlement de consultation.<BR><I>Capacité économique et financière -
                références requises&nbsp;:&nbsp;</I>cf.&nbsp;règlement de consultation<BR><I>Référence professionnelle
                et capacité technique - références requises&nbsp;:&nbsp;</I>cf.&nbsp;règlement de consultation.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><BR>cf.&nbsp;règlement
                de consultation.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix
                des prestations : 35 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur technique : 65 %.<BR>Une enchère
                électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>14&nbsp;septembre&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>15ST010.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>précisions sur la procédure de passation : procédure
                adaptée ouverte.<Br>Précisions sur les critères de jugement des offres : cf. Règlement de
                consultation.<Br><Br>Date et heure limites de réception des questions des candidats : le vendredi
                04/09/2015 à 16 heures.<Br><Br>Visite des lieux : Une visite des lieux par les candidats est obligatoire
                afin que les prestataires puissent prendre connaissance des installations.<Br>Elle aura lieu, soit le
                mardi 01/09/2015 à 9&nbsp;heures sur site, soit le vendredi 04/09/2015 à 9&nbsp;heures sur site ; les
                candidats sont priés de prévenir, avant le lundi 31/08/2015 pour la 1ère date de visite et le jeudi
                03/09/2015 pour la 2nde date de visite, le service marchés publics par mail à
                marchespublics@villetassinlademilune.fr (ou par téléphone au 04-72-59-22-11) de la date à laquelle ils
                viendront effectuer la visite.
            <p><I>Conditions et mode de paiement pour obtenir les documents contractuels et additionnels</I> :<BR>Le
                dossier de consultation des entreprises est téléchargeable à l'adresse suivante :
                http://tassinlademilune.marcoweb.fr. (Affaire 15st010).<BR><I>Date limite d'obtention</I> : 14&nbsp;septembre&nbsp;2015,
                à 12&nbsp;heures.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>les plis pourront être remis en mains
                propres contre récépissé du lundi au vendredi de 8h30 à 12h et de 13h30 à 17h ou en lettre recommandée
                avec avis de réception à l'adresse indiquée ci-dessus.<Br><Br>Les candidats pourront aussi transmettre
                de façon électronique leurs plis à l'adresse suivante : http://tassinlademilune.marcoweb.fr<Br>Modalités
                de remise des offres sous forme électronique : cf. Règlement de consultation.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>3&nbsp;juillet&nbsp;2015.</P><I>Adresse
                auprès de laquelle des renseignements d'ordre administratif et technique peuvent être obtenus&nbsp;:&nbsp;</I>Mairie
            de Tassin La Demi-Lune.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>service Marchés Publics,&nbsp;&nbsp;place
            Hippolyte Péragut - B.P.&nbsp;58,&nbsp;&nbsp;69812&nbsp;Tassin-la-Demi Lune,&nbsp;, tél.&nbsp;:&nbsp;04-72-59-22-11,&nbsp;,
            télécopieur&nbsp;:&nbsp;04-72-59-22-33,&nbsp;, courriel&nbsp;:&nbsp;marchespublics@villetassinlademilune.fr.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de Lyon&nbsp;184,
                Rue Duguesclin&nbsp;69433&nbsp;Lyon Cedex 03, tél.&nbsp;:&nbsp;04-78-14-10-10, courriel&nbsp;:&nbsp;greffe.ta-lyon@juradmin.fr,
                télécopieur&nbsp;:&nbsp;04-78-14-10-65.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Tribunal
                administratif de Lyon&nbsp;184, Rue Duguesclin&nbsp;69433&nbsp;Lyon Cedex 03, tél.&nbsp;:&nbsp;04-78-14-10-10,
                courriel&nbsp;:&nbsp;greffe.ta-lyon@juradmin.fr, télécopieur&nbsp;:&nbsp;04-78-14-10-65.</P>
            <P><I>Renseignements relatifs aux lots&nbsp;:&nbsp;</I>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 1.</span> - travaux de mise en sécurité et de
                                    réfection des toitures terrasses.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Travaux de mise en sécurité et de réfection des toitures terrasses</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45261920<br><i>Objets
                                    supplémentaires&nbsp;:&nbsp;</i>45261900.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 2.</span> - travaux de mise en sécurité et de
                                    réfection des verrières.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Travaux de mise en sécurité et de réfection des verrières</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45441000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2998619&noa=15-100057" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>