<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>31</B><!-- ED=20158184--><BR>Annonce No&nbsp;<B>15-102374</B><BR>Services
            <!--Etablissement public territorial--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Tisséo SMTC.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;le
            président,&nbsp;7, Esplanade Compans Caffarelli B.P.&nbsp;11120&nbsp;31011&nbsp;Toulouse, tél.&nbsp;:&nbsp;(+33)
            5-67-77-80-80, télécopieur&nbsp;:&nbsp;(+33) 5-67-77-80-01&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.tisseo.fr","TestLien","");' class="lien">http://www.tisseo.fr</A>.<BR><i>Principale(s)
                Activité(s) de l'entité adjucatrice : </i> Services de chemin de fer urbain, de tramway, de trolleybus
            ou d'autobus.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>réalisation et fourniture d'un skid : Ensemble de Nettoyage
                Haute Pression et d'hydrocurage métro Ligne A Ligne B</B>.<BR><I>Catégorie de services&nbsp;:&nbsp;</I>27.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;42924730.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>périmètre des transports
                urbains de l'agglomération toulousaine.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>marché unique ordinaire<BR><I>Refus des
                variantes</I>.<BR>La procédure d'achat du présent avis est couverte par l'accord sur les marchés publics
                de l'OMC : non.<br/><BR>Prestations divisées en lots : non.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>12 mois à compter de la notification du
                marché.<BR><I>Cautionnement et garanties exigés&nbsp;:&nbsp;</I>garantie à première demande couvrant
                100,000% du montant de l'avance.<BR><I>Modalités essentielles de financement et de paiement et/ou
                    références aux textes qui les réglementent&nbsp;:&nbsp;</I>articles 86 à 111 du Code des marchés
                publics français. Caractéristiques des prix : Prix global forfaitaire. Modalités de variation des prix :
                fermes actualisables. Une avance de 5,000% sera accordée dans les conditions prévues au contrat.
                Modalité de règlement des comptes : selon les modalités du C.C.A.G.-F.C.S. Le délai global de paiement
                est de 30 jours. Modalités de financements : Emprunts et ressources propres (le financement de
                Tisséo-Smtc est assuré par les recettes commerciales, le versement transport et les participations des
                collectivités membres).<BR><I>L'exécution du marché est soumise à d'autres conditions particulières
                    : </I>le marché débutera à compter de la notification du contrat.<BR><i>Unité monétaire utilisée,
                    l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>lettre
                de candidature et habilitation du mandataire par ses co traitants (Dc1 ou forme libre) Déclaration sur
                l'honneur pour justifier que le candidat n'entre dans aucun des cas mentionnés à l'article 43 du
                Cmp(Dc2) ; Copie du ou des jugements prononcés, si le candidat est en redressement judiciaire ; Les
                documents relatifs à la personne habilitée à engager le candidat (article 45-i du Cmp); Les traductions
                en français des documents s'ils ne sont pas rédigés en langue française.<BR><I>Capacité économique et
                    financière - références requises&nbsp;:&nbsp;</I>déclaration concernant le chiffre d'affaires global
                du dernier exercice disponible; Preuve d'une assurance pour les risques professionnels<BR><I>Référence
                    professionnelle et capacité technique - références requises&nbsp;:&nbsp;</I>déclaration indiquant
                les effectifs moyens annuels du candidat au cours de la dernière année. Présentation d'une liste des
                principales fournitures livrées au cours des trois dernières années.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix
                : 60 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur technique : 20 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;planning
                détaillé et optimisé de la phase 2: réalisation et livraison de l'ensemble de nettoyage : 20 %.<BR>Une
                enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>24&nbsp;août&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>MA-VB-AF-15-049.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>conformément à la législation française, l'ouverture
                des offres n'est pas publique. Le dossier est téléchargeable sur www.tisseo.fr en indiquant la référence
                : "Réalisation et fourniture d'un skid: Haute Pression et d'hydro curage métro Ligne A Ligne B Ensemble
                de Nettoyage Haute Pression et d'hydro curage métro Ligne A Ligne B ". Le dossier de consultation sera
                remis gratuitement sur demande écrite (courrier ou télécopie) en précisant les références. Il est
                également disponible gratuitement à l'adresse électronique suivante: http://www.tisseo.fr. Aucune
                demande d'envoi du dossier sur support physique électronique n'est autorisée. Les offres peuvent etre
                transmises par lettre recommandée avec avis de réception ou déposées contre récépissé. Dématérialisation
                des procédures : l'organisme acheteur accepte les plis adressés par d'autres moyens permettant d'en
                garantir la confidentialité et la date de réception. Les modalités de transmission électronique des plis
                sont définies dans le règlement de la consultation. Les offres remises dans le cadre de cette
                consultation seront négociées. A ce titre, les candidats sont informés que seules les 3 entreprises les
                mieux classées, c'est à dire celles dont les offres sont économiquement les plus avantageuses au regard
                des critères de sélection des offres, seront admises à la phase de négociation. Une visite obligatoire
                du site GAT Borderouge sera organisée le vendredi 10 juillet 2015 à 10 heures ou le jeudi 16 juillet
                2015 à 10 heures. Les formulaires Dc1 (ancien DC&nbsp;4) et Dc2 (ancien Dc5) sont disponibles auprè du
                Ministère de l'économie, de l'industrie et de l'amploi ou sur le site du MINEFE
                http://wwweconomie.gouv.fr/daj/formulairesdeclaration-candidat.
            <p><i>Le présent marché a un caractère périodique :&nbsp;</i>non.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>2&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I>Tisséo-SMTC.<BR>&nbsp;direction Générale Adjointe Ressources Pôle Commande
            Publique 7, Esplanade Compans Caffarelli B.P.&nbsp;11120 Cedex 6,&nbsp;&nbsp;31011&nbsp;Toulouse,&nbsp;&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.tisseo.fr","TestLien","");' class="lien">http://www.tisseo.fr</A>.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre technique peuvent être obtenus&nbsp;:&nbsp;</I><BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>M.&nbsp;Vincent
            BENARD.<BR><I>Adresse auprès de laquelle des renseignements d'ordre administratif peuvent être obtenus&nbsp;:&nbsp;</I>Tisséo-SMTC.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>Mme&nbsp;Nadine
            SOULA ou Mme&nbsp;Ana CHABAUD,&nbsp;&nbsp;direction Générale Adjointe Ressources Pôle Commande Publique 7,
            Esplanade Compans Caffarelli B.P.&nbsp;11120 Cedex 6,&nbsp;&nbsp;31011&nbsp;Toulouse,&nbsp;, tél.&nbsp;:&nbsp;(+33)
            5-67-77-80-61,&nbsp;, télécopieur&nbsp;:&nbsp;(+33) 5-67-77-80-16.<BR><I>Adresse auprès de laquelle les
                documents peuvent être obtenus&nbsp;:&nbsp;</I>Tisséo-SMTC.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>Mme&nbsp;Nadine
            SOULA ou Mme&nbsp;Ana CHABAUD,&nbsp;&nbsp;direction Générale Adjointe Ressources Pôle Commande Publique 7,
            Esplanade Compans Caffarelli B.P.&nbsp;11120 Cedex 6,&nbsp;&nbsp;31011&nbsp;Toulouse,&nbsp;, tél.&nbsp;:&nbsp;(+33)
            5-67-77-80-61,&nbsp;, télécopieur&nbsp;:&nbsp;(+33) 5-67-77-80-16,&nbsp;&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.tisseo.fr","TestLien","");' class="lien">http://www.tisseo.fr</A>.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal Administratif de Toulouse&nbsp;68
                rue Raymond iv B.P.&nbsp;7007&nbsp;31068&nbsp;Toulouse, tél.&nbsp;:&nbsp;(+33) 5-62-73-57-57, courriel&nbsp;:&nbsp;greffe.ta-toulouse@juradm.fr,
                télécopieur&nbsp;:&nbsp;(+33) 5-62-73-57-40.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Tribunal
                Administratif de Toulouse&nbsp;68 rue Raymond iv B.P.&nbsp;7007 Cedex 07&nbsp;31068&nbsp;Toulouse, tél.&nbsp;:&nbsp;(+33)
                5-62-73-57-57, courriel&nbsp;:&nbsp;greffe.ta-toulouse@juradm.fr, télécopieur&nbsp;:&nbsp;(+33)
                5-62-73-57-40.</P><img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000936&noa=15-102374"
                                       width="1" height="1"></td>
    </tr>
</table>
</body>
</html>