<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>50</B><!-- ED=20158190--><BR>Annonce No&nbsp;<B>15-102180</B><BR>Services
            <!--Etablissement public territorial--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>communauté urbaine de
            Cherbourg.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;le président de la Communauté Urbaine de Cherbourg,&nbsp;2
            rue des Bastions - B.P.&nbsp;808&nbsp;50108&nbsp;Cherbourg Octeville, tél.&nbsp;:&nbsp;02-33-08-26-00,
            télécopieur&nbsp;:&nbsp;02-33-93-82-04, courriel&nbsp;:&nbsp;marches@lacuc.fr&nbsp;adresse internet&nbsp;:
            <A HREF='javascript:BMP_openWindow("http://www.cuc-cherbourg.fr","TestLien","");' class="lien">http://www.cuc-cherbourg.fr</A>.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://marches.local-trust.com/cuc-cherbourg","TestLien","");'
                    class="lien">http://marches.local-trust.com/cuc-cherbourg</A>.<BR>Le pouvoir adjudicateur n'agit pas
            pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s) Activité(s) du pouvoir adjudicateur
                : </i> EPCI.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>maintenance des systèmes de sécurité incendie (détection /
                désenfumage) des bâtiments de la communauté urbaine de Cherbourg pour les années 2015-2016-2017-2018</B>.<BR><I>Catégorie
                de services&nbsp;:&nbsp;</I>1.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;50324200.<BR><I>Lieu
                d'ex&eacute;cution&nbsp;:&nbsp;</I>communauté urbaine de cherbourg.<BR><I>Code NUTS : </I>FR252.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>maintenance des systèmes de sécurité
                incendie (détection / désenfumage) des bâtiments de la communauté urbaine de Cherbourg pour les années
                2015-2016-2017-2018<BR><i>Options : descriptions concernant les achats complémentaires&nbsp;:&nbsp;</i>marché
                reconductible.<BR><i>Nombre de reconductions éventuelles&nbsp;:&nbsp;</i>3.<BR><I>Refus des
                    variantes</I>.<BR>La procédure d'achat du présent avis est couverte par l'accord sur les marchés
                publics de l'OMC : non.<br/><BR>Prestations divisées en lots : non.<BR><i>Date&nbsp;prévisionnelle&nbsp;de&nbsp;début&nbsp;des&nbsp;prestations&nbsp;(fournitures/services)&nbsp;:&nbsp;</i>1.e.r&nbsp;octobre&nbsp;2015.<BR><I>Modalités
                    essentielles de financement et de paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>budget
                principal et budgets annexes de la communauté urbaine de cherbourg. Le paiement sera effectué par mandat
                administratif dans un délai de 30 jours à compter de la réception des factures ou des demandes de
                paiement équivalentes par la direction des finances.<BR><I>L'exécution du marché est soumise à d'autres
                    conditions particulières : </I>non.<BR><I>Langues pouvant être utilisées dans l'offre ou la
                    candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>suivant l'analyse des pièces fournies au titre des justifications à
                produire.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire à l'appui des candidatures par le candidat, au choix de l'acheteur
                public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration appropriée de banques ou
                preuve d'une assurance pour les risques professionnels;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Certificats
                de qualifications professionnelles. La preuve de la capacité du candidat peut être apportée par tout
                moyen, notamment par des certificats d'identité professionnelle ou des références de travaux attestant
                de la compétence de l'opérateur économique à réaliser la prestation pour laquelle il se porte candidat :
                apsad service de maintenance de SDI et CMSI (F7)<BR>APSAD service d'installation de SDI et CMSI (F7)<BR>déclaration
                auprès de l'agence de Sécurité Nucléaire;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire DC1, Lettre
                de candidature - Habilitation du mandataire par ses co-traitants (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC2, Déclaration du candidat individuel ou du membre du groupement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                les documents fournis par le candidat ne sont pas établis en langue française, ils doivent être
                accompagnés d'une traduction en français, certifiée conforme à l'original par un traducteur
                assermenté.<BR>dans le Dc2 (compléter les rubriques D1 et D2) et joindre en annexe les renseignements
                suivants : les moyens humains (effectifs) et techniques (matériels), les références du candidat au cours
                des 3 dernières années, attestation et certification des capacités professionnels du candidat.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur
                financière de l'offre : 60 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur technique de l'offre : 40
                %.
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>6&nbsp;août&nbsp;2015,&nbsp;à&nbsp;16&nbsp;h&nbsp;30.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>DB1505PA13.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>la communauté urbaine de cherbourg
                accepte la transmission des candidatures et offres par voie électronique. Le téléchargement du DCE, la
                disponibilité des documents et renseignements complémentaires s'effectuent à l'adresse suivante :
                http://marches.local-trust.com/cuc-cherbourg. Pour télécharger les documents autres que le règlement de
                consultation et les renseignements mentionnés à l'alinéa précédent, les opérateurs économiques
                s'identifient. Ils indiquent le nom de la personne physique chargée de leur téléchargement ainsi qu'une
                adresse électronique permettant à la Communauté Urbaine de Cherbourg, le cas échéant, d'établir de façon
                certaine une correspondance électronique avec l'opérateur économique concerné. <Br>Les opérateurs
                économiques qui téléchargent le DCE ou qui le retirent sous format papier restent libres de remettre
                leur dossier de réponse par voie postale sur support électronique ou par voie électronique par
                l'intermédiaire de la plate-forme. Les modalités de transmission par voie électronique des plis à la
                personne publique sont indiquées dans le règlement de consultation.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>8&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I>communauté urbaine de Cherbourg.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>accueil
            du Pôle opérations et services techniques,&nbsp;&nbsp;2 Quai de Caligny - B.P.&nbsp;808,&nbsp;&nbsp;50108&nbsp;Cherbourg
            Octeville Cedex,&nbsp;, tél.&nbsp;:&nbsp;02-33-08-26-50,&nbsp;, télécopieur&nbsp;:&nbsp;02-33-01-08-36,&nbsp;&nbsp;adresse
            internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://marches.local-trust.com/cuc-cherbourg","TestLien","");'
                    class="lien">http://marches.local-trust.com/cuc-cherbourg</A>.<BR><I>Adresse auprès de laquelle des
                renseignements d'ordre administratif et technique peuvent être obtenus&nbsp;:&nbsp;</I>communauté
            urbaine de cherbourg.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>direction des batiments,&nbsp;&nbsp;2 quai
            de Caligny,&nbsp;&nbsp;50100&nbsp;Cherbourg Octeville,&nbsp;, tél.&nbsp;:&nbsp;02-33-08-26-93,&nbsp;, poste&nbsp;27.93,&nbsp;,
            télécopieur&nbsp;:&nbsp;02-33-01-08-36.<BR><I>Adresse auprès de laquelle les documents peuvent être obtenus&nbsp;:&nbsp;</I>communauté
            urbaine de cherbourg.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>accueil du Pôle Opérations et services
            techniques,&nbsp;&nbsp;2 Quai de Caligny - B.P.&nbsp;808,&nbsp;&nbsp;50108&nbsp;Cherbourg Octeville Cedex,&nbsp;,
            tél.&nbsp;:&nbsp;02-33-08-26-50,&nbsp;, télécopieur&nbsp;:&nbsp;02-33-01-08-36,&nbsp;&nbsp;adresse internet&nbsp;:
            <A HREF='javascript:BMP_openWindow("http://marches.local-trust.com/cuc-cherbourg","TestLien","");'
               class="lien">http://marches.local-trust.com/cuc-cherbourg</A>.<p><I>Instance chargée des procédures de
                recours&nbsp;:&nbsp;</I>Tribunal Administratif de Caen&nbsp;3 rue Arthur Le DUC - bp25086&nbsp;14050&nbsp;Caen
                Cedex 4, tél.&nbsp;:&nbsp;02-31-70-72-72, courriel&nbsp;:&nbsp;greffe.ta-caen@juradm.fr, télécopieur&nbsp;:&nbsp;02-31-52-42-17&nbsp;adresse
                internet&nbsp;: <A
                        HREF='javascript:BMP_openWindow("http://caen.tribunal-administratif.fr","TestLien","");'
                        class="lien">http://caen.tribunal-administratif.fr</A>.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Tribunal
                administratif de Caen&nbsp;3 rue Arthur Le Duc - B.P.&nbsp;25086&nbsp;14050&nbsp;Caen Cedex 4, tél.&nbsp;:&nbsp;02-31-70-72-72,
                courriel&nbsp;:&nbsp;greffe.ta-caen@juradm.fr, télécopieur&nbsp;:&nbsp;02-31-52-42-17&nbsp;adresse
                internet&nbsp;: <A
                        HREF='javascript:BMP_openWindow("http://caen.tribunal-administratif.fr","TestLien","");'
                        class="lien">http://caen.tribunal-administratif.fr</A>.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000742&noa=15-102180" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>