<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>33</B><!-- ED=20158184--><BR>Annonce No&nbsp;<B>15-102570</B><BR>Services<!--Commune-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Mairie de Talence.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;Cazabonne
            Alain, Mairie de Talence,&nbsp;B.P.&nbsp;10035&nbsp;33401&nbsp;Talence Cedex, tél.&nbsp;:&nbsp;05-56-84-34-62,
            télécopieur&nbsp;:&nbsp;05-56-84-78-58, courriel&nbsp;:&nbsp;achatsmarches@talence.fr.<BR>Adresse internet
            du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://achatsmarches.aquitaine.fr","TestLien","");' class="lien">http://achatsmarches.aquitaine.fr</A>.<BR>Le
            pouvoir adjudicateur n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<p><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>organisation
                d'un séjour de vacances d'hiver dans les Pyrénées - année 2016</B>.<BR><I>Catégorie de services&nbsp;:&nbsp;</I>17.<BR><I>Lieu
                d'ex&eacute;cution&nbsp;:&nbsp;</I>.<BR><I>Code NUTS : </I>|FR612|.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>marché à bons de commandes (art. 77 du
                Cmp), à prix fermes et non actualisables<BR><i>Quantités (fournitures et services), nature et étendue
                    (travaux)&nbsp;:&nbsp;</i>montant maximum en euro(s) (T.T.C.) : 15 000.<BR><I>Des variantes
                    seront-elles prises en compte: </I>oui.<BR>Prestations divisées en lots : non.<BR><I>Modalités
                    essentielles de financement et de paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>le
                financement de ces prestations se fera sur la base du budget de la Mairie de Talence.<Br>Le mode de
                règlement est le virement par mandat administratif sous 30 jours.<BR><I>Langues pouvant être utilisées
                    dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Autres
                renseignements demandés&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres renseignements
                demandés : les candidats devront fournir :- une lettre de candidature (formulaire Dc1
                (http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4) ou autre).- toutes
                les pièces prévues aux articles 44 et 45 du CMP datées et signées (formulaire Dc2 et annexes
                (http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4), ou autre) avec les
                documents et renseignements suivants, pour évaluer leurs capacités professionnelles, financières et
                techniques :- liste des principaux services effectués au cours des 3 dernières années, indiquant le
                montant, la date et le destinataire public ou privé. Prestations prouvées par des attestations du
                destinataire, ou à défaut, par une déclaration de l'opérateur économique.- chiffre d'affaires global et
                chiffre d'affaires concernant les services, objet du marché, réalisés au cours des 3 derniers exercices
                disponibles.- effectifs moyens annuels du candidat et importance du personnel d'encadrement pour chacune
                des 3 dernières années.- Liste des centres d'accueil dont le candidat dispose pour la réalisation de
                marché de même nature- preuve d'une assurance couvrant le candidat pour les risques professionnels
                inhérents aux prestations qui constituent l'objet du marché public (cette preuve peut être apportée par
                tout moyen et sous quelque forme que ce soit).
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur
                technique de l'offre (mémoire technique)(note sur 20) : 45 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix
                des prestations (note sur 20) : 40 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;calendrier proposé
                (mémoire technique)(note sur 20) : 15 %.
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>23&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;16&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>16-06.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>durée du marché : de la date de notification au 31 mars
                2016<br>lieu de retrait du DCE et de remise des plis : <Br>Mairie de Talence, Service Achats et Marchés,
                (du lundi au jeudi de 12h45 à 19h15 et le vendredi de 8h45 à 12&nbsp;heures et de 12h45 à 16&nbsp;heures),
                Bureau 106 bis, B.P.&nbsp;10035, 33401 Talence Cedex.<br>les soumissionnaires transmettent leur pli
                :<Br>- soit contre récépissé<br>- soit par tout courrier permettant de déterminer de façon certaine la
                date et l'heure de sa réception et d'en garantir la confidentialité<br>- soit par voie électronique. Les
                modalités de transmission sont celles offertes par la Mairie de Talence sur la plate-forme :
                www.marchespublics-aquitaine.org. Cette plate-forme de dématérialisation permet :<Br>- de télécharger le
                D.C.E. Correspondant. Bien que l'identification des opérateurs économiques pour accéder aux documents de
                la consultation ne soit pas obligatoire, l'identification leur permet d'être tenus informés
                automatiquement des modifications et des précisions éventuellement apportées au DCE. Dans le cas
                contraire, il appartiendra aux opérateurs économiques de détecter et récupérer par leur propres moyens
                les informations communiquées.<br>- de répondre de façon électronique aux consultations.<br>les
                documents contractuels émis par la collectivité ne doivent pas être modifiés. Les documents
                électroniques ont des contenus identiques aux documents papiers diffusés dans le même cadre.<br>pour
                répondre à la consultation sous forme dématérialisée via la plate-forme, la personne habilitée à engager
                le soumissionnaire doit être titulaire d'une signature électronique référencée. <Br>L'Opérateur
                économique est libre d'utiliser le certificat de son choix si celui-ci remplit les obligations minimales
                résultant du référentiel général de sécurité (RGS : www.references.modernisation.gouv.fr) ou des
                conditions de sécurité équivalente. Les formats de signature Xades, Pades et Cades, ou tous ceux y étant
                conformes, sont acceptés.<br>en outre, le certificat de signature électronique devra correspondre aux
                préconisations du niveau ** du Rgs.<BR>1°Lorsque le certificat de signature émane de la liste de
                confiance française ou d'une liste de confiance d'un autre Etat-Membre (pour les certificats qualifiés,
                équivalents au niveau 2* du Rgs), c'est-à-dire qu'il peut être relié à un prestataire ou un produit de
                sécurité référencé pour la France par le ministère chargé de la réforme de l'etat
                (www.references.modernisation.gouv.fr) et pour les autres Etats-Membres par la Commission européenne
                (https://ec.europa.eu/information_society/policy/esignature/trusted-list/tl-mp.xml ;
                https://ec.europa.eu/information_society/policy/esignature/trusted-list/tl-hr.pdf), la conformité du
                produit au RGS est présumée, et les seules vérifications à opérer sont celles du niveau de sécurité **
                et bien sûr, de la validité de la signature elle-même. Le signataire n'a pas à fournir d'autres éléments
                que ceux permettant la vérification de la validité de la signature.<BR>2° Lorsque l'opérateur économique
                utilise un certificat de signature électronique non référencé sur une liste de confiance, il s'assure
                que le certificat qu'il utilise est conforme au niveau de sécurité préconisé, et transmet tous les
                éléments nécessaires (adresse du site internet de référencement dans le pays tiers, preuve de la
                qualification du prestataire ou du produit, adresse de l'autorité de certification qui a délivré le
                certificat de signature, qui mentionne la politique de certification...) pour permettre de procéder
                gratuitement à la vérification de la validité de la signature, de l'intégrité du document et donc de
                cette conformité au Rgs.<Br>Tous les documents, pièces et certificats, relatifs à la candidature et à
                l'offre, qui auraient été signés à la main dans le cadre d'une procédure papier doivent être signés
                électroniquement dans le cadre d'une procédure dématérialisée.<br>attention, un zip signé ne vaut pas
                signature de chaque document du zip. De même, les documents papiers signés à la main, avant d'être
                numérisés à l'aide d'un scanner, n'ont pas valeur d'original. Ils n'engagent donc pas la société sur
                l'offre qu'elle remet.<br>les frais d'accès au réseau sont à la charge de chaque soumissionnaire.<br>la
                collectivité n'accepte pas les plis remis par une voie électronique autre que via la plate-forme dédiée
                à cet effet. <Br>Afin d'éviter qu'un pli transmis électroniquement soit déclaré irrecevable en raison
                :<Br>- de la présence d'un programme informatique malveillant (virus)<br>- d'une réception hors délai
                (aléas de transmission)<br>- d'une ouverture impossible<br>les soumissionnaires peuvent parallèlement à
                l'envoi électronique adresser au pouvoir adjudicateur une copie de sauvegarde des plis sur support
                physique électronique (Cd-Rom Dvd-Rom, clé Usb...) ou bien sur support papier (par tout courrier
                permettant de déterminer de façon certaine la date et l'heure de sa réception et d'en garantir la
                confidentialité ou par dépôt contre récépissé).<br>cette copie des dossiers est destinée à se substituer
                (sous réserve que la copie de sauvegarde soit parvenue dans les délais), en cas d'anomalie, aux dossiers
                des offres transmises par voie électronique au pouvoir adjudicateur. Cette copie est transmise sous pli
                scellé et comporte obligatoirement la mention : " copie de sauvegarde ". Les documents figurant sur ce
                support doivent être revêtus de la signature électronique.<br>le soumissionnaire qui effectue à la fois
                une transmission électronique et, à titre de copie de sauvegarde, une transmission sur support physique
                électronique ou sur support papier, doit faire parvenir cette copie dans les délais impartis pour la
                remise des plis.<br>sans préjudice des dispositions relatives à la copie de sauvegarde, les offres sont
                transmises en une seule fois. Si plusieurs offres sont successivement transmises par un même candidat,
                seule est ouverte la dernière offre reçue, par voie électronique ou sur support matériel, par le pouvoir
                adjudicateur dans le délai fixé pour la remise des offres.<br>dans le cas de candidatures groupées, le
                mandataire assure la sécurité et l'authenticité des informations transmises au nom des membres du
                groupement.<br>- renseignements : <Br>Pour obtenir tous renseignements complémentaires qui leur seraient
                nécessaires au cours de la constitution de leur dossier, les soumissionnaires devront faire parvenir au
                plus tard 10 jours avant la date limite de remise des offres, une demande écrite soit par :<Br>-
                courrier permettant de déterminer de façon certaine la date et l'heure de sa réception et d'en garantir
                la confidentialité à Mairie de Talence - service Achats et Marchés - B.P.&nbsp;10035, 33401 talence
                Cedex, <br>- télécopie au 05.56.84.78.58<br>- e-mail par le biais de la plateforme
                www.marchespublics-aquitaine.org.<BR>Une réponse sera adressée en temps utile à toutes les sociétés
                ayant demandé un dossier de consultation.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>2&nbsp;juillet&nbsp;2015.</P><I>Adresse
                auprès de laquelle les documents peuvent être obtenus&nbsp;:&nbsp;</I><BR>&nbsp;adresse internet&nbsp;:
            <A HREF='javascript:BMP_openWindow("https://marchespublics.aquitaine.fr/?page=entreprise.EntrepriseAdvancedSearch&AllCons&refConsultation=1911&orgAcronyme=a6d","TestLien","");'
               class="lien">https://marchespublics.aquitaine.fr/?page=entreprise.EntrepriseAdvancedSearch&AllCons&refConsultation=1911&orgAcronyme=a6d</A>.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal Administratif&nbsp;9 rue Tastet&nbsp;33000&nbsp;Bordeaux,
                tél.&nbsp;:&nbsp;05-56-99-38-00, courriel&nbsp;:&nbsp;greffe.ta-bordeaux@juradm.fr, télécopieur&nbsp;:&nbsp;05-56-24-39-03.
            </P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Tribunal
                administratif&nbsp;9 rue Tastet&nbsp;33000&nbsp;Bordeaux, tél.&nbsp;:&nbsp;05-56-99-38-00, courriel&nbsp;:&nbsp;greffe.ta-bordeaux@talence.fr,
                télécopieur&nbsp;:&nbsp;05-56-24-39-03.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3001132&noa=15-102570" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>