<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>59</B>,&nbsp;62<!-- ED=20158212--><BR>Annonce No&nbsp;<B>15-101999</B><BR>Travaux
            <!--Etablissement public territorial--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Communauté d'Agglomération du
            Douaisis.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;le président Christian Poiret,&nbsp;service Commande
            Publique 746, Rue Jean Perrin - zI de Douai Dorignies B.P n<sup>o</sup> 300&nbsp;59500&nbsp;Douai Cedex,
            tél.&nbsp;:&nbsp;(+33)3-27-99-21-47, télécopieur&nbsp;:&nbsp;(+33)3-27-99-52-10, courriel&nbsp;:&nbsp;marchespublics@douaisis-agglo.com.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://marches.rvvn.org","TestLien","");' class="lien">https://marches.rvvn.org</A>.<BR><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>pose d'un réseau d'eau pluviale dans les rues du Calvaire et
                Grand Rue et mise en séparatif des 2 collecteurs Rue d'etaing à Lécluse</B>.<BR><I>Type de marché de
                travaux&nbsp;:&nbsp;</I> exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;45232410.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>rues du Calvaire, Grand
                Rue et Rue d'etaing,&nbsp;59259&nbsp;Lécluse.<BR><I>Code NUTS : </I>FR301.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>pose d'un réseau d'eau pluviale dans les
                rues du Calvaire et Grand Rue et mise en séparatif des 2 collecteurs Rue d'etaing à Lécluse<BR><i>Quantités
                    (fournitures et services), nature et étendue (travaux)&nbsp;:&nbsp;</i>- Tranche ferme = Pose d'un
                réseau d'eau pluviale dans la rue du Calvaire et mise en séparatif des 2 collecteurs Rue d'etaing à
                Lécluse<br><br>- tranche conditionnelle 1 = Pose d'un réseau d'eau pluviale dans la Grand Rue à Lécluse.<BR><I>Refus
                    des variantes</I>.<BR>Prestations divisées en lots : non.<BR><I>Cautionnement et garanties exigés&nbsp;:&nbsp;</I>une
                retenue de garantie de 5% sera appliquée sur le montant du marché. Cette retenue pourra être remplacée
                au gré du titulaire par une garantie à première demande ou si les deux parties en sont d'accord par une
                caution personnelle et solidaire dans les conditions prévues par la réglementation.<BR><I>Modalités
                    essentielles de financement et de paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>le
                paiement s'effectuera selon les règles de la comptabilité publique, par virement.<Br>Le délai global de
                paiement est de 30 jours après réception de la facture dès lors que celle-ci a été acceptée par le
                Pouvoir Adjudicateur.<Br>Le titulaire a droit à des intérêts moratoires, dans les conditions
                réglementaires, en cas de retard dans les paiements tel qu'il est prévu à l'alinéa précédent. Le taux
                des intérêts moratoires est égal au taux d'intérêt appliqué par la Banque centrale européenne à ses
                opérations principales de refinancement les plus récentes, en vigueur au premier jour du semestre de
                l'année civile au cours duquel les intérêts moratoires ont commencé à courir, majoré de huit points de
                pourcentage.<Br>Les dépenses seront financées sur fonds propres de la collectivité et par
                subventions.<BR><I>Langues pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>- conformité administrative : candidats ayant fourni les déclarations et
                attestations, dûment remplies et signées,<Br>- capacités professionnelles, techniques et financières :
                candidats dont les garanties par rapport aux prestations, objet de la consultation, sont
                suffisantes.<BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>1- la lettre de candidature
                en cas de groupement<Br>2- une attestation de pouvoir pour la personne habilitée à engager le
                candidat<Br>3- une attestation sur l'honneur du candidat, dûment datée et signée, déclarant ne faire
                l'objet d'aucune interdiction de soumissionner en application de l'article 43 du code des marchés
                publics.<BR><I>Capacité économique et financière - références requises&nbsp;:&nbsp;</I>4- déclaration
                concernant le chiffre d'affaires global et le chiffre d'affaires concernant les travaux objet du marché,
                réalisés au cours des trois derniers exercices disponibles ;<BR><I>Référence professionnelle et capacité
                    technique - références requises&nbsp;:&nbsp;</I>capacité professionnelle - références requises :<Br>5-
                présentation d'une liste des travaux exécutés au cours des cinq dernières années, appuyée d'attestations
                de bonne exécution pour les travaux les plus importants. Ces attestations indiquent le montant, l'époque
                et le lieu d'exécution des travaux et précisent s'ils ont été effectués selon les règles de l'art et
                menés régulièrement à bonne fin ;<Br>- certificats de qualifications professionnelles. La preuve de la
                capacité du candidat peut être apportée par tout moyen, notamment par des certificats d'identité
                professionnelle ou des références de travaux attestant de la compétence de l'opérateur économique à
                réaliser la prestation pour laquelle il se porte candidat ;<Br><Br>Capacité technique - références
                requises :<Br>6- déclaration indiquant les effectifs moyens annuels du candidat et l'importance du
                personnel d'encadrement pour chacune des trois dernières années ;<Br>- déclaration indiquant
                l'outillage, le matériel et l'équipement technique dont le candidat dispose pour la réalisation de
                marchés de même nature ;<Br><Br>Pour justifier de ses capacités professionnelles, techniques et
                financières, le candidat, même s'il s'agit d'un groupement, peut demander que soient également prises en
                compte les capacités professionnelles, techniques et financières d'autres opérateurs économiques, en
                précisant la nature juridique des liens existant entre ces opérateurs et lui. Le candidat devra alors
                produire les mêmes documents concernant ces opérateurs économiques que ceux qui lui sont exigés dans le
                présent règlement de la consultation. En outre, pour justifier qu'il dispose des capacités de ces
                opérateurs économiques pour l'exécution du marché, le candidat produit un engagement écrit des
                opérateurs économiques.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix
                : 70 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur technique : 30 %.
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>1.e.r&nbsp;septembre&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>4 mois à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>CAD-15AS057.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I><Br>Précision sur les délais d'exécution :<Br>-Pour la
                tranche ferme, le délai global d'exécution des travaux tous lots confondus est fixé à 8 semaines (y
                compris congés payés et hors intempéries) à compter de l'ordre de service de démarrage de la tranche
                concernée. <Br><Br>-Pour chaque tranche conditionnelle, le délai global d'exécution des travaux tous
                lots confondus est fixé à 8 semaines (y compris congés payés et hors intempéries). <Br><Br>Le candidat
                proposera à l'acte d'engagement un délai optimisé pour chaque tranche.<Br><Br>Il est fixé, pour chaque
                tranche, une période de préparation de 2 semaines à compter de la date prescrite par l'ordre de service
                correspondant, non comprise dans le délai d'exécution des travaux tel que défini ci-dessus.<Br><br><br>a
                titre d'indication, la date prévisionnelle des travaux est fixée à :<Br>Date prévisionnelle de la
                tranche ferme : novembre 2015<Br>Date prévisionnelle de la tranche conditionnelle 1 : Janvier
                2016<Br><Br>Le critère de la valeur technique sera évalué ainsi :<Br>1/Les indications concernant les
                principales fournitures et les références des fournisseurs correspondants - 2 points ;<Br><Br>2/Délai
                optimisé et un programme d'exécution des ouvrages, indiquant de façon précise la durée prévisionnelle
                des différentes phases du chantier (planning) - 5 points ;<Br><Br>3/Les procédés d'exécutions
                envisagées, le matériel spécifique et adapté au chantier et les moyens humains qui seront utilisés, en
                particulier les lieux d'implantation (base de vie, stockage, décharge) - 7 points ;<Br><Br>4/Indication
                des principales mesures proposées pour l'exécution du chantier, l'analyse des contraintes et des
                difficultés techniques liées au chantier ainsi que les solutions envisagées par les entreprises pour
                résoudre ces contraintes - 7 points ;<Br><Br>5/Une note environnementale concernant l'utilisation de
                matériaux recyclés - 5 points ;<Br><Br>6/Indication des principales mesures prévues pour assurer la
                sécurité et l'hygiène, la bonne tenue, le bon respect et la propreté sur le chantier - 2 points
                ;<Br><Br>7/ la démarche qualité menée par l'entreprise en y joignant des justificatifs - 2 points.
            <p><I>Conditions et mode de paiement pour obtenir les documents contractuels et additionnels</I> :<BR>Le
                dossier de consultation peut être téléchargé sur le profil acheteur de la Communauté
                https://marches.rvvn.org sous la référence Cad-15as057<Br>A Défaut, le candidat adressera un courriel au
                Service Commande Publique de la Communauté (marchespublics@douaisis-agglo.com) pour obtenir le dossier
                par voie postale.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>les candidats sont informés que le mode
                de transmission des plis, retenu par le pouvoir adjudicateur, est la transmission sur support
                papier.<Br>Cependant, conformément à l'article 56-i du code des marchés publics, le pouvoir adjudicateur
                ne pourra refuser les plis transmis sur support électronique.<Br>L'Attention des candidats est attirée
                sur le fait que le choix du mode de transmission est irréversible, l'utilisation d'un mode de
                transmission différencié entre la candidature et l'offre n'est pas autorisée.<Br><Br>Les offres seront
                envoyées sous plis avec preuve de réception au siège du pouvoir adjudicateur, déposées contre récépissé
                au siège du pouvoir Adjudicateur ou déposées sur la plateforme de dématérialisation des marchés publics
                (https://marches.rvvn.org) sous la référence Cad-15as057.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>30&nbsp;juillet&nbsp;2015.</P>
            <P><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de Lille&nbsp;143
                rue Jacquemars Giélée&nbsp;59014&nbsp;Lille Cedex, tél.&nbsp;:&nbsp;(+33) 3-20-63-13-00, courriel&nbsp;:&nbsp;greffe.ta-lille@juradm.fr,
                télécopieur&nbsp;:&nbsp;(+33) 3-20-63-13-47&nbsp;adresse internet&nbsp;: <A
                        HREF='javascript:BMP_openWindow("http://www.lille.tribunal-administratif.fr","TestLien","");'
                        class="lien">http://www.lille.tribunal-administratif.fr</A>.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Tribunal
                administratif de Lille&nbsp;143 rue Jacquemars Giélée&nbsp;59014&nbsp;Lille Cedex, tél.&nbsp;:&nbsp;(+33)
                3-20-63-13-00, courriel&nbsp;:&nbsp;greffe.ta-lille@juradm.fr, télécopieur&nbsp;:&nbsp;(+33)
                3-20-63-13-47&nbsp;adresse internet&nbsp;: <A
                        HREF='javascript:BMP_openWindow("http://www.lille.tribunal-administratif.fr","TestLien","");'
                        class="lien">http://www.lille.tribunal-administratif.fr</A>.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000561&noa=15-101999" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>