<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>62</B><!-- ED=20158184--><BR>Annonce No&nbsp;<B>15-102332</B><BR>Fournitures
            <!--Etablissement public territorial--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>CCI Côte d'Opale Port de
            Calais.<BR>&nbsp;Correspondant&nbsp;:&nbsp;marie Suméra,&nbsp;outillage public du port 54 rue du quai de la
            Loire CS 90283&nbsp;62105&nbsp;Calais Cedex, tél.&nbsp;:&nbsp;(+33)3-21-46-29-44, télécopieur&nbsp;:&nbsp;(+33)3-21-46-29-30,
            courriel&nbsp;:&nbsp;marie.sumera@calais-port.fr&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.calais-port.fr","TestLien","");' class="lien">http://www.calais-port.fr</A>.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.marches-publics.gouv.fr","TestLien","");' class="lien">http://www.marches-publics.gouv.fr</A>.<BR>Le
            pouvoir adjudicateur n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s)
                Activité(s) de l'entité adjucatrice : </i> Activités portuaires.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>fourniture de barrières automatiques et de pièces
                détachées</B>.<BR><I>Type de marché de fournitures&nbsp;:&nbsp;</I> achat.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;34928300<br><i>Objets supplémentaires&nbsp;:&nbsp;</i>34928120.<BR><I>Lieu de
                    livraison&nbsp;:&nbsp;</I>port de Calais,&nbsp;62100&nbsp;Calais.<BR><I>Code NUTS : </I>FR302.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>le présent AO concerne la fourniture de
                barrières automatiques et de pièces détachées pour la Ccico-Port de Calais . Le marché est établi pour
                une durée de 3 ans à partir de la date de notification. A titre indicatif, après notification, une
                première commande d'environ 30 barrières sera émise pour une livraison très rapide<BR><i>Quantités
                    (fournitures et services), nature et étendue (travaux)&nbsp;:&nbsp;</i>marché à bons de commande<Br>Montant
                mini pour les 3 ans : 50000eurosht<Br>Montant maxi pour les 3 ans : 300000eurosht.<BR><I>Refus des
                    variantes</I>.<BR>La procédure d'achat du présent avis est couverte par l'accord sur les marchés
                publics de l'OMC : non.<br/><BR>Prestations divisées en lots : non.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>36 mois à compter de la notification du
                marché.<BR><I>Cautionnement et garanties exigés&nbsp;:&nbsp;</I>aucune retenue de garantie<Br>Garantie
                de deux ans sur les produits livrés.<BR><I>Modalités essentielles de financement et de paiement et/ou
                    références aux textes qui les réglementent&nbsp;:&nbsp;</I>financement sur fonds propres<Br>Délai
                global de paiement de 30 jours.<BR><i>Forme juridique que devra revêtir le groupement d'opérateurs
                    économiques attributaire du marché&nbsp;:&nbsp;</i>titulaire unique ou groupement solidaire.<BR><I>L'exécution
                    du marché est soumise à d'autres conditions particulières : </I>non.<BR><I>Langues pouvant être
                    utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée,
                    l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>1. Garanties professionnelles techniques et financières<Br> 2. Références
                pour des prestations similaires à l'objet de l'appel d'offres.<BR><I>Situation juridique - références
                    requises&nbsp;:&nbsp;</I>www.economie.gouv.fr/daj/formulaires-declaration-candidat) ; <Br>Ou tout
                autre document de format libre, reprenant l'ensemble des informations et pièces justificatives indiquées
                dans le Dc1 ;<Br><Br>-Formulaire Dc2 : déclaration du candidat imprimé disponible sur
                www.economie.gouv.fr/daj/formulaires-declaration-candidat) ; <Br>Ou tout autre document de format libre,
                reprenant l'ensemble des informations et pièces justificatives indiquées dans le Dc2 ;<Br><Br>-Une copie
                d'attestation d'assurance.<Br><br> Le candidat retenu devra, s'il ne l'a pas fait dans le cadre de son
                dossier de candidature, fournir préalablement à la notification du marché, et ceci dans un délai fixé
                par l'entité adjudicatrice, les éléments suivants :<Br><Br>-Une copie de l'état annuel des certificats
                reçus (noti2) ou des certificats fiscaux et sociaux (certifiés conforme à l'original) à jour du dernier
                exercice comptable clos ;<Br>-Une déclaration relative à la lutte contre le travail dissimulé (noti1)
                accompagnée des documents qui y sont demandés ;<Br>-Le titulaire devra justifier, dans un délai de
                quinze jours à compter de la notification du marché et avant tout début d'exécution de celui-ci, qu'il
                est titulaire des contrats d'assurances, au moyen d'une attestation en cours de validité établissant
                l'étendue de la responsabilité garantie.<BR><I>Capacité économique et financière - références requises&nbsp;:&nbsp;</I>¤
                Déclaration concernant le chiffre d'affaire global et le chiffre d'affaire concernant les services,
                auxquels se réfère le marché, réalisés au cours des 3 derniers exercices ;<Br>¤ Présentation de
                l'entreprise (moyens humains, matériels, organigramme, CV des intervenants, effectifs de l'entreprise) ;<BR><I>Référence
                    professionnelle et capacité technique - références requises&nbsp;:&nbsp;</I>¤ Certificats de
                qualification professionnelle, certificats de capacité. La preuve de la capacité de l'entreprise peut
                être apportée par tout moyen attestant de la compétence de l'entreprise à réaliser la prestation pour
                laquelle elle se porte candidate ;<Br>¤ Les agréments administratifs et professionnels.<Br><br>¤
                Présentation des principales références en relation à l'objet du marché au cours des trois dernières
                années (montant, date, nature, destinataire public ou privé) ;<Br>¤ Déclaration indiquant les effectifs
                du candidat, le matériel, et l'équipement technique dont il dispose pour répondre à l'appel d'offres.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire obligatoirement par le candidat, à l'appui de sa candidature&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Copie
                du ou des jugements prononcés, si le candidat est en redressement judiciaire;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                sur l'honneur du candidat justifiant qu'il n'entre dans aucun des cas mentionnés à l'article 43 du code
                des marchés publics, concernant les interdictions de soumissionner;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                sur l'honneur du candidat attestant qu'il est en règle, au cours de l'année précédant celle au cours de
                laquelle a lieu le lancement de la consultation, au regard des articles L. 5212-1, L. 5212-2, L. 5212 5
                et L. 5212-9 du code du travail, concernant l'emploi des travailleurs handicapés;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                le candidat est établi en France, une déclaration sur l'honneur du candidat justifiant que le travail
                est effectué par des salariés employés régulièrement au regard des articles L. 1221-10, L. 3243-2 et R.
                3243-1 du code du travail (dans le cas où le candidat emploie des salariés, conformément à l'article D.
                8222-5-3° du code du travail).<br/><br/><i>Documents à produire à l'appui des candidatures par le
                    candidat, au choix de l'acheteur public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                concernant le chiffre d'affaires global et le chiffre d'affaires concernant les fournitures, services ou
                travaux objet du marché, réalisés au cours des trois derniers exercices disponibles;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                appropriée de banques ou preuve d'une assurance pour les risques professionnels;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Présentation
                d'une liste des principales fournitures ou des principaux services effectués au cours des trois
                dernières années, indiquant le montant, la date et le destinataire public ou privé. Les livraisons et
                les prestations de services sont prouvées par des attestations du destinataire ou, à défaut, par une
                déclaration de l'opérateur économique;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;En matière de fournitures
                et services, une description de l'équipement technique, des mesures employées par l'opérateur économique
                pour s'assurer de la qualité et des moyens d'étude et de recherche de son entreprise;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Certificats
                de qualifications professionnelles. La preuve de la capacité du candidat peut être apportée par tout
                moyen, notamment par des certificats d'identité professionnelle ou des références de travaux attestant
                de la compétence de l'opérateur économique à réaliser la prestation pour laquelle il se porte
                candidat;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire DC1, Lettre de candidature - Habilitation
                du mandataire par ses co-traitants (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC2, Déclaration du candidat individuel ou du membre du groupement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4).
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur
                technique de l'offre jugé sur la base du mémoire technique détaillé : 50 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prrix
                des fournitures : 50 %.
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>23&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;16&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>15S0040.
            <p><I>Conditions et mode de paiement pour obtenir les documents contractuels et additionnels</I> :<BR>dossier
                gratuit.<BR><I>Date limite d'obtention</I> : 23&nbsp;juillet&nbsp;2015, à 16&nbsp;heures.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>remise des offres par voie dématérialisée
                ou voie postale ou dépôt.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>2&nbsp;juillet&nbsp;2015.</P><I>Adresse
                auprès de laquelle des renseignements d'ordre administratif et technique peuvent être obtenus&nbsp;:&nbsp;</I>Port
            de Calais.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>pierre Robert,&nbsp;&nbsp;service maintenance 54 rue du
            quai de la Loire CS 90283,&nbsp;&nbsp;62105&nbsp;Calais Cedex,&nbsp;, tél.&nbsp;:&nbsp;(+33)6-87-78-29-69,&nbsp;,
            courriel&nbsp;:&nbsp;pierre.robert@calais-port.fr.<BR><I>Adresse auprès de laquelle les documents peuvent
                être obtenus&nbsp;:&nbsp;</I>Port de Calais.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>marie Suméra,&nbsp;&nbsp;service
            marchés 54 rue du quai de la Loire CS 90283,&nbsp;&nbsp;62105&nbsp;Calais Cedex,&nbsp;, tél.&nbsp;:&nbsp;(+33)3-21-46-29-44,&nbsp;,
            télécopieur&nbsp;:&nbsp;(+33)3-21-46-29-30,&nbsp;, courriel&nbsp;:&nbsp;marie.sumera@calais-port.fr,&nbsp;&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.marches-publics.gouv.fr","TestLien","");'
                               class="lien">http://www.marches-publics.gouv.fr</A>.<p><I>Instance chargée des procédures
                de recours&nbsp;:&nbsp;</I>Tribunal administratif de Lille&nbsp;143 rue Jacquemars Giélée&nbsp;59800&nbsp;Lille,
                tél.&nbsp;:&nbsp;(+33) 3-20-63-13-00, télécopieur&nbsp;:&nbsp;(+33) 3-20-63-13-47.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000894&noa=15-102332" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>