<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>50</B><!-- ED=20158183--><BR>Annonce No&nbsp;<B>15-101113</B><BR>Travaux<!--Commune-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>COMMUNE DE SAINT MALO DE LA
            LANDE.<BR>&nbsp;Correspondant&nbsp;:&nbsp;perrodin Jean-Pierre,&nbsp;le Bourg&nbsp;50200&nbsp;Saint-Malo-de-la-Lande,
            tél.&nbsp;:&nbsp;02-33-47-88-78, télécopieur&nbsp;:&nbsp;02-33-47-88-78, courriel&nbsp;:&nbsp;stmalodelalande@wanadoo.fr.<BR><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>accessibilité et rénovation du bâtiment communal</B>.<BR><I>Type
                de marché de travaux&nbsp;:&nbsp;</I> exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45000000.<BR><I>Lieu
                d'ex&eacute;cution&nbsp;:&nbsp;</I>le bourg,&nbsp;50200&nbsp;Saint-Malo-de-la-Lande.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>accessibilité et rénovation du bâtiment
                de la mairie de Saint malo de la lande<BR><i>Quantités (fournitures et services), nature et étendue
                    (travaux)&nbsp;:&nbsp;</i><i>Estimation de la valeur (H.T.) : </i>entre 400 000 et 430 000&nbsp;euros.<BR><I>Refus
                    des variantes</I>.<BR>Prestations divisées en lots : oui.<BR>Possibilité de pr&eacute;senter une
                offre pour un ou plusieurs lots.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>11 mois à compter de la notification du
                marché.<BR><i>Date&nbsp;prévisionnelle&nbsp;de&nbsp;commencement&nbsp;des&nbsp;travaux&nbsp;:&nbsp;</i>15&nbsp;septembre&nbsp;2015.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix
                des prestations : 60 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;mémoire technique : 40 %.
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>28&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>15-101113.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>autres renseignements :<Br>L'Entrepreneur est réputé
                connaître, pour s'en être personnellement rendu compte, la nature et la situation des travaux ainsi que
                les risques et sujétions qu'ils peuvent comporter.<Br><Br>Renseignements complémentaires d'ordre
                administratifs :<Br>Mairie de Saint Malo de la Lande - le Bourg - 50 200 saint malo de la lande.<Br>Tél
                : 02 33 47 88 78 - mail : stmalodelalande@wanadoo.fr<Br><Br>Renseignements complémentaires d'ordre
                techniques :<Br>Jean Philippe Laquaine, 14&nbsp;avenue de la République, 50204 Coutances Cedex.<Br>Tél:
                02 33 47 25 87- mail : laquaine-architecte@wanadoo.fr<Br>Economiste : snc lebas - mALOISEL 3 bis, rue
                Paul Letarouilly 50200 COUTANCES <Br>Tél : 02 33 45 05 99 télécopieur : 02 33 45 77 66 - mail :
                accueil@lebas-maloisel.fr<Br>Bet Fluides et thermique : bet alain lenesley - zAC Le Bois Ardent 50 000
                SAINT-LÔ<Br>Tél : 02 33 55 62 62 télécopieur : 02 33 55 50 70 - mail : lenesley@club-internet.fr<Br><Br>Autres
                renseignements : <Br>L'Entrepreneur est réputé connaître, pour s'en être personnellement rendu compte,
                la nature des lieux et la situation des travaux, ainsi que les risques et sujétions qu'ils peuvent
                comporter.<Br><Br>Adresse à laquelle les offres doivent être envoyées : <Br>Commune de Saint Malo de la
                Lande - le Bourg - 50 200 saint malo de la lande.<Br>Les offres doivent être remises sous SIMPLE
                enveloppe pour le Mardi 28 juillet avant 12&nbsp;heures avec la mention offre pour accessibilité et
                rénovation de la mairie de Saint-Malo-De-La-Lande " ne pas ouvrir ".<Br><Br>Délai de validité des offres
                : 90jours.<Br><Br>Justification à produire : conformément aux conditions fixées aux articles 44,45,46 et
                47 du Code des marchés publics, les candidats sont tenus de produire : Dc1, Dc2, Dc3, DC&nbsp;7, les
                qualifications et références similaires au présent appel d'offres, leurs délais d'exécution.<Br><Br>Critère
                de sélection des candidats : <Br>1.Prix des prestations : 60%.<Br>2.Mémoire technique 40 %<br><Br>Les
                candidats peuvent retirer le dossier de consultation auprès du reprographe contre frais de reprographie
                chez :<br>fm repro<Br>7, rue Maréchal Foch, 50200 COUTANCES<Br>Tél/télécopieur : 02 33 45 31 49<Br>Mail
                : fm.repro@orange.fr<Br>En complément aux modalités classiques de déroulement de la consultation, les
                soumissionnaires auront la possibilité de télécharger le dossier de consultation des entreprises à
                l'adresse suivante : www.fm-repro.fr<Br>L'Entreprise pourra transmettre sa proposition dématérialisée
                sur ce site.<Br><Br>Date d'envoi à la publication : 03 juillet 2015.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>1.e.r&nbsp;juillet&nbsp;2015.</P>
            <P><I>Renseignements relatifs aux lots&nbsp;:&nbsp;</I>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 00.</span> - prescriptions communes à tous les
                                    corps d'état.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Clauses particulières</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 01.</span> - gros-&oelig;uvre.</td>
                            </tr>
                            <tr>
                                <td class="txt">Terrassement, maçonnerie</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 02.</span> - charpente, bardage bois.</td>
                            </tr>
                            <tr>
                                <td class="txt">Charpente, bardage bois</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 03.</span> - couverture ardoises.</td>
                            </tr>
                            <tr>
                                <td class="txt">Travaux de couverture</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 04.</span> - etanchéité.</td>
                            </tr>
                            <tr>
                                <td class="txt">Travaux d'isolation</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 05.</span> - menuiseries aluminium.</td>
                            </tr>
                            <tr>
                                <td class="txt">Travaux de menuiseries extérieures</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 06.</span> - serrurerie.</td>
                            </tr>
                            <tr>
                                <td class="txt">Travaux de serrurerie</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 07.</span> - menuiseries intérieures,
                                    plâtrerie sèche.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Travaux de menuiserie et cloisons</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 08.</span> - plafonds suspendus.</td>
                            </tr>
                            <tr>
                                <td class="txt">Pose de plafonds</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 09.</span> - carrelage, faïence.</td>
                            </tr>
                            <tr>
                                <td class="txt">Pose de carrelage et faïence</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 10.</span> - peinture souple.</td>
                            </tr>
                            <tr>
                                <td class="txt">Travaux de peinture</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 11.</span> - ascenseur.</td>
                            </tr>
                            <tr>
                                <td class="txt">Pose d'un ascenseur</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 12.</span> - electricité.</td>
                            </tr>
                            <tr>
                                <td class="txt">Installations électriques</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 13.</span> - plomberie, chauffage,
                                    ventilation.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Travaux de plomberie, installation chauffage et VMC</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2999675&noa=15-101113" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>