<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>68</B><!-- ED=20158182--><BR>Annonce No&nbsp;<B>15-100538</B><BR>Services
            <!--Etablissement public territorial--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Cté Cnes du Secteur
            d'Illfurth.<BR>&nbsp;Correspondant&nbsp;:&nbsp; Claire lempereur,&nbsp;2, place du général de gaulle - B.P.&nbsp;37&nbsp;68720&nbsp;Illfurth,
            tél.&nbsp;:&nbsp;03-89-25-44-88, télécopieur&nbsp;:&nbsp;03-89-25-53-67, courriel&nbsp;:&nbsp;claire.lempereur@cc-illfurth.fr&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.cc-secteurdillfurth.fr/","TestLien","");'
                               class="lien">http://www.cc-secteurdillfurth.fr/</A>.<BR>Adresse internet du profil
            d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://cc-secteurdillfurth.e-marchespublics.com","TestLien","");'
                    class="lien">http://cc-secteurdillfurth.e-marchespublics.com</A>.<BR>Le pouvoir adjudicateur n'agit
            pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s) Activité(s) du pouvoir adjudicateur
                : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>révision du plan local d'urbanisme intercommunal</B>.<BR><I>Catégorie
                de services&nbsp;:&nbsp;</I>12.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;79311000.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>révision du plu intercommunal rendue
                nécessaire au regard de l'entrée en vigueur de la loi grenelle 2 du 12 juillet 2012 et de la loi alur du
                24 mars 2014 et de l'évolution du territoire<BR><I>Refus des variantes</I>.<BR>La procédure d'achat du
                présent avis est couverte par l'accord sur les marchés publics de l'OMC : oui.<br/><BR>Prestations
                divisées en lots : oui.<BR><i>Date&nbsp;prévisionnelle&nbsp;de&nbsp;début&nbsp;des&nbsp;prestations&nbsp;(fournitures/services)&nbsp;:&nbsp;</i>1.e.r&nbsp;septembre&nbsp;2015.<BR><i>Forme
                    juridique que devra revêtir le groupement d'opérateurs économiques attributaire du marché&nbsp;:&nbsp;</i>le
                marché sera attribué à une seule entreprise ou à un groupement d'entreprises.<BR>cependant, si le marché
                est attribué à un groupement conjoint, il est demandé expressément que le mandataire conjoint soit
                solidaire de chacun des membres du groupement pour ses obligations contractuelles à l'égard du pouvoir
                adjudicateur.<BR><I>Langues pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>le jugement des candidatures sera réalisé à partir des éléments suivants
                :<Br>- capacité financière suffisante,<br>- capacités techniques suffisantes,<br>- capacités
                professionnelles du candidat.
            <p>Les personnes morales sont tenues d'indiquer les noms et qualifications professionnelles des membres du
                personnel chargé de la prestation.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire à l'appui des candidatures par le candidat, au choix de l'acheteur
                public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire DC1, Lettre de candidature -
                Habilitation du mandataire par ses co-traitants (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC2, Déclaration du candidat individuel ou du membre du groupement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;S'il
                s'appuie, pour présenter sa candidature, sur les capacités professionnelles, techniques et financières
                d'autres opérateurs économiques, le candidat produit les mêmes documents concernant cet opérateur
                économique que ceux qui lui sont exigés par l'acheteur public. Le candidat doit également apporter la
                preuve que chacun de ces opérateurs économiques mettra à sa disposition les moyens nécessaires, pendant
                toute la durée d'exécution du marché public ou de l'accord-cadre.<br/><br/><i>Documents à produire
                    obligatoirement par l'attributaire, avant la signature et la notification du marché public ou de
                    l'accord-cadre (formulaire NOTI1)&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Les
                pièces prévues aux articles D. 8222-5 ou D. 8222-7 et D. 8222-8 du code du travail;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                l'attributaire est établi en France, les attestations et certificats délivrés par les administrations et
                organismes compétents prouvant qu'il a satisfait à ses obligations fiscales et sociales ou un état
                annuel des certificats reçus.<br/><br/><i>Autres renseignements demandés&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres
                renseignements demandés : attestations d'assurance.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>4&nbsp;août&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>90 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>PA-08-2015.
            <p><I>Conditions et mode de paiement pour obtenir les documents contractuels et additionnels</I> :<BR>Le
                dossier de consultation des entreprises (dce) est mis à disposition des entreprises auprès du maître
                d'ouvrage après réservation par téléphone ou par mail. En cas d'envoi du dossier sous format papier, les
                frais de reprographie seront à la charge du candidat. Ces frais s'établissent, conformément à l'arrêté
                du président du 3 janvier 2011, à 0,10&nbsp;euros par photocopie noir et blanc et à 0,20&nbsp;euros par
                photocopie couleur. Un titre de recettes correspondant aux frais à acquitter sera transmis en même temps
                que le dossier de consultation au candidat.<BR>le dossier de consultation des entreprises est
                téléchargeable à l'adresse suivante : http://cc-secteurdillfurth.e-marchespublics.com ou peut être remis
                par courriel à tout candidat qui en fait la demande auprès de la communauté de communes par courrier ou
                courriel (claire.lempereur@cc-illfurth.fr).<BR>L'obtention des documents contractuels et additionnels
                est payante.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>le dossier à remettre par les candidats
                sera placé sous enveloppe cachetée qui contiendra deux parties : la première contiendra les
                renseignements concernant la candidature, la seconde contiendra l'offre. Le dossier sur format papier
                est obligatoirement transmis par lettre recommandée avec avis de réception ou remis contre
                récépissé.<BR>si le candidat a opté pour la remise des documents de candidature par voie électronique,
                la remise se fera sur la plateforme de dématérialisation :
                http://cc-secteurdillfurth.e-marchespublics.com.<BR>Les candidats qui souhaiteraient transmettre leurs
                candidatures par voie électronique devront donc se connecter sur le site :
                http://cc-secteurdillfurth.e-marchespublics.com où leur sera attribué un login et un mot de passe
                nécessaires au dépôt de leurs candidatures et de leurs offres selon la procédure décrite sur ce
                site.<BR>les candidats devront bénéficier d'un certificat de signature électronique, détenu par une
                personne ayant capacité à engager le soumissionnaire dans le cadre de la présente consultation.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>30&nbsp;juin&nbsp;2015.</P><I>Adresse
                auprès de laquelle des renseignements d'ordre administratif et technique peuvent être obtenus&nbsp;:&nbsp;</I>Communauté
            de communes du secteur d'illfurth.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I> Claire lempereur,&nbsp;&nbsp;2
            place général de gaulle,&nbsp;&nbsp;68720&nbsp;Illfurth,&nbsp;, tél.&nbsp;:&nbsp;03-89-25-44-88,&nbsp;,
            courriel&nbsp;:&nbsp;claire.lempereur@cc-illfurth.fr.<p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal
                administratif&nbsp;31&nbsp;avenue de la paix&nbsp;67070&nbsp;Strasbourg, tél.&nbsp;:&nbsp;03-88-36-44-66,
                courriel&nbsp;:&nbsp;greffe.ta-strasbourg@juradm.fr, télécopieur&nbsp;:&nbsp;03-88-21-23-23.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Tribunal
                administratif&nbsp;31&nbsp;avenue de la paix&nbsp;67070&nbsp;Strasbourg, tél.&nbsp;:&nbsp;03-88-36-44-66,
                courriel&nbsp;:&nbsp;greffe.ta-strasbourg@juradm.fr, télécopieur&nbsp;:&nbsp;03-88-21-23-23.</P>
            <P><I>Renseignements relatifs aux lots&nbsp;:&nbsp;</I>
            <table border="0" cellpadding="1" align="center" width="80%">
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">1.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Diagnostic, projet d'aménagement et de développement
                        durables (PADD), orientations d'aménagement et de programmation (OAP), règlement, dossier de PLU
                        arrêté, enquête publique et dossier d'approbation.
                    </td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">2.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Etat initial de l'environnement, évaluation
                        environnementale, évaluation des incidences NATURA 2000.
                    </td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2999100&noa=15-100538" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>