<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>17</B><!-- ED=20158184--><BR>Annonce No&nbsp;<B>15-101028</B><BR>Travaux
            <!--Etablissement public territorial--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Agglomération Royan
            Atlantique.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;le président,&nbsp;107,&nbsp;avenue de Rochefort&nbsp;17201&nbsp;Royan
            Cedex, tél.&nbsp;:&nbsp;05-46-22-19-20, télécopieur&nbsp;:&nbsp;05-46-05-60-34, courriel&nbsp;:&nbsp;contact@agglo-royan.fr&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.agglo-royan.fr","TestLien","");'
                               class="lien">http://www.agglo-royan.fr</A>.<BR>Adresse internet du profil d'acheteur&nbsp;:
            <A HREF='javascript:BMP_openWindow("http://www.marches-securises.fr","TestLien","");' class="lien">http://www.marches-securises.fr</A>.<BR>Le
            pouvoir adjudicateur n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>travaux de mise aux normes des quais gravats des déchèteries
                de la communauté d'agglomération Royan atlantique</B>.<BR><I>Type de marché de travaux&nbsp;:&nbsp;</I>
                exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45340000.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>.<BR><I>Code
                    NUTS : </I>FR532.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>les travaux concernent les déchèteries
                des particuliers de Chaillevette, Royan, La Tremblade, Saujon, Arces sur Gironde et Grézac.<Br><Br>La
                visite des sites est obligatoire. <Br><Br>Deux dates sont prévues : <Br>-Le jeudi 16 juillet 2015 à
                14h30 sur le site de la déchèterie de La Tremblade,<Br>-Le vendredi 17 juillet 2015 à 09h30 sur le site
                de la déchèterie de La Tremblade<BR><I>Des variantes seront-elles prises en compte: </I>oui.La procédure
                d'achat du présent avis est couverte par l'accord sur les marchés publics de l'OMC : non.<br/><BR>Prestations
                divisées en lots : non.<BR><I>Cautionnement et garanties exigés&nbsp;:&nbsp;</I>retenue de garantie de 5
                %, qui peut être remplacée par une garantie à première demande ou une caution personnelle solidaire.<BR><I>Modalités
                    essentielles de financement et de paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>articles
                86 à 111 du Code des marchés publics<Br>Prix forfaitaires actualisables.<Br>Une avance de 5 % sera
                accordée dans les conditions prévues au contrat.<Br>Règlement des comptes selon les modalités du
                C.C.A.G.-Travaux<Br>Le délai global de paiement est de 30 jours.<Br>Fonds publics de l'agglomération
                Royan atlantique (A.R.A.).<BR><I>L'exécution du marché est soumise à d'autres conditions particulières
                    : </I>non.<BR><I>Langues pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>capacités professionnelles, techniques et financières.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><BR>la liste des
                justifications à produire est indiquée dans le règlement de consultation.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur
                technique appréciée au vu du mémoire technique : 60 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix des
                prestations : 40 %.<BR>Une enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>23&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;17&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>90 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>2015T047.
            <p><I>Conditions et mode de paiement pour obtenir les documents contractuels et additionnels</I> :<BR>Le
                dossier peut être téléchargé sur le site : www.marches-securises.fr<Br>Ou demandé par télécopie (05 46
                05 60 34) ou mail (marches-publics@agglo-royan.fr).
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>2&nbsp;juillet&nbsp;2015.</P><I>Adresse
                auprès de laquelle des renseignements d'ordre technique peuvent être obtenus&nbsp;:&nbsp;</I>Agglomération
            Royan Atlantique<BR>Service travaux, bâtiments et logistique.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>M.&nbsp;Thierry
            COUDREAU,&nbsp;&nbsp;107,&nbsp;avenue de Rochefort,&nbsp;&nbsp;17201&nbsp;Royan Cedex,&nbsp;, tél.&nbsp;:&nbsp;05-46-22-19-55,&nbsp;,
            télécopieur&nbsp;:&nbsp;05-46-05-60-34,&nbsp;, courriel&nbsp;:&nbsp;t.coudreau@agglo-royan.fr.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre administratif peuvent être obtenus&nbsp;:&nbsp;</I>Agglomération
            Royan Atlantique<BR>Service de la commande publique.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>M.&nbsp;Emmanuel
            DIET,&nbsp;&nbsp;107,&nbsp;avenue de Rochefort,&nbsp;&nbsp;17201&nbsp;Royan Cedex,&nbsp;, tél.&nbsp;:&nbsp;05-46-22-19-41,&nbsp;,
            télécopieur&nbsp;:&nbsp;05-46-05-60-34,&nbsp;, courriel&nbsp;:&nbsp;marches-publics@agglo-royan.fr.<p><I>Instance
                chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de Poitiers&nbsp;hôtel Gilbert
                15 rue de Blossac B.P.&nbsp;541&nbsp;86020&nbsp;Poitiers Cedex, tél.&nbsp;:&nbsp;05-49-60-79-19,
                courriel&nbsp;:&nbsp;greffe.ta-poitiers@juradm.fr.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Tribunal
                administratif de Poitiers&nbsp;hôtel Gilbert 15 rue de Blossac B.P.&nbsp;541&nbsp;86020&nbsp;Poitiers
                Cedex, tél.&nbsp;:&nbsp;05-49-60-79-19, courriel&nbsp;:&nbsp;greffe.ta-poitiers@juradm.fr.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2999590&noa=15-101028" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>