<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>77</B><!-- ED=20158184--><BR>Annonce No&nbsp;<B>15-102178</B><BR>Fournitures<!--Commune-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Ville de Serris.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;Descrouet
            Philippe, Maire,&nbsp;hôtel de Ville de Serris, 2 place Antoine Mauny, B.P.&nbsp;15 Serris&nbsp;77706&nbsp;Marne-la-Vallée
            Cedex 4, tél.&nbsp;:&nbsp;01-60-43-52-00, télécopieur&nbsp;:&nbsp;01-60-43-08-13.<BR>Adresse internet du
            profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://www.achatpublic.com/sdm/ent/gen/index.jsp","TestLien","");'
                    class="lien">https://www.achatpublic.com/sdm/ent/gen/index.jsp</A>.<BR>Le pouvoir adjudicateur
            n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s) Activité(s) du pouvoir
                adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>acquisition de fournitures d'illuminations de
                Noël</B>.<BR><I>Type de marché de fournitures&nbsp;:&nbsp;</I> achat.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;31680000.<BR><I>Lieu de livraison&nbsp;:&nbsp;</I>centre Technique Municipal,&nbsp;77700&nbsp;Serris.<BR><I>Code
                    NUTS : </I>|FR102|.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>fourniture de motifs décoratifs lumineux
                et de guirlandes lumineuses à fin d'illuminations pendant la période des fêtes de fin d'année, sur le
                territoire de la commune de Serris.<BR> Le délai de livraison est indiqué par le candidat à l'article
                B.5 de l'acte d'engagement. Toutefois, pour 2015, un bon de commande sera émis dans les 5 jours suivant
                la notification du marché pour une livraison avant le16 octobre<BR><i>Quantités (fournitures et
                    services), nature et étendue (travaux)&nbsp;:&nbsp;</i>les prestations feront l'objet de bons de
                commande sans minimum et avec un maximum de 50 000 euro(s) (H.T.) en application de l'article 77-1 du
                Code des marchés publics, conclus avec un seul opérateur économique.<BR><i>Nombre de reconductions
                    éventuelles&nbsp;:&nbsp;</i>3.<BR><i>Calendrier des marchés ultérieurs en cas de marchés
                    reconductibles&nbsp;:&nbsp;</i>le marché est conclu pour une période initiale d'un an à compter de
                sa notification. <BR> Le marché pourra être reconduit, expressément trois (3) fois par périodes
                successives d'un (1) an sans que la durée totale du marché ne puisse excéder quatre (4) ans.<BR> Le
                titulaire ne pourra pas refuser cette reconduction.<BR><I>Refus des variantes</I>.<BR>La procédure
                d'achat du présent avis est couverte par l'accord sur les marchés publics de l'OMC : non.<br/><BR>Prestations
                divisées en lots : non.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>12 mois à compter de la notification du
                marché.<BR><I>Cautionnement et garanties exigés&nbsp;:&nbsp;</I>aucune clause de garantie financière ne
                sera appliquée.<BR><I>Modalités essentielles de financement et de paiement et/ou références aux textes
                    qui les réglementent&nbsp;:&nbsp;</I>financement : Fonds propres de la Collectivité en section
                d'investissement.<BR> Paiement :<BR> Avances : Conformément à l'article 87 du Code des marchés publics,
                aucune avance ne sera versée.<BR> Variation des prix : Les prix seront révisés pour la période
                éventuelle de reconduction à la date anniversaire du marché, pour une année, en application des
                stipulations du cahier des clauses particulières.<BR> Mode de règlement :<BR> Les prestations, objet du
                présent marché, seront rémunérées dans les conditions fixées par les règles de la comptabilité publique.<BR>
                Les sommes dues seront mises en paiement par mandat administratif dans un délai global de trente (30)
                jours maximum, à compter de la date de réception de la facture, en application de l'article 98 du Code
                des marchés publics.<BR> En cas de dépassement de ce délai contractuel, les intérêts moratoires,
                l'indemnité forfaitaire et l'indemnisation complémentaire pour les frais de recouvrement, seront
                calculés selon les modalités des articles 39 et 40 de la loi n<sup>o</sup> 2013-100 du 28 janvier 2013
                portant diverses dispositions d'adaptation de la législation au droit de l'union européenne en matière
                économique et financière et de son décret d'application.<BR><i>Forme juridique que devra revêtir le
                    groupement d'opérateurs économiques attributaire du marché&nbsp;:&nbsp;</i>les candidats peuvent
                présenter une offre, soit en qualité de candidat individuel, soit en qualité de membre d'un groupement
                d'entreprises conjoint ou solidaire.<BR> Le pouvoir adjudicateur ne souhaite imposer aucune forme de
                groupement à l'attributaire du marché. Toutefois, dans le cas où le groupement serait conjoint le
                mandataire devra être solidaire.<BR> Il est interdit aux candidats de présenter plusieurs offres en
                agissant à la fois :<BR> - en qualité de candidats individuels et de membres d'un ou plusieurs
                groupements ;<Br> - en qualité de membres de plusieurs groupements.<BR><I>L'exécution du marché est
                    soumise à d'autres conditions particulières : </I>le cahier des clauses particulières comporte des
                conditions d'exécution visées par l'article 14 du Code des marchés publics à l'article 5.2 "
                Emballage-Conditionnement " (préférence à l'emploi de matières recyclées et limitation des matériaux
                nécessaires pour l'emballage).<BR><I>Langues pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>conformément au Code des marchés publics seront éliminées :<BR> - les
                candidatures qui ne seraient pas accompagnées des pièces mentionnées ci-dessus.<BR> - les candidatures
                qui ne présenteraient pas de capacités professionnelles, techniques et financières suffisantes.<BR> -
                les candidatures qui ne peuvent avoir accès à la commande publique en application de l'article 43 du
                Code des marchés publics.<BR> Néanmoins, l'article 52 du Code des marchés publics permet au Pouvoir
                Adjudicateur de demander aux candidats qui n'auraient pas fourni les pièces dont la production était
                réclamée, de produire ou de compléter ces pièces dans un délai identique pour tous les candidats et qui
                ne saurait être supérieur à deux jours francs.<BR> Les autres candidats en seront informés. Ils auront
                alors la possibilité de compléter leur candidature s'ils le souhaitent dans le même délai.<BR> Le
                Pouvoir Adjudicateur rappelle qu'il ne s'agit pas d'une obligation et invite les candidats à porter la
                plus grande attention dans la composition du dossier de candidature afin qu'il soit complet.<BR><I>Situation
                    juridique - références requises&nbsp;:&nbsp;</I>lettre de candidature et habilitation du mandataire
                par ses cotraitants si besoin (Formulaire DC 1), portant également l'attestation sur l'honneur,
                justifiant, entre autres, que le candidat n'entre dans aucun des cas mentionnés à l'article 43 du Code
                des Marchés Publics concernant les interdictions de soumissionner.<BR> Copie du ou des jugements
                prononcés si le candidat est en redressement judiciaire (Formulaire DC 2, rubrique D2).<BR> Déclaration
                de la (des) personne(s) ayant le pouvoir d'engager le candidat (Formulaire DC 2 rubrique C1 " Cas
                général-personne(s) physique(s) ayant le pouvoir d'engager le candidat individuel ou le membre du
                groupement "), joindre en annexe du DC 2 un justificatif prouvant l'habilitation à engager le
                candidat.<BR><I>Capacité économique et financière - références requises&nbsp;:&nbsp;</I>déclaration
                concernant le chiffre d'affaires global, réalisé au cours des trois derniers exercices disponibles
                (Formulaire DC 2 rubrique D1-" Chiffre d'affaires hors taxes des trois derniers exercices disponibles ")<BR><I>Référence
                    professionnelle et capacité technique - références requises&nbsp;:&nbsp;</I>déclaration indiquant
                les effectifs du candidat (devra être annexée au formulaire DC 2).<BR> Déclaration indiquant
                l'outillage, le matériel et l'équipement technique dont le candidat dispose pour la réalisation de
                marchés de même nature (devra être annexée au formulaire DC 2).<BR> Présentation d'une liste des
                principales fournitures effectuées au cours des trois dernières années, indiquant le montant, la date et
                le destinataire public ou privé. Les livraisons sont prouvées par des attestations du destinataire ou, à
                défaut, par une déclaration de l'opérateur économique (devra être annexée au formulaire DC 2).
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix
                (60 points) : 60 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;qualité esthétique (15 points) : 15 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;qualité
                des produits (15 points) : 15 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;délai de livraison (10 points)
                : 10 %.<BR>Une enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>24&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;15&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>90 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>MAPA 2015-12.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>il est précisé que seules les pièces suivantes seront
                obligatoirement à dater et à signer : formulaire DC 1, acte d'engagement.<BR> NB : Il est rappelé que le
                ou les signataires doivent être habilités à engager le candidat et qu'un justificatif prouvant
                l'habilitation devra être annexé au formulaire DC 2.<BR> Le dossier à remettre comporte une enveloppe
                comprenant les documents relatifs à la candidature et à l'offre.<BR> Les candidats devront
                obligatoirement produire et renseigner les formulaires :<BR> - lettre de candidature et habilitation du
                mandataire par ces co-traitants (formulaire Dc1) ;<Br> - déclaration du candidat individuel ou du membre
                du groupement (formulaire Dc2).<BR> Les formulaires et autres déclarations types sont disponibles sur le
                site du Ministère de l'economie et des Finances à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat<BR> Les candidats ne sont pas tenus de
                fournir les documents et renseignements que le pouvoir adjudicateur peut obtenir directement par le
                biais d'un système électronique de mise à disposition d'informations administré par un organisme
                officiel ou d'un espace de stockage numérique, à condition que figurent dans le dossier de candidature
                toutes les informations nécessaires à la consultation de ce système ou de cet espace et que l'accès à
                ceux-ci soit gratuit.<BR> Pour justifier des capacités professionnelles, techniques et financières
                d'autres opérateurs économiques sur lesquels il s'appuie pour présenter sa candidature, le candidat
                produit les mêmes documents concernant cet opérateur économique que ceux qui lui sont exigés par le
                pouvoir adjudicateur. En outre, pour justifier qu'il dispose des capacités de cet opérateur économique
                pour l'exécution du marché, le candidat produit un engagement écrit de l'opérateur économique.<BR>
                Négociation : <BR> Conformément au deuxième alinéa de l'article 28 I du Code des marchés publics,
                lepouvoir adjudicateur se réserve le droit ou non de négocier avec les candidats ayant présenté une
                offre autre qu'inappropriée, s'il en trouve la nécessité. <BR> Les candidats seront informés des
                modalités de la négociation, si elle doit avoir lieu, par écrit (courriel envoyé à partir d'une
                messagerie ou de la plate-forme de dématérialisation des marchés ou télécopie).<BR> Conditions d'envoi
                ou de remise de l'offre :<BR> Dans le cas d'un envoi dématérialisé :<BR> Conformément aux dispositions
                de l'article 56 du Code des marchés publics, le Pouvoir Adjudicateur préconise la transmission des
                documents par voie papier mais accepte la transmission des candidatures et des offres par voie
                électronique.<BR> Les dossiers de réponse devront être remis impérativement avant la date et l'heure
                limites.<BR> Le candidat devra se rendre sur la plateforme de dématérialisation du Pouvoir Adjudicateur
                à l'adresse suivante :
                https://www.achatpublic.com/sdm/ent/gen/ent_detail.do?PCSLID=CSL_2015_d1sWTTEj5F<BR> Dans le cas d'un
                envoi ou d'une remise sous enveloppe physique :<BR> Les dossiers de réponse doivent comporter une
                enveloppe cachetée contenant les documents relatifs à la candidature et à l'offre.<BR> l'offre devra
                être adressée par pli recommandé avec avis de réception postal ou remise contre récépissé à : Hôtel de
                Ville de SERRIS, Service des Marchés Publics, 2 place Antoine Mauny, B.P.&nbsp;15 Serris, (F)-77706
                Marne la Vallée Cedex 4.<BR> En indiquant sur l'enveloppe la mention ne pas ouvrir marché public.<BR>
                MAPA 2015-12 - acquisition de fournitures d'illuminations de Noël<Br> <Br> Elle devra parvenir à
                destination avant la date et l'heure limites.<BR> Les horaires d'ouverture de l'hôtel de Ville de Serris
                sont : le lundi : 13&nbsp;heures - 17&nbsp;heures, du mardi au vendredi : 8&nbsp;heures - 12&nbsp;heures
                / 13&nbsp;heures - 16&nbsp;heures.
            <p><I>Conditions et mode de paiement pour obtenir les documents contractuels et additionnels</I> :<BR>Le
                dossier de consultation est remis gratuitement, par courriel ou courrier sous forme papier, à chaque
                candidat en un seul exemplaire, sur demande écrite comportant la référence du marché, adressée à Mme&nbsp;Nathalie
                MARCHAL (Services Techniques) au 01 60 43 66 81, télécopieur : 01 60 43 10 66, courriel :
                s-technique@mairie-serris.net<BR> Il peut être également téléchargé, directement à partir de la
                plateforme du pouvoir adjudicateur à l'adresse suivante : <BR>https://www.achatpublic.com/sdm/ent/gen/ent_detail.do?PCSLID=CSL_2015_d1sWTTEj5F<BR>
                Sous la référence : MAPA 2015-12.<BR><I>Date limite d'obtention</I> : 24&nbsp;juillet&nbsp;2015, à 15&nbsp;heures.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>2&nbsp;juillet&nbsp;2015.</P><I>Adresse
                auprès de laquelle des renseignements complémentaires peuvent être obtenus&nbsp;:&nbsp;</I>Ville de
            Serris.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>Mme&nbsp;Marchal Nathalie,&nbsp;&nbsp;hôtel de Ville de
            Serris, Services Techniques, 2 place Antoine Mauny, B.P.&nbsp;15 Serris,&nbsp;&nbsp;77706&nbsp;Marne-la-Vallée
            Cedex 4,&nbsp;, tél.&nbsp;:&nbsp;01-60-43-66-81,&nbsp;, télécopieur&nbsp;:&nbsp;01-60-43-10-66,&nbsp;,
            courriel&nbsp;:&nbsp;s-technique@mairie-serris.net,&nbsp;&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://www.achatpublic.com/sdm/ent/gen/ent_detail.do?PCSLID=CSL_2015_d1sWTTEj5F","TestLien","");'
                    class="lien">https://www.achatpublic.com/sdm/ent/gen/ent_detail.do?PCSLID=CSL_2015_d1sWTTEj5F</A>.<BR><I>Adresse
                auprès de laquelle les documents peuvent être obtenus&nbsp;:&nbsp;</I>Ville de Serris.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>Mme&nbsp;Marchal
            Nathalie,&nbsp;&nbsp;hôtel de Ville de Serris, Services Techniques, 2 place Antoine Mauny, B.P.&nbsp;15
            Serris,&nbsp;&nbsp;77706&nbsp;Marne-la-Vallée Cedex 4,&nbsp;, tél.&nbsp;:&nbsp;01-60-43-66-81,&nbsp;,
            télécopieur&nbsp;:&nbsp;01-60-43-10-66,&nbsp;, courriel&nbsp;:&nbsp;s-technique@mairie-serris.net,&nbsp;&nbsp;adresse
            internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://www.achatpublic.com/sdm/ent/gen/ent_detail.do?PCSLID=CSL_2015_d1sWTTEj5F","TestLien","");'
                    class="lien">https://www.achatpublic.com/sdm/ent/gen/ent_detail.do?PCSLID=CSL_2015_d1sWTTEj5F</A>.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal Administratif de Melun&nbsp;43 rue
                du Général de Gaulle, case postale n<sup>o</sup>8630&nbsp;77008&nbsp;Melun Cedex, tél.&nbsp;:&nbsp;01-60-56-66-30,
                télécopieur&nbsp;:&nbsp;01-60-56-66-10.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Tribunal
                Administratif de Melun&nbsp;43 rue du Général de Gaulle, case postale n<sup>o</sup>8630&nbsp;77008&nbsp;Melun
                Cedex, tél.&nbsp;:&nbsp;01-60-56-66-30, télécopieur&nbsp;:&nbsp;01-60-56-66-10.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000740&noa=15-102178" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>