<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>91</B>,&nbsp;78<!-- ED=20158182--><BR>Annonce No&nbsp;<B>15-100611</B><BR>Travaux
            <!--Etablissement public territorial--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>SIAHVY.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;Barret
            Michel, Président du SIAHVY,&nbsp;1, Route Départementale 118&nbsp;91140&nbsp;Villebon-sur-Yvette, tél.&nbsp;:&nbsp;01-69-31-72-10,
            télécopieur&nbsp;:&nbsp;01-69-31-37-31, courriel&nbsp;:&nbsp;marchespublics@siahvy.fr&nbsp;adresse internet&nbsp;:
            <A HREF='javascript:BMP_openWindow("http://www.siahvy.org","TestLien","");' class="lien">http://www.siahvy.org</A>.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.klekoon.com","TestLien","");' class="lien">http://www.klekoon.com</A>.
            <p><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>travaux de mise en conformité des branchements
                d'assainissement en domaine privé - rue du Clos Fleuri sur la commune de Boullay-Lès-Troux</B>.<BR><I>Type
                de marché de travaux&nbsp;:&nbsp;</I> exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45240000.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>les travaux concernent 20 habitations
                (cf. Annexe 1 Cctp).<BR>Ces travaux sont réalisés dans le cadre d'une opération groupée et s'inscrivent
                dans la lignée des démarches engagées par le SIAHVY sur la commune de Boullay-Lès-Troux.<BR>En effet, le
                Schéma Directeur d'assainissement de la commune, finalisé en 2013, a mis en évidence la nécessité de
                créer des réseaux séparatifs sur l'ensemble des rues du bourg de Boullay-Lès-Troux. Les réseaux
                unitaires encore existants dans trois rues sont à l'origine des surcharges hydrauliques de la station
                d'épuration par temps de pluie, ayant pour conséquence des rejets directs d'eaux usées au milieu naturel
                (ru des Troux)<BR><I>Des variantes seront-elles prises en compte: </I>oui.Le présent avis correspond à
                un avis périodique indicatif constituant une mise en concurrence.<br/><BR>Prestations divisées en lots :
                non.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>les critères de sélection des candidatures sont précisés dans le règlement
                de la consultation.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire obligatoirement par le candidat, à l'appui de sa candidature&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Copie
                du ou des jugements prononcés, si le candidat est en redressement judiciaire;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                sur l'honneur du candidat justifiant qu'il n'entre dans aucun des cas mentionnés à l'article 43 du code
                des marchés publics, concernant les interdictions de soumissionner;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                sur l'honneur du candidat attestant qu'il est en règle, au cours de l'année précédant celle au cours de
                laquelle a lieu le lancement de la consultation, au regard des articles L. 5212-1, L. 5212-2, L. 5212 5
                et L. 5212-9 du code du travail, concernant l'emploi des travailleurs handicapés;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                le candidat est établi en France, une déclaration sur l'honneur du candidat justifiant que le travail
                est effectué par des salariés employés régulièrement au regard des articles L. 1221-10, L. 3243-2 et R.
                3243-1 du code du travail (dans le cas où le candidat emploie des salariés, conformément à l'article D.
                8222-5-3° du code du travail).<br/><br/><i>Documents à produire à l'appui des candidatures par le
                    candidat, au choix de l'acheteur public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Présentation
                d'une liste des travaux exécutés au cours des cinq dernières années, appuyée d'attestations de bonne
                exécution pour les travaux les plus importants. Ces attestations indiquent le montant, l'époque et le
                lieu d'exécution des travaux et précisent s'ils ont été effectués selon les règles de l'art et menés
                régulièrement à bonne fin;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire DC1, Lettre de candidature
                - Habilitation du mandataire par ses co-traitants (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC2, Déclaration du candidat individuel ou du membre du groupement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4).<br/><br/><i>Documents
                    à produire obligatoirement par l'attributaire, avant la signature et la notification du marché
                    public ou de l'accord-cadre (formulaire NOTI1)&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Les
                pièces prévues aux articles D. 8222-5 ou D. 8222-7 et D. 8222-8 du code du travail;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                l'attributaire est établi en France, les attestations et certificats délivrés par les administrations et
                organismes compétents prouvant qu'il a satisfait à ses obligations fiscales et sociales ou un état
                annuel des certificats reçus.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>24&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;16&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>2015-16.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>adresse profil acheteur, le DCE (Dossier de
                Consulation) est téléchargeable gratuitement sur : www.klekoon.com ou en suivant ce lien :
                http://www.klekoon.com/dematerneT/formulaire_3_Detail_Consultation.asp?consultation_ID=55151.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>30&nbsp;juin&nbsp;2015.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2999173&noa=15-100611" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>