<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>33</B><!-- ED=20158184--><BR>Annonce No&nbsp;<B>15-101898</B><BR>Fournitures<!--Autre-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>PARCUB.<BR>&nbsp;Correspondant&nbsp;:&nbsp;parcub,&nbsp;9
            Terrasse Front du Médoc B.P.&nbsp;722&nbsp;33006&nbsp;Bordeaux, tél.&nbsp;:&nbsp;05-56-99-50-00, télécopieur&nbsp;:&nbsp;05-56-96-49-94&nbsp;adresse
            internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://marchespublics-parcub.omnikles.com","TestLien","");'
                    class="lien">https://marchespublics-parcub.omnikles.com</A>.<BR>Adresse internet du profil
            d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://marchespublics-parcub.omnikles.com","TestLien","");'
                    class="lien">https://marchespublics-parcub.omnikles.com</A>.<BR><i>Principale(s) Activité(s) du
                pouvoir adjudicateur : </i> Loisirs, culture et religion, REGIE COMMUNAUTAIRE.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>fourniture de produits de peinture et brosseries
                diverses</B>.<BR><I>Type de marché de fournitures&nbsp;:&nbsp;</I> achat.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;45442100.<BR><I>Lieu de livraison&nbsp;:&nbsp;</I>parcs de stationnement BORDEAUX,&nbsp;33000&nbsp;Bordeaux.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>parcub réalise en interne les travaux de
                rénovation de peinture des parcs de stationnement. Ce programme nécessite l'achat de produits de
                peinture et de brosseries et consommables<BR><i>Quantités (fournitures et services), nature et étendue
                    (travaux)&nbsp;:&nbsp;</i>lot n<sup>o</sup> 1 : Produits de peinture de type acrylique <Br>Lot
                n<sup>o</sup> 2 : Produits de peinture de type époxy <Br>Lot n<sup>o</sup> 3 : Brosseries et
                consommables divers <Br>Lot n<sup>o</sup> 4 : Autres produits de peinture <Br>Lot n<sup>o</sup> 5 :
                Produit de type époxy à séchage rapide.<BR><I>Refus des variantes</I>.<BR>Prestations divisées en lots :
                oui.<BR>Possibilité de pr&eacute;senter une offre pour tous les lots.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>24 mois à compter de la notification du
                marché.<BR><i>Date&nbsp;prévisionnelle&nbsp;de&nbsp;début&nbsp;des&nbsp;prestations&nbsp;(fournitures/services)&nbsp;:&nbsp;</i>1.e.r&nbsp;décembre&nbsp;2015.<BR><I>Cautionnement
                    et garanties exigés&nbsp;:&nbsp;</I>conformément à l'article 28.1 du ccag fcs, les prestations font
                l'objet d'une garantie minimale de 12 Mois.<BR><I>Modalités essentielles de financement et de paiement
                    et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>les prestations font l'objet de
                paiements partiels définitifs après constatation du service fait dans les conditions prévues par
                l'article 92 du Code des marchés publics.<Br>Les prestations seront rémunérées dans les conditions
                fixées par les règles de la comptabilité publique en vigueur.<Br>Les sommes dues au(x) titulaire(s),
                seront payées dans un délai global de 30 jours à compter de la date de réception des demandes de
                paiement.<BR><i>Forme juridique que devra revêtir le groupement d'opérateurs économiques attributaire du
                    marché&nbsp;:&nbsp;</i>aucune forme de groupement n'est imposée par le pouvoir adjudicateur.<Br><Br>Le
                pouvoir adjudicateur interdit aux candidats de présenter leurs offres en agissant à la fois en qualité
                de candidats individuels et de membres d'un ou plusieurs groupements, conformément à l'article 51-vi-1
                du Code des marchés publics.<Br>En cas d'attribution du marché à un groupement conjoint, le mandataire
                du groupement sera solidaire, pour l'exécution du marché, de chacun des membres du groupement pour ses
                obligations contractuelles en application de l'article 51-ii du Code des marchés publics.<BR><I>L'exécution
                    du marché est soumise à d'autres conditions particulières : </I>non.<BR><I>Langues pouvant être
                    utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée,
                    l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>le jugement des propositions sera effectué dans les conditions prévues à
                l'article 53 du Code des marchés publics au moyen des critères suivants : <Br>Notation sur 100 avec
                coefficient de pondération<Br>Prix pondération 50 <Br>Technique pondération 40<Br>Délais Exécution
                pondération 10.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire obligatoirement par le candidat, à l'appui de sa candidature&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Copie
                du ou des jugements prononcés, si le candidat est en redressement judiciaire;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                sur l'honneur du candidat justifiant qu'il n'entre dans aucun des cas mentionnés à l'article 43 du code
                des marchés publics, concernant les interdictions de soumissionner;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                sur l'honneur du candidat attestant qu'il est en règle, au cours de l'année précédant celle au cours de
                laquelle a lieu le lancement de la consultation, au regard des articles L. 5212-1, L. 5212-2, L. 5212 5
                et L. 5212-9 du code du travail, concernant l'emploi des travailleurs handicapés;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                le candidat est établi en France, une déclaration sur l'honneur du candidat justifiant que le travail
                est effectué par des salariés employés régulièrement au regard des articles L. 1221-10, L. 3243-2 et R.
                3243-1 du code du travail (dans le cas où le candidat emploie des salariés, conformément à l'article D.
                8222-5-3° du code du travail);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si le candidat est établi ou
                domicilié à l'étranger, une déclaration sur l'honneur du candidat attestant qu'il fournit à ses salariés
                des bulletins de paie comportant les mentions prévues à l'article R. 3243-1 du code du travail, ou des
                documents équivalents.<br/><br/><i>Documents à produire à l'appui des candidatures par le candidat, au
                    choix de l'acheteur public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                concernant le chiffre d'affaires global et le chiffre d'affaires concernant les fournitures, services ou
                travaux objet du marché, réalisés au cours des trois derniers exercices disponibles;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                appropriée de banques ou preuve d'une assurance pour les risques professionnels;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Présentation
                d'une liste des principales fournitures ou des principaux services effectués au cours des trois
                dernières années, indiquant le montant, la date et le destinataire public ou privé. Les livraisons et
                les prestations de services sont prouvées par des attestations du destinataire ou, à défaut, par une
                déclaration de l'opérateur économique;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration indiquant
                l'outillage, le matériel et l'équipement technique dont le candidat dispose pour la réalisation de
                marchés de même nature;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;En matière de fournitures et services,
                une description de l'équipement technique, des mesures employées par l'opérateur économique pour
                s'assurer de la qualité et des moyens d'étude et de recherche de son entreprise;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Echantillons,
                descriptions et/ou photographies des fournitures;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC1, Lettre de candidature - Habilitation du mandataire par ses co-traitants (disponible à l'adresse
                suivante : http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC2, Déclaration du candidat individuel ou du membre du groupement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC&nbsp;4, Déclaration de sous-traitance (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4).
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>9&nbsp;septembre&nbsp;2015,&nbsp;à&nbsp;13&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>90 jours à compter de la date limite de réception
                des offres.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>2&nbsp;juillet&nbsp;2015.</P><I>Adresse
                auprès de laquelle des renseignements d'ordre technique peuvent être obtenus&nbsp;:&nbsp;</I>Parcub.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>direction
            Operationnelle,&nbsp;, tél.&nbsp;:&nbsp;05-56-99-50-06,&nbsp;,
            courriel&nbsp;:&nbsp;dnguyen@parcub.com.<BR><I>Adresse auprès de laquelle des renseignements d'ordre
                administratif peuvent être obtenus&nbsp;:&nbsp;</I>Parcub.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>service
            Achats et Marchés,&nbsp;, tél.&nbsp;:&nbsp;05-56-99-50-00,&nbsp;,
            courriel&nbsp;:&nbsp;sbordy@parcub.com.<BR><I>Adresse auprès de laquelle les documents peuvent être obtenus&nbsp;:&nbsp;</I><BR>&nbsp;le
            dossier de consultation des entreprises peut être obtenu en le téléchargeant sur la plateforme internet :
            https://marchespublics-parcub.omnikles.com.<p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal
                Administratif de Bordeaux&nbsp;9 rue Tastet&nbsp;33000&nbsp;Bordeaux, tél.&nbsp;:&nbsp;05-56-99-38-00.
            </P>
            <P><I>Renseignements relatifs aux lots&nbsp;:&nbsp;</I>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 1.</span> - produits de peinture de type
                                    acrylique.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Les produits proposés seront utilisés pour les applications peintures
                                    sur les plafonds, poutres, piliers et murs des parcs de stationnement, sur des
                                    supports de béton bruts<Br>Il s'agit exclusivement de produits de type acrylique les
                                    produits et devront correspondre aux normes réglementaires en vigueur.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"><I>Coût estimé (HT) :</I>&nbsp;entre 20 000&nbsp;euros et 40 000&nbsp;euros.<BR>
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 2.</span> - produits de peinture de type
                                    époxy.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Les produits demandés seront utilisés pour les applications peintures de
                                    sols béton grenaillés ou rabotés.<Br>Il s'agit exclusivement de produits de type
                                    époxydique en bi-composant sans solvant et sans phase aqueuse.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"><I>Coût estimé (HT) :</I>&nbsp;entre 50 000&nbsp;euros et 110 000&nbsp;euros.<BR>
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 3.</span> - brosseries et consommables divers.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Les fournitures et consommables divers qui font l'objet du présent lot
                                    sont destinées à l'application des produits de peinture des lots 1, 2, 3.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"><I>Coût estimé (HT) :</I>&nbsp;entre 15 000&nbsp;euros et 23 000&nbsp;euros.<BR>
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 4.</span> - autres produits de peinture.</td>
                            </tr>
                            <tr>
                                <td class="txt">Il s'agit de produits de peinture autres que ceux définis aux lots 1,2,
                                    3 et 5 de type :<Br>Produit de type antirouille, de type glycéro, de type white
                                    spirit, bombes aérosol en polyuréthane (5 couleurs).
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"><I>Coût estimé (HT) :</I>&nbsp;entre 5 000&nbsp;euros et 10 000&nbsp;euros.<BR>
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 5.</span> - produit de type époxy à séchage
                                    rapide.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Il s'agit de produits de type EPOXY utilisables en application
                                    multicouche et pour lequel PARCUB souhaite faire une application mono couche à
                                    séchage rapide.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"><I>Coût estimé (HT) :</I>&nbsp;entre 10 000&nbsp;euros et 12 000&nbsp;euros.<BR>
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000460&noa=15-101898" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>