<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>75</B><!-- ED=20158184--><BR>Annonce No&nbsp;<B>15-100110</B><BR>Fournitures<!--Autre-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Société d'Exploitation du
            P.O.P.B.<BR>&nbsp;Correspondant&nbsp;:&nbsp;Mme&nbsp;Christine Thibal,&nbsp;8 boulevard de Bercy&nbsp;75012&nbsp;Paris,
            tél.&nbsp;:&nbsp;01-75-44-04-00&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.bercyarena.paris","TestLien","");' class="lien">http://www.bercyarena.paris</A>.<BR>Le
            pouvoir adjudicateur n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Loisirs, culture et religion.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>marché de fournitures de Patins à glace pour la Patinoire
                Sonja-Henie du Palais omnisports de Paris-Bercy</B>.<BR><I>Type de marché de
                fournitures&nbsp;:&nbsp;</I> achat.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;37411220.<BR><I>Lieu de livraison&nbsp;:&nbsp;</I>palais omnisports de
                Paris-Bercy,&nbsp;75012&nbsp;Paris.<BR><I>Code NUTS : </I>FR.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>le Pouvoir adjudicateur est chargé de la
                gestion du Palais omnisports de Paris-Bercy dans le cadre d'une convention de délégation de service
                public avec la Ville de Paris, propriétaire du Palais omnisports de Paris-Bercy et autorité
                organisatrice de sa gestion (la " Convention de dsp ").<Br>Le POPB est un établissement composé de
                plusieurs salles dont la Patinoire Sonja-Henie.<Br>Dans ce cadre le Pouvoir adjudicateur doit assurer la
                fourniture de patins à glace pour la Patinoire Sonja-Henie du Palais omnisports de Paris-Bercy<BR><i>Quantités
                    (fournitures et services), nature et étendue (travaux)&nbsp;:&nbsp;</i>la Société a besoin de
                renouveler son stock de patins destinés à la location lors des séances publiques soit :<Br>740 paires de
                patins artistiques (enfants et adultes) ;<Br>765 paires de patins hockey (enfants et adultes).<BR><I>Refus
                    des variantes</I>.<BR>Prestations divisées en lots : non.<BR><i>Date&nbsp;prévisionnelle&nbsp;de&nbsp;début&nbsp;des&nbsp;prestations&nbsp;(fournitures/services)&nbsp;:&nbsp;</i>15&nbsp;septembre&nbsp;2015.<BR><I>Modalités
                    essentielles de financement et de paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>financement
                assuré exclusivement par le Pouvoir adjudicateur.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>les opérateurs économiques sont autorisés à se porter candidat seuls ou
                sous forme de groupement solidaire ou conjoint, sous réserve du respect des règles relatives à la
                concurrence. Pour conserver toute sa portée à l'examen des capacités des candidats, les candidatures
                doivent demeurer identiques durant l'ensemble de la procédure. Par conséquent, la composition des
                candidats ne peut être modifiée, par substitution, suppression ou ajout de membre(s), jusqu'à la
                notification du Marché.<BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>chaque candidat
                joint à son dossier de candidature : <Br>-Une lettre de candidature signée par toute personne habilitée
                à l'engager, la qualité du signataire devant être justifiée.<Br>- les documents relatifs aux pouvoirs de
                la personne habilitée à engager la société, si la personne signataire n'est pas le représentant légal de
                la société.<Br>- un extrait K-Bis datant de moins de trois mois. <Br><Br>En cas de candidature sous
                forme de groupement, le candidat précise la forme du groupement (conjoint ou solidaire), désigne le
                mandataire du groupement et produit le mandat habilitant le mandataire à valablement engager le
                groupement.<Br><Br>Les candidats ou les membres d'un groupement candidat produiront au titre de leur
                dossier de candidature une déclaration sur l'honneur attestant qu'ils n'entrent dans aucun des cas
                mentionnés à l'article 8 de l'ordonnance n<sup>o</sup>2005-649 du 6 juin 2005 précitée. Au titre de leur
                dossier de candidature, les candidats fourniront également le cas échéant une copie du ou des jugements
                prononcés, s'ils sont en redressement judiciaire.<Br><Br>Par ailleurs, les candidats ou les membres d'un
                groupement candidat produiront au titre de leur dossier de candidature toute attestation d'assurances
                permettant de garantir la responsabilité du Titulaire à l'égard du Pouvoir adjudicateur et des
                tiers.<Br>-Une attestation de fournitures de déclaration sociales, émanant de l'organisme de protection
                sociale chargé du recouvrement des cotisations et contributions sociales, incombant au candidat et
                datant de moins de 6 mois.<Br>-Une attestation sur l'honneur établie par le candidat certifiant que le
                travail sera réalisé avec des salariés employés régulièrement au regard des articles L. 3243-1, L.
                3243-2 et L. 3243-4, L. 1221-10 et suivants et L. 3242-3 du code du travai.<BR><I>Capacité économique et
                    financière - références requises&nbsp;:&nbsp;</I>les candidats ou groupements candidats devront
                justifier de leur capacité économique et financière à exécuter le Marché. A cet effet, les candidats ou
                les membres d'un groupement candidat produiront au titre de leur dossier de candidature :<Br><Br>-Une
                déclaration concernant le chiffre d'affaires global et le chiffre d'affaires concernant les services
                objet du marché, réalisés au cours des trois derniers exercices disponibles ;<Br>-Des bilans ou extraits
                de bilans concernant les trois derniers exercices, lorsque ces documents sont établis et rendus publics
                en vertu de la loi.<Br>- une déclaration appropriée de banque ou preuve d'une assurance pour les risques
                professionnels.<Br><Br>Si le candidat ou le membre d'un groupement candidat ne peut produire, pour
                justifier de sa capacité économique et financière, l'un des renseignements ou documents prévus
                ci-dessus, il peut prouver sa capacité par tout autre document équivalent pouvant raisonnablement être
                considéré comme établissant, aux yeux d'un opérateur économique averti, sa capacité économique et
                financière à exécuter le Marché<BR><I>Référence professionnelle et capacité technique - références
                    requises&nbsp;:&nbsp;</I>les candidats ou les groupements candidat devront justifier de leur
                capacité professionnelle et technique à exécuter le Marché. A cet effet, les candidats ou les membres
                d'un groupement candidat produiront au titre de leur dossier de candidature :<Br>- une liste des
                principaux marchés de fournitures rendus au cours des trois (3) dernières années, indiquant les prix,
                les dates et destinataires publics ou privés. La preuve de la capacité du candidat peut être apportée
                par tout moyen, notamment par des certificats d'identité professionnel ou des références attestant de la
                compétence du candidat à réaliser le Marché pour lequel il se porte candidat.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).<BR>Une enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>3&nbsp;août&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>3 mois à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>2015-M032.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>le dossier de consultation des entreprises (le"dce")
                est librement accessible sur le site internet de la Société à la rubrique
                http:/www.bercyarena.paris/marches/ jusqu'à la date limite de réception des candidatures et des offres.
                Il comprend les documents suivants :<Br>- l'avis d'appel public à la concurrence ;<Br>- le règlement de
                la consultation ; <Br>- l'acte d'engagement ; <Br>- le cahier des clauses administratives particulières
                ; <Br>- le cahier des clauses techniques particulières ;<Br>- les bordereaux de prix unitaires.<Br><Br>Le
                Pouvoir adjudicateur se réserve la possibilité d'apporter des modifications de détail au DCE au plus
                tard quinze (15) jours calendaires avant la date limite de réception des candidatures et des offres. Les
                candidats doivent alors répondre sur la base du dossier modifié sans pouvoir prétendre à une quelconque
                réclamation à ce sujet.<Br><Br>Le Marché est passé selon une procédure librement définie en application
                de l'article 10 du décret n<sup>o</sup>2005-1742 du 30 décembre 2005 précité (le " Décret de 2005
                ").<Br><Br>La Société se réserve la faculté de ne pas donner suite à la présente consultation, pour tout
                motif justifiant valablement une telle décision et ce, à tout moment de la procédure jusqu'à la
                notification du Marché au Titulaire. En pareille hypothèse, la Société informe les candidats des motifs
                de sa décision dans les plus brefs délais. Cette décision ne donnera lieu à aucune indemnisation.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>les candidats adressent leur candidature
                et leur offre dans une enveloppe portant la mention " sae popb - marché de fournitures de patins à glace
                pour la Patinoire Sonja-Henie du Palais omnisports de Paris-Bercy, envoyée par courrier recommandé avec
                avis de réception postale ou remise sur place en mains propres contre récépissé à l'adresse indiquée
                ci-dessous :<br><br>sae popb<br>a l'attention de Mme. Christine Thibal<Br>Immeuble Central Seine (11°
                étage)<Br>46, quai de la Rapée<Br>75012 Paris.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>2&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I><BR>&nbsp;sae popb 46 quai de la rapée Immeuble Central Seine - 11ème étage,&nbsp;&nbsp;75012&nbsp;Paris,&nbsp;,
            courriel&nbsp;:&nbsp;marches@bercyarena.paris.<p><I>Instance chargée des procédures de
                recours&nbsp;:&nbsp;</I>M.&nbsp;le président du Tribunal de grande instance de Paris&nbsp;4, boulevard
                du Palais&nbsp;75055&nbsp;Paris Cedex 01, tél.&nbsp;:&nbsp;01-44-32-51-51, télécopieur&nbsp;:&nbsp;01-44-32-55-65&nbsp;adresse
                internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.ca-paris.justice.fr","TestLien","");'
                                   class="lien">http://www.ca-paris.justice.fr</A>.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>M.&nbsp;le
                président du Tribunal de grande instance de Paris&nbsp;4, boulevard du Palais&nbsp;75055&nbsp;Paris
                Cedex 01, tél.&nbsp;:&nbsp;01-44-32-51-51, télécopieur&nbsp;:&nbsp;01-44-32-55-65&nbsp;adresse internet&nbsp;:
                <A HREF='javascript:BMP_openWindow("http://www.ca-paris.justice.fr","TestLien","");' class="lien">http://www.ca-paris.justice.fr</A>.
            </P><img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2998672&noa=15-100110" width="1"
                     height="1"></td>
    </tr>
</table>
</body>
</html>