<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>35</B><!-- ED=20158184--><BR>Annonce No&nbsp;<B>15-102129</B><BR>Travaux<!--Etat-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>ESID de Rennes.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;Aubin
            mariane, Etablissement du Service d'infrastructure de la Défense de RENNES,&nbsp;quartier Margueritte bp14
            Quartier Margueritte bp14&nbsp;35998&nbsp;Rennes Cedex 9, tél.&nbsp;:&nbsp;02-23-35-24-08, télécopieur&nbsp;:&nbsp;02-23-35-21-93,
            courriel&nbsp;:&nbsp;mariane.aubin@intradef.gouv.fr.<BR><i>Principale(s) Activité(s) du pouvoir adjudicateur
                : </i> Défense.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>bruz (35) - dga mi - réalisation d'une plateforme
                informatique dans le local YA 101 - projet Cortex <Br>Macro lot 1 : gros &oelig;uvre et corps d'états
                secondaires<br>macro lot 2 : installation d'energie<br>durée du marché 9 mois</B>.<BR><I>Type de marché
                de travaux&nbsp;:&nbsp;</I> exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;45000000.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>la Roche Margueritte -
                B.P.&nbsp;57419,&nbsp;35174&nbsp;Bruz.<BR><I>Code NUTS : </I>|FR523|.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><br><i>Options : descriptions concernant les
                achats complémentaires&nbsp;:&nbsp;</i>lot 2 installation d'energie<br>option 1 : détecteurs
                multiponctuels haute sensibilité type vesda pour la salle serveurs Y 101 -1.<BR><I>Refus des
                    variantes</I>.<BR>Prestations divisées en lots : oui.<BR>Possibilité de pr&eacute;senter une offre
                pour un ou plusieurs lots.<BR><I>Cautionnement et garanties exigés&nbsp;:&nbsp;</I>retenue de garantie
                de 5 % sera exercée sur les acomptes.<BR><I>Modalités essentielles de financement et de paiement et/ou
                    références aux textes qui les réglementent&nbsp;:&nbsp;</I>acomptes selon avancement du marché, prix
                révisables, paiement à 30 jours.<br>en application de l'article 87 du CMP, il est prévu le versement au
                titulaire d'une avance portée à 5 % pour la part du marché non sous-traitée.<br>financement assuré
                exclusivement par des resources budgétaires de l'état.<BR><i>Forme juridique que devra revêtir le
                    groupement d'opérateurs économiques attributaire du marché&nbsp;:&nbsp;</i>marché passé avec un
                prestataire unique ou avec un groupement. En cas de groupement conjoint, le mandataire sera
                obligatoirement solidaire de chacun des membres du groupement.<BR><I>L'exécution du marché est soumise à
                    d'autres conditions particulières : </I>non.<BR><I>Langues pouvant être utilisées dans l'offre ou la
                    candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>pouvoir
                de la personne habilitée à engager le marché.<BR><I>Capacité économique et financière - références
                    requises&nbsp;:&nbsp;</I>renseignements et formalités nécessaires pour évaluer si ces exigences sont
                remplies : chiffre d'affaire des 3 dernières années concernant des prestations similaires et chiffres
                d'affaires global
            <P><I>Marché réservé :&nbsp;</I>non.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire obligatoirement par le candidat, à l'appui de sa candidature&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Copie
                du ou des jugements prononcés, si le candidat est en redressement judiciaire;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                sur l'honneur du candidat justifiant qu'il n'entre dans aucun des cas mentionnés à l'article 43 du code
                des marchés publics, concernant les interdictions de soumissionner.<br/><br/><i>Documents à produire à
                    l'appui des candidatures par le candidat, au choix de l'acheteur public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Certificats
                de qualifications professionnelles. La preuve de la capacité du candidat peut être apportée par tout
                moyen, notamment par des certificats d'identité professionnelle ou des références de travaux attestant
                de la compétence de l'opérateur économique à réaliser la prestation pour laquelle il se porte
                candidat;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire DC1, Lettre de candidature - Habilitation
                du mandataire par ses co-traitants (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC2, Déclaration du candidat individuel ou du membre du groupement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4).<br/><br/><i>Documents
                    à produire obligatoirement par l'attributaire, avant la signature et la notification du marché
                    public ou de l'accord-cadre (formulaire NOTI1)&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Les
                pièces prévues aux articles D. 8222-5 ou D. 8222-7 et D. 8222-8 du code du travail;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                l'attributaire est établi en France, les attestations et certificats délivrés par les administrations et
                organismes compétents prouvant qu'il a satisfait à ses obligations fiscales et sociales ou un état
                annuel des certificats reçus.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>30&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;16&nbsp;heures.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>15-02 cosi 441990.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>2&nbsp;juillet&nbsp;2015.</P><I>Adresse
                auprès de laquelle des renseignements d'ordre administratif peuvent être obtenus&nbsp;:&nbsp;</I>Esid de
            rennes.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>Mme&nbsp;Mariane AUBIN,&nbsp;&nbsp;service achats
            infrastructure Quartier Margueritte B.P.&nbsp;14,&nbsp;&nbsp;35998&nbsp;Rennes Cedex 9,&nbsp;, tél.&nbsp;:&nbsp;02-23-35-25-15,&nbsp;,
            courriel&nbsp;:&nbsp;mariane.aubin@intradef.gouv.fr.<BR><I>Adresse auprès de laquelle les documents peuvent
                être obtenus&nbsp;:&nbsp;</I><BR>&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://www.marches-publics.gouv.fr/?page=entreprise.EntrepriseAdvancedSearch&AllCons&refConsultation=259889&orgAcronyme=g7h","TestLien","");'
                    class="lien">https://www.marches-publics.gouv.fr/?page=entreprise.EntrepriseAdvancedSearch&AllCons&refConsultation=259889&orgAcronyme=g7h</A>.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de rennes&nbsp;hôtel
                de Bizien 3 contour de la motte cs44416&nbsp;35044&nbsp;Rennes Cedex.</P>
            <P><I>Renseignements relatifs aux lots&nbsp;:&nbsp;</I>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 1.</span> - gros &oelig;uvre et corps d 'États
                                    secondaires.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Section technique 1: installation de chantier gros &oelig;uvre et vrd;
                                    section technique 2 :plâtrerie, plafonds suspendus, section technique 3 :
                                    menuiseries métalliques, ferronnerie (dont contrôle d'accès piétons), section
                                    technique 4 : menuiseries bois : équipements divers, section technique 5 : peintures
                                    et tentures, section technique 6 : nettoyage de fin de chantier
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45000000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 2.</span> - installation d'énergie.</td>
                            </tr>
                            <tr>
                                <td class="txt">Section technique 1 : cvc, plomberie sanitaire,<br>section technique 2 a
                                    : électricité cfo et cfa,<br>section technique 2b : precâblage vdi
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45000000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000691&noa=15-102129" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>