<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>44</B><!-- ED=20158187--><BR>Annonce No&nbsp;<B>15-102606</B><BR>Services<!--Commune-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Commune de Pornic.<BR>&nbsp;Correspondant&nbsp;:&nbsp;commande
            Publique,&nbsp;hôtel de Ville, rue Fernand de Mun, B.P.&nbsp;1409&nbsp;44214&nbsp;Pornic Cedex, tél.&nbsp;:&nbsp;02-51-74-09-89,
            télécopieur&nbsp;:&nbsp;02-40-82-57-91, courriel&nbsp;:&nbsp;opinault@pornic.fr&nbsp;adresse internet&nbsp;:
            <A HREF='javascript:BMP_openWindow("http://www.pornic.fr","TestLien","");'
               class="lien">http://www.pornic.fr</A>.<BR>Adresse internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.synapse-ouest.com","TestLien","");' class="lien">http://www.synapse-ouest.com</A>.<BR>Le
            pouvoir adjudicateur n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>transports collectifs scolaires et hors
                scolaires</B>.<BR><I>Catégorie de services&nbsp;:&nbsp;</I>2.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;60172000.
            <p>L'avis implique l'établissement d'un accord-cadre.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>la prestation a pour objet la mise à
                disposition de moyens de transports appropriés, avec chauffeur, pour prendre en charge les déplacements
                d'enfants et d'adolescents le plus souvent dans le cadre d'activités scolaires (sport, sorties
                pédagogiques, sorties occasionnelles sans nuitée) et extra scolaires. Cette prestation peut concerner
                tout type de public<BR><i>Calendrier des marchés ultérieurs en cas de marchés reconductibles&nbsp;:&nbsp;</i>le
                marché est prévu pour une durée d'un an reconductible à deux reprises (soit trois ans maximum).<BR><I>Refus
                    des variantes</I>.<BR>La procédure d'achat du présent avis est couverte par l'accord sur les marchés
                publics de l'OMC : oui.<br/><BR>Prestations divisées en lots : oui.<BR>Possibilité de pr&eacute;senter
                une offre pour un ou plusieurs lots.<BR><i>Date&nbsp;prévisionnelle&nbsp;de&nbsp;début&nbsp;des&nbsp;prestations&nbsp;(fournitures/services)&nbsp;:&nbsp;</i>1.e.r&nbsp;septembre&nbsp;2015.<BR><I>Cautionnement
                    et garanties exigés&nbsp;:&nbsp;</I>pas de retenue de garantie.<BR><I>Modalités essentielles de
                    financement et de paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>-
                financement sur fonds propres inscrits au budget<Br>- paiement par mandat administratif selon les règles
                de la comptabilité publique, dans le délai maximum de 30 jours (art. 98 du code des marchés
                publics),<Br>- pas d'avance forfaitaire<Br>- la rémunération est prévue par application de prix
                unitaires actualisables (voir ccap)<Br>- le paiement de la prestation après admission définitive de
                chaque marché subséquent<Br>- application de pénalités de retard en cas de non respect des délais (voir
                ccap).<BR><i>Forme juridique que devra revêtir le groupement d'opérateurs économiques attributaire du
                    marché&nbsp;:&nbsp;</i>les candidats peuvent présenter une offre, soit en qualité de candidats
                individuels, soit en qualité de membre d'un ou de plusieurs groupements. Ils ne peuvent pas cumuler les
                deux qualités. Les groupements momentanés d'entreprises sont autorisés librement.<BR><I>L'exécution du
                    marché est soumise à d'autres conditions particulières : </I>non.<BR><I>Langues pouvant être
                    utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée,
                    l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>- une lettre de candidature<Br>- une déclaration sur l'honneur, dûment
                datée et signée par le candidat, justifiant :. Qu'Il a, au 31 décembre de l'année précédant celle au
                cours de laquelle a lieu le lancement de la consultation, souscrit les déclarations lui incombant en
                matière fiscale et sociale et acquitté les impôts et cotisations exigibles à cette date, ou s'être
                acquitté spontanément de ces impôts et cotisations avant la date du lancement de la présente
                consultation ou avoir constitué spontanément avant cette date des garanties jugées suffisantes par le
                comptable ou l'organisme chargé du recouvrement ;. Qu'Il n'a pas fait l'objet d'une interdiction de
                concourir; . Qu'Il n'a pas fait l'objet, au cours des 5 dernières années, d'une condamnation inscrites
                au bulletin no 2 du casier judiciaire pour les infractions visées aux articles L.8221-1, L.8231-1,
                L.8241-1 et L.8251-1 du code de travail ou des infractions de même nature dans un autre Etat de l'union
                européenne;. Qu'Il est en règle au regard des articles L.5212-1 et suivants du code du travail
                concernant l'emploi des travailleurs handicapés.<Br>- le pouvoir de la personne habilitée à engager le
                candidat et, en cas de groupement, de chacun des membres du groupement et habilitation du
                mandataire,<Br>Pour faciliter les démarches administratives, les candidats peuvent utiliser les
                formulaires relatifs aux marchés publics (DC 1, Dc2, noti2/état fiscal).<BR><I>Situation juridique -
                    références requises&nbsp;:&nbsp;</I>voir article précédent.<BR><I>Capacité économique et financière
                    - références requises&nbsp;:&nbsp;</I>- une déclaration concernant le chiffre d'affaires global et
                la part concernant les prestations similaires objet de la présente consultation réalisées au cours des
                trois derniers exercices ;<BR><I>Référence professionnelle et capacité technique - références requises&nbsp;:&nbsp;</I>-
                un dossier présentant les références les plus pertinentes de prestations similaires ou de même nature et
                d'importance.
            <p>La prestation n'est pas réservée à une profession particulière.
            <p>Les personnes morales sont tenues d'indiquer les noms et qualifications professionnelles des membres du
                personnel chargé de la prestation.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire obligatoirement par le candidat, à l'appui de sa candidature&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Copie
                du ou des jugements prononcés, si le candidat est en redressement judiciaire.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur
                technique : 50 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix : 40 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;performance
                en matière de protection de l'environnement : 10 %.<BR>Une enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>27&nbsp;juillet&nbsp;2015.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>90 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>1530.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>les demandes de renseignements complémentaires sont
                déposées par écrit (courrier ou télécopie) auprès du Service Commande publique uniquement ; les réponses
                sont communiquées 6 jours au plus tard avant la date limite de remise des offres.<Br>Pour la
                récupération en ligne des pièces du dossier, les candidats peuvent s'adresser à l'équipe support Synapse
                Ouest (partenaire) au 02 99 55 02 05 qui les aidera à s'enregistrer.
            <p><I>Conditions et mode de paiement pour obtenir les documents contractuels et additionnels</I> :<BR>les
                candidats peuvent obtenir gratuitement le dossier de consultation par téléchargement sur l'adresse
                Internet www.pornic.fr ou sur www.synapse-ouest.com.<BR><I>Date limite d'obtention</I> : 27&nbsp;juillet&nbsp;2015,
                à 12&nbsp;heures.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>adresse de remise des offres : commune de
                Pornic, Hôtel de Ville - service Comptabilité, Bp1409, rue Fernand de Mun, 44214 Pornic Cedex.<Br>Les
                offres peuvent être transmises par voie électronique en toute confidentialité et de manière sécurisée
                sur le site www.synapse-ouest.com, conformément au code des marchés. Pour cela, il suffit de
                s'enregistrer sur le site et le candidat sera pris en charge par le centre d'appel téléphonique. L'offre
                est signée par certificat électronique.<Br>Les candidats devront choisir entre une offre papier ou une
                offre par voie électronique mais ne pourront, sous peine d'irrecevabilité, transmettre leur offre par
                les deux moyens en parallèle.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>3&nbsp;juillet&nbsp;2015.</P>
            <P><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de Nantes&nbsp;6
                allée Ile Gloriette, CS 24111,&nbsp;44041&nbsp;Nantes Cedex, tél.&nbsp;:&nbsp;02-40-99-46-00, courriel&nbsp;:&nbsp;greffe.tanantes@juradm.fr,
                télécopieur&nbsp;:&nbsp;02-40-99-46-58.</P><I>Précisions concernant le(s) délai(s) d'introduction des
                recours : </I>- référé contractuel (article L.551-13 et suivants du Code de justice administrative)
            pouvant être introduit dans un délai de trente jours à compter de la notification ou de la publication de la
            décision faisant grief<Br>- recours gracieux dans un délai de deux mois à compter de la notification ou de
            la publication de la décision faisant grief<Br>- recours pour excès de pouvoir contre les actes détachables
            du contrat et/ou référé suspension (article L. 521-1 du code de justice administrative) dans un délai de
            deux mois à compter de la notification ou de la publication de la décision attaquée (article R. 421-1 du
            Code de justice administrative)<Br>- recours de pleine juridiction exercé par tout concurrent évincé de la
            conclusion d'un contrat administratif contestant la validité de ce contrat ou de certaines de ses clauses,
            assorti le cas échéant de demandes indemnitaires, dans un délai de deux mois à compter de l'accomplissement
            des mesures de publicité appropriées (Conséquence de la jurisprudence du Conseil d'etat du 16 juillet 2007,
            Société Tropic Travaux Signalisation - req. No 291545).<p><I>Renseignements relatifs aux
                lots&nbsp;:&nbsp;</I>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 1.</span> - transports intra communaux.</td>
                            </tr>
                            <tr>
                                <td class="txt">Transports intra communaux.</td>
                            </tr>
                            <tr>
                                <td class="txt"><I>Coût estimé (HT) :</I>&nbsp;entre 12 500&nbsp;euros et 37 500&nbsp;euros.<BR>
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 2.</span> - transports extra communaux.</td>
                            </tr>
                            <tr>
                                <td class="txt">Transports extra communaux.</td>
                            </tr>
                            <tr>
                                <td class="txt"><I>Coût estimé (HT) :</I>&nbsp;entre 10 000&nbsp;euros et 25 000&nbsp;euros.<BR>
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3001168&noa=15-102606" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>