<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>6</B><!-- ED=20158184--><BR>Annonce No&nbsp;<B>15-102139</B><BR>Services<!--Commune-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Ville d'Antibes
            Juan-les-Pins.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;Maire Le,&nbsp;dga Ressources et Prospective 12
            place Géneral de Gaulle B.P.&nbsp;2205&nbsp;06606&nbsp;Antibes Cedex, tél.&nbsp;:&nbsp;04-92-90-52-87,
            courriel&nbsp;:&nbsp;commandepub-gestadm@ville-antibes.fr.<BR>Le pouvoir adjudicateur n'agit pas pour le
            compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s) Activité(s) du pouvoir adjudicateur : </i>
            Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>création et location d'un décor kiosque à musique en
                ossature structure scénique place Nationale à l'occasion des fetes de fin d'année 2015</B>.<BR><I>Catégorie
                de services&nbsp;:&nbsp;</I>26.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;92000000.<BR><I>Lieu
                d'ex&eacute;cution&nbsp;:&nbsp;</I>place Nationale,&nbsp;06600&nbsp;Antibes.<BR><I>Code NUTS : </I>|FR823|.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>la présente procédure adaptée ouverte est
                soumise aux dispositions de l'article 30 du Code des marchés publics<BR><i>Quantités (fournitures et
                    services), nature et étendue (travaux)&nbsp;:&nbsp;</i>le marché prendra effet à compter de sa date
                de notification jusqu'à la fin de la prestation (démontage du matériel), permettant au titulaire la mise
                en place de sa programmation.<br>l'ouverture au public des fêtes de fin d'année se fera du samedi 12
                décembre 2015 à 10h jusqu'au 3 janvier 2016 à 19h inclus.<br>le montage s'effectuera semaine 50 de
                l'année 2015. La date sera précisée en coordination avec les autres prestataires intervenants par ordre
                de service du pouvoir adjudicateur.<br>le démontage se fera à compter du 4 janvier jusqu'au 6 janvier
                2016 au plus tard.<BR><I>Refus des variantes</I>.<BR>La procédure d'achat du présent avis est couverte
                par l'accord sur les marchés publics de l'OMC : non.<br/><BR>Prestations divisées en lots : non.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>21 jours à compter de la notification du
                marché.<BR><I>Modalités essentielles de financement et de paiement et/ou références aux textes qui les
                    réglementent&nbsp;:&nbsp;</I>articles 86 à 111 du Code des marchés publics français.
                Caractéristiques des prix : Prix global forfaitaire. Modalités de variation des prix : fermes
                actualisables. Modalité de règlement des comptes : selon les modalités du C.C.A.G.-F.C.S. Le délai
                global de paiement est de 30 jours. Modalités de financements : financement sur les crédits ouverts au
                budget.<BR><i>Forme juridique que devra revêtir le groupement d'opérateurs économiques attributaire du
                    marché&nbsp;:&nbsp;</i>l'offre, qu'elle soit présentée par une seule entreprise ou par un
                groupement, devra indiquer tous les sous-traitants dont elle demande l'acceptation et l'agrément de ses
                conditions de paiement lors de son dépôt. Elle devra indiquer les prestations (et leur montant)
                sous-traitées, la dénomination et la qualité des sous-traitants qui l'exécuteront à la place du
                titulaire dans l'annexe relative à la sous-traitance de l'acte d'engagement (ou formulaire
                DC&nbsp;4).<BR>Dès lors que le candidat justifie, au stade de la candidature, qu'il dispose des
                capacités d'un sous-traitant en produisant obligatoirement un engagement ecrit de ce sous-traitant
                conformément à l'article 45.iii du Code des Marchés Publics, il aura impérativement à compléter l'annexe
                relative à la sous-traitance de l'acte d'engagement (ou formulaire DC&nbsp;4).<BR>En cas de groupement,
                la forme imposée après attribution par le pouvoir adjudicateur est un groupement solidaire. <BR>L'Entreprise
                mandataire d'un groupement ne peut représenter, en cette qualité, plus d'un groupement pour un même
                marché.<BR>il est interdit aux candidats de présenter plusieurs offres en agissant à la fois :<Br>- en
                qualité de candidats individuels et de membres d'un ou plusieurs groupements ; <Br>- en qualité de
                membres de plusieurs groupements.<BR><I>Langues pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>les candidats doivent utiliser les formulaires Dc1 (lettre de candidature)
                et Dc2 (déclaration du candidat) pour présenter leur candidature. Ces documents sont disponibles
                gratuitement sur le site www.economie.gouv.fr. Ils contiendront les éléments indiqués ci-dessous
                :.<BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>la lettre de candidature (Dc1) ;<Br>-
                le(S) document(s) indiquant le(s) nom(s) de la (des) personne(s) ayant le pouvoir d'engager le candidat
                individuel ou le membre du groupement <Br>- déclaration sur l'honneur pour justifier que le candidat
                n'entre dans aucun des cas mentionnés à l'article 43 du cmp ;<br>- copie du ou des jugements prononcés,
                si le candidat est en redressement judiciaire.<BR><I>Capacité économique et financière - références
                    requises&nbsp;:&nbsp;</I>déclaration concernant le chiffre d'affaires global et le chiffre
                d'affaires concernant les services objet du marché, réalisés au cours des trois derniers exercices
                disponibles. Les entreprises créées depuis moins de 3 ans communiqueront utilement le chiffre d'affaires
                global et le chiffre d'affaires concernant les services objet du marché, réalisés depuis leur
                création<BR><I>Référence professionnelle et capacité technique - références requises&nbsp;:&nbsp;</I>déclaration
                indiquant les effectifs moyens annuels du candidat et l'importance du personnel d'encadrement pour
                chacune des trois dernières années ;<Br>- déclaration indiquant le matériel et l'équipement technique
                dont le candidat individuel ou le mandataire et les membres du groupement disposent pour la réalisation
                de marchés de même nature ;<Br>- présentation d'une liste des principales références contrôlables pour
                des prestations de services équivalentes à celles objet du présent marché au cours des trois dernières
                années indiquant notamment le montant, la date et le destinataire public ou privé ; Les prestations de
                services sont prouvées par des attestations du destinataire ou, à défaut, par une déclaration de
                l'opérateur économique ; <BR>Pour justifier des capacités professionnelles, techniques et financières
                d'autres opérateurs économiques sur lesquels il s'appuie pour présenter sa candidature, le candidat
                produit les mêmes documents concernant cet opérateur économique que ceux qui lui sont exigés par le
                pouvoir adjudicateur. En outre, pour justifier qu'il dispose des capacités de cet opérateur économique
                pour l'exécution des prestations, le candidat produit un engagement ecrit de l'operateur economique
                conformément à l'article 45.iii du Code des Marchés Publics.
            <p>La prestation n'est pas réservée à une profession particulière.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;caractère
                artistique et esthétique : 50 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix : 40 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;modalités
                d'organisation : 10 %.<BR>Une enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>24&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;10&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>90 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>15DAC081.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>le dossier de consultation des entreprises est remis
                gratuitement à chaque candidat.<BR>mais il est également disponible sur le profil d'acheteur du pouvoir
                adjudicateur, à l'adresse électronique suivante : https://www.e-marches06.fr/<BR>Aucune demande d'envoi
                du dossier sur support physique électronique n'est autorisée<BR>le pouvoir adjudicateur négociera sur la
                base d'un ou de plusieurs critères de jugement ci-dessus, avec le ou les candidats ayant remis une offre
                susceptible d'être économiquement la plus avantageuse.<BR>le pouvoir adjudicateur communiquera par
                télécopie ou par courriel avec les candidats lors des négociations. Les candidats pourront répondre aux
                questions et envoyer des documents par télécopie ou par courriel. <BR>La négociation pourra se dérouler
                en phases successives. Le ou les candidats ayant remis une offre non susceptible d'être économiquement
                la plus avantageuse à l'issue de la phase de négociation concernée, ne sera (seront) pasconvié(s) à
                participer aux phases ultérieures.<br>le pouvoir adjudicateur préconise la transmission des documents
                par voie papier mais accepte les plis adressés par voie électronique sur son profil d'acheteur, à
                l'adresse suivante : https://www.e-marches06.fr/<BR>Il est à préciser que le choix du mode de
                transmission est irréversible : l'utilisation d'un mode de transmission différencié entre la candidature
                et l'offre n'est pas autorisée.<BR>les conditions de présentation des plis électroniques sont similaires
                à celles exigées pour les réponses sur support papier (un seul fichier regroupant les pièces concernant
                la candidature et les pièces concernant l'offre). Chaque transmission fera l'objet d'une date certaine
                de réception et d'un avis de réception électronique.<BR>par contre, la transmission des plis sur un
                support physique électronique n'est pas autorisée.<BR>le fuseau horaire de référence sera celui de
                (Gmt+01:00) Paris, Bruxelles,Copenhague, Madrid.<BR>Parallèlement à l'envoi électronique, les candidats
                ont la possibilité de faire parvenir au pouvoir adjudicateur, dans les délais de dépôts des offres, une
                copie de sauvegarde sur support physique électronique (Cd-Rom, Dvd-Rom, clé Usb...) ou sur support
                papier.<BR>cette copie est transmise sous pli scellé et comporte obligatoirement la mention : " Copie de
                sauvegarde ". Les documents figurant sur ce support doivent être revêtus de la signature électronique
                (pour les documents dont la signature est obligatoire).<BR>cette copie de sauvegarde sera ouverte en cas
                de défaillance du système informatique qui supporte la dématérialisation ou en cas de détection de
                programme informatique malveillant dans le document électronique transmis.<BR>les copies de sauvegarde
                transmises sur support technique électronique et dans lesquelles un programme informatique malveillant
                est détecté sont réputées n'avoir jamais été reçues et les candidats concernés en seront informés.<BR>les
                candidats qui souhaitent répondre sous forme dématérialisée et afin de garantir au mieux le bon
                déroulement de cette procédure devront tenir compte des indications suivantes :<Br>Les formats
                électroniques dans lesquels les documents peuvent être transmis sont les suivants : <Br>- doc<br>- pdf
                <Br>- xls <BR>Pour les documents images :<Br>- bmp<br>- jpg<br>- jpeg<br>- tif<BR>les candidats sont
                invités à :<Br>- ne pas utiliser certains formats, notamment les ".Exe " ;<br>- ne pas utiliser certains
                outils, notamment les " macros " ;<BR>Chaque pièce pour laquelle une signature est exigée doit être
                signée individuellement et conforme au format Xades, Cades ou Pades. Par conséquent, la seule signature
                électronique du pli n'emporte pas valeur d'engagement du candidat.<BR>le niveau de sécurité requis pour
                le certificat de signature électronique est le Niveau (**) du RGS. Les certificats RGS (Référentiel
                Général de Sécurité) sont référencés dans une liste de confiance française
                (http://www.references.modernisation.gouv.fr) ou dans une liste de confiance d'un autre Etat-Membre de
                l'union européenne.<br>toutefois, le candidat est libre d'utiliser le certificat de son choix si
                celui-ci est conforme aux obligations minimales résultant du RGS. Le candidat s'assure alors que le
                certificat qu'il utilise est au moins conforme à ce niveau de sécurité et donne tous les éléments
                nécessaires à la vérification de cette conformité au RGS par le profil d'acheteur. Le candidat
                signataire transmet ainsi, avec le document signé, le mode d'emploi permettant de procéder aux
                vérifications nécessaires, et ce, gratuitement.<BR>les frais d'accès au réseau et de recours à la
                signature électronique sont à la charge de chaque candidat.<BR>tout document contenant un virus
                informatique fera l'objet d'un archivage de sécurité et sera réputé n'avoir jamais été reçu. Le candidat
                concerné en sera informé. Dans ces conditions, il est conseillé aux candidats de soumettre leurs
                documentsà un anti-virus avant envoi.<br>pour obtenir tous les renseignements complémentaires qui leur
                seraient nécessaires au cours de leur étude, les candidats devront faire parvenir, huit (8) jours au
                plus tard avant la date limite de réception des offres, une demande écrite à :<BR>Renseignement(S)
                administratif(s) :<Br>Ville d'antibes Juan-Les-Pins<Br>Dga Ressources et Prospective<Br>Direction de la
                Commande Publique<Br>12, place Général de Gaulle<Br>B.P.&nbsp;2205<br>06606 Antibes Cedex
                <BR>Accueil<Br>Tél : 04.92.90.52.80<br>télécopie : 04.92.90.54.55<br>email :
                commandepub-passation@ville-antibes.fr <Br>Renseignement(S) technique(s) :<Br>Ville d'antibes
                Juan-Les-Pins<Br>Dga Vie Sociale et Culturelle<Br>Direction de l'animation et des Activités
                Culturelles<Br>5 place Amiral Barnaud<Br>B.P.&nbsp;2205<br>06600 Antibes Juan-Les-Pins <BR>Mme&nbsp;Marie
                France Muller<Br>Télécopie : 04.97.04.99.30<br>email : marie-france.muller@ville-antibes.fr<BR>ou<BR>Mme&nbsp;Stéphanie
                Pierrel<Br>Télécopie : 04.97.04.99.30<br>email : stephanie.pierrel@ville-antibes.fr<br>les
                candidatspourront également transmettre leur demande par l'intermédiaire du profil d'acheteur du pouvoir
                adjudicateur, à l'adresse URL suivante : https://www.e-marches06.fr/ <BR>Une réponse sera alors
                adressée, par écrit, à toutes les entreprises ayant retiré le dossier ou l'ayant téléchargé après
                identification, six (6) jours au plus tard avant la date limite de réception des offres. <Br>Adresse à
                laquelle les documents peuvent être obtenus<br>ville d'antibes Juan-Les-Pins DGA Ressources et
                Prospective Direction de la Commande Publique 12, place Général Gaulle B.P.&nbsp;2205<br>06606 Antibes
                Cedex<Br>Url : https://www.e-marches06.fr<BR>Adresse à laquelle les offres/candidatures/demandes peuvent
                être envoyées<br>ville d'antibes Juan-Les-Pins DGA Ressources et Prospective Direction de la Commande
                Publique 12, place Général de Gaulle B.P.&nbsp;2205<br>06606 Antibes Cedex<Br>Url :
                https://www.e-marches06.fr.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>2&nbsp;juillet&nbsp;2015.</P>
            <P><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de Nice&nbsp;33
                Boulevard Franck pilatte B.P.&nbsp;4179&nbsp;06359&nbsp;Nice, tél.&nbsp;:&nbsp;04-92-04-13-13,
                télécopieur&nbsp;:&nbsp;04-93-55-78-31.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Tribunal
                administratif de Nice&nbsp;33 Boulevard Franck pilatte B.P.&nbsp;4179&nbsp;06359&nbsp;Nice, tél.&nbsp;:&nbsp;04-92-04-13-13,
                télécopieur&nbsp;:&nbsp;04-93-55-78-31.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000701&noa=15-102139" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>