<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>972</B><!-- ED=20158182--><BR>Annonce No&nbsp;<B>15-100824</B><BR>Travaux<!--Etat-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>MINDEF/SGA/DCSID/DID FdF.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;Kuehn
            Marc, Directeur d'infrastructure de la défense de Fort-De-France,&nbsp;morne Desaix - B.P.&nbsp;614&nbsp;97261&nbsp;Fort-de-France
            Cedex, tél.&nbsp;:&nbsp;05-96-39-52-58, télécopieur&nbsp;:&nbsp;05-96-39-52-51.<BR><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Défense.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>martinique (972) - morne Desaix - bâtiment 0225 -
                remplacement de la centrale d'eau glacée et rénovation du système de traitement d'air du bâtiment
                225</B>.<BR><I>Type de marché de travaux&nbsp;:&nbsp;</I> exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;45331200.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>le présent marché a pour objet le
                remplacement du groupe d'eau glacée, y compris les ventilo-convecteurs et la rénovation du système de
                traitement d'air du bâtiment 225 du Morne Desaix.<BR>Le marché sera attribué à une entreprise
                spécialisée ou à un groupement solidaire d'entreprises spécialisées dont le mandataire sera solidaire de
                l'ensemble des cotraitants pour l'exécution du marché pour ses obligations contractuelles à l'égard du
                pouvoir adjudicateur.<BR>les travaux du présent projet de marché font l'objet d'un lot unique.<br>il
                n'est pas prévu de décomposition en tranche.<BR>le dossier ne comporte ni option (Prestation
                Supplémentaire Eventuelle - pse) ni variante.<BR>code CPV : 45331200-8 Travaux d'installation de
                matériel de ventilation et de climatisation<BR><i>Quantités (fournitures et services), nature et étendue
                    (travaux)&nbsp;:&nbsp;</i>il est fixé une période de préparation de douze (12) semaines, elle
                débutera à compter de la date fixée par ordre de service. La période de préparation n'est pas comprise
                dans le délai d'exécution des travaux.<br>le délai d'exécution des travaux de huit (8) semaines débutera
                à compter de la date fixée par ordre de service.<BR><I>Refus des variantes</I>.<BR>Prestations divisées
                en lots : non.<BR><I>Modalités essentielles de financement et de paiement et/ou références aux textes
                    qui les réglementent&nbsp;:&nbsp;</I>modalités de financement et de paiement : crédits du Ministère
                de la défense<br>le délai de paiement des acomptes et du solde est de 30 jours<br>les prix sont
                actualisables.<BR><I>Langues pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix
                des prestations : 60 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur technique des prestations : 30 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;eléments
                de maintenance pour une durée de 5 ans calendaires : 10 %.
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>24&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;18&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>90 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>P15054.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>dès la parution du présent avis d'appel public à la
                concurrence, les dossiers de consultation peuvent être téléchargés gratuitement via la PLACE : site
                www.marches-publics.gouv.fr sous la référence : P15054<BR>Les entreprises n'ont pas l'obligation de
                s'identifier sur le profil d'acheteur lorsqu'elles souhaitent télécharger un DCE (téléchargement de
                manière anonyme). Pourtant il est cependant recommandé de s'identifier, car lors d'éventuels changements
                du DCE, elles ne seront pas alertées.<BR>date limite de réception des offres : le vendredi 24 juillet
                2015 - 12&nbsp;heures (heure locale) - 18&nbsp;heures (heure métropole)<br>les renseignements d'ordre
                administratif peuvent être obtenus au 05 96 39 52 64 / 54 82 / 52 63<br>ou technique au 05 96 39 52 74
                ou 05 96 39 56 16 ou 06 96 31 75 42 ou 06 96 22 08 09<BR>les offres peuvent être transmises :<BR>- soit
                à l'adresse postale suivante :<BR>Ministère de la défense <Br>Direction d'infrastructure de la défense
                de Fort defrance <Br>Division Administration/Section achats infrastructure<br>B.P.&nbsp;614 - morne
                Desaix - 97261 Fort-De-France Cedex<BR>- soit remises contre-récépissé à la Section achats
                infrastructure de la Direction d'infrastructure de la défense de Fort de France aux horaires d'ouverture
                au public (lundi et mardi : 7&nbsp;heures-12&nbsp;heures et 13h45-16h30, du mercredi au vendredi de 7&nbsp;heures
                à 13&nbsp;heures)<BR>- soit transmises par voie électronique par le biais du portail
                www.marches-publics.gouv.fr <BR>Instance chargée des procédures de recours :<Br>Tribunal Administratif
                de Fort-De-France, Immeuble Roy Camille - croix de Bellevue <Br>B.P.&nbsp;683 - 97264 Fort-De-France<BR>Tel
                : 05 96 71 66 67 télécopieur 05 96 63 10 08 Courriel : greffe.ta-fort-de-france@juradm.fr.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>30&nbsp;juin&nbsp;2015.</P><I>Adresse
                auprès de laquelle les documents peuvent être obtenus&nbsp;:&nbsp;</I><BR>&nbsp;adresse internet&nbsp;:
            <A HREF='javascript:BMP_openWindow("https://www.marches-publics.gouv.fr/?page=entreprise.EntrepriseAdvancedSearch&AllCons&refConsultation=259455&orgAcronyme=g7h","TestLien","");'
               class="lien">https://www.marches-publics.gouv.fr/?page=entreprise.EntrepriseAdvancedSearch&AllCons&refConsultation=259455&orgAcronyme=g7h</A>.<BR><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2999386&noa=15-100824" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>