<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>62</B><!-- ED=20158184--><BR>Annonce No&nbsp;<B>15-102313</B><BR>Services<!--Commune-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Ville de Bully-les-Mines.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;Lemaire
            François, Maire,&nbsp;62, Rue François Brasme&nbsp;62160&nbsp;Bully-les-Mines.<BR><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>travaux d'entretien et de réparation des couvertures de
                bâtiments communaux</B>.<BR><I>Catégorie de services&nbsp;:&nbsp;</I>1.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>66 bâtiments concernés. <BR>La liste de
                ces équipements, la description des ouvrages et leurs spécifications techniques sont indiquées de façon
                précise dans les cahiers des clauses techniques particulières (Cctp). Les entreprises devront les suivre
                scrupuleusement. <BR>Une visite obligatoire sera organisée par les Services Techniques (voir le Rc).
                <BR>L'Offre de l'entreprise est donc contractuellement réputée tenir compte de toutes les constatations
                faites lors de cette reconnaissance, et comprendre explicitement ou implicitement tous les travaux
                accessoires et autres nécessaires au parfait achèvement de la prestation.<BR>le marché étant supérieur à
                90 000&nbsp;euros HT, les offres électroniques ne pourront être refusées. Toutefois, les plis pourront
                être également être déposés sur support papier (de préférence)<BR><i>Quantités (fournitures et
                    services), nature et étendue (travaux)&nbsp;:&nbsp;</i>maximum annuel : 40 000&nbsp;euros
                (H.T.).<Br>Marché qui sera conclu pour 12 mois, renouvelables 3 fois par reconduction expresse.<BR><I>Refus
                    des variantes</I>.<BR>Prestations divisées en lots : non.<BR><I>Langues pouvant être utilisées dans
                    l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>voir le règlement de consultation.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;%
                prix : 60 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;% mémoire technique : 40 %.
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>22&nbsp;octobre&nbsp;2015,&nbsp;à&nbsp;17&nbsp;heures.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>2015-08.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>la ville de bully les mines s'engage à assurer la
                confidentialité et l'intégrité des documents mis en ligne ainsi que la sécurité des transactions sur un
                réseau informatique accessible à tous les candidats de façon non discriminatoire.<BR>les renseignements
                complémentaires seront envoyés aux candidats qui le demandent en temps utile, au plus tard six jours
                avant la date limite fixée pour la réception des offres (article 57 III du code des marchés
                publics).<BR>il ne sera pas répondu aux questions posées après le délai fixé ci-dessus.<br>toute demande
                de renseignement devra être adressée par la plateforme de dématérialisation (rubrique Fqr) ou par mail à
                :<BR>Mme&nbsp;Danielle DEWALLE <br>danielle.dewalle@mairiebully.fr<BR>retrait du Dossier de Consultation
                des Entreprises (D.C.E.)<Br>Conformément à l'article 56 du code des marchés publics, le pouvoir
                adjudicateur met à disposition le dossier de consultation par voie électronique, sur le site de la
                gazette nord-pas de calais :<BR>www.gazettenpdc.fr Rubrique " Marchés Publics ".<Br>Les soumissionnaires
                pourront s'authentifier sur le site et notamment indiquer une adresse électronique permettant de façon
                certaine une correspondance électronique notamment pour l'envoi d'éventuels compléments, précisions ou
                rectifications.<br>conformément à l'arrêté du 14 DECEMBRE 2009 relatif à la dématérialisation des
                procédures de passation des marchés publics, l'inscription des entreprises pour l'accès au Dossier de
                Consultation des Entreprises d'un marché n'est plus obligatoire. <Br>Par conséquent, les candidats sont
                désormais en mesure de télécharger les Dossiers de Consultation des Entreprises de façon anonyme.<BR>toutefois,
                les entreprises ne souhaitant pas s'identifier sur la plateforme de dématérialisation sont avisées que
                les informations suivantes risquent de ne pas leur être communiquées :.Modification du Dossier de
                Consultation des Entreprises en cours de marché.publication d'un avis rectificatif.publication des
                questions / réponses destinées aux candidats.<br>il appartiendra alors aux entreprises de faire le
                nécessaire pour se tenir au courant des évolutions du marché.<br>en cas de difficultés techniques pour
                télécharger appeler les correspondants de la gazette nord-pas de calais au 03.28.38.45.45.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>2&nbsp;juillet&nbsp;2015.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000875&noa=15-102313" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>