<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>22</B>,&nbsp;35<!-- ED=20158184--><BR>Annonce No&nbsp;<B>15-102220</B><BR>Travaux
            <!--Autre--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Dinan Communauté.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;le
            président,&nbsp;34 rue Bertrand Robidou B.P.&nbsp;56357&nbsp;22106&nbsp;Dinan Cedex, tél.&nbsp;:&nbsp;02-96-87-14-15,
            télécopieur&nbsp;:&nbsp;02-96-85-40-91, courriel&nbsp;:&nbsp;dce@dinancommunaute.fr&nbsp;adresse internet&nbsp;:
            <A HREF='javascript:BMP_openWindow("http://www.dinancommunaute.fr","TestLien","");' class="lien">http://www.dinancommunaute.fr</A>.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.e-megalisbretagne.org","TestLien","");' class="lien">http://www.e-megalisbretagne.org</A>.<BR>Le
            pouvoir adjudicateur n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>construction du nouveau siège de Dinan Communauté- lot 4-7
                et 15</B>.<BR><I>Type de marché de travaux&nbsp;:&nbsp;</I> exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;45443000<br><i>Objets supplémentaires&nbsp;:&nbsp;</i>45340000<BR>39100000.<BR><I>Lieu
                    d'ex&eacute;cution&nbsp;:&nbsp;</I>.<BR><I>Code NUTS : </I>|FR521|.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>la présente consultation fait suite à un
                appel d'offres et à une procédure de classement sans suite pour les lots 7 et 15, et un constat
                d'infructuosité pour le lot 4<BR><I>Refus des variantes</I>.<BR>Prestations divisées en lots : oui.<BR>Possibilité
                de pr&eacute;senter une offre pour un ou plusieurs lots.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>16 mois à compter de la notification du
                marché.<BR><I>Modalités essentielles de financement et de paiement et/ou références aux textes qui les
                    réglementent&nbsp;:&nbsp;</I>délai global de paiement : 30 jours.<BR><I>Langues pouvant être
                    utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée,
                    l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>capacité juridique, financière et technique.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Autres
                renseignements demandés&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres renseignements
                demandés : renseignements et documents précisés à l'article 3 du règlement de consultation.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur
                technique, jugée suivant le mémoire technique et évaluée suivant les sous critères suivants :
                -méthodologie de l'entreprise propre au chantier. note méthodologique démontrant une prise en compte des
                contraintes du site et des délais propres au chantier (20 points) -organisation de l'entreprise propre
                au chantier, moyens humains et matériels spécialement affectés au chantier. indication des équipes
                prévues sur le chantier, nombres et qualifications des personnels, indication des matériels prévus et
                spécifiques à la réalisation du chantier (20 points) : 40 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix
                des prestations évalué suivant la formule paramétrique : note maximale (60) x (valeur de la meilleure
                offre / valeur de l'offre) : 60 %.
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>24&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;16&nbsp;h&nbsp;30.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>2015-032.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>les offres peuvent être déposées à Dinan
                Communauté contre preuve de dépôt.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>2&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I>DINAN COMMUNAUTE.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>M.&nbsp;le
            président,&nbsp;&nbsp;34 rue Bertrand Robidou B.P.&nbsp;56357,&nbsp;&nbsp;22106&nbsp;Dinan Cedex,&nbsp;,
            tél.&nbsp;:&nbsp;02-96-87-14-14,&nbsp;&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.e-megalisbretagne.org","TestLien","");' class="lien">http://www.e-megalisbretagne.org</A>.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre administratif et technique peuvent être obtenus&nbsp;:&nbsp;</I>DINAN
            COMMUNAUTE.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>Mme&nbsp;Nadine Le Cornec,&nbsp;&nbsp;34 rue Bertrand
            Robidou B.P.&nbsp;56357,&nbsp;&nbsp;22106&nbsp;Dinan Cedex,&nbsp;, tél.&nbsp;:&nbsp;02-96-87-14-16,&nbsp;,
            courriel&nbsp;:&nbsp;marchepublic@dinancommunaute.fr,&nbsp;&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.e-megalisbretagne.org","TestLien","");' class="lien">http://www.e-megalisbretagne.org</A>.<BR><I>Adresse
                auprès de laquelle les documents peuvent être obtenus&nbsp;:&nbsp;</I><BR>&nbsp;adresse internet&nbsp;:
            <A HREF='javascript:BMP_openWindow("http://www.e-megalisbretagne.org","TestLien","");' class="lien">http://www.e-megalisbretagne.org</A>.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal Administratif de Rennes&nbsp;hôtel
                de Bizien 3 Contour de la Motte CS 44416&nbsp;35044&nbsp;Rennes Cedex, tél.&nbsp;:&nbsp;02-23-21-28-28,
                courriel&nbsp;:&nbsp;greffe.ta-rennes@juradm.fr, télécopieur&nbsp;:&nbsp;02-99-63-56-84&nbsp;adresse
                internet&nbsp;: <A
                        HREF='javascript:BMP_openWindow("http://rennes.tribunal-administratif.fr/ta-caa","TestLien","");'
                        class="lien">http://rennes.tribunal-administratif.fr/ta-caa</A>.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Tribunal
                Administratif de Rennes,&nbsp;hôtel de Bizien 3 Contour de la Motte CS 44416&nbsp;35044&nbsp;Rennes
                Cedex, tél.&nbsp;:&nbsp;02-23-21-28-28, courriel&nbsp;:&nbsp;greffe.ta-rennes@juradm.f, télécopieur&nbsp;:&nbsp;02-99-63-56-84&nbsp;adresse
                internet&nbsp;: <A
                        HREF='javascript:BMP_openWindow("http://rennes.tribunal-administratif.fr/ta-caa","TestLien","");'
                        class="lien">http://rennes.tribunal-administratif.fr/ta-caa</A>.</P>
            <P><I>Renseignements relatifs aux lots&nbsp;:&nbsp;</I>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 4.</span> - isolation thermique extérieure.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Isolation thermique extérieure</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45443000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 7.</span> - serrurerie- portes automatiques
                                    basculantes de garage.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Serrurerie- portes automatiques basculantes de garage</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45340000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 15.</span> - mobilier.</td>
                            </tr>
                            <tr>
                                <td class="txt">Mobilier</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;39100000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000782&noa=15-102220" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>