<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>21</B><!-- ED=20158182--><BR>Annonce No&nbsp;<B>15-100061</B><BR>Travaux<!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>CA Beaune Côte et Sud.<BR>&nbsp;Correspondant&nbsp;:&nbsp;
            Isabelle LANTOINE,&nbsp;14 rue Philippe Trinquet&nbsp;21200&nbsp;Beaune, tél.&nbsp;:&nbsp;(+33)
            3-80-24-56-58, courriel&nbsp;:&nbsp;commandepublique@beaunecoteetsud.com.<BR>Adresse internet du profil
            d'acheteur&nbsp;: <A HREF='javascript:BMP_openWindow("https://www.marches-securises.fr","TestLien","");'
                                 class="lien">https://www.marches-securises.fr</A>.<p><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>réalisation
                de fouilles archéologiques préalablement à l'aménagement de la ZAC des Cerisières de BEAUNE</B>.<BR><I>Type
                de marché de travaux&nbsp;:&nbsp;</I> exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45112420.<BR><I>Lieu
                d'ex&eacute;cution&nbsp;:&nbsp;</I>lieu-Dit "au coiffant" et lieu-dit "la tope",&nbsp;21200&nbsp;Beaune.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>la présente consultation concerne
                réalisation de fouilles archéologiques préalablement à l'aménagement de la ZAC des Cerisières de BEAUNE
                pour le compte de la Communauté d'agglomération BEAUNE, Côte et Sud<BR><i>Quantités (fournitures et
                    services), nature et étendue (travaux)&nbsp;:&nbsp;</i>le marché est décomposé en lots :<Br>Lot 1 :
                Secteur Gallo Romain<Br>Lot 2 : Secteur Protohistorique.<BR><I>Refus des variantes</I>.<BR>Prestations
                divisées en lots : oui.<BR>Possibilité de pr&eacute;senter une offre pour un ou plusieurs lots.<BR><i>Date&nbsp;prévisionnelle&nbsp;de&nbsp;commencement&nbsp;des&nbsp;travaux&nbsp;:&nbsp;</i>15&nbsp;octobre&nbsp;2015.<BR><I>Cautionnement
                    et garanties exigés&nbsp;:&nbsp;</I>se reporter au règlement de la consultation.<BR><I>Modalités
                    essentielles de financement et de paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>se
                reporter au règlement de la consultation.<BR><i>Forme juridique que devra revêtir le groupement
                    d'opérateurs économiques attributaire du marché&nbsp;:&nbsp;</i>se reporter au règlement de la
                consultation.<BR><I>Langues pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>le candidat se reportera au règlement de la consultation<br>concernant les
                pièces à fournir à l'appui de sa candidature et les pièces à fournir à l'appui de son offre.<BR><I>Situation
                    juridique - références requises&nbsp;:&nbsp;</I>se reporter au règlement de la consultation.<BR><I>Capacité
                    économique et financière - références requises&nbsp;:&nbsp;</I>se reporter au règlement de la
                consultation<BR><I>Référence professionnelle et capacité technique - références
                    requises&nbsp;:&nbsp;</I>se reporter au règlement de la consultation.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).<BR>Une enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>27&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>90 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>15022.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>le dossier est téléchargeable sur le site
                https://www.marches-securises.fr sous la référence : 15022<br>la remise des offres par voie électronique
                est autorisée.<br>pour obtenir tous les renseignements complémentaires qui leur seraient nécessaires au
                cours de leurs études, les candidats devront faire parvenir au plus tard 7 jours avant la date limite de
                réception des offres, une demande écrite auprès de : <BR>Renseignements d'ordre administratif :<Br>Mme&nbsp;Isabelle
                LANTOINE <Br>Service de la Commande Publique<Br>Tel : 03 80 24 56 58 <br>isabelle.lantoine@beaunecoteetsud.com
                <BR>Renseignements d'ordre technique :<BR>Mme&nbsp;Sylvie Monnot-Becu<Br>Direction Urbanisme /
                Aménagement du Territoire<Br>Tel : 03 80 24 58 84<br>sylvie.monnot-becu@beaunecoteetsud.com <BR>Il est
                fortement conseillé aux candidats de poser leurs questions sur la plateforme de dématérialisation
                https://www.marches-securises.fr dans la rubrique relative à la consultation concernée.
            <p><i>Le présent marché a un caractère périodique :&nbsp;</i>non.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>30&nbsp;juin&nbsp;2015.</P>
            <P><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal Administratif de Dijon&nbsp;22 rue
                d'assas <BR>B.P.&nbsp;61616&nbsp;21016&nbsp;Dijon Cedex, tél.&nbsp;:&nbsp;(+33) 3-80-73-91-00, courriel&nbsp;:&nbsp;greffe.ta-dijon@juradm.fr,
                télécopieur&nbsp;:&nbsp;(+33) 3-80-73-39-89&nbsp;adresse internet&nbsp;: <A
                        HREF='javascript:BMP_openWindow("http://www.ta-dijon.juradm.fr","TestLien","");' class="lien">http://www.ta-dijon.juradm.fr</A>.
            </P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Tribunal
                Administratif de Dijon&nbsp;22 rue d'assas <Br>B.P.&nbsp;61616&nbsp;21016&nbsp;Dijon Cedex, tél.&nbsp;:&nbsp;(+33)
                3-80-73-91-00, télécopieur&nbsp;:&nbsp;(+33) 3-80-73-39-89.</P>
            <P><I>Renseignements relatifs aux lots&nbsp;:&nbsp;</I>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 1.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Secteur Gallo Romain</td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : tranche ferme : Réalisation de fouilles
                                    archéologiques<br>tranche conditionnelle 1 : Réalisation des analyses appropriées
                                    aux structures et au mobilier<br>tranche conditionnelle 2 : Stabilisation ou
                                    consolidation du mobilier fragile mis à jour.<BR></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45112420.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 2.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Secteur Protohistorique</td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : tranche ferme : Réalisation de fouilles
                                    archéologiques<br>tranche conditionnelle 1 : Réalisation des analyses appropriées
                                    aux structures et au mobilier<br>tranche conditionnelle 2 : Stabilisation ou
                                    consolidation du mobilier fragile mis à jour.<BR></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45112420.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2998623&noa=15-100061" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>