<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>34</B><!-- ED=20158182--><BR>Annonce No&nbsp;<B>15-100765</B><BR>Travaux<!--Commune-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Mairie de servian.<BR>&nbsp;Correspondant&nbsp;:&nbsp;
            Christophe thomas, maire,&nbsp;place du marché&nbsp;34290&nbsp;Servian, tél.&nbsp;:&nbsp;04-67-39-29-60,
            télécopieur&nbsp;:&nbsp;04-67-39-25-87, courriel&nbsp;:&nbsp;comptabilite@ville-servian.fr&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.e-marchespublics.com","TestLien","");'
                               class="lien">http://www.e-marchespublics.com</A>.<BR>Adresse internet du profil
            d'acheteur&nbsp;: <A HREF='javascript:BMP_openWindow("http://servian.e-marchespublics.com","TestLien","");'
                                 class="lien">http://servian.e-marchespublics.com</A>.<p><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>rénovation
                intérieure de la mairie</B>.<BR><I>Type de marché de travaux&nbsp;:&nbsp;</I> exécution.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR><I>Refus des variantes</I>.<BR>Prestations
                divisées en lots : oui.<BR><I>Langues pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous (par ordre de priorité décroissant).<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur
                technique 40%;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix 30%;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;délais
                30%.
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>4&nbsp;septembre&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i>
            <P><I>Conditions et mode de paiement pour obtenir les documents contractuels et additionnels</I> :<BR>Le
                dossier de consultation peut être retiré gratuitement sur commande écrite auprès de :<Br>Copyshop - 45
                av. Voie domitienne - 34500 beziers<br>télécopieur : 04.67.35.27.67 - mail : beziers@copyshop.fr.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>30&nbsp;juin&nbsp;2015.</P>
            <P><I>Renseignements relatifs aux lots&nbsp;:&nbsp;</I>
            <table border="0" cellpadding="1" align="center" width="80%">
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">1.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">GROS &oelig;uVRE</td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">2.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">CLOISONNEMENT DOUBLAGE FAUX PLAFONDS ISOLATION</td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">3.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">MENUISERIES INTERIEURES ET EXTERIEURES EN BOIS REVETEMENT
                        SOL ET PARQUET
                    </td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">4.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">MENUISERIE ALUMINIUM VITRERIE</td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">5.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">ELECTRICITE COURANTS FORTS COURANT FAIBLES</td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">6.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">GENIE CLIMATIQUE</td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">7.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">PEINTURE</td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2999327&noa=15-100765" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>