<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>1</B><!-- ED=20158182--><BR>Annonce No&nbsp;<B>15-101137</B><BR>Travaux<!--Etat-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>DRSID Lyon.<BR>&nbsp;Correspondant&nbsp;:&nbsp;Mme&nbsp;Roussel
            Lynda, MINDEF/Sga/Dcsid/Esid Lyon,&nbsp;B.P.&nbsp;97423&nbsp;69347&nbsp;Lyon Cedex 07, tél.&nbsp;:&nbsp;04-37-27-20-09,
            télécopieur&nbsp;:&nbsp;04-37-27-35-15, courriel&nbsp;:&nbsp;lynda.roussel@intradef.gouv.fr.<BR><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Défense.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>beligneux (01) Camp de la Valbonne 68e RAA Bâtiment 129
                Réhabilitation en bâtiment d'instruction et de simulation</B>.<BR><I>Type de marché de travaux&nbsp;:&nbsp;</I>
                exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45000000.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>camp
                de la valbonne,&nbsp;01360&nbsp;Camp-de-la-Valbonne.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>le marché comprend cinq (5) lots :<Br>Lot
                1 : désamiantage<br>lot 2 : vrd<br>lot 3 : gros &oelig;uvre, aménagements intérieurs<br>lot 4 :
                plomberie sanitaire, climatisation, ventilation, chauffage<br>lot 5 : électricité <Br>Pas de
                décomposition en tranche.<br>les travaux seront exécutés dans un délai de 10 mois, période de
                préparation de 2 mois, non comprise dans ce délai, à compter de la date fixée par l'ordre de service qui
                prescrira de les commencer. Ces délais sont des délais globaux pour l'ensemble des travaux tous lots
                confondus. Le planning sera établi pendant la période de préparation.<br>le délai de validité des offres
                est de 6 mois et court à compter de la date de réception des offres jusqu'à la décision d'attribution
                prise par le représentant du pouvoir adjudicateur. En cas de négociation, le délai court à compter de la
                date de remise de la proposition suivant la dernière négociation.<br>le marché comporte une clause
                d'insertion sociale (cf.&nbsp;réglement de la consultation) pour le lot n<sup>o</sup> 2 et le lot n<sup>o</sup>
                3.<br>la visite des lieux est obligatoire et le candidat joindra l'attestation de visite à son offre<BR><i>Quantités
                    (fournitures et services), nature et étendue (travaux)&nbsp;:&nbsp;</i>réhabilitation complète du
                bâtiment avec installation de salles de simulation et d'instruction. Travail en site clos et
                indépendant. Point particulier : désamiantage.<BR><I>Refus des variantes</I>.<BR>Prestations divisées en
                lots : oui.<BR>Possibilité de pr&eacute;senter une offre pour un ou plusieurs lots.<BR><I>Cautionnement
                    et garanties exigés&nbsp;:&nbsp;</I>une retenue de garantie est exercée sur les acomptes par le
                comptable assignataire des paiements.<br>son montant est égal à 5% du montant du marché, augmenté, le
                cas échéant, du montant des avenants ou des décisions de poursuivre au-delà du montant contractuel. <Br>La
                retenue de garantie sera remplacée au gré du titulaire par et seulement par une garantie à première
                demande.<BR><I>Modalités essentielles de financement et de paiement et/ou références aux textes qui les
                    réglementent&nbsp;:&nbsp;</I>marché financé sur le budget de l'etat - mission défense - programme
                212 : soutien à la politique de défense - action 04 : Politique immobilière - crédits 02 infrastructure
                <Br>Le marché sera conclu à prix global et forfaitaire pour tous les lots et à prix mixtes pour le lot n<sup>o</sup>
                2.<br>les prix sont révisables. <Br>Une avance fixée à 5 % du montant (T.T.C.) du marché peut être
                attribuée si le marché est supérieur ou égal à 50 000 euro(s) (H.T.) et le délai d'exécution supérieur à
                2 mois.<BR><I>Langues pouvant être utilisées dans l'offre ou la
                    candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire à l'appui des candidatures par le candidat, au choix de l'acheteur
                public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Certificats de qualifications
                professionnelles. La preuve de la capacité du candidat peut être apportée par tout moyen, notamment par
                des certificats d'identité professionnelle ou des références de travaux attestant de la compétence de
                l'opérateur économique à réaliser la prestation pour laquelle il se porte candidat : lot 1 :
                DésamiantageQualibat 1552 Lot 2 : vrdQualibat 1312 - 1341 Lot 3 : GO - aménagements intérieursce 1 :
                Gros-&oelig;uvreQualibat 1111 - 1142 - 2112 - 2142 - 2162 CE 2 : Revêtements de sols et murauxQualibat
                6212 - 6312 CE 3 : Plafonds suspendusQualibat 6612 CE 4 : MenuiseriesQualibat 3522 - 3532 - 3513 -3542 -
                4312 et 4322- 4412 CE 5 : Plâtrerie peintureQualibat 4112 - 4132 -6111 Lot 4 : Plomberie
                sanitaire/ventilation/climatisation/chauffagece 1 : Plomberie sanitaireQualibat 5111 CE 2 : Ventilation
                - climatisation - chauffageQualibat 5312 - 5361 - 5412 - 5433 Lot 5 : ElectricitéCe 1 et CE 2 : Courant
                fort et courant faiblequalifelec E3 C3;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire DC1, Lettre
                de candidature - Habilitation du mandataire par ses co-traitants (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC2, Déclaration du candidat individuel ou du membre du groupement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC&nbsp;4, Déclaration de sous-traitance (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4).
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>30&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;16&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>6 mois à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>ESID-15-030-034.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>pour tout renseignements :<Br>D'Ordre technique : m.
                Ponthenier Patrice - tél. : 04 27 37 23 18 - patrice.ponthenier@intradef.gouv.fr<br>d'ordre
                administratif : Mme&nbsp;ROUSSEL Lynda - tél. : 04 37 27 20 09 - lynda.roussel@intradef.gouv.fr<br>l'ensemble
                du dossier est consultable et téléchargeable sur le site www.marches-publics.gouv.fr . Les entreprises
                devront laisser, sur ce site, une adresse mail valide en cas de modification du dossier. Il est possible
                de transmettre les offres par voie électronique, exclusivement sur ce site (modalités précisées dans le
                règlement de la consultation).
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>1.e.r&nbsp;juillet&nbsp;2015.</P>
            <P><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de lyon&nbsp;184 rue
                duguesclin&nbsp;69344&nbsp;Lyon Cedex 03, tél.&nbsp;:&nbsp;04-78-14-10-10, courriel&nbsp;:&nbsp;greffe.ta-lyon@juradm.fr,
                télécopieur&nbsp;:&nbsp;04-78-14-10-65.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Greffe
                du tribunal administratif de lyon&nbsp;184 rue duguesclin&nbsp;69344&nbsp;Lyon Cedex 03, tél.&nbsp;:&nbsp;04-78-14-10-10,
                courriel&nbsp;:&nbsp;greffe.ta-lyon@juradm.fr, télécopieur&nbsp;:&nbsp;04-78-14-10-65.</P>
            <P><I>Renseignements relatifs aux lots&nbsp;:&nbsp;</I>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 1.</span> - désamiantage.</td>
                            </tr>
                            <tr>
                                <td class="txt">Les travaux concernent la dépose, le conditionnement, l'évacuation et la
                                    mise en centre de traitement spécialisé de l'ensemble des matériaux amiantés
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45262660.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 2.</span> - vrd.</td>
                            </tr>
                            <tr>
                                <td class="txt">Les travaux concernent l'aménagement de voirie aux contours du bâtiment
                                    0129 existant sur le camp de La Valbonne
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45111291.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 3.</span> - gros &oelig;uvre, aménagements
                                    intérieurs.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">St 01: gros &oelig;uvre<br>st 02: revêtements de sol et muraux<br>st 03:
                                    plafonds suspendus<br>st04 - menuiseries<br>st05 - platrerie peinture<br>rénovation
                                    niveaux RDC et R+1 du bât 129
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45400000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 4.</span> - plomberie sanitaire,
                                    climatisation, ventilation, chauffage.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">St 01: Plomberie sanitaire<br>st 02: Climatisation ventilation chauffage
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45300000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 5.</span> - electricité.</td>
                            </tr>
                            <tr>
                                <td class="txt">St 01: Courants forts<br>st 02: Courants faibles</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45310000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2999699&noa=15-101137" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>