<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>6</B><!-- ED=20158181--><BR>Annonce No&nbsp;<B>15-100111</B><BR>Fournitures<!--Commune-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Commune de Menton.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;Guibal
            Jean-Claude, Député-Maire,&nbsp;service des marchés publics 17 rue de la République&nbsp;06500&nbsp;Menton,
            tél.&nbsp;:&nbsp;04-92-10-50-69, courriel&nbsp;:&nbsp;compub@ville-menton.fr.<BR>Adresse internet du profil
            d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://www.achatpublic.com/sdm/ent/gen/index.jsp","TestLien","");'
                    class="lien">https://www.achatpublic.com/sdm/ent/gen/index.jsp</A>.<BR><i>Principale(s) Activité(s)
                du pouvoir adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>acquisition de véhicules légers et utilitaires (4 lots)</B>.<BR><I>Type
                de marché de fournitures&nbsp;:&nbsp;</I> achat.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;34100000.<BR><I>Lieu
                de livraison&nbsp;:&nbsp;</I>menton,&nbsp;06500&nbsp;Menton.<BR><I>Code NUTS : </I>|FR823|.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>les lots 1 et 2 font l'objet d'un
                fractionnement à bons de commande avec maximum et minimum en application de l'article 77 du code des
                marchés publics<BR><I>Refus des variantes</I>.<BR>Prestations divisées en lots : oui.<BR>Possibilité de
                pr&eacute;senter une offre pour un ou plusieurs lots.<BR><I>Modalités essentielles de financement et de
                    paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>le marché sera financé sur
                fonds propres sur les crédits ouverts au budget principal de la ville de Menton.<Br>Paiement par mandat
                administratif à 30 jours.<BR><I>Langues pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>les garanties professionnelles, techniques et financiéres.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire obligatoirement par le candidat, à l'appui de sa candidature&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Copie
                du ou des jugements prononcés, si le candidat est en redressement judiciaire;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                sur l'honneur du candidat justifiant qu'il n'entre dans aucun des cas mentionnés à l'article 43 du code
                des marchés publics, concernant les interdictions de soumissionner;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                sur l'honneur du candidat attestant qu'il est en règle, au cours de l'année précédant celle au cours de
                laquelle a lieu le lancement de la consultation, au regard des articles L. 5212-1, L. 5212-2, L. 5212 5
                et L. 5212-9 du code du travail, concernant l'emploi des travailleurs handicapés;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                le candidat est établi en France, une déclaration sur l'honneur du candidat justifiant que le travail
                est effectué par des salariés employés régulièrement au regard des articles L. 1221-10, L. 3243-2 et R.
                3243-1 du code du travail (dans le cas où le candidat emploie des salariés, conformément à l'article D.
                8222-5-3° du code du travail);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si le candidat est établi ou
                domicilié à l'étranger, une déclaration sur l'honneur du candidat attestant qu'il fournit à ses salariés
                des bulletins de paie comportant les mentions prévues à l'article R. 3243-1 du code du travail, ou des
                documents équivalents.<br/><br/><i>Documents à produire à l'appui des candidatures par le candidat, au
                    choix de l'acheteur public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                concernant le chiffre d'affaires global et le chiffre d'affaires concernant les fournitures, services ou
                travaux objet du marché, réalisés au cours des trois derniers exercices disponibles;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                appropriée de banques ou preuve d'une assurance pour les risques professionnels;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                indiquant les effectifs moyens annuels du candidat et l'importance du personnel d'encadrement pour
                chacune des trois dernières années;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Présentation d'une liste des
                principales fournitures ou des principaux services effectués au cours des trois dernières années,
                indiquant le montant, la date et le destinataire public ou privé. Les livraisons et les prestations de
                services sont prouvées par des attestations du destinataire ou, à défaut, par une déclaration de
                l'opérateur économique;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration indiquant l'outillage, le
                matériel et l'équipement technique dont le candidat dispose pour la réalisation de marchés de même
                nature;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;En matière de fournitures et services, une description
                de l'équipement technique, des mesures employées par l'opérateur économique pour s'assurer de la qualité
                et des moyens d'étude et de recherche de son entreprise;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC1, Lettre de candidature - Habilitation du mandataire par ses co-traitants (disponible à l'adresse
                suivante : http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC2, Déclaration du candidat individuel ou du membre du groupement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;S'il
                s'appuie, pour présenter sa candidature, sur les capacités professionnelles, techniques et financières
                d'autres opérateurs économiques, le candidat produit les mêmes documents concernant cet opérateur
                économique que ceux qui lui sont exigés par l'acheteur public. Le candidat doit également apporter la
                preuve que chacun de ces opérateurs économiques mettra à sa disposition les moyens nécessaires, pendant
                toute la durée d'exécution du marché public ou de l'accord-cadre;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                les documents fournis par le candidat ne sont pas établis en langue française, ils doivent être
                accompagnés d'une traduction en français, certifiée conforme à l'original par un traducteur
                assermenté.<br/><br/><i>Autres renseignements demandés&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres
                renseignements demandés : extrait KBIS.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>23&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;16&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>90 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>CTM915.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>le dossier de consultation est téléchargeable sur le
                site www.achatpublic.com<BR>Durée : Le marché commencera à sa notification jusqu'au 31/12/2015.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>conditions de remise des offres ou des
                candidatures : l'enveloppe extérieure portera sur la face recto les mentions suivantes :<Br>" Marché
                Passé en Procédure Adaptée "<Br>" Acquisition de véhicules légers et utilitaires"<br>lot
                n<sup>o</sup><br>" ne pas ouvrir ".
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>30&nbsp;juin&nbsp;2015.</P><I>Adresse à
                laquelle les offres/candidatures/projets/demandes de participation doivent être envoyés&nbsp;:&nbsp;</I>Mairie
            de Menton Service des marchés publics.<BR>&nbsp;17 rue de la république,&nbsp;&nbsp;06500&nbsp;Menton,&nbsp;&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.achatpublic.com","TestLien","");'
                               class="lien">http://www.achatpublic.com</A>.<BR><I>Adresse auprès de laquelle des
                renseignements d'ordre administratif et technique peuvent être obtenus&nbsp;:&nbsp;</I>Centre Technique
            Municipal Service des garages municipaux.<BR>&nbsp;18 allée du Canta Merlou,&nbsp;&nbsp;06500&nbsp;Menton,&nbsp;,
            tél.&nbsp;:&nbsp;04-93-28-78-80.<BR><I>Adresse auprès de laquelle les documents peuvent être obtenus&nbsp;:&nbsp;</I>Mairie
            de Menton Service des marchés publics.<BR>&nbsp;17 rue de la république,&nbsp;&nbsp;06500&nbsp;Menton,&nbsp;,
            tél.&nbsp;:&nbsp;04-92-10-50-46,&nbsp;, télécopieur&nbsp;:&nbsp;04-92-10-51-42,&nbsp;, courriel&nbsp;:&nbsp;compub@ville-menton.fr,&nbsp;&nbsp;adresse
            internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://www.achatpublic.com/sdm/ent/gen/ent_detail.do?PCSLID=CSL_2015_hmkOs7qSKy","TestLien","");'
                    class="lien">https://www.achatpublic.com/sdm/ent/gen/ent_detail.do?PCSLID=CSL_2015_hmkOs7qSKy</A>.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de Nice, service des
                greffes&nbsp;33 bd Franck Pilate&nbsp;06000&nbsp;Nice, tél.&nbsp;:&nbsp;04-92-04-13-13.</P><I>Précisions
                concernant le(s) délai(s) d'introduction des recours : </I>article L.551.1 du code de justice
            administrative:<br>référé précontractuel possible jusqu'à la signature du marché.<br>article R 421-1 du code
            de la justice administrative: recours exercé dans le délai de 2 mois à compter de la notification ou de la
            publication de la décision faisant grief.<p><I>Renseignements relatifs aux lots&nbsp;:&nbsp;</I>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 1.</span> - lot 1 : Acquisition berline(s) 5
                                    portes.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Lot 1 : Acquisition berline(s) 5 portes&nbsp;:&nbsp;minimum : 1 -
                                    maximum : 3.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : durée du marché : de la notification
                                    jusqu'au 31/12/2015<br>délai de livraison maximum de 16 semaines.<BR></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;34100000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 2.</span> - lot 2 : Acquisition véhicule (s)
                                    utilitaire (s) tôlé(s).
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Lot 2 : Acquisition véhicule (s) utilitaire (s) tôlé(s)&nbsp;:&nbsp;minimum
                                    : 1 - maximum : 4.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : durée du marché : de la notification
                                    jusqu'au 31/12/2015<br>délai de livraison maximum de 16 semaines.<BR></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;34100000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 3.</span> - lot 3 : Acquisition d'un véhicule
                                    utilitaire équipé d'une benne basculante.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Lot 3 : Acquisition d'un véhicule utilitaire équipé d'une benne
                                    basculante&nbsp;:&nbsp;1.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : durée du marché : de la notification
                                    jusqu'au 31/12/2015<br>délai de livraison maximum de 16 semaines.<BR></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;34144700.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 4.</span> - lot 4 : Acquisition d'un véhicule
                                    utilitaire équipé d'un hayon.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Lot 4 : Acquisition d'un véhicule utilitaire équipé d'un hayon&nbsp;:&nbsp;1.</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : durée du marché : de la notification
                                    jusqu'au 31/12/2015<br>délai de livraison maximum de 16 semaines.<BR></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;34144700.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2998673&noa=15-100111" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>