<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>37</B><!-- ED=20158182--><BR>Annonce No&nbsp;<B>15-100791</B><BR>Travaux<!--Commune-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Mairie de Nouâtre.<BR>&nbsp;Correspondant&nbsp;:&nbsp;
            Maire de nouâtre,&nbsp;place du 08 mai 1945&nbsp;37800&nbsp;Nouâtre, tél.&nbsp;:&nbsp;02-47-70-40-03,
            télécopieur&nbsp;:&nbsp;02-47-65-28-24, courriel&nbsp;:&nbsp;gmeunier.nouatre@wanadoo.fr.<BR><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Services généraux des administrations publiques, COLLECTIVITE
            TERRITORIALE.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>restauration de l'eglise st léger de nouâtre - façade
                ouest</B>.<BR><I>Type de marché de travaux&nbsp;:&nbsp;</I> exécution.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>rue
                louis bailly,&nbsp;37800&nbsp;Nouatre.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>travaux de restauration de la façade
                ouest de l'église st léger de nouâtre<BR><i>Quantités (fournitures et services), nature et étendue
                    (travaux)&nbsp;:&nbsp;</i><i>Estimation de la valeur (H.T.) : </i>217 000&nbsp;euros.<BR><I>Refus
                    des variantes</I>.<BR>Prestations divisées en lots : oui.<BR>Possibilité de pr&eacute;senter une
                offre pour un ou plusieurs lots.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>5 mois à compter de la notification du
                marché.<BR><i>Date&nbsp;prévisionnelle&nbsp;de&nbsp;commencement&nbsp;des&nbsp;travaux&nbsp;:&nbsp;</i>2&nbsp;novembre&nbsp;2015.<BR><I>Langues
                    pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous (par ordre de priorité décroissant).<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;compétence
                en matière de restauration de bâtiments anciens;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;références et
                certificats de capacité pour chantiers de même nature;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;garanties
                professionnelles;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;offre de prix.
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>23&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>150 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>TRAVAUX2015-1.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>30&nbsp;juin&nbsp;2015.</P><I>Adresse à
                laquelle les offres/candidatures/projets/demandes de participation doivent être envoyés&nbsp;:&nbsp;</I>Commune
            de nouatre.<BR>&nbsp;mairie place du 8 mai 1945,&nbsp;&nbsp;37800&nbsp;Nouatre,&nbsp;, courriel&nbsp;:&nbsp;gmeunier.nouatre@wanadoo.fr.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre technique peuvent être obtenus&nbsp;:&nbsp;</I>Mathieu
            julien architecte.<BR>&nbsp;40 rue manet,&nbsp;&nbsp;37300&nbsp;Joue-les-Tours,&nbsp;, tél.&nbsp;:&nbsp;02-47-88-01-93,&nbsp;,
            courriel&nbsp;:&nbsp;mj@100architecture.fr.<BR><I>Adresse auprès de laquelle des renseignements d'ordre
                administratif peuvent être obtenus&nbsp;:&nbsp;</I>Commune de nouatre.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>
            Geneviève berton,&nbsp;&nbsp;mairie place du 8 mai 1945,&nbsp;&nbsp;37800&nbsp;Nouatre,&nbsp;, tél.&nbsp;:&nbsp;02-47-72-40-03,&nbsp;,
            télécopieur&nbsp;:&nbsp;02-47-65-28-24,&nbsp;, courriel&nbsp;:&nbsp;gmeunier.nouatre@wanadoo.fr.<BR><I>Adresse
                auprès de laquelle les documents peuvent être obtenus&nbsp;:&nbsp;</I>Mairie place du 8 mai 1945.<BR>&nbsp;mairie
            place du 8 mai 1945,&nbsp;&nbsp;37800&nbsp;Nouatre,&nbsp;, tél.&nbsp;:&nbsp;02-47-72-40-03,&nbsp;, courriel&nbsp;:&nbsp;gmeunier.nouatre@wanadoo.fr.
            <p><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Commune
                de nouatre&nbsp;mairie place du 8 mai 1945&nbsp;37800&nbsp;Nouatre, courriel&nbsp;:&nbsp;gmeunier.nouatre@wanadoo.fr.
            </P>
            <P><I>Renseignements relatifs aux lots&nbsp;:&nbsp;</I>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 1.</span> - maçonnerie - pierre de taille.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Restauration église St Léger de Nouâtre<Br>Façade ouest.</td>
                            </tr>
                            <tr>
                                <td class="txt"><I>Coût estimé (HT) :</I>&nbsp;166 000&nbsp;euros.<BR></td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 2.</span> - charpente.</td>
                            </tr>
                            <tr>
                                <td class="txt">Restauration église St Léger de Nouâtre.</td>
                            </tr>
                            <tr>
                                <td class="txt"><I>Coût estimé (HT) :</I>&nbsp;5 500&nbsp;euros.<BR></td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 3.</span> - couverture.</td>
                            </tr>
                            <tr>
                                <td class="txt">Restauration de l'église St Léger de Nouâtre.</td>
                            </tr>
                            <tr>
                                <td class="txt"><I>Coût estimé (HT) :</I>&nbsp;3 600&nbsp;euros.<BR></td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 4.</span> - menuiserie.</td>
                            </tr>
                            <tr>
                                <td class="txt">Restauration église St Léger de Nouâtre.</td>
                            </tr>
                            <tr>
                                <td class="txt"><I>Coût estimé (HT) :</I>&nbsp;500&nbsp;euros.<BR></td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 5.</span> - ferronnerie.</td>
                            </tr>
                            <tr>
                                <td class="txt">Restauration église St Léger de Nouâtre.</td>
                            </tr>
                            <tr>
                                <td class="txt"><I>Coût estimé (HT) :</I>&nbsp;6 500&nbsp;euros.<BR></td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 6.</span> - vitraux - protection provisoire.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Restauration église St Léger Nouâtre.</td>
                            </tr>
                            <tr>
                                <td class="txt"><I>Coût estimé (HT) :</I>&nbsp;14 000&nbsp;euros.<BR></td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 7.</span> - electricité.</td>
                            </tr>
                            <tr>
                                <td class="txt">Restauration église St Léger Nouâtre - déplacement d'un tableau
                                    électrique intérieur.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"><I>Coût estimé (HT) :</I>&nbsp;1 500&nbsp;euros.<BR></td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 8.</span> - restauration de peintures murales.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Préconsolidation intérieure.</td>
                            </tr>
                            <tr>
                                <td class="txt"><I>Coût estimé (HT) :</I>&nbsp;9 500&nbsp;euros.<BR></td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2999353&noa=15-100791" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>