<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>90</B><!-- ED=20158182--><BR>Annonce No&nbsp;<B>15-100224</B><BR>Fournitures<!--Commune-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Ville de Belfort.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;le
            maire,&nbsp;direction de l'action Culturelle / Bibliothèques Hôtel de Ville et de la Communauté
            d'agglomération Place d'armes&nbsp;90020&nbsp;Belfort Cedex.<BR><i>Principale(s) Activité(s) du pouvoir
                adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>fourniture de disques compacts et de DVD pour la
                Bibliothèque Municipale de la Ville de Belfort</B>.<BR><I>Type de marché de fournitures&nbsp;:&nbsp;</I>
                achat.<BR><I>Lieu de livraison&nbsp;:&nbsp;</I>ville de Belfort.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>marché séparé à bons de commande avec
                mini et maxi et un opérateur économique<BR><i>Quantités (fournitures et services), nature et étendue
                    (travaux)&nbsp;:&nbsp;</i>les marchés sont conclus pour une période de 1 an à compter de la
                notification du contrat. Les marchés sont reconductibles pour 2 périodes de un an.<BR><I>Refus des
                    variantes</I>.<BR>La procédure d'achat du présent avis est couverte par l'accord sur les marchés
                publics de l'OMC : non.<br/><BR>Prestations divisées en lots : oui.<BR>Possibilité de pr&eacute;senter
                une offre pour un ou plusieurs lots.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>36 mois à compter de la notification du
                marché.<BR><I>Cautionnement et garanties exigés&nbsp;:&nbsp;</I>aucune garantie financière n'est exigée.<BR><I>Modalités
                    essentielles de financement et de paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>articles
                86 à 111 du Code des marchés publics français. Caractéristiques des prix : Prix unitaires. Modalités de
                variation des prix : Révision par ajustement. Modalité de règlement des comptes : selon les modalités du
                C.C.A.G.-F.C.S. Les comptes seront réglés sur présentation d'une facture émise au plus tard sous 15
                jours après livraison des commandes. Les factures seront établies par commande et non par livraison.. Le
                délai global de paiement est de 30 jours. Modalités de financements : Le financement des prestations est
                assuré par le budget de la Ville.<BR><i>Forme juridique que devra revêtir le groupement d'opérateurs
                    économiques attributaire du marché&nbsp;:&nbsp;</i>aucune forme de groupement imposée à
                l'attributaire.<BR><I>L'exécution du marché est soumise à d'autres conditions particulières : </I>la
                durée du contrat précitée est une durée maximum.<BR><I>Langues pouvant être utilisées dans l'offre ou la
                    candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>copie
                du ou des jugements prononcés, si le candidat est en redressement judiciaire ; Déclaration sur l'honneur
                pour justifier que le candidat n'entre dans aucun des cas mentionnés à l'article 43 du CMP ;
                Renseignements sur le respect de l'obligation d'emploi mentionnée à l'article L. 5212-1 à 4 du code du
                travail.<BR><I>Capacité économique et financière - références requises&nbsp;:&nbsp;</I>déclaration
                concernant le chiffre d'affaires global et le chiffre d'affaires concernant les fournitures objet du
                contrat, réalisés au cours des trois derniers exercices disponibles<BR><I>Référence professionnelle et
                    capacité technique - références requises&nbsp;:&nbsp;</I>liste des principales fournitures
                effectuées au cours des trois dernières années, indiquant le montant, la date et le destinataire public
                ou privé. Les livraisons sont prouvées par des attestations du destinataire ou, à défaut, par une
                déclaration de l'opérateur économique ; Déclaration indiquant les effectifs moyens annuels du candidat
                et l'importance du personnel d'encadrement pour chacune des trois dernières années ; Déclaration
                indiquant l'outillage, le matériel et l'équipement technique dont le candidat dispose pour la
                réalisation de contrats de meme nature ; Si le candidat le souhaite : tout document attestant de la
                compétence de l'entreprise à réaliser la prestation pour laquelle elle se porte candidate
                (qualifications, certifications, etc...).
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix
                des prestations : 50 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur technique : 40 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;délai
                de livraison : 10 %.<BR>Une enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>30&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>15V071.
            <p><i>Le présent marché a un caractère périodique :&nbsp;</i>non.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>30&nbsp;juin&nbsp;2015.</P><I>Adresse à
                laquelle les offres/candidatures/projets/demandes de participation doivent être envoyés&nbsp;:&nbsp;</I>VILLE
            DE BELFORT.<BR>&nbsp;bureau du Courrier Hôtel de Ville et de la Communauté d'agglomération Place d'armes,&nbsp;&nbsp;90020&nbsp;Belfort
            Cedex,&nbsp;&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.marches.agglo-belfort.fr","TestLien","");' class="lien">http://www.marches.agglo-belfort.fr</A>.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre technique peuvent être obtenus&nbsp;:&nbsp;</I>VILLE DE
            BELFORT.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>Mme&nbsp;Nassar,&nbsp;&nbsp;direction de l'action
            Culturelle / Bibliothèques Hôtel de Ville et de la Communauté d'agglomération Place d'armes,&nbsp;&nbsp;90020&nbsp;Belfort
            Cedex,&nbsp;, tél.&nbsp;:&nbsp;(+33) 3-84-54-27-02,&nbsp;, télécopieur&nbsp;:&nbsp;(+33) 3-84-46-61-30,&nbsp;,
            courriel&nbsp;:&nbsp;mnassar@mairie-belfort.fr.<BR><I>Adresse auprès de laquelle des renseignements d'ordre
                administratif peuvent être obtenus&nbsp;:&nbsp;</I>VILLE DE BELFORT.<BR>&nbsp;service des Marchés
            Publics Hôtel de Ville et de la Communauté d'agglomération Place d'armes,&nbsp;&nbsp;90020&nbsp;Belfort
            Cedex,&nbsp;, tél.&nbsp;:&nbsp;(+33) 3-84-54-24-52,&nbsp;, télécopieur&nbsp;:&nbsp;(+33) 3-84-54-26-11,&nbsp;,
            courriel&nbsp;:&nbsp;marchespublics@mairie-belfort.fr.<BR><I>Adresse auprès de laquelle les documents
                peuvent être obtenus&nbsp;:&nbsp;</I>VILLE DE BELFORT.<BR>&nbsp;service des Marchés Publics Hôtel de
            Ville et de la Communauté d'agglomération Place d'armes,&nbsp;&nbsp;90020&nbsp;Belfort Cedex,&nbsp;,
            télécopieur&nbsp;:&nbsp;(+33) 3-84-54-56-89,&nbsp;&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.marches.agglo-belfort.fr","TestLien","");' class="lien">http://www.marches.agglo-belfort.fr</A>.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de Besançon&nbsp;30
                rue Charles Nodier&nbsp;25000&nbsp;Besançon, tél.&nbsp;:&nbsp;(+33) 3-81-82-60-00, courriel&nbsp;:&nbsp;greffe.tabesancon@juradm.fr,
                télécopieur&nbsp;:&nbsp;(+33) 3-81-82-60-01&nbsp;adresse internet&nbsp;: <A
                        HREF='javascript:BMP_openWindow("http://ta-besancon.juradm.fr","TestLien","");' class="lien">http://ta-besancon.juradm.fr</A>.
            </P>
            <P><I>Organe chargé des procédures de médiation&nbsp;:&nbsp;</I>CCIRA&nbsp;préfecture de Meurthe et Moselle
                1 rue Préfet C. Erignac&nbsp;54038&nbsp;Nancy.</P><I>Précisions concernant le(s) délai(s) d'introduction
                des recours : </I>articles L 551-1 à L 551-4 du Code de justice administrative pour le référé
            précontractuel qui peut etre exercé depuis le début de la procédure de passation jusqu'à la signature du
            contrat. Articles L 551-13 à L 551-23 du Code de justice administrative pour le référé contractuel qui peut
            etre exercé dans les 6 mois à compter de la date de signature du contrat, délai réduit à 1 mois en cas de
            publication d'un avis d'attribution. Articles R 421-1 à R 421-7 du Code de justice administrative : 2 mois à
            compter de la notification ou publication de la décision de rejet de l'organisme pour un recours
            contentieux. Recours de pleine juridiction ouvert aux concurrents évincés : deux mois à compter de la date à
            laquelle la conclusion du contrat est rendue publique. Le recours pour excès de pouvoir ne peut plus,
            toutefois, etre exercé après la signature du marché public ou de l'accord-cadre.<p><I>Renseignements
                relatifs aux lots&nbsp;:&nbsp;</I>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 1.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">cd musicaux&nbsp;:&nbsp;minimum 5 500.00&nbsp;euros maximum 28 000.00&nbsp;euros
                                    pour la période initiale. Ces montants seront identiques pour les périodes de
                                    reconduction.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;30234300.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 2.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">d.v.d&nbsp;:&nbsp;minimum 3 000.00&nbsp;euros maximum 22 000.00&nbsp;euros
                                    pour la période initiale. Ces montants seront identiques pour les périodes de
                                    reconduction.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;30234400.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2998786&noa=15-100224" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>