<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center>
            <center><I>Rectificatif</I></center>
            <BR>Département(s) de publication : <B>77</B><!-- ED=20158183--><BR>Annonce No&nbsp;<B>15-102126</B>
            <HR>
            -&nbsp;<!--Commune--><!--DEBUTFACT--><I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Ville
            de Serris.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;Descrouet Philippe, Maire,&nbsp;hôtel de Ville de
            Serris, 2 place Antoine Mauny, B.P.&nbsp;15 serris&nbsp;77706&nbsp;Marne-la-Vallée Cedex 4tél.&nbsp;:&nbsp;01-60-43-52-00télécopieur&nbsp;:&nbsp;01-60-43-08-13.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://www.achatpublic.com/sdm/ent/gen/index.jsp","TestLien","");'
                    class="lien">https://www.achatpublic.com/sdm/ent/gen/index.jsp</A>.<p><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>achat
                de véhicules pour la police municipale</B>.<BR><I>Type de marché de fournitures&nbsp;:&nbsp;</I>
                achat.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;34100000.<BR><I>Lieu d'ex&eacute;cution&nbsp;et
                    de livraison:&nbsp;</I>centre Technique Municipal,&nbsp;77700&nbsp;Serris.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><BR><I>Numéro de référence attribué au marché par la personne
                publique&nbsp;:&nbsp;</I>MAPA 2015-10.
            <p><I>Références de l'avis initial&nbsp;:</i><Br>
            <Table>
                <Tr>
                    <Td class="txt" colspan="2" valign="top"><span>mis en ligne sur le site <A
                            href="http://www.boamp.fr/avis/detail/15-98253/officiel" class="lien" " target="_blank" title="voir la publication sur Boamp.Fr" >www.boamp.fr</a></span>
                        du <B>26/06/2015</B> au <B>17/10/2015</B></Td>
                </Tr>
            </Table>
            <BR/><i>Informations rectificatives :</i>
            <P>Dans la rubrique&nbsp;&nbsp;<I>"dans la rubrique "Renseignements complémentaires", point "Dans le cas
                d'un envoi ou d'une remise sous enveloppe physique""</I>&nbsp;:<BR>Au lieu de&nbsp;:&nbsp;"les horaires
                d'ouverture de l'hôtel de Ville de Serris sont les suivants :<BR> Jusqu'Au 13 juillet 2015 (inclus) : le
                lundi : 14 heures - 18 heures. Du mardi au vendredi : 9 heures - 12 heures / 14 heures - 18 heures. <br>
                <br> a partir du 15 juillet 2015 : le lundi : 13 heures - 17 heures. Du mardi au vendredi : 8 heures -
                12 heures / 13 heures - 16 heures",&nbsp;lire&nbsp;:&nbsp;"les horaires d'ouverture de l'hôtel de Ville
                de Serris sont : le lundi : 13 heures - 17 heures. Du mardi au vendredi : 8 heures - 12 heures / 13
                heures - 16 heures".<BR><img
                        src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000688&noa=15-102126" width="1"
                        height="1"></td>
    </tr>
</table>
</body>
</html>