<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>75</B><!-- ED=20158182--><BR>Annonce No&nbsp;<B>15-100974</B><BR>Services<!--Département-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>VILLE DE PARIS.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;Chouard
            Philippe, Chef de la Section technique de l'énergie et du génie climatique,&nbsp;direction du Patrimoine et
            de l'architecure - section technique de l'énergie et du génie climatique - 193 rue de Bercy - tour Gamma A -
            10ème étage 193 rue de Bercy - tour Gamma A&nbsp;75582&nbsp;Paris Cedex 12, tél.&nbsp;:&nbsp;01-71-27-00-00,
            télécopieur&nbsp;:&nbsp;01-71-27-00-99, courriel&nbsp;:&nbsp;emmanuel.germain@paris.fr.<BR>Adresse internet
            du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://marches.maximilien.fr","TestLien","");' class="lien">https://marches.maximilien.fr</A>.<BR>Le
            pouvoir adjudicateur n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Services généraux des administrations publiques,
            Bâtiment.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>marché de maîtrise d'&oelig;uvre hors loi MOP pour la
                modernisation des installations de génie climatique dans dix établissements scolaires de la Ville de
                Paris, répartis en 2 lots :<Br>- lot n<sup>o</sup> 1 : LEC Pierre Lescot - 35, rue du Bourdonnais 75001
                Paris, Groupe scolaire - 54 rue Sevran / 98-100&nbsp;avenue de la République 75011 Paris ; Groupe
                scolaire - 47, rue Armand Carrel 75019 Paris ; Groupe scolaire - 106 rue Compans /7-9 rue du Général
                Brunet 75019 Paris ; Ecole élémentaire - 61 rue de la Villette 75019 Paris.<Br>- lot n<sup>o</sup> 2 :
                Ecole maternelle - 11, rue Croulebarbe 75013 Paris ; Ecole maternelle - 66, rue de la Procession 75015
                Paris ; Groupe scolaire - 3 rue Corbon 75015 Paris ; Ecole polyvalente - 4, rue Decamps 75016 Paris ;
                Ecole polyvalente - 3, impasse des Belles Feuilles 75016 Paris</B>.<BR><I>Catégorie de services&nbsp;:&nbsp;</I>12.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;71321200<br><i>Objets supplémentaires&nbsp;:&nbsp;</i>71321400.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>divers
                équipements scolaires,&nbsp;75000&nbsp;Paris.<BR><I>Code NUTS : </I>|FR101|.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>marché de maîtrise d'&oelig;uvre hors loi
                MOP pour la modernisation des installations de génie climatique dans dix établissements scolaires de la
                Ville de Paris, répartis en 2 lots<BR><i>Quantités (fournitures et services), nature et étendue
                    (travaux)&nbsp;:&nbsp;</i>la tranche ferme constitue une mission d'étude et de conception comprenant
                les éléments suivants : confirmation des programmes, études d'avant projet et rédaction du Dce.<Br>Les
                tranches conditionnelles comprennent l'analyse des offres et assistance à la négociation des offres, le
                suivi et le contrôle des travaux et l'assistance à la réception et garantie de parfait
                achèvement.<BR><I>Refus des variantes</I>.<BR>La procédure d'achat du présent avis est couverte par
                l'accord sur les marchés publics de l'OMC : non.<br/><BR>Prestations divisées en lots : oui.<BR>Possibilité
                de pr&eacute;senter une offre pour un ou plusieurs lots.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>17 mois à compter de la notification du
                marché.<BR><i>Date&nbsp;prévisionnelle&nbsp;de&nbsp;début&nbsp;des&nbsp;prestations&nbsp;(fournitures/services)&nbsp;:&nbsp;</i>1.e.r&nbsp;octobre&nbsp;2015.<BR><I>Cautionnement
                    et garanties exigés&nbsp;:&nbsp;</I>avance et retenue de garantie dans les conditions prévues au
                contrat.<BR><I>Modalités essentielles de financement et de paiement et/ou références aux textes qui les
                    réglementent&nbsp;:&nbsp;</I>financement par emprunt sur le Budget d'investissement de la Ville de
                Paris - paiement direct - prix global et forfaitaire, révisable. Acomptes mensuels.<BR><i>Forme
                    juridique que devra revêtir le groupement d'opérateurs économiques attributaire du marché&nbsp;:&nbsp;</i>solidaire.<BR><I>L'exécution
                    du marché est soumise à d'autres conditions particulières : </I>non.<BR><I>Langues pouvant être
                    utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée,
                    l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>le
                candidat individuel ou le groupement devra obligatoirement produire la Dc1 dans sa dernière version mise
                à jour dûment remplie, datée et signée et le candidat individuel ou chaque membre du groupement devra
                produire également la Dc2 renseignée dans ses rubriques a, b, c, d, e le cas échéant, et G.<BR><I>Capacité
                    économique et financière - références requises&nbsp;:&nbsp;</I>le candidat individuel ou chaque
                membre du groupement devra(ont) produire la Dc2 renseignée en rubrique D en précisant le chiffre
                d'affaires global et le chiffre d'affaires concernant les fournitures, services ou travaux objet du
                marché réalisés au cours des trois derniers exercices disponibles<BR><I>Référence professionnelle et
                    capacité technique - références requises&nbsp;:&nbsp;</I>la Dc2 devra être accompagnée des documents
                suivants :<Br>- déclaration indiquant les effectifs moyens annuels du candidat et l'importance du
                personnel d'encadrement pour chacune des trois dernières années<br>- indication des titres d'études et
                professionnels des cadres de l'entreprise et notamment des responsables de prestation de services de
                même nature que celle du marché<br>- en matière de fournitures et services, une description de
                l'équipement technique, des mesures employées par l'opérateur économique pour s'assurer de la qualité et
                des moyens d'étude et de recherche de son entreprise<br>- présentation d'une liste des principaux
                services effectués au cours des trois dernières années, indiquant le montant, la date et le destinataire
                public ou privé. Pour les entreprises nouvellement créées, les candidats devront fournir les éléments
                équivalents susceptibles de permettre d'apprécier leurs moyens (financiers, humains et matériels) ainsi
                que le cas échéant la liste des éventuels dossiers en cours précisant pour chacun d'eux le montant et la
                nature des prestations exécutées.
            <p>La prestation n'est pas réservée à une profession particulière.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).<BR>Une enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>30&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;02&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>180 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>2015V21011420.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>le dossier de consultation des entreprises peut être
                consulté et téléchargé à partir de l'adresse https://marches.maximilien.fr. Les candidats seront invités
                à répondre par voie électronique à cette même adresse dans les conditions fixées dans le dossier de
                consultation des entreprises. Si le candidat s'appuie sur d'autres opérateurs économiques pour présenter
                sa candidature, il doit les mentionner dans son formulaire Dc2 (rubrique E) et produire, pour chacun
                d'eux, les mêmes documents et informations que ceux qui sont exigés de lui pour justifier de ses
                capacités, ainsi qu'un engagement écrit de chacun d'eux justifiant qu'il dispose de leurs capacités pour
                l'exécution des prestations.<BR><I>Date limite d'obtention</I> : 30&nbsp;juillet&nbsp;2015, à 12&nbsp;heures.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>1.e.r&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I>Ville de Paris - Direction du Patrimoine et de l'Architecture - Section
            Technique de l'Energie et du Génie Climatique.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I> Bureau
            n<sup>o</sup> 1002 de 9h à 12h et de 14h à 17h,&nbsp;&nbsp;193, rue de Bercy -Tour Gamma A - 10ème étage,&nbsp;&nbsp;75582&nbsp;Paris
            Cedex 12,&nbsp;, tél.&nbsp;:&nbsp;01-71-27-00-00,&nbsp;, télécopieur&nbsp;:&nbsp;01-71-27-00-99.<BR><I>Adresse
                auprès de laquelle des renseignements complémentaires peuvent être obtenus&nbsp;:&nbsp;</I>Ville de
            Paris - Direction du Patrimoine et de l'Architecture - Section Technique de l'Energie et du Génie
            Climatique.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>M.&nbsp;Périneau Thomas,&nbsp;&nbsp;193, rue de Bercy
            -Tour Gamma A - 10ème étage,&nbsp;&nbsp;75582&nbsp;Paris Cedex 12,&nbsp;, tél.&nbsp;:&nbsp;01-71-27-00-00,&nbsp;,
            télécopieur&nbsp;:&nbsp;01-71-27-00-99,&nbsp;, courriel&nbsp;:&nbsp;thomas.perineau@paris.fr.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre technique peuvent être obtenus&nbsp;:&nbsp;</I>Ville de
            Paris - Direction du Patrimoine et de l'Architecture - Section Technique de l'Energie et du Génie
            Climatique.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>Mme&nbsp;Mouilé-Richard Clémence,&nbsp;&nbsp;193, rue
            de Bercy -Tour Gamma A - 10ème étage,&nbsp;&nbsp;75582&nbsp;Paris Cedex 12,&nbsp;, tél.&nbsp;:&nbsp;01-71-27-00-00,&nbsp;,
            télécopieur&nbsp;:&nbsp;01-71-27-00-99,&nbsp;,
            courriel&nbsp;:&nbsp;clemence.mouille-richard@paris.fr.<BR><I>Adresse auprès de laquelle des renseignements
                d'ordre administratif peuvent être obtenus&nbsp;:&nbsp;</I>Ville de Paris - Direction du Patrimoine et
            de l'Architecture - Section Technique de l'Energie et du Génie Climatique.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>M.&nbsp;Germain
            Emmanuel,&nbsp;&nbsp;193, rue de Bercy -Tour Gamma A - 10ème étage,&nbsp;&nbsp;75582&nbsp;Paris Cedex 12,&nbsp;,
            tél.&nbsp;:&nbsp;01-71-27-00-00,&nbsp;, télécopieur&nbsp;:&nbsp;01-71-27-00-99,&nbsp;, courriel&nbsp;:&nbsp;emmanuel.germain@paris.fr.<BR><I>Adresse
                auprès de laquelle les documents peuvent être obtenus&nbsp;:&nbsp;</I>Ville de Paris - Direction du
            Patrimoine et de l'Architecture - Section Technique de l'Energie et du Génie Climatique.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>
            Bureau n<sup>o</sup> 1002 de 9h à 12h et de 14h à 17h,&nbsp;&nbsp;193, rue de Bercy -Tour Gamma A - 10ème
            étage,&nbsp;&nbsp;75582&nbsp;Paris Cedex 12,&nbsp;, tél.&nbsp;:&nbsp;01-71-27-00-00,&nbsp;, télécopieur&nbsp;:&nbsp;01-71-27-00-99.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de Paris&nbsp;7, rue
                de Jouy 7, rue de Jouy&nbsp;75181&nbsp;Paris Cedex 04, tél.&nbsp;:&nbsp;01-44-59-44-00, courriel&nbsp;:&nbsp;greffe.ta-paris@juradm.fr,
                télécopieur&nbsp;:&nbsp;01-44-59-46-46.</P><I>Précisions concernant le(s) délai(s) d'introduction des
                recours : </I>voir les articles L.551-1 à 23 du code de justice administrative.<p><I>Renseignements
                relatifs aux lots&nbsp;:&nbsp;</I>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 1.</span> - lec Pierre Lescot, groupes
                                    scolaires Sevran-République, Armand Carrel , Compans-Général Brunet et école
                                    élémentaire La Villette.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Modernisation de deux centres thermiques vapeur et de 3 centres
                                    thermiques gaz
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"><I>Durée :</I>&nbsp; 17 mois à compter de la date de notification du
                                    marché.<BR></td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;71321200.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 2.</span> - ecoles maternelles Croulebarbe et
                                    Procession, groupe scolaire Corbon et écoles polyvalentes Decamps et des Belles
                                    Feuilles.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Modernisation de cinq centres thermiques vapeur</td>
                            </tr>
                            <tr>
                                <td class="txt"><I>Durée :</I>&nbsp; 17 mois à compter de la date de notification du
                                    marché.<BR></td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;71321200<br><i>Objets
                                    supplémentaires&nbsp;:&nbsp;</i>71321400.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2999536&noa=15-100974" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>