<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>74</B><!-- ED=20158183--><BR>Annonce No&nbsp;<B>15-101586</B><!--Commune--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Ville de Cruseilles.<BR>&nbsp;Correspondant&nbsp;:&nbsp;
            BOUCHET Daniel, le maire,&nbsp;35 place de la mairie B.P.&nbsp;05&nbsp;74350&nbsp;Cruseilles, tél.&nbsp;:&nbsp;04-50-32-05-53,
            télécopieur&nbsp;:&nbsp;04-50-44-07-36, courriel&nbsp;:&nbsp;mlcolumpsi@cruseilles.fr.<BR>Adresse internet
            du profil d'acheteur&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.mp74.fr","TestLien","");'
                                           class="lien">http://www.mp74.fr</A>.<p><I>Objet du
                march&eacute;&nbsp;:&nbsp;</I><B>aménagement du Cimetière</B>.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45112714.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>lot unique : terrassements, VRD, pavés et
                revêtements minéraux<BR>Prestations divisées en lots : non.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>2 mois à compter de la notification du
                marché.<BR><I>Langues pouvant être utilisées dans l'offre ou la
                    candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur
                technique de l'offre : 60 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix des prestations : 40 %.<BR>Une
                enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>23&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>90 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i>
            <P><I>Renseignements complémentaires&nbsp;:&nbsp;</I>retrouvez cet avis intégral, l'accès au dossier et le
                guichet de dépôt sur http://www.mp74.fr.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>1.e.r&nbsp;juillet&nbsp;2015.</P><I>Adresse
                auprès de laquelle des renseignements d'ordre technique peuvent être obtenus&nbsp;:&nbsp;</I>ALP VRD
            INGENIERIE : M. Christophe GAILLARD.<BR>, tél.&nbsp;:&nbsp;04-57-41-90-07,&nbsp;, courriel&nbsp;:&nbsp;cgaillard@alpvrd.fr.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre administratif peuvent être obtenus&nbsp;:&nbsp;</I>VILLE
            DE CRUSEILLES : Services Techniques.<BR>&nbsp;35 place de la Mairie B.P.&nbsp;5,&nbsp;&nbsp;74350&nbsp;Cruseilles,&nbsp;,
            tél.&nbsp;:&nbsp;04-50-32-10-33,&nbsp;, télécopieur&nbsp;:&nbsp;04-50-44-07-36,&nbsp;, courriel&nbsp;:&nbsp;mairie@cruseilles.fr.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal Administratif de Grenoble&nbsp;2
                Place de Verdun B.P.&nbsp;1135&nbsp;38022&nbsp;Grenoble, tél.&nbsp;:&nbsp;04-76-42-90-06, courriel&nbsp;:&nbsp;greffe.ta-grenoble@juradm.fr,
                télécopieur&nbsp;:&nbsp;04-76-51-89-44.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000148&noa=15-101586" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>