<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>59</B><!-- ED=20158183--><BR>Annonce No&nbsp;<B>15-101240</B><BR>Services<!--Autre-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Centre Hospitalier de Douai.<BR>&nbsp;Correspondant&nbsp;:&nbsp;cellule
            des Marchés Publics - service des Affaires Juridiques,&nbsp;route de cambrai - B.P.&nbsp;10740&nbsp;59507&nbsp;Douai
            Cedex, tél.&nbsp;:&nbsp;03-27-94-71-02, télécopieur&nbsp;:&nbsp;03-27-94-70-14, courriel&nbsp;:&nbsp;marchespublics@ch-douai.fr&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("https://marchespublics.nord-sante.org","TestLien","");'
                               class="lien">https://marchespublics.nord-sante.org</A>.<BR>Adresse internet du profil
            d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://marchespublics.nord-sante.org","TestLien","");'
                    class="lien">https://marchespublics.nord-sante.org</A>.<BR>Le pouvoir adjudicateur n'agit pas pour
            le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s) Activité(s) du pouvoir adjudicateur : </i>
            Santé.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>collecte et élimination des déchets assimilés aux ordures
                ménagères (DIB, recyclables) et des encombrants du Centre Hospitalier de Douai</B>.<BR><I>Catégorie de
                services&nbsp;:&nbsp;</I>16.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;90513000.<BR><I>Lieu
                d'ex&eacute;cution&nbsp;:&nbsp;</I>centre Hospitalier,&nbsp;59507&nbsp;Douai Cedex.<BR><I>Code NUTS
                : </I>FR30.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>conformèment à l'article 15 du Code des
                Marchés Publics, le lot 7 est exclusivement réservé aux entreprises adaptées ou aux établissements et
                services d'aide par le travail mentionnés aux articles L.5213-13, 18, 19 et 22 du Code du Travail et L.
                344-2 du Code de l'action Sociale et des Familles, ou aux structures équivalentes, lorsque la majorité
                des travailleurs concernés sont des personnes handicapées qui, en raison de la nature ou de la gravité
                de leurs déficiences, ne peuvent exercer une activité professionnelle dans des conditions
                normales<BR><i>Quantités (fournitures et services), nature et étendue (travaux)&nbsp;:&nbsp;</i>le
                marché est établi conformément à l'article 77 du code des marchés publics (Marché à bons de commande).
                Les prestations feront l'objet de bons de commande au fur et à mesure des besoins. Les quantités
                estimatives sont fixées sont fixées au CCTP n<sup>o</sup> 31 du 29 mai 2015. Ces quantités sont
                susceptibles de varier dans la limite suivante : <Br><Br>Lot n<sup>o</sup>1 : 750 tonnes maxi par an
                <Br>Lot n<sup>o</sup>2 : 85 tonnes maxi par an<Br>Lot n<sup>o</sup>3 : 20 tonnes maxi par an<Br>Lot
                n<sup>o</sup>4 : 5 tonnes maxi par an<Br>Lot n<sup>o</sup>5 : 15 tonnes maxi par an<Br>Lot n<sup>o</sup>6
                : 8 tonnes maxi par an<Br>Lot n<sup>o</sup>7 : 10 tonnes maxi par an (Article 15 du Cmp)<Br>Lot
                n<sup>o</sup>8 : 100 tonnes maxi par an<Br>Lot n<sup>o</sup>9 : 5 tonnes maxi par an.<BR><i>Options :
                    descriptions concernant les achats complémentaires&nbsp;:&nbsp;</i>la présente consultation prévoit
                les achats complémentaires suivants : <br><br>option obligatoire - lot 1 :<Br><Br>Le candidat proposera
                en option le traitement des biodéchets avec mise en place des conteneurs adaptés et
                réglementaires<Br><Br>Le candidat devra : <Br>-Chiffrer l'option dans les champs prévus à cet effet dans
                l'acte d'engagement,<Br>-Produire les documents prévus à l'article 4.2 du présent rc.<Br><Br>Les
                candidats sont dans l'obligation de répondre à l'option obligatoire. Les candidats n'y ayant pas répondu
                verront leur offre de base rejetée sans même avoir été analysée.<Br><Br>Le jugement de l'option
                obligatoire sera effectué au regard des critères de jugement énoncés à l'article 6 du présent règlement
                de la consultation.<BR><I>Des variantes seront-elles prises en compte: </I>oui.La procédure d'achat du
                présent avis est couverte par l'accord sur les marchés publics de l'OMC : oui.<br/><BR>Prestations
                divisées en lots : oui.<BR>Possibilité de pr&eacute;senter une offre pour un ou plusieurs lots.<BR><I>Cautionnement
                    et garanties exigés&nbsp;:&nbsp;</I>le versement d'une avance est conditionné par l'article 87 du
                Code des Marchés Publics. Le titulaire peut refuser le versement de cette avance. Pas d'application de
                retenue de garantie ni de cautionnement.<BR><I>Modalités essentielles de financement et de paiement
                    et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>conforme au Code des Marchés
                Publics et à ses textes d'application. Financement : fonds propres de l'établissement. Le mode de
                paiement proposé est le paiement par mandat administratif, 50 jours après réception d'une facture
                conforme.<BR><I>L'exécution du marché est soumise à d'autres conditions particulières : </I>non.<BR><I>Langues
                    pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>les capacités professionnelles, techniques et financières du
                candidat.<BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>les candidats devront fournir
                le dossier suivant : <Br>1/ Lettre de candidature (sur papier entête ou formulaire Dc1 disponible sur
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat) <Br>2/ Le formulaire Dc2 "Déclaration
                du candidat" (disponible sur http://www.economie.gouv.fr/daj/formulaires-declaration-candidat) <Br><Br>Pour
                les candidats non établis en France, les pièces similaires au regard des règles d'effet équivalent. <Br><Br>Si
                le candidat est en redressement judiciaire, la copie du ou des jugements prononcés à cet effet.<Br><Br>Si
                le candidat s'appuie sur d'autres opérateurs économiques pour présenter sa candidature : <Br>-
                production pour chacun de ses opérateurs des mêmes documents qui sont exigés du candidat pour justifier
                de sa situation propre et de ses capacités professionnelles, techniques et financières, <Br>- production
                d'un engagement écrit de chacun de ses opérateurs justifiant que le candidat dispose de leurs capacités
                pour l'exécution du marché. <Br><Br>Si les documents fournis par le candidat ne sont pas rédigés en
                langue française, ils doivent être accompagnés d'une traduction en français certifiée conforme à
                l'original par un traducteur assermenté.<BR><I>Capacité économique et financière - références requises&nbsp;:&nbsp;</I>-
                Déclaration concernant le chiffre d'affaires global et le chiffre d'affaires concernant les services
                auxquels se réfère le marché, réalisés au cours des trois derniers exercices<BR><I>Référence
                    professionnelle et capacité technique - références requises&nbsp;:&nbsp;</I>- Déclaration indiquant
                les effectifs du candidat et l'importance du personnel d'encadrement pour chacune des trois dernières
                années.<Br>- présentation d'une liste des principaux services fournis au cours des trois dernières
                années, indiquant notamment le montant, la date et le destinataire public ou privé;<Br>- déclaration
                indiquant l'outillage, le matériel et l'équipement technique dont le prestataire dispose pour
                l'exécution des services;<Br>- certificats de qualifications professionnelles. La preuve de la capacité
                de l'entreprise peut être apportée par tout moyen, notamment par des certificats d'identité
                professionnelle;<Br>- certificats établis par des services chargés du contrôle de la qualité et
                habilités à attester la conformité des services à des spécifications ou des normes. La preuve de mesures
                équivalentes de garantie de la qualité pourra être apportée.<Br>- justificatifs attestant du respect des
                conditions pour soumissionner, au lot n<sup>o</sup> 7, dans le cadre de l'article 15 du Code des Marchés
                Publics.
            <p>La prestation n'est pas réservée à une profession particulière.
            <p>Les personnes morales ne sont pas tenues d'indiquer les noms et qualifications professionnelles des
                membres du personnel chargé de la prestation.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;mathodologie,
                qualité prestation et choix technique : 50 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix : 40 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;développement
                durable : 10 %.<BR>Une enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>7&nbsp;août&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>150 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i>
            <P><I>Renseignements complémentaires&nbsp;:&nbsp;</I>dématérialisation : Le candidat est informé que le mode
                de transmission des candidatures et des offres choisi par le pouvoir adjudicateur est la procédure
                dématérialisée. <Br><Br>Voies et délais de recours : <Br>Il est possible soit de contester la décision
                du pouvoir adjudicateur de ne pas retenir la candidature en saisissant le juge des référés du tribunal
                administratif de Lille, dans un délai de onze jours à compter de la réception de ladite décision, soit
                d'introduire un référé contractuel dans un délai d'un mois à compter de l'accomplissement des formalités
                de publicité.<Br>Enfin, il est possible de former un recours en contestation de la validité du contrat
                dans un délai de deux mois à compter de l'accomplissement des mesures de publicité par le pouvoir
                adjudicateur.<Br><Br>Le pouvoir adjudicateur se réserve le droit de rédiger des avenants et décisions de
                poursuivre et des marchés complémentaires et similaires.<Br><Br>Durée du marché : <Br>Le marché est
                conclu pour une première période de 1 an à compter du 1<sup>er</sup> octobre 2015, renouvelable 1 fois,
                par reconduction expresse notifiée un mois avant la date anniversaire du marché. A défaut, le marché ne
                sera pas reconduit.<Br><Br>Variantes : <Br>Les variantes sont autorisées. <Br>Le candidat est informé
                qu'il pourra uniquement présenter des variantes capables d'améliorer le projet et/ou de réduire les
                coûts. <Br>La présentation d'une variante impose également la remise des documents demandés à l'article
                4.2 du présent RC, différents de ceux de l'offre de base. <Br><Br>Négociations : <Br>Le pouvoir
                adjudicateur négociera avec les 2 meilleurs candidats, sur l'ensemble des éléments de l'offre, après une
                première analyse des offres.<BR><I>Date limite d'obtention</I> : 22&nbsp;juillet&nbsp;2015, à 16&nbsp;heures.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>1.e.r&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I>Centre hospitalier de douai.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>cellule
            des Marchés Publics - service des Affaires Juridiques,&nbsp;&nbsp;1<sup>er</sup> étage B - route de cambrai
            - B.P.&nbsp;10740,&nbsp;&nbsp;59507&nbsp;Douai Cedex,&nbsp;&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://marchespublics.nord-sante.org","TestLien","");'
                    class="lien">https://marchespublics.nord-sante.org</A>.<BR><I>Adresse auprès de laquelle des
                renseignements d'ordre administratif et technique peuvent être obtenus&nbsp;:&nbsp;</I>Centre
            hospitalier de douai.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>cellule des Marchés Publics - service des
            Affaires Juridiques,&nbsp;&nbsp;route de cambrai - B.P.&nbsp;10740,&nbsp;&nbsp;59507&nbsp;Douai Cedex,&nbsp;,
            tél.&nbsp;:&nbsp;03-27-94-71-02,&nbsp;, télécopieur&nbsp;:&nbsp;03-27-94-70-14,&nbsp;, courriel&nbsp;:&nbsp;marchespublics@ch-douai.fr,&nbsp;&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("https://marchespublics.nord-sante.org","TestLien","");'
                               class="lien">https://marchespublics.nord-sante.org</A>.<BR><I>Adresse auprès de laquelle
                les documents peuvent être obtenus&nbsp;:&nbsp;</I>Centre hospitalier de douai.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>cellule
            des Marchés Publics - service des Affaires Juridiques,&nbsp;&nbsp;1<sup>er</sup> étage B - route de cambrai
            - B.P.&nbsp;10740,&nbsp;&nbsp;59507&nbsp;Douai Cedex,&nbsp;, tél.&nbsp;:&nbsp;03-27-94-71-02,&nbsp;,
            télécopieur&nbsp;:&nbsp;03-27-94-70-14,&nbsp;, courriel&nbsp;:&nbsp;marchespublics@ch-douai.fr,&nbsp;&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("https://marchespublics.nord-sante.org","TestLien","");'
                               class="lien">https://marchespublics.nord-sante.org</A>.<p><I>Instance chargée des
                procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de Lille&nbsp;143 Rue Jacquemars Giélée
                B.P.&nbsp;2039&nbsp;59014&nbsp;Lille Cedex, tél.&nbsp;:&nbsp;03-20-63-13-00, courriel&nbsp;:&nbsp;greffe.ta-lille@juradm.fr,
                télécopieur&nbsp;:&nbsp;03-20-63-13-47.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Tribunal
                administratif de Lille&nbsp;143 Rue Jacquemars Giélée B.P.&nbsp;2039&nbsp;59014&nbsp;Lille Cedex, tél.&nbsp;:&nbsp;03-20-63-13-00,
                courriel&nbsp;:&nbsp;greffe.ta-lille@juradm.fr, télécopieur&nbsp;:&nbsp;03-20-63-13-47.</P>
            <P><I>Renseignements relatifs aux lots&nbsp;:&nbsp;</I>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 1.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Collecte et élimination des déchets industriels banals&nbsp;:&nbsp;750
                                    tonnes maxi par an.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;90513000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 2.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Collecte et valorisation des cartons recyclables et du papier&nbsp;:&nbsp;85
                                    tonnes maxi par an.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;90513000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 3.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Collecte et valorisation du bois&nbsp;:&nbsp;20 tonnes maxi par an.</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;90513000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 4.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Collecte et valorisation des déchets des espaces verts&nbsp;:&nbsp;5
                                    tonnes maxi par an.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;90513000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 5.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Collecte et élimination des encombrants&nbsp;:&nbsp;15 tonnes maxi par
                                    an.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;90513000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 6.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Collecte et valorisation des ferailles et métaux&nbsp;:&nbsp;8 tonnes
                                    maxi.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;90513000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 7.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Collecte et élimination des archives confidentielles&nbsp;:&nbsp;10
                                    tonnes maxi par an.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;90513000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 8.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Collecte et valorisation des déchets fermentescibles&nbsp;:&nbsp;100
                                    tonnes par an.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;90513000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 9.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Collecte et valorisation du verre&nbsp;:&nbsp;5 tonnes maxi par an.</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;90513000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2999802&noa=15-101240" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>