<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>13</B><!-- ED=20158182--><BR>Annonce No&nbsp;<B>15-100981</B><BR>Services
            <!--Etablissement public territorial--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Cté d'Agglo. du Pays d'Aix en
            Provence.<BR>&nbsp;Correspondant&nbsp;:&nbsp;Mme&nbsp;De la commande publique le directeur, Chef d'équipe
            marché,&nbsp;communauté du Pays d'aix CS 40868&nbsp;13626&nbsp;Aix-en-Provence Cedex 1, tél.&nbsp;:&nbsp;04-88-78-88-00,
            télécopieur&nbsp;:&nbsp;04-88-78-88-08, courriel&nbsp;:&nbsp;direction-marches@agglo-paysdaix.fr.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://www.achatpublic.com/sdm/ent/gen/index.jsp","TestLien","");'
                    class="lien">https://www.achatpublic.com/sdm/ent/gen/index.jsp</A>.<BR>Le pouvoir adjudicateur
            n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s) Activité(s) du pouvoir
                adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>prestations de reprographie pour l'ensemble des services de
                la CPA</B>.<BR><I>Catégorie de services&nbsp;:&nbsp;</I>15.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;79520000.<BR><I>Lieu
                d'ex&eacute;cution&nbsp;:&nbsp;</I>territoire de la CPA.<BR><I>Code NUTS : </I>|FR824|.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>les documents concernés par le présent
                marché sont des documents administratifs tels que : rapports, dossiers de présentation, dossiers de
                consultations des entreprises, plans, registres.<br>les prestations de reprographie s'effectueront sur
                divers supports : papiers et/ou cd-rom avec ou sans finition.<br>ne sont pas concernés notamment les
                supports de communication ainsi que la papeterie imprimée. Les documents sont remis au titulaire
                principalement sous format numérique et sous format papier. La description des prestations figure au BPU<BR><i>Quantités
                    (fournitures et services), nature et étendue (travaux)&nbsp;:&nbsp;</i>le montant du marché sera le
                résultat des prix unitaires appliquées aux quantités réellement exécutées dans la<br>limite du seuil
                maximum annuel de 40 000euro(s) (H.T.).<Br>Le présent marché est de type à bons de commande conformément
                à l'article 77 du CMP.<BR><i>Calendrier des marchés ultérieurs en cas de marchés reconductibles&nbsp;:&nbsp;</i>le
                marché commence à la date de l'avis de réception de sa notification pour une durée initiale de 12
                mois.<br>il est renouvelable 3 fois par reconduction expresse pour une période de 12 mois. Le pouvoir
                adjudicateur prend par écrit la décision de reconduire ou non le marché. La durée maximale du marché est
                de 48 mois.<br>en cas de reconduction, le titulaire du marché est tenu d'accepter la décision qui lui
                est notifiée.<br>le délai maximum de livraison est de 6 jours.<BR><I>Refus des variantes</I>.<BR>La
                procédure d'achat du présent avis est couverte par l'accord sur les marchés publics de l'OMC : oui.<br/><BR>Prestations
                divisées en lots : non.<BR><i>Date&nbsp;prévisionnelle&nbsp;de&nbsp;début&nbsp;des&nbsp;prestations&nbsp;(fournitures/services)&nbsp;:&nbsp;</i>5&nbsp;novembre&nbsp;2015.<BR><I>Cautionnement
                    et garanties exigés&nbsp;:&nbsp;</I>aucun cautionnement n'est exigé.<BR><I>Modalités essentielles de
                    financement et de paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>possibilité
                de cession ou de nantissement de créance<br>délai de paiement à 30 jours par mandat administratif après
                service fait<br>-financement prévu sur le budget de fonctionnement de la CPA, sur ses fonds propres,<br>-marché
                à prix unitaires, révisables;.<BR><i>Forme juridique que devra revêtir le groupement d'opérateurs
                    économiques attributaire du marché&nbsp;:&nbsp;</i>solidaire à l'attribution.<BR><I>L'exécution du
                    marché est soumise à d'autres conditions particulières : </I>non.<BR><I>Langues pouvant être
                    utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée,
                    l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>les critères de sélection des candidatures sont les capacités technique,
                financière et professionnelle des candidats, liées et proportionnées à l'objet du marché.<BR><I>Situation
                    juridique - références requises&nbsp;:&nbsp;</I>les déclarations, certificats et attestations prévus
                aux articles 44 et 45 du code des marchés publics permettant la vérification de la satisfaction des
                conditions d'accès à la commande publique (ces documents devront être fournis pour chacun des membres du
                groupement éventuel):<br>- une lettre de candidature comprenant l'identification du candidat, l'objet du
                marché.<br>pour une soumission en groupement, les candidats indiqueront, par tous les moyens à leur
                convenance, la forme de leur groupement, l'identification des membres du groupement, ainsi que la
                désignation du mandataire.<br>- le(s) document(s) relatif(s) aux pouvoirs de la personne habilitée à
                engager l'entreprise (extrait K bis, délégation de pouvoir, statuts...) ainsi qu'une habilitation du
                mandataire par ses co-traitants en cas de groupement d'entreprises.<br>- si le candidat est en
                redressement judiciaire, la copie du ou des jugements prononcés à cet effet<br>- une déclaration sur
                l'honneur, dûment datée et signée par le candidat, pour justifier qu'il n'entre dans aucun des cas
                mentionnés à l'article 38 de l'ordonnance no 2005-649 du 6 juin 2005 modifiée et de l'article 29 de la
                loi no 2005-102 du 11 février 2005 modifiée, conformément à l'article 43 du Cmp.<Br>L'Utilisation des
                imprimés Dc1 et Dc2 est autorisée. Ces formulaires sont téléchargeables sur le site suivant :<BR>http://www.economie.gouv.fr/daj/formulaires.<BR><I>Capacité
                    économique et financière - références requises&nbsp;:&nbsp;</I>pour chacun des membres du groupement
                éventuel :<Br>-Une déclaration concernant le chiffre d'affaires global et le chiffre d'affaires
                concernant les services auxquels se réfère le marché, réalisés au cours des trois derniers exercices
                disponibles<BR><I>Référence professionnelle et capacité technique - références requises&nbsp;:&nbsp;</I>pour
                chacun des membres du groupement éventuel <Br>Une déclaration indiquant les effectifs moyens annuels du
                candidat et l'importance du personnel d'encadrement pour chacune des trois dernières années ;<Br>- une
                déclaration indiquant l'outillage, le matériel et l'équipement technique dont le candidat dispose pour
                la<br>réalisation de marchés de même nature ;<Br>- présentation d'une liste des principaux services
                effectués au cours des trois dernières années, indiquant le montant, la date et le destinataire public
                ou privé. Les prestations de services sont prouvées par des attestations du destinataire ou, à défaut,
                par une déclaration de l'opérateur économique.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><BR>pour
                justifier de ses capacités professionnelles, techniques et financières, le candidat, même s'il s'agit
                d'un groupement, peut demander que soient également prises en<br>compte les capacités professionnelles,
                techniques et financières d'autres opérateurs économiques, quelle que soit la nature juridique des liens
                existant entre ces opérateurs et lui. Dans ce cas, il justifie des capacités de ce<br>ou ces opérateurs
                économiques et apporte la preuve qu'il en disposera pour l'exécution du marché.<br>les entreprises de
                création récente pourront justifier de leurs capacités professionnelles, techniques et financières par
                tout moyen de preuve et, notamment, par la présentation des titres d'études ou de l'expérience<br>professionnelle
                du ou des responsables des prestations.<br>les candidats ne sont pas tenus de fournir les documents et
                renseignements du dossier de candidature que la CPA peut obtenir directement par le biais d'un système
                électronique de mise à disposition d'informations administré par un organisme officiel ou d'un espace de
                stockage numérique, à condition que figurent dans le<br>dossier de candidature toutes les informations
                nécessaires à la consultation de ce système ou de cet espace, et que cet accès soit gratuit.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix
                : 80 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;délai : 20 %.
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>28&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>20152AM07.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>la CPA est un établissement public de coopération
                intercommunautaire<br>les critères de sélection des candidatures sont les capacités technique,
                financière et professionnelle des candidats, liées et proportionnées à l'objet du marché.<br>après
                réception et examen des offres, il est établi un premier classement des offres. Même les offres
                déclarées irrégulières ou inacceptables sont classées. Une phase de négociation sera engagée avec tous
                les candidats dont l'offre a été classée. Néanmoins, les offres irrégulières ou inacceptables ne
                pourront être retenues que si elles deviennent régulières ou acceptables suite aux négociations. A
                l'issue de la négociation, un dernier classement sera effectué.<br>le pouvoir adjudicateur engagera des
                négociations avec le ou les candidats ayant présenté une offre. Le pouvoir adjudicateur se réserve la
                possibilité d'engager et de mener les négociations soit par courrier, soit par courriel soit par
                dématérialisation via le profil acheteur achatpublic.com.<br>la négociation pourra se dérouler en une ou
                plusieurs phases et à chacune de ces phases, le pouvoir adjudicateur se réserve la possibilité
                d'éliminer les offres les moins intéressantes au regard des critères fixés au présent règlement de la
                consultation. Le candidat qui ne répond pas au courrier engageant la négociation sera réputé avoir
                maintenu sa dernière offre.<br>au terme des négociations, le pouvoir adjudicateur, après classement des
                offres, choisit l'offre économiquement la plus avantageuse au regard des critères précités.<br>la remise
                des plis peut se faire:<br>- soit par envoi à l'adresse postale indiquée en haut du présent avis, pour
                tout envoi en recommandé avec<br>avis de réception,<br>- soit par dépôt contre récépissé ou pour tout
                autre mode d'acheminement (Chronopost, ups, fedex, etc...) aux horaires et à l'adresse géographique
                susvisée,<br>- soit par voie électronique à l'adresse Internet suivante:<BR>https://www.achatpublic.com/sdm/ent/gen/ent_detail.do?PCSLID=CSL_2015_nzFz9AYMcl&v=1&selected=0<BR>Les
                modalités relatives à la dématérialisation des plis sont détaillées dans le règlement de
                consultation.<br>le candidat devra impérativement choisir entre le dépôt de son offre sur la plate-forme
                de dématérialisation ou l'envoi sur support papier.<br>lors du téléchargement du DCE, les candidats sont
                expressément invités à communiquer les coordonnées d'une personne physique et son adresse électronique
                afin qu'ils soient informés, en cours de consultation, des éventuelles erreurs matérielles,
                rectifications ou compléments d'information apportés au DCE initial.
            <p><I>Conditions et mode de paiement pour obtenir les documents contractuels et additionnels</I> :<BR>Le
                dossier de consultation des entreprises sera remis gratuitement à chaque candidat qui en fera la demande
                par courriel ou par télécopie aux coordonnées indiquées en haut du présent avis ou qui viendra le
                retirer à l'adresse géographique suivante: direction de la commande publique - 3 cours Sextius, 13100
                Aix-En-Provence, aux heures d'ouverture des bureaux (de 8h30 à 12h30 et de 14&nbsp;heures à 17&nbsp;heures
                du lundi au jeudi, de 8h30 à 12h30 et de 14&nbsp;heures à 16&nbsp;heures le vendredi, sauf jours
                fériés).<br>il pourra être téléchargé par voie électronique à l'adresse Internet suivante:<BR>https://www.achatpublic.com/sdm/ent/gen/ent_detail.do?PCSLID=CSL_2015_nzFz9AYMcl&v=1&selected=0.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>1.e.r&nbsp;juillet&nbsp;2015.</P><I>Adresse
                auprès de laquelle les documents peuvent être obtenus&nbsp;:&nbsp;</I><BR>&nbsp;adresse internet&nbsp;:
            <A HREF='javascript:BMP_openWindow("https://www.achatpublic.com/sdm/ent/gen/ent_detail.do?PCSLID=CSL_2015_nzFz9AYMcl","TestLien","");'
               class="lien">https://www.achatpublic.com/sdm/ent/gen/ent_detail.do?PCSLID=CSL_2015_nzFz9AYMcl</A>.<p><I>Instance
                chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal Administratif de Marseille&nbsp;22/24 rue
                Breteuil&nbsp;13281&nbsp;Marseille Cedex 06, tél.&nbsp;:&nbsp;04-91-13-48-13, télécopieur&nbsp;:&nbsp;04-91-81-13-87.
            </P>
            <P><I>Organe chargé des procédures de médiation&nbsp;:&nbsp;</I>Préfecture de région PACA - Comité
                Consultatif Interrégional de Règlement Amiable des Litiges (CCIRAL)&nbsp;boulevard Paul Peytral&nbsp;13282&nbsp;Marseille
                Cedex 20, tél.&nbsp;:&nbsp;04-91-15-63-74, télécopieur&nbsp;:&nbsp;04-91-15-61-90.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Greffe
                du Tribunal Administratif de Marseille&nbsp;22/24 rue Breteuil&nbsp;13281&nbsp;Marseille Cedex 06, tél.&nbsp;:&nbsp;04-91-13-48-13,
                télécopieur&nbsp;:&nbsp;04-91-81-13-87.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2999543&noa=15-100981" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>