<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>57</B><!-- ED=20158183--><BR>Annonce No&nbsp;<B>15-101505</B><BR>Travaux<!--Etat-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>ESID de Metz.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;Goron
            Nathalie, Etablissement du service d'infrastructure de la défense de METZ,&nbsp;rue du Maréchal LYAUTEY - cS
            30 001&nbsp;57044&nbsp;Metz Cedex 01, tél.&nbsp;:&nbsp;03-55-74-80-61, télécopieur&nbsp;:&nbsp;03-55-74-80-29,
            courriel&nbsp;:&nbsp;usid-metz.marches@defense.gouv.fr.<BR>Le pouvoir adjudicateur n'agit pas pour le compte
            d'autres pouvoirs adjudicateurs.<br><i>Principale(s) Activité(s) du pouvoir adjudicateur : </i>
            Défense.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>metz (Moselle) - quartier De Lattre de Tassigny -
                réalisation des infrastructures Descartes<Br>Cosi 443 318</B>.<BR><I>Type de marché de travaux&nbsp;:&nbsp;</I>
                exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45259900.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>quartier
                De Lattre de Tassigny,&nbsp;57000&nbsp;Metz.<BR><I>Code NUTS : </I>|FR413|.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>metz (Moselle) - quartier De Lattre de
                Tassigny - réalisation des infrastructures DESCARTES<BR><i>Quantités (fournitures et services), nature
                    et étendue (travaux)&nbsp;:&nbsp;</i>les travaux à réaliser dans le bâtiment 0007 seront réalisés
                conformément aux prescriptions du cahier des clauses techniques particulières (Cctp). Ils comprennent
                notamment :<Br>- l'amélioration du Système de Sécurité Incendie comprenant :<Br>La dépose
                d'installations existantes ;<Br>Des installations de détection et de sécurité incendie ;<Br>Des
                installations d'extinction automatique d'incendie.<br>- la réalisation de travaux d'électricité
                comprenant :<Br>Des installations basse tension ;<Br>Des installations courant faible ;<Br>La fourniture
                et pose d'un groupe électrogène et ses équipements.<br>- la réalisation de travaux tous corps d'état
                comprenant :<Br>La réalisation d'un support en béton pour le groupe électrogène ;<Br>La réalisation de
                l'étanchéité à l'air de locaux comprenant l'extinction incendie ;<Br>La réalisation d'une cour anglaise.<br>-
                la fourniture et la pose d'un plafond suspendu ;<Br>- le renforcement d'un plancher technique ;<Br>- la
                réadaptation d'installations de climatisation.<BR><I>Refus des variantes</I>.<BR>Prestations divisées en
                lots : oui.<BR>Possibilité de pr&eacute;senter une offre pour tous les lots.<BR><I>Cautionnement et
                    garanties exigés&nbsp;:&nbsp;</I>néant.<BR><I>Modalités essentielles de financement et de paiement
                    et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>le présent marché est financé sur
                le budget de l'état et payé par virement administratif, dans un délai de trente jours à compter de la
                date de réception de la demande de paiement du titulaire.<br>le présent marché sera conclu à prix global
                forfaitaire.<br>a) Avance sous condition correspondant à 5 % du montant du marché<br>b) Acomptes
                mensuels par virements<br>c) Prix fermes actualisables.<BR><i>Forme juridique que devra revêtir le
                    groupement d'opérateurs économiques attributaire du marché&nbsp;:&nbsp;</i>le marché (chaque lot)
                sera conclu :<BR>- soit avec un opérateur économique unique,<BR>- soit avec un groupement solidaire
                d'opérateurs économiques.<BR>un même opérateur économique ne peut être mandataire de plus d'un
                groupement pour un même marché.<br>il est interdit de présenter une offre en agissant à la fois en tant
                que candidat individuel et de membre d'un ou plusieurs groupements.<BR>en cas de groupement solidaire
                chacun des opérateurs économiques est engagé pour la totalité du marché.<BR>la composition du groupement
                ne pourra être modifiée entre la date de remise des offres et la date de signature du marché. Toutefois,
                si le groupement apporte la preuve qu'un de ses membres est mis en liquidation judiciaire ou qu'il se
                trouve dans l'impossibilité d'accomplir sa tâche pour des raisons qui ne seraient pas de son fait, le
                groupement pourra demander au pouvoir adjudicateur l'autorisation de continuer à participer à la
                procédure de passation sans cet opérateur défaillant, en proposant le cas échéant à l'acceptation du
                représentant du pouvoir adjudicateur un ou plusieurs sous-traitants. Le pouvoir adjudicateur se
                prononcera sur cette demande après examen de la capacité professionnelle, technique et financière de
                l'ensemble des membres du groupement ainsi transformé et, le cas échéant, des sous-traitants présentés à
                son acceptation.<BR><I>L'exécution du marché est soumise à d'autres conditions particulières
                    : </I>non.<BR><I>Langues pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>la sélection des candidatures se fera conformément aux dispositions de
                l'article 52 du code des marchés publics.<BR>les candidats qui ne peuvent soumissionner à un marché en
                application de l'article 43 ou qui, le cas échéant, après mise en &oelig;uvre des dispositions du
                premier alinéa de l'article 52 du code, produisent des dossiers de candidature ne comportant pas les
                pièces et renseignements demandés ne sont pas admis à participer à la suite de la procédure de passation
                du marché.<BR>les candidats doivent justifier et apporter la preuve de leurs capacités juridiques,
                économiques, financières, techniques et professionnelles à réaliser tous les travaux pour lesquels ils
                se portent candidats et en assurer la coordination.<BR>les capacités s'apprécient globalement tous
                opérateurs économiques confondus composant la candidature.<BR>a cette fin, il sera fourni
                obligatoirement pour chaque opérateur économique les renseignements concernant la situation propre du
                candidat, les justificatifs quant aux conditions d'accès à la commande publique, les renseignements et
                les formalités nécessaires pour l'évaluation de leurs capacités économique et financière,
                professionnelle et technique minimales requises.<BR>tous les documents établis ou renseignés par le
                candidat doivent être datés et signés par une personne habilitée à engager l'entreprise.<BR>pour
                présenter ces renseignements, le candidat utilisera les imprimés Dc1 et Dc2 joints au dossier de
                consultation et qui contiennent certains des éléments demandés.<BR>ces imprimés sont disponibles sur le
                site internet du ministère de l'économie et des finances : www.economie.gouv.fr.<BR><I>Situation
                    juridique - références requises&nbsp;:&nbsp;</I>lettre de candidature (formulaire Dc1), incluant
                notamment :<Br>-Les pouvoirs des cotraitants habilitant le mandataire à signer l'offre en cas de
                groupement ;<Br>-Une déclaration sur l'honneur certifiant que le candidat a satisfait à l'ensemble de
                ses obligations fiscales et sociales (art 44 du Cmp)<BR>Déclaration du candidat individuel ou du membre
                du groupement (formulaire Dc2), incluant notamment :<Br>-Le pouvoir de la personne habilitée à engager
                la société.<BR>si le candidat est en redressement judiciaire, la ou les copies des jugements prononcés à
                cet effet. Les entreprises devront justifier de leur habilitation à poursuivre leur activité pendant la
                durée prévisible d'exécution du marché (art.43 et 44 du Cmp).<BR><I>Capacité économique et financière -
                    références requises&nbsp;:&nbsp;</I>déclaration du candidat individuel ou du membre du groupement
                (formulaire Dc2), mentionnant le chiffre d'affaires des trois dernières années<BR><I>Capacité économique
                    et financière - Niveau(x) spécifique(s) minimal(aux) exigé(s)&nbsp;:&nbsp;</I>aucun minimum
                exigé.<BR><I>Référence professionnelle et capacité technique - références requises&nbsp;:&nbsp;</I>liste
                de références de travaux exécutés au cours des trois dernières années et de même nature que ceux faisant
                l'objet de la présente consultation.<br>cette liste, qui se limitera à quelques références pertinentes
                et vérifiables sur des opérations de complexité comparable, sera détaillée et fera obligatoirement
                ressortir, pour chaque référence, la nature avec indication des caractéristiques principales, son
                montant, l'époque de réalisation (date), le lieu d'exécution et les organismes ou maîtres d'ouvrage pour
                lesquels les travaux ont été réalisés, avec indication des coordonnées d'un correspondant du maître
                d'ouvrage ou de l'organisme chargé de l'opération.<br>cette liste est à fournir dans tous les cas pour
                chaque opérateur économique.<br>en l'absence de telles références ou en cas de références insuffisantes,
                le candidat produira tous les éléments nécessaires à l'appréciation de ses capacités notamment ses
                qualifications professionnelles (expériences et qualification des personnels) et ses moyens.<br>la
                preuve des capacités techniques et professionnelles peut être apportée :<Br>-Par tout moyen à sa
                convenance notamment par des certificats de bonne exécution de travaux,<br>-par des certificats de
                qualifications professionnelles, par des certificats d'identité professionnelle,<br>-par des certificats
                de qualité.<br>les entreprises de création récente sont invitées à justifier de leurs capacités
                financières, techniques, ainsi que de leurs références professionnelles par tout moyen.<br>le niveau de
                qualification souhaité est le suivant (ou références similaires) :<Br>Lot n<sup>o</sup>1 Qualification
                APSAD Détection incendie R7 et extinction incendie R13.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>24&nbsp;août&nbsp;2015,&nbsp;à&nbsp;16&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>6 mois à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>15-MAPA-PMOMTZ-1-3.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>les lots sont décomposés comme suit :<BR>Lot
                n<sup>o</sup>1 : Amélioration du système de sécurité incendie, réparti en trois (3) sections techniques
                :<Br>-Section technique n<sup>o</sup>1 : Dépose ;<Br>-Section technique n<sup>o</sup>2 : Détection
                incendie ;<Br>-Section technique n<sup>o</sup>3 : Système de mise en sécurité incendie.<BR>lot
                n<sup>o</sup>2 : Travaux d'électricité, réparti en deux (2) sections techniques :<Br>-Section technique
                n<sup>o</sup>1 : Installations basse tension ;<Br>-Section technique n<sup>o</sup>2 : Installations
                courant faible.<BR>lot n<sup>o</sup>3 : Travaux tous corps d'état, réparti en quatre (4) sections
                techniques :<Br>-Section technique n<sup>o</sup>1 : Gros &oelig;uvre ;<Br>-Section technique
                n<sup>o</sup>2 : Plafonds suspendus ;<Br>-Section technique n<sup>o</sup>3 : Menuiserie ;<Br>-Section
                technique n<sup>o</sup>4 : Climatisation.<Br>A titre indicatif, les travaux commenceront vers le 1<sup>er</sup>
                semestre 2016.<br>les travaux seront exécutés dans le délai de six (6) mois, à compter de la date fixée
                par l'ordre de service qui prescrira de les commencer. La période de préparation de deux (2) mois,
                incluse dans cedélai, débutera par ordre de service.<BR>délai propre à chaque lot :<Br>Le délai propre à
                chaque lot sera déterminé dans le calendrier détaillé d'exécution des travaux établi dans les conditions
                fixées à l'article 4.1 du Ccap.<Br>Un calendrier prévisionnel d'exécution des travaux est joint à chaque
                acte d'engagement.<br>les demandes de dossier de consultation (remis sous format Cd) peuvent être
                adressées par courrier, par télécopieur ou par courrier électronique aux coordonnées indiquées
                ci-dessous.<BR>le dossier de consultation peut être retiré sur place à la même adresse.<BR>le dossier de
                consultation est également disponible et peut être téléchargé sur le site :
                www.marches-publics.gouv.fr<BR>Etablissement du service d'infrastructure de la défense de Metz<Br>Service
                achats infrastructure (Sai)<Br>Section achats investissement<br>1 rue du Maréchal Lyautey<Br>Cs
                30001<br>57044 metz Cedex 01<br>n<sup>o</sup> télécopieur : 03 55 74 80 29<BR>adresse mail :
                usid-metz.marches@defense.gouv.fr<BR>(horaires d'ouverture du lundi au jeudi, sauf jours fériés, de
                08h30 à 11h30 et de 13h30 à 16&nbsp;heures ; le vendredi de 08h30 à 11h30 et de 13h30 à 15h30). L'esid
                de Metz sera fermé le lundi 13 juillet 2015.<BR>la visite des lieux est obligatoire.<br>les entreprises
                devront, pour se rendre sur le site, s'adresser à m. Schirar - tél. : 03.87.15.60.12 ou 06.26.82.76.27
                (mail : marc.schirar@intradef.gouv.fr), ou à défaut Mme&nbsp;RENAUDIN - tél. : 03.87.15.56.62 afin de
                convenir d'un rendez-vous.<br>une attestation de visite des lieux sera délivrée, signée d'un
                représentant du service, et devra être jointe à l'offre. Son absence entraînera l'élimination de
                l'offre.<BR>renseignements administratifs :<Br>Service achats infrastructure<br>Mme&nbsp;MATHIEU ou Mme&nbsp;Goron<Br>Tél
                : 03.55.74.80.52 ou 03.55.74.80.61<BR>renseignements techniques :<Br>Pôle de maîtrise d'&oelig;uvre de
                Metz<Br>M.&nbsp;SCHIRAR Marc ou M. Picher<Br>Tél : 03.87.15.60.12 - 06.26.82.76.27 ou 03.87.15.56.61<br>mail
                : marc.schirar@intradef.gouv.fr ou claude.picher@intradef.gouv.fr<BR>pour obtenir tout renseignement
                complémentaire nécessaire à l'étude des offres, les candidats devront faire parvenir au plus tard dix
                (10) jours au moins avant la date de remise de l'offre une demande écrite :<BR>-Par télécopie au
                03.55.74.80.29<br>-ou par mail à : usid-metz.marches@defense.gouv.fr<br>-ou via la place :
                www.marches-publics.gouv.fr sous la référence 15-mapa-pmo Mtz-1à3<BR>Une réponse sera alors adressée en
                temps utile à tous les candidats ayant retiré un dossier.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>1.e.r&nbsp;juillet&nbsp;2015.</P>
            <P><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de Strasbourg&nbsp;31&nbsp;avenue
                de la Paix B.P.&nbsp;51038&nbsp;67070&nbsp;Strasbourg Cedex, tél.&nbsp;:&nbsp;03-88-21-23-23, courriel&nbsp;:&nbsp;greffe.ta-strasbourg@juradm.fr,
                télécopieur&nbsp;:&nbsp;03-88-36-44-66.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Tribunal
                administratif de Strasbourg&nbsp;31&nbsp;avenue de la Paix B.P.&nbsp;51038&nbsp;67070&nbsp;Strasbourg
                Cedex, tél.&nbsp;:&nbsp;03-88-21-23-23, courriel&nbsp;:&nbsp;greffe.ta-strasbourg@juradm.fr, télécopieur&nbsp;:&nbsp;03-88-36-44-66.
            </P>
            <P><I>Renseignements relatifs aux lots&nbsp;:&nbsp;</I>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 1.</span> - amélioration du système de
                                    sécurité incendie.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Dépose d'installations existantes<br>installations de détection et de
                                    sécurité incendie<br>installations d'extinction automatique d'incendie
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45259900.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 2.</span> - travaux d'électricité.</td>
                            </tr>
                            <tr>
                                <td class="txt">Réalisation des installations basse tension, courant faible et
                                    fourniture et pose d'un groupe électrogène et ses équipements
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45259900.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 3.</span> - travaux tous corps d'état.</td>
                            </tr>
                            <tr>
                                <td class="txt">Réalisation d'un support en béton pour le groupe électrogène<br>réalisation
                                    de l'étanchéité à l'air de locaux comprenant l'extinction incendie<br>réalisation
                                    d'une cour anglaise
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45259900.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000067&noa=15-101505" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>