<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>8</B><!-- ED=20158184--><BR>Annonce No&nbsp;<B>15-101948</B><BR>Travaux<!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Conseil Départemental des
            Ardennes.<BR>&nbsp;Correspondant&nbsp;:&nbsp;benoît HURE,&nbsp;hôtel du Département&nbsp;08011&nbsp;Charleville
            Mézières Cedex&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.cd08.fr","TestLien","");' class="lien">http://www.cd08.fr</A>.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.xmarches.fr","TestLien","");' class="lien">http://www.xmarches.fr</A>.<BR><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>travaux de confortement d'un talus rocheux - rD 1 PR 24+560
                à 25+820 à Laifour</B>.<BR><I>Type de marché de travaux&nbsp;:&nbsp;</I> exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;45112500.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR><I>Refus des variantes</I>.<BR>La
                procédure d'achat du présent avis est couverte par l'accord sur les marchés publics de l'OMC : oui.<br/><BR>Prestations
                divisées en lots : non.<BR><I>Modalités essentielles de financement et de paiement et/ou références aux
                    textes qui les réglementent&nbsp;:&nbsp;</I>financé sur le budget départemental, sur fonds propres
                et/ou emprunt, paiement par virement.<BR><I>Langues pouvant être utilisées dans l'offre ou la
                    candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Autres
                renseignements demandés&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres renseignements
                demandés : la Lettre de candidatures (Dc1),<BR>La Déclaration du candidat (Dc2),<BR>Les documents
                relatifs aux pouvoirs habilités à engager la société,<BR>La liste des prestations en cours d'exécution
                ou exécutés au cours des trois dernières années,<BR>Si le candidat est en redressement judiciaire, la
                copie du ou des jugements prononcés à cet effet.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>29&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;16&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i>
            <P><I>Renseignements complémentaires&nbsp;:&nbsp;</I>précisions concernant le(s) délai(s) d'introduction des
                recours : requête en référé précontractuel au titre des dispositions de l'article L. 551-1 du Code de
                justice administrative à compter de la date de notification du rejet de la candidature ou de l'offre
                jusqu'à la date de signature du marché. Référé contractuel après signature du marché. Introduction d'une
                requête en première instance : article R421-2 du Code de justice administrative, soit 2 mois à partir de
                la notification ou de la publication de la décision attaquée. <Br>Le recours de pleine juridiction doit
                être exercé dans un délai de deux mois à compter de l'accomplissement des mesures de publicité.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>2&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I>Conseil départemental des Ardennes.<BR> Correspondant : Service des marchés
            publics, hôtel, du département, 08011 Charleville Mézières Cedex, , tél. : (+33) 3-24-36-62-76, ,
            télécopieur : (+33) 3-24-36-62-77, , courriel : secretariatsmp@cd08.fr, adresse internet :
            https://www.xmarches.fr.<BR><I>Adresse auprès de laquelle des renseignements d'ordre technique peuvent être
                obtenus&nbsp;:&nbsp;</I>Conseil départemental des Ardennes - DRIM.<BR> Correspondant : M. CORP :
            03.24.55.68.41, hôtel, du département - cS 20001, 08011 Charleville Mézières Cedex, adresse internet :
            https://www.xmarches.fr.<BR><I>Adresse auprès de laquelle des renseignements d'ordre administratif peuvent
                être obtenus&nbsp;:&nbsp;</I>Conseil départemental des Ardennes.<BR> Correspondant : Service des marchés
            publics, hôtel, du département, 08011 Charleville Mézières Cedex, , tél. : (+33) 3-24-36-62-76, ,
            télécopieur : (+33) 3-24-36-62-77, , courriel : secretariatsmp@cd08.fr, adresse internet :
            https://www.xmarches.fr.<BR><I>Adresse auprès de laquelle les documents peuvent être
                obtenus&nbsp;:&nbsp;</I>Conseil départemental des Ardennes.<BR> Correspondant : Service des marchés
            publics, hôtel, du département, 08011 Charleville Mézières Cedex, , tél. : (+33) 3-24-36-62-76, ,
            télécopieur : (+33) 3-24-36-62-77, , courriel : secretariatsmp@cd08.fr, adresse internet :
            https://www.xmarches.fr.<p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal
                Administratif de Châlons en Champagne 25, rue du lycée 51000 Chalons-en-Champagne, tél. : (+33)
                3-26-66-86-87, télécopieur : (+33) 3-26-21-01-87.</P>
            <P><I>Organe chargé des procédures de médiation&nbsp;:&nbsp;</I>Secrétariat CCRA ou CCIRA préfecture de
                Meurthe et Moselle 1 rue Préfet C. Erignac, 54038 Nancy Cedex, tél. : 03-83-24-27-71.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Greffe
                du Tribunal Administratif 25, rue du lycée 51000 Chalons-en-Champagne, tél. : (+33) 3-26-66-86-87,
                courriel : greffe.ta-chalons-en-champagne@juradm.fr, télécopieur : (+33) 3-26-21-01-87.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000510&noa=15-101948" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>