<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=50--><BR>Département(s) de
            publication : <B>78</B><!-- ED=20158184--><BR>Annonce No&nbsp;<B>15-102235</B><BR>Travaux<!--Département-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Conseil général des Yvelines.<BR>&nbsp;Correspondant&nbsp;:&nbsp;
            le président,&nbsp;2, place André Mignot&nbsp;78012&nbsp;Versailles, tél.&nbsp;:&nbsp;01-39-07-78-78,
            télécopieur&nbsp;:&nbsp;01-39-07-89-22&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.yvelines.fr","TestLien","");' class="lien">http://www.yvelines.fr</A>.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.achats.yvelines.fr","TestLien","");' class="lien">http://www.achats.yvelines.fr</A>.<BR>Le
            pouvoir adjudicateur n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>rd65 - rd113 - rd983 Echangeur Mantes EST. Aménagements
                Paysagers</B>.<BR><I>Type de marché de travaux&nbsp;:&nbsp;</I> exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;45112700.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>mantes la Ville.<BR><I>Code
                    NUTS : </I>|FR103|.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>installation et repliement du
                chantier<br>signalisation temporaire<br>fourniture et mise en &oelig;uvre de béton maigre<br>mise à
                disposition d'un chef d'équipe<br>mise à disposition d'un ouvrier<br>mise à disposition d'un camion 15
                Tonnes<Br>Mise à disposition d'une pelle mécanique ou hydraulique<br>décapage de terre végétale<br>exécution
                des déblais<br>evacuation de terre végétale<br>evacuation des matériaux de déblais<br>fourniture et mise
                en &oelig;uvre de géotextile<br>fourniture et mise en &oelig;uvre de grave non-traitée<br>fourniture et
                mise en &oelig;uvre de grave concassée silico-calcaire 12/18<br>fourniture et plantation de différents
                végétaux<br>fourniture et mise en &oelig;uvre de l'enherbement traditionnel<br>prestations dues pendant
                la période de parachèvement<br>prestations dues pendant la période d'entretien<br>les quantités et les
                unités sont indiquées dans le DE<BR><I>Refus des variantes</I>.<BR>La procédure d'achat du présent avis
                est couverte par l'accord sur les marchés publics de l'OMC : oui.<br/><BR>Prestations divisées en lots :
                non.<BR><I>Modalités essentielles de financement et de paiement et/ou références aux textes qui les
                    réglementent&nbsp;:&nbsp;</I>budget départemental d'investissement- marché à prix révisables<br>délai
                global de paiement : 30 jours.<BR><i>Forme juridique que devra revêtir le groupement d'opérateurs
                    économiques attributaire du marché&nbsp;:&nbsp;</i>groupement solidaire.<BR><I>Langues pouvant être
                    utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée,
                    l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>critères
                de sélection des candidatures :<Br>En application de l'article 52 du Code des Marchés Publics, ne seront
                pas admises :<Br>-Les candidatures qui ne sont pas recevables en application de l'article 43 du Code des
                Marchés Publics,<Br>-Les candidatures qui ne sont pas accompagnées des pièces mentionnées aux articles
                44 et 45 du Code des Marchés Publics,<Br>-Les candidatures qui ne présentent pas de garanties
                professionnelles, techniques et financières suffisantes.<br>a) lettre de candidature Indiquant:<Br>1°
                -s'il s'agit :<Br>-D'Une entreprise unique (ou assimilée),<br>-d'un groupement solidaire ou conjoint en
                précisant alors le mandataire et le(s) cotraitant(s), le cas échéant.<br>2° -Le(S) nom(s) du (des)
                sous-traitant(s), le cas échéant<br>3° -l'objet du marché.<BR><I>Capacité économique et financière -
                    références requises&nbsp;:&nbsp;</I>b) attestations ou Declarations:<Br>1° -Une déclaration sur
                l'honneur datée et signée pour justifier qu'il(s) n'entre(nt) dans aucun des cas mentionnés à l'article
                43 du Cmp,<Br>2° -Le chiffre d'affaires global et chiffre d'affaires concernant les fournitures,
                services et travaux auxquels se réfèrent le marché, sur trois ans.<br>c) autres justificatifs dates et
                Signes:<Br>1° - le(S) pouvoir(s) de la (des) personne(s) habilitée(s) à engager la (les) société(s),<br>2°
                -Le(S) pouvoir(s) du (des) cotraitant(s) habilitant le mandataire à signer l'acte d'engagement<br>3° -Le
                cas échéant, copie des jugements prononçant le redressement judiciaire (procédure équivalente régie par
                un droit étranger) et justification d'une habilitation à poursuivre l'activité pendant la durée
                prévisible d'exécution du marché,<br>4° -Production par le candidat d'un (des) contrat(s) de
                sous-traitance ou d'un (des) engagement(s) écrit(s) du (des) sous-traitant(s) pour justifier qu'il
                dispose d'un (des) sous-traitant(s) pour l'exécution du marché, le cas échéant<BR><I>Référence
                    professionnelle et capacité technique - références requises&nbsp;:&nbsp;</I>d) References:<Br>Le
                candidat doit fournir des références permettant d'évaluer ses capacités professionnelles, techniques et
                financières pour réaliser cette opération.<br>ces références pourront être complétées par une liste des
                travaux en cours d'exécution ou exécutés au cours des cinq dernières années, indiquant notamment le
                montant, la date et le destinataire public ou privé.<br>e) Qualifications:<Br>Sans Objet<Br>F) etat des
                moyens de l'entreprise:<br>un état des moyens humains (effectifs et personnels d'encadrement) et
                matériels dont disposera l'entreprise pour l'exécution du marché.<br>g) pour les Sous-Traitants:<Br>Documents
                demandés aux b, c, d et F.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix
                des prestations : 80 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur technique : 15 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;performance
                environnementale : 5 %.<BR>Une enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>appel d'offres ouvert.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>20&nbsp;août&nbsp;2015,&nbsp;à&nbsp;16&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>2014-573.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>retrouvez cet avis intégral, l'accès au dossier et le
                guichet de dépôt sur http://www.achats.yvelines.fr<BR>Marché à tranches conditionnelles<br>il est défini
                que les délais du marché sont fixés comme suit :<Br>Tranches<Br>Ferme : Travaux d'aménagements paysagers
                dont la gestion finale est du ressort du Département - délai 41 mois<br>conditionnelle : Travaux
                d'aménagements paysagers dont la gestion finale est du ressort de la SAPN- délai 41 mois<br>le marché
                comporte 1 délai partiel pour chacune des tranches fixant la durée des travaux de plantations à 2 mois
                suivant l'ordre de service de démarrage des travaux du délai partiel.<br>il est précisé que ces tranches
                comportent chacune une période de préparation de 1 mois non comprise dans le délai d'exécution.<br>la
                date prévisionnelle du démarrage des travaux est prévue au 4<sup>e</sup> trimestre 2015.<br>pour des
                raisons pratiques, l'utilisation des formulaires Dc1 et Dc2 est préconisé. De même il est vivement
                conseillé aux candidats de fournir dans leur candidature, les documents demandés à l'article 46 du
                Cmp.<Br>Les candidats pourront télécharger le dossier de consultation à partir du site
                http://www.achats.yvelines.fr.<BR>Chaque candidat ne pourra remettre d'offres pour la présente
                consultation en agissant à la fois en qualité de candidat individuel et de membre d'un groupement.
                Toutefois, il pourra participer à plusieurs groupements.<br>avant le retrait de DCE, les
                soumissionnaires sont invités à renseigner un formulaire d'identification. Cette procédure est
                obligatoire pour pouvoir déposer le pli.un manuel d'utilisation est également disponible en ligne afin
                de faciliter le maniement de la plateforme.<br>conformément à l'article 56 du CMP, les candidatures et
                les offres peuvent être envoyées par voie électronique sur le site<BR>http://www.achats.yvelines.fr, "
                salle des marchés entreprises ", " réponses aux consultations ".<Br>Les soumissionnaires devront
                disposer des logiciels suivants : Win zip 7.0,msword 2003,ms EXCEL 2003, Acrobat Reader 7.0 et AUTOCAD
                2009 permettant de lire les formats : zip, doc, xls, pdf et dwg.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>2&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I>Conseil général des Yvelines - DRT/ Bureau des Marchés.<BR>&nbsp;1 rue de la
            Patte d'oie, 1<sup>er</sup> étage, porte 131, (du lundi au vendredi de 9&nbsp;heures à 12&nbsp;heures et de
            14&nbsp;heures à 16&nbsp;heures),&nbsp;&nbsp;78012&nbsp;Versailles Cedex.<BR><I>Adresse auprès de laquelle
                des renseignements d'ordre administratif et technique peuvent être obtenus&nbsp;:&nbsp;</I>DRT-ST-Nord-Ouest-
            Subdivision Etudes et Travaux.<BR>&nbsp;1 rue Jean Ferrat,&nbsp;&nbsp;78711&nbsp;Mantes-la-Ville,&nbsp;,
            tél.&nbsp;:&nbsp;01-30-98-29-60,&nbsp;, télécopieur&nbsp;:&nbsp;01-30-92-32-14.<BR><I>Adresse auprès de
                laquelle les documents peuvent être obtenus&nbsp;:&nbsp;</I>Conseil général des Yvelines - DRT/SAJEF :
            Hélène DESNOEL.<BR>&nbsp;1-3 rue de la Patte d'oie - bureau 126, (prévenir 48 h à l'avance en cas de retrait
            sur place), de 9h à 12 h et de 14 h à 17h (16&nbsp;heures le vendredi),&nbsp;&nbsp;78012&nbsp;Versailles
            Cedex,&nbsp;, télécopieur&nbsp;:&nbsp;01-39-07-89-17,&nbsp;, courriel&nbsp;:&nbsp;drt-sajef@yvelines.fr.<p>
                <I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de Versailles&nbsp;56&nbsp;avenue
                de Saint Cloud&nbsp;78011&nbsp;Versailles, tél.&nbsp;:&nbsp;01-39-20-54-00, courriel&nbsp;:&nbsp;greffe.ta-versailles@juradm.fr,
                télécopieur&nbsp;:&nbsp;01-39-20-54-22&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://versailles.tribunal-administratif.fr","TestLien","");'
                    class="lien">http://versailles.tribunal-administratif.fr</A>.</P>
            <P><I>Organe chargé des procédures de médiation&nbsp;:&nbsp;</I>Comité Consultatif Interdépartemental de
                Règlement Amiable des Litiges : Préfecture de la région Ile-de-France&nbsp;préfecture de Paris, 5 rue
                Leblanc Cedex 15&nbsp;75911&nbsp;Paris, tél.&nbsp;:&nbsp;01-82-52-42-67, courriel&nbsp;:&nbsp;ccira@paris-idf.gouv.fr,
                télécopieur&nbsp;:&nbsp;01-82-52-42-95.</P><I>Précisions concernant le(s) délai(s) d'introduction des
                recours : </I>1 - recours en référé pré contractuel pouvant être exercé depuis le début de la procédure
            de passation jusqu'à la signature du marché (art L 551-1 du code de justice administrative) ;<Br>2 - recours
            pour excès de pouvoir formé contre une décision, dans les deux mois à partir de la notification ou de la
            publication de la décision attaquée (art. R 421-1 Cja) ou à partir d'une décision implicite de rejet (art. R
            421-2 Cja) ;<Br>3 - recours de pleine juridiction formé contre la validité du contrat ou certaines de ses
            clauses qui en sont divisibles, dans le délai de 2 mois à compter de la parution de l'avis d'attribution, en
            application de l'arrêt du Conseil d'etat, Assemblée, 4 avril 2014, "Département du Tarn et Garonne"
            n<sup>o</sup>358994 ;<Br>4 - un recours en référé contractuel peut être exercé dans les conditions prévues à
            l'article L 551-13 du code de justice administrative.<BR><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000797&noa=15-102235" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>