<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>44</B><!-- ED=20158184--><BR>Annonce No&nbsp;<B>15-102600</B><BR>Services<!--Région-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Conseil régional des Pays de la
            Loire.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;le président, Région des Pays de la Loire,&nbsp;1 rue de
            la Loire 1 rue de la Loire&nbsp;44966&nbsp;Nantes Cedex 9, tél.&nbsp;:&nbsp;02-28-20-58-38&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.paysdelaloire.fr","TestLien","");'
                               class="lien">http://www.paysdelaloire.fr</A>.<BR>Adresse internet du profil d'acheteur&nbsp;:
            <A HREF='javascript:BMP_openWindow("https://marchespublics.paysdelaloire.fr","TestLien","");' class="lien">https://marchespublics.paysdelaloire.fr</A>.<BR><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>marché d'assistance à maîtrise d'ouvrage HQE pour la
                construction d'un pôle régional de formations mutualisées à Saumur - 49</B>.<BR><I>Catégorie de services&nbsp;:&nbsp;</I>12.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;71241000<br><i>Objets supplémentaires&nbsp;:&nbsp;</i>71242000.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>.<BR><I>Code
                    NUTS : </I>|FR51|.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>le présent marché de prestations
                intellectuelles a pour objet une mission d'assistance à maîtrise d'ouvrage Hqe® depuis l'élaboration du
                dossier du site et du profil environnemental (programme) jusqu'à la fin du délai de bon fonctionnement
                de " parfait achèvement " (soit au moins 1 année après la réception des travaux comprenant une saison de
                chauffe complète) pour la construction d'un Pôle Régional de formations Mutualisées à Saumur (49)<BR><i>Quantités
                    (fournitures et services), nature et étendue (travaux)&nbsp;:&nbsp;</i>le marché s'exécute à compter
                de la notification du marché jusqu'à la réception de la phase 5. <BR>A titre indicatif, le début de
                l'intervention du prestataire est prévu fin septembre 2015 pour une fin envisagée au 2e trimestre
                2020.<BR><I>Refus des variantes</I>.<BR>Prestations divisées en lots : non.<BR><I>Cautionnement et
                    garanties exigés&nbsp;:&nbsp;</I>pour tout marché supérieur à 20 000 euro(s) (H.T.) et d'un délai
                d'exécution supérieur à 2 mois, une avance est versée au titulaire sous réserve de la fourniture d'une
                garantie à première demande.<BR><I>Modalités essentielles de financement et de paiement et/ou références
                    aux textes qui les réglementent&nbsp;:&nbsp;</I>le projet fera l'objet d'un plan de financement
                associant la région des pays de la loire et autres financeurs. <Br>Le mode de règlement choisi par
                l'administration est le virement bancaire.<br>les références du ou des comptes bancaires où les
                paiements seront effectués doivent être précisées dans l'acte d'engagement.<br>le délai maximum de
                paiement ne peut excéder trente jours.<br>le dépassement du délai de paiement ouvre de plein droit et
                sans formalité pour le prestataire du marché ou le sous-traitant le bénéfice d'intérêts moratoires, à
                compter du jour suivant l'expiration du délai.<BR><i>Forme juridique que devra revêtir le groupement
                    d'opérateurs économiques attributaire du marché&nbsp;:&nbsp;</i>les entreprises candidates se
                présentent soit individuellement, soit en groupement.<br>dans le cas d'un groupement conjoint, le
                mandataire devra être solidaire, pour l'exécution du marché, de chacun des membres du groupement pour
                ses obligations contractuelles à l'égard du pouvoir adjudicateur.<br>une même personne ne peut
                représenter plus d'un candidat pour un même marché.<br>dans le cadre d'un groupement, le cotraitant
                disposant de la compétence de " programmiste " assurera le rôle de mandataire.<br>il est interdit aux
                candidats de présenter pour le marché plusieurs offres en agissant à la fois :<Br>En qualité de
                candidats individuels et de membres d'un ou plusieurs groupements ; <Br>En qualité de membres de
                plusieurs groupements.<BR><I>Langues pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>les candidats dont les garanties professionnelles, techniques et
                financières sont insuffisantes seront éliminés.<BR><I>Capacité économique et financière - références
                    requises&nbsp;:&nbsp;</I>une déclaration concernant le chiffre d'affaires global et le chiffre
                d'affaires concernant les services, objet du marché, réalisées au cours des trois derniers exercices
                disponibles<BR><I>Référence professionnelle et capacité technique - références requises&nbsp;:&nbsp;</I>les
                effectifs moyens annuels du candidat en précisant l'importance du personnel d'encadrement pour chacune
                des trois dernières années ;<Br>Le nom, les titres d'études et l'expérience professionnelle des
                responsables et des membres du personnel technique, notamment des responsables de prestations de même
                nature que celle faisant l'objet de la consultation.<br>la présentation d'une liste des principaux
                services effectués au cours des trois dernières années, indiquant le montant, la date et le destinataire
                public ou privé.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Autres
                renseignements demandés&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres renseignements
                demandés : la lettre de candidature, datée et signée - dc1 (jointe au dce mise à jour datée du
                25.08.2014) ou document de forme libre comportant les mêmes informations ;elle spécifie :- le(s) lot(s),
                objet de la candidature ;- le cas échéant, les noms et coordonnées des cotraitants, la répartition des
                prestations entre eux, la forme du groupement, le type de mandat donné au mandataire ; - l'attestation
                sur l'honneur que le candidat n'entre dans aucune des interdictions mentionnées à l'article 43 du code
                des marchés publics.La déclaration du candidat dûment complétée, datée et signée - dc2 (jointe au dce)
                ou document de forme libre comportant les mêmes informations dont notamment : - l'identification, la
                forme juridique et le numéro d'identification de chaque cotraitant (ou motif de non-indication d'un
                numéro d'identification) ;- les chiffres d'affaires hors taxe global et relatif aux prestations
                auxquelles se réfère le marché (des trois derniers exercices disponibles) pour l'ensemble des
                cotraitants.En annexe au dc2, le candidat produira:- les effectifs moyens annuels du candidat en
                précisant l'importance du personnel d'encadrement pour chacune des trois dernières années ;- le nom, les
                titres d'études et l'expérience professionnelle des responsables et des membres du personnel technique,
                notamment des responsables de prestations de même nature que celle faisant l'objet de la consultation ;-
                la présentation d'une liste des principaux services effectués au cours des trois dernières années,
                indiquant le montant, la date et le destinataire public ou privé.- La copie des pouvoirs donnant
                délégation de signature au signataire des documents.Si le candidat fait l'objet d'une procédure de
                redressement judiciaire, ou d'une procédure étrangère équivalente, la copie du ou des jugements
                prononcés à cet effet prouvant que le candidat est autorisé à poursuivre son activité au-delà de la
                durée du marché.<BR>l'acte d'engagement et son annexe datés, complétés et signés par la personne
                habilitée et portant le cachet du candidat, qui constitue l'offre proprement dite.<br>le mémoire
                technique décrit à l'article 2.6 du présent document.<br>la ventilation du temps d'intervention par
                phase et par catégorie de personnels.<br>le ccap.<br>le cctp.<br>dans le cas où les candidats se
                présenteraient sous la forme d'un groupement, chaque membre du groupement fournira les pièces 3 à 5
                mentionnées ci-dessus à l'exception de la lettre de candidature (dc1) remplie en un seul exemplaire par
                tous les membres du groupement.<br>dans le cas où le candidat présenterait dès la candidature des
                sous-traitants, il devra produire une déclaration de sous-traitance (formulaire DC&nbsp;4 joint au dce
                ou document de forme libre comportant les mêmes informations). Les sous-traitants devront justifier de
                leurs capacités professionnelles et financières et attester qu'ils ne tombent pas sous le coup d'une
                interdiction d'accéder aux marchés publics (fournir les pièces n<sup>o</sup> 3 à 5).<BR><I>Critères
                    objectifs de limitation du nombre de candidats&nbsp;:&nbsp;</I>après une première analyse des offres
                sur la base des critères de jugement énoncés au règlement de la consultation, le pouvoir adjudicateur
                établit un classement et se réserve la possibilité d'ouvrir une phase de négociation, conformément à
                l'article 28 du code des marchés publics, avec, le ou les candidats dont les offres seront les mieux
                classées.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;la
                pertinence du mémoire technique : 40 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;le prix global et
                forfaitaire : 40 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;la pertinence de la ventilation du temps
                d'intervention par phase et par catégorie de personnels précisant le nombre total d'heures, hors
                déplacement : 20 %.<BR>Une enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>28&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;13&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>SMOBA-CAMPUSSAUMUR-PROG.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>l'assistance au choix du maître d'&oelig;uvre rend
                incompatible la mission de l'amo-programmiste avec celle du maître d'&oelig;uvre chargé, ultérieurement,
                de la conception et de l'exécution des travaux : le candidat retenu ne pourra donc pas postuler lors de
                la consultation pour le marché de maîtrise d'&oelig;uvre.<BR>conformément aux articles 48 et 56 du Code
                des marchés publics, la présente consultation fait l'objet d'une procédure dématérialisée. Cette
                procédure permet aux candidats, via le site internet https://marchespublics.paysdelaloire.fr/ :<Br>-
                d'accéder à la " plateforme " de dématérialisation des procédures de marchés publics lancée par la
                Région Pays de la Loire ;<Br>- de télécharger l'avis de publicité, le règlement de la consultation et le
                dossier de consultation des entreprises ;<Br>- de poser des questions ou solliciter des documents
                complémentaires ;<Br>- de déposer leurs documents de candidature et d'offre par voie électronique sur la
                plateforme, ce qui constituera " une offre dématérialisée ".
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>2&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I>Région des Pays de la Loire DFCM Service des marchés publics - bureau
            C209.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>Mme&nbsp;Guilbaud Karine,&nbsp;&nbsp;1 rue de la Loire,&nbsp;&nbsp;44966&nbsp;Nantes
            Cedex 9,&nbsp;, tél.&nbsp;:&nbsp;02-28-20-58-38,&nbsp;&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://marchespublics.paysdelaloire.fr","TestLien","");'
                    class="lien">https://marchespublics.paysdelaloire.fr</A>.<BR><I>Adresse auprès de laquelle des
                renseignements complémentaires peuvent être obtenus&nbsp;:&nbsp;</I>Région des Pays de la Loire DFCM
            Service des marchés publics.<BR>&nbsp;1 rue de la Loire,&nbsp;&nbsp;44966&nbsp;Nantes Cedex 9,&nbsp;&nbsp;adresse
            internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://marchespublics.paysdelaloire.fr","TestLien","");'
                    class="lien">https://marchespublics.paysdelaloire.fr</A>.<BR><I>Adresse auprès de laquelle les
                documents peuvent être obtenus&nbsp;:&nbsp;</I>Région des pays de la loire service des marchés
            publics.<BR>&nbsp;1 rue de la Loire,&nbsp;&nbsp;44966&nbsp;Nantes Cedex 9,&nbsp;, tél.&nbsp;:&nbsp;02-28-20-58-38,&nbsp;,
            courriel&nbsp;:&nbsp;demandedce@paysdelaloire.fr,&nbsp;&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://marchespublics.paysdelaloire.fr/?page=entreprise.EntrepriseAdvancedSearch&AllCons&refConsultation=10989&orgAcronyme=t5y","TestLien","");'
                    class="lien">https://marchespublics.paysdelaloire.fr/?page=entreprise.EntrepriseAdvancedSearch&AllCons&refConsultation=10989&orgAcronyme=t5y</A>.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal adminitrastif de nantes&nbsp;6
                allée de l'ile Gloriette&nbsp;44041&nbsp;Nantes Cedex 9, tél.&nbsp;:&nbsp;02-40-99-46-00, courriel&nbsp;:&nbsp;greffe.ta-nantes@juradm.fr,
                télécopieur&nbsp;:&nbsp;02-40-99-46-58&nbsp;adresse internet&nbsp;: <A
                        HREF='javascript:BMP_openWindow("http://nantes.tribunal-administratif.fr","TestLien","");'
                        class="lien">http://nantes.tribunal-administratif.fr</A>.</P>
            <P><I>Organe chargé des procédures de médiation&nbsp;:&nbsp;</I>Comité consultatif interrégional de
                règlement amiable des litiges relatifs aux marchés publics de nantes&nbsp;dirrecte - immeuble Skyline 22
                mail Pablo Picasso&nbsp;44042&nbsp;Nantes Cedex 1, tél.&nbsp;:&nbsp;02-53-46-79-14, télécopieur&nbsp;:&nbsp;02-53-46-79-98.
            </P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Tribunal
                adminitrastif de nantes&nbsp;6 allée de l'ile Gloriette&nbsp;44041&nbsp;Nantes Cedex 9, tél.&nbsp;:&nbsp;02-40-99-46-00,
                courriel&nbsp;:&nbsp;greffe.ta-nantes@juradm.fr, télécopieur&nbsp;:&nbsp;02-40-99-46-58&nbsp;adresse
                internet&nbsp;: <A
                        HREF='javascript:BMP_openWindow("http://nantes.tribunal-administratif.fr","TestLien","");'
                        class="lien">http://nantes.tribunal-administratif.fr</A>.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3001162&noa=15-102600" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>