<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=50--><BR>Département(s) de
            publication : <B>42</B><!-- ED=20158183--><BR>Annonce No&nbsp;<B>15-101944</B><!--Commune--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Ville de Riorges.<BR>&nbsp;Correspondant&nbsp;:&nbsp;
            M.&nbsp;le maire,&nbsp;service des marchés publics, 411 rue Pasteur&nbsp;42153&nbsp;Riorges, tél.&nbsp;:&nbsp;04-77-23-62-62,
            télécopieur&nbsp;:&nbsp;04-77-70-26-69, courriel&nbsp;:&nbsp;service.finances@riorges.fr&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.riorges.fr","TestLien","");' class="lien">http://www.riorges.fr</A>.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.riorges.fr","TestLien","");' class="lien">http://www.riorges.fr</A>.<BR><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>réfection et aménagement de la rue Joseph Fouilland</B>.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;45233000.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>travaux préparatoires, de VRD, de
                terrassement et de mise en accessibilité des arrêts de bus<BR><I>Des variantes seront-elles prises en
                    compte: </I>oui.<BR>Prestations divisées en lots : non.<BR><I>Cautionnement et garanties exigés&nbsp;:&nbsp;</I>une
                retenue de garantie de 5% sera exercée sur les acomptes.<BR><I>Modalités essentielles de financement et
                    de paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>financé par le budget
                principal de la commune.<BR><I>Langues pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix
                des prestations : 40 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur technique de l'offre : 40 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;moyens
                mis en place pour le développement durable : 20 %.<BR>Une enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>appel d'offres ouvert.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>17&nbsp;août&nbsp;2015,&nbsp;à&nbsp;17&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i>
            <P><I>Renseignements complémentaires&nbsp;:&nbsp;</I>retrouvez cet avis intégral, l'accès au dossier et le
                guichet de dépôt sur http://www.riorges.fr<BR>Les travaux pourront être réalisés à partir d'octobre 2015
                pour une durée estimée de trois semaines.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>2&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I>Ville de Riorges : service des marchés publics.<BR>&nbsp;411 rue Pasteur,&nbsp;&nbsp;42153&nbsp;Riorges.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre technique peuvent être obtenus&nbsp;:&nbsp;</I>Ville de
            Riorges : service des marchés publics.<BR>&nbsp;411 rue Pasteur,&nbsp;&nbsp;42153&nbsp;Riorges,&nbsp;, tél.&nbsp;:&nbsp;04-77-23-62-75,&nbsp;,
            télécopieur&nbsp;:&nbsp;04-77-70-26-69,&nbsp;, courriel&nbsp;:&nbsp;service.finances@riorges.fr.<p><I>Instance
                chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de Lyon&nbsp;184, rue
                Duguesclin Cedex 03&nbsp;69433&nbsp;Lyon, tél.&nbsp;:&nbsp;04-78-14-10-10, courriel&nbsp;:&nbsp;greffe.ta-lyon@juradm.fr,
                télécopieur&nbsp;:&nbsp;04-78-14-10-65.</P><I>Précisions concernant le(s) délai(s) d'introduction des
                recours : </I>référé précontractuel : du début de la procédure jusqu'à la signature de marché.<br>référé
            contractuel : ouvert pendant un délai de un mois à compter de la parution de l'avis d'attribution annonçant
            la conclusion du marché, et de six mois dans le cas contraire.<br>recours pour excès de pouvoir : dans les 2
            mois à compter de la publication de l'acte détachable du contrat.<br>recours de pleine juridiction : par
            tout candidat évincé dans un délai de 2 mois à compter de la parution de l'avis d'attribution.<BR><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000506&noa=15-101944" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>