<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>91</B><!-- ED=20158182--><BR>Annonce No&nbsp;<B>15-101172</B><BR>Services<!--Etat-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>MINDEF/EMA/SCA/PFAF-IDF.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;Chaffard-Luçon
            Eric, Crg2,&nbsp;base des Loges - 8,&nbsp;avenue du président Kennedy - B.P.&nbsp;40202&nbsp;78102&nbsp;Saint-Germain-en-Laye
            Cedex, tél.&nbsp;:&nbsp;01-39-21-35-19, télécopieur&nbsp;:&nbsp;01-39-21-26-20.<BR><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Défense.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>entretien des espaces verts et extérieurs du terrain
                d'exercice de Linas - montlhéry</B>.<BR><I>Catégorie de services&nbsp;:&nbsp;</I>27.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;77310000.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>gsbdd Montlhéry,&nbsp;91315&nbsp;Montlhéry.<BR><I>Code
                    NUTS : </I>|FR10|.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>entretien des espaces verts et extérieurs
                du terrain d'exercice de Linas - montlhéry.<Br>Le marché relève de l'article 30 du code des marchés
                publics (Cmp). La prestation comporte un lot unique et donne lieu à l'attribution d'un marché à bons de
                commande défini à l'article 77 du CMP. Le marché est passé pour une première période débutant à la date
                de notification et se terminant au 30 juin de l'année de (N+1). Le marché est renouvelable par
                reconduction expresse pour : - une deuxième période débutant le 1<sup>er</sup> juillet N+1 et se
                terminant le 30 juin N+2 ; - une troisième période débutant le 1<sup>er</sup> juillet N+2 et se
                terminant le 30 juin N+3 ; - une quatrième période débutant le 1<sup>er</sup> juillet N+3 et se
                terminant le 30 juin N+4 ; - une dernière période débutant le 1<sup>er</sup> juillet N+4 et se terminant
                la veille de la date anniversaire (N+4) de notification. La durée du marché ne peut excéder 4 ans.
                Les<Br>Montants minimum et maximum en EUR hors taxes pour un an sont les suivants : montant minimum 50
                000 EUR, maximum 150 000 Eu<BR><I>Refus des variantes</I>.<BR>Prestations divisées en lots : non.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>.<BR>à compter du 1.e.r&nbsp;janvier&nbsp;2016 et
                jusqu'au 31&nbsp;décembre&nbsp;2019.<BR><I>Modalités essentielles de financement et de paiement et/ou
                    références aux textes qui les réglementent&nbsp;:&nbsp;</I>le mode de financement est le mandat
                administratif par le directeur départemental des finances publiques des Yvelines. Les sommes dues en
                exécution du marché sont payées dans un délai de 30 jours. Le mode de financement se fait sur les
                ressources propres de l'état.<BR><i>Forme juridique que devra revêtir le groupement d'opérateurs
                    économiques attributaire du marché&nbsp;:&nbsp;</i>les entreprises peuvent présenter leurs
                candidatures ou leur offre groupée sous forme conjointes ou solidaires dans les conditions définies à
                l'article 51 du CMP. Un mandataire ne peut représenter plus d'un groupement d'entreprise (art 51-4 du
                Cmp). En cas de groupement conjoint, l'acte d'engagement est un document unique qui indique le montant
                et la répartition détaillée des prestations exécutées par chaque membre du groupement. En cas de
                groupement solidaire, l'acte d'engagement est un document unique qui indique le montant total du marché
                et l'ensemble des prestations que les membres du groupement s'engagent solidairement à réaliser. La
                personne publique imposera la transformation d'un groupement en groupement solidaire après l'attribution
                du marché dans le cadre d'une mise au point.<BR><I>L'exécution du marché est soumise à d'autres
                    conditions particulières : </I>non.<BR><I>Langues pouvant être utilisées dans l'offre ou la
                    candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I>
            <P><I>Marché réservé :&nbsp;</I>non.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).<BR>Une enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>27&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;11&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>180 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>CCP_15-20.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>il s'agit d'un appel à candidatures. Aucun dossier de
                candidature n'est demandé à ce stade.<br>le dossier de consultation aux entreprises (Dce) sera transmis
                aux candidats s'étant fait connaître dans les délais impartis.<br>les demandes de participation à la
                procédure (candidatures) doivent être transmises :<Br>- par mail à l'adresse suivante :
                pfaf-idf-cop.ach.fct@intradef.gouv.fr<br>ou<br>- par télécopieur au 01 39 21 33 31.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>1.e.r&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I>PFAF-IDF/BAP/COP.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>Mme&nbsp;Laudier
            Patricia,&nbsp;&nbsp;bases des Loges - 8,&nbsp;avenue du président Kennedy - B.P.&nbsp;40202,&nbsp;&nbsp;78102&nbsp;Saint-Germain-en-Laye
            Cedex,&nbsp;, tél.&nbsp;:&nbsp;01-39-21-33-30,&nbsp;, télécopieur&nbsp;:&nbsp;01-39-21-33-31,&nbsp;,
            courriel&nbsp;:&nbsp;pfaf-idf-cop.ach.fct@intradef.gouv.fr.<BR><I>Adresse auprès de laquelle les documents
                peuvent être obtenus&nbsp;:&nbsp;</I>PFAF-IDF/BAP/COP.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>
            Laudier Patricia,&nbsp;&nbsp;bases des Loges - 8,&nbsp;avenue du président Kennedy - B.P.&nbsp;40202,&nbsp;&nbsp;78102&nbsp;Saint-Germain-en-Laye
            Cedex,&nbsp;, tél.&nbsp;:&nbsp;01-39-21-33-30,&nbsp;, télécopieur&nbsp;:&nbsp;01-39-21-33-31,&nbsp;,
            courriel&nbsp;:&nbsp;pfaf-idf-cop.ach.fct@intradef.gouv.fr.<p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal
                administratif de Versailles&nbsp;56,&nbsp;avenue de Saint-Cloud&nbsp;78011&nbsp;Versailles, tél.&nbsp;:&nbsp;01-39-20-54-00,
                courriel&nbsp;:&nbsp;greffe.ta-versailles@juradm.fr, télécopieur&nbsp;:&nbsp;01-39-20-54-22.</P>
            <P><I>Organe chargé des procédures de médiation&nbsp;:&nbsp;</I>Comité consultatif départemental des
                règlements à l'amiable des litiges relatifs aux marchés public&nbsp;5, rue Leblanc&nbsp;75911&nbsp;Paris
                Cedex 15, tél.&nbsp;:&nbsp;01-44-42-63-43, courriel&nbsp;:&nbsp;ccira@ile-de-france.pref.gouv.f,
                télécopieur&nbsp;:&nbsp;01-44-42-63-37.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Direction
                des affaires juri-diques - bureau du contentieux et domanial&nbsp;26, boulevard Victor&nbsp;75015&nbsp;Paris,
                tél.&nbsp;:&nbsp;01-45-52-65-45, télécopieur&nbsp;:&nbsp;01-45-52-55-40.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2999734&noa=15-101172" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>