<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>84</B><!-- ED=20158182--><BR>Annonce No&nbsp;<B>15-100762</B><BR>Travaux<!--Commune-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Ville de Sorgues.<BR>&nbsp;Correspondant&nbsp;:&nbsp;
            LAGNEAU Thierry, Maire,&nbsp;route d'entraigues B.P.&nbsp;20310&nbsp;84706&nbsp;Sorgues, tél.&nbsp;:&nbsp;04-90-39-71-00,
            télécopieur&nbsp;:&nbsp;04-84-25-80-28, courriel&nbsp;:&nbsp;a.garavelloni@sorgues.fr.<BR>Le pouvoir
            adjudicateur n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s) Activité(s) du
                pouvoir adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>travaux d'etancheite dans les ecoles elsa triolet et frederi
                mistral</B>.<BR><I>Type de marché de travaux&nbsp;:&nbsp;</I> exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;45261420.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>.<BR><I>Code NUTS : </I>|FR826|.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>la durée d'exécution du marché est fixée
                à 4 semaines à compter de l'ordre de service de démarrage des travaux.<br>a titre indicatif, les travaux
                se dérouleront semaines 33,34,35 et 36.<br>l'ordre de service prescrivant de commencer les travaux sera
                notifié à l'entrepreneur titulaire. Le délai d'exécution court à compter de la date fixée dans l'ordre
                de service.<br>en cas de dépassement du délai d'exécution, il sera fait application d'une pénalité en
                application des dispositions du CCAP<BR><i>Options : descriptions concernant les achats complémentaires&nbsp;:&nbsp;</i>le
                dossier de consultation comporte deux Pse.<Br>Pse n<sup>o</sup>1: Ecole Frédéri Mistral.<Br>Pse
                n<sup>o</sup>2 : Ecole Elsa TRIOLET.<BR><I>Refus des variantes</I>.<BR>La procédure d'achat du présent
                avis est couverte par l'accord sur les marchés publics de l'OMC : oui.<br/><BR>Prestations divisées en
                lots : non.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>28 jours à compter de la notification du
                marché.<BR><I>Cautionnement et garanties exigés&nbsp;:&nbsp;</I>une retenue de garantie de 5 % est
                exercée sur chaque acompte par le comptable assignataire des paiements. Elle est calculée sur le montant
                (T.T.C.), hors variations, des travaux ou prestations réglés par l'acompte.<br>la retenue de garantie
                peut être remplacée par une garantie à première demande, dans les conditions prévues à l'article 102 du
                Code des Marchés Publics. La garantie à première demande est constituée pour un montant équivalent à
                celui de la retenue de garantie. La collectivité refuse le remplacement de la retenue de garantie par
                une caution personnelle et solidaire.<BR><I>Modalités essentielles de financement et de paiement et/ou
                    références aux textes qui les réglementent&nbsp;:&nbsp;</I>mandat administratif - délai de paiement
                30 jours.<br>financement : budget de la commune.<BR><I>L'exécution du marché est soumise à d'autres
                    conditions particulières : </I>non.<BR><I>Langues pouvant être utilisées dans l'offre ou la
                    candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>lettre
                de candidature mentionnant l'identité du candidat, sa forme juridique et les pouvoirs de la personne
                habilitée pour l'engager ainsi que, le cas échéant, les habilitations nécessaires données au mandataire
                du groupement pour représenter ses membres lors de la passation du marché. Le candidat pourra à cet
                effet, utiliser l'imprimé Dc1 dûment complété et signé précisant en cas de groupement conjoint la
                répartition des prestations entre chacun de ses membres par poste technique. Imprimé disponible sur le
                site http-://www.economie.gouv.fr/daj/formulaires-declaration-candidat.<BR>-Déclaration sur l'honneur du
                candidat justifiant qu'il n'entre dans aucun des cas mentionnés à l'article 43 du code des marchés
                publics concernant les interdictions de soumissionner. Le candidat pourra à cet effet, utiliser
                l'imprimé Dc1 et Dc2 dûment complété et signé précisant en cas de groupement conjoint la répartition des
                prestations entre chacun de ses membres par poste technique. Imprimé disponible sur le site
                http-://www.economie.gouv.fr/daj/formulaires-declaration-candidat.<BR>- copie du ou des jugements
                prononcés, si le candidat est en redressement judiciaire<br>- renseignements sur le respect de
                l'obligation d'emploi mentionnée aux articles L5212-1 ; L5212-2 ; L5212-3 ; L5212-4 du code du
                travail.<BR><I>Capacité économique et financière - références requises&nbsp;:&nbsp;</I>-Déclaration
                concernant le chiffre d'affaires global et le chiffre d'affaires concernant les fournitures, services ou
                travaux objet du marché, réalisés au cours des trois derniers exercices disponibles;<br>-déclaration
                appropriée de banques ou preuve d'une assurance contre les risques professionnels<BR><I>Référence
                    professionnelle et capacité technique - références requises&nbsp;:&nbsp;</I>-Déclaration indiquant
                les effectifs moyens annuels du candidat et l'importance du personnel d'encadrement pour chacune des
                trois dernières années;<br>-présentation d'une liste des travaux exécutés au cours des cinq dernières
                années, appuyée d'attestations de bonne exécution pour les travaux les plus importants;<br>-déclaration
                indiquant l'outillage, le matériel et l'équipement technique dont le candidat dispose pour la
                réalisation de marchés de même nature.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur
                technique (au vu du mémoire technique) : 60 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix des
                prestations : 40 %.<BR>Une enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>21&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;16&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>10/2015.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>retrouvez cet avis intégral, l'accès au dossier et le
                guichet de dépôt sur http://marchespublics.ledauphine-legales.com<BR>Criteres d'attributions : Notation
                du critère " prix des prestations " :<Br>La note maximale de 10 sera attribuée à la meilleure offre puis
                affectée du coefficient de pondération. Les autres offres seront notées proportionnellement à la
                meilleure.<br>(10 x (valeur de la meilleure offre / valeur de l'offre)) x 40 %<Br>Notation du critère "
                valeur technique " :<Br>Le critère valeur technique sera apprécié au travers du mémoire technique
                comprenant les valeurs d'appréciation telles que définies à l'article 7.3.<br>chacun des sous-critères
                sera évalué et noté entre 0 et 4 points, ou " absent ou inapproprié " correspond à 0 point et " très
                satisfaisant " correspond à 4 points.<br>de plus, un coefficient de pondération sera appliqué à chacun
                des sous-critères composant la valeur technique comme suit :<Br>Moyens matériels et techniques affectés
                au chantier 25%<br>dispositions prises en matière de sécurité du chantier 10%<br>dispositions prises en
                matière de gestion environnementale du chantier 10%<br>fiches techniques concernant les principales
                fournitures et matériaux utilisés 10%<br>méthodologie détaillée des procédés et moyens d'exécution
                envisagés 10%<br>organisation des équipes intervenantes durant les travaux 10-%<br>justification des
                capacités de l'entreprise (ainsi que chacun de ses co-traitants le cas échéant)25%<br>le total des
                sous-critères pondérés sera ramené à une note sur 10 qui servira à l'affectation de la note globale
                pondérée de la valeur technique :<Br>(10 x (valeur de l'offre / valeur de la meilleure offre)) x 60%<br>le
                DCE peut être retiré par voie électronique à l'adresse suivante : www.ledauphine-legales.com. Le DCE
                peut également être retiré à la mairie de Sorgues, Service de la Commande Publique, B.P.&nbsp;20310,
                84706 sorgues Cedex. Tel : 04.90.39.71.88 télécopieur : 04.84.25.80.28.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>30&nbsp;juin&nbsp;2015.</P><I>Adresse
                auprès de laquelle des renseignements d'ordre technique peuvent être obtenus&nbsp;:&nbsp;</I>Mairie de
            Sorgues - Direction des Services Techniques : Christian SAMBUCHI.<BR>&nbsp;route d'entraigues B.P.&nbsp;20310,&nbsp;&nbsp;84706&nbsp;Sorgues,&nbsp;,
            tél.&nbsp;:&nbsp;04-90-39-71-86,&nbsp;, télécopieur&nbsp;:&nbsp;04-84-25-80-28.<BR><I>Adresse auprès de
                laquelle des renseignements d'ordre administratif peuvent être obtenus&nbsp;:&nbsp;</I>Mairie de Sorgues
            - Service commande publique : Anne GARAVELLONI.<BR>&nbsp;route d'entraigues B.P.&nbsp;20310,&nbsp;&nbsp;84706&nbsp;Sorgues,&nbsp;,
            tél.&nbsp;:&nbsp;04-90-39-72-06,&nbsp;, télécopieur&nbsp;:&nbsp;04-84-25-80-28.<p><I>Instance chargée des
                procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de Nîmes&nbsp;16&nbsp;avenue Feuchères, CS
                88010 Cedex 09&nbsp;30941&nbsp;Nîmes, tél.&nbsp;:&nbsp;04-66-27-37-00, courriel&nbsp;:&nbsp;greffe.ta-nimes@juradm.fr,
                télécopieur&nbsp;:&nbsp;04-66-36-27-86.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Tribunal
                administratif de Nîmes : Greffe du Tribunal&nbsp;16&nbsp;avenue Feuchères, CS 88010 Cedex 09&nbsp;30941&nbsp;Nîmes,
                tél.&nbsp;:&nbsp;04-66-27-37-00, courriel&nbsp;:&nbsp;greffe.ta-nimes@juradm.fr, télécopieur&nbsp;:&nbsp;04-66-36-27-86.
            </P><img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2999324&noa=15-100762" width="1"
                     height="1"></td>
    </tr>
</table>
</body>
</html>