<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>55</B><!-- ED=20158187--><BR>Annonce No&nbsp;<B>15-100965</B><!--Département-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Conseil Général de la Meuse.<BR>&nbsp;Correspondant&nbsp;:&nbsp;service
            des Affaires Juridiques,&nbsp;place Pierre François Gossin Bp50514&nbsp;55012&nbsp;Bar-le-Duc, tél.&nbsp;:&nbsp;03-29-45-77-62,
            télécopieur&nbsp;:&nbsp;03-29-45-77-89, courriel&nbsp;:&nbsp;saj@meuse.fr.<BR>Le pouvoir adjudicateur n'agit
            pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s) Activité(s) du pouvoir adjudicateur
                : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>maîtrise d'&oelig;uvre pour la restructuration partielle et
                l'extension du collège Louis de Brogglie à Ancemont (dossier téléchargeable gratuitement jusqu'au 9
                juillet 2015 sur http://profilacheteur.cg55.fr et à partir du 10 juillet 2015 sur
                https://profilacheteur.meuse.fr)</B>.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;71336000.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>département de la
                Meuse.<BR><I>Code NUTS : </I>FR412.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>marché passé en procédure adaptée selon
                les articles 28 et 74 II du code des marchés publics.<Br>Les prestations donneront lieu à un marché
                unique.<Br>Les délais d'exécution des missions confiées au maître d'&oelig;uvre s'inscrivent dans une
                durée prévisionnelle globale de 48 mois<BR><i>Quantités (fournitures et services), nature et étendue
                    (travaux)&nbsp;:&nbsp;</i>le coût estimé des travaux fixé par le maître d'ouvrage est de 1 320 000
                euros (H.T.).<Br>Les missions confiées au maître d'&oelig;uvre sont les suivantes :<Br>Etudes de
                diagnostic / Esquisse (diag / esq)<Br>Etudes d'avant-projet sommaire (Aps)<Br>Etudes d'avant-projet
                définitif (Apd)<Br>Etudes de projet (Pro)<Br>Assistance à la passation des contrats de travaux (Act)<Br>Etudes
                d'exécution et de synthèse (Exe)<Br>Direction de l'exécution des travaux (Det)<Br>Assistance aux
                opérations de réception et pendant la garantie de parfait achèvement (Aor)<Br>Coordination des systèmes
                de sécurité incendie (Ssi)<Br>Ordonnancement coordination et pilotage (Opc).<BR><I>Refus des
                    variantes</I>.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>48 mois à compter de la notification du
                marché.<BR><I>Modalités essentielles de financement et de paiement et/ou références aux textes qui les
                    réglementent&nbsp;:&nbsp;</I>paiement par mandat administratif sous 30 jours et selon les conditions
                fixées dans le cahire des charges.<Br>Financement sur les fonds propres du Département de la
                Meuse.<BR><I>L'exécution du marché est soumise à d'autres conditions particulières : </I>non.<BR><I>Langues
                    pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>- Dc1 - lettre de candidature : habilitation du mandataire par ses
                co-traitants à compléter entièrement par le candidat et à signer.<Br>- dc2 - déclaration du candidat :
                individuel ou du membre du groupement à compléter entièrement par le candidat.<Br>- noti 2- etat annuel
                des certificats reçus : document complété par l'administration fiscale : certificats fiscaux et sociaux
                au 31 décembre de l'année précédant le mois d'envoi de l'avis d'annonce publique à la concurrence ou
                attestation sur l'honneur.<Br>- rc - attestation d'assurance responsabilité civile <Br>- la copie de
                jugement de redressement judiciaire, le cas échéant <Br>- en cas de présentation d'un sous-traitant :
                Fourniture des mêmes documents que ceux demandés pour le candidat et Fourniture d'un engagement écrit du
                sous-traitant (ex. : DC&nbsp;4 contrat de sous-traitance)<Br>- références au cours des 3 dernières
                années : Présentation d'une liste des principaux services effectués au cours des trois dernières années,
                indiquant le montant, la date et le destinataire public ou privé, ou/et les qualifications
                professionnelles du personnel de l'entreprise (diplômes et/ou expériences professionnelles).<Br>- les
                prestations de services sont prouvées par des attestations du destinataire ou, à défaut, par une
                déclaration de l'opérateur économique.<Br>- déclaration d'effectifs : - déclaration indiquant les
                effectifs moyens annuels du candidat et l'importance du personnel d'encadrement pour chacune des trois
                dernières années ;<Br>- certificats de qualifications professionnelles : La preuve de la capacité du
                candidat peut être apportée par tout moyen, notamment par des certificats d'identité professionnelle ou
                des références de services attestant de la compétence de l'opérateur économique à réaliser la prestation
                Le candidat doit présenter une photocopie de son inscription à l'ordre du conseil national des
                architectes.<BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>cf. Ci dessus.<BR><I>Capacité
                    économique et financière - références requises&nbsp;:&nbsp;</I>cf. Ci dessus<BR><I>Référence
                    professionnelle et capacité technique - références requises&nbsp;:&nbsp;</I>cf. Ci dessus.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix
                des prestations : 60 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;moyens humains et techniques : 20 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;délai
                total des missions : 20 %.<BR>Une enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>3&nbsp;août&nbsp;2015,&nbsp;à&nbsp;16&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>15-saj-13.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>les candidats peuvent procéder à une visite des lieux
                d'exécution du marché jusqu'au 3 août 2015.<Br><Br>Pour obtenir les renseignements afin d'effectuer
                cette visite, ils devront s'adresser à :<Br>Département de la Meuse<Br>Service de l'éducation<Br>M.&nbsp;Philippe
                VAUTRIN<Br>Place Pierre François Gossin<Br>B.P.&nbsp;50514<Br>55012 Bar le Duc<Br>Tél. 03 29 45 77 39
                courriel : philippe.vautrin@meuse.fr.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>3&nbsp;juillet&nbsp;2015.</P><I>Adresse
                auprès de laquelle des renseignements d'ordre technique peuvent être obtenus&nbsp;:&nbsp;</I>Département
            de la Meuse<BR>Direction des Routes et Bâtiments<BR>Service Entretien et Travaux Neufs<BR>3 impasse Varinot.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>M.&nbsp;Stéphane
            RITZ,&nbsp;&nbsp;bp30530,&nbsp;&nbsp;55012&nbsp;Bar-le-Duc,&nbsp;, tél.&nbsp;:&nbsp;03-29-77-52-51,&nbsp;,
            courriel&nbsp;:&nbsp;stephane.ritz@meuse.fr.<BR><I>Adresse auprès de laquelle des renseignements d'ordre
                administratif peuvent être obtenus&nbsp;:&nbsp;</I>Département de la Meuse.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>service
            des Affaires Juridiques,&nbsp;&nbsp;place Pierre-François Gossin 1<sup>er</sup> étage - bureau n<sup>o</sup>109
            B.P.&nbsp;50514,&nbsp;&nbsp;55012&nbsp;Bar-le-Duc,&nbsp;, tél.&nbsp;:&nbsp;03-29-45-77-62,&nbsp;,
            télécopieur&nbsp;:&nbsp;03-29-45-77-89,&nbsp;, courriel&nbsp;:&nbsp;saj@meuse.fr,&nbsp;&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://profilacheteur.cg55.fr","TestLien","");'
                               class="lien">http://profilacheteur.cg55.fr</A>.<p><I>Instance chargée des procédures de
                recours&nbsp;:&nbsp;</I>Tribunal Administratif&nbsp;5 place Carrière - case officielle n<sup>o</sup>20038&nbsp;54036&nbsp;Nancy,
                tél.&nbsp;:&nbsp;03-83-17-43-43, courriel&nbsp;:&nbsp;greffe.ta-nancy@juradm.fr, télécopieur&nbsp;:&nbsp;03-83-17-43-50&nbsp;adresse
                internet&nbsp;: <A
                        HREF='javascript:BMP_openWindow("http://nancy.tribunal-administratif.fr","TestLien","");'
                        class="lien">http://nancy.tribunal-administratif.fr</A>.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Tribunal
                Administratif&nbsp;5 place Carrière - case officielle n<sup>o</sup>20038&nbsp;54036&nbsp;Nancy, tél.&nbsp;:&nbsp;03-83-17-43-43,
                courriel&nbsp;:&nbsp;greffe.ta-nancy@juradm.fr, télécopieur&nbsp;:&nbsp;03-83-17-43-50&nbsp;adresse
                internet&nbsp;: <A
                        HREF='javascript:BMP_openWindow("http://nancy.tribunal-administratif.fr","TestLien","");'
                        class="lien">http://nancy.tribunal-administratif.fr</A>.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2999527&noa=15-100965" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>