<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>976</B>,&nbsp;17<!-- ED=20158182--><BR>Annonce No&nbsp;<B>15-101096</B><BR>Travaux
            <!--Etablissement public national--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Conservatoire du littoral.<BR>&nbsp;Correspondant&nbsp;:&nbsp;Mme&nbsp;MAROUILLAT
            Fabienne, Conservatoire du littoral,&nbsp;corderie Royale - B.P.&nbsp;10137&nbsp;17306&nbsp;Rochefort Cedex,
            tél.&nbsp;:&nbsp;05-46-84-72-50, télécopieur&nbsp;:&nbsp;05-46-84-72-78&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.conservatoire-du-littoral.fr/front/process/Outils.asp?rub=16&rubec=16","TestLien","");'
                    class="lien">http://www.conservatoire-du-littoral.fr/front/process/Outils.asp?rub=16&rubec=16</A>.
            <p><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>plantations de plants indigènes et mise en défens de
                parcelles sur les sites de "Cratères de Petite Terre" et "Mangrove de la Baie de Boueni" (976) MAYOTTE
                Marché à bons de commande</B>.<BR><I>Type de marché de travaux&nbsp;:&nbsp;</I> exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;77314000.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>plantations de plants indigènes et mise
                en défens de parcelles sur les sites de "Cratères de Petite Terre" et "Mangrove de la Baie de Boueni"
                (976) MAYOTTE<BR><I>Refus des variantes</I>.<BR>Prestations divisées en lots : oui.<BR>Possibilité de pr&eacute;senter
                une offre pour un ou plusieurs lots.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire à l'appui des candidatures par le candidat, au choix de l'acheteur
                public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration concernant le chiffre
                d'affaires global et le chiffre d'affaires concernant les fournitures, services ou travaux objet du
                marché, réalisés au cours des trois derniers exercices disponibles;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                indiquant les effectifs moyens annuels du candidat et l'importance du personnel d'encadrement pour
                chacune des trois dernières années;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Présentation d'une liste des
                travaux exécutés au cours des cinq dernières années, appuyée d'attestations de bonne exécution pour les
                travaux les plus importants. Ces attestations indiquent le montant, l'époque et le lieu d'exécution des
                travaux et précisent s'ils ont été effectués selon les règles de l'art et menés régulièrement à bonne
                fin;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration indiquant l'outillage, le matériel et
                l'équipement technique dont le candidat dispose pour la réalisation de marchés de même nature;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC1, Lettre de candidature - Habilitation du mandataire par ses co-traitants (disponible à l'adresse
                suivante : http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC2, Déclaration du candidat individuel ou du membre du groupement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4).
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix
                des prestations : 60 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur technique : 40 %.
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>3&nbsp;août&nbsp;2015,&nbsp;à&nbsp;15&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>180 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>15S0051.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>visite des sites obligatoire. Se référer au Règlement
                de consultation<BR>attention ! la limite d'offres est le 03/08/2015 - 16&nbsp;heures heure locale (15&nbsp;heures
                métropole).
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>1.e.r&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I>Conservatoire du littoral - Délégation Outre Mer Antenne de Mayotte.<BR>&nbsp;route
            nationale,&nbsp;&nbsp;97670&nbsp;Coconi.<BR><I>Adresse auprès de laquelle des renseignements d'ordre
                technique peuvent être obtenus&nbsp;:&nbsp;</I>Conservatoire du littoral - Délégation Outre Mer Antenne
            de Mayotte.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>Mme&nbsp;GOUZERH Alice,&nbsp;&nbsp;route nationale,&nbsp;&nbsp;97670&nbsp;Coconi,&nbsp;,
            tél.&nbsp;:&nbsp;02-69-62-32-68,&nbsp;, courriel&nbsp;:&nbsp;mayotte@conservatoire-du-littoral.fr.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre administratif peuvent être obtenus&nbsp;:&nbsp;</I>Conservatoire
            du littoral - Service de la commande publique et des achats
            durables.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>Mme&nbsp;MAROUILLAT Fabienne,&nbsp;&nbsp;corderie Royale
            CS 10137,&nbsp;&nbsp;17306&nbsp;Rochefort Cedex,&nbsp;, tél.&nbsp;:&nbsp;05-46-84-72-50,&nbsp;, courriel&nbsp;:&nbsp;marches.publics-redaction@conservatoire-du-littoral.fr.<BR><I>Adresse
                auprès de laquelle les documents peuvent être obtenus&nbsp;:&nbsp;</I>Conservatoire du littoral -
            Délégation Outre Mer Antenne de Mayotte.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>Mme&nbsp;GOUZERH Alice,&nbsp;&nbsp;route
            nationale,&nbsp;&nbsp;97670&nbsp;Coconi,&nbsp;, tél.&nbsp;:&nbsp;02-69-62-32-68,&nbsp;, courriel&nbsp;:&nbsp;mayotte@conservatoire-du-littoral.fr,&nbsp;&nbsp;adresse
            internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://www.marches-publics.gouv.fr/?page=entreprise.EntrepriseAdvancedSearch&AllCons&refConsultation=259523&orgAcronyme=d4t","TestLien","");'
                    class="lien">https://www.marches-publics.gouv.fr/?page=entreprise.EntrepriseAdvancedSearch&AllCons&refConsultation=259523&orgAcronyme=d4t</A>.
            <p><I>Renseignements relatifs aux lots&nbsp;:&nbsp;</I>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 1.</span> - plantation d'espèces de forêt
                                    demi-sèche et mise en défens de parcelles - site des "Cratères de Petite-Terre".
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Plantation d'espèces de forêt demi-sèche et mise en défens de parcelles
                                    - site des "Cratères de Petite-Terre".
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"><I>Coût estimé (HT) :</I>&nbsp;entre 15 000&nbsp;euros et 110 000&nbsp;euros.<BR>
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : marché à bons de commande sur une durée
                                    de 3 ans maximum.<BR></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;77314000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 2.</span> - plantation d'espèces d'arrière
                                    mangrove et mise en défens de parcelles sur le site de la Mangrove de la Baie de
                                    Boueni.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Plantation d'espèces d'arrière mangrove et mise en défens de parcelles
                                    sur le site de la Mangrove de la Baie de Boueni.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"><I>Coût estimé (HT) :</I>&nbsp;entre 10 000&nbsp;euros et 20 000&nbsp;euros.<BR>
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : marché à bons de commande sur une durée
                                    de 3 ans maximum.<BR></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;77314000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2999658&noa=15-101096" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>