<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>27</B><!-- ED=20158184--><BR>Annonce No&nbsp;<B>15-101714</B><BR>Travaux
            <!--Etablissement public territorial--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Cté de Cnes Eure Madrie
            Seine.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;le président,&nbsp;21 Rue de Tournebut&nbsp;27940&nbsp;Aubevoye,
            tél.&nbsp;:&nbsp;02-32-53-87-00, télécopieur&nbsp;:&nbsp;02-32-53-86-99, courriel&nbsp;:&nbsp;contact@ccems.fr&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.cc-euremadrieseine.fr","TestLien","");'
                               class="lien">http://www.cc-euremadrieseine.fr</A>.<BR>Adresse internet du profil
            d'acheteur&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.mpe27.com","TestLien","");' class="lien">http://www.mpe27.com</A>.<BR>Le
            pouvoir adjudicateur n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s)
                Activité(s) de l'entité adjucatrice : </i> Eau, Communauté de communes.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>travaux d'alimentation en eau potable à
                Saint-Aubin-Sur-Gaillon, rue du Cou d'ane et rue du Bois de la Fosse</B>.<BR><I>Type de marché de
                travaux&nbsp;:&nbsp;</I> exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;44161200.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>.<BR><I>Code NUTS : </I>FR231.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>la présente procédure adaptée ouverte est
                soumise aux dispositions de l'article 146 du code des marchés publics.<Br>Travaux d'alimentation en eau
                potable à st aubin sur gaillon rue de Cou d'ane, rue du Bois de la Fosse.<Br><Br>Terrassement,
                canalisation, maçonneries et ouvrages de génie civil, accessoires de robinetterie et de fontainerie,
                branchements particuliers.<Br>Le candidat peut présenter une ou plusieurs variantes, sous réserve des
                dispositions suivantes:<Br>Le candidat doit obligatoirement remplir un acte d'engagement pour l'offre de
                base.<Br><Br>Le pouvoir adjudicateur ne limite pas le nombre de variantes pouvant être déposées par
                chaque candidat.<Br><Br>Les spécifications du cahier des charges pouvant faire l'objet de variantes sont
                :<Br>Seules les variantes sur la nature des canalisations sont acceptées<BR><I>Des variantes
                    seront-elles prises en compte: </I>oui.<BR>Prestations divisées en lots : non.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I>
            <P><I>Marché réservé :&nbsp;</I>non.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire à l'appui des candidatures par le candidat, au choix de l'acheteur
                public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration concernant le chiffre
                d'affaires global et le chiffre d'affaires concernant les fournitures, services ou travaux objet du
                marché, réalisés au cours des trois derniers exercices disponibles;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Présentation
                d'une liste des travaux exécutés au cours des cinq dernières années, appuyée d'attestations de bonne
                exécution pour les travaux les plus importants. Ces attestations indiquent le montant, l'époque et le
                lieu d'exécution des travaux et précisent s'ils ont été effectués selon les règles de l'art et menés
                régulièrement à bonne fin;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire DC1, Lettre de candidature
                - Habilitation du mandataire par ses co-traitants (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC2, Déclaration du candidat individuel ou du membre du groupement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4).<br/><br/><i>Autres
                    renseignements demandés&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres
                renseignements demandés : <BR>- un extrait de l'inscription au registre du commerce et des sociétés
                (Kbis);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres renseignements demandés : - Liste de certificats
                de capacité et de qualifications.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix
                des prestations : 40 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur technique : 60 %.
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>26&nbsp;août&nbsp;2015,&nbsp;à&nbsp;11&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i>
            <P><I>Renseignements complémentaires&nbsp;:&nbsp;</I>les coordonnées du service chargé de la consultation
                sont les suivantes :<Br>Service administratif<Br>Communaute de communes eure madrie seine<Br>21 Rue de
                Tournebut<Br>27940 aubevoye<Br>No de téléphone : 02.32.53.87.00<Br>No de télécopie : 02.32.53.86.99<Br>E.Mail
                : contact@ccems.fr<Br>Les dossiers de consultation peuvent être retirés sur le site www.mpe27.com.<Br>(Horaires
                d'ouverture de la CCEMS : 9 heures à 12 heures - 14 heures à 17 heures, fermeture exceptionnelle de la
                CCEMS le lundi 13 juillet 2015, réouverture le mercredi 15 juillet à 09&nbsp;heures)<Br>Le dépôt des
                offres peut se faire :<Br>- sur le site internet www.mpe27.com<Br>- par voie postale (CCEMS - 21 Rue de
                Tournebut - bp20 - 27940 Aubevoye)<Br>- ou remise au service administratif de la CCEMS à l'adresse
                suivante : 21 Rue de Tournebut 27940 aubevoye. <Br>La notation s'établira sur les éléments suivants :
                <br><br>- le descriptif détaillé de la provenance des principales fournitures avec les caractéristiques
                de chaque produit, ainsi que les références des fournisseurs correspondants, répondant aux attentes du
                CCTP notamment en termes de normes et d'acs (Noté sur 3)<br><br>- un programme d'exécution des ouvrages
                indiquant les différents moyens mis en &oelig;uvre en matériel et en personnel (avec CV et expériences
                des interlocuteurs sur le chantier), (Noté sur 3)<br><br>- une note descriptive indiquant les conditions
                d'exécution, les principales mesures prévues pour assurer la gestion des déchets, hygiène et sécurité,
                la sécurité du chantier, ainsi que les plans réglementaires de signalisation, etc ..., (Noté sur
                2)<br><br>- une note méthodologique expliquant les dispositions prises pour assurer la qualité des
                travaux, la gestion phase travaux (du délai d'un planning de phasage, gestion de la coactivité avec le
                SIEGE, ainsi que les plans réglementaires de signalisation (signalisation au sol, signalisation
                verticale, signalisation lumineuse...), accès aux riverains et communication), (Noté sur 12).
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>le dépôt des offres peut se faire :<Br>-
                sur le site internet www.mpe27.com<Br>- par voie postale (CCEMS - 21 Rue de Tournebut - bp20 - 27940
                Aubevoye)<Br>- ou remise au service administratif de la CCEMS à l'adresse suivante : 21 Rue de Tournebut
                27940 AUBEVOYE (Horaires d'ouverture de la CCEMS : 9 heures à 12 heures - 14 heures à 17 heures ;
                fermeture exceptionnelle le lundi 13 juillet 2015 réouverture le 15 juillet 2015 à 09 heures).
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>2&nbsp;juillet&nbsp;2015.</P>
            <P><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>M.&nbsp;le président du tribunal
                administratif de Rouen&nbsp;53&nbsp;avenue Gustave Flaubert&nbsp;76000&nbsp;Rouen, tél.&nbsp;:&nbsp;02-32-08-12-70,
                courriel&nbsp;:&nbsp;greffe.ta-rouen@juradm.fr, télécopieur&nbsp;:&nbsp;02-32-08-12-71.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>M.&nbsp;le
                président du tribunal administratif de Rouen&nbsp;53&nbsp;avenue Gustave Flaubert&nbsp;76000&nbsp;Rouen,
                tél.&nbsp;:&nbsp;02-32-08-12-70, courriel&nbsp;:&nbsp;greffe.ta-rouen@juradm.fr, télécopieur&nbsp;:&nbsp;02-32-08-12-71.
            </P><img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000276&noa=15-101714" width="1"
                     height="1"></td>
    </tr>
</table>
</body>
</html>