<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>95</B>,&nbsp;75<!-- ED=20158182--><BR>Annonce No&nbsp;<B>15-100813</B><BR>Travaux
            <!--Etat--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Conseil d'Etat.<BR>&nbsp;Correspondant&nbsp;:&nbsp;Mme&nbsp;Redouani
            Emine, conseil d'etat,&nbsp;1 place du Palais Royal&nbsp;75100&nbsp;Paris Cedex 01, télécopieur&nbsp;:&nbsp;01-72-60-56-85&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.conseil-etat.fr","TestLien","");'
                               class="lien">http://www.conseil-etat.fr</A>.<BR>Adresse internet du profil d'acheteur&nbsp;:
            <A HREF='javascript:BMP_openWindow("http://www.marches-publics.gouv.fr","TestLien","");' class="lien">http://www.marches-publics.gouv.fr</A>.<BR>Le
            pouvoir adjudicateur n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> justice administrative.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>travaux de mise en accessibilité aux personnes à mobilité
                réduite (Pmr) du tribunal administratif de Cergy Pontoise</B>.<BR><I>Type de marché de travaux&nbsp;:&nbsp;</I>
                exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45454000<br><i>Objets supplémentaires&nbsp;:&nbsp;</i>45110000<BR>45430000<BR>45420000<BR>45310000.<BR><I>Lieu
                    d'ex&eacute;cution&nbsp;:&nbsp;</I>2-, boulevard de l'hautil,&nbsp;95027&nbsp;Cergy Pontoise.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>la durée du marché est de 5 mois à
                compter de la date de notification du marché.<br>le délai global d'exécution des travaux est de 11
                semaines à compter de la date de notification de l'ordre de service de démarrage des travaux. Ce délai
                comprend la période de préparation de 3 semaines.<BR>le pouvoir adjudicateur engagera, en phase
                d'analyse des offres, des négociations avec les trois meilleurs candidats de chaque lot.<br>le marché
                comporte la prestation supplémentaire suivante:<br>lot n<sup>o</sup>8-prestation supplémentaire
                éventuelle : Revêtements de sols souples complémentaires au rez-de-chaussée.<br>les candidats doivent
                impérativement répondre à la prestation citée ci-dessus, définie dans le cctp ou tout autre descriptif
                technique fourni dans le dossier de consultation des entreprises. Pour le choix d'une offre
                économiquement la plus avantageuse, une offre incomplète sera éliminée. <Br>Les candidats doivent
                obligatoirement effectuer une visite des lieux d'exécution du marché dans les conditions ci après.<br>pour
                visiter le site, il conviendra au préalable de prendre rendez-vous avec :<Br>M.&nbsp;Cédric Gomez,
                Greffier en chef<br>courriel : cedric.gomez@juradm.fr<br> Le certificat de visite, contenu dans le
                dossier de consultation des entreprises, devra obligatoirement être signé par la personne responsable
                des visites et devra être obligatoirement joint à l'offre<BR><I>Refus des variantes</I>.<BR>Prestations
                divisées en lots : oui.<BR>Possibilité de pr&eacute;senter une offre pour un ou plusieurs lots.<BR><I>Cautionnement
                    et garanties exigés&nbsp;:&nbsp;</I>il est prévu une retenue de garantie de 5% qui sera appliquée
                sur chaque demande de paiement.<br>le titulaire pourra remplacer la retenue de garantie par une garantie
                à première demande.<br>le pouvoir adjudicateur n'accepte pas de caution personnelle et solidaire.<br>il
                est rappelé qu'en cas de réserves notifiées au titulaire du contrat et non levées avant la date
                d'expiration du délai de garantie, la retenue de garantie ne sera remboursée ou les personnes ayant
                délivré leur caution ou garantie ne seront libérées que 30 jours après la date de la levée effective de
                ces réserves.<BR><I>Modalités essentielles de financement et de paiement et/ou références aux textes qui
                    les réglementent&nbsp;:&nbsp;</I>les prestations faisant l'objet de cette consultation seront
                financées sur les ressources propres du Conseil d'état.<br>elles seront réglées par un prix global et
                forfaitaire dont la décomposition sera indiquée dans la décomposition du prix global et forfaitaire
                .<Br>Le paiement s'effectuera par mandat administratif, le délai global de paiement ne pouvant excéder
                trente (30) jours.<BR><I>Langues pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I>
            <P><I>Marché réservé :&nbsp;</I>non.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire obligatoirement par le candidat, à l'appui de sa candidature&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Copie
                du ou des jugements prononcés, si le candidat est en redressement judiciaire.<br/><br/><i>Documents à
                    produire à l'appui des candidatures par le candidat, au choix de l'acheteur
                    public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Certificats de qualifications
                professionnelles. La preuve de la capacité du candidat peut être apportée par tout moyen, notamment par
                des certificats d'identité professionnelle ou des références de travaux attestant de la compétence de
                l'opérateur économique à réaliser la prestation pour laquelle il se porte candidat : des certificats
                d'identité ou de qualification professionnelle attestant de la capacité du candidat à assurer la mission
                Ou trois références de prestations significatives effectuées au cours des deux dernières années ou en
                cours de réalisation dans le domaine qui fait l'objet de la consultation et du lot concerné avec
                indication de la nature et des caractéristiques, du montant, de la date d'exécution, et du destinataire
                public ou privé et du maître d'&oelig;uvre (noms et coordonnées). Les prestations sont prouvées par des
                attestations des destinataires ou, à défaut, par une déclaration de l'opérateur économique. Dans le cas
                où la référence concerne un groupement, le candidat devra indiquer clairement sa mission au sein du
                groupement.;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire DC1, Lettre de candidature -
                Habilitation du mandataire par ses co-traitants (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC2, Déclaration du candidat individuel ou du membre du groupement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC&nbsp;4, Déclaration de sous-traitance (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;S'il
                s'appuie, pour présenter sa candidature, sur les capacités professionnelles, techniques et financières
                d'autres opérateurs économiques, le candidat produit les mêmes documents concernant cet opérateur
                économique que ceux qui lui sont exigés par l'acheteur public. Le candidat doit également apporter la
                preuve que chacun de ces opérateurs économiques mettra à sa disposition les moyens nécessaires, pendant
                toute la durée d'exécution du marché public ou de l'accord-cadre;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                les documents fournis par le candidat ne sont pas établis en langue française, ils doivent être
                accompagnés d'une traduction en français, certifiée conforme à l'original par un traducteur
                assermenté.<br/><br/><i>Documents à produire obligatoirement par l'attributaire, avant la signature et
                    la notification du marché public ou de l'accord-cadre (formulaire NOTI1)&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Les
                pièces prévues aux articles D. 8222-5 ou D. 8222-7 et D. 8222-8 du code du travail;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                l'attributaire est établi en France, les attestations et certificats délivrés par les administrations et
                organismes compétents prouvant qu'il a satisfait à ses obligations fiscales et sociales ou un état
                annuel des certificats reçus;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si l'attributaire est établi dans
                un Etat autre que la France, un certificat établi par les administrations et organismes du pays
                d'origine. Lorsqu'un tel certificat n'est pas délivré par le pays concerné, il peut être remplacé par
                une déclaration sous serment, ou dans les Etats où un tel serment n'existe pas, par une déclaration
                solennelle faite par l'intéressé devant l'autorité judiciaire ou administrative compétente, un notaire
                ou un organisme professionnel qualifié du pays;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si les documents
                fournis par le candidat ne sont pas établis en langue française, ils doivent être accompagnés d'une
                traduction en français, certifiée conforme à l'original par un traducteur assermenté.<br/><br/><i>Autres
                    renseignements demandés&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres
                renseignements demandés : un dossier de présentation précisant les effectifs du candidat et l'importance
                du personnel d'encadrement, le matériel et l'équipement technique dont dispose le candidat, et le
                chiffre d'affaires des trois derniers exercices.;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres
                renseignements demandés : kbis (ou équivalent) et délégation de pouvoir Le(S) document(s) attestant des
                pouvoirs de la personne habilitée à engager le candidat ou le membre du groupement : un extrait kbis ou
                équivalent, et si le signataire du marché n'apparaît pas sur le document précédent, une délégation de
                pouvoir signée par la personne habilitée de plein droit à représenter l'entreprise (dont le nom est
                mentionné dans l'extrait kbis ou équivalent) ou, le cas échéant, les pouvoirs successifs permettant de
                faire le lien entre cette personne et le signataire du marché.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).<BR>Une enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>24&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;13&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>160 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>2015-022-DAI-ER.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>le dossier de consultation des entreprises est
                dématérialisé.<br>dossier dématérialisé<br>le dossier de consultation des entreprises est aussi
                disponible au format papier. Les candidats qui le souhaitent peuvent obtenir l'ensemble du dossier de
                consultation des entreprises sous forme papier dans les conditions décrites à la rubrique "dossier non
                dématérialisé" ci-dessous.<br>en application de l'article 56 du code des marchés publics, les
                soumissionnaires auront la possibilité de télécharger les documents dématérialisés du dossier de
                consultation des entreprises, documents et renseignements complémentaires, ainsi que l'avis d'appel
                public à la concurrence le cas échéant, via le site internet https://www.marches-publics.gouv.fr.<BR>Afin
                de pouvoir décompresser et lire les documents mis à disposition, la personne publique invite les
                soumissionnaires à disposer des formats suivants pour faciliter le téléchargement :<Br> Fichiers
                compressés au standard .zip<br>adobe® Acrobat® .pdf<br>rich Text Format .rtf.doc ou .xls ou.ppt.odt,
                .ods, .odp, .odg,<br>le format Dwf<Br>Ou encore pour les images bitmaps .bmp, .jpg, .gif, .png<br>lors
                du téléchargement du dossier de consultation, le candidat est invité à renseigner le nom de l'organisme
                soumissionnaire, le nom de la personne physique téléchargeant les documents et une adresse électronique
                permettant de façon certaine une correspondance électronique, afin qu'il puisse bénéficier de toutes les
                informations complémentaires diffusées lors du déroulement de la présente consultation, en particulier
                les éventuelles précisions ou report de délais.<br>le candidat ne pourra porter aucune réclamation s'il
                ne bénéficie pas de toutes les informations complémentaires diffusées par la plateforme de
                dématérialisation lors du déroulement de la présente consultation, en raison d'une erreur qu'il aurait
                faite dans la saisie de son adresse électronique, ou en cas de suppression de ladite adresse
                électronique ou en cas de téléchargement anonyme.<br>en cas de difficulté quant au téléchargement du
                dossier de consultation des entreprises, le candidat est invité à se rapprocher du support technique :
                bureaumarchespublics@conseil-etat.fr.<br>les candidats sont informés que le pouvoir adjudicateur utilise
                notamment son profil d'acheteur via la plate-forme des achats de l'etat pour communiquer par écrit avec
                les candidats (envoi des réponses aux questions, informations sur les éventuelles modifications
                dudossier de consultation des entreprises, éventuelles demandes de complément des candidatures, etc).
                Des courriels seront donc adressés aux candidats en provenance de l'adresse de messagerie
                nepasrepondre@marches-publics.gouv.fr et contenant un lien de téléchargement permettant à chaque
                candidat d'accuser réception et d'accéder au contenu de ces messages. <Br>Les candidats sont donc
                invités à :<Br>- s'assurer que la configuration de leur boite de messagerie courriel permet de recevoir
                ce type de message ;<Br>- vérifier que ces courriels ne figurent pas dans le dossier "indésirable" ou
                "spam" ;<Br>- accuser réception de chacun de ces envois en cliquant sur le lien de téléchargement
                contenu dans le courriel.<br>dossier non dématérialisé<br>le dossier de consultation des entreprises est
                disponible sur support papier.<br>un exemplaire du dossier de consultation des entreprises sera remis ou
                envoyé aux candidats qui en font la demande.<br>l'envoi du dossier est effectué gratuitement.<br>le
                dossier de consultation des entreprises est à demander par lettre, télécopie ou courriel, en temps utile
                à l'adresse ci-dessous :<Br>Conseil d'état<br>direction de la prospective et des finances<br>bureau des
                marchés<br>1, place du Palais Royal<Br>75100 Paris Cedex 01<br>télécopie : 01.72.60.56.85<br>bureaumarchespublics@conseil-etat.fr<br>le
                dossier sera envoyé au plus tard dans les 3 jours suivant la demande.<br>ou à retirer sur place à
                l'adresse ci-dessous :<Br>Conseil d'état<br>direction de laprospective et des finances<br>bureau des
                marchés<br>98-102, rue de Richelieu<Br>75002 Paris<Br>Conditions de remise des offres ou des
                candidatures : les candidats choisissent librement entre la<br>transmission électronique et l'envoi sur
                un support papier. Envoie papier:<br>- soit être remis en mains propres ou acheminé par un prestataire
                de transport express (Chronopost, <Br>Dhl,<Br>Ups, coursier...), contre récépissé, impérativement à
                l'adresse suivante : Conseil d'etat<br>direction de la prospective et des finances bureau des
                marchés<br>98-102, rue de Richelieu<Br>75002 Paris<Br>Il est précisé que la réception des plis est
                assurée du lundi au vendredi inclus, de 9 heures à 17 <Br>Heures.<Br>- soit, envoyé par la poste par pli
                recommandé avec avis de réception, à l'adresse suivante : <Br>Conseil d'état<br>direction de la
                prospective et des finances bureau des marchés<br>1, place du Palais Royal<Br>75100 PARIS Cedex 01<br>les
                plis doivent parvenir à destination avant les date et heure indiquées sur la page de garde du <Br>Règlement
                de la consultation.<br>envoie dématérialisée:<br>via la plateforme des achats de l'etat conformément au
                règlement de la consultation.<br>date d'envoi.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>30&nbsp;juin&nbsp;2015.</P><I>Adresse
                auprès de laquelle des renseignements complémentaires peuvent être obtenus&nbsp;:&nbsp;</I>Conseil
            d'Etat Direction de la prospective et des finances Bureau des marchés.<BR>&nbsp;1, place du Palais Royal,&nbsp;&nbsp;75100&nbsp;Paris
            Cedex 01,&nbsp;, télécopieur&nbsp;:&nbsp;01-72-60-56-85,&nbsp;, courriel&nbsp;:&nbsp;bureaumarchespublics@conseil-etat.fr,&nbsp;&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.marches-publics.gouv.fr","TestLien","");'
                               class="lien">http://www.marches-publics.gouv.fr</A>.<BR><I>Adresse auprès de laquelle les
                documents peuvent être obtenus&nbsp;:&nbsp;</I><BR>&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://www.marches-publics.gouv.fr/?page=entreprise.EntrepriseAdvancedSearch&AllCons&refConsultation=259423&orgAcronyme=d3f","TestLien","");'
                    class="lien">https://www.marches-publics.gouv.fr/?page=entreprise.EntrepriseAdvancedSearch&AllCons&refConsultation=259423&orgAcronyme=d3f</A>.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de Paris&nbsp;7 rue
                de Jouy 7 rue de Jouy&nbsp;75181&nbsp;Paris Cedex 04, tél.&nbsp;:&nbsp;01-44-59-44-00, courriel&nbsp;:&nbsp;greffe.ta-paris@juradm.fr,
                télécopieur&nbsp;:&nbsp;01-44-59-46-46.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Greffe
                du Tribunal administratif de Paris&nbsp;7 rue de Jouy 7 rue de Jouy&nbsp;75181&nbsp;Paris Cedex 04, tél.&nbsp;:&nbsp;01-44-59-44-00,
                courriel&nbsp;:&nbsp;greffe.ta-paris@juradm.fr, télécopieur&nbsp;:&nbsp;01-44-59-46-46.</P>
            <P><I>Renseignements relatifs aux lots&nbsp;:&nbsp;</I>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 1.</span> - dépose, démolition, installation
                                    de chantier.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Se référer aux prescriptions du CCTP et CCG</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45100000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 2.</span> - carrelage, faience.</td>
                            </tr>
                            <tr>
                                <td class="txt">Se référer aux prescriptions du CCTP et CCG</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45431000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 3.</span> - cloisons, Faux-Plafonds.</td>
                            </tr>
                            <tr>
                                <td class="txt">Se référer aux prescriptions du CCTP et CCG</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45421141.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 4.</span> - menuiseries intérieures.</td>
                            </tr>
                            <tr>
                                <td class="txt">Se référer aux prescriptions du CCTP et CCG</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45421000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 5.</span> - electricité.</td>
                            </tr>
                            <tr>
                                <td class="txt">Se référer aux prescriptions du CCTP et CCG</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45311000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 6.</span> - plomberie, sanitaire.</td>
                            </tr>
                            <tr>
                                <td class="txt">Se référer aux prescriptions du CCTP et CCG</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45330000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 7.</span> - serrurerie, menuiseries
                                    extérieures.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Se référer aux prescriptions du CCTP et CCG</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45421000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 8.</span> - revêtement de sols souple.</td>
                            </tr>
                            <tr>
                                <td class="txt">Se référer aux prescriptions du CCTP et CCG</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45432130.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 9.</span> - peinture.</td>
                            </tr>
                            <tr>
                                <td class="txt">Se référer aux prescriptions du CCTP et CCG</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45442100.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2999375&noa=15-100813" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>