<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>92</B><!-- ED=20158183--><BR>Annonce No&nbsp;<B>15-101324</B><BR>Fournitures
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Ville de Bourg-la-Reine.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;Chevreau
            Jean-Noël,&nbsp;6, boulevard Carnot&nbsp;92340&nbsp;Bourg-la-Reine, tél.&nbsp;:&nbsp;01-79-71-42-60,
            courriel&nbsp;:&nbsp;marches.publics@bourg-la-reine.fr&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.klekoon.com","TestLien","");' class="lien">http://www.klekoon.com</A>.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.klekoon.com","TestLien","");' class="lien">http://www.klekoon.com</A>.
            <p><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>location et maintenance du parc de photocopieurs des
                services et écoles de la Ville</B>.<BR><I>Type de marché de fournitures&nbsp;:&nbsp;</I>
                location.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;30121100<br><i>Objets supplémentaires&nbsp;:&nbsp;</i>50313200<BR>50313100.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>le présent marché a pour objet la
                location, la livraison, l'installation, la mise en service, la maintenance, l'entretien et
                l'administration d'un parc de vingt huit (28) photocopieurs neufs et en cours de production destinés aux
                différents services municipaux et aux écoles publiques de la Ville.<Br>La consultation comprend
                également la fourniture d'un système centralisé de gestion des utilisateurs et des impressions.<br>deux
                à trois photocopieurs supplémentaires pourront être ajoutés dans la première moitié du marché.<br>le
                marché comporte les prestations supplémentaires éventuelles ci après que les candidats devront
                obligatoirement chiffrer : télécopieur, magasin latéral de papier format A4, module de finition,
                monnayeur, tiroir supplémentaire (format A4)<Br>Les candidats pourront également chiffrer le coûit de la
                prestation suivante : module de lecture de badges. Cette dernière ne sera pas prise en compte dans le
                jugement des offres.<br>toute proposition portant notamment sur du matériel autre que dans un état
                totalement neuf et en cours de production sera rejetée<BR><i>Quantités (fournitures et services), nature
                    et étendue (travaux)&nbsp;:&nbsp;</i>vingt huit (28) photocopieurs.<BR><I>Refus des
                    variantes</I>.<BR>Le présent avis correspond à un avis périodique indicatif constituant une mise en
                concurrence.<br/><BR>Prestations divisées en lots : non.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>48 mois à compter de la notification du
                marché.<BR><i>Date&nbsp;prévisionnelle&nbsp;de&nbsp;début&nbsp;des&nbsp;prestations&nbsp;(fournitures/services)&nbsp;:&nbsp;</i>1.e.r&nbsp;décembre&nbsp;2015.<BR><I>Cautionnement
                    et garanties exigés&nbsp;:&nbsp;</I>pas de stipultation particulières.<BR><I>Modalités essentielles
                    de financement et de paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>le
                paiement se fera par virement sous trente (30) jours (article 98 du Code des Marchés Publics), à compter
                de la date de réception de la facture en Mairie.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>-Une déclaration d'intention de soumissionner (Dc1) datée et signée. En cas
                de groupement, chaque membre doit produire le document précité sous peine d'exclusion du groupement.<br>-une
                déclaration du candidat (Dc2) datée et signée.<br>-une déclaration sur l'honneur datée et signée
                attestant que l'entreprise a satisfait à ses obligations fiscales et sociales pour l'année précédant le
                lancement de la consultation ou l'etat Annuel des Certificats reçus (Noti2), situation arrêtée au 31
                décembre 2014.<br>-les documents ou attestations figurant à l'article D.8222 5 du Code du Travail
                (inscription au registre de la profession ou au registre du commerce sous forme d'un extrait
                Kbis).<BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>-La liste des principales
                prestations similaires effectuées uniquement pendant les trois dernières années avec les certificats de
                capacité correspondants.<BR><I>Capacité économique et financière - références requises&nbsp;:&nbsp;</I>-La
                déclaration concernant le chiffre d'affaires global et le chiffre d'affaires concernant les services
                objet du marché réalisé par l'entreprise au cours des trois dernières années (2012, 2013 et 2014)
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix
                : 50 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur technique : 40 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;développement
                durable et environnement : 10 %.
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>10&nbsp;septembre&nbsp;2015,&nbsp;à&nbsp;17&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>90 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>BLR101 MA15035.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>le DCE (Dossier de Consulation) est téléchargeable
                gratuitement sur : http://www.klekoon.com. <BR>Le DCE comprend :<Br>-L'Acte d'engagement (formulaire
                Dc3) et ses annexes suivantes :<Br>-Le " Cadre de Réponses ", annexe n<sup>o</sup>1 à l'ae<br>-le "
                Bordereau de Prix Unitaire ", annexe n<sup>o</sup>2 à l'ae<br>*le document " Estimation Montant Global
                ", annexe n<sup>o</sup>3 à l'ae<br>-le " Mémoire Méthodologique ", annexe n<sup>o</sup>4 à l'ae<br>-le
                Cahier des Clauses Administratives Particulières (Ccap)<Br>-Le Cahier des Clauses Techniques
                particulières (Cctp) et ses deux annexes :<Br>- annexe 1 Types de machines, options et emplacements<br>-
                annexe 2 Statistiques mensuelles des photocopieurs actuels<BR>le dépôt des offres se fera conformément
                aux dispositions de l'article 56 du Code des Marchés Publics, sur le site www.klekoon.com et uniquement
                par voie électronique au plus tard le 10 septembre 2015 à 17 heures.<BR>les candidats peuvent adresser
                en outre une copie de sauvegarde de ces documents, sur support papier accompagné d'un CD Rom.<Br>L'Enveloppe
                portera l'adresse et les mentions suivantes : Ville de Bourg-La-Reine Service Achats - marchés publics
                5, Place Condorcet 92340 Bourg-La-Reine.<Br>Les candidats transmettront cette copie sous pli cacheté
                avec la mention : " Marché de fournitures pour la location et la maintenance des photocopieurs " "Ne pas
                ouvrir" en respectant la date limite de remise des offres, soit au plus tard le 10 septembre 2015 à 17
                heures.<br>l'ensemble des photocopieurs sera installé selon un planning qui devra être établi en
                concertation avec le Service Informatique de la Ville. La mise en ordre de marche sera effectuée par le
                titulaire y compris dans les fonctions de scan et de télécopieur appareil par appareil au moment de
                l'installation technique.<br>en tout état de cause, l'ensemble du système devra être installé et mis en
                fonctionnement le 1<sup>er</sup> décembre 2015.<br>le calendrier de mise en place devra être établi en
                concertation avec le service Informatique et tenir compte du planning deretrait du prestataire actuel
                pour maintenir les services d'impression de la Collectivité.<BR>Les candidats ont la faculté de se
                rendre sur place pour apprécier les conditions d'accès. Les visites devront être organisées via le
                service informatique.<br>les candidats sont alors censés s'être engagés dans le marché en toute
                connaissance de cause.<BR>pour toute question d'ordre technique : Les candidats feront parvenir
                celles-ci exclusivement par le biais du profil acheteur de la Ville sur le sitewww.klekoon.com, au plus
                tard dix(10) jours (dimanche compris) avant la date limite de remise des offres.<br>la collectivité
                déposera sur le profil acheteur, sous cinq (5) jours maximum, les réponses qu'elle peut apporter au
                candidat sous la forme d'une note. <Br>Tous les candidats qui se sont enregistrés au moment du retrait
                du dossier seront informés dès que cette note sera accessible sur le profil acheteur.<br>pour toutes
                questions d'ordre administratif : contacter le Service Achats Marchés Publics<Br>M.&nbsp;Rassay ou M.
                Mesnier (tel 01 79 71 42 60)<br>instance chargée des procédures de recours<br>tribunal administratif de
                Cergy-Pontoise<Br>2-4 boulevard de l'hautil - B.P.&nbsp;30322, 95027 Cergy-Pontoise<Br>Tél. : 01 30 17
                34 00 ; télécopieur : 01 30 17 34 59<br>e-mail : greffe.ta-cergy-pontoise@juradm.fr<br>url:
                http://cergy-pontoise.tribunal-administratif.fr/ta-caa/.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>1.e.r&nbsp;juillet&nbsp;2015.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2999886&noa=15-101324" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>