<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>7</B><!-- ED=20158182--><BR>Annonce No&nbsp;<B>15-100845</B><BR>Travaux<!--Autre-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>ARDECHE HABITAT - OPH DE
            L'ARDECHE.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;Carpentier Samuel, directeur général,&nbsp;7 bis rue
            de la recluse B.P.&nbsp;126&nbsp;07001&nbsp;Privas Cedex 1, tél.&nbsp;:&nbsp;04-75-64-91-29, télécopieur&nbsp;:&nbsp;04-75-64-87-48,
            courriel&nbsp;:&nbsp;commandepublique@ardechehabitat.fr.<BR>Adresse internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://www.achatpublic.com/sdm/ent/gen/index.jsp","TestLien","");'
                    class="lien">https://www.achatpublic.com/sdm/ent/gen/index.jsp</A>.<BR>Le pouvoir adjudicateur
            n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s) Activité(s) du pouvoir
                adjudicateur : </i> Logement et équipements collectifs.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>patrimoine de ardeche habitat<br>travaux d'entretien et de
                refection 2016 - 2017</B>.<BR><I>Type de marché de travaux&nbsp;:&nbsp;</I> exécution.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>.<BR><I>Code
                NUTS : </I>|FR|.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR><I>Refus des variantes</I>.<BR>La
                procédure d'achat du présent avis est couverte par l'accord sur les marchés publics de l'OMC : oui.<br/><BR>Prestations
                divisées en lots : oui.<BR>Possibilité de pr&eacute;senter une offre pour un ou plusieurs lots.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>24 mois à compter de la notification du
                marché.<BR><i>Date&nbsp;prévisionnelle&nbsp;de&nbsp;commencement&nbsp;des&nbsp;travaux&nbsp;:&nbsp;</i>2&nbsp;janvier&nbsp;2016.<BR><I>Modalités
                    essentielles de financement et de paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>dépenses
                payées par des fonds propres prévus au budget d'exploitation. Paiement par mandat administratif dans un
                délai de 30 jours.<BR><I>Langues pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>evaluation de la capacité économique, financière et technique par
                application du décret no 2005-1742 du 30 décembre 2005.<BR><I>Capacité économique et financière -
                    références requises&nbsp;:&nbsp;</I>précisions sur les moyens humains (effectifs et importance du
                personnel d'encadrement) ainsi que sur les moyens techniques et le chiffre d'affaires des 3 années
                antérieures à la consultation<BR><I>Référence professionnelle et capacité technique - références
                    requises&nbsp;:&nbsp;</I>justifications des qualifications professionnelles exemple : Qualibat, ...)
                de l'entreprise ou références équivalentes sur 3 ans (10 ans pour les lots gros &oelig;uvre charpente)
                attestant de la compétence de l'entreprise à réaliser les prestations demandées.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><BR>documents à
                produire pour évaluer les capacités économiques, financières et techniques: se référer au règlement de
                consultation.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>24&nbsp;août&nbsp;2015,&nbsp;à&nbsp;16&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>PAO 32_2015_044.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>des journées de négociation ont été prévues sur la
                période du 15 septembre 2015 au 15 octobre 2015 les mardi et jeudi.<br>les candidats pourront être
                convoqués pour une éventuelle négociation, durant cette période et ces jours-là.<br> Cette négociation
                sera effectivement réalisée en fonction du résultat de l'ouverture des plis.<br>il est donc impératif en
                répondant à cette consultation d'anticiper et de se rendre disponible pendant cette période.<br>un
                télécopieur confirmant la date et l'heure de rendez-vous sera adressé aux personnes concernées la veille
                de l'entretien.<br>le descriptif de l'ensemble du patrimoine actuel d'ardeche HABITAT (communes
                concernées + nombre de logements par commune) se trouve dans : <Br>- une liste des résidences intitulée
                " Tvx_Mbc_2016 nombre lgts par zone",<br>- une carte géographique intitulée " Tvx_Mbc_2016 Carte
                secteurs".<br>les prestations feront l'objet d'un marché à bon de commande passé sans minimum, et avec
                un maximum conformément à l'article 43-i du décret n<sup>o</sup>2005-1742 du 30 Décembre 2005.
            <p><I>Conditions et mode de paiement pour obtenir les documents contractuels et additionnels</I> :<BR>Le
                dossier de consultation des entreprises peut être obtenu soit :<Br>-Accessible gratuitement sur support
                dématérialisé http://ardeche-marchespublics.fr ou http://achatpublic.com.<BR>Afin de pouvoir
                décompresser et lire les documents mis à disposition par le pouvoir adjudicateur, les candidats<br>devront
                disposer des logiciels permettant de lire les formats suivants : zip, pdf, rtf, doc, xls et PPT. Les<Br>Logiciels
                nécessaires sont accessibles et gratuitement téléchargeables sur le site<BR>http://ardechemarchespublics.fr/Logiciels
                ou sur http://www.achatpublic.comen cliquant sur " salle des marchés "<Br>Puis " outils" et " outils
                logiciels ".<Br>- auprès de l'atelier de reprographie contre le paiement des frais (forfait : 20&nbsp;euros
                ) auxquels s'ajouteront les frais de port.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>offres remises contre récépissé à ardeche
                habitat -7 bis rue de la Recluse B.P.&nbsp;126 - 07001 - privas Cedex ou envoi par lettre recommandé
                avec avis de réception. Possibilité de remettre une offre dématérialisée (se référer au règlement de
                consultation).
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>1.e.r&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I>ARDECHE HABITAT.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>M.&nbsp;Carpentier
            Samuel,&nbsp;&nbsp;7 Bis rue de la recluse - B.P.&nbsp;126,&nbsp;&nbsp;07001&nbsp;Privas Cedex,&nbsp;, tél.&nbsp;:&nbsp;04-75-64-91-29,&nbsp;,
            télécopieur&nbsp;:&nbsp;04-75-64-87-48.<BR><I>Adresse auprès de laquelle des renseignements d'ordre
                technique peuvent être obtenus&nbsp;:&nbsp;</I>ARDECHE
            HABITAT.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>M.&nbsp;Bardet Hugues,&nbsp;&nbsp;7 Bis rue de la recluse
            - B.P.&nbsp;126,&nbsp;&nbsp;07001&nbsp;Privas Cedex,&nbsp;, tél.&nbsp;:&nbsp;04-75-64-91-29,&nbsp;,
            télécopieur&nbsp;:&nbsp;04-75-64-87-48,&nbsp;,
            courriel&nbsp;:&nbsp;commandepublique@ardechehabitat.fr.<BR><I>Adresse auprès de laquelle des renseignements
                d'ordre administratif peuvent être obtenus&nbsp;:&nbsp;</I>ARDECHE HABITAT.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>Mme&nbsp;Arsac
            Valérie,&nbsp;&nbsp;7 bis rue de la recluse - B.P.&nbsp;126,&nbsp;&nbsp;07001&nbsp;Privas Cedex,&nbsp;, tél.&nbsp;:&nbsp;04-75-64-91-29,&nbsp;,
            télécopieur&nbsp;:&nbsp;04-75-64-87-48,&nbsp;,
            courriel&nbsp;:&nbsp;commandepublique@ardechehabitat.fr.<BR><I>Adresse auprès de laquelle les documents
                peuvent être obtenus&nbsp;:&nbsp;</I>Imprim'express.<BR>&nbsp;6&nbsp;avenue de Chomérac,&nbsp;&nbsp;07000&nbsp;Privas,&nbsp;,
            tél.&nbsp;:&nbsp;04-75-64-33-36,&nbsp;, télécopieur&nbsp;:&nbsp;04-75-64-79-31,&nbsp;&nbsp;adresse internet&nbsp;:
            <A HREF='javascript:BMP_openWindow("https://www.achatpublic.com/sdm/ent/gen/ent_detail.do?PCSLID=CSL_2015_M0o7dSBIjY","TestLien","");'
               class="lien">https://www.achatpublic.com/sdm/ent/gen/ent_detail.do?PCSLID=CSL_2015_M0o7dSBIjY</A>.<p><I>Instance
                chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de Lyon Palais des juridictions
                administratives&nbsp;184 Rue Duguesclin&nbsp;69433&nbsp;Lyon Cedex 03, tél.&nbsp;:&nbsp;04-78-14-10-10,
                courriel&nbsp;:&nbsp;greffe.ta-lyon@juradm.fr, télécopieur&nbsp;:&nbsp;04-78-14-10-65.</P><I>Précisions
                concernant le(s) délai(s) d'introduction des recours : </I>d'un référé précontractuel jusqu'à la
            signature du marché conformément aux dispositions des articles L. 551-1 et R 551-6 du Code de Justice
            Administrative (Cja),<Br>D'Un référé contractuel après la signature du marché conformément aux articles L.
            551-13 et R. 551-10 du CJA dans un délai de 31 jours à compter de la publication de l'avis d'attribution du
            marché ou à défaut dans un délai de 6 mois à compter de la signature du marché,<br>d'un recours en
            contestation de validité du marché, conformément aux arrêts du Conseil d'etat du 16 juin 2007 et du 4 avril
            2014, dans un délai de 2 mois, à compter de la publication de l'avis d'attribution, assorti le cas échéant
            d'un référé suspension,<br>d'un recours pour excès de pouvoir contre les actes détachables du marché dans un
            délai maximal de deux mois, à compter de la notification de rejet, conformément aux articles R. 421-1 et R.
            421-2 du CJA, assorti le cas échéant d'un référé suspension.<p><I>Renseignements relatifs aux lots&nbsp;:&nbsp;</I>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 1.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">L01a- terrassement, vrd</td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : zone géographique : A <Br>Montant maximum
                                    annuel : 40 000.00 (H.T.).<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 2.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">L01b - terrassement, vrd</td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : zone géographique : P<Br>Montant maximum
                                    annuel : 50 000.00 (H.T.).<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 3.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">L02a - maçonnerie, démolition, gros &oelig;uvre, façade, charpente,
                                    couverture
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : zone géographique : A<Br>Montant maximum
                                    annuel : 28 000.00 (H.T.).<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 4.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">L02b - maçonnerie, démolition, gros &oelig;uvre, façade, charpente,
                                    couverture
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : zone géographique : P<Br>Montant maximum
                                    annuel : 72 000.00 (H.T.).<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 5.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">L03a - étanchéité</td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : zone géographique : A <Br>Montant maximum
                                    annuel : 20 000.00 (H.T.).<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 6.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">L03b - étanchéité</td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : zone géographique : P <Br>Montant maximum
                                    annuel : 20 000.00 (H.T.).<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 7.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">L04a - menuiserie, pvc, bois</td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : zone géographique : Aa<Br>Montant maximum
                                    annuel : 52 000.00 (H.T.).<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 8.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">L04b - menuiserie, pvc, bois</td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : zone géographique : AB <Br>Montant
                                    maximum annuel : 28 000.00 (H.T.).<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 9.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">L04c - menuiserie, pvc, bois</td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : zone géographique : PA <Br>Montant
                                    maximum annuel : 31 000.00 (H.T.).<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 10.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">L04d - menuiserie, pvc, bois</td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : zone géographique : Pb<Br>Montant maximum
                                    annuel : 55 000.00 (H.T.).<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 11.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">L04e - menuiserie, pvc, bois</td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : zone géographique : PC <Br>Montant
                                    maximum annuel : 19 000.00 (H.T.).<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 12.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">L05a - menuiserie métallique, serrurerie, aluminium, soudure</td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : zone géographique : A <Br>Montant maximum
                                    annuel : 17 000.00 (H.T.).<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 13.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">L05b - menuiserie métallique, serrurerie, aluminium, soudure</td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : zone géographique : P<Br>Montant maximum
                                    annuel : 30 000.00 (H.T.).<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 14.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">L06a - plâtrerie, peinture, cloisons, isolation, plafonds suspendus,
                                    faïences
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : zone géographique : Aa<Br>Montant maximum
                                    annuel : 219 000.00 (H.T.).<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 15.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">L06b - plâtrerie, peinture, cloisons, isolation, plafonds suspendus,
                                    faïences
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : zone géographique : Ab<Br>Montant maximum
                                    annuel : 74 000.00 (H.T.).<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 16.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">L06c - plâtrerie, peinture, cloisons, isolation, plafonds suspendus,
                                    faïences
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : zone géographique : PA <Br>Montant
                                    maximum annuel : 233 000.00 (H.T.).<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 17.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">L06d - plâtrerie, peinture, cloisons, isolation, plafonds suspendus,
                                    faïences
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : zone géographique : PB <Br>Montant
                                    maximum annuel : 190 000.00 (H.T.).<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 18.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">L06e - plâtrerie, peinture, cloisons, isolation, plafonds suspendus,
                                    faïences
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : zone géographique : PC <Br>Montant
                                    maximum annuel : 61 000.00 (H.T.).<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 19.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">L07a - revêtements muraux et sols souples, carrelage</td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : zone géographique : A <Br>Montant maximum
                                    annuel : 142 000.00 (H.T.).<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 20.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">L07b - revêtements muraux et sols souples, carrelage</td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : zone géographique : P <Br>Montant maximum
                                    annuel : 187 000.00 (H.T.).<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 21.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">L08a - électricité</td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : zone géographique : AA <Br>Montant
                                    maximum annuel : 22 000.00 (H.T.).<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 22.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">L08b - électricité</td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : zone géographique : AB <Br>Montant
                                    maximum annuel : 31 000.00 (H.T.).<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 23.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">L08c - électricité</td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : zone géographique : PA <Br>Montant
                                    maximum annuel : 25 000.00 (H.T.).<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 24.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">L08d - électricité</td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : zone géographique : PB <Br>Montant
                                    maximum annuel : 43 000.00 (H.T.).<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 25.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">L08e - électricité</td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : zone géographique : PC <Br>Montant
                                    maximum annuel : 16 000.00 (H.T.).<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 26.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">L09a - chauffage, plomberie, sanitaires, zinguerie</td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : zone géographique : AA <Br>Montant
                                    maximum annuel : 64 000.00 (H.T.).<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 27.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">L09b - chauffage, plomberie, sanitaires, zinguerie</td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : zone géographique : AB <Br>Montant
                                    maximum annuel : 100 000.00 (H.T.).<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 28.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">L09c - chauffage, plomberie, sanitaires, zinguerie</td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : zone géographique : Pa<Br>Montant maximum
                                    anpnuel : 101 000.00 (H.T.).<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 29.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">L09d - chauffage, plomberie, sanitaires, zinguerie</td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : zone géographique : PB <Br>Montant
                                    maximum annuel : 213 000.00 (H.T.).<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 30.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">L09e - chauffage, plomberie, sanitaires, zinguerie</td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : zone géographique : PC <Br>Montant
                                    maximum annuel : 45 000.00 (H.T.).<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 31.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">L10a - stores</td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : zone géographique : A <Br>Montant maximum
                                    annuel : 15 000.00 (H.T.).<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 32.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">L10b - stores</td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : zone géographique : P <Br>Montant maximum
                                    annuel : 18 000.00 (H.T.).<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 33.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">L11a - vitrerie</td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : zone géographique : A <Br>Montant maximum
                                    annuel : 12 000.00 (H.T.).<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 34.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">L11b - vitrerie</td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : zone géographique : P <Br>Montant maximum
                                    annuel : 17 000.00 (H.T.).<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 35.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">L12a - télévisions, courants faibles, contrôle d'accès</td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : zone géographique : A <Br>Montant maximum
                                    annuel : 28 000.00 (H.T.).<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 36.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">L12b - télévisions, courants faibles, contrôle d'accès</td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : zone géographique : P <Br>Montant maximum
                                    annuel : 42 000.00 (H.T.).<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 37.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">L13a - éclairage public</td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : zone géographique : A<Br>Montant maximum
                                    annuel : 16 000.00 (H.T.).<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 38.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">L13b - éclairage public</td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : zone géographique : P <Br>Montant maximum
                                    annuel : 24 000.00 (H.T.).<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2999407&noa=15-100845" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>