<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>68</B><!-- ED=20158187--><BR>Annonce No&nbsp;<B>15-101122</B><BR>Travaux
            <!--Etablissement public territorial--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Mulhouse Habitat.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;le
            directeur général,&nbsp;20 Boulevard de la Marseillaise&nbsp;68071&nbsp;Mulhouse Cedex, courriel&nbsp;:&nbsp;service-marches@mulhouse-habitat.fr&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://wwww.mulhouse-habitat.fr","TestLien","");'
                               class="lien">http://wwww.mulhouse-habitat.fr</A>.<BR>Adresse internet du profil
            d'acheteur&nbsp;: <A HREF='javascript:BMP_openWindow("http://mulhouse-habitat.marcoweb.fr","TestLien","");'
                                 class="lien">http://mulhouse-habitat.marcoweb.fr</A>.<BR>Le pouvoir adjudicateur n'agit
            pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s) Activité(s) du pouvoir adjudicateur
                : </i> Logement et équipements collectifs.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>construction de 6 maisons accolées et réhabilitation d'une
                maison alsacienne au 50, 52 Grand Rue à Sausheim</B>.<BR><I>Type de marché de travaux&nbsp;:&nbsp;</I>
                exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45211100.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>sausheim.<BR><I>Code
                    NUTS : </I>FR.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>cette consultation concerne une
                construction de 6 maisons accolées et réhabilitation d'une maison alsacienne à Sausheim.<Br>Le délai
                prévisionnel d'exécution des travaux de l'ensemble des lots est de 12 mois. Démarrage prévisionnel le
                02/11/2015.<Br>Période de préparation de 30 jours incluse dans le délai d'exécution.<Br>Important :Une
                visite sur site est programmée le 09 juillet 2015 à 14&nbsp;heures et le 21 juillet 2015 à 14&nbsp;heures
                afin d'apprécier les contraintes de chantier.<Br>La visite est impérative, tout candidat ne pouvant se
                présenter aux dates et heures fixée ci-avant, devra prendre contact avec Cathy DIEMER (03.89.36.28.55 ;
                cathy.diemer@mulhouse-habitat.fr - absence prévue du 10 juillet au 20 juillet inclus) ou Guillaume
                MIGNOT (03.89.36.28.99 ; guillaume.mignot@mulhouse-habitat.fr) _ se référer au règlement de la
                consultation<BR><I>Refus des variantes</I>.<BR>La procédure d'achat du présent avis est couverte par
                l'accord sur les marchés publics de l'OMC : non.<br/><BR>Prestations divisées en lots : oui.<BR>Possibilité
                de pr&eacute;senter une offre pour un ou plusieurs lots.<BR><I>Cautionnement et garanties exigés&nbsp;:&nbsp;</I>retenue
                de garantie de 5 % du montant du marché pouvant être remplacée par une garantie à première demande (se
                référer au dossier de consultation). Garantie à première demande à concurrence de 100 % du montant de
                l'avance.<BR><I>Modalités essentielles de financement et de paiement et/ou références aux textes qui les
                    réglementent&nbsp;:&nbsp;</I>les travaux seront financés selon les modalités suivantes : Fonds
                propres, subventions de la Ville de Mulhouse, Conseil Général du Haut Rhin, prêts aidés de l'etat
                <Br><Br>Articles 86 à 111 du Code des marchés publics français. Prix global forfaitaire. Révision
                mensuelle.<Br> Règlement des comptes selon modalités du Ccag-Travaux. Décomptes transmis au maître d'&oelig;uvre.
                Délai global de paiement : 30 jours à compter de la date de réception des factures ou des demandes de
                paiement équivalentes.<BR><i>Forme juridique que devra revêtir le groupement d'opérateurs économiques
                    attributaire du marché&nbsp;:&nbsp;</i>groupement conjoint avec mandataire solidaire (se référer au
                règlement de la consultation).<BR><I>L'exécution du marché est soumise à d'autres conditions
                    particulières : </I>non.<BR><I>Langues pouvant être utilisées dans l'offre ou la
                    candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>garanties et capacités techniques et financières<Br>Capacités
                professionnelles.<BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>les renseignements
                concernant la situation juridique de l'entreprise tels que prévus à l'article 44 du Code des marchés
                publics :<Br>- copie du ou des jugements prononcés, si le candidat est en redressement judiciaire ;<Br>-
                déclaration sur l'honneur pour justifier que le candidat n'entre dans aucun des cas mentionnés à
                l'article 43 du CMP ;<Br>- renseignements sur le respect de l'obligation d'emploi mentionnée aux
                articles L. 5212-1 à L. 5212-11 du Code du travail ;<Br>- la lettre de candidature ou formulaire Dc1<Br>-
                la lettre de délégation de pouvoir accordée par les cotraitants au mandataire du groupement.<Br>-
                pouvoir de la personne habilitée à engager la société.<BR><I>Capacité économique et financière -
                    références requises&nbsp;:&nbsp;</I>les renseignements concernant la capacité économique et
                financière de l'entreprise tels que prévus à l'article 45 du Code des marchés publics :<Br>- déclaration
                concernant le chiffre d'affaires global et le chiffre d'affaires concernant les travaux objet du
                contrat, réalisés au cours des trois derniers exercices disponibles ;<Br>- déclaration appropriée de
                banques ou preuve d'une assurance pour les risques professionnels ;<BR><I>Référence professionnelle et
                    capacité technique - références requises&nbsp;:&nbsp;</I>les renseignements concernant les
                références professionnelles et la capacité technique de l'entreprise tels que prévus à l'article 45 du
                Code des marchés publics :<Br>- liste des travaux exécutés au cours des cinq dernières années, appuyée
                d'attestations de bonne exécution pour les travaux les plus importants. Ces attestations indiquent le
                montant, l'époque et le lieu d'exécution des travaux et précisent s'ils ont été effectués selon les
                règles de l'art et menés régulièrement à bonne fin ;<Br>- déclaration indiquant l'outillage, le matériel
                et l'équipement technique dont le candidat dispose pour la réalisation de contrats de même nature.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix
                des prestations : 50 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur technique : 40 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;performances
                en matière d'insertion professionnelle des publics en difficulté : 10 %.<BR>Une enchère électronique ne
                sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>5&nbsp;août&nbsp;2015,&nbsp;à&nbsp;16&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i>
            <P><I>Renseignements complémentaires&nbsp;:&nbsp;</I>le pouvoir adjudicateur préconise la transmission des
                documents par voie papier mais accepte les plis adressés par voie électronique à l'adresse suivante :
                http://mulhouse-habitat.marcoweb.fr. Le choix du mode de transmission est irréversible. Les candidats
                doivent appliquer le même mode de transmission à tous les documents transmis au pouvoir adjudicateur. Se
                référer au règlement de la consultation.<Br><br><br>important :<Br>Conformément à l'arrêté du 14
                décembre 2009 relatif à la dématérialisation des procédures de passation des marchés publics,
                l'identification des opérateurs économiques pour accéder aux documents de la consultation n'est plus
                obligatoire.<Br>Néanmoins, lors du téléchargement du DCE, le soumissionnaire est invité à renseigner une
                adresse électronique ainsi que le nom d'un correspondant afin de pouvoir bénéficier de façon certaine de
                toutes les précisions, réponses aux questions et/ou modifications du DCE susceptibles d'intervenir au
                cours de la présente consultation. Un candidat ayant fourni une adresse e-mail non valide ne pourra
                élever aucune réclamation concernant la non réception des compléments d'information.<Br>Sans être
                authentifié lors du retrait, il vous appartiendra de récupérer ces informations par vos propres moyens.
            <p><I>Conditions et mode de paiement pour obtenir les documents contractuels et additionnels</I> :<BR>Dossier
                remis gratuitement sur demande.<Br>Documents disponibles gratuitement à l'adresse électronique suivante
                : http://mulhouse-habitat.marcoweb.fr ou via www.mulhouse-habitat.fr section "Appel d'offres".<BR><I>Date
                    limite d'obtention</I> : 5&nbsp;août&nbsp;2015, à 16&nbsp;heures.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>utilisation des formulaires Dc1 et Dc2
                impérative<Br>À l'appui de la candidature. Se référer au règlement de la consultation.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>3&nbsp;juillet&nbsp;2015.</P>
            <P><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal Administratif de Strasbourg&nbsp;31&nbsp;avenue
                de la Paix&nbsp;67000&nbsp;Strasbourg.</P><I>Précisions concernant le(s) délai(s) d'introduction des
                recours : </I>se référer au règlement de la<br>consultation.<p><I>Renseignements relatifs aux lots&nbsp;:&nbsp;</I>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 01.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Terrassement - gros &oelig;uvre _ Démolitions</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45223220<br><i>Objets
                                    supplémentaires&nbsp;:&nbsp;</i>45111100<BR>45112500.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 02.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Charpente bois industrialisée _ Charpente traditionnelle</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45261100.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 03.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Couverture _ Zinguerie _ Etanchéité</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45261210<br><i>Objets
                                    supplémentaires&nbsp;:&nbsp;</i>45261420.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 04.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Isolation par l'extérieur _ Ravalement de façade</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45321000<br><i>Objets
                                    supplémentaires&nbsp;:&nbsp;</i>45443000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 05.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Menuiserie extérieure pvc et Acier</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45421000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 06.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Plâtrerie _ Doublage _ Isolation</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45410000<br><i>Objets
                                    supplémentaires&nbsp;:&nbsp;</i>45320000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 07.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Menuiserie intérieure</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45421000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 08.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Serrurerie _ Métallerie</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;44316500.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 09.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Chauffage _ Sanitaire _ Ventilation</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45331000<br><i>Objets
                                    supplémentaires&nbsp;:&nbsp;</i>45332400.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 10.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Infiltrométrie</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;73430000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 11.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Electricité _ Courants faibles</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;71314100.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 12.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Faïence _ Sols pvc _ Chape traditionnelle</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45262321<br><i>Objets
                                    supplémentaires&nbsp;:&nbsp;</i>44112200.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 13.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Peinture _ Nettoyage</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45442100<br><i>Objets
                                    supplémentaires&nbsp;:&nbsp;</i>90910000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 14.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Echafaudage</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45262100.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 15.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Voiries réseaux divers _ Aménagements extérieurs</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;32400000<br><i>Objets
                                    supplémentaires&nbsp;:&nbsp;</i>45112700.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 16.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Panneaux photovoltaïques</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;09331200.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2999684&noa=15-101122" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>