<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center>
            <center><I>Rectificatif</I></center>
            <BR>Département(s) de publication : <B>17</B><!-- ED=20158183--><BR>Annonce No&nbsp;<B>15-101515</B>
            <HR>
            -&nbsp;<!--DEBUTFACT--><I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>RESE.<BR>&nbsp;Correspondant&nbsp;:&nbsp;service
            achats,&nbsp;B.P.&nbsp;30551&nbsp;17119&nbsp;Saintes Cedextél.&nbsp;:&nbsp;05-46-92-39-55courriel&nbsp;:&nbsp;marche.public@rese17.fr.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://marches-securises.fr","TestLien","");' class="lien">https://marches-securises.fr</A>.
            <p><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>achat de vêtements de travail</B>.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>charente-Maritime.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Références de l'avis initial&nbsp;:</i><Br>
            <Table>
                <Tr>
                    <Td class="txt" colspan="2" valign="top"><span>mis en ligne sur le site <A
                            href="http://www.boamp.fr/avis/detail/15-88019/officiel" class="lien" " target="_blank" title="voir la publication sur Boamp.Fr" >www.boamp.fr</a></span>
                        du <B>10/06/2015</B> au <B>31/07/2015</B></Td>
                </Tr>
            </Table>
            <BR/><i>Informations rectificatives :</i>
            <P>Dans la rubrique&nbsp;&nbsp;<I>"variantes"</I>&nbsp;:<BR>Au lieu de&nbsp;:&nbsp;"refus de variantes",&nbsp;ajouter&nbsp;:&nbsp;"variantes
                :<Br><Br>Les candidats doivent présenter une offre de base entièrement régulière au regard du dossier de
                consultation.<Br><Br>Les offres proposant uniquement une variante et ne répondant pas à l'offre de base
                seront éliminées.<Br><Br>Cependant, ils peuvent également présenter, conformément à l'article 50 du Code
                des marchés publics, une ou plusieurs offre(s) comportant des variantes qui doivent respecter les
                exigences minimales détaillées suivantes :<Br>- réponse au besoin fonctionnel détaillé par le CCTP ;
                <Br>- respect des normes et/ou exigences fonctionnelles minimales décrites dans le cctp.<Br><Br>Conformément
                au Code des marchés publics, le candidat pourra répondre sur la base de normes équivalentes ou
                supérieures à celles mentionnées par le cahier des charges. Il fera au moins la preuve de cette
                équivalence.<Br><Br>Les variantes pourront porter notamment :<br><br>- sur une collection de vêtements
                alternative à l'offre de base.<Br>Le nombre de ces variantes est néanmoins limité à une par
                vêtement.<Br>Les candidats ne pourront donc pas proposer plus de un modèle par article (un en offre de
                base et un en variante, le cas échéant).<Br><Br>Les candidats ne pourront pas modifier les couleurs du
                logo RESE et le positionnement de celui-ci prévus au cctp.<Br><Br>Il est impératif de conserver sur les
                vêtements prévus au CCTP, quand cela est indiqué, la couleur dominante (bleu et/ou orange Haute
                Visibilité).<Br><br>- sur le conditionnement.<Br> <Br>Les candidats ne pourront en aucun cas présenter
                une variante s'ils ne remettent pas une offre de base.<Br><br><Br>Ces variantes devront être entièrement
                décrites techniquement et financièrement dans un document indépendant de l'offre de base. Le montant
                devra être reporté à l'acte d'engagement. Les candidats indiqueront les adaptations ou modifications au
                cahier des charges qui sont nécessaires".<BR><img
                        src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000077&noa=15-101515" width="1"
                        height="1"></td>
    </tr>
</table>
</body>
</html>