<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>4</B><!-- ED=20158201--><BR>Annonce No&nbsp;<B>15-100846</B><BR>Travaux<!--Commune-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Commune de Valensole.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;Aurric
            Gérard, Maire,&nbsp;place Frédéric mistral&nbsp;04210&nbsp;Valensole, tél.&nbsp;:&nbsp;04-92-74-80-13,
            courriel&nbsp;:&nbsp;mairie.valensole@wanadoo.fr.<BR><i>Principale(s) Activité(s) du pouvoir adjudicateur
                : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>cheminements doux et dessertes piétonnes</B>.<BR><I>Type de
                marché de travaux&nbsp;:&nbsp;</I> exécution.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>valensole.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>réalisation de travaux de cheminements
                doux et de dessertes piétonnes à l'entrée de Ville route de Digne et le long de la route d'oraison
                jusqu'au chemin de Maragonelle<BR><I>Refus des variantes</I>.<BR>La procédure d'achat du présent avis
                est couverte par l'accord sur les marchés publics de l'OMC : oui.<br/><BR>Prestations divisées en lots :
                non.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>.<BR>à compter du 5&nbsp;octobre&nbsp;2015 et
                jusqu'au 5&nbsp;février&nbsp;2016.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Autres
                renseignements demandés&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres renseignements
                demandés : - Autres renseignements demandés : les critères relatifs à la sélection des candidatures sont
                :<BR>-Les capacités financières <BR>-Les capacités techniques et professionnelles <BR>Les candidats
                doivent utiliser les formulaires Dc1: lettre de candidature et du Dc2 : déclaration du candidat. Ces
                documents sont disponibles gratuitement sur le site www.economie.gouv.fr. Ils contiendront les éléments
                indiqués ci-dessous : <BR>-capacités financières de l'entreprise<BR>-capacité techniques (moyens humains
                et matériels) et professionnelles de l'entreprise<BR>-références pour des chantiers de même type sur les
                5 dernières années <BR>-attestation de Qualification, certificats professionnels,<BR>-extrait K-Bis<BR>-pouvoir
                le cas échéant.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix
                : 70 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur technique : 30 %.
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>3&nbsp;septembre&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i>
            <P><I>Renseignements complémentaires&nbsp;:&nbsp;</I>le dossier de consultation est téléchargeable sur la
                plate-forme www.klekoon.com. <Br>Transmission des offres: les offres peuvent être remises directement en
                mairie contre récépissé , par voie postale ou par voie électronique sous certaines conditions énoncées
                dans le règlement de la consultation.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>17&nbsp;juillet&nbsp;2015.</P>
            <P><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de Marseille.</P>
            <P><I>Organe chargé des procédures de médiation&nbsp;:&nbsp;</I>Greffe du tribunal administratif de
                Marseille.</P><img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2999408&noa=15-100846"
                                   width="1" height="1"></td>
    </tr>
</table>
</body>
</html>