<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>87</B><!-- ED=20158188--><BR>Annonce No&nbsp;<B>15-100665</B><BR>Travaux<!--Autre-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>CHU de Limoges.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;le
            directeur général,&nbsp;cellule des marchés, bâtiment médico-administratif,&nbsp;avenue Martin Luther King&nbsp;87042&nbsp;Limoges,
            tél.&nbsp;:&nbsp;05-55-05-67-37, télécopieur&nbsp;:&nbsp;05-55-05-60-87, courriel&nbsp;:&nbsp;corinne.bardonneau@chu-limoges.fr&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.chu-limoges.fr","TestLien","");'
                               class="lien">http://www.chu-limoges.fr</A>.<BR>Adresse internet du profil d'acheteur&nbsp;:
            <A HREF='javascript:BMP_openWindow("http://www.achats-hopitaux.com","TestLien","");' class="lien">http://www.achats-hopitaux.com</A>.
            <p><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>mise en conformité du traitement d'air de la salle
                interventionnelle TAVI en service de cardiologie</B>.<BR><I>Type de marché de travaux&nbsp;:&nbsp;</I>
                exécution.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>marché unique de ventilation, traitement
                d'air<BR><I>Des variantes seront-elles prises en compte: </I>oui.<BR><I>Cautionnement et garanties
                    exigés&nbsp;:&nbsp;</I>voir cahier des charges.<BR><I>Modalités essentielles de financement et de
                    paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>financement en partie sur
                fonds propres de l'établissement, en partie par emprunt<Br>Paiement par virement administratif, dans un
                délai de 50 jours à compter de la réception de la facture.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>capacités professionnelles, techniques et financières.<BR><I>Situation
                juridique - références requises&nbsp;:&nbsp;</I>copie du ou des jugement(s) si le candidat est mis en
                redressement judiciaire.<BR><I>Capacité économique et financière - références requises&nbsp;:&nbsp;</I>chiffre
                d'affaires des 3 derniers exercices<BR><I>Référence professionnelle et capacité technique - références
                    requises&nbsp;:&nbsp;</I>références de même nature en milieu hospitalier.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire obligatoirement par le candidat, à l'appui de sa candidature&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Copie
                du ou des jugements prononcés, si le candidat est en redressement judiciaire.<br/><br/><i>Documents à
                    produire à l'appui des candidatures par le candidat, au choix de l'acheteur
                    public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration concernant le chiffre
                d'affaires global et le chiffre d'affaires concernant les fournitures, services ou travaux objet du
                marché, réalisés au cours des trois derniers exercices disponibles;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC1, Lettre de candidature - Habilitation du mandataire par ses co-traitants (disponible à l'adresse
                suivante : http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC2, Déclaration du candidat individuel ou du membre du groupement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4).<br/><br/><i>Autres
                    renseignements demandés&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres
                renseignements demandés : une liste de 3 références de même nature en milieu hospitalier réalisées les 5
                dernières années.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur
                technique : 60 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix des prestations : 40 %.
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>11&nbsp;août&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>90 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>MAPA 11.2015 DPEA TRAVAUX.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>le DCE peut être téléchargé sur le site
                www.achats-hopitaux.com<Br>La durée des travaux est de 9 semaines dont 4 de préparation et 1 semaine de
                mise en service<Br>La visite du bloc n'est pas possible. Toutefois, les candidats peuvent demander à
                visiter l'extérieur des locaux dans les conditions définies à l'article 4 du règlement de la
                consultation.<Br>Les critères d'attribution sont les suivants :<Br>1 - valeur technique 60 points,
                appréciée en fonction :<Br>- des précisions et de la cohérence des documents techniques transmis : 15
                points<Br>- du détail de calcul de références à la norme nf s 90 351 : 15 points<Br>- des détails
                techniques de schéma de principe (électriques, aérauliques, frigorifiques) : 20 points<Br>- du
                descriptif de mise en &oelig;uvre et CV des intervenants : 10 points<Br>2 - prix des prestations 40
                points apprécié en fonction du montant global hors taxes figurant à la dpgf.<Br><Br>Le CHU de Limoges se
                réserve la faculté de négocier. Les termes de la négociation sont définis à l'article 7 du règlement de
                la consultation.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>les offres doivent parvenir soit :<Br>-
                par la poste en recommandé avec avis de réception ou par tout moyen d'acheminement permettant de
                certifier la date et l'heure d'arrivée à l'adresse indiquée au présent avis,<Br>- par porteur contre
                remise d'un récépissé justifiant de la date et de l'heure d'arrivée à l'adresse indiquée au présent
                avis,<Br>- de manière dématérialisée sur le site www.achats-hopitaux.com.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>6&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I>Centre hospitalier universitaire de Limoges.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>cellule
            de la commande publique, bâtiment médico-administratif,&nbsp;&nbsp;avenue Martin Luther King,&nbsp;&nbsp;87042&nbsp;Limoges,&nbsp;&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.achats-hopitaux.com","TestLien","");'
                               class="lien">http://www.achats-hopitaux.com</A>.<BR><I>Adresse auprès de laquelle les
                documents peuvent être obtenus&nbsp;:&nbsp;</I>Centre hospitalier universitaire de Limoges.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>cellule
            de la commande publique, bâtiment médico-administratif,&nbsp;&nbsp;avenue Martin Luther King,&nbsp;&nbsp;87042&nbsp;Limoges,&nbsp;,
            tél.&nbsp;:&nbsp;05-55-05-67-37,&nbsp;, télécopieur&nbsp;:&nbsp;05-55-05-60-87,&nbsp;, courriel&nbsp;:&nbsp;corinne.bardonneau@chu-limoges.fr,&nbsp;&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.achats-hopitaux.com","TestLien","");'
                               class="lien">http://www.achats-hopitaux.com</A>.<p><I>Instance chargée des procédures de
                recours&nbsp;:&nbsp;</I>Tribunal administratif de Limoges&nbsp;1 cours Vergniaud&nbsp;87000&nbsp;Limoges,
                tél.&nbsp;:&nbsp;05-55-33-91-55, courriel&nbsp;:&nbsp;greffe.ta-limoges@juradm.fr, télécopieur&nbsp;:&nbsp;05-55-33-91-60.
            </P><I>Précisions concernant le(s) délai(s) d'introduction des recours : </I>- Référé pré-contractuel dans
            un délai de seize (16) jours à compter de l'envoi du courrier par voie postale notifiant le rejet de l'offre
            ou onze (11) jours en cas d'envoi par messagerie électronique ou télécopie,<br><br>- référé contractuel dans
            un délai de un (1) mois à compter de la publication de l'avis d'attribution, ou à défaut dans un délai de 6
            mois,<br><br>- recours pour excès de pouvoir (Rep) dans un délai de deux (2) mois à compter de la
            notification du courrier informant l'entreprise du rejet de son offre et avant la signature du marché,
            <br><br>- recours de pleine juridiction, dans un délai de deux (2) mois suivant les mesures de publicités
            prises par le pouvoir adjudicateur à l'issue de l'attribution du marché, sur présentation d'un mémoire
            motivé en fait et en droit. .<BR><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2999227&noa=15-100665" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>