<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>51</B>,&nbsp;10,&nbsp;52,&nbsp;8<!-- ED=20158183--><BR>Annonce No&nbsp;<B>15-101629</B><BR>Fournitures
            <!--Commune--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Ville de Vitry-le-François.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;Bouquet
            Jean-Pierre, Maire,&nbsp;place de l'hôtel de Ville&nbsp;51308&nbsp;Vitry-le-François, tél.&nbsp;:&nbsp;03-26-41-22-77,
            télécopieur&nbsp;:&nbsp;03-26-41-22-88, courriel&nbsp;:&nbsp;secretariat.general@vitry-le-francois.net&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.vitry-le-francois.net","TestLien","");'
                               class="lien">http://www.vitry-le-francois.net</A>.<BR>Adresse internet du profil
            d'acheteur&nbsp;: <A HREF='javascript:BMP_openWindow("http://vitry-le-francois.marcoweb.fr","TestLien","");'
                                 class="lien">http://vitry-le-francois.marcoweb.fr</A>.<BR>Le pouvoir adjudicateur
            n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s) Activité(s) du pouvoir
                adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>acquisition de matériel d'occasion : chariot
                téléscopique</B>.<BR><I>Type de marché de fournitures&nbsp;:&nbsp;</I> achat.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;42415000<br><i>Objets supplémentaires&nbsp;:&nbsp;</i>43261000.<BR><I>Lieu de
                    livraison&nbsp;:&nbsp;</I>services Techniques Municipaux,&nbsp;51300&nbsp;Blacy.<BR><I>Code NUTS
                    : </I>|FR213|.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>achat de matériel d'occasion pour les
                services techniques municipaux à savoir un chariot télescopique<BR><i>Options : descriptions concernant
                    les achats complémentaires&nbsp;:&nbsp;</i>néant.<BR><I>Refus des variantes</I>.<BR>Prestations
                divisées en lots : non.<BR><I>Cautionnement et garanties exigés&nbsp;:&nbsp;</I>garantie à première
                demande à présenter pour le paiement de l'avance. Aucune retenue de garantie appliquée.<BR><I>Modalités
                    essentielles de financement et de paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>financement
                de l'opération sur fonds propres de la collectivité. Crédits inscrits au budget de la Mairie de
                Vitry-Le-François.<Br>Application des articles 86 à 111 du Code des marchés publics. Marché à prix
                forfaitaires fermes. Règlement des acomptes par virement selon les modalités du CCAG Fournitures. Avance
                accordée selon modalités du marché. Délai global de paiement de 30 jours.<BR><I>L'exécution du marché
                    est soumise à d'autres conditions particulières : </I>non.<BR><I>Langues pouvant être utilisées dans
                    l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>garanties et capacités techniques et financières; Capacités
                professionnelles.<BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>copie du ou des
                jugements prononcés, si le candidat est en redressement judiciaire ; Déclaration sur l'honneur pour
                justifier que le candidat n'entre dans aucun des cas mentionnés à l'article 43 du CMP ; Renseignements
                sur le respect de l'obligation d'emploi mentionnée à l'article L. 5212-1 à 4 du code du travail.<BR><I>Capacité
                    économique et financière - références requises&nbsp;:&nbsp;</I>déclaration concernant le chiffre
                d'affaires global et le chiffre d'affaires concernant les travaux objet du contrat, réalisés au cours
                des trois derniers exercices disponibles ; Déclaration appropriée de banques ou preuve d'une assurance
                pour les risques professionnels<BR><I>Référence professionnelle et capacité technique - références
                    requises&nbsp;:&nbsp;</I>déclaration indiquant les effectifs moyens annuels du candidat et
                l'importance du personnel d'encadrement pour chacune des trois dernières années ; Liste des principales
                fournitures effectuées au cours des trois dernières années, indiquant le montant, la date et le
                destinataire public ou privé. Les livraisons sont prouvées par des attestations du destinataire ou, à
                défaut, par une déclaration de l'opérateur économique.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).<BR>Une enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>16&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;16&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>15FCS002.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>l'envoi des plis par voie postale est préconisé mais la
                transmission électronique est acceptée à l'adresse suivante : http://vitry-le-francois.marcoweb.fr.
            <p><I>Conditions et mode de paiement pour obtenir les documents contractuels et additionnels</I> :<BR>Dossier
                de consultation des entreprises disponible à l'adresse électronique suivante :
                http://vitry-le-francois.marcoweb.fr. Identification lors du téléchargement préconisée pour permettre
                toute correspondance sur les éventuelles modifications ou précisions apportées lors de la
                consultation.<BR><I>Date limite d'obtention</I> : 16&nbsp;juillet&nbsp;2015, à 16&nbsp;heures.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>1.e.r&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I>Direction des Services Techniques - Service des marchés publics.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>Mme&nbsp;BRODIEZ
            Carine,&nbsp;&nbsp;25 Route de Paris,&nbsp;&nbsp;51300&nbsp;Blacy,&nbsp;, tél.&nbsp;:&nbsp;03-26-74-50-25,&nbsp;,
            télécopieur&nbsp;:&nbsp;03-26-74-26-37,&nbsp;, courriel&nbsp;:&nbsp;cbrodiez@vitry-le-francois.net,&nbsp;&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://vitry-le-francois.marcoweb.fr","TestLien","");'
                               class="lien">http://vitry-le-francois.marcoweb.fr</A>.<BR><I>Adresse auprès de laquelle
                des renseignements d'ordre technique peuvent être obtenus&nbsp;:&nbsp;</I>Direction des Services
            Techniques - Service Voirie.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>M.&nbsp;Brouet Jérôme,&nbsp;&nbsp;25
            Route de Paris,&nbsp;&nbsp;51300&nbsp;Blacy,&nbsp;, tél.&nbsp;:&nbsp;03-26-74-50-25,&nbsp;, télécopieur&nbsp;:&nbsp;03-26-74-26-37,&nbsp;,
            courriel&nbsp;:&nbsp;jbrouet@vitry-le-francois.net,&nbsp;&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://vitry-le-francois.marcoweb.fr","TestLien","");'
                    class="lien">http://vitry-le-francois.marcoweb.fr</A>.<BR><I>Adresse auprès de laquelle des
                renseignements d'ordre administratif peuvent être obtenus&nbsp;:&nbsp;</I>Direction des Services
            Techniques - Service des marchés publics.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>Mme&nbsp;BRODIEZ Carine,&nbsp;&nbsp;25
            Route de Paris,&nbsp;&nbsp;51300&nbsp;Blacy,&nbsp;, tél.&nbsp;:&nbsp;03-26-74-50-25,&nbsp;, télécopieur&nbsp;:&nbsp;03-26-74-26-37,&nbsp;,
            courriel&nbsp;:&nbsp;cbrodiez@vitry-le-francois.net,&nbsp;&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://vitry-le-francois.marcoweb.fr","TestLien","");'
                    class="lien">http://vitry-le-francois.marcoweb.fr</A>.<p><I>Instance chargée des procédures de
                recours&nbsp;:&nbsp;</I>Tribunal Administratif de Châlons en Champagne&nbsp;25, Rue du Lycée&nbsp;51036&nbsp;Châlons-en-Champagne
                Cedex, tél.&nbsp;:&nbsp;03-26-66-86-87, courriel&nbsp;:&nbsp;greffe.ta-chalons-en-champagne@juradm.fr,
                télécopieur&nbsp;:&nbsp;03-26-21-01-87&nbsp;adresse internet&nbsp;: <A
                        HREF='javascript:BMP_openWindow("http://chalons-en-champagne.tribunaladministratif.fr","TestLien","");'
                        class="lien">http://chalons-en-champagne.tribunaladministratif.fr</A>.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Tribunal
                Administratif de Châlons en Champagne&nbsp;25, Rue du Lycée&nbsp;51036&nbsp;Châlons-en-Champagne Cedex,
                tél.&nbsp;:&nbsp;03-26-66-86-87, courriel&nbsp;:&nbsp;greffe.ta-chalons-en-champagne@juradm.fr,
                télécopieur&nbsp;:&nbsp;03-26-21-01-87&nbsp;adresse internet&nbsp;: <A
                        HREF='javascript:BMP_openWindow("http://chalons-en-champagne.tribunaladministratif.fr","TestLien","");'
                        class="lien">http://chalons-en-champagne.tribunaladministratif.fr</A>.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000191&noa=15-101629" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>