<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>45</B><!-- ED=20158184--><BR>Annonce No&nbsp;<B>15-101987</B><BR>Services
            <!--Etablissement public national--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>CNFPT Délégation Centre.<BR>&nbsp;Correspondant&nbsp;:&nbsp;Mme&nbsp;Bedouet
            Carole, Cnfpt délégation régionale centre,&nbsp;6 rue de l'abreuvoir bp33&nbsp;45015&nbsp;Orléans Cedex 1,
            tél.&nbsp;:&nbsp;02-38-79-94-94, télécopieur&nbsp;:&nbsp;02-38-77-14-00, courriel&nbsp;:&nbsp;carole.bedouet@cnfpt.fr&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.cnfpt.fr","TestLien","");' class="lien">http://www.cnfpt.fr</A>.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.marchespublics.cnfpt.fr","TestLien","");' class="lien">http://www.marchespublics.cnfpt.fr</A>.<BR>Le
            pouvoir adjudicateur n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Formation professionnelle des agents territoriaux.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>hébergement pour des participants à des actions de formation
                organisées par l'antenne territoriale du Loiret et pour les agents permanents du CNFPT en mission à
                Orléans</B>.<BR><I>Catégorie de services&nbsp;:&nbsp;</I>17.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;55110000.<BR><I>Lieu
                d'ex&eacute;cution&nbsp;:&nbsp;</I>orléans,&nbsp;45000&nbsp;Orléans.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR><I>Refus des variantes</I>.<BR>Prestations
                divisées en lots : oui.<BR>Possibilité de pr&eacute;senter une offre pour tous les lots.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>12 mois à compter de la notification du
                marché.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire à l'appui des candidatures par le candidat, au choix de l'acheteur
                public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Certificats de qualifications
                professionnelles. La preuve de la capacité du candidat peut être apportée par tout moyen, notamment par
                des certificats d'identité professionnelle ou des références de travaux attestant de la compétence de
                l'opérateur économique à réaliser la prestation pour laquelle il se porte candidat : cf. Réglement de
                consultation.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>7&nbsp;août&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>150 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>0615009.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>le dossier de consultation peut être obtenu :<Br>Sur le
                site internet du cnfpt : www.cnfpt.fr - 6 rue de l'abreuvoir 45015 - orléans Cedex 1<br>par courrier ou
                par mail : carole.bedouet@cnfpt.fr.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>2&nbsp;juillet&nbsp;2015.</P><I>Adresse
                auprès de laquelle les documents peuvent être obtenus&nbsp;:&nbsp;</I>Cnfpt délégation régionale centre.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>Mme&nbsp;Bedouet
            Carole,&nbsp;&nbsp;6 rue de l'abreuvoir,&nbsp;&nbsp;45015&nbsp;Orléans Cedex 1,&nbsp;, tél.&nbsp;:&nbsp;02-38-78-99-50,&nbsp;,
            courriel&nbsp;:&nbsp;carole.bedouet@cnfpt.fr,&nbsp;&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.marchespublics.cnfpt.fr","TestLien","");' class="lien">http://www.marchespublics.cnfpt.fr</A>.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif&nbsp;28 rue de la
                bretonnerie&nbsp;45000&nbsp;Orléans.</P>
            <P><I>Renseignements relatifs aux lots&nbsp;:&nbsp;</I>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 1.</span> - lot 1.</td>
                            </tr>
                            <tr>
                                <td class="txt">Hébergement pour des participants à des actions de formation organisées
                                    par l'antenne du Loiret et pour des agents permanents du CNFPT en mission Orléans
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;55110000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 2.</span> - lot 2.</td>
                            </tr>
                            <tr>
                                <td class="txt">Hébergement pour des participants à des actions de formation organisées
                                    par l'antenne du Loiret et pour des agents permanents du CNFPT en mission Orléans
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;55110000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000549&noa=15-101987" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>