<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center>
            <center><I>Rectificatif</I></center>
            <BR>Département(s) de publication : <B>67</B><!-- ED=20158182--><BR>Annonce No&nbsp;<B>15-100816</B>
            <HR>
            -&nbsp;<!--Département--><!--DEBUTFACT--><I>Nom et adresse officiels de l'organisme
                acheteur&nbsp;:&nbsp;</I>CONSEIL GENERAL BAS-RHIN.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;le
            président du Conseil Général,&nbsp;direction territoriale d'amenagement du territoire - parc Véhicules et
            Bacs Rhénans - hôtel du Département - place du Quartier Blanc Cedex 9&nbsp;67964&nbsp;Strasbourgtél.&nbsp;:&nbsp;(+33)
            3-88-76-67-67&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.bas-rhin.fr/acces-direct/les-marches-publics","TestLien","");'
                    class="lien">http://www.bas-rhin.fr/acces-direct/les-marches-publics</A>.<BR>Adresse internet du
            profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://alsacemarchespublics.eu/","TestLien","");' class="lien">https://alsacemarchespublics.eu/</A>.
            <p><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>audit de certification ISO 9001 du Service Parc Véhicules et
                Bacs Rhénans du Département du Bas-Rhin</B>.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>strasbourg.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Références de l'avis initial&nbsp;:</i><Br>
            <Table>
                <Tr>
                    <Td class="txt" colspan="2" valign="top"><span>mis en ligne sur le site <A
                            href="http://www.boamp.fr/avis/detail/15-90882/officiel" class="lien" " target="_blank" title="voir la publication sur Boamp.Fr" >www.boamp.fr</a></span>
                        du <B>15/06/2015</B> au <B>06/07/2015</B></Td>
                </Tr>
            </Table>
            <BR/><i>Informations rectificatives :</i>
            <P>Dans la rubrique&nbsp;&nbsp;<I>"date limite de réception des offres"</I>&nbsp;:<BR>Au lieu de&nbsp;:&nbsp;"6&nbsp;juillet&nbsp;2015,
                à 16&nbsp;heures",&nbsp;lire&nbsp;:&nbsp;"15&nbsp;juillet&nbsp;2015, à 16&nbsp;heures".<BR><img
                        src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2999378&noa=15-100816" width="1"
                        height="1"></td>
    </tr>
</table>
</body>
</html>