<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>75</B><!-- ED=20158182--><BR>Annonce No&nbsp;<B>15-100115</B><BR>Services<!--Commune-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Ville de Paris.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;Hubert
            SABATIER, Ville de Paris,&nbsp;95&nbsp;avenue de France DA - 95&nbsp;avenue de France&nbsp;75639&nbsp;Paris
            Cedex 13, courriel&nbsp;:&nbsp;hubert.sabatier@paris.fr&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://marches.maximilien.fr/","TestLien","");' class="lien">https://marches.maximilien.fr/</A>.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://marches.maximilien.fr/","TestLien","");' class="lien">https://marches.maximilien.fr/</A>.<BR>Le
            pouvoir adjudicateur n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>mission d'assistance à maîtrise d'ouvrage relative à la
                réalisation de l'étude d'impact portant sur l'aménagement des berges de Seine à Paris (1<sup>er</sup>,
                4e, 5e, 6e, 7e, 8e, 12e, 13e, 15e et 16e arrondissements)</B>.<BR><I>Catégorie de
                services&nbsp;:&nbsp;</I>12.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;71313400.<BR><I>Lieu
                d'ex&eacute;cution&nbsp;:&nbsp;</I>.<BR><I>Code NUTS : </I>|FR101|.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>assistance à maîtrise d'ouvrage relative
                à la réalisation de l'étude d'impact portant sur l'aménagement des berges de Seine à Paris
                (1<sup>er</sup>, 4e, 5e, 6e, 7e, 8e, 12e, 13e, 15e et 16e arrondissements)<BR><I>Refus des variantes</I>.<BR>La
                procédure d'achat du présent avis est couverte par l'accord sur les marchés publics de l'OMC : non.<br/><BR>Prestations
                divisées en lots : non.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>4 mois à compter de la notification du
                marché.<BR><I>Cautionnement et garanties exigés&nbsp;:&nbsp;</I>délai global de paiement : trente jours
                maximum conformément à l'article 1<sup>er</sup> du décret n<sup>o</sup> 2013-269 du 29 mars 2013.<BR><I>Modalités
                    essentielles de financement et de paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>les
                dépenses effectuées au titre du présent marché seront imputées sur le budget d'investissement de la
                Ville de Paris. Il est prévu le versement d'une avance. <Br>Tout versement d'acompte s'effectue dans le
                cadre de l'article 91 du code des marchés publics sur la base des prestations réellement effectuées.<BR><I>L'exécution
                    du marché est soumise à d'autres conditions particulières : </I>clauses environnementales:<br>les
                conditions d'exécution du contrat résultant de la présente consultation comportent des éléments à
                caractère environnemental, détaillés au cahier des charges.<br>tous les documents livrables devront être
                mis à disposition de préférence au format dématérialisé (format.pdf ou équivalent) et/ou sur des
                supports en papier recyclé ou éco labellisé garantissant l'usage d'un bois issus de forêts gérées
                durablement (exemples : labels fsc, pefc ou équivalent).<br>pour se déplacer sur les différents sites de
                l'administration Parisienne, il est demandé de privilégier autant que faire se peut les déplacements à
                pieds, avec des véhicules à propulsion humaine ou en transport en commun. Si l'utilisation de véhicules
                est indispensable, le parc servant à l'exécution des prestations devra comprendre de préférence des
                véhicules fonctionnant notamment à l'énergie électrique, au gaz de pétrole liquéfié (Gpl), au gaz
                naturel pour véhicules (Gnv) ou encore des véhicules hybrides (mixtes électriques et thermiques). Ces
                véhicules répondent aux normes spécifiques de la Loi sur l'air et l'utilisation rationnelle de l'énergie
                du 30 décembre 1996 (laue). À défaut, ces véhicules respecteront au minimum les prescriptions de la
                norme&nbsp;euros 4 ou idéalement celle de la norme&nbsp;euros 5, définies par la directive 98/69/ce.<BR><I>Langues
                    pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>a
                l'appui de leur candidature, les candidats doivent obligatoirement produire les éléments suivants :<Br>-
                imprimé Dc1 (Lettre de candidature et habilitation du mandataire par ses co-traitants) dans sa version
                mise à jour, disponible à l'adresse suivante : http://www.economie.gouv.fr/daj/formulaires<BR>-
                documents attestant des pouvoirs des personnes habilitées à engager le candidat<br>- imprimé Dc2
                (Déclaration du candidat individuel ou du membre du groupement) dans sa version mise à jour, disponible
                à l'adresse suivante :<BR>http://www.economie.gouv.fr/daj/formulaires.<BR><I>Capacité économique et
                    financière - références requises&nbsp;:&nbsp;</I>1°) Déclaration concernant le chiffre d'affaires
                global et le chiffre d'affaires concernant les services objet du marché, réalisés au cours des trois
                derniers exercices disponibles<br>2°) Déclaration indiquant les effectifs moyens annuels du candidat et
                l'importance du personnel d'encadrement pour chacune des trois dernières années<br>3°) Présentation
                d'une liste des principaux services effectué(e)s au cours des trois dernières années, indiquant le
                montant, la date et le destinataire public ou privé. Pour les candidats dans l'impossibilité, à raison
                de leur création récente, de produire la liste susmentionnée, il est demandé de fournir l'indication des
                titres d'études et professionnels de l'opérateur économique et/ou des cadres de l'entreprise
            <P>La prestation n'est pas réservée à une profession particulière.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).<BR>Une enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>3&nbsp;août&nbsp;2015,&nbsp;à&nbsp;16&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>180 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>2015V12010580.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>le dossier de consultation des entreprises peut être
                consulté et téléchargé à l'adresse suivante :<BR>https://m13.paris.fr/ OU
                https://marches.maximilien.fr<BR>Il est attendu des candidats une réponse par voie électronique à
                l'adresse susmentionnée.<br>ils devront disposer pour cela d'un certificat de signature électronique
                référencé dans la liste publiée à l'adresse : www.entreprises.minefi.gouv.fr/certificats/.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>les éléments exigés au titre de la
                candidature et de l'offre devront être placés par le candidat<br>dans un pli cacheté ainsi libellé :<Br>(Coordonnées
                du candidat - sIREN du candidat )<br>procedure adaptee - ne pas Ouvrir<Br>Intitulé de la consultation:
                Mission d'assistance à maîtrise d'ouvrage relative à la réalisation de l'étude d'impact portant sur
                l'aménagement des berges de Seine à Paris (1<sup>er</sup>, 4e, 5e, 6e, 7e, 8e, 12e, 13e, 15e et 16e
                arrondissements) <Br>L'Adresse obligatoire de remise des plis est :.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>30&nbsp;juin&nbsp;2015.</P><I>Adresse à
                laquelle les offres/candidatures/projets/demandes de participation doivent être envoyés&nbsp;:&nbsp;</I>Ville
            de Paris Direction des finances et des achats - Sous-direction des achats.<BR>&nbsp;bureau des marchés 17,
            boulevard Morland 75004 Paris - 3e étage - bureau 3094,&nbsp;&nbsp;75004&nbsp;Paris.<BR><I>Adresse auprès de
                laquelle des renseignements d'ordre administratif et technique peuvent être obtenus&nbsp;:&nbsp;</I>Ville
            de Paris Direction des Finances et des Achats - Sous-Direction des Achats -CSP4.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>M.&nbsp;Hubert
            sabatier,&nbsp;&nbsp;95&nbsp;avenue de France,&nbsp;&nbsp;75639&nbsp;Paris Cedex 13,&nbsp;, courriel&nbsp;:&nbsp;hubert.sabatier@paris.fr.<BR><I>Adresse
                auprès de laquelle les documents peuvent être obtenus&nbsp;:&nbsp;</I>Mairie de Paris Direction des
            finances et des achats - Sous-direction des achats.<BR>&nbsp;bureau des marchés 17, boulevard Morland 3e
            étage - bureau 3094,&nbsp;&nbsp;75004&nbsp;Paris,&nbsp;, courriel&nbsp;:&nbsp;dfa-bm-transverse@paris.fr.<p>
                <I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de Paris&nbsp;7,
                rue de Jouy&nbsp;75181&nbsp;Paris Cedex 04, tél.&nbsp;:&nbsp;01-44-59-44-00, courriel&nbsp;:&nbsp;greffe.ta-paris@juradm.fr,
                télécopieur&nbsp;:&nbsp;01-44-59-46-46.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Tribunal
                administratif de Paris&nbsp;7, rue de Jouy&nbsp;75181&nbsp;Paris Cedex 04, tél.&nbsp;:&nbsp;01-44-59-44-00,
                courriel&nbsp;:&nbsp;greffe.ta-paris@juradm.fr, télécopieur&nbsp;:&nbsp;01-44-59-46-46.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2998677&noa=15-100115" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>