<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>73</B><!-- ED=20158183--><BR>Annonce No&nbsp;<B>15-101468</B><BR>Travaux<!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Ville de Chamoux sur Gelon.<BR>&nbsp;Correspondant&nbsp;:&nbsp;
            AGUETTAZ René, Maire,&nbsp;18 place de la Mairie B.P.&nbsp;10&nbsp;73390&nbsp;Chamoux-sur-Gelon, tél.&nbsp;:&nbsp;04-79-36-40-19,
            télécopieur&nbsp;:&nbsp;04-79-36-48-08, courriel&nbsp;:&nbsp;mairie.chamoux@wanadoo.fr&nbsp;adresse internet&nbsp;:
            <A HREF='javascript:BMP_openWindow("http://www.chamoux-sur-gelon.fr","TestLien","");' class="lien">http://www.chamoux-sur-gelon.fr</A>.<BR>Le
            pouvoir adjudicateur n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<p><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>le
                marché a pour objet la réhabilitation et rénovation d'un bâtiment communal, devenant un Centre Municipal
                de Santé. L'attention de l'entrepreneur est attirée sur le fait que ces travaux ont lieu à proximité de
                l'école communale et de la rue des écoles et que toutes dispositions sont à prendre pour s'assurer de la
                sécurité des enfants et des piétons</B>.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;45215100<br><i>Objets supplémentaires&nbsp;:&nbsp;</i>45262700<BR>45262800<BR>45453000<BR>45453100.<BR><I>Lieu
                    d'ex&eacute;cution&nbsp;:&nbsp;</I>167 rue des Ecoles,&nbsp;73390&nbsp;Chamoux-sur-Gelon.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>le cadre de DPGF joint doit
                obligatoirement être renseigné par l'entreprise dans la forme proposée, sans modification. Les quantités
                notées peuvent être modifiées sous la responsabilité de l'entreprise. Les variantes sur le choix des
                matériels ou matériaux devront faire l'objet d'un bordereau complémentaire avec documentation technique
                à l'appui permettant d'apprécier les caractéristiques des produits proposés.<br>les candidats auront la
                possibilité de proposer des variantes par rapport aux spécifications fournies au CCTP, si elles sont
                dûment justifiées. Chaque candidat doit présenter une proposition entièrement conforme au dossier de
                consultation pour que son offre puisse être acceptée<BR><I>Des variantes seront-elles prises en
                    compte: </I>oui.<BR>Prestations divisées en lots : oui.<BR>Possibilité de pr&eacute;senter une offre
                pour un ou plusieurs lots.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>.<BR>à compter du 1.e.r&nbsp;septembre&nbsp;2015
                et jusqu'au 31&nbsp;mai&nbsp;2016.<BR><I>Langues pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;le
                montant de l'offre appréciée au regard des éléments du dpgf : 60 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;la
                valeur technique de l'offre : 40 %.<BR>Une enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>24&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i>
            <P><I>Renseignements complémentaires&nbsp;:&nbsp;</I>retrouvez cet avis intégral, l'accès au dossier et le
                guichet de dépôt sur http://www.marches-publics.info<BR>Une visite du site est proposée aux candidats
                qui le souhaitent avant la remise des offres.<br>cette visite est obligatoire avec attestation de visite
                tamponnée et signée par la Mairie et sera jointe à l'offre pour les lots suivants : Lot 02, 04, 05, 06,
                09, 10 et 11.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>1.e.r&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I>Mairie.<BR>&nbsp;18 Place de la Mairie B.P.&nbsp;10,&nbsp;&nbsp;73390&nbsp;Chamoux-sur-Gelon.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre technique peuvent être obtenus&nbsp;:&nbsp;</I>Cabinet ERM
            : Joël RABARDEL ou Ludovic ARNAUD.<BR>&nbsp;business Corner, Bâtiment A, 133&nbsp;avenue des Massettes,&nbsp;&nbsp;73190&nbsp;Challes-les-Eaux,&nbsp;,
            tél.&nbsp;:&nbsp;04-79-75-22-70,&nbsp;, télécopieur&nbsp;:&nbsp;04-79-75-22-10,&nbsp;, courriel&nbsp;:&nbsp;joel.erm@orange.fr.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre administratif peuvent être obtenus&nbsp;:&nbsp;</I>Mairie
            : René AGUETTAZ.<BR>&nbsp;18 Place de la Mairie B.P.&nbsp;10,&nbsp;&nbsp;73390&nbsp;Chamoux-sur-Gelon,&nbsp;,
            tél.&nbsp;:&nbsp;04-79-36-40-19,&nbsp;, télécopieur&nbsp;:&nbsp;04-79-36-48-08,&nbsp;, courriel&nbsp;:&nbsp;mairie.chamoux@wanadoo.fr.<BR><I>Adresse
                auprès de laquelle les documents peuvent être obtenus&nbsp;:&nbsp;</I>Mairie.<BR>&nbsp;18 Place de la
            Mairie B.P.&nbsp;10,&nbsp;&nbsp;73390&nbsp;Chamoux-sur-Gelon,&nbsp;, tél.&nbsp;:&nbsp;04-79-36-40-19,&nbsp;,
            télécopieur&nbsp;:&nbsp;04-79-36-48-08,&nbsp;, courriel&nbsp;:&nbsp;mairie.chamoux@wanadoo.fr.<p><I>Instance
                chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de Grenoble&nbsp;2 Place de
                Verdun B.P.&nbsp;1135&nbsp;38022&nbsp;Grenoble, tél.&nbsp;:&nbsp;04-76-42-90-00, courriel&nbsp;:&nbsp;greffe.ta-grenoble@juradm.fr,
                télécopieur&nbsp;:&nbsp;04-76-42-22-69.</P>
            <P><I>Renseignements relatifs aux lots&nbsp;:&nbsp;</I>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 1.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Terrassement - vRD - espaces verts</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45112500.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 2.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Désamiantage</td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : visite du site obligatoire avec
                                    attestation de visite tamponnée et signée par la Mairie.<BR></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45262660.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 3.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Echafaudages</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45262100.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 4.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Déconstruction - démolition</td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : visite du site obligatoire avec
                                    attestation de visite tamponnée et signée par la Mairie.<BR></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45111000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 5.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Sciages - reprise en sous-&oelig;uvre - gros &oelig;uvre</td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : visite du site obligatoire avec
                                    attestation de visite tamponnée et signée par la Mairie.<BR></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45223220.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 6.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Structure bois - couverture - bardage</td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : visite du site obligatoire avec
                                    attestation de visite tamponnée et signée par la Mairie.<BR></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45261000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 7.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Etanchéité</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45261420.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 8.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Menuiseries extérieures bois/aluminium - brise-Soleil</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45212190.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 9.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Façades - enduit</td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : visite du site obligatoire avec
                                    attestation de visite tamponnée et signée par la Mairie.<BR></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45443000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 10.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Chauffage gaz - ventilation - sanitaire - plomberie</td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : visite du site obligatoire avec
                                    attestation de visite tamponnée et signée par la Mairie.<BR></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45232460.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 11.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Electricité - courants forts et faibles</td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : visite du site obligatoire avec
                                    attestation de visite tamponnée et signée par la Mairie.<BR></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45311200.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 12.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Cloisons - doublages - faux plafonds</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45320000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 13.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Menuiseries extérieures - escalier</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45421100.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 14.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Chapes - revêtements durs</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45431200.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 15.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Revêtements souples</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45432111.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 16.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Peinture intérieure</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45442100.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 17.</span> -</td>
                            </tr>
                            <tr>
                                <td class="txt">Ascenseur</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45313100.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000030&noa=15-101468" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>