<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>69</B><!-- ED=20158187--><BR>Annonce No&nbsp;<B>15-102046</B><BR>Services<!--Commune-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Ville de Marcy l'Etoile.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;le
            maire,&nbsp;63 place de la Mairie&nbsp;69280&nbsp;Marcy-l'Étoile.<BR><i>Principale(s) Activité(s) du pouvoir
                adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>appel à candidature pour une mission de Maîtrise d'&oelig;uvre
                pour la construction d'une structure d'accueil petite enfance à marcy-l'etoile</B>.<BR><I>Catégorie de
                services&nbsp;:&nbsp;</I>12.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;71240000.<BR><I>Lieu
                d'ex&eacute;cution&nbsp;:&nbsp;</I>marcy-L'Etoile,&nbsp;69280.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>le présent appel public à la concurrence
                a pour objet de sélectionner les candidats admis à présenter une offre lors de la consultation portant
                sur le choix d'un maître d'&oelig;uvre pour la construction d'un ouvrage comprenant :<Br>- une structure
                d'accueil petite enfance constituée d'une crèche 30 berceaux et d'un Relai d'assistante Maternelle.<Br>-
                un plateau libre destiné à répondre aux demandes d'installation de différents cabinets médico-sociaux.
                Cette partie de l'ouvrage sera intégrée au projet soumis par les candidats retenus pour concourir. Sa
                réalisation sera l'objet d'une tranche conditionnelle<BR><I>Refus des variantes</I>.<BR>Prestations
                divisées en lots : non.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>32 mois à compter de la notification du
                marché.<BR><i>Date&nbsp;prévisionnelle&nbsp;de&nbsp;début&nbsp;des&nbsp;prestations&nbsp;(fournitures/services)&nbsp;:&nbsp;</i>13&nbsp;novembre&nbsp;2015.<BR><I>L'exécution
                    du marché est soumise à d'autres conditions particulières : </I>non.<BR><I>Langues pouvant être
                    utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée,
                    l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>trois candidats seront sélectionnés sur :<Br>-Les qualifications et
                qualités du candidat ou de l'équipe candidate,<Br>-La motivation au travers du texte<Br>-La qualité des
                références fournies et de l'expression libre.<BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>le
                maître d'ouvrage s'attache à ce que les candidats aient au minimum les compétences suivantes : <Br>-
                architecture, <Br>- economiste de la construction, <br>- bet structures, <br>- bet fluides (avec
                compétences BBC, ou équivalent " Passivhaus ", " Minergie "),<br>- bet vrd,<Br>Copie du ou des jugements
                prononcés, si le candidat est en redressement judiciaire ;<Br>Déclaration sur l'honneur pour justifier
                que le candidat n'entre dans aucun des cas mentionnés à l'article 43 du CMP ;<Br>Une preuve d'assurance
                pour les risques professionnels.<BR><I>Capacité économique et financière - références requises&nbsp;:&nbsp;</I>déclaration
                concernant le chiffre d'affaires global et le chiffre d'affaires concernant les services objet du
                marché, réalisés au cours des trois derniers exercices disponibles ;<BR><I>Référence professionnelle et
                    capacité technique - références requises&nbsp;:&nbsp;</I>déclaration indiquant les effectifs moyens
                annuels et l'importance du personnel d'encadrement pour chacune des trois dernières années
                (2012-2013-2014) <Br>Liste des principaux services effectués au cours des trois dernières années,
                indiquant le montant, la date et le destinataire public ou privé. Les prestations de services sont
                prouvées par des attestations du destinataire ou, à défaut, par une déclaration de l'opérateur
                économique.<Br>Indication des titres d'études et professionnels de l'opérateur économique et/ou des
                cadres de l'entreprise, et notamment des responsables de prestation de services pour exercer la maîtrise
                d'&oelig;uvre, diplômes, certificats de qualifications ou équivalent.
            <p>La prestation est réservée à une profession particulière.<BR><I>Référence des dispositions législatives,
                réglementaires ou administratives applicables</I>&nbsp;:<BR>architecte inscrit au tableau de l'ordre des
                architectes pour les architectes français où possédant un diplôme reconnu au titre de la directive
                85/384/cee du Conseil du 10 juin 1985, modifiée.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire obligatoirement par le candidat, à l'appui de sa candidature&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Copie
                du ou des jugements prononcés, si le candidat est en redressement judiciaire;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                sur l'honneur du candidat justifiant qu'il n'entre dans aucun des cas mentionnés à l'article 43 du code
                des marchés publics, concernant les interdictions de soumissionner;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                sur l'honneur du candidat attestant qu'il est en règle, au cours de l'année précédant celle au cours de
                laquelle a lieu le lancement de la consultation, au regard des articles L. 5212-1, L. 5212-2, L. 5212 5
                et L. 5212-9 du code du travail, concernant l'emploi des travailleurs handicapés;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                le candidat est établi en France, une déclaration sur l'honneur du candidat justifiant que le travail
                est effectué par des salariés employés régulièrement au regard des articles L. 1221-10, L. 3243-2 et R.
                3243-1 du code du travail (dans le cas où le candidat emploie des salariés, conformément à l'article D.
                8222-5-3° du code du travail);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si le candidat est établi ou
                domicilié à l'étranger, une déclaration sur l'honneur du candidat attestant qu'il fournit à ses salariés
                des bulletins de paie comportant les mentions prévues à l'article R. 3243-1 du code du travail, ou des
                documents équivalents.<br/><br/><i>Documents à produire à l'appui des candidatures par le candidat, au
                    choix de l'acheteur public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                concernant le chiffre d'affaires global et le chiffre d'affaires concernant les fournitures, services ou
                travaux objet du marché, réalisés au cours des trois derniers exercices disponibles;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                indiquant les effectifs moyens annuels du candidat et l'importance du personnel d'encadrement pour
                chacune des trois dernières années;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Présentation d'une liste des
                principales fournitures ou des principaux services effectués au cours des trois dernières années,
                indiquant le montant, la date et le destinataire public ou privé. Les livraisons et les prestations de
                services sont prouvées par des attestations du destinataire ou, à défaut, par une déclaration de
                l'opérateur économique;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Présentation d'une liste des travaux
                exécutés au cours des cinq dernières années, appuyée d'attestations de bonne exécution pour les travaux
                les plus importants. Ces attestations indiquent le montant, l'époque et le lieu d'exécution des travaux
                et précisent s'ils ont été effectués selon les règles de l'art et menés régulièrement à bonne fin;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Indication
                des titres d'études et professionnels de l'opérateur économique;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC1, Lettre de candidature - Habilitation du mandataire par ses co-traitants (disponible à l'adresse
                suivante : http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC2, Déclaration du candidat individuel ou du membre du groupement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;S'il
                s'appuie, pour présenter sa candidature, sur les capacités professionnelles, techniques et financières
                d'autres opérateurs économiques, le candidat produit les mêmes documents concernant cet opérateur
                économique que ceux qui lui sont exigés par l'acheteur public. Le candidat doit également apporter la
                preuve que chacun de ces opérateurs économiques mettra à sa disposition les moyens nécessaires, pendant
                toute la durée d'exécution du marché public ou de l'accord-cadre;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                les documents fournis par le candidat ne sont pas établis en langue française, ils doivent être
                accompagnés d'une traduction en français, certifiée conforme à l'original par un traducteur assermenté.
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des candidatures&nbsp;:&nbsp;</I>24&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>Date
                prévue pour l'envoi aux candidats sélectionnés de l'invitation à présenter une offre ou à participer au
                dialogue&nbsp;:&nbsp;</I>31&nbsp;juillet&nbsp;2015.<BR><I>D&eacute;lai minimum de validit&eacute; des
                offres&nbsp;:&nbsp;</I>3 mois à compter de la date limite de réception des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><BR><I>Définition des études à effectuer par les candidats lors
                d'un concours, d'un marché de conception-réalisation ou d'un dialogue compétitif&nbsp;:&nbsp;</I>le
                niveau des prestations des projets demandés aux candidats sélectionnés sera du niveau Esquisse+ poussée
                au niveau de l'intégration paysagère et de définition des façades, proche du rendu de plan de permis de
                construire.
            <p><I>Récompenses et jury&nbsp;:&nbsp;</I><BR><I>Nombre et valeur des primes qui seront attribuées&nbsp;:&nbsp;</I>sur
                proposition de la commission, les deux candidats ayant remis des prestations conformes au règlement
                d'appel à candidature, et qui ne seront pas retenus en qualité de maître d'&oelig;uvre pour l'opération,
                seront rémunérés à hauteur de 9 000.00 euros (H.T.).<Br>Pour le candidat retenu, la rémunération de 9
                000.00 euros (H.T.) sera déduite du montant du futur contrat de maîtrise d'&oelig;uvre.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>dossier d'appel à candidatures à télécharger sur le
                site: <BR>https://www.marches-securises.fr <Br>Ou à demander par mail à l'adresse suivante:<br>eferoul@mairie-marcy-l-etoile.fr.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>3&nbsp;juillet&nbsp;2015.</P>
            <P><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de Lyon&nbsp;184 rue
                Duguesclin&nbsp;69003&nbsp;Lyon, courriel&nbsp;:&nbsp;greffe.ta.lyon@juradm.fr.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000608&noa=15-102046" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>