<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>37</B><!-- ED=20158182--><BR>Annonce No&nbsp;<B>15-101021</B><BR>Travaux<!--Commune-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Ville de Joué Les Tours.<BR>&nbsp;Correspondant&nbsp;:&nbsp;
            M.&nbsp;le maire,&nbsp;hôtel de ville Parvis Raymond Lory C.S. 50108&nbsp;37301&nbsp;Joue-les-Tours Cedex,
            tél.&nbsp;:&nbsp;02-47-39-70-00, courriel&nbsp;:&nbsp;a.gonet@ville-jouelestours.fr.<BR>Adresse internet du
            profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://www.achatpublic.com/sdm/ent/gen/index.jsp","TestLien","");'
                    class="lien">https://www.achatpublic.com/sdm/ent/gen/index.jsp</A>.<BR>Le pouvoir adjudicateur
            n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s) Activité(s) du pouvoir
                adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>mise en place d'une gestion technique centralisée sur la
                chaufferie/groupe froid de l'espace Malraux</B>.<BR><I>Type de marché de travaux&nbsp;:&nbsp;</I>
                exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;50721000.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>espace
                Malraux,&nbsp;37300&nbsp;Joué-lès-Tours.<BR><I>Code NUTS : </I>|FR244|.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>les travaux comportent une tranche ferme
                et 3 tranches conditionnelles.<br>tranche ferme : Espace Malraux<Br>Tranche conditionnelle 1 :
                Superviseur<Br>Tranche conditionnelle 2 : Réseau informatique<br>tranche conditionnelle 3 : Vannes 3
                voies<BR><I>Refus des variantes</I>.<BR>La procédure d'achat du présent avis est couverte par l'accord
                sur les marchés publics de l'OMC : oui.<br/><BR>Prestations divisées en lots : non.<BR><I>Cautionnement
                    et garanties exigés&nbsp;:&nbsp;</I>il sera appliqué une retenue de garantie de 5% du montant total
                du marché.<BR><I>Modalités essentielles de financement et de paiement et/ou références aux textes qui
                    les réglementent&nbsp;:&nbsp;</I>délai global de paiement (article 98 du C.M.P.) : 30 jours à
                réception de la facture. Le paiement sera effectué par mandat administratif sur le budget principal de
                la Ville.<BR>Intérêts moratoires : le taux des intérêts moratoires est celui de l'intérêt légal en
                vigueur à la date à laquelle les intérêts moratoires ont commencé à courir, augmenté de huit points.<BR><I>Langues
                    pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>garanties et capacités techniques et financières<br>capacités
                professionnelles.<BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>copie du ou des
                jugements prononcés, si le candidat est en redressement judiciaire ;<Br>Déclaration sur l'honneur pour
                justifier que le candidat n'entre dans aucun des cas mentionnés à l'article 43 du CMP ;<Br>Renseignements
                sur le respect de l'obligation d'emploi mentionnée aux articles L. 5212-1 à L. 5212-11 du Code du
                travail.<BR><I>Capacité économique et financière - références requises&nbsp;:&nbsp;</I>déclaration
                concernant le chiffre d'affaires global et le chiffre d'affaires concernant les travaux objet du
                contrat, réalisés au cours des trois derniers exercices disponibles ;<Br>Déclaration appropriée de
                banques ou preuve d'une assurance pour les risques professionnels ;<Br>Bilans ou extraits de bilans,
                concernant les trois dernières années, des opérateurs économiques pour lesquels l'établissement des
                bilans est obligatoire en vertu de la loi ;<BR><I>Référence professionnelle et capacité technique -
                    références requises&nbsp;:&nbsp;</I>déclaration indiquant les effectifs moyens annuels du candidat
                et l'importance du personnel d'encadrement pour chacune des trois dernières années ;<Br>Liste des
                travaux exécutés au cours des cinq dernières années, appuyée d'attestations de bonne exécution pour les
                travaux les plus importants. Ces attestations indiquent le montant, l'époque et le lieu d'exécution des
                travaux et précisent s'ils ont été effectués selon les règles de l'art et menés régulièrement à bonne
                fin ;<Br>Indication des titres d'études et professionnels de l'opérateur économique et/ou des cadres de
                l'entreprise, et notamment des responsables de prestation de services ou de conduite des travaux de même
                nature que celle du contrat ;<Br>Déclaration indiquant l'outillage, le matériel et l'équipement
                technique dont le candidat dispose pour la réalisation de contrats de même nature.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire à l'appui des candidatures par le candidat, au choix de l'acheteur
                public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire DC1, Lettre de candidature -
                Habilitation du mandataire par ses co-traitants (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC2, Déclaration du candidat individuel ou du membre du groupement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4).<br/><br/><i>Documents
                    à produire obligatoirement par l'attributaire, avant la signature et la notification du marché
                    public ou de l'accord-cadre (formulaire NOTI1)&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Les
                pièces prévues aux articles D. 8222-5 ou D. 8222-7 et D. 8222-8 du code du travail;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                l'attributaire est établi en France, les attestations et certificats délivrés par les administrations et
                organismes compétents prouvant qu'il a satisfait à ses obligations fiscales et sociales ou un état
                annuel des certificats reçus.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix
                des prestations : 60 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur technique : 40 %.
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>23&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;16&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>15MT11.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>délais d'exécution : <Br>La durée globale des travaux
                est de deux (2) mois maximum.<br>les travaux devront impérativement être terminés pour le 7 novembre
                2015.<BR>une visite sur site est obligatoire :<Br>Les candidats devront prendre rendez-vous auprès de M.
                Jean-Jacques BAUGE au 02.47.73.73.39.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>1.e.r&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I>VILLE DE JOUE LES TOURS.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I> M.&nbsp;le
            maire,&nbsp;&nbsp;hôtel de ville Parvis Raymond Lory C.S. 50108,&nbsp;&nbsp;37301&nbsp;Joue-les-Tours Cedex,&nbsp;,
            tél.&nbsp;:&nbsp;02-47-39-70-00,&nbsp;&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://www.achatpublic.com/sdm/ent/gen/indexorg.do","TestLien","");'
                    class="lien">https://www.achatpublic.com/sdm/ent/gen/indexorg.do</A>.<BR><I>Adresse auprès de
                laquelle des renseignements d'ordre technique peuvent être obtenus&nbsp;:&nbsp;</I>VILLE DE JOUE LES
            TOURS.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I> Gestion et entretien des bâtiments,&nbsp;&nbsp;hôtel de
            ville Parvis Raymond Lory C.S. 50108,&nbsp;&nbsp;37301&nbsp;Joue-les-Tours Cedex,&nbsp;, tél.&nbsp;:&nbsp;02-47-39-71-21,&nbsp;,
            courriel&nbsp;:&nbsp;e.cretenier@ville-jouelestours.fr.<BR><I>Adresse auprès de laquelle des renseignements
                d'ordre administratif peuvent être obtenus&nbsp;:&nbsp;</I>VILLE DE JOUE LES TOURS.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>
            Service marchés publics,&nbsp;&nbsp;hôtel de ville Parvis Raymond Lory C.S. 50108,&nbsp;&nbsp;37301&nbsp;Joue-les-Tours
            Cedex,&nbsp;, tél.&nbsp;:&nbsp;02-47-39-70-45,&nbsp;,
            courriel&nbsp;:&nbsp;a.gonet@ville-jouelestours.fr.<BR><I>Adresse auprès de laquelle les documents peuvent
                être obtenus&nbsp;:&nbsp;</I>VILLE DE JOUE LES TOURS.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I> M.&nbsp;le
            maire,&nbsp;&nbsp;hôtel de ville Parvis Raymond Lory C.S. 50108,&nbsp;&nbsp;37301&nbsp;Joue-les-Tours Cedex,&nbsp;,
            tél.&nbsp;:&nbsp;02-47-39-70-00,&nbsp;&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://www.achatpublic.com/sdm/ent/gen/indexorg.do","TestLien","");'
                    class="lien">https://www.achatpublic.com/sdm/ent/gen/indexorg.do</A>.<p><I>Instance chargée des
                procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif d'Orléans&nbsp;28 rue de La Bretonnerie&nbsp;45057&nbsp;Orléans
                Cedex, tél.&nbsp;:&nbsp;02-38-77-59-00, courriel&nbsp;:&nbsp;greffe.taorleans@juradm.fr, télécopieur&nbsp;:&nbsp;02-38-53-85-16.
            </P><I>Précisions concernant le(s) délai(s) d'introduction des recours : </I>référé précontractuel : avant
            la conclusion du marché (articles L551-1 à L551-12 du Code de la Justice administrative). <Br>Recours en
            référé contractuel: après la signature du marché, dans les trente et un jours qui suivent la publication de
            l'avis d'attribution du marché, ou, à défaut d'un tel avis, dans les six mois qui suivent la date de
            conclusion de celui-ci (articles L551-13 à L 551-23 du code du Code de la Justice administrative).<br>recours
            de plein contentieux : dans un délai de deux mois à compter de l'accomplissement des mesures de publicité
            concernant l'attribution du marché.<br>recours pour excès de pouvoir : dans un délai de deux mois à compter
            de la publication ou notification de la décision ou de l'acte attaqué (articles R421-2 et R421-3 du Code la
            justice administrative).<BR><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2999583&noa=15-101021" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>