<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>34</B><!-- ED=20158182--><BR>Annonce No&nbsp;<B>15-100975</B><BR>Travaux<!--Département-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Conseil général de l'Hérault.<BR>&nbsp;Correspondant&nbsp;:&nbsp;
            À l'attention de M.&nbsp;le président du Conseil Départemental,&nbsp;service des Marchés - hôtel du
            Département - 1000, rue d'alco Cedex 4&nbsp;34087&nbsp;Montpellier, tél.&nbsp;:&nbsp;(+33) 4-67-67-67-67&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.herault.fr","TestLien","");' class="lien">http://www.herault.fr</A>.<BR><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>rd 612 - pr73+900 à PR 77+396 - béziers Réhabilitation, mise
                en sécurité et renforcement de chaussée</B>.<BR><I>Type de marché de travaux&nbsp;:&nbsp;</I> exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;44113320.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>commune de,&nbsp;34500&nbsp;Beziers.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>tranche ferme: Rabotage de chaussée de 0
                à 19 cm: 24 000 m2; Balayage: 24 000 m2 Couche d'accrochage: 96 000 m2; Exécution de purge: 100 m3;
                Gb0/14 classe 4: 4 500 t; bbsg 0/10 classe 3: 3 100 t; bbsg 0/10 classe 3 au liant modifié: 250 t; bbtm
                0/6 classe1: 1 600 T; Réalisation d'enduit de protection: 24 000 m2; Tete de buse d = 400 à 600 mm: 30
                unités; Curage fossé: 4 000 m; Mise à niveau d'accotement terre végétale: 1 080 T. Tranche
                conditionnelle n<sup>o</sup>1 Rabotage de chaussée de 0 à 18 cm: 21 000 m2; Balayage: 21 000 m2
                Exécution de purge: 100 m3; Couche d'accrochage: 63 000 m2; Gb0/14 classe 4: 4 500 t; bbsg 0/10 classe
                3: 2 700 t; bbtm 0/6 classe 1: 1 400 T; Réalisation d'enduit de protection: 21 000 m2; Curage fossé: 1
                600 m; Mise à niveau d'accotement terre végétale: 300 T. Tranche conditionnelle n<sup>o</sup>2 Rabotage
                de chaussée de 0 à 18 cm: 16 000 m2; Balayage: 16 000 m2 Exécution de purge: 100 m3; Couche
                d'accrochage: 48 000 m2; Gb0/14 classe 4: 3 500 t; bbsg 0/10 classe 3: 2 000 t; bbtm 0/6 classe 1: 1 100
                T; Réalisation d'enduit de protection: 16 000 m2; Curage fossé: 1 600 m; Mise à niveau d'accotement
                terre végétale: 300 T. . Marché unique à tranches conditionnelles<BR><i>Quantités (fournitures et
                    services), nature et étendue (travaux)&nbsp;:&nbsp;</i>tranche Ferme : Section du Pr73+900 à
                Pr75+110 et 76+450 à 77+396.<BR><i>Options : descriptions concernant les achats complémentaires&nbsp;:&nbsp;</i>tranche
                Conditionnelle 1: Section du Pr75+110 à 76+450 sens croissant. Tranche Conditionnelle 2: Section du
                Pr75+110 à 76+450 sens décroissant.<BR><I>Des variantes seront-elles prises en compte: </I>oui.La
                procédure d'achat du présent avis est couverte par l'accord sur les marchés publics de l'OMC : non.<br/><BR>Prestations
                divisées en lots : non.<BR><I>Cautionnement et garanties exigés&nbsp;:&nbsp;</I>aucune garantie
                financière n'est exigée.<BR><I>Modalités essentielles de financement et de paiement et/ou références aux
                    textes qui les réglementent&nbsp;:&nbsp;</I>articles 86 à 111 du Code des marchés publics français.
                Caractéristiques des prix : Prix unitaires. Modalités de variation des prix : fermes actualisables. Par
                tranche. Modalité de règlement des comptes : via un système de gestion informatique des marchés. Le
                délai global de paiement est de 30 jours. Modalités de financements : Marché(S) financé(s) par les
                ressources propres de la Collectivité.<BR><I>L'exécution du marché est soumise à d'autres conditions
                    particulières : </I>le délai d'exécution des travaux débutera à compter de la date fixée par l'ordre
                de service. Tranche Ferme: Délai 7 semaines. Tranche Conditionnelle 1: Délai 7 semaines. Tranche
                Conditionnelle 2: Délai 7 semaines. Les prestations comportent les conditions d'exécution suivantes :
                l'attributaire du marché ou lot concerné par une action d'insertion devra réaliser a minima le nombre
                d'heures d'insertion définies en annexe du CCAP.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>lettre
                de candidature et habilitation du mandataire par ses co-traitants (Dc1 ou forme libre) ; Copie du ou des
                jugements prononcés, si le candidat est en redressement judiciaire ; Déclaration sur l'honneur pour
                justifier que le candidat n'entre dans aucun des cas mentionnés à l'article 43 du CMP ; Documents
                relatifs aux pouvoirs de la personne habilitée à engager le candidat: par exemple Kbis, et le cas
                échéant, délégation de pouvoir précisant les montants délégués (si la personne signataire est différente
                de celle(s) désignée(s) au Kbis).<BR><I>Capacité économique et financière - références requises&nbsp;:&nbsp;</I>déclaration
                concernant le chiffre d'affaires global et le chiffre d'affaires concernant les travaux objet du
                contrat, réalisés au cours des trois derniers exercices disponibles<BR><I>Référence professionnelle et
                    capacité technique - références requises&nbsp;:&nbsp;</I>déclaration indiquant les effectifs moyens
                annuels du candidat et l'importance du personnel d'encadrement pour chacune des trois dernières années ;
                Liste des travaux exécutés au cours des trois dernières années, appuyée d'attestations de bonne
                exécution pour les travaux les plus importants. Ces attestations indiquent le montant, l'époque et le
                lieu d'exécution des travaux et précisent s'ils ont été effectués selon les règles de l'art et menés
                régulièrement à bonne fin ; Déclaration indiquant l'outillage, le matériel et l'équipement technique
                dont le candidat dispose pour la réalisation de contrats de meme nature.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).<BR>Une enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>27&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;16&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>15BEZI08.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>conformément à la législation française, l'ouverture
                des offres n'est pas publique. Les offres peuvent etre transmises par lettre recommandée avec avis de
                réception ou déposées contre récépissé . Dématérialisation des procédures : l'organisme acheteur
                préconise la transmission des plis par voie électronique. Il accepte cependant les plis adressés par
                d'autres moyens permettant d'en garantir la confidentialité et la date de réception. Les modalités de
                transmission électronique des plis sont définies dans le règlement de la consultation.
            <p><i>Le présent marché a un caractère périodique :&nbsp;</i>non.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>1.e.r&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I>Via la plate-forme de dématérialisation des marchés publics accessible par
            www.herault.fr ou CONSEIL DEPARTEMENTAL DE L'HERAULT.<BR>&nbsp;service des marchés - batiment GH 5ème étage
            - bureau 5019 - ouvert au public du lundi au vendredi de 8h30 à 12h30 et de 13h30 à 17h30, l'horaire limite
            du dernier jour de remise des offres étant à 16h - hôtel du Département 1000, rue d'alco Cedex 4,&nbsp;&nbsp;34087&nbsp;Montpellier
            France,&nbsp;&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.herault.fr","TestLien","");' class="lien">http://www.herault.fr</A>.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre technique peuvent être obtenus&nbsp;:&nbsp;</I>Via la
            plate-forme de dématérialisation des marchés publics accessible par www.herault.fr ou.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>
            Claude Affre,&nbsp;&nbsp;conseil Départemental de l'hérault Agence technique de Béziers - zac de Mercorent -
            ilot 29 P - rue Alphonse Beau de Rochas - B.P.&nbsp;50,&nbsp;&nbsp;34501&nbsp;Beziers Cedex,&nbsp;, tél.&nbsp;:&nbsp;(+33)
            4-67-67-40-10,&nbsp;, télécopieur&nbsp;:&nbsp;(+33) 4-67-67-40-37,&nbsp;, courriel&nbsp;:&nbsp;caffre@herault.fr,&nbsp;&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.herault.fr","TestLien","");' class="lien">http://www.herault.fr</A>.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre administratif peuvent être obtenus&nbsp;:&nbsp;</I>Via la
            plate-forme de dématérialisation des marchés publics accessible par www.herault.fr ou Conseil Départemental
            de l'Hérault.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I> Christophe Castan,&nbsp;&nbsp;agence technique de
            Béziers - zac de Mercorent - ilot 29 P - rue Alphonse Beau de Rochas - B.P.&nbsp;50,&nbsp;&nbsp;34501&nbsp;Beziers
            Cedex,&nbsp;, tél.&nbsp;:&nbsp;(+33) 4-67-67-40-10,&nbsp;, télécopieur&nbsp;:&nbsp;(+33) 4-67-67-40-37,&nbsp;,
            courriel&nbsp;:&nbsp;ccastan@herault.fr,&nbsp;&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.herault.fr","TestLien","");' class="lien">http://www.herault.fr</A>.<BR><I>Adresse
                auprès de laquelle les documents peuvent être obtenus&nbsp;:&nbsp;</I>Via la plateforme de
            dématérialisation des marchés publics accessible par www.herault.fr ou :.<BR>&nbsp;copy shop - poster b (sur
            support papier et/ou Cd-Rom) 43 bis,&nbsp;avenue de la Voie Domitienne,&nbsp;&nbsp;34500&nbsp;Béziers,&nbsp;,
            tél.&nbsp;:&nbsp;(+33) 4-67-35-27-66,&nbsp;, télécopieur&nbsp;:&nbsp;(+33) 4-67-35-27-67,&nbsp;, courriel&nbsp;:&nbsp;beziers@copyshop.fr,&nbsp;&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.herault.fr","TestLien","");' class="lien">http://www.herault.fr</A>.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal Administratif de Montpellier&nbsp;6
                rue Pitot - cS 99002&nbsp;34063&nbsp;Montpellier Cedex, tél.&nbsp;:&nbsp;(+33) 4-67-54-81-00, courriel&nbsp;:&nbsp;greffe.ta-montpellier@juradm.fr,
                télécopieur&nbsp;:&nbsp;(+33) 4-67-54-81-56.</P>
            <P><I>Organe chargé des procédures de médiation&nbsp;:&nbsp;</I>M.&nbsp;le président du Comité Consultatif
                Interrégional de règlement amiable des litiges en matière de marchés publics&nbsp;préfecture de Région -
                secrétariat général pour les affaires interrégionales 30 rue Paul Peytral Cedex 20&nbsp;13282&nbsp;Marseille.
            </P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Greffe
                du Tribunal Administratif de Montpellier&nbsp;6 rue Pitot - cS 99002&nbsp;34063&nbsp;Montpellier Cedex,
                tél.&nbsp;:&nbsp;(+33) 4-67-54-81-00, courriel&nbsp;:&nbsp;greffe.ta-montpellier@juradm.fr, télécopieur&nbsp;:&nbsp;(+33)
                4-67-54-81-56.</P><img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2999537&noa=15-100975"
                                       width="1" height="1"></td>
    </tr>
</table>
</body>
</html>