<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>73</B><!-- ED=20158203--><BR>Annonce No&nbsp;<B>15-100948</B><BR>Services
            <!--Etablissement public territorial--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Savoie Déchets.<BR>&nbsp;Correspondant&nbsp;:&nbsp;Mme&nbsp;Patricia
            van belleghem,&nbsp;336 Rue de Chantabord - cS 22425&nbsp;73024&nbsp;Chambéry Cedex, tél.&nbsp;:&nbsp;04-79-68-35-00,
            télécopieur&nbsp;:&nbsp;04-79-68-35-01&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.savoie-dechets.com","TestLien","");' class="lien">http://www.savoie-dechets.com</A>.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://marchespublics.chambery-metropole.fr","TestLien","");'
                    class="lien">https://marchespublics.chambery-metropole.fr</A>.<p><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>réalisation
                d'une étude pour l'augmentation de la fourniture d'énergie de l'unité de Valorisation Energétique et de
                Traitement des Déchets au chauffage urbain</B>.<BR><I>Catégorie de services&nbsp;:&nbsp;</I>12.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;71300000.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>durée du marché : A titre indicatif la
                durée estimée de l'étude est de 16 semaines à compter de octobre 2015.<Br>Consistance de la prestation :
                Réalisation d'une étude d'ingénierie opérationnelle, afin d'engager les optimisations, améliorations et
                investissements nécessaires pour atteindre en 2016, la cible de 78 000 Mwh de production d'énergie issue
                de la combustion des déchets de l'uvetd pour le compte du chauffage urbain contre 70 000 Mwh
                actuellement.<Br>Marché à lot unique comportant une tranche ferme et une tranche conditionnelle<BR><i>Quantités
                    (fournitures et services), nature et étendue (travaux)&nbsp;:&nbsp;</i>descriptif des prestations :
                <Br>Tranche ferme : état des lieux des process et flux, diagnostic, recommandations d'optimisation,
                approche technico-économique.<Br>Tranche conditionnelle : pour les solutions techniques retenues :<Br>Etude
                technico-économique des modifications des processus et équipements, schémas PID et spécifications
                particulières,<Br>Evaluation de la quantité d'énergie supplémentaire livrée au réseau de chaleur.<BR><I>Des
                    variantes seront-elles prises en compte: </I>oui.<BR>Prestations divisées en lots : non.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur
                technique : 70 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix : 30 %.
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>28&nbsp;août&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i>
            <P><i>Conditions de remise des offres ou des candidatures :</i><br>mode de transmission choisi par Savoie
                Déchets pour la remise des offres : sur papier, ou par voie électronique à l'adresse suivante :<BR>https://marchespublics.chambery-metropole.fr.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>21&nbsp;juillet&nbsp;2015.</P><I>Adresse
                auprès de laquelle des renseignements complémentaires peuvent être obtenus&nbsp;:&nbsp;</I>Savoie
            Déchets.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>Mme&nbsp;Patricia van belleghem,&nbsp;, tél.&nbsp;:&nbsp;04-79-68-35-00,&nbsp;&nbsp;adresse
            internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://marchespublics.chambery-metropole.fr","TestLien","");'
                    class="lien">https://marchespublics.chambery-metropole.fr</A>.<BR><I>Adresse auprès de laquelle les
                documents peuvent être obtenus&nbsp;:&nbsp;</I>Savoie Déchets.<BR>, télécopieur&nbsp;:&nbsp;04-79-68-35-01,&nbsp;&nbsp;adresse
            internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://marchespublics.chambery-metropole.fr","TestLien","");'
                    class="lien">https://marchespublics.chambery-metropole.fr</A>.<BR><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2999510&noa=15-100948" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>