<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>95</B><!-- ED=20158182--><BR>Annonce No&nbsp;<B>15-100209</B><BR>Fournitures
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>hôpital Simone Veil.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;Aubert
            Alexandre, Directeur,&nbsp;1 rue Jean Moulin&nbsp;95162&nbsp;Montmorency,
            tél.&nbsp;:&nbsp;01-34-06-60-62.<BR>Adresse internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://ch-simoneveil.achatpublic.com/sdm/ent/gen/index.jsp","TestLien","");'
                    class="lien">https://ch-simoneveil.achatpublic.com/sdm/ent/gen/index.jsp</A>.<BR>Le pouvoir
            adjudicateur n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s) Activité(s) du
                pouvoir adjudicateur : </i> Santé.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>mobilier des parties communes EHPAD. (Dossier de
                consultation téléchargeable sur le site : ch-simoneveil.achatpublic.com)</B>.<BR><I>Type de marché de
                fournitures&nbsp;:&nbsp;</I> achat.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;39151000.<BR><I>Lieu de livraison&nbsp;:&nbsp;</I>hôpital Simone Veil - site de
                Montmorency,&nbsp;95160&nbsp;Montmorency.<BR><I>Code NUTS : </I>|FR108|.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><br><i>Quantités (fournitures et services),
                nature et étendue (travaux)&nbsp;:&nbsp;</i>le marché débutera à compter de la date de réception de la
                notification du marché par le titulaire et se terminera le 31 décembre 2016. La totalité des équipements
                sera commandée en fonction de la date de réception des travaux prévue à ce jour en février 2016. Il
                s'agit d'un marché à bon de commande avec quantité maximum.<BR><I>Refus des variantes</I>.<BR>La
                procédure d'achat du présent avis est couverte par l'accord sur les marchés publics de l'OMC : oui.<br/><BR>Prestations
                divisées en lots : non.<BR><I>Modalités essentielles de financement et de paiement et/ou références aux
                    textes qui les réglementent&nbsp;:&nbsp;</I>le financement sera assuré sur les fonds propres de
                l'établissement. Le paiement sera effectué selon les modalités de l'article 98 du code des Marchés
                Publics. Le délai global de paiement est de 50 jous.<BR><i>Forme juridique que devra revêtir le
                    groupement d'opérateurs économiques attributaire du marché&nbsp;:&nbsp;</i>en cas de groupement, la
                forme souhaitée par le pouvoir adjudicateur est un groupement solidaire. Si le groupement attributaire
                du marché est d'une forme différente, il pourra se voir contraint d'assurer sa transformation pour se
                conformer au souhait du pouvoir adjudicateur tel qu'il est indiqué ci-dessus.<BR><I>L'exécution du
                    marché est soumise à d'autres conditions particulières : </I>non.<BR><I>Langues pouvant être
                    utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée,
                    l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I>
            <P><I>Marché réservé :&nbsp;</I>non.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire obligatoirement par le candidat, à l'appui de sa candidature&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Copie
                du ou des jugements prononcés, si le candidat est en redressement judiciaire;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                sur l'honneur du candidat justifiant qu'il n'entre dans aucun des cas mentionnés à l'article 43 du code
                des marchés publics, concernant les interdictions de soumissionner;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                sur l'honneur du candidat attestant qu'il est en règle, au cours de l'année précédant celle au cours de
                laquelle a lieu le lancement de la consultation, au regard des articles L. 5212-1, L. 5212-2, L. 5212 5
                et L. 5212-9 du code du travail, concernant l'emploi des travailleurs handicapés.<br/><br/><i>Documents
                    à produire à l'appui des candidatures par le candidat, au choix de l'acheteur
                    public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration concernant le chiffre
                d'affaires global et le chiffre d'affaires concernant les fournitures, services ou travaux objet du
                marché, réalisés au cours des trois derniers exercices disponibles;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                appropriée de banques ou preuve d'une assurance pour les risques professionnels;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                indiquant les effectifs moyens annuels du candidat et l'importance du personnel d'encadrement pour
                chacune des trois dernières années;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Présentation d'une liste des
                principales fournitures ou des principaux services effectués au cours des trois dernières années,
                indiquant le montant, la date et le destinataire public ou privé. Les livraisons et les prestations de
                services sont prouvées par des attestations du destinataire ou, à défaut, par une déclaration de
                l'opérateur économique.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).<BR>Une enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>3&nbsp;août&nbsp;2015,&nbsp;à&nbsp;16&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>150 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>MOBILIEREHPAD.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>transmission électronique : Le pouvoir adjudicateur
                impose la transmission des documents par voie électronique à l'adresse suivante :
                ch-simoneveil.achatpublic.com. Aucun autre mode de transmission n'est autorisé.<br>les conditions de
                présentation des plis électroniques sont similaires à celles exigées pour les réponses sur support
                papier (fichiers distincts dont l'un comporte les pièces de la candidature et l'autre, les pièces de
                l'offre, dans le cas d'une seule enveloppe). Chaque transmission fera l'objet d'une date certaine de
                réception et d'un avis de réception électronique. Le fuseau horaire de référence sera celui de
                (Gmt+01:00) Paris, Bruxelles, Copenhague, Madrid.<Br>Le pli peut être doublé d'une copie de sauvegarde
                transmise dans les délais impartis, sur support physique électronique ou sur support papier. Cette copie
                est transmise sous pli scellé et comporte obligatoirement la mention " copie de sauvegarde ", ainsi que
                le nom ducandidat et l'identification de la procédure concernée.<br>cette copie de sauvegarde devra être
                adressée à :<Br>Hôpital Simone Veil<Br>Direction du Patrimoine, des Achats ou de la Logistique<Br>Cellule
                des marchés publics<br>pavillon Gourmand<Br>1 rue Jean Moulin<Br>95160 Montmorency<Br>Aucun format
                électronique n'est préconisé pour la transmission des documents. Cependant, les fichiers devront être
                transmis dans des formats largement disponibles. Chaque pièce pour laquelle une signature est exigée
                doit faire l'objet d'une signature électronique individuelle et conforme au format Xades, Cades ou
                Pades. La seule signature électronique du pli n'emporte pas valeur d'engagement du candidat. Le niveau
                de sécurité requis pour le certificat de signature électronique est le Niveau (**) du RGS. Les
                certificats RGS (Référentiel Général de Sécurité) sont référencés dans une liste de confiance française
                (http://references.modernisation.gouv.fr) ou dans une liste de confiance d'un autreetat-membre de
                l'union européenne. Toutefois, le candidat est libre d'utiliser le certificat de son choix si celui-ci
                est conforme aux obligations minimales résultant du RGS. Dans ce cas, il doit transmettre tous les
                éléments nécessaires à la vérification de cette conformité. Les frais d'accès au réseau et de recours à
                la signature électronique sont à la charge de chaque candidat. Tout document contenant un virus
                informatique fera l'objet d'un archivage de sécurité et sera réputé n'avoir jamais été reçu. Le candidat
                concerné en sera informé. Dans ces conditions, il est conseillé aux candidats de soumettre leurs
                documents à un anti-virus avant envoi. Les documents transmis par voie électronique seront
                re-matérialisés après l'ouverture des plis. Les candidats sont informés que l'attribution du marché
                pourra donner lieu à la signature manuscrite du marché papier.<br>tres IMPORTANT : Pour être valide, la
                signature électronique doit remplir simultanément les conditions ci-dessous :<Br>1) la signature doit
                être apposée,<br>2) le certificat utilisé doit être conforme aux dispositions de l'arrêté du 15 juin
                2012 relatif à la signature électronique décrites ci-dessous, <Br>3) le certificat utilisé doit être
                validé à la date de la signature du document (ni échu, ni révoqué),<br>4) le certificat doit être établi
                au nom d'une personne physique autorisée à signer.<br>pour être valide, la signature électronique
                doit-être appliquée sur chaque document devant être signé (Dc1, Dc2, Dc3 et DC&nbsp;4, le cas
                échéant)<br>la signature électronique appliquée sur un fichier ".zip" contenant des documents non signés
                électroniquement n'est pas valable et entrainera le rejet de l'offre pour cause d'irrecevabilité. (Ord°
                du 09/03/2011 - t.A de Toulouse)<Br>Une signature manuscrite scannée n'a pas d'autre valeur que celle
                d'une copie et ne peut pas remplacer la signature électronique.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>la copie de sauvegarde devra être
                adressée à :<Br>Hôpital Simone Veil<Br>Direction du Patrimoine, des Achats ou de la Logistique<Br>Cellule
                des marchés publics<br>pavillon Gourmand<Br>1 rue Jean Moulin<Br>95160 Montmorency.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>30&nbsp;juin&nbsp;2015.</P><I>Adresse à
                laquelle les offres/candidatures/projets/demandes de participation doivent être envoyés&nbsp;:&nbsp;</I>GHEM
            HÔPITAL SIMONE VEIL.<BR>&nbsp;le pouvoir adjudicateur impose la transmission des documents par voie
            électronique à l'adresse suivante : ch-simoneveil.achatpublic.com. Aucun autre mode de transmission n'est
            autorisé,&nbsp;&nbsp;95160&nbsp;Montmorency,&nbsp;, tél.&nbsp;:&nbsp;01-34-06-60-62.<BR><I>Adresse auprès de
                laquelle des renseignements d'ordre technique peuvent être obtenus&nbsp;:&nbsp;</I>GHEM HÔPITAL SIMONE
            VEIL.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>Mme&nbsp;Papoin Bankolé Frédérique,&nbsp;&nbsp;1 rue Jean
            Moulin,&nbsp;&nbsp;95160&nbsp;Montmorency,&nbsp;, tél.&nbsp;:&nbsp;01-34-06-60-82.<BR><I>Adresse auprès de
                laquelle des renseignements d'ordre administratif peuvent être obtenus&nbsp;:&nbsp;</I>GHEM HÔPITAL
            SIMONE VEIL.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>Mme&nbsp;Fourreau Marie-Florence,&nbsp;&nbsp;1 rue
            Jean Moulin,&nbsp;&nbsp;95160&nbsp;Montmorency,&nbsp;, tél.&nbsp;:&nbsp;01-34-06-60-64.<BR><I>Adresse auprès
                de laquelle les documents peuvent être obtenus&nbsp;:&nbsp;</I>GHEM HÔPITAL SIMONE VEIL.<BR>&nbsp;le
            dossier de consultation est téléchargeable sur le site : ch-simoneveil.achatpublic.com,&nbsp;&nbsp;95160&nbsp;Montmorency,&nbsp;,
            tél.&nbsp;:&nbsp;01-34-06-60-62,&nbsp;&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://ch-simoneveil.achatpublic.com/sdm/ent/gen/ent_detail.do?PCSLID=CSL_2015__6ev25xClW","TestLien","");'
                    class="lien">https://ch-simoneveil.achatpublic.com/sdm/ent/gen/ent_detail.do?PCSLID=CSL_2015__6ev25xClW</A>.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal Administratif de Pontoise&nbsp;2 -
                4 boulevard de l'hautil B.P.&nbsp;30322&nbsp;95027&nbsp;Cergy Pontoise, tél.&nbsp;:&nbsp;01-30-17-34-00,
                courriel&nbsp;:&nbsp;greffe.ta-cergy-pontoise@juradm.fr, télécopieur&nbsp;:&nbsp;01-34-17-34-59.</P>
            <P><I>Organe chargé des procédures de médiation&nbsp;:&nbsp;</I>Tribunal Administratif de Pontoise&nbsp;2 -
                4 boulevard de l'hautil B.P.&nbsp;30322&nbsp;95027&nbsp;Cergy Pontoise, tél.&nbsp;:&nbsp;01-30-17-34-00,
                courriel&nbsp;:&nbsp;greffe.ta-cergy-pontoise@juradm.fr, télécopieur&nbsp;:&nbsp;01-34-17-34-59.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>GHEM
                HÔPITAL SIMONE VEIL&nbsp;Mme&nbsp;Nadège Aubert - directrice du Patrimoine, des Achats et de la
                Logistique Pavillon Gourmand - cellule des Marchés Publics 1 rue Jean Moulin&nbsp;95160&nbsp;Montmorency,
                tél.&nbsp;:&nbsp;01-34-06-60-65.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2998771&noa=15-100209" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>