<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><BR>Département(s) de publication : <B>62</B>,&nbsp;59
            <center><B>Convention de délégation de service public</B></center><!-- ED=20158183--><BR>Annonce No&nbsp;<B>15-101852</B>
            <HR>
            <a class="lien" href="#I">I.</a> <a class="lien" href="#II">II.</a> <a class="lien" href="#III">III.</a> <a
                    class="lien" href="#IV">IV.</a> <a class="lien" href="#V">V.</a><br>
            <p class="titreSection">Section I : Autorité délégante et adresse</p><span class="txt">I.1) </span><span
                    class="bold"> Nom et adresse</span><br/>NORD-PAS-DE-CALAIS NUMERIQUE,&nbsp;la citadelle - quartier
            des trois parallèles&nbsp;avenue du mémorial des fusillés, à l'attention de&nbsp;douez Fabrice,&nbsp;62000&nbsp;Arras.&nbsp;Tél.&nbsp;03-74-04-59-65.&nbsp;E-mail&nbsp;:&nbsp;<a
                    href="mailto:contact@lafibrenumerique5962.fr">contact@lafibrenumerique5962.fr</a>.<br/>Adresse
            générale de l'autorité délégante : <A
                    HREF='javascript:BMP_openWindow("https://www.lafibrenumerique5962.fr","TestLien","");' class="lien">https://www.lafibrenumerique5962.fr</A>.<BR>Adresse
            du profil d'acheteur : <A HREF='javascript:BMP_openWindow("https://marches.cdg5962.fr","TestLien","");'
                                      class="lien">https://marches.cdg5962.fr</A>.<BR><span class="bold">Adresse auprès de laquelle des informations complémentaires peuvent être obtenues : </span><br/><span
                    class="txt">Point(s) de contact susmentionné(s).</span><br/><span class="txt">I.2) </span><span
                    class="bold"> Nature de l'autorité délégante</span><br/>Etablissement public territorial.<BR>
            <p class="titreSection">Section II : Objet de la délégation de service public</p><span
                    class="txt">II.1)</span><span
                    class="bold">Intitulé de la délégation de service public</span><br/><span class="txt">délégation de service public relative à la conception, à l'établissement et à l'exploitation du réseau de communications électroniques Très Haut Débit du Syndicat mixte ouvert Nord-Pas de Calais numérique.</span><br/><span
                    class="txt">II.2)</span><span
                    class="bold">Texte en application duquel la convention est conclue</span><br/><span class="txt">l. 1411-1 du code général des collectivités territoriales.</span><br/><span
                    class="txt">II.3)</span><span class="bold">Objet de la délégation</span><br/><span class="txt">la présente consultation a pour objet le choix, par le Syndicat mixte Nord-Pas de Calais numérique, du délégataire à qui il se propose de confier, par voie de délégation de service public, en tout ou partie, le financement, la conception, la construction d'un réseau de communications électroniques à très haut débit en fibre optique, ainsi que l'exploitation technique et commerciale, tant des éléments du Réseau dont il a assuré la maîtrise d'ouvrage, que des éléments établis par le Syndicat, en application de l'article L. 1425-1 du Code général des collectivités territoriales. Le Délégataire sera tenu de concevoir, établir et exploiter le réseau de communications électroniques à ses frais, risques et périls durant toute la durée d'exécution de la convention de délégation de service public.</span><br/>Domaine
            de la délégation : Télécommunications.<BR/>Durée de la délégation : 25 ansLieu principal d'exécution de la
            délégation : région Nord Pas de Calais.<br/><span class="txt">II.5)</span><span class="bold">Classification CPV (vocabulaire commun pour les marchés publics)</span><br/><span
                    class="txt"><span class="obl">32523000</span>.<br/></span>
            <p class="titreSection">Section III : Conditions de participation</p><span class="txt">III.1)</span><span
                    class="bold">Situation propre des opérateurs économiques, y compris exigences relatives à l'inscription au registre du commerce ou de la profession</span><br/><span
                    class="txt">voir réglement de consultation</span>.<br/><span class="txt">III.2)</span><span
                    class="bold">Capacité économique et financière</span><br/><span class="txt">voir réglement de consultation</span>.<br/><span
                    class="txt">III.3)</span><span class="bold">Capacité technique et professionelle</span><br/><span
                    class="txt">voir réglement de consultation</span>.<br/>
            <p class="titreSection">Section IV : Procédure</p><span class="txt">IV.1)</span><span class="bold">Numéro de référence attribué au dossier par l'autorité</span><br><span
                    class="txt">2015-0001.</span><br/><span class="txt">IV.2)</span><span class="bold">Modalités de présentation des candidatures</span><br>Voir
            réglement de consultation.<BR/>Adresse à la quelle les candidatures doivent être envoyées : Syndicat mixte
            Nord Pas de Calais numérique,&nbsp;la Citadelle - quartier des trois parallèles&nbsp;avenue du mémorial des
            fusillés,&nbsp;62000&nbsp;Arras.&nbsp;E-mail&nbsp;:&nbsp;<a href="mailto:contact@lafibrenumerique5962.fr">contact@lafibrenumerique5962.fr</a>.&nbsp;Tél.&nbsp;03-74-04-59-65.&nbsp;URL&nbsp;:
            <A HREF='javascript:BMP_openWindow("http://lafibrenumerique5962.fr/","TestLien","");' class="lien">http://lafibrenumerique5962.fr/</A>.<br/><span
                    class="txt">IV.3)</span><span class="bold">Condition de délai</span><br>Si elle n'est pas prévue
            dans le réglement de la consultation, date limite de réception des offres : 7&nbsp;octobre&nbsp;2015, à 17&nbsp;heures.<BR/><span
                    class="txt">IV.4)</span><span
                    class="bold">Langue(s) pouvant être utilisée(s) pour les candidatures</span><br>français<span
                    class="txt">IV.5)</span><span class="bold">Critères de sélections des offres</span><br><span
                    class="txt">Voir réglement de consultation.</span><br/>
            <p class="titreSection">Section V : Renseignements complémentaires</p><span class="txt">V.1)</span><span
                    class="bold">La convention s'inscrit dans un projet ou un programme financé par des fonds communautaires :</span><span
                    class="txt">Non.</span><br/><span class="txt">V.3)</span><span
                    class="bold">Procédures de recours</span><br/><span class="txt">V.3.1)</span><span class="bold">Instance chargée des procédures de recours</span><br/><span
                    class="txt">Tribunal Administratif de Lille,&nbsp;143 Rue Jacquemars Giélée,&nbsp;59800&nbsp;Lille.&nbsp;E-mail&nbsp;:&nbsp;<a
                    href="mailto:greffe.ta-lille@juradm.fr">greffe.ta-lille@juradm.fr</a>.&nbsp;Tél.&nbsp;03-20-63-13-00.<br/></span><span
                    class="txt">V.3.3)</span><span class="bold">Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours</span><br/><span
                    class="txt">Tribunal Administratif de Lille,&nbsp;143 Rue Jacquemars Giélée,&nbsp;59800&nbsp;Lille.&nbsp;E-mail&nbsp;:&nbsp;<a
                    href="mailto:greffe.ta-lille@juradm.fr">greffe.ta-lille@juradm.fr</a>.&nbsp;Tél.&nbsp;03-20-63-13-00.<br/></span><span
                    class="txt">V.4)</span><span class="bold">Date d'envoi du présent avis : </span><span class="txt">2&nbsp;juillet&nbsp;2015.</span><br/><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000414&noa=15-101852" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>