<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>75</B><!-- ED=20158182--><BR>Annonce No&nbsp;<B>15-101378</B><BR>Services<!--Commune-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Direction des Achats Mairie de
            Paris.<BR>&nbsp;Correspondant&nbsp;:&nbsp; CSP 5 Domaine rénovation bâtiment Ville de Paris-Djs-Bi, Ville de
            Paris,&nbsp;da - 17 boulevard Morland DA - 95&nbsp;avenue de France&nbsp;75181&nbsp;Paris Cedex 04, courriel&nbsp;:&nbsp;DFA-csp5@paris.fr&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.paris.fr","TestLien","");' class="lien">http://www.paris.fr</A>.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://marches.maximilien.fr","TestLien","");' class="lien">https://marches.maximilien.fr</A>.<BR><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>missions de maîtrise d'&oelig;uvre relative à la rénovation
                du SSI et la création du désenfumage du hall bassin au centre sportif Didot situé 22&nbsp;avenue Georges
                Lafenestre à Paris 14<sup>e</sup>, et à la rénovation du désenfumage mécanique au gymnase Burgard situé
                251/253 rue de Vaugirard à Paris 15ème - en deux lots séparés</B>.<BR><I>Catégorie de services&nbsp;:&nbsp;</I>12.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;71000000.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>.<BR><I>Code NUTS : </I>|FR101|.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>missions de MOE relative à la rénovation
                du SSI et la création du désenfumage de hall bassin au centre sportif Didot 75014, et à la rénovation du
                désenfumage mécanique au gymnase Burgard 75015<BR><i>Quantités (fournitures et services), nature et
                    étendue (travaux)&nbsp;:&nbsp;</i>les prestations sont détaillées à l'article 2.5.1 de chacun des
                Cahiers des prescriptions techniques.<BR><I>Refus des variantes</I>.<BR>Prestations divisées en lots :
                oui.<BR>Possibilité de pr&eacute;senter une offre pour un ou plusieurs lots.<BR><I>Cautionnement et
                    garanties exigés&nbsp;:&nbsp;</I>le marché ne prévoit ni cautionnement ni garantie.<BR><I>Modalités
                    essentielles de financement et de paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>prestations
                financées par le budget d'investissement de la Ville de Paris. Possibilité de céder ou nantir les
                créances résultant des marchés. Marchés traités à prix global et forfaitaire révisable. Règlement par
                virement au compte du titulaire. En application du décret n<sup>o</sup>2013-269 relatif à la lutte
                contre les retards de paiements dans les contrats de la commande publique, le délai global de paiement
                prévu au premier alinéa de l'article 37 de la Loi n<sup>o</sup>2013-100 portant diverses dispositions
                d'adaptation de la législation au droit de l'union européenne en matière économique et financière, est
                fixé à trente jours maximum.<BR><i>Forme juridique que devra revêtir le groupement d'opérateurs
                    économiques attributaire du marché&nbsp;:&nbsp;</i>au choix. Cependant, pour l'exécution du marché,
                le mandataire du groupement conjoint sera solidaire de chacun des membres du groupement pour ses
                obligations contracuelles à l'égard du pouvoir adjudicateur. Si le candidat retenu ne respecte pas cette
                condition, il devra obligatoirement s'y conformer dans le cadre d'une mise au point avant la
                notification du marché. Il est interdit aux candidats de présenter, pour le marché, plusieurs offres en
                agissant à la fois 1° En qualité de candidat individuel et de membres d'un ou plusieurs groupements 2°
                En qualité de membre de plusieurs groupements.<BR><I>Langues pouvant être utilisées dans l'offre ou la
                    candidature&nbsp;:</I>&nbsp;français.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>au vu des éléments produits au titre de la candidature, les candidats qui
                ne peuvent soumissionner à un marché en application des dispositions de l'article 43 du code des marchés
                publics, ne produisent pas les pièces exigées ou ne disposent pas des capacités professionnelles,
                techniques ou financières pour exécuter les prestations seront éliminés. Les candidats enfreignant
                l'interdiction mentionnée à l'article 1.5 du règlement de consultation relative à la présentation de
                plusieurs offres seront éliminés.<BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>a
                l'appui de leur candidature, les candidats doivent obligatoirement produire les éléments suivants -
                imprimé Dc1 (Lettre de candidature et habilitation du mandataire par ses co-traitants) dans sa version
                mise à jour, disponible à l'adresse suivante : http://www.economie.gouv.fr/daj/formulaires ET intégrant
                l'attestation sur l'honneur relative à l'égalité femme-homme - imprimé Dc2 (Déclaration du candidat
                individuel ou du membre du groupement) dans sa version mise à jour, disponible à l'adresse suivante
                http://www.economie.gouv.fr/daj/formulaires , comportant les informations suivantes ou accompagné des
                documents suivants - copie du (ou des) jugement(s) prononcé(s) en cas de redressement judiciaire.<BR><I>Capacité
                    économique et financière - références requises&nbsp;:&nbsp;</I>déclaration concernant le chiffre
                d'affaires global réalisé au cours du dernier exercice disponible<BR><I>Référence professionnelle et
                    capacité technique - références requises&nbsp;:&nbsp;</I>liste des principales études en rapport
                avec l'objet du présent marché exécutées au cours des trois dernières années avec l'indication de leurs
                montants, dates et lieux de réalisation. Le candidat pourra joindre des certificats de bonne exécution à
                l'appui de la liste fournie - indications des titres d'études et professionnelles de l'opérateur
                économique et/ou des cadres de l'entreprise, notamment des responsables de prestations de même nature
                que celles objet du présent marché et en particulier les attestations de compétences exigées au minimum
                de capacités ci-après, le cas échéant; - déclaration indiquant les effectifs moyens annuels du candidat
                et l'importance du personnel d'encadrement pour l'année en cours. Pour les candidat dans
                l'impossibilité, à raison de leur création récente, de produire la liste susmentionnée, il est demandé
                de fournir l'indication des titres d'études et professionnels de l'opérateur économique et/ou des cadre
                de l'entreprise.<BR><I>Référence professionnelle et capacité technique - Niveau(x) spécifique(s)
                    minimal(aux) exigé(s)&nbsp;:&nbsp;</I>le candidat doit fournir les certificats de qualifications
                professionnelles suivants- attestation de compétence en désenfumage CNPP ou équivalent - attestation de
                compétence de coordination SSI 2<sup>e</sup> catégorie minimum pour le lot 1 et 3<sup>e</sup> catégorie
                pour le lot 2.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire obligatoirement par l'attributaire, avant la signature et la notification du marché public ou
                de l'accord-cadre (formulaire NOTI1)&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Les pièces
                prévues aux articles D. 8222-5 ou D. 8222-7 et D. 8222-8 du code du travail;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                l'attributaire est établi en France, les attestations et certificats délivrés par les administrations et
                organismes compétents prouvant qu'il a satisfait à ses obligations fiscales et sociales ou un état
                annuel des certificats reçus.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>27&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;16&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>180 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>2015V12010460.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>durée contractuelle: de la notification du marché à la
                fin de garantie de parfait achèvement des travaux correspondants. Chacun des marchés de maîtrise d'&oelig;uvre
                (lot 1 ou 2) débute à la date de notification duditmarché au titulaire et s'achève à la fin de la
                mission AOR. L'objectif est une livraison des travaux pour les dates indiquées dans le cahiers des
                prescriptions techniques de chaque lot. Par ailleurs, le délai de réalisation de chaque élément de
                mission court à partir de la date prescrite dans l'ordre de service et s'achève à la remise du document
                définitif. Ces délais s'entendent hors validation des éléments de mission. Les délais d'exécution des
                prestations sont, pour les deux lots: - dIAG: 2 semaines - aPS: 4 semaines - aPD: 3 semaines - pro/Dce:
                2 semaines - aCT: 2 semaines pour l'analyse initiale des offres; 1 semaine après les négociations -
                vISA: 1 semaines - det/Opc: durée des travaux - aOR: 5 semaines pour les OPR et 1 an pour lagpa. Afin de
                prendre connaissance des contraintes relatives aux lieux de réalisation des prestations, il est
                conseillé au candidat d'effectuer une visite des sites. Pour procéder à ces visites, le candidat doit
                contacter: Pour le centre sportif Burgard: - Mme&nbsp;DELERUE Tel: 01 53 69 01 49 - m. Tromelin Tel: 01
                44 26 26 55. Pour le centre sportif Didot: - m. Jans Tel: 01 45 39 89 35 ou 06 33 90 85 28. La date de
                conclusion du contrat, ainsi que les modalités de sa consultation dans les conditions prévues par la loi
                n<sup>o</sup>78-753 modifiée, seront précisées dans un avis spécifique librement consultable, sans
                identification préalable, à l'adresse https://m13.paris.fr La présente consultation autorise le recours
                à la négociation dans les conditions définies à l'article 5.2 du règlement de consultation.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>les plis papier sont à remettre
                obligatoirement à l'adresse indiquée, les plis dématérialisés sont à déposer sur la plate-forme
                https://marches.maximilien.fr.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>1.e.r&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I>Direction des Finances et des Achats Sous-direction des achats Bureau des
            marchés 3<sup>e</sup> étage - bureau 3094 Horaires: de 9h30à 12 h et de 14h à 16h.<BR>&nbsp;17 boulevard
            Morland,&nbsp;&nbsp;75004&nbsp;Paris,&nbsp;&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://marches.maximilien.fr","TestLien","");' class="lien">https://marches.maximilien.fr</A>.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre administratif et technique peuvent être obtenus&nbsp;:&nbsp;</I>Direction
            des Finances et des Achats CSP5 Domaine rénovation.<BR>&nbsp;100 rue Réaumur,&nbsp;&nbsp;75002&nbsp;Paris,&nbsp;,
            courriel&nbsp;:&nbsp;dfa-csp5@paris.fr,&nbsp;&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://marches.maximilien.fr","TestLien","");' class="lien">https://marches.maximilien.fr</A>.<BR><I>Adresse
                auprès de laquelle les documents peuvent être obtenus&nbsp;:&nbsp;</I>Direction des Finances et des
            Achats Sous-direction des achats Bureau des marchés 3<sup>e</sup> étage - bureau 3094 Horaires: de 9h30à 12
            h et de 14h à 16h.<BR>&nbsp;17 boulevard Morland,&nbsp;&nbsp;75004&nbsp;Paris,&nbsp;, tél.&nbsp;:&nbsp;01-71-28-60-63,&nbsp;,
            courriel&nbsp;:&nbsp;dfa-bm-transverse@paris.fr,&nbsp;&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://marches.maximilien.fr","TestLien","");' class="lien">https://marches.maximilien.fr</A>.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de Paris&nbsp;7 rue
                de Jouy&nbsp;75181&nbsp;Paris Cedex 04, tél.&nbsp;:&nbsp;01-44-59-44-00, courriel&nbsp;:&nbsp;greffe.ta-paris@juradm.fr,
                télécopieur&nbsp;:&nbsp;01-44-59-46-46.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Tribunal
                administratif de Paris&nbsp;7 rue de Jouy&nbsp;75181&nbsp;Paris Cedex 04, tél.&nbsp;:&nbsp;01-44-59-44-00,
                courriel&nbsp;:&nbsp;greffe.ta-paris@juradm.fr, télécopieur&nbsp;:&nbsp;01-44-59-46-46.</P>
            <P><I>Renseignements relatifs aux lots&nbsp;:&nbsp;</I>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 1.</span> - centre sportif Didot 75014.</td>
                            </tr>
                            <tr>
                                <td class="txt">Mission de maitrise d'&oelig;uvre relative à la rénovation du SSI et la
                                    création du désenfumage du hall bassin
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;71000000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 2.</span> - centre sportif Burgard 75015.</td>
                            </tr>
                            <tr>
                                <td class="txt">Mission de maitrise d'&oelig;uvre relative à la rénovation du
                                    désenfumage mécanique
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;71000000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2999940&noa=15-101378" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>