<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>13</B>,&nbsp;6<!-- ED=20158183--><BR>Annonce No&nbsp;<B>15-101247</B><BR>Services
            <!--Etat--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>CRNA-SE.<BR>&nbsp;Correspondant&nbsp;:&nbsp;pierre
            Meon, Gilles Raymond, Isabelle Melloul, Bernadette Ammouche,&nbsp;1, Rue Vincent Auriol&nbsp;13617&nbsp;Aix-en-Provence
            Cedex 1, tél.&nbsp;:&nbsp;04-42-33-11-86, poste&nbsp;1186, télécopieur&nbsp;:&nbsp;04-42-33-78-47, courriel&nbsp;:&nbsp;pierre.meon@aviation-civile.gouv.fr,gilles.raymond@aviation-civile.gouv.fr,isabelle.melloul@aviation-civile.gouv.fr,bernadette.ammouche@aviation-civile.gouv.fr&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("https://www.dgac.gouv.fr/","TestLien","");'
                               class="lien">https://www.dgac.gouv.fr/</A>.<BR>Adresse internet du profil d'acheteur&nbsp;:
            <A HREF='javascript:BMP_openWindow("https://www.marches-publics.gouv.fr/","TestLien","");' class="lien">https://www.marches-publics.gouv.fr/</A>.<BR>Le
            pouvoir adjudicateur agit pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s) Activité(s) de
                l'entité adjucatrice : </i> Activités aéroportuaires.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>fourniture de séjours linguistiques en immersion en pays
                anglophones dans le cadre des formations continues des personnels de la Direction des Services de la
                Navigation Aérienne (Dsna) en région Sud-Est</B>.<BR><I>Catégorie de services&nbsp;:&nbsp;</I>24.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;80580000.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>.<BR><I>Code NUTS : </I>FR.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>marché passée selon une procédure adaptée
                en application des dispositions de l'article 148 du Code des Marchés Publics et ayant pour objet :<Br>La
                fourniture de séjours linguistiques en immersion en pays anglophones dans le cadre des formations
                continues des personnels de la DSNA en région Sud-Est et principalement des personnels techniques
                assurant des fonctions de contrôle aérien.<Br>Les séjours se déroulent dans les pays suivants :<Br>-Royaume
                Uni,<Br>-République d'irlande.<Br>Les prestations du présent marché concernent les personnels des
                services suivants :<Br>-Le CRNA-SE à Aix-En-Provence.<Br>-Le SNA-SSE à Marseille-Provence, Aix les
                Milles, Avignon-Caumont, Montpellier-Méditerranée, Béziers-Vias, Perpignan-Rivesaltes et
                Nîmes-Garons.<Br>-Le SNA-SE à Nice, Cannes, Ajaccio, Bastia, Figari et Calvi<BR><i>Quantités
                    (fournitures et services), nature et étendue (travaux)&nbsp;:&nbsp;</i>le présent marché est passé
                sans montant minimum ni maximum.<Br>À titre indicatif, le nombre moyen de stages commandés sur une année
                par les services est de :<Br>-100 stages pour le CRNA-SE<Br>-40 stages pour le SNA-SSE<Br>-50 stages
                pour le SNA-SE<Br>Ces quantités ne constituent pas un engagement de commande, et sont susceptibles
                d'être révisées en fonction de l'évolution de la politique de formation des services. Elles peuvent
                également varier à la hausse ou à la baisse d'une année sur l'autre en fonction de la périodicité de
                renouvellement des PIFA (Plans Individuels de Formation à l'anglais) des agents.<BR><i>Options :
                    descriptions concernant les achats complémentaires&nbsp;:&nbsp;</i>une formule peut être proposée en
                option : " institut / Résidence ".<BR><I>Refus des variantes</I>.<BR>La procédure d'achat du présent
                avis est couverte par l'accord sur les marchés publics de l'OMC : oui.<br/><BR>Prestations divisées en
                lots : non.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>48 mois à compter de la notification du
                marché.<BR><I>Modalités essentielles de financement et de paiement et/ou références aux textes qui les
                    réglementent&nbsp;:&nbsp;</I>medde, dgac, crna-se, Le paiement s'effectuera par virement
                administratif, le délai global de paiement est fixé à trente (30) jours à compter de la date de
                réception de la facture (Décret 2008-407 du 28 avril 2008 modifié).<Br>Le taux des intérêts moratoires
                applicable en cas de dépassement du délai de paiement est égal au taux de l'intérêt de la principale
                facilité de refinancement appliqué par la BCE à laquelle les intérêts moratoires ont commencé à courir,
                majoré de huit points (Décret 2013-269 du 29 mars 2013).<Br>Les ordonnateurs secondaires délégués
                chargés de l'exécution financière du marché sont :<Br>-Le chef du CRNA-SE<Br>-Le chef du SNA-SSE<Br>-Le
                chef du SNA-SE<Br>Le comptable assignataire des paiements est l'agent comptable secondaire du BACEA
                Sud-Est.<BR><i>Forme juridique que devra revêtir le groupement d'opérateurs économiques attributaire du
                    marché&nbsp;:&nbsp;</i>groupement solidaire.<BR><I>L'exécution du marché est soumise à d'autres
                    conditions particulières : </I>non.<BR><I>Langues pouvant être utilisées dans l'offre ou la
                    candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I>
            <P>La prestation n'est pas réservée à une profession particulière.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire obligatoirement par le candidat, à l'appui de sa candidature&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Copie
                du ou des jugements prononcés, si le candidat est en redressement judiciaire;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                sur l'honneur du candidat justifiant qu'il n'entre dans aucun des cas mentionnés à l'article 43 du code
                des marchés publics, concernant les interdictions de soumissionner;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                sur l'honneur du candidat attestant qu'il est en règle, au cours de l'année précédant celle au cours de
                laquelle a lieu le lancement de la consultation, au regard des articles L. 5212-1, L. 5212-2, L. 5212 5
                et L. 5212-9 du code du travail, concernant l'emploi des travailleurs handicapés;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                le candidat est établi en France, une déclaration sur l'honneur du candidat justifiant que le travail
                est effectué par des salariés employés régulièrement au regard des articles L. 1221-10, L. 3243-2 et R.
                3243-1 du code du travail (dans le cas où le candidat emploie des salariés, conformément à l'article D.
                8222-5-3° du code du travail);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si le candidat est établi ou
                domicilié à l'étranger, une déclaration sur l'honneur du candidat attestant qu'il fournit à ses salariés
                des bulletins de paie comportant les mentions prévues à l'article R. 3243-1 du code du travail, ou des
                documents équivalents.<br/><br/><i>Documents à produire à l'appui des candidatures par le candidat, au
                    choix de l'acheteur public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                concernant le chiffre d'affaires global et le chiffre d'affaires concernant les fournitures, services ou
                travaux objet du marché, réalisés au cours des trois derniers exercices disponibles;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                appropriée de banques ou preuve d'une assurance pour les risques professionnels;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                indiquant les effectifs moyens annuels du candidat et l'importance du personnel d'encadrement pour
                chacune des trois dernières années;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Présentation d'une liste des
                principales fournitures ou des principaux services effectués au cours des trois dernières années,
                indiquant le montant, la date et le destinataire public ou privé. Les livraisons et les prestations de
                services sont prouvées par des attestations du destinataire ou, à défaut, par une déclaration de
                l'opérateur économique;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire DC1, Lettre de candidature -
                Habilitation du mandataire par ses co-traitants (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC2, Déclaration du candidat individuel ou du membre du groupement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC3, Acte d'engagement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;S'il
                s'appuie, pour présenter sa candidature, sur les capacités professionnelles, techniques et financières
                d'autres opérateurs économiques, le candidat produit les mêmes documents concernant cet opérateur
                économique que ceux qui lui sont exigés par l'acheteur public. Le candidat doit également apporter la
                preuve que chacun de ces opérateurs économiques mettra à sa disposition les moyens nécessaires, pendant
                toute la durée d'exécution du marché public ou de l'accord-cadre;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                les documents fournis par le candidat ne sont pas établis en langue française, ils doivent être
                accompagnés d'une traduction en français, certifiée conforme à l'original par un traducteur
                assermenté.<br/><br/><i>Documents à produire obligatoirement par l'attributaire, avant la signature et
                    la notification du marché public ou de l'accord-cadre (formulaire NOTI1)&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Les
                pièces prévues aux articles D. 8222-5 ou D. 8222-7 et D. 8222-8 du code du travail;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                l'attributaire est établi en France, les attestations et certificats délivrés par les administrations et
                organismes compétents prouvant qu'il a satisfait à ses obligations fiscales et sociales ou un état
                annuel des certificats reçus;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si l'attributaire est établi dans
                un Etat autre que la France, un certificat établi par les administrations et organismes du pays
                d'origine. Lorsqu'un tel certificat n'est pas délivré par le pays concerné, il peut être remplacé par
                une déclaration sous serment, ou dans les Etats où un tel serment n'existe pas, par une déclaration
                solennelle faite par l'intéressé devant l'autorité judiciaire ou administrative compétente, un notaire
                ou un organisme professionnel qualifié du pays;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si les documents
                fournis par le candidat ne sont pas établis en langue française, ils doivent être accompagnés d'une
                traduction en français, certifiée conforme à l'original par un traducteur assermenté.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>6&nbsp;août&nbsp;2015,&nbsp;à&nbsp;16&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>2015/08.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>1.e.r&nbsp;juillet&nbsp;2015.</P><I>Adresse
                auprès de laquelle des renseignements d'ordre technique peuvent être obtenus&nbsp;:&nbsp;</I>Service de
            la navigation aérienne Sud/Sud-Est.<BR>SNA/SSE.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>Mme&nbsp;Carole
            roux (dechaux,&nbsp;&nbsp;sna-sse Aéroport de Marseille Provence - n<sup>o</sup>1 Aéroport,&nbsp;&nbsp;13727&nbsp;Marignane
            Cedex,&nbsp;, tél.&nbsp;:&nbsp;04-42-31-15-60,&nbsp;, courriel&nbsp;:&nbsp;carole.dechaux@aviation-civile.gouv.fr.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre technique peuvent être obtenus&nbsp;:&nbsp;</I>CRNA-SE sub
            instruction.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>eric Gaillard,&nbsp;&nbsp;1, rue Vincent Auriol,&nbsp;&nbsp;13617&nbsp;Aix-en-Provence,&nbsp;,
            tél.&nbsp;:&nbsp;04-42-33-16-12,&nbsp;, courriel&nbsp;:&nbsp;eric.gaillard@aviation-civile.gouv.fr.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre technique peuvent être obtenus&nbsp;:&nbsp;</I>Service de
            la navigation aérienne Sud-Est<BR>SNA-SE.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>M.&nbsp;Cyrille VINCENT,&nbsp;&nbsp;aeroport
            de nice Bp3036,&nbsp;&nbsp;06201&nbsp;Nice Cedex 3,&nbsp;, tél.&nbsp;:&nbsp;04-93-17-21-60,&nbsp;, courriel&nbsp;:&nbsp;cyrille.vincent@aviation-civile.gouv.fr.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>TA de Marseille&nbsp;en cas de litige, seul
                le tribunal administratif de Marseille sis 22/24, rue Breteuil - 13006 Marseille Téléphone : 04 91 13 48
                13, est compétent&nbsp;13006&nbsp;Marseille.</P>
            <P><I>Organe chargé des procédures de médiation&nbsp;:&nbsp;</I>Comité régional de règlement amiable des
                litiges.&nbsp;toutefois, en application de l'article 127 du code des marchés publics, il pourra être
                fait appel à un comité régional de règlement amiable des litiges sis à la Préfecture de la région
                Provence - alpes - côte d'azur - boulevard Paul Peytral - 13282 Marseille Cedex 20 - tél. :
                04.91.15.63.74. - télécopieur : 04.91.15.61.90&nbsp;13282&nbsp;Marseille.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2999809&noa=15-101247" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>