<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>34</B><!-- ED=20158181--><BR>Annonce No&nbsp;<B>15-100054</B><BR>Services<!--Commune-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Ville de Béziers.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;Menard
            Robert,&nbsp;place Gabriel Péri CS 60715&nbsp;34508&nbsp;Béziers Cedex, tél.&nbsp;:&nbsp;04-67-36-71-60,
            télécopieur&nbsp;:&nbsp;04-67-36-73-79, courriel&nbsp;:&nbsp;marches@ville-beziers.fr.<BR>Adresse internet
            du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://beziers.achatpublic.com","TestLien","");' class="lien">https://beziers.achatpublic.com</A>.<BR>Le
            pouvoir adjudicateur n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>enlèvement, mise en fourrière et préparation de véhicules
                avant destruction</B>.<BR><I>Catégorie de services&nbsp;:&nbsp;</I>27.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;98351110<br><i>Objets supplémentaires&nbsp;:&nbsp;</i>50118110.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>.<BR><I>Code
                    NUTS : </I>|FR813|.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>enlèvement, mise en fourrière et
                préparation de véhicules avant destruction.<br>le présent marché est un marché à bons de commande sans
                minimum et avec un montant maximum annuel de 100 000.00 euro(s) (H.T.). Le montant sera identique pour
                la période de reconduction.<br>le marché s'exécutera par le biais de bons de commande mensuels
                récapitulant les ordres d'interventions notifiés au titulaire et exécutés au cours de la période.<br>le
                marché est conclu pour une période initiale de 1 an à compter de la notification du marché. Le marché
                peut être reconduit pour une période de 1 an<BR><I>Refus des variantes</I>.<BR>La procédure d'achat du
                présent avis est couverte par l'accord sur les marchés publics de l'OMC : non.<br/><BR>Prestations
                divisées en lots : non.<BR><I>Cautionnement et garanties exigés&nbsp;:&nbsp;</I>aucune clause de
                garantie financière ne sera appliquée.<BR><I>Modalités essentielles de financement et de paiement et/ou
                    références aux textes qui les réglementent&nbsp;:&nbsp;</I>financement sur fonds propres de la
                collectivité. Paiement par mandat administratif dans un délai de 30 jours.<BR><i>Forme juridique que
                    devra revêtir le groupement d'opérateurs économiques attributaire du marché&nbsp;:&nbsp;</i>aucune
                forme de groupement n'est imposée.<BR><I>L'exécution du marché est soumise à d'autres conditions
                    particulières : </I>non.<BR><I>Langues pouvant être utilisées dans l'offre ou la
                    candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>garanties et capacités techniques et financières<br>capacités
                professionnelles.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire obligatoirement par le candidat, à l'appui de sa candidature&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Copie
                du ou des jugements prononcés, si le candidat est en redressement judiciaire.<br/><br/><i>Documents à
                    produire à l'appui des candidatures par le candidat, au choix de l'acheteur
                    public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration concernant le chiffre
                d'affaires global et le chiffre d'affaires concernant les fournitures, services ou travaux objet du
                marché, réalisés au cours des trois derniers exercices disponibles;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Présentation
                d'une liste des principales fournitures ou des principaux services effectués au cours des trois
                dernières années, indiquant le montant, la date et le destinataire public ou privé. Les livraisons et
                les prestations de services sont prouvées par des attestations du destinataire ou, à défaut, par une
                déclaration de l'opérateur économique;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire DC1, Lettre de
                candidature - Habilitation du mandataire par ses co-traitants (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC2, Déclaration du candidat individuel ou du membre du groupement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4).<br/><br/><i>Documents
                    à produire obligatoirement par l'attributaire, avant la signature et la notification du marché
                    public ou de l'accord-cadre (formulaire NOTI1)&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Les
                pièces prévues aux articles D. 8222-5 ou D. 8222-7 et D. 8222-8 du code du travail;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                l'attributaire est établi en France, les attestations et certificats délivrés par les administrations et
                organismes compétents prouvant qu'il a satisfait à ses obligations fiscales et sociales ou un état
                annuel des certificats reçus.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix
                des prestations : 40 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur technique étudiée au regard du
                mémoire technique : 60 %.<BR>Une enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>22&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>PA15-059 Enlèvement fourrière.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>30&nbsp;juin&nbsp;2015.</P><I>Adresse à
                laquelle les offres/candidatures/projets/demandes de participation doivent être envoyés&nbsp;:&nbsp;</I>Ville
            de Béziers.<BR>&nbsp;département de la Commande Publique et des Achats Service des Marchés Publics Place
            Gabriel Péri CS 60715,&nbsp;&nbsp;34508&nbsp;Béziers Cedex,&nbsp;, tél.&nbsp;:&nbsp;04-67-36-71-60,&nbsp;&nbsp;adresse
            internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://beziers.achatpublic.com/sdm/ent/gen/ent_detail.do?PCSLID=CSL_2015_qwg4-eY-_x","TestLien","");'
                    class="lien">https://beziers.achatpublic.com/sdm/ent/gen/ent_detail.do?PCSLID=CSL_2015_qwg4-eY-_x</A>.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre administratif et technique peuvent être obtenus&nbsp;:&nbsp;</I>Ville
            de Béziers.<BR>&nbsp;département de la Commande Publique et des Achats Service des Marchés Publics Place
            Gabriel Péri CS 60715,&nbsp;&nbsp;34508&nbsp;Béziers Cedex,&nbsp;, tél.&nbsp;:&nbsp;04-67-36-71-60,&nbsp;,
            télécopieur&nbsp;:&nbsp;04-67-36-73-79,&nbsp;, courriel&nbsp;:&nbsp;marches@ville-beziers.fr,&nbsp;&nbsp;adresse
            internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://beziers.achatpublic.com/sdm/ent/gen/ent_detail.do?PCSLID=CSL_2015_qwg4-eY-_x","TestLien","");'
                    class="lien">https://beziers.achatpublic.com/sdm/ent/gen/ent_detail.do?PCSLID=CSL_2015_qwg4-eY-_x</A>.<BR><I>Adresse
                auprès de laquelle les documents peuvent être obtenus&nbsp;:&nbsp;</I>Ville de Béziers.<BR>&nbsp;département
            de la Commande Publique et des Achats Service des Marchés Publics Place Gabriel Péri CS 60715,&nbsp;&nbsp;34508&nbsp;Béziers
            Cedex,&nbsp;, tél.&nbsp;:&nbsp;04-67-36-71-60,&nbsp;, télécopieur&nbsp;:&nbsp;04-67-36-73-79,&nbsp;,
            courriel&nbsp;:&nbsp;marches@ville-beziers.fr,&nbsp;&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://beziers.achatpublic.com/sdm/ent/gen/ent_detail.do?PCSLID=CSL_2015_qwg4-eY-_x","TestLien","");'
                    class="lien">https://beziers.achatpublic.com/sdm/ent/gen/ent_detail.do?PCSLID=CSL_2015_qwg4-eY-_x</A>.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de Montpellier&nbsp;6
                rue Pitot&nbsp;34063&nbsp;Montpellier Cedex, tél.&nbsp;:&nbsp;334-67-54-81-00, courriel&nbsp;:&nbsp;greffe.ta-montpellier@juradm.fr,
                télécopieur&nbsp;:&nbsp;334-67-54-74-50.</P>
            <P><I>Organe chargé des procédures de médiation&nbsp;:&nbsp;</I>Comité consultatif interrégional de
                règlement amiable des litiges relatifs aux marchés publics de Marseille, préfecture de région, SGAR,&nbsp;boulevard
                Paul Peytral&nbsp;13282&nbsp;Marseille.</P><I>Précisions concernant le(s) délai(s) d'introduction des
                recours : </I>référé précontractuel (art. L. 551-1 à L. 551-12 du Cja), et pouvant être exercé avant la
            signature du contrat. Référé contractuel (art. L.551-13 à L.551-23 du Cja), et pouvant être exercé dans les
            délais prévus à l'art. R. 551-7. Recours de pleine juridiction ouvert aux concurrents évincés, et pouvant
            être exercé dans les deux mois suivant la date à laquelle la conclusion du contrat est rendue publique.<br>recours
            contre une décision administrative (art. R. 421-1 à R. 421-7 du Cja), et pouvant être exercé dans les 2 mois
            suivant la notification ou publication de la décision de l'organisme.<BR><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2998616&noa=15-100054" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>