<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>93</B><!-- ED=20158184--><BR>Annonce No&nbsp;<B>15-102559</B><BR>Services
            <!--Etablissement public territorial--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>OPHLM de Drancy.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;Amari,&nbsp;27
            rue Roger Petieu&nbsp;93700&nbsp;Drancy, tél.&nbsp;:&nbsp;01-48-96-68-00.<BR>Adresse internet du profil
            d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://www.achatpublic.com/sdm/ent/gen/index.jsp","TestLien","");'
                    class="lien">https://www.achatpublic.com/sdm/ent/gen/index.jsp</A>.<BR>Le pouvoir adjudicateur
            n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s) Activité(s) du pouvoir
                adjudicateur : </i> Logement et équipements collectifs.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>marché de maîtrise d'&oelig;uvre pour la réhabilitation
                intérieure et extérieure d'un immeuble d'habitation de 12 logements sis17/21 GIBRAT</B>.<BR><I>Catégorie
                de services&nbsp;:&nbsp;</I>12.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;71200000.<BR><I>Lieu
                d'ex&eacute;cution&nbsp;:&nbsp;</I>oph de Drancy, 27 rue Roger Petieu,&nbsp;93700&nbsp;Drancy.<BR><I>Code
                NUTS : </I>|FR1|.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>marché de maîtrise d'&oelig;uvre pour la
                réhabilitation intérieure et extérieure d'un immeuble d'habitation de 12 logements sis 17/21
                GIBRAT<BR><i>Quantités (fournitures et services), nature et étendue (travaux)&nbsp;:&nbsp;</i>la
                prestation est composée d'une tranche ferme décomposée en 2 phases et d'une tranches conditionnelles
                :<BR>Tranche ferme : <Br>Phase 1 : travaux de réhabilitation intérieure.<br>phase 2 : travaux de
                réhabilitation extérieure<BR>tranche conditionnelle OPC - phase 1.<BR><I>Refus des variantes</I>.<BR>La
                procédure d'achat du présent avis est couverte par l'accord sur les marchés publics de l'OMC : non.<br/><BR>Prestations
                divisées en lots : non.<BR><I>Modalités essentielles de financement et de paiement et/ou références aux
                    textes qui les réglementent&nbsp;:&nbsp;</I>les prestations, objet du présent marché, seront
                rémunérées dans les conditions fixées par les règles de comptabilité publique.<br>les sommes dues au(x)
                titulaire(s) et au(x) sous-traitant(s) de premier rang éventuel(s) du marché, seront payées dans un
                délai global de 30 jours à compter de la date de réception des factures ou des demandes de paiement
                équivalentes.<br>les prestations du maître d'&oelig;uvre seront financées sur le budget de l'oph.<BR><i>Forme
                    juridique que devra revêtir le groupement d'opérateurs économiques attributaire du marché&nbsp;:&nbsp;</i>l'offre,
                qu'elle soit présentée par une seule entreprise ou par un groupement, devra indiquer tous les
                sous-traitants connus lors de son dépôt. Elle devra également indiquer les prestations (et leur montant)
                dont la sous-traitance est envisagée, la dénomination et la qualité des sous-traitants qui l'exécuteront
                à la place du titulaire.<br>en cas de groupement, la forme souhaitée par le pouvoir adjudicateur est un
                groupement conjoint avec mandataire solidaire. Dans ce cas, l'architecte est le mandataire. Si le
                groupement attributaire du marché est d'une forme différente, il pourra se voir contraint d'assurer sa
                transformation pour se conformer au souhait du pouvoir adjudicateur tel qu'il est indiqué ci-dessus.<br>le
                mandataire, à la différence des autres membres du groupement, ne peut se présenter dans plusieurs
                équipes candidates.<BR><I>Langues pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>garanties et capacités techniques et financières<br>capacités
                professionnelles.<BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>conformément au
                Règlement de la consultation.<BR><I>Capacité économique et financière - références
                    requises&nbsp;:&nbsp;</I>conformément au Règlement de la consultation<BR><I>Référence
                    professionnelle et capacité technique - références requises&nbsp;:&nbsp;</I>conformément au
                Règlement de la consultation.<BR><I>Référence professionnelle et capacité technique - Niveau(x)
                    spécifique(s) minimal(aux) exigé(s)&nbsp;:&nbsp;</I>conformément au Règlement de la consultation.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><BR>conformément
                au Règlement de la consultation.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur
                technique : 60 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix : 40 %.
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>4&nbsp;août&nbsp;2015,&nbsp;à&nbsp;11&nbsp;heures.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>2015-30.
            <p><I>Conditions et mode de paiement pour obtenir les documents contractuels et additionnels</I> :<BR>Le
                dossier de consultation des entreprises est librement et gratuitement téléchargeable sur le site
                www.acahtpublic.com<BR>En cas de difficulté les entreprises peuvent joindre le Secrétariat Général de
                l'oph de Drancy au numéro de téléphone suivant : 0148966356.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>2&nbsp;juillet&nbsp;2015.</P><I>Adresse
                auprès de laquelle des renseignements d'ordre administratif peuvent être obtenus&nbsp;:&nbsp;</I>OPH DE
            DRANCY.<BR>&nbsp;27, rue Roger Petieu,&nbsp;&nbsp;93700&nbsp;Drancy.<p><I>Instance chargée des procédures de
                recours&nbsp;:&nbsp;</I>Tribunal Administratif de Montreuil&nbsp;7 rue Catherine Puig&nbsp;93100&nbsp;Montreuil,
                tél.&nbsp;:&nbsp;01-49-20-20-00, courriel&nbsp;:&nbsp;greffe.ta-montreuil@juradm.fr.</P><I>Précisions
                concernant le(s) délai(s) d'introduction des recours : </I>articles R 421-1 à R 421-7 du Code de justice
            administrative (2 mois à compter de la notification ou publication de la décision du pouvoir adjudicateur).
            Articles L 551-1 et R 551-1 du Code de justice administrative pour le référé précontractuel.<BR><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3001121&noa=15-102559" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>