<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>76</B>,&nbsp;27<!-- ED=20158184--><BR>Annonce No&nbsp;<B>15-101331</B><BR>Services
            <!--Région--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Conseil Régional de
            Haute-Normandie.<BR>&nbsp;Correspondant&nbsp;:&nbsp;service de la Commande Publique,&nbsp;5 rue Robert
            Schuman CS 21129&nbsp;76174&nbsp;Rouen Cedex, tél.&nbsp;:&nbsp;02-35-52-57-18, télécopieur&nbsp;:&nbsp;02-35-52-23-50,
            courriel&nbsp;:&nbsp;service.commande.publique@hautenormandie.fr&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.hautenormandie.fr","TestLien","");' class="lien">http://www.hautenormandie.fr</A>.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.mpe76.fr","TestLien","");' class="lien">http://www.mpe76.fr</A>.<BR>Le
            pouvoir adjudicateur n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>prestations de numérisation des clichés argentiques du
                service inventaire et patrimoine</B>.<BR><I>Catégorie de services&nbsp;:&nbsp;</I>27.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>région
                Haute-Normandie.<BR><I>Code NUTS : </I>FR23.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>la présente procédure adaptée ouverte est
                soumise aux dispositions des articles 28 et 30 du Code des Marchés Publics et concerne des Prestations
                de numérisation des clichés argentiques du service inventaire et patrimoine.<Br>Cette consultation sera
                passée en application des dispositions de l'article 77 du Code des marchés publics relatif aux marchés à
                bons de commande.<Br>Il s'agit d'un marché à bons de commande avec un montant maximum annuel de 20.000
                eurosHt. <Br>Au regard de l'arrêt du Conseil d'etat du 8 août 2008, Commune de Nanterre, n<sup>o</sup>
                309136, les marchés à bons de commande au sens de l'article 77 du code des marchés publics, sont
                regardés comme des accords cadre au sens de la Directive 2004/18 du 31 mars 2004.<Br>Le marché prend
                effet à compter de sa notification, pour une durée d'un an, renouvelable 4 fois par tacite
                reconduction<BR><i>Quantités (fournitures et services), nature et étendue (travaux)&nbsp;:&nbsp;</i>le
                maître d'ouvrage se réserve la possibilité de passer:<Br>- des avenants <Br>- un nouveau marché pour la
                réalisation de prestations complémentaires ou similaires passé en application de la procédure adaptée de
                l'article 28.ii du code des marchés publics et qui sera exécuté par l'attributaire de ce présent marché.
                <Br>Les conditions d'exécution de ce nouveau marché seront identiques à celles du marché initial.<BR><I>Refus
                    des variantes</I>.<BR>Prestations divisées en lots : non.<BR><I>Cautionnement et garanties exigés&nbsp;:&nbsp;</I>aucune
                clause de garantie financière ne sera appliquée.<BR><I>Modalités essentielles de financement et de
                    paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>articles 86 à 111 du code
                des marchés publics à l'exception des articles 90, 91, 101, 102 et 103. <Br>Le marché sera réglé sur le
                budget de la Région de Haute-Normandie constitutive d'une collectivité régionale.<Br>Le délai de
                paiement est fixé à 30 jours dans le respect des dispositions de l'article 98 du code des marchés
                publics.<BR><i>Forme juridique que devra revêtir le groupement d'opérateurs économiques attributaire du
                    marché&nbsp;:&nbsp;</i>le candidat peut se présenter seul ou en groupement d'entreprises auquel cas
                la forme requise sera un groupement conjoint avec mandataire solidaire.<BR><I>L'exécution du marché est
                    soumise à d'autres conditions particulières : </I>non.<BR><I>Langues pouvant être utilisées dans
                    l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>garanties et capacités techniques et financières ;<Br>Références
                professionnelles.<BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>les candidats doivent
                utiliser les formulaires Dc1 (lettre de candidature à signer) et Dc2 (déclaration du candidat) pour
                présenter leur candidature. Ces documents sont disponibles gratuitement sur le site
                www.economie.gouv.fr/daj/formulaires. Ils contiendront les éléments indiqués ci-dessous :<Br>Les
                renseignements concernant la situation juridique de l'entreprise tels que prévus à l'article 44 du Code
                des marchés publics :<Br>- copie du ou des jugements prononcés, si le candidat est en redressement
                judiciaire ;<Br>- déclaration sur l'honneur :<Br>* pour justifier que le candidat n'entre dans aucun des
                cas mentionnés à l'article 43 du CMP ;<Br>* indiquant ne pas avoir fait l'objet, depuis moins de cinq
                ans, d'une condamnation inscrite au bulletin n<sup>o</sup> 2 du casier judiciaire pour les infractions
                mentionnées à l'article L. 1146-1 du code du travail ;<Br>* indiquant avoir, au 31 décembre de l'année
                précédant celle au cours de laquelle a lieu le lancement de la consultation, mis en &oelig;uvre
                l'obligation de négociation prévue à l'article L. 2242-5 du code du travail ou, à défaut, avoir réalisé
                ou engagé la régularisation de cette situation à la date de la soumission ;<Br>- renseignements sur le
                respect de l'obligation d'emploi mentionnée aux articles L. 5212-1 à L. 5212-4 du Code du
                travail.<BR><I>Capacité économique et financière - références requises&nbsp;:&nbsp;</I>les
                renseignements concernant la capacité économique et financière de l'entreprise tels que prévus à
                l'article 45 du Code des marchés publics :<Br>- déclaration concernant le chiffre d'affaires global et
                le chiffre d'affaires concernant les services objet du contrat, réalisés au cours des trois derniers
                exercices disponibles ;<Br>- déclaration appropriée de banques ou preuve d'une assurance pour les
                risques professionnels ;<BR><I>Référence professionnelle et capacité technique - références requises&nbsp;:&nbsp;</I>les
                renseignements concernant les références professionnelles et la capacité technique de l'entreprise tels
                que prévus à l'article 45 du Code des marchés publics :<Br>- déclaration indiquant les effectifs moyens
                annuels du candidat et l'importance du personnel d'encadrement pour chacune des trois dernières années ;<Br>-
                liste des principaux services, objet du présent marché, effectués au cours des trois dernières années,
                indiquant le montant, la date et le destinataire public ou privé. Les prestations de services sont
                prouvées par des attestations du destinataire ou, à défaut, par une déclaration de l'opérateur
                économique sur la bonne exécution des travaux les plus importants en précisant qu'ils ont été effectués
                dans les règles de l'art et menés régulièrement à bonne fin;<Br>Pour justifier des capacités
                professionnelles, techniques et financières d'autres opérateurs économiques sur lesquels il s'appuie
                pour présenter sa candidature, le candidat produit les mêmes documents concernant cet opérateur
                économique que ceux qui lui sont exigés par le pouvoir adjudicateur. En outre, pour justifier qu'il
                dispose des capacités de cet opérateur économique pour l'exécution des prestations, le candidat produit
                un engagement écrit de l'opérateur économique.<Br>Les entreprises nouvellement créées doivent pouvoir
                justifier de leurs capacités financières et professionnelles par tous les moyens.
            <p>La prestation n'est pas réservée à une profession particulière.
            <p>Les personnes morales sont tenues d'indiquer les noms et qualifications professionnelles des membres du
                personnel chargé de la prestation.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur
                technique de l'offre au regard de la note méthodologique, au regard des sous critères suivants : equipe
                dédiée à l'exécution des prestations. 20 % ; la méthodologie de la chaîne de numérisation élaborée pour
                répondre à la mission , les moyens mis en &oelig;uvre pour nettoyer les fichiers, et présentera de façon
                détaillée les conditions de conservation des clichés, le matériel et les logiciels utilisés pour
                l'acquisition et le traitement numérique des clichés.25 % ; proposition d'optimisation du délai
                d'exécution au regard du rapport rapidité d'exécution/volume de traitement dont le délai maximum est de
                90 jours, tel que défini au cahier des charges.15 % : 60 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix
                des prestations au regard du dqe (détail quantitatif estimatif) : 40 %.<BR>Une enchère électronique ne
                sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>28&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;16&nbsp;h&nbsp;30.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>60 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>15095SIP.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>pour information, l'attribution du ou (des) marché(s)
                fera l'objet d'un avis consultable sur le site www.mpe76.fr .<Br><Br>Le Décret no 2014-1097 du 26
                septembre 2014 portant mesures de simplification applicables aux marchés publics pose le principe du "
                dites-le nous une seule fois " ou de la mutualisation des dossiers de présentation qui permet aux
                candidats de ne présenter qu'une seule fois les informations nécessaires à la validation de leur
                candidature à plusieurs marchés publics passés par le même service acheteur, sous réserve, le cas
                échéant, de leur mise à jour. <Br>Au 2 Janvier 2015, la Région Haute Normandie met en place un outil
                collaboratif dédié au stockage des pièces de la candidature des entreprises répondant à nos
                consultations. <Br>Dès lors les candidats sont informés que la Région Haute Normandie pourra disposer
                des documents déjà en sa possession, en cours de validité, pour la validation ou la complétude de son
                dossier de candidature.
            <p><I>Conditions et mode de paiement pour obtenir les documents contractuels et additionnels</I> :<BR>Le
                dossier de consultation sera retiré gratuitement par chaque candidat auprès de Hélio Service.<Br>Le
                dossier de consultation est également téléchargeable sur le site www.mpe76.fr.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>les offres peuvent être transmises par
                lettre recommandée avec avis de réception ou déposées contre récépissé.<Br>Ou transmission par voie
                électronique www.mpe76.fr sous la référence publique 15095sip.<Br>La Région Haute-Normandie privilégie
                le mode de transmission par voie papier.<Br>Les conditions de présentation des plis électroniques sont
                similaires à celles exigées pour les réponses sur support papier. Chaque transmission fera l'objet d'une
                date certaine de réception et d'un avis de réception électronique. Chaque pièce de la candidature/et ou
                offre doit faire l'objet d'une signature électronique propre. <Br>Dès lors, en application des
                dispositions des articles 11 du code des marchés publics, il convient que les candidatures (DC 1
                modifié) et les pièces de l'offre notamment l'acte d'engagement, transmis par voie électronique soient
                signés par un représentant de l'opérateur économique, habilité à engager sa société, au moyen d'un
                certificat de signature électronique "Fichier isolé par fichier isolé".<Br>Une signature manuscrite
                scannée ou griffée n'a pas d'autre valeur que celle d'une copie et ne peut pas remplacer la signature
                électronique.<Br>Par application de l'arrêté du 15 juin 2012 relatif à la signature électronique dans
                les marchés publics, les candidats doivent respecter les conditions relatives aux certificats de
                signature et à l'outil de signature décrites à l'article 6.2 du présent règlement de consultation. Il
                est conseillé aux candidats d'utiliser un certificat de signature reconnu ainsi que l'outil de signature
                de la plate-forme Dans le cas contraire, les justificatifs précisés à l'article 6.2 du règlement de
                consultation seront à fournir.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>2&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I>Région Haute-Normandie.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>service
            Commande Publique,&nbsp;&nbsp;5 Rue Robert Schuman CS 21129,&nbsp;&nbsp;76174&nbsp;Rouen Cedex,&nbsp;, tél.&nbsp;:&nbsp;02-35-52-57-18,&nbsp;,
            télécopieur&nbsp;:&nbsp;02-35-52-23-50,&nbsp;, courriel&nbsp;:&nbsp;service.commande.publique@hautenormandie.fr,&nbsp;&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.mpe76.fr","TestLien","");' class="lien">http://www.mpe76.fr</A>.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre technique peuvent être obtenus&nbsp;:&nbsp;</I>Région
            Haute-Normandie.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>direction de l'aménagement du Territoire et des
            Transports - service Inventaire et patrimoine,&nbsp;&nbsp;5 Rue Robert Schuman CS 21129 Charlotte Goupil :
            02.32.08.19.85 / Christophe Kollmann : 02.35.52.21.64 / Denis Couchaux : 02.35.52.21.83,&nbsp;&nbsp;76174&nbsp;Rouen
            Cedex,&nbsp;&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.mpe76.fr","TestLien","");' class="lien">http://www.mpe76.fr</A>.<BR><I>Adresse
                auprès de laquelle les documents peuvent être obtenus&nbsp;:&nbsp;</I>Hélio Service.<BR>&nbsp;16 bis,
            rue Alfred Kastler B.P.&nbsp;331,&nbsp;&nbsp;76136&nbsp;Mont-Saint-Aignan Cedex,&nbsp;, tél.&nbsp;:&nbsp;02-32-19-50-25,&nbsp;,
            télécopieur&nbsp;:&nbsp;02-32-19-50-40,&nbsp;, courriel&nbsp;:&nbsp;ao@helio-service.fr,&nbsp;&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.mpe76.fr","TestLien","");' class="lien">http://www.mpe76.fr</A>.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif ou Président du
                Tribunal Administratif&nbsp;53,&nbsp;avenue Gustave Flaubert&nbsp;76000&nbsp;Rouen, tél.&nbsp;:&nbsp;02-32-08-12-70,
                courriel&nbsp;:&nbsp;greffe.ta-rouen@juradm.fr, télécopieur&nbsp;:&nbsp;02-32-08-12-71.</P><I>Précisions
                concernant le(s) délai(s) d'introduction des recours : </I>délais de recours:<Br>L'Ensemble des référés
            prévus aux articles L 551-1, L551-2, L521-1, L521-2, L521-3, L 551-13 à 23, R531-1, R532-1, R541-1 du code
            de justice administrative, sans condition de délai sauf le référé pré-contractuel qui peut être exercé
            depuis le début de la procédure de passation jusqu'à la signature du contrat <Br>- déféré préfectoral sur
            saisine: Article L4142-1 du code général des collectivités territoriales dans un délai de deux mois suivant
            la date de réception de l'acte contesté (demande de suspension possible par le préfet)<Br>- recours pour
            excès de pouvoir prévu par l'article R421-1 du code de justice administrative dans un délai de deux mois à
            compter de la notification de la décision contestée ou, le cas échéant, de trois ou quatre mois sur le
            fondement du délai de distance.<Br>Prolongation possible de quatre à six mois du délai pour l'exercice d'un
            recours administratif ou par la saisine du Préfet pour qu'il défère la décision contestée au tribunal
            administratif.<Br>- recours administratif auprès du Président du Conseil régional.<Br>- recours de pleine
            juridiction sur le fondement de l'arrêt CE " sa tropic Travaux Signalisation "du 16 juillet 2007.<BR><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2999893&noa=15-101331" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>