<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>93</B><!-- ED=20158184--><BR>Annonce No&nbsp;<B>15-102344</B><BR>Services<!--Commune-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Ville de Rosny-sous-Bois.<BR>&nbsp;Correspondant&nbsp;:&nbsp;Mme&nbsp;COELHO
            Sophie, Rédacteur marchés publics,&nbsp;hôtel de Ville 20 rue Claude Pernès&nbsp;93110&nbsp;Rosny-sous-Bois.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://www.achatpublic.com/sdm/ent/gen/index.jsp","TestLien","");'
                    class="lien">https://www.achatpublic.com/sdm/ent/gen/index.jsp</A>.<BR><i>Principale(s) Activité(s)
                du pouvoir adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>marché de services pour l'impression de supports de
                communication amovibles (non compris dans le marché d'impression) pour la Ville de
                Rosny-Sous-Bois</B>.<BR><I>Catégorie de services&nbsp;:&nbsp;</I>15.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;79811000<br><i>Objets supplémentaires&nbsp;:&nbsp;</i>51300000<BR>44212313.<BR><I>Lieu
                    d'ex&eacute;cution&nbsp;:&nbsp;</I>rosny-Sous-Bois,&nbsp;93110&nbsp;Rosny-sous-Bois.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>le présent marché a pour objet
                l'impression de supports de communication amovibles (non compris dans le marché d'impression) pour la
                Ville de Rosny-Sous-Bois.<BR>Concrètement, il s'agira de réaliser les supports amovibles PLV,
                l'impression, la livraison et éventuellement l'installation et le retrait<BR><i>Quantités (fournitures
                    et services), nature et étendue (travaux)&nbsp;:&nbsp;</i><i>Estimation de la valeur (H.T.) : </i>entre
                60 000 et 200 000&nbsp;euros.<BR><I>Refus des variantes</I>.<BR>Prestations divisées en lots : non.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>48 mois à compter de la notification du
                marché.<BR><I>Cautionnement et garanties exigés&nbsp;:&nbsp;</I>avance: Garantie à première demande.<BR>une
                avance sera versée à l'entrepreneur dans les conditions visées à l'article 87 du code des marchés
                publics, si le montant du marché pour le lot concerné est supérieur à 50 000,00 euro(s) (H.T.) et que le
                délai d'exécution est supérieur à 2 mois. Le titulaire peut refuser le versement de l'avance en le
                précisant dans l'acte d'engagement.<BR>toutefois, le titulaire verra son versement conditionné par la
                constitution obligatoire d'une garantie à première demande conformément à l'article 89 du Code des
                Marchés Publics.<BR>Lorsqu'Une partie du marché est sous-traitée, l'assiette de l'avance prévue à
                l'article 87 du Code des Marchés Publics est réduite, pour le titulaire, au montant correspondant aux
                prestations lui incombant. <Br>Une avance est versée, sur leur demande, aux sous-traitants bénéficiaires
                du paiement direct. Le droit du sous-traitant à une avance est ouvert dès la notification du marché ou
                de l'acte spécial par le pouvoir adjudicateur. <BR>Le remboursement de cette avance s'effectue selon les
                modalités prévues à l'article 88 du Code des Marchés Publics. Si le titulaire du marché qui a perçu
                l'avance sous-traite une part du marché postérieurement à sa notification, il rembourse l'avance
                correspondant au montant des prestations sous-traitées, même dans le cas où le sous-traitant ne peut pas
                ou ne souhaite pas bénéficier de l'avance.<BR><I>Modalités essentielles de financement et de paiement
                    et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>le paiement se fera par mandat
                administratif conformément aux articles 86 à 117 du code des marchés publics à la réglementation en
                vigueur. Le financement sera assuré par les ressources du budget communal. Le marché est passé à prix
                unitaires et révisables.<BR><I>Langues pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>prix sur la base du détail quantitatif estimatif 40 %<BR>Valeur technique
                sur la base du cadre de mémoire technique et méthodologique 60%<br>dont :<Br>- moyens techniques et
                humains mis en &oelig;uvre pour la réalisation de la prestation 20%<br>- la robustesse et l'esthétique
                du travail fini 10%<br>- les délais d'exécution 20%<br>- moyens mis en &oelig;uvre pour la protection de
                l'environnement 10%.
            <p>La prestation n'est pas réservée à une profession particulière.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire à l'appui des candidatures par le candidat, au choix de l'acheteur
                public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Présentation d'une liste des principales
                fournitures ou des principaux services effectués au cours des trois dernières années, indiquant le
                montant, la date et le destinataire public ou privé. Les livraisons et les prestations de services sont
                prouvées par des attestations du destinataire ou, à défaut, par une déclaration de l'opérateur
                économique;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire DC1, Lettre de candidature - Habilitation
                du mandataire par ses co-traitants (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC2, Déclaration du candidat individuel ou du membre du groupement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4).<br/><br/><i>Autres
                    renseignements demandés&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres
                renseignements demandés : le formulaire " Dites-Le nous une fois " annexe 2 du présent document. Les
                informations fournies dans ce formulaire permettront, conformément à l'article 45 du Code des marchés
                publics d'évaluer votre expérience, votre capacité professionnelle et financière et si l'objet du marché
                le justifie d'avoir des renseignements sur les habilitations préalables nécessaires pour
                soumissionner.<BR><I>Nombre minimal de candidats admis à présenter une offre&nbsp;:&nbsp;</I>1.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>24&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>MAPA + 90 PLV.
            <p><I>Conditions et mode de paiement pour obtenir les documents contractuels et additionnels</I> :<BR>Les
                entreprises sont vivement invitées à retirer les DCE par voie électronique, en le téléchargeant sur le
                site http://rosny-sous-bois.achatpublic.com.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>2&nbsp;juillet&nbsp;2015.</P><I>Adresse
                auprès de laquelle les documents peuvent être obtenus&nbsp;:&nbsp;</I><BR>&nbsp;adresse internet&nbsp;:
            <A HREF='javascript:BMP_openWindow("https://www.achatpublic.com/sdm/ent/gen/ent_detail.do?PCSLID=CSL_2015_TAUcJVa3d6","TestLien","");'
               class="lien">https://www.achatpublic.com/sdm/ent/gen/ent_detail.do?PCSLID=CSL_2015_TAUcJVa3d6</A>.<p><I>Instance
                chargée des procédures de recours&nbsp;:&nbsp;</I>Greffe du Tribunal Administratif&nbsp;7 rue
                Catherine-Puig&nbsp;93100&nbsp;Montreuil, tél.&nbsp;:&nbsp;01-49-20-20-00, courriel&nbsp;:&nbsp;greffe.ta.montreuil@juradm.fr.
            </P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Greffe
                du Tribunal Administratif&nbsp;7 rue Catherine-Puig&nbsp;93100&nbsp;Montreuil, tél.&nbsp;:&nbsp;01-49-20-20-00,
                courriel&nbsp;:&nbsp;greffe.ta.montreuil@juradm.fr.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000906&noa=15-102344" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>