<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=50--><BR>Département(s) de
            publication : <B>24</B><!-- ED=20158184--><BR>Annonce No&nbsp;<B>15-102514</B><BR>Services<!--Commune-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Commune de Trélissac.<BR>&nbsp;Correspondant&nbsp;:&nbsp;
            COLBAC Francis, Maire,&nbsp;place Napoléon Magne B.P.&nbsp;8&nbsp;24751&nbsp;Trélissac, tél.&nbsp;:&nbsp;05-53-02-76-87,
            télécopieur&nbsp;:&nbsp;05-53-02-56-73, courriel&nbsp;:&nbsp;philippon-sandrine@ville-trelissac.fr&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.ville-trelissac.fr","TestLien","");'
                               class="lien">http://www.ville-trelissac.fr</A>.<BR>Adresse internet du profil d'acheteur&nbsp;:
            <A HREF='javascript:BMP_openWindow("http://www.ville-trelissac.fr","TestLien","");' class="lien">http://www.ville-trelissac.fr</A>.<BR><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>le présent marché est un marché public de services ayant
                pour objet de confier au futur titulaire la fourniture, la pose, l'entretien et la maintenance de
                mobiliers urbains d'informations municipales et publicitaires destinés à être implantés sur le
                territoire de la Ville de Trélissac, et la fourniture de services associés dans le cadre de campagnes à
                savoir, l'impression, la pose et dépose d'affiches d'information municipale pour la commune et la
                conception, l'impression de plans et carnets de bord</B>.<BR><I>Catégorie de services&nbsp;:&nbsp;</I>15.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;45233293<br><i>Objets supplémentaires&nbsp;:&nbsp;</i>79800000.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>les variantes concernant la durée du
                marché ainsi que sur le mobilier urbain sont autorisées<BR><i>Quantités (fournitures et services),
                    nature et étendue (travaux)&nbsp;:&nbsp;</i>les éléments sont renseignés dans le dossier de
                consultation.<BR><I>Des variantes seront-elles prises en compte: </I>oui.La procédure d'achat du présent
                avis est couverte par l'accord sur les marchés publics de l'OMC : oui.<br/><BR>Prestations divisées en
                lots : non.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>3650 jours à compter de la notification du
                marché.<BR><I>Modalités essentielles de financement et de paiement et/ou références aux textes qui les
                    réglementent&nbsp;:&nbsp;</I>le titulaire se rémunère sur les recettes perçues de la publicité
                autorisée sur les mobiliers.<BR><i>Forme juridique que devra revêtir le groupement d'opérateurs
                    économiques attributaire du marché&nbsp;:&nbsp;</i>les candidats peuvent présenter une offre, soit
                en qualité de candidats individuels, soit en qualité de membres d'un ou plusieurs groupements. Ils ne
                peuvent donc pas cumuler les deux qualités.<BR><I>Langues pouvant être utilisées dans l'offre ou la
                    candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>-
                Copie du ou des jugements prononcés, si le candidat est en redressement judiciaire,<br>- formulaire Dc1,<Br>-
                formulaire Dc2,<Br>- formulaire DC&nbsp;4,<Br>- déclarations sur l'honneur.<BR><I>Capacité économique et
                    financière - références requises&nbsp;:&nbsp;</I>références requises :<Br>- déclaration indiquant
                les effectifs moyens annuels du candidat sur les 3 dernières années,<br>- déclaration indiquant
                l'outillage, le matériel et l'équipement technique dont le candidat dispose pour la réalisation de
                marchés de même nature,<br>- présentation d'une liste des principales fournitures ou des principaux
                services effectués au cours des dernières années, indiquant le montant, la date et le destinataire
                public,<br>- indication des titres d'études et professionnels des cadres de l'entreprise et notamment
                des responsables de prestation de services ou de conduit des travaux de même nature que celle du marché,<br>-
                certificats de qualifications professionnelles,<br>- déclaration appropriée de banques ou preuve d'une
                assurance pour les risques professionnels
            <P>La prestation n'est pas réservée à une profession particulière.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur
                technique de l'offre : 40 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;montant de la redevance : 40 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;qualités
                esthétiques : 20 %.<BR>Une enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>appel d'offres ouvert.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>31&nbsp;août&nbsp;2015,&nbsp;à&nbsp;17&nbsp;h&nbsp;30.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>PANNEAUX PUBLICITAIRES.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>retrouvez cet avis intégral, l'accès au dossier et le
                guichet de dépôt sur http://www.ville-trelissac.fr.<BR><I>Date limite d'obtention</I> : 17&nbsp;août&nbsp;2015.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>2&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I>MAIRIE DE TRELISSAC : SERVICES TECHNIQUES.<BR>&nbsp;place napoleon magne B.P.&nbsp;8,&nbsp;&nbsp;24751&nbsp;Trelissac.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre technique peuvent être obtenus&nbsp;:&nbsp;</I>MAIRIE DE
            TRELISSAC : DIRECTION GENERALE DES SERVICES.<BR>&nbsp;place napoleon magne B.P.&nbsp;8,&nbsp;&nbsp;24751&nbsp;Trelissac,&nbsp;,
            tél.&nbsp;:&nbsp;05-53-02-76-82,&nbsp;, télécopieur&nbsp;:&nbsp;05-53-02-76-70.<BR><I>Adresse auprès de
                laquelle des renseignements d'ordre administratif peuvent être obtenus&nbsp;:&nbsp;</I>MAIRIE DE
            TRELISSAC : SERVICES TECHNIQUES.<BR>&nbsp;place napoleon magne B.P.&nbsp;8,&nbsp;&nbsp;24751&nbsp;Trelissac,&nbsp;,
            tél.&nbsp;:&nbsp;05-53-02-76-87,&nbsp;, télécopieur&nbsp;:&nbsp;05-53-02-56-73,&nbsp;, courriel&nbsp;:&nbsp;philippon-sandrine@ville-trelissac.fr.<BR><I>Adresse
                auprès de laquelle les documents peuvent être obtenus&nbsp;:&nbsp;</I>MAIRIE DE TRELISSAC : SERVICES
            TECHNIQUES.<BR>&nbsp;place napoleon magne B.P.&nbsp;8,&nbsp;&nbsp;24751&nbsp;Trelissac,&nbsp;, tél.&nbsp;:&nbsp;05-53-02-76-87,&nbsp;,
            télécopieur&nbsp;:&nbsp;05-53-02-56-73,&nbsp;, courriel&nbsp;:&nbsp;philippon-sandrine@ville-trelissac.fr.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de Bordeaux&nbsp;9
                Rue Tastet B.P.&nbsp;947&nbsp;33063&nbsp;Bordeaux, tél.&nbsp;:&nbsp;05-56-99-38-00, courriel&nbsp;:&nbsp;greffe.ta-bordeaux@juradm.fr,
                télécopieur&nbsp;:&nbsp;05-56-24-39-03.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3001076&noa=15-102514" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>