<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>93</B><!-- ED=20158183--><BR>Annonce No&nbsp;<B>15-101518</B><BR>Fournitures
            <!--Etablissement public territorial--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Ville de Drancy.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;Sébastien
            Vannier,&nbsp;place de l'hôtel de ville&nbsp;93700&nbsp;Drancy, tél.&nbsp;:&nbsp;01-48-96-50-00, courriel&nbsp;:&nbsp;marches.publics@drancy.fr.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://www.achatpublic.com/sdm/ent/gen/index.jsp","TestLien","");'
                    class="lien">https://www.achatpublic.com/sdm/ent/gen/index.jsp</A>.<BR>Le pouvoir adjudicateur
            n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s) Activité(s) du pouvoir
                adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>fourniture de colis gourmands pour les retraites</B>.<BR><I>Type
                de marché de fournitures&nbsp;:&nbsp;</I> achat.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;15897300.<BR><I>Lieu
                de livraison&nbsp;:&nbsp;</I>.<BR><I>Code NUTS : </I>|FR106|.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>le Centre Communal d'action Sociale
                (C.C.A.S.) offre, à chaque fin d'année aux retraités de Drancy un colis gourmand. <Br>Le C.C.A.S accorde
                une importance tant au niveau du prix qu'au niveau de la qualité du colis et sa présentation
                générale.<br>les concurrents doivent présenter une offre entièrement conforme au dossier de consultation
                (solution de base).<BR>mais ils peuvent également présenter, conformément à l'article 50 du Code des
                marchés publics, une offre comportant des variantes qui doivent respecter l'exigence minimale détaillée
                suivante : respect de la composition du colis.<br>le nombre de variante autorisée est limité à 3<BR><i>Quantités
                    (fournitures et services), nature et étendue (travaux)&nbsp;:&nbsp;</i>les prestations seront
                rémunérées par application aux quantités réellement exécutées des prix du bordereau des prix unitaires
                propres au présent marché. Les quantités envisagées de commandes pour l'année 2015 sont estimées à 1850
                colis "Couple" et 3750 colis "Simple". Ces quantités ne sont données qu'à titre indicatif et pourront
                varier en plus ou en moins.<BR>le budget maximum consacré à ces achats est pour le colis " simple "
                14,00 euro(s)uros (T.T.C.) et pour le colis " couple " 20,00 euro(s)uros (T.T.C.).<BR><I>Des variantes
                    seront-elles prises en compte: </I>oui.<BR>Prestations divisées en lots : non.<BR><I>Cautionnement
                    et garanties exigés&nbsp;:&nbsp;</I>aucune clause de garantie financière ne sera appliquée.<BR><I>Modalités
                    essentielles de financement et de paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>les
                prestations seront financées selon les modalités suivantes : les fournitures seront rémunérées sur les
                ressources propres du C.C.A.S. À la section fonctionnement de son budget. <BR>Les sommes dues au(x)
                titulaire(s) du marché, seront payées dans un délai global de 30 jours à compter de la date de réception
                des factures ou des demandes de paiement équivalentes.<BR><I>Langues pouvant être utilisées dans l'offre
                    ou la candidature&nbsp;:</I>&nbsp;français.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>garanties et capacités techniques et financières<br>capacités
                professionnelles.<BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>les candidats peuvent
                utiliser les formulaires Dc1 (lettre de candidature) et Dc2 (déclaration du candidat) pour présenter
                leur candidature. Ces documents sont disponibles gratuitement sur le site www.minefi.gouv.fr.<BR>Les
                renseignements concernant la situation juridique de l'entreprise tels que prévus à l'article 44 du Code
                des marchés publics :<Br>- la lettre de candidature et d'habilitation du mandataire par ses co-traitants
                ; dans le cas d'un groupement d'entreprises, ce document devra être daté et signé en original par tous
                ses membres et par le mandataire qui sera explicitement désigné par les membres du groupement (Dc1)
                ;<Br>- déclaration du candidat (ou formulaire Dc2) entièrement renseignée, datée et signée ;<Br>-
                extrait Kbis de moins de 3 mois, ou équivalent, permettant notamment de vérifier l'habilitation du
                signataire des pièces du dossier de candidature et du marché ;<Br>- copie du ou des jugements prononcés,
                si le candidat est en redressement judiciaire ;<Br>- déclaration sur l'honneur pour justifier que le
                candidat n'entre dans aucun des cas mentionnés à l'article 43 du CMP.<BR><I>Capacité économique et
                    financière - références requises&nbsp;:&nbsp;</I>déclaration concernant le chiffre d'affaires global
                et le chiffre d'affaires concernant les fournitures objet du contrat, réalisés au cours des trois
                derniers exercices disponibles ;<BR><I>Référence professionnelle et capacité technique - références
                    requises&nbsp;:&nbsp;</I>déclaration indiquant les effectifs moyens annuels du candidat et
                l'importance du personnel d'encadrement pour chacune des trois dernières années ;<Br>- liste des
                principales fournitures effectuées au cours des trois dernières années, indiquant le montant, la date et
                le destinataire public ou privé. Les livraisons sont prouvées par des attestations du destinataire ou, à
                défaut, par une déclaration de l'opérateur économique ;<Br>- déclaration indiquant l'outillage, le
                matériel et l'équipement technique dont le candidat dispose pour la réalisation de contrats de même
                nature ; <BR>Pour justifier des capacités professionnelles, techniques et financières d'autres
                opérateurs économiques sur lesquels il s'appuie pour présenter sa candidature, le candidat produit les
                mêmes documents concernant cet opérateur économique que ceux qui lui sont exigés par le pouvoir
                adjudicateur. En outre, pour justifier qu'il dispose des capacités de cet opérateur économique pour
                l'exécution des prestations, le candidat produit un engagement écrit de l'opérateur économique.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur
                technique: qualité du contenant : 10 points ; qualité du contenu : 27.5 points ; respect de la
                composition : 12.5 points ; mesures à caractère social et environnemental mises en &oelig;uvre pour le
                marché (ateliers protégés, commerce équitable, protection de l'environnement) : 5 points ; modalités de
                livraison et moyens mis en &oelig;uvre pour garantir les délais de livraison : 5 points : 60 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix
                des prestations : 40 %.
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>31&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>F2015/COL/CCAS/MM.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>la durée du marché se confond avec le délai d'exécution
                et court jusqu'à la reprise complète des colis non distribués.<br>les livraisons sont prévues à la date
                suivante :<Br>Le vendredi 20 novembre 2015 à 8 heures<br>cette date est donnée à titre indicatif, un
                planning définitif de livraison sera défini par la personne publique en accord avec le titulaire du
                marché. <Br>Afin de permettre la comparaison qualitative des produits, les candidats devront faire
                parvenir obligatoirement et sous peine de rejet de leur offre, un échantillon gratuit de l'offre "Colis
                simple ".<Br>Cet échantillon, destiné à un test gustatif ne sera pas rendu. <Br>Il sera remis à titre
                gratuit, franco de port, et ne fera l'objet d'aucune facturation.<BR>les échantillons doivent parvenir
                impérativement dans un paquet séparé adressé à : <BR>Mairie de Drancy<Br>Service Achat / Economat<Br>Place
                de l'hôtel de ville<br>93700 Drancy <BR>Ces échantillons devront impérativement être remis au même titre
                que les offres (Voirrèglement de la consultation) avant la date limite de remise des offres.<BR>en cas
                d'offre envoyée par voie dématérialisée les échantillons devront suivre la procédure d'envoi décrite ci
                dessus.<BR>pour obtenir tous les renseignements complémentaires qui leur seraient nécessaires au cours
                de leur étude, les candidats devront faire parvenir, au plus tard 6 jours avant la date limite de
                réception des offres, une demande via le profil d'acheteur du pouvoir adjudicateur, à l'adresse URL
                suivante : www.achatpublic.com <BR>Une réponse sera alors adressée à tous les candidats ayant retiré le
                dossier ou l'ayant téléchargé après identification, dans les meilleurs délais, via la plate-forme achat
                public. <BR>Renseignement(S) administratif(s) :<Br>C.C.A.S.<Br>Service des Marchés Publics<Br>Place de
                l'hôtel de ville<br>B.P.&nbsp;76<br>93701 DRANCY Cedex <Br>Mme&nbsp;Matoussi<Br>Tél. : 01.48.96.50.09
                <BR>Renseignement(S) technique(s) :<Br>C.C.A.S.<Br>Place de l'hôtel de ville <Br>B.P.&nbsp;76<br>93701
                DRANCY Cedex <Br>M.Vannier<Br>Tél. : 01.48.96.50.20.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>1.e.r&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I>Mairie de Drancy - Service des marchés Publics.<BR>&nbsp;place de l'hôtel de
            Ville,&nbsp;&nbsp;93700&nbsp;Drancy,&nbsp;, tél.&nbsp;:&nbsp;01-48-96-50-09.<BR><I>Adresse auprès de
                laquelle les documents peuvent être obtenus&nbsp;:&nbsp;</I><BR>&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://www.achatpublic.com/sdm/ent/gen/ent_detail.do?PCSLID=CSL_2015_VCnMbADd33","TestLien","");'
                    class="lien">https://www.achatpublic.com/sdm/ent/gen/ent_detail.do?PCSLID=CSL_2015_VCnMbADd33</A>.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Le Tribunal Administratif de Montreuil&nbsp;7,
                rue Catherine Puig&nbsp;93558&nbsp;Montreuil Cedex, tél.&nbsp;:&nbsp;01-49-20-20-00, courriel&nbsp;:&nbsp;greffe.ta-montreuil@juradm.fr,
                télécopieur&nbsp;:&nbsp;01-49-20-20-99.</P><I>Précisions concernant le(s) délai(s) d'introduction des
                recours : </I>tout recours gracieux peut être adressé au CCAS de Drancy, dans un délai de deux mois à
            compter de la date de notification d'une décision.<br>dans les conditions fixées par le code de justice
            administrative français (Cja), peuvent être formés devant le tribunal administratif de Montreuil :<Br>- un
            référé précontractuel depuis le début de la procédure de passation jusqu'à la signature du contrat (art.
            L.551-1 Cja) ; <Br>- un recours en excès de pouvoir formé contre une décision, dans les deux mois à partir
            de la notification ou de la publication de la décision attaquée (art. R421-1 Cja) ou à partir d'une décision
            implicite de rejet (art. R.421-1 Cja) ; <Br>- un recours de plein contentieux contre une décision de rejet
            d'une demande préalable et, en cas de décision expresse de rejet, dans un délai de deux mois à compter de la
            date de notification de cette décision (art. R421-3 Cja).<Br>Des délais supplémentaires de distance
            s'ajoutent au délai de deux mois dans les cas prévus à l'article R421-7 Cja.<Br>- pour les concurrents
            évincés et après la signature du contrat, un recours de pleine juridiction dans un délai de deux mois à
            compter de l'accomplissement des mesures de publicité en application de l'arrêt du Conseil d'etat,
            n<sup>o</sup> 291545, 16 juillet 2007, Société Tropic Travaux Signalisation.<Br>- pour les tiers
            susceptibles d'être lésés dans leurs intérêts de façon suffisamment directe et certaine par sa passation ou
            ses clauses, un recours de pleine juridiction dans un délai de deux mois à compter de l'accomplissement des
            mesures de publicité en application de l'arrêt du Conseil d'etat, n<sup>o</sup> 358994, 4 avril 2014,
            Département du Tarn-Et-Garonne.<Br>- le code de justice administrative français est consultable sur le site
            officiel " legifrance - le service public de la diffusion du droit " :
            http://www.legifrance.gouv.fr.<BR><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000080&noa=15-101518" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>