<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>22</B><!-- ED=20158183--><BR>Annonce No&nbsp;<B>15-101466</B><BR>Travaux<!--Commune-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Mairie de brelidy.<BR>&nbsp;Correspondant&nbsp;:&nbsp;garel
            Pierre Marie,&nbsp;1, rue de la Mairie&nbsp;22140&nbsp;Brelidy, tél.&nbsp;:&nbsp;02-96-95-62-04, télécopieur&nbsp;:&nbsp;02-96-95-16-59,
            courriel&nbsp;:&nbsp;mairie.de.brelidy@orange.fr.<p><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>travaux
                d'aménagement du Bourg, 3<sup>e</sup> Tranche</B>.<BR><I>Type de marché de travaux&nbsp;:&nbsp;</I>
                exécution.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>le bourg,&nbsp;22140&nbsp;Brelidy.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>travaux d'aménagement du Bourg,
                3<sup>e</sup> Tranche<Br>Prestations divisées en 2 lots:<Br>Lot n<sup>o</sup>1 : Voirie et réseau d'eaux
                pluviales<Br>Lot n<sup>o</sup>2 : aménagement paysager<Br>Prestations divisées en 3 tranches: <Br>1
                tranche ferme et 2 tranches conditionnelles<Br>Délai Tranche Ferme : 3 mois<Br>Délai Tranche
                Conditionnelle n<sup>o</sup>1 : 2 mois<Br>Délai Tranche Conditionnelle n<sup>o</sup>2 : 1 mois<Br>Délai
                global de 6 mois<BR><i>Quantités (fournitures et services), nature et étendue (travaux)&nbsp;:&nbsp;</i>lot
                n<sup>o</sup>1 : Voirie et réseau d'eaux pluviales<Br>Lot n<sup>o</sup>2 : aménagement paysager.<BR><I>Des
                    variantes seront-elles prises en compte: </I>oui.<BR>Prestations divisées en lots : oui.<BR><i>Date&nbsp;prévisionnelle&nbsp;de&nbsp;commencement&nbsp;des&nbsp;travaux&nbsp;:&nbsp;</i>1.e.r&nbsp;octobre&nbsp;2015.<BR><I>Modalités
                    essentielles de financement et de paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>modalités
                de paiement : <Br>Suivant mandat administratif. Paiement dans un délai de 30 jours, comme prévu à
                l'article 96 du CMP.<BR><I>Langues pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>critères de sélection des candidatures : <Br>_ dossier complet comprenant
                les pièces mentionnées ci-dessous ;<Br>_ garanties financières, capacités techniques et qualité des
                références professionnelles.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire obligatoirement par le candidat, à l'appui de sa candidature&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Copie
                du ou des jugements prononcés, si le candidat est en redressement judiciaire;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                sur l'honneur du candidat justifiant qu'il n'entre dans aucun des cas mentionnés à l'article 43 du code
                des marchés publics, concernant les interdictions de soumissionner.<br/><br/><i>Documents à produire à
                    l'appui des candidatures par le candidat, au choix de l'acheteur public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                concernant le chiffre d'affaires global et le chiffre d'affaires concernant les fournitures, services ou
                travaux objet du marché, réalisés au cours des trois derniers exercices disponibles;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                indiquant les effectifs moyens annuels du candidat et l'importance du personnel d'encadrement pour
                chacune des trois dernières années;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Présentation d'une liste des
                travaux exécutés au cours des cinq dernières années, appuyée d'attestations de bonne exécution pour les
                travaux les plus importants. Ces attestations indiquent le montant, l'époque et le lieu d'exécution des
                travaux et précisent s'ils ont été effectués selon les règles de l'art et menés régulièrement à bonne
                fin;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Indication des titres d'études et professionnels de
                l'opérateur économique;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Certificats de qualifications
                professionnelles. La preuve de la capacité du candidat peut être apportée par tout moyen, notamment par
                des certificats d'identité professionnelle ou des références de travaux attestant de la compétence de
                l'opérateur économique à réaliser la prestation pour laquelle il se porte candidat;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC1, Lettre de candidature - Habilitation du mandataire par ses co-traitants (disponible à l'adresse
                suivante : http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC2, Déclaration du candidat individuel ou du membre du groupement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4).<br/><br/><i>Autres
                    renseignements demandés&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres
                renseignements demandés : attestation de non condamnation pour infraction au travail <BR>attestation sur
                l'honneur du candidat indiquant qu'il n'a pas fait l'objet au cours des 5 dernières années, d'une
                condamnation inscrite au bulletin n o 2 du casier judiciaire pour les infractions visées aux articles L
                324-9, L 324-10, L 341-6, L 125-1 et L 125-3 du Code du travail.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix
                des prestations : 40 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur technique : 60 %.
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>23&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;17&nbsp;heures.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>1.e.r&nbsp;juillet&nbsp;2015.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000028&noa=15-101466" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>