<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>83</B><!-- ED=20158183--><BR>Annonce No&nbsp;<B>15-101658</B><BR>Travaux<!--Autre-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>SAGEM.<BR>&nbsp;Correspondant&nbsp;:&nbsp;
            M.&nbsp;le directeur général,&nbsp;132 rue le corbusier&nbsp;83130&nbsp;La Garde, tél.&nbsp;:&nbsp;04-94-08-63-08,
            courriel&nbsp;:&nbsp;d.verprat@sagem-lagarde.com&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://sagem-lagarde.com","TestLien","");' class="lien">http://sagem-lagarde.com</A>.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://sagem-lagarde.e-marchespublics.com","TestLien","");'
                    class="lien">http://sagem-lagarde.e-marchespublics.com</A>.<BR>Le pouvoir adjudicateur n'agit pas
            pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s) Activité(s) du pouvoir adjudicateur
                : </i> Logement et équipements collectifs, ,Aménagement et construction.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>travaux de construction d'un immeuble collectif de 15
                logements en r+3 - rue du vieux puits à la garde</B>.<BR><I>Type de marché de travaux&nbsp;:&nbsp;</I>
                exécution.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>rue du vieux puits,&nbsp;83130&nbsp;La
                Garde.<BR><I>Code NUTS : </I>|FR825|.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><br><i>Quantités (fournitures et services),
                nature et étendue (travaux)&nbsp;:&nbsp;</i>construction d'un immeuble collectif de 15 logements en r+3
                d'une surface de plancher de 786,12 mètres carrés comprenant 6 places de stationnement en
                rez-de-chaussée et 17 places en surface, une aire de jeux pour enfants et des espaces verts.<BR>a titre
                indicatif, il est prévu que les travaux commenceront au mois de décembre 2015.<BR><i>Options :
                    descriptions concernant les achats complémentaires&nbsp;:&nbsp;</i>oui<Br>Description de ces
                options: option au sens du droit communautaire: le maître d'ouvrage de réserve le droit de passer des
                avenants, des marchés de travaux ayant pour objet la réalisation de prestations similaires ou des
                marchés de travaux complémentaires.<BR><i>Calendrier prévisionnel de l'exercice de ces options&nbsp;:&nbsp;</i>12
                mois à compter de la notification du marché.<BR><I>Des variantes seront-elles prises en compte: </I>oui.<BR>Prestations
                divisées en lots : oui.<BR>Possibilité de pr&eacute;senter une offre pour un ou plusieurs lots.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>12 mois à compter de la notification du
                marché.<BR><i>Date&nbsp;prévisionnelle&nbsp;de&nbsp;commencement&nbsp;des&nbsp;travaux&nbsp;:&nbsp;</i>1.e.r&nbsp;décembre&nbsp;2015.<BR><I>Cautionnement
                    et garanties exigés&nbsp;:&nbsp;</I>retenue de garantie de 5% sur les situations de travaux ou, en
                substitution, une caution personnelle et solidaire.<BR><I>Modalités essentielles de financement et de
                    paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>- prix global, ferme,
                actualisable et forfaitaire<br>- délai maximum de paiement est de 45 jours fin de mois à compter de la
                réception de la facture par le maître d'ouvrage, les 45 jours étant comptés à partit de la fin du mois
                d'émission de la facture.<BR><i>Forme juridique que devra revêtir le groupement d'opérateurs économiques
                    attributaire du marché&nbsp;:&nbsp;</i>chaque lot fait l'objet d'un marché séparé confié à une
                entreprise ou à un groupement d'entreprises solidaires ou conjointes, le mandataire du groupement étant
                obligatoirement solidaire de l'ensemble des co-traitants.<BR><I>Langues pouvant être utilisées dans
                    l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>renseignements
                et formalités nécessaires pour évaluer si ce exigences sont remplies: <Br>- une lettre de candidature,
                mentionnant l'identification du candidat, l'objet du contrat pour lequel il fait acte de candidature,
                datée et signée par le candidat en précisant ses noms et qualité. En cas de groupement, cette lettre
                sera signée par chaque membre du groupement ou par le mandataire dûment habilité, et les justifications
                exigées ci-dessous seront à produire par chaque membre du groupement.<br>- une déclaration sur l'honneur
                (cf. Modèle joint) attestant qu'il ne fait pas l'objet d'une des interdictions de soumissionner telles
                que définies à l'article 8 de l'ordonnance du 6 juin 2005 n<sup>o</sup>2005-649.<br>- si le candidat est
                en redressement judiciaire, copie du ou des jugements prononcés à cet effet.<br>- pouvoirs de la
                personne habilitée à engager le candidat.<BR><I>Capacité économique et financière - références requises&nbsp;:&nbsp;</I>renseignements
                et formalités nécessaires pour évaluer si ces exigences sont remplies:<br>- déclaration concernant le ca
                global et le ca concernant les travaux objets du marché, réalisés au cours des 3 derniers exercices
                disponibles.<br>- attestation d'assurance responsabilité civile professionnelle<BR><I>Référence
                    professionnelle et capacité technique - références requises&nbsp;:&nbsp;</I>renseignements et
                formalités nécessaires pour évaluer si ces exigences sont remplies:<br>- déclaration indiquant les
                effectifs moyens annuels et l'importance du personnel d'encadrement pour chacune des 3 dernières années.<br>-
                déclaration indiquant l'outillage, le matériel et l'équipement technique dont le candidat dispose pour
                la réalisation de marchés de même nature.<br>- liste de travaux exécutés au cours de 5 dernières année,
                appuyée d'attestations de bonne exécution pour les travaux les plus important, indiquant le montant, la
                date et le lieu d'exécution, précisant s'ils ont été effectués dans les règles de l'art et menés
                régulièrement à bonne fin.<br>- titres d'études et professionnels de l'opérateur économique et/ou des
                cadres de l'entreprises, et notamment des responsables de conduites de travaux de même nature que celle
                du marché.<br>- certificats et qualifications professionnelles ou la preuve de la capacité du candidat
                apportée par tout moyen, notamment par des certificats d'identité professionnelle ou des références de
                travaux attestant de la compétence du candidat à réaliser la prestation.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>31&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;16&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>180 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i>
            <P><I>Renseignements complémentaires&nbsp;:&nbsp;</I>type de procédure adaptée ouverte avec négociation
                conformément aux dispositions de l'article 10 du décret n<sup>o</sup>2005-1742 du 30/12/2005 pris en
                application d l'ordonnance n<sup>o</sup>2005-649 du 06/06/05.<BR>le lot 15 (désamiantage) fera l'objet
                d'un prochain appel d'offres.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>les candidatures et/ou offres devront
                être remises, sous forme papier , dans une enveloppe cachetée insérée sous pli également cacheté, avant
                les jours et heures inscrits sur le présent avis. Si elles sont envoyées par la poste, elles devront
                l'être à cette même adresse, par pli recommandé avec avis de réception postal, et parvenir à destination
                avant ces mêmes dates et heures limites.<br>les plis qui seraient remis, ou dont l'avis de réception
                serait délivré après les dates et heures limites fixées ci-dessus, ainsi que ceux remis sous enveloppe
                non cachetée, ne seront pas retenus.<br>les plis seront envoyés ou remis à l'adresse suivante et
                porteront les mentions suivantes:<br>M.&nbsp;le directeur général<br>132 rue le corbusier - 83130 la
                garde<br>offre pour: les travaux de construction du programme rosa park à la garde<br>entreprise :
                &#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;<Br>Lot
                n<sup>o</sup>: &#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;.<Br>Ne
                pas ouvrir avant la seance d'ouverture des plis.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>30&nbsp;juin&nbsp;2015.</P><I>Adresse
                auprès de laquelle des renseignements d'ordre technique peuvent être
                obtenus&nbsp;:&nbsp;</I>Sagem.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I> Deborah verprat,&nbsp;&nbsp;132
            rue le corbusier,&nbsp;&nbsp;83130&nbsp;La Garde,&nbsp;, tél.&nbsp;:&nbsp;04-94-08-63-08,&nbsp;, courriel&nbsp;:&nbsp;d.verprat@sagem-lagarde.com.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre administratif peuvent être
                obtenus&nbsp;:&nbsp;</I>Sagem.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I> Charlotte gohe,&nbsp;&nbsp;132
            rue le corbusier,&nbsp;&nbsp;83130&nbsp;La Garde,&nbsp;, tél.&nbsp;:&nbsp;04-94-08-63-08,&nbsp;, courriel&nbsp;:&nbsp;c.gohe@sagem-lagarde.com.<BR><I>Adresse
                auprès de laquelle les documents peuvent être obtenus&nbsp;:&nbsp;</I>Sagem.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>
            Charlotte gohe,&nbsp;&nbsp;132 rue le corbusier,&nbsp;&nbsp;83130&nbsp;La Garde,&nbsp;, tél.&nbsp;:&nbsp;04-94-08-63-08,&nbsp;,
            courriel&nbsp;:&nbsp;c.gohe@sagem-lagarde.com.<p><I>Instance chargée des procédures de
                recours&nbsp;:&nbsp;</I>Tribunal de grande instance&nbsp;6 rue joseph autran&nbsp;13281&nbsp;Marseille
                Cedex 06.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Greffe
                du tribunal de grande instance&nbsp;6 rue joseph autran&nbsp;13281&nbsp;Marseille Cedex 06.</P>
            <P><I>Renseignements relatifs aux lots&nbsp;:&nbsp;</I>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 1.</span> - démolition - terrassement - vrd.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Réalisation des travaux de démolition, terrassement, fouilles, voirie et
                                    réseaux divers et divers
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 2.</span> - gros &oelig;uvre - maçonnerie.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Réalisation des travaux de gros &oelig;uvre et de maçonnerie,
                                    installation de chantier et divers
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 3.</span> - charpente couverture - gouttière
                                    descentes ep.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Travaux de charpente bois, couverture tuiles, évacuation des eaux
                                    pluviales et isolation thermique des combles perdues et divers
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 4.</span> - enduits extérieurs.</td>
                            </tr>
                            <tr>
                                <td class="txt">Réalisation des enduits extérieurs sur l'ensemble du projet</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 5.</span> - isolation - cloisons - doublages -
                                    faux plafonds.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Travaux de réalisation de l'isolation, des cloisons de distribution,
                                    doublage, faux plafond et divers
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 6.</span> - menuiseries intérieurs et
                                    extérieurs.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Fourniture et pose des portes palières, portes intérieures, portes
                                    techniques, placards, volets bois, fenêtres et portes fenêtres, bardage bois et
                                    divers
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 7.</span> - revêtement de sols et de murs.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Travaux de pose de chapes, carrelage, faïence et divers</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 8.</span> - peinture.</td>
                            </tr>
                            <tr>
                                <td class="txt">Travaux de peinture intérieur et extérieur et divers</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 9.</span> - serrurerie - automatisme.</td>
                            </tr>
                            <tr>
                                <td class="txt">Fourniture et pose de serrurerie: garde-corps, portails, portillons et
                                    divers
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 10.</span> - electricité - bt et courants
                                    faibles.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Travaux d'électricité, interphonie, réseau TV et téléphonique et
                                    divers
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 11.</span> - plomberie - sanitaire - vmc -
                                    chauffage.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Travaux de plomberie sanitaire, eau chaude sanitaire individuelle au
                                    gaz, ventilation, désenfumage et divers
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 12.</span> - etanchéité.</td>
                            </tr>
                            <tr>
                                <td class="txt">Travaux d'étanchéité sur les terrasses accessibles, fourniture et pose
                                    de dalles sur plots et divers
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 13.</span> - ascenseur - elévateur.</td>
                            </tr>
                            <tr>
                                <td class="txt">Fourniture et installation d'ascenseur et d'élévateur</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 14.</span> - espaces verts.</td>
                            </tr>
                            <tr>
                                <td class="txt">Réalisation des espaces verts et divers</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000220&noa=15-101658" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>