<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>69</B><!-- ED=20158182--><BR>Annonce No&nbsp;<B>15-100360</B><BR>Travaux<!--Commune-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Ville de Saint-Priest.<BR>&nbsp;Correspondant&nbsp;:&nbsp;direction
            du Développement et du Patrimoine,&nbsp;service Patrimoine et Proximité Centre Technique Municipal 87 rue
            Aristide Briand&nbsp;69800&nbsp;Saint-Priest, tél.&nbsp;:&nbsp;04-72-23-48-87, télécopieur&nbsp;:&nbsp;04-72-23-49-72.<BR>Le
            pouvoir adjudicateur n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>réhabilitation d'un bâtiment en maison des associations</B>.<BR><I>Type
                de marché de travaux&nbsp;:&nbsp;</I> exécution.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>2 rue de
                la Cordière,&nbsp;69800&nbsp;Saint-Priest.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>les travaux s'intègrent dans une
                opération répartie en plusieurs lots donnant lieu à autant de marchés séparés : <Br>Lot 1 Démolition /
                Maçonnerie / Protection coupe feu<Br>Lot 2 Menuiserie aluminium / Serrurerie<Br>Lot 3 Plâtrerie /
                Peinture<Br>Lot 4 Menuiserie bois / Agencement<Br>Lot 5 Revêtement de sol souple<Br>Lot 6 Carrelage /
                Faïence<Br>Lot 7 VRD<Br>Lot 8 Electricité courants faibles<Br>Lot 9 Chauffage / vmc / Plomberie /
                Sanitaires<Br><Br>Le délai global des travaux est de cinq mois dont trois semaines de période de
                préparation<BR><I>Refus des variantes</I>.<BR>Prestations divisées en lots : oui.<BR>Possibilité de pr&eacute;senter
                une offre pour un ou plusieurs lots.<BR><I>Modalités essentielles de financement et de paiement et/ou
                    références aux textes qui les réglementent&nbsp;:&nbsp;</I>les paiements afférant au présent marché
                seront effectués dans un délai de 30 jours conformément au décret n<sup>o</sup> 2013-269 du 29 mars 2013
                relatif à la lutte contre les retards de paiement dans les contrats de la commande publique.<BR><i>Forme
                    juridique que devra revêtir le groupement d'opérateurs économiques attributaire du marché&nbsp;:&nbsp;</i>chaque
                marché sera attribué à une entreprise unique ou à un groupement d'entreprises. <Br><Br>Conformément à
                l'article 51-i du code des marchés publics, les opérateurs économiques sont autorisés à se porter
                candidat sous forme de groupement solidaire ou de groupement conjoint, sous réserve du respect des
                règles relatives à la concurrence. <Br>Conformément à l'article 51-ii du code des marchés publics, en
                cas de groupement conjoint, le mandataire du groupement est solidaire pour l'exécution du marché de
                chacun des membres du groupement pour ses obligations contractuelles à l'égard du pouvoir adjudicateur.
                <Br><Br>Conformément à l'article 51-vii du code des marchés publics, le passage d'une forme à une autre
                ne peut être exigé pour la présentation de l'offre, mais le groupement pourra être contraint d'assurer
                cette transformation lorsque le marché lui aura été attribué, si cette transformation est nécessaire
                pour la bonne exécution de celui-ci. Dans ce cas, la forme imposée après attribution est mentionnée dans
                l'avis d'appel public à concurrence ou dans le règlement de la consultation. <Br><Br>La forme souhaitée
                par la Ville de Saint-Priest est un groupement solidaire. Si le groupement attributaire du marché est
                d'une forme différente, il pourra être contraint d'assurer sa transformation pour se conformer au
                souhait du pouvoir adjudicateur tel qu'il est indiqué ci-dessus. <Br><Br>Il est interdit aux candidats
                de présenter plusieurs offres en agissant à la fois :<Br>- en qualité de candidats individuels et de
                membres d'un ou plusieurs groupements ; <Br>- en qualité de membres de plusieurs groupements.<Br>Toute
                candidature correspondante à cette situation sera éliminée.<BR><I>Langues pouvant être utilisées dans
                    l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire à l'appui des candidatures par le candidat, au choix de l'acheteur
                public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire DC1, Lettre de candidature -
                Habilitation du mandataire par ses co-traitants (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC2, Déclaration du candidat individuel ou du membre du groupement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4).<br/><br/><i>Documents
                    à produire obligatoirement par l'attributaire, avant la signature et la notification du marché
                    public ou de l'accord-cadre (formulaire NOTI1)&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                l'attributaire est établi en France, les attestations et certificats délivrés par les administrations et
                organismes compétents prouvant qu'il a satisfait à ses obligations fiscales et sociales ou un état
                annuel des certificats reçus.<br/><br/><i>Autres renseignements demandés&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres
                renseignements demandés : - Les copies des attestations de qualifications suivantes (à défaut de
                celles-ci, les candidats devront produire un dossier équivalent de qualifications, moyens et références
                précises et contrôlables portant sur les trois dernières années) : <BR>QUALIFICATIONS<BR>Lot 1
                Démolition / Maçonnerie / Protection coupe feuQualibat 1111 Eff.&nbsp;1 + Qualibat 2111 Eff.&nbsp;1 +
                Qualibat 7143 Eff.&nbsp;1 <BR>Lot 2 Menuiserie aluminium / SerrurerieQualibat 3521 Eff.&nbsp;1 +
                Qualibat 4411 Eff.&nbsp;1<BR>Lot 3 Plâtrerie / PeintureQualibat 6111 Eff.&nbsp;2 + Qualibat 6611 Eff.&nbsp;2<BR>Lot
                4 Menuiserie bois / AgencementQualibat 4311 Eff.&nbsp;1 <BR>Lot 5 Revêtement de sols soupleQualibat 6212
                Eff.&nbsp;1 <BR>Lot 6 Carrelage / FaïenceQualibat 6311 Eff.&nbsp;1<BR>Lot 7 VRDQualibat 1311 Eff.&nbsp;2
                + Qualibat 1341 Eff.&nbsp;2 <BR>Lot 8 Electricité courants faiblesqualifelec E2 C2<BR>Lot 9 Chauffage /
                vmc / Plomberie / SanitairesQualibat 5312 Eff.&nbsp;1 + Qualibat 5111 Eff.&nbsp;1 + Qualibat 5431 Eff.&nbsp;1;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres
                renseignements demandés : - Les attestations d'assurances en cours de validité.<BR>dans l'hypothèse de
                groupement, l'ensemble des documents (déclarations, attestations...) devront être produits pour toutes
                les entreprises concernées, à l'exception de la lettre de candidature sur formulaire Dc1 ; pour ce
                formulaire Dc1, il est recommandé d'en produire un seul qui présentera l'ensemble des cotraitants. <Br>Les
                formulaires Dc1, Dc2 et Noti2 et leur notice explicative sont téléchargeables sur le site Internet
                http://www.marche-public.fr/Formulaires-minefi.htm.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>22&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;16&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>90 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>A15/66.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>la visite du site est fortement recommandée avant la
                remise d'offres. <br><br>a cette fin, les candidats sont invités à contacter M.&nbsp;BLANQUER au
                04.72.23.48.87 afin de prendre rendez-vous.
            <p><I>Conditions et mode de paiement pour obtenir les documents contractuels et additionnels</I> :<BR>Retrait
                électronique (mode conseillé) :<Br>Les dossiers de consultation des entreprises (Dce) peuvent être
                retirés par voie électronique sur le site Internet www.achatpublic.com ; la personne physique est
                fortement incitée à renseigner lors du téléchargement du DCE, son nom et son adresse électronique ainsi
                que le nom de l'organisme candidat ; <Br>En effet, conformément à l'arrêté du 14 décembre 2009 relatif à
                la dématérialisation des procédures de passation des marchés publics, l'identification des opérateurs
                économiques pour accéder aux documents de la consultation n'est plus obligatoire. Toutefois, l'attention
                des candidats est attirée sur le fait que l'identification leur permet d'être tenus informés
                automatiquement des modifications et des précisions éventuellement apportées au DCE. Dans le cas
                contraire, il appartiendra au candidat de récupérer par ses propres moyens les informations
                communiquées.<Br><Br>Retrait non électronique :<Br>Toute demande de dossier, y compris en cas de retrait
                direct, nécessite la production d'une télécopie ou d'une lettre destinée à la Direction du Patrimoine et
                du Développement à l'adresse mentionnée en tête du présent avis, et indiquant notamment les coordonnées
                du candidat, ainsi que le(s) lot(s), objet de la demande.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>les offres sont à remettre dans les
                conditions définies dans le règlement de consultation.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>30&nbsp;juin&nbsp;2015.</P><I>Adresse
                auprès de laquelle des renseignements complémentaires peuvent être obtenus&nbsp;:&nbsp;</I>Maître d'&oelig;uvre.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>M.&nbsp;Doyen,&nbsp;,
            tél.&nbsp;:&nbsp;04-78-52-71-24.<BR><I>Adresse auprès de laquelle des renseignements d'ordre technique
                peuvent être obtenus&nbsp;:&nbsp;</I><BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>M.&nbsp;Blanquer,&nbsp;,
            tél.&nbsp;:&nbsp;04-72-23-48-87.<BR><I>Adresse auprès de laquelle des renseignements d'ordre administratif
                peuvent être obtenus&nbsp;:&nbsp;</I><BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>Mme&nbsp;Bernard,&nbsp;,
            tél.&nbsp;:&nbsp;04-72-23-48-51.<p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal
                Administratif de Lyon&nbsp;palais des juridictions administratives 184 rue Duguesclin&nbsp;69433&nbsp;Lyon
                Cedex 03, tél.&nbsp;:&nbsp;04-78-14-10-10, télécopieur&nbsp;:&nbsp;04-78-14-10-65.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Tribunal
                Administratif de Lyon&nbsp;palais des juridictions administratives 184 rue Duguesclin&nbsp;69433&nbsp;Lyon
                Cedex 03, tél.&nbsp;:&nbsp;04-78-14-10-10, télécopieur&nbsp;:&nbsp;04-78-14-10-65.</P>
            <P><I>Renseignements relatifs aux lots&nbsp;:&nbsp;</I>
            <table border="0" cellpadding="1" align="center" width="80%">
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">1.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Démolition / Maçonnerie / Protection coupe feu</td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">2.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Menuiserie aluminium / Serrurerie</td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">3.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Plâtrerie / Peinture</td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">4.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Menuiserie bois / Agencement</td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">5.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Revêtement de sol souple</td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">6.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Carrelage / Faïence</td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">7.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Voirie et réseaux divers</td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">8.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Electricité / courants faibles</td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">9.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Chauffage / VMC / Plomberie / Sanitaires</td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2998922&noa=15-100360" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>