<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>78</B><!-- ED=20158183--><BR>Annonce No&nbsp;<B>15-101332</B><BR>Services
            <!--Etablissement public territorial--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>SMGSEVESC.<BR>&nbsp;Correspondant&nbsp;:&nbsp;
            Laurence breus,&nbsp;12 rue mansart&nbsp;78000&nbsp;Versailles, tél.&nbsp;:&nbsp;01-39-23-22-60, télécopieur&nbsp;:&nbsp;01-39-23-22-74,
            courriel&nbsp;:&nbsp;m.leroy@etaso.fr&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://smgsevesc.e-marchespublics.com","TestLien","");'
                    class="lien">http://smgsevesc.e-marchespublics.com</A>.<BR>Adresse internet du profil d'acheteur&nbsp;:
            <A HREF='javascript:BMP_openWindow("http://smgsevesc.e-marchespublics.com","TestLien","");' class="lien">http://smgsevesc.e-marchespublics.com</A>.<BR><i>Principale(s)
                Activité(s) de l'entité adjucatrice : </i> Eau.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>marché à bons de commande - travaux divers - mission
                diagnostic amiante sur voirie - marché pour 12 mois reconductible 3 fois</B>.<BR><I>Catégorie de
                services&nbsp;:&nbsp;</I>12.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;71335000.<BR><I>Lieu
                d'ex&eacute;cution&nbsp;:&nbsp;</I>territoire syndical départements 78 et 92.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>marché à bons de commande - travaux
                divers - mission diagnostics amiante sur voirie - marché pour 12 mois reconductible 3 fois<BR><i>Quantités
                    (fournitures et services), nature et étendue (travaux)&nbsp;:&nbsp;</i>la consultation a pour objet
                de définir la nature et les conditions d'exécution des prestations de "Diagnostics amiante sur voirie "
                dans les enrobés des voiries où le smgsevesc est amené à réaliser des travaux les impactant (travaux en
                tranchée principalement).<br>le marché est un marché mixte de fourniture et de service. <Br>&#8226;Il
                est rappelé que les prestations qui font l'objet du présent marché, sont exécutées par l'émission de
                bons de commande successifs selon les besoins. <Br>&#8226;La prestation prévoit en cas de détection
                d'amiante : <Br>-D'Une part de circonscrire la zone amiantée de façon plus précise par des tests
                supplémentaires. <Br>-D'Autre part de déterminer la quantité d'amiante détectée afin de mettre en
                &oelig;uvre un protocole spécifique en accord avec la teneur d'amiante potentiellement libérée dans
                l'air. <Br>Il peut ainsi être nécessaire de réaliser des investigations complémentaires : <Br>-D'Une
                part la réalisation de sondage et analyse complémentaire afin de circonscrire la zone de façon plus fine
                et désamianter ou traiter la zone correcte.<br>-d'autre part, il peut être nécessaire d'effectuer des
                analyses quantitatives afin de déterminer le taux d'amiante dans les enrobés. Cela permettra en fonction
                de la quantité obtenue de mettre en place la procédure avec les mesures de sécurité pour les personnels
                et pour l'environnement adéquate aux niveaux de risque.<BR><I>Refus des variantes</I>.<BR>Prestations
                divisées en lots : non.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>48 mois à compter de la notification du
                marché.<BR><I>Cautionnement et garanties exigés&nbsp;:&nbsp;</I>(voir le dossier de
                consultation).<BR><I>Modalités essentielles de financement et de paiement et/ou références aux textes
                    qui les réglementent&nbsp;:&nbsp;</I>le paiement se fera par virement au moyen d'un mandat
                administratif.<br>le délai global de paiement est de 30 jours conformément aux dispositions du ccap
                (article 13.5).<BR><i>Forme juridique que devra revêtir le groupement d'opérateurs économiques
                    attributaire du marché&nbsp;:&nbsp;</i>le marché pourra être attribué à une seule entreprise ou à un
                groupement d'entreprises.<BR>en application de l'article 51-vii du code des marchés publics, il est
                interdit aux candidats de présenter pour le marché plusieurs offres en agissant à la fois en cas de
                qualité de candidats individuels ou de membres d'un ou plusieurs groupements.<br>en application de
                l'article 51-vi du code des marchés publics, si le marché est attribué à un groupement conjoint,
                celui-ci sera tenu d'assurer sa transformation en groupement solidaire après attribution du marché.<br>en
                cas de groupement, l'appréciation des capacités professionnelles, techniques et financières des membres
                du groupement est globale.<br>les candidatures et les offres seront entièrement rédigées en langue
                française.<BR><I>Langues pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>- dc1<br>- dc2<br>-déclaration indiquant les effectifs moyens annuels du
                candidat et l'importance du personnel d'encadrement pour chacune des trois dernières années ; <Br>-Déclaration
                indiquant l'outillage, le matériel et l'équipement technique dont le candidat dispose pour la
                réalisation de contrats de même nature ; <Br>-Description de l'équipement technique, des mesures
                employées par l'opérateur économique pour s'assurer de la qualité et des moyens d'étude et de recherche
                de son entreprise.<BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>-copie du ou des
                jugements prononcés, si le candidat est en redressement judiciaire ; <Br>-Déclaration sur l'honneur pour
                justifier que le candidat n'entre dans aucun des cas mentionnés à l'article 43 du cmp ; <Br>-Renseignements
                sur le respect de l'obligation d'emploi mentionnée à l'article l. 5212-1 à 4 du code du travail ; <Br>-Autorisation
                spécifique ou preuve de l'appartenance à une organisation spécifique permettant de fournir le service
                dans le pays d'origine du candidat.<BR><I>Capacité économique et financière - références requises&nbsp;:&nbsp;</I>-déclaration
                concernant le chiffre d'affaires global et le chiffre d'affaires concernant les services objet du
                contrat, réalisés au cours des trois derniers exercices disponibles, <Br>-Déclaration appropriée de
                banques ou preuve d'une assurance pour les risques professionnels,<br>-bilans ou extraits de bilans,
                concernant les trois dernières années, des opérateurs économiques pour lesquels l'établissement des
                bilans est obligatoire en vertu de la loi<BR><I>Référence professionnelle et capacité technique -
                    références requises&nbsp;:&nbsp;</I>-présentation d'une liste de références et certificats de
                capacités en cours d'exécution ou exécutés au cours des trois dernières années, délivré et signé par un
                maître d'ouvrage public ou privé, précisant la nature, le montant et la date des prestations exécutés,
                ou par toute autre preuve, concernant les missions de diagnostics amiante sur voirie.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire obligatoirement par le candidat, à l'appui de sa candidature&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Copie
                du ou des jugements prononcés, si le candidat est en redressement judiciaire;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                sur l'honneur du candidat justifiant qu'il n'entre dans aucun des cas mentionnés à l'article 43 du code
                des marchés publics, concernant les interdictions de soumissionner;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                sur l'honneur du candidat attestant qu'il est en règle, au cours de l'année précédant celle au cours de
                laquelle a lieu le lancement de la consultation, au regard des articles L. 5212-1, L. 5212-2, L. 5212 5
                et L. 5212-9 du code du travail, concernant l'emploi des travailleurs handicapés;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                le candidat est établi en France, une déclaration sur l'honneur du candidat justifiant que le travail
                est effectué par des salariés employés régulièrement au regard des articles L. 1221-10, L. 3243-2 et R.
                3243-1 du code du travail (dans le cas où le candidat emploie des salariés, conformément à l'article D.
                8222-5-3° du code du travail);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si le candidat est établi ou
                domicilié à l'étranger, une déclaration sur l'honneur du candidat attestant qu'il fournit à ses salariés
                des bulletins de paie comportant les mentions prévues à l'article R. 3243-1 du code du travail, ou des
                documents équivalents.<br/><br/><i>Documents à produire à l'appui des candidatures par le candidat, au
                    choix de l'acheteur public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                concernant le chiffre d'affaires global et le chiffre d'affaires concernant les fournitures, services ou
                travaux objet du marché, réalisés au cours des trois derniers exercices disponibles;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                appropriée de banques ou preuve d'une assurance pour les risques professionnels;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Bilans
                ou extraits de bilans, concernant les trois dernières années, des opérateurs économiques pour lesquels
                l'établissement des bilans est obligatoire en vertu de la loi;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                indiquant les effectifs moyens annuels du candidat et l'importance du personnel d'encadrement pour
                chacune des trois dernières années;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Présentation d'une liste des
                principales fournitures ou des principaux services effectués au cours des trois dernières années,
                indiquant le montant, la date et le destinataire public ou privé. Les livraisons et les prestations de
                services sont prouvées par des attestations du destinataire ou, à défaut, par une déclaration de
                l'opérateur économique;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Indication des titres d'études et
                professionnels de l'opérateur économique;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Indication des titres
                d'études et professionnels des cadres de l'entreprise et notamment des responsables de prestation de
                services ou de conduite des travaux de même nature que celle du marché;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                indiquant l'outillage, le matériel et l'équipement technique dont le candidat dispose pour la
                réalisation de marchés de même nature;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;En matière de fournitures
                et services, une description de l'équipement technique, des mesures employées par l'opérateur économique
                pour s'assurer de la qualité et des moyens d'étude et de recherche de son entreprise;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Certificats
                de qualifications professionnelles. La preuve de la capacité du candidat peut être apportée par tout
                moyen, notamment par des certificats d'identité professionnelle ou des références de travaux attestant
                de la compétence de l'opérateur économique à réaliser la prestation pour laquelle il se porte
                candidat;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire DC1, Lettre de candidature - Habilitation
                du mandataire par ses co-traitants (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC2, Déclaration du candidat individuel ou du membre du groupement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC3, Acte d'engagement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC&nbsp;4, Déclaration de sous-traitance (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;S'il
                s'appuie, pour présenter sa candidature, sur les capacités professionnelles, techniques et financières
                d'autres opérateurs économiques, le candidat produit les mêmes documents concernant cet opérateur
                économique que ceux qui lui sont exigés par l'acheteur public. Le candidat doit également apporter la
                preuve que chacun de ces opérateurs économiques mettra à sa disposition les moyens nécessaires, pendant
                toute la durée d'exécution du marché public ou de l'accord-cadre;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                les documents fournis par le candidat ne sont pas établis en langue française, ils doivent être
                accompagnés d'une traduction en français, certifiée conforme à l'original par un traducteur
                assermenté.<br/><br/><i>Documents à produire obligatoirement par l'attributaire, avant la signature et
                    la notification du marché public ou de l'accord-cadre (formulaire NOTI1)&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Les
                pièces prévues aux articles D. 8222-5 ou D. 8222-7 et D. 8222-8 du code du travail;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                l'attributaire est établi en France, les attestations et certificats délivrés par les administrations et
                organismes compétents prouvant qu'il a satisfait à ses obligations fiscales et sociales ou un état
                annuel des certificats reçus;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si l'attributaire est établi dans
                un Etat autre que la France, un certificat établi par les administrations et organismes du pays
                d'origine. Lorsqu'un tel certificat n'est pas délivré par le pays concerné, il peut être remplacé par
                une déclaration sous serment, ou dans les Etats où un tel serment n'existe pas, par une déclaration
                solennelle faite par l'intéressé devant l'autorité judiciaire ou administrative compétente, un notaire
                ou un organisme professionnel qualifié du pays;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si les documents
                fournis par le candidat ne sont pas établis en langue française, ils doivent être accompagnés d'une
                traduction en français, certifiée conforme à l'original par un traducteur assermenté.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur
                technique : 30 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix : 70 %.<BR>Une enchère électronique ne
                sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>18&nbsp;septembre&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>180 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>2015-14.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>les bureaux sont ouverts du lundi au vendredi de 8h30 à
                12h30 et de 13h30 à 16h30 (hors jours fériés).<br>les critères de jugement des offres seront appréciés
                au regard des éléments suivants :<Br>* valeur technique : 30 points<br>sous-critères :<Br>-Méthodologie
                du travail : 15 points<br>-organisation mise en place : 5 points<br>-liste et cv des membres de l'équipe
                : 5 points<br>-caractéristiques du matériel : 5 points<br>* prix : 70 points<br>apprécié sur la base du
                cadre du bordereau des prix unitaires et forfaitaires (bpuf) joint en annexe 1 à l'acte d'engagement
                ainsi que le (dqe).<br>formule : mo/m x 70 avec<br> mo = meilleure offre<br> m = offre concurrence.
            <p><I>Conditions et mode de paiement pour obtenir les documents contractuels et additionnels</I> :<BR>Les
                bureaux sont ouverts du lundi au vendredi de 8h30 à 12h30 et de 13h30 à 16h30 (hors jours fériés).<br>le
                dossier de consultation, sur format papier, est adressé gratuitement à chaque candidat qui en fait la
                demande par écrit, par mail ou par télécopieur au 01.39.23.22.74.<br>le dce est téléchargeable en se
                connectant, via internet, à l'adresse internet :<Br>Www.E-Marchespublics.Com.<BR><I>Date limite
                    d'obtention</I> : 17&nbsp;septembre&nbsp;2015, à 17&nbsp;heures.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>les candidats ont la possibilité de
                répondre :<Br>-Soit sur support papier en lettre recommandée avec avis de réception postal à l'adresse
                suivante : smgsevesc - 12 rue mansart - 78000 versailles,<br>-soit remis contre récépissé au siège du
                smgsevesc, aux horaires d'ouverture des bureaux (du lundi au vendredi de 8h30 à 12h30 et de 13h30 à
                16h30 (hors jours fériés),<br>-soit par voie électronique à l'adresse internet suivante :
                http//www.e-marchespublics.com.<BR>Attention : les candidats devront choisir entre ces modes de
                transmission.<br>il n'est pas permis de transmettre une offre à la fois sur support papier et par voie
                électronique.<br>toute soumission effectuée à la fois sur support papier et sous forme électronique sera
                déclarée irrecevable.<br>les candidats devront transmettre leur offre dans les conditions qui permettent
                de déterminer de façon certaine la date et l'heure de leur réception et de garantir leur
                confidentialité.<br>aucune mention ou signe permettant de reconnaître le candidat ne devra figurer sur
                l'enveloppe extérieure.<br>(voir détail dans le règlement de consultation).
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>1.e.r&nbsp;juillet&nbsp;2015.</P><I>Adresse
                auprès de laquelle des renseignements d'ordre technique peuvent être
                obtenus&nbsp;:&nbsp;</I>Smgsevesc.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I> Mme&nbsp;sophie brinster,&nbsp;&nbsp;12
            rue mansart,&nbsp;&nbsp;78000&nbsp;Versailles,&nbsp;, tél.&nbsp;:&nbsp;01-39-23-22-60,&nbsp;, télécopieur&nbsp;:&nbsp;01-39-23-22-74,&nbsp;,
            courriel&nbsp;:&nbsp;s.brinster@etaso.fr.<BR><I>Adresse auprès de laquelle des renseignements d'ordre
                administratif peuvent être obtenus&nbsp;:&nbsp;</I>Smgsevesc.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>
            Mme&nbsp;marcelle leroy,&nbsp;&nbsp;12 rue mansart,&nbsp;&nbsp;78000&nbsp;Versailles,&nbsp;, tél.&nbsp;:&nbsp;01-39-23-22-60,&nbsp;,
            télécopieur&nbsp;:&nbsp;01-39-23-22-74,&nbsp;, courriel&nbsp;:&nbsp;m.leroy@etaso.fr.<BR><I>Adresse auprès
                de laquelle les documents peuvent être obtenus&nbsp;:&nbsp;</I>Smgsevesc.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>
            Mme&nbsp;marcelle leroy,&nbsp;&nbsp;12 rue mansart,&nbsp;&nbsp;78000&nbsp;Versailles,&nbsp;, tél.&nbsp;:&nbsp;01-39-23-22-60,&nbsp;,
            télécopieur&nbsp;:&nbsp;01-39-23-22-74,&nbsp;, courriel&nbsp;:&nbsp;m.leroy@etaso.fr.<p><I>Instance chargée
                des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de versailles&nbsp;56&nbsp;avenue de
                saint cloud&nbsp;78011&nbsp;Versailles, tél.&nbsp;:&nbsp;01-39-20-54-00, courriel&nbsp;:&nbsp;greffe.ta-versailles@juradm.fr,
                télécopieur&nbsp;:&nbsp;01-39-20-54-87&nbsp;adresse internet&nbsp;: <A
                        HREF='javascript:BMP_openWindow("http://www.ta-versailles.juradm.fr","TestLien","");'
                        class="lien">http://www.ta-versailles.juradm.fr</A>.</P><I>Précisions concernant le(s) délai(s)
                d'introduction des recours : </I>cette consultation peut faire l'objet d'un référé précontractuel, dans
            les conditions définies à l'article L551-1 du Code de Justice Administrative (Cja).<Br>Un recours pour excès
            de pouvoir peut être formé à l'encontre des décisions faisant griefs, dans les deux mois de leur publication
            ou de leur notification.<BR><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2999894&noa=15-101332" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>