<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>33</B><!-- ED=20158184--><BR>Annonce No&nbsp;<B>15-101667</B><BR>Fournitures
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Grand Port Maritime de
            Bordeaux.<BR>&nbsp;Correspondant&nbsp;:&nbsp; M le président du Directoire,&nbsp;grand Port Maritime de
            Bordeaux Bâtiment D 152, quai de Bacalan CS 41320&nbsp;33082&nbsp;Bordeaux Cedex, tél.&nbsp;:&nbsp;05-56-90-58-00,
            télécopieur&nbsp;:&nbsp;05-56-90-58-97, courriel&nbsp;:&nbsp;postoffice@bordeaux-port.fr&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("https://marches.bordeaux-port.fr","TestLien","");'
                               class="lien">https://marches.bordeaux-port.fr</A>.<BR>Le pouvoir adjudicateur n'agit pas
            pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s) Activité(s) du pouvoir adjudicateur
                : </i> Environnement.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>fournitures de liaisons de télécommunications et de services
                internet</B>.<BR><I>Type de marché de fournitures&nbsp;:&nbsp;</I> achat.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;64200000.<BR><I>Lieu de livraison&nbsp;:&nbsp;</I>.<BR><I>Code NUTS : </I>|FR612|.
            <p>L'avis implique l'établissement d'un accord-cadre.<BR>Accord-cadre avec un seul opérateur.<BR>Durée de
                l'accord-cadre :&nbsp;3 an(s).
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>fournitures de liaisons de
                télécommunications et de services internet<BR><i>Nombre de reconductions
                    éventuelles&nbsp;:&nbsp;</i>1.<BR><i>Calendrier des marchés ultérieurs en cas de marchés
                    reconductibles&nbsp;:&nbsp;</i>nombre de reconductions possibles : 1.<br>- durée de la période de
                reconduction : 1 An(S).<Br>- durée maximale de l'affaire : 4 An(S).<BR><I>Refus des variantes</I>.<BR>La
                procédure d'achat du présent avis est couverte par l'accord sur les marchés publics de l'OMC : oui.<br/><BR>Prestations
                divisées en lots : oui.<BR>Possibilité de pr&eacute;senter une offre pour un seul lot.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>36 mois à compter de la notification du
                marché.<BR><i>Date&nbsp;prévisionnelle&nbsp;de&nbsp;début&nbsp;des&nbsp;prestations&nbsp;(fournitures/services)&nbsp;:&nbsp;</i>12&nbsp;décembre&nbsp;2015.<BR><I>Modalités
                    essentielles de financement et de paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>mode
                de financement : Fonds propres du Port de Bordeaux .<Br>- mode de paiement : Virement bancaire.<br>-
                délai de paiement : 30 jours.<BR><i>Forme juridique que devra revêtir le groupement d'opérateurs
                    économiques attributaire du marché&nbsp;:&nbsp;</i>groupement solidaire. Le pouvoir adjudicateur
                interdit aux candidats de présenter leurs offres en agissant à la fois en qualité de candidats
                individuels et de membres d'un ou plusieurs groupements.<BR><I>Langues pouvant être utilisées dans
                    l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>garanties professionnelles et financières<br>- garanties techniques.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Autres
                renseignements demandés&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres renseignements
                demandés : === Candidature ===;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres renseignements demandés :
                lettre de candidature (Dc1 disponible sur
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres
                renseignements demandés : déclaration du candidat (Dc2 disponible sur
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres
                renseignements demandés : les documents relatifs aux pouvoirs de la personne habilitée pour engager le
                candidat;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres renseignements demandés : le candidat devra
                nous préciser s'il fait l'objet ou non d'une procédure de redressement judiciaire ou d'une procédure
                étrangère équivalente. Dans l'affirmative, il devra produire la copie du ou des jugements à cet
                effet;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres renseignements demandés : références sur 3 ans
                pour des projets similaires;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres renseignements demandés :
                === Offre ===;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres renseignements demandés : acte
                d'engagement et son annexe;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres renseignements demandés :
                bordereau de prix unitaire;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres renseignements demandés :
                détail quantitatif estimatif;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres renseignements demandés :
                mémoire technique;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres renseignements demandés : tarifs ou
                catalogue(s) tarifaire(s) du candidat avec la totalité des prix unitaires et indiquant le montant du
                rabais sur les produits y figurant;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres renseignements
                demandés : justificatifs de conformité à produire suivant annexe du RC.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur
                technique : au regard du mémoire technique : - architecture technique et services associés (15) -
                services de supervision et de support (15 ) - engagements proposés sur chacun des accès en terme de
                garantie de taux de disponibilité et de temps de rétablissement ainsi que les pénalités associées en cas
                de non-respect des engagements (15) - méthodologie et planning de migration (10) : 55 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix
                des prestations : 45 %.<BR>Une enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>28&nbsp;août&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>15S0016.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>modalités de retrait des documents : Sur place, ou par
                voie électronique sur la plateforme https://marches.bordeaux-port.fr.<BR><I>Ce marché s'inscrit-il dans
                    un projet / programme financé par les fonds communautaires&nbsp;:&nbsp;</I> non.
            <P><i>Conditions de remise des offres ou des candidatures :</i><br>par pli recommandé avec avis de réception
                postal ou remise contre récépissés.la remise par voie electronique se fera sur la plate-forme de
                dématérialisation.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>2&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I>Grand Port Maritime de Bordeaux.<BR>&nbsp;transmission par voie électronique
            obligatoire,&nbsp;&nbsp;00000&nbsp;_,&nbsp;&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://marches.bordeaux-port.fr","TestLien","");' class="lien">https://marches.bordeaux-port.fr</A>.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre administratif peuvent être obtenus&nbsp;:&nbsp;</I>Grand
            Port Maritime de Bordeaux.<BR>&nbsp;grand Port Maritime de Bordeaux Cellule des Marchés Bâtiment D 152, Quai
            de Bacalan CS 41320,&nbsp;&nbsp;33082&nbsp;Bordeaux Cedex,&nbsp;, tél.&nbsp;:&nbsp;05-56-90-59-38,&nbsp;,
            télécopieur&nbsp;:&nbsp;05-56-90-57-74,&nbsp;, courriel&nbsp;:&nbsp;marches@bordeaux-port.fr,&nbsp;&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("https://marches.bordeaux-port.fr","TestLien","");'
                               class="lien">https://marches.bordeaux-port.fr</A>.<BR><I>Adresse auprès de laquelle les
                documents peuvent être obtenus&nbsp;:&nbsp;</I>Grand Port Maritime de Bordeaux.<BR>&nbsp;grand Port
            Maritime de Bordeaux Cellule des Marchés 152, Quai de Bacalan Bâtiment d cs 41320,&nbsp;&nbsp;33082&nbsp;Bordeaux
            Cedex,&nbsp;, tél.&nbsp;:&nbsp;05-56-90-58-00,&nbsp;, télécopieur&nbsp;:&nbsp;05-56-90-58-97,&nbsp;,
            courriel&nbsp;:&nbsp;postoffice@bordeaux-port.fr,&nbsp;&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://marches.bordeaux-port.fr","TestLien","");' class="lien">https://marches.bordeaux-port.fr</A>.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal Administratif de Bordeaux&nbsp;tribunal
                Administratif de Bordeaux 9, rue Tastet&nbsp;33000&nbsp;Bordeaux, tél.&nbsp;:&nbsp;05-56-99-38-00,
                télécopieur&nbsp;:&nbsp;05-56-24-39-03&nbsp;adresse internet&nbsp;: <A
                        HREF='javascript:BMP_openWindow("http://www.ta-bordeaux.juradm.fr","TestLien","");'
                        class="lien">http://www.ta-bordeaux.juradm.fr</A>.</P><I>Précisions concernant le(s) délai(s)
                d'introduction des recours : </I>soit d'un référé précontractuel avant la signature du marché (articles
            L.551-1 à 12 du Code de Justice Administrative) ;<Br>- soit d'un référé contractuel après la signature du
            marché, dans les 31 jours qui suivent la publication de l'avis d'attribution du contrat, ou, à défaut d'un
            tel avis, dans les six mois qui suivent la date de conclusion de celui-ci (articles L.551-13 à 23 du même
            code) ;<Br>- soit d'un recours pour excès de pouvoir dans un délai de 2 mois à compter de la présente
            décision (articles R.421-1 à 7 du même code) ;<Br>- soit d'un recours de pleine juridiction dans les deux
            mois qui suivent la présente décision.<p><I>Renseignements relatifs aux lots&nbsp;:&nbsp;</I>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 01.</span> - fourniture de liaisons de
                                    télécommunications.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Fourniture de liaisons de télécommunications.</td>
                            </tr>
                            <tr>
                                <td class="txt"><I>Coût estimé (HT) :</I>&nbsp;entre 0&nbsp;euros et 60
                                    000&nbsp;euros.<BR></td>
                            </tr>
                            <tr>
                                <td class="txt"><I>Durée :</I>&nbsp; 36 mois à compter de la date de notification du
                                    marché.<BR></td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;64210000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 02.</span> - fourniture de services internet.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Fourniture de services internet.</td>
                            </tr>
                            <tr>
                                <td class="txt"><I>Coût estimé (HT) :</I>&nbsp;entre 0&nbsp;euros et 36
                                    000&nbsp;euros.<BR></td>
                            </tr>
                            <tr>
                                <td class="txt"><I>Durée :</I>&nbsp; 36 mois à compter de la date de notification du
                                    marché.<BR></td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;72400000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000229&noa=15-101667" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>