<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP--><BR>Département(s) de publication : <B>31</B><!-- ED=20158183--><BR>Annonce
            No&nbsp;<B>15-102077</B>
            <HR>&nbsp;<a class="lien" href="#I">I.</a>&nbsp;<a class="lien" href="#II">II.</a>&nbsp;<a class="lien"
                                                                                                       href="#III">III.</a>&nbsp;<a
                    class="lien" href="#IV">IV.</a>&nbsp;<a class="lien" href="#VI">VI.</a><br>
            <p class="titreSection0">AVIS DE MARCH&Eacute; POUR DES MARCH&Eacute;S DANS LE DOMAINE DE LA D&Eacute;FENSE
                ET DE LA S&Eacute;CURIT&Eacute;</p>
            <p class="txt"><br/>Directive 2009/81/CE.<br/></p><!--DEBUTFACT--><br/>SECTION I : <strong>POUVOIR
                ADJUDICATEUR/ENTITE ADJUDICATRICE</strong><br/><br/><a name="I"></a>
            <table width="100%" border="0" cellpadding="0" cellspacing="2">
                <thead>
                <colgroup>
                    <col width="20"/>
                    <col width="20"/>
                    <col width="*"/>
                </colgroup>
                </thead>
                <tr>
                    <td align="right" valign="top" class="txt">I.1)</td>
                    <td></td>
                    <td class="bold"><i>Nom, adresses et point(s) de contact :</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt">MINDEF/DGA/DT/SCAT Toulouse,&nbsp;ministère de la défense - direction générale de
                        l'armement - direction technique - service centralisé des achats techniques - MINDEF/Dga/Dt/Scat
                        Toulouse - balma - 47 rue saint jean - bp93123, à l'attention de&nbsp;M.&nbsp;Capdegelle
                        Laurent,&nbsp;F-31131&nbsp;Balma Cedex.&nbsp;Tél.&nbsp;(+33) 5 62 57 57 14.&nbsp;Fax&nbsp;(+33)
                        5 62 57 50 53.
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt"><span class="bold">Adresse(s) internet :</span><BR>Adresse générale du pouvoir
                        adjudicateur / de l'entité adjudicatrice : <A
                                HREF='javascript:BMP_openWindow("http://www.achats.defense.gouv.fr/entites?id_achat=23&recherche=scat%20toulouse&lang=fr&type=nom&departement=","TestLien","");'
                                class="lien">http://www.achats.defense.gouv.fr/entites?id_achat=23&recherche=scat%20toulouse&lang=fr&type=nom&departement=</A>.<BR>Adresse
                        du profil d'acheteur (URL) : <A
                                HREF='javascript:BMP_openWindow("https://www.marches-publics.gouv.fr/?page=entreprise.EntrepriseAdvancedSearch&AllCons&refConsultation=259479&orgAcronyme=g7h","TestLien","");'
                                class="lien">https://www.marches-publics.gouv.fr/?page=entreprise.EntrepriseAdvancedSearch&AllCons&refConsultation=259479&orgAcronyme=g7h</A>.<BR>
                    </td>
                </tr>
            </table>
            <table width="100%" border="0" cellpadding="0" cellspacing="2">
                <thead>
                <colgroup>
                    <col width="20"/>
                    <col width="20"/>
                    <col width="*"/>
                </colgroup>
                </thead>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="bold">Adresses auprès de laquelle des informations complémentaires peuvent être obtenues
                        :
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt">MINDEF/DGA/DT/SCAT Toulouse - Balma,&nbsp;MINDEF/dga/dt/scat Toulouse - balma - 47
                        rue saint jean - bp93123, à l'attention de&nbsp;M.&nbsp;Capdegelle Laurent,&nbsp;F-31131&nbsp;Balma
                        Cedex.&nbsp;Tél.&nbsp;(+33) 5 62 57 57 14.&nbsp;Fax&nbsp;(+33) 5 62 57 50 53.&nbsp;Adresse
                        internet&nbsp;: <A
                                HREF='javascript:BMP_openWindow("https://www.marches-publics.gouv.fr/?page=entreprise.EntrepriseAdvancedSearch&AllCons&refConsultation=259479&orgAcronyme=g7h","TestLien","");'
                                class="lien">https://www.marches-publics.gouv.fr/?page=entreprise.EntrepriseAdvancedSearch&AllCons&refConsultation=259479&orgAcronyme=g7h</A>.<br/>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="bold">Adresse à laquelle le cahier des charges et les documents complémentaires peuvent
                        être obtenus :
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt">MINDEF/DGA/DT/SCAT Toulouse - Balma,&nbsp;ministère de la défense - direction
                        générale de l'armement - direction technique - service centralisé des achats techniques -
                        MINDEF/Dga/Dt/Scat Toulouse - balma - 47 rue saint jean - bp93123, à l'attention de&nbsp;M.&nbsp;Capdegelle
                        Laurent,&nbsp;F-31131&nbsp;Balma Cedex.&nbsp;Tél.&nbsp;(+33) 5 62 57 57 14.&nbsp;Fax&nbsp;(+33)
                        5 62 57 50 53.&nbsp;Adresse internet&nbsp;: <A
                                HREF='javascript:BMP_openWindow("https://www.marches-publics.gouv.fr/?page=entreprise.EntrepriseAdvancedSearch&AllCons&refConsultation=259479&orgAcronyme=g7h","TestLien","");'
                                class="lien">https://www.marches-publics.gouv.fr/?page=entreprise.EntrepriseAdvancedSearch&AllCons&refConsultation=259479&orgAcronyme=g7h</A>.<br/>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="bold">Adresse à laquelle les offres ou demandes de participation doivent être envoyées
                        :
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt">MINDEF/DGA/DT/SCAT Toulouse - Balma,&nbsp;MINDEF/dga/dt/scat Toulouse - balma - 47
                        rue saint jean - bp93123, à l'attention de&nbsp;M.&nbsp;Capdegelle Laurent,&nbsp;F-31131&nbsp;Balma
                        Cedex.&nbsp;Adresse internet&nbsp;: <A
                                HREF='javascript:BMP_openWindow("https://www.marches-publics.gouv.fr/?page=entreprise.EntrepriseAdvancedSearch&AllCons&refConsultation=259479&orgAcronyme=g7h","TestLien","");'
                                class="lien">https://www.marches-publics.gouv.fr/?page=entreprise.EntrepriseAdvancedSearch&AllCons&refConsultation=259479&orgAcronyme=g7h</A>.<br/>
                    </td>
                </tr>
                <!--  <tr><td> </td><td> </td><td class="bold">Adresse(s) de l'autre pouvoir adjudicateur/entité adjudicatrice pour le compte duquel le pouvoir adjudicateur/l'entité adjudicatrice agit :</td></tr> -->
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt"></td>
                </tr>
            </table>
            <table width="100%" border="0" cellpadding="0" cellspacing="2">
                <thead>
                <colgroup>
                    <col width="20"/>
                    <col width="20"/>
                    <col width="*"/>
                </colgroup>
                </thead>
                <tr>
                    <td align="right" valign="top" class="txt">I.2)</td>
                    <td></td>
                    <td class="bold"><i>Type de pouvoir adjudicateur :</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt"></td>
                </tr>
                <tr>
                    <td align="right" valign="top" class="txt">I.3)</td>
                    <td></td>
                    <td class="bold"><i>Activité principale :</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt">Défense.<BR></td>
                </tr>
                <!--  <tr><td> </td><td> </td><td class="txt">Le pouvoir adjudicateur/l'entité adjudicatrice agit pour le compte d'autres pouvoirs adjudicateurs/entités adjudicatrices : non.</td></tr>-->
                <tr>
                    <td align="right" valign="top" class="txt">I.4)</td>
                    <td></td>
                    <td class="bold"><i>Attribution de marché pour le compte d'autres pouvoirs adjudicateurs/entités
                        adjudicatrices :</i></td>
                </tr>
                <!--  <tr><td> </td><td> </td><td class="txt"></td></tr>  <tr><td> </td><td> </td><td class="txt">Défense.<BR></td></tr>-->
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt">Le pouvoir adjudicateur/l'entité adjudicatrice agit pour le compte d'autres pouvoirs
                        adjudicateurs/entités adjudicatrices : non.
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt"></td>
                </tr>
            </table>
            <br/>SECTION II : <strong>OBJET DE MARCHE</strong><br/><br/><a name="II"></a>
            <table width="100%" border="0" cellpadding="0" cellspacing="2">
                <thead>
                <colgroup>
                    <col width="20"/>
                    <col width="20"/>
                    <col width="*"/>
                </colgroup>
                </thead>
                <tr>
                    <td align="right" valign="top" class="txt">II.1)</td>
                    <td></td>
                    <td class="bold"><i>Description</i></td>
                </tr>
                <tr>
                    <td align="right" valign="top" colspan="2" class="txt">II.1.1)</td>
                    <td class="bold"><i>Intitulé attribué au marché par le pouvoir adjudicateur/l'entité
                        adjudicatrice:</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt">maintien en conditions operationnelles des vehicules techniques de dga techniques
                        aeronautiques.
                    </td>
                </tr>
                <tr>
                    <td align="right" valign="top" colspan="2" class="txt">II.1.2)</td>
                    <td class="bold"><i>Type de marché et lieu d'exécution, de livraison ou de prestation</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt">Services.</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt">Catégorie de services : n<sup>o</sup>01 Services d'entretien et de réparation.</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt">Lieu principal d'exécution des travaux, de livraison des fournitures ou de
                        prestation des services : dga Techniques aéronautiques - 47 rue Saint Jean,&nbsp;31130&nbsp;Balma.
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt">Code NUTS <span class="obl">|FR623|</span>.<BR></td>
                </tr>
                <!--  <tr><td align="right" valign="top" colspan="2" class="txt">II.1.3)</td><td class="bold"><i>L'avis implique :</i></td></tr>  <tr><td> </td><td> </td><td class="txt"></td></tr>-->
                <tr>
                    <td align="right" valign="top" colspan="2" class="txt">II.1.3)</td>
                    <td class="bold"><i>Information sur l'accord-cadre</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt"></td>
                </tr>
                <tr>
                    <td align="right" valign="top" colspan="2" class="txt">II.1.4)</td>
                    <td class="bold"><i>Information sur l'accord-cadre</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt"></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt"></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt"></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt"></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt"></td>
                </tr>
                <tr>
                    <td align="right" valign="top" colspan="2" class="txt">II.1.5)</td>
                    <td class="bold"><i>Description succincte du marché ou de l'acquisition/des acquisitions:</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt">le présent projet de marché a pour objet le maintien en conditions opérationnelles
                        des véhicules techniques de DGA Techniques aéronautiques.<br>contrat décomposé en 2 lots.<br>il
                        s'agit d'un marché passé selon une procédure adaptée conformément aux articles 201.iii et 203 du
                        Cmp.<Br>En application de l'article 251 du code des marchés publics, il s'agit d'un marché
                        comportant un ou des postes à bons de commande.
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt"></td>
                </tr>
                <tr>
                    <td align="right" valign="top" colspan="2" class="txt">II.1.6)</td>
                    <td class="bold"><i>Classification CPV (vocabulaire commun pour les marchés publics)</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt"><span class="obl">50100000</span>.</td>
                </tr>
                <tr>
                    <td align="right" valign="top" colspan="2" class="txt">II.1.7)</td>
                    <td class="bold"><i>Information sur la sous-traitance</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt"></td>
                </tr>
                <tr>
                    <td align="right" valign="top" colspan="2" class="txt">II.1.8)</td>
                    <td class="bold"><i>Lots :</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt">Division en lots : Oui.</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt">Il est possible de soumettre des offres pour : un ou plusieurs lots.</td>
                </tr>
                <!--    <tr><td align="right" valign="top" class="txt">II.8)</td><td> </td><td class="bold">Informations complémentaires:</td></tr>  <tr><td> </td><td> </td><td class="txt"></td></tr>-->
                <tr>
                    <td align="right" valign="top" colspan="2" class="txt">II.1.9)</td>
                    <td class="bold"><i>Variantes</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt">Des variantes seront prises en considération : non.</td>
                </tr>
                <tr>
                    <td align="right" valign="top" class="txt">II.2)</td>
                    <td></td>
                    <td class="bold"><i>Quantité ou étendue du marché </i></td>
                </tr>
                <tr>
                    <td align="right" valign="top" colspan="2" class="txt">II.2.1)</td>
                    <td class="bold"><i>Quantité ou étendue globale :</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt"></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt"></td>
                </tr>
                <tr>
                    <td align="right" valign="top" colspan="2" class="txt">II.2.2)</td>
                    <td class="bold"><i>Information sur les options :</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt">Options : oui.</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt">Description de ces options : le pouvoir adjudicateur se réserve le droit de ne pas
                        reconduire le marché.
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt"></td>
                </tr>
                <tr>
                    <td align="right" valign="top" colspan="2" class="txt">II.2.3)</td>
                    <td class="bold"><i>Reconduction :</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt">Ce marché peut faire l'objet d'une reconduction : oui.<br/>Nombre de reconductions
                        éventuelles : 3.
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt"></td>
                </tr>
                <tr>
                    <td align="right" valign="top" class="txt">II.3)</td>
                    <td></td>
                    <td class="bold"><i>Durée du marché ou délai d'exécution des travaux</i></td>
                </tr>
                <!--  <tr><td> </td><td> </td><td class="txt">Date prévue pour le lancement des procédures de passation&nbsp;:&nbsp;</td></tr>-->
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt">Durée en mois : 48 (à compter de la date d'attribution du marché).</td>
                </tr>
            </table>
            <p class="titreSection">Information sur les lots</p>
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <thead>
                <colgroup>
                    <col width="20"/>
                    <col width="20"/>
                    <col width="*"/>
                </colgroup>
                </thead>
                <tr>
                    <td colspan="3" class="txt">Lot n<sup>o</sup>1</td>
                </tr>
                <tr>
                    <td colspan="3" class="txt">Intitulé : Entretien correctif et préventif des véhicules utilitaires
                        légers de moins de 3.5T
                    </td>
                </tr>
                <tr>
                    <td align="right" valign="top" class="txt">1)</td>
                    <td></td>
                    <td class="bold">Description succincte :</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt">Entretien correctif et préventif des véhicules utilitaires légers de moins de 3.5T
                        décomposé comme suit :- Poste 1 : MCO préventif / correctif au forfait : contrôles périodiques
                        (réglementaires)/ devis(diagnostics)- Poste 2 : MCO préventif /correctif sur BPU : réparations
                        lourdes.
                    </td>
                </tr>
                <tr>
                    <td align="right" valign="top" class="txt">2)</td>
                    <td></td>
                    <td class="bold">Classification CPV (vocabulaire commun pour les marchés publics) :</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt"><span class="obl">50100000</span>.</td>
                </tr>
                <tr>
                    <td align="right" valign="top" class="txt">3)</td>
                    <td></td>
                    <td class="bold">Quantité ou étendue :</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt"></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt"></td>
                </tr>
                <tr>
                    <td align="right" valign="top" class="txt">4)</td>
                    <td></td>
                    <td class="bold">Indication quant à une autre durée du marché ou à une autre date de
                        commencement/d'achèvement :
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt"></td>
                </tr>
                <tr>
                    <td align="right" valign="top" class="txt">5)</td>
                    <td></td>
                    <td class="bold">Information complémentaire sur les lots :</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt"></td>
                </tr>
            </table>
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <thead>
                <colgroup>
                    <col width="20"/>
                    <col width="20"/>
                    <col width="*"/>
                </colgroup>
                </thead>
                <tr>
                    <td colspan="3" class="txt">Lot n<sup>o</sup>2</td>
                </tr>
                <tr>
                    <td colspan="3" class="txt">Intitulé : Entretien correctif et préventif des véhicules lourds de plus
                        de 3.5T, les remorques, parties roulantes de la grue
                    </td>
                </tr>
                <tr>
                    <td align="right" valign="top" class="txt">1)</td>
                    <td></td>
                    <td class="bold">Description succincte :</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt">Entretien correctif et préventif des véhicules lourds de plus de 3.5T, les
                        remorques, parties roulantes de la grue décomposé comme suit :- Poste 1 : MCO préventif /
                        correctif au forfait : contrôles périodiques (réglementaires)/ devis(diagnostics)- Poste 2 : MCO
                        préventif /correctif sur BPU : réparations lourdes.
                    </td>
                </tr>
                <tr>
                    <td align="right" valign="top" class="txt">2)</td>
                    <td></td>
                    <td class="bold">Classification CPV (vocabulaire commun pour les marchés publics) :</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt"><span class="obl">50100000</span>.</td>
                </tr>
                <tr>
                    <td align="right" valign="top" class="txt">3)</td>
                    <td></td>
                    <td class="bold">Quantité ou étendue :</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt"></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt"></td>
                </tr>
                <tr>
                    <td align="right" valign="top" class="txt">4)</td>
                    <td></td>
                    <td class="bold">Indication quant à une autre durée du marché ou à une autre date de
                        commencement/d'achèvement :
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt"></td>
                </tr>
                <tr>
                    <td align="right" valign="top" class="txt">5)</td>
                    <td></td>
                    <td class="bold">Information complémentaire sur les lots :</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt"></td>
                </tr>
            </table>
            <br/>SECTION III : <strong>RENSEIGNEMENTS D'ORDRE JURIDIQUE, ECONOMIQUE, FINANCIER ET
                TECHNIQUE</strong><br/><br/><a name="III"></a>
            <table width="100%" border="0" cellpadding="0" cellspacing="2">
                <thead>
                <colgroup>
                    <col width="20"/>
                    <col width="20"/>
                    <col width="*"/>
                </colgroup>
                </thead>
                <tr>
                    <td align="right" valign="top" class="txt">III.1)</td>
                    <td></td>
                    <td class="bold"><i>Conditions relatives au contrat </i></td>
                </tr>
                <tr>
                    <td align="right" valign="top" colspan="2" class="txt">III.1.1)</td>
                    <td class="bold"><i>Cautionnement et garanties exigées :</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt"></td>
                </tr>
                <tr>
                    <td align="right" valign="top" colspan="2" class="txt">III.1.2)</td>
                    <td class="bold"><i>Modalités essentielles de financement et de paiement et/ou références aux textes
                        qui les réglementent :</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt">Le financement est assuré par des ressources budgétaires propres au ministère de la
                        défense. Le régime des paiements (versements d'avance, acomptes et soldes) est conforme aux
                        dispositions des articles 259 à 281 du code des marchés publics.<br>le type et la forme des prix
                        des prestations du poste 1 sont forfaitaires, définitifs et révisables et du poste 2 unitaires,
                        définitifs et révisables. Le délai de paiement est de 30 jours maximum et mis en oeuvre
                        conformément à la loi n<sup>o</sup>2013-100 du 28/01/2013. Le mode de règlement est le virement.<br>le
                        Comptable assignataire est :<Br>L'Agent Comptable des Services Industriels de l'armement (Acsia)<Br>Le
                        Vendôme Iii<Br>11 rue du Rempart<Br>93196 Noisy le grand Cedex.
                    </td>
                </tr>
                <tr>
                    <td align="right" valign="top" colspan="2" class="txt">III.1.3)</td>
                    <td class="bold"><i>Forme juridique que devra revêtir le groupement d'opérateurs économiques
                        attributaire du marché :</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt">Conformément à l'article 231 du code des marchés publics, les candidats doivent
                        indiquer dans leur dossier de candidature s'ils se présentent en tant que candidat individuel ou
                        en tant que groupement d'opérateurs économiques.<br>la forme du groupement n'est pas imposée.
                        Toutefois si le candidat se présente sous la forme d'un groupement conjoint, le marché prévoira
                        que le mandataire sera solidaire pour l'exécution du marché de chacun des membres du groupement
                        pour ses obligations contractuelles à l'égard du pouvoir adjudicateur.<br>il est interdit aux
                        candidats de présenter pour le marché plusieurs offres en agissant à la fois :<Br>1° en qualité
                        de candidats individuels et de membres d'un ou plusieurs groupements;<br>2° en qualité de
                        membres de plusieurs groupements.<br>3° en qualité de mandataire d'un groupement et de membre
                        d'un autre groupement ou de candidat individuel.
                    </td>
                </tr>
                <tr>
                    <td align="right" valign="top" colspan="2" class="txt">III.1.4)</td>
                    <td class="bold"><i>Autres conditions particulières auxquelles est soumise l'exécution du marché,
                        notamment eu égard à la sûreté de la fourniture des prestations et à la sécurité de
                        l'information :</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt"></td>
                </tr>
                <tr>
                    <td align="right" valign="top" colspan="2" class="txt">III.1.5)</td>
                    <td class="bold"><i>Habilitation de sécurité :</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt"></td>
                </tr>
                <tr>
                    <td align="right" valign="top" class="txt">III.2)</td>
                    <td></td>
                    <td class="bold"><i>Conditions de participation </i></td>
                </tr>
                <tr>
                    <td align="right" valign="top" colspan="2" class="txt">III.2.1)</td>
                    <td class="bold"><i>Situation propre :</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt">Critères relatifs à la situation personnelle d'opérateurs économiques (susceptibles
                        d'entraîner leur exclusion), y compris exigences relatives à leur inscription à un registre
                        professionnel ou du commerce
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt">Renseignements et formalités nécessaires pour évaluer si ces exigences sont remplies
                        : le candidat (ou le groupement) devra renseigner dans leur intégralité les formulaires Dc-1et
                        Dc-2 accessibles sur le site http://www.economie.gouv.fr/daj/formulaires-declaration-candidat
                        (en précisant le ou les lots auquel ils candidatent).<br>en cas de sous-traitance au sens de la
                        loi no loi no75-1334 du 31 décembre 1975 relative à la sous-traitance (le cas échéant : "tout
                        sous-traitant"), le candidat doit faire une déclaration au pouvoir adjudicateur, en renseignant
                        impérativement le formulaire Dc-4 accessible sur le site
                        http://www.economie.gouv.fr/daj/formulaires-declaration-candidat ou la déclaration mentionnée au
                        II de l'article 283 du code des marchés publics.<br>si le candidat (ou le groupement) s'appuie
                        sur d'autres opérateurs économiques pour justifier de ses capacités, il devra fournir dès le
                        stade des candidatures, pour chacun de ces opérateurs, les mêmes renseignements que ceux qui lui
                        sont demandés pour présenter sa candidature. A ce titre, le candidat renseignera impérativement
                        le formulaire Dc-4 accessible sur le site
                        http://www.economie.gouv.fr/daj/formulaires-declaration-candidat ou la déclaration mentionnée au
                        II de l'article 283 du code des marchés publics et fournira la preuve qu'il disposera des moyens
                        de cet opérateur pour l'exécution du marché.
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt">Critères relatifs à la situation personnelle de sous-traitants (susceptibles
                        d'entraîner leur rejet), y compris exigences relatives à leur inscription à un registre
                        professionnel ou du commerce
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt">Renseignements et formalités nécessaires pour évaluer si ces exigences sont remplies
                        : tout sous-traitant au sens de la loi no loi no75-1334 du 31 décembre 1975 relative à la
                        sous-traitance (le cas échéant : "tout sous-traitant") doit faire l'objet d'une déclaration au
                        pouvoir adjudicateur, en renseignant impérativement le formulaire Dc-4 accessible sur le site
                        http://www.economie.gouv.fr/daj/formulaires-declaration-candidat ou la déclaration mentionnée au
                        II de l'article 283 du code des marchés publics.
                    </td>
                </tr>
                <tr>
                    <td align="right" valign="top" colspan="2" class="txt">III.2.2)</td>
                    <td class="bold"><i>Capacité économique et financière :</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt">Critères relatifs à la situation économique et financière d'opérateurs économiques
                        (susceptibles d'entraîner leur exclusion)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt">Renseignements et formalités nécessaires pour évaluer si ces exigences sont remplies
                        : le candidat devra renseigner la rubrique D-1 du formulaire Dc-2 précité.<br>si le candidat (ou
                        le groupement) s'appuie sur d'autres opérateurs économiques pour justifier de ses capacités, il
                        devra fournir dès le stade des candidatures, pour chacun de ces opérateurs, les mêmes
                        renseignements que ceux qui lui sont demandés pour présenter sa candidature. A ce titre, le
                        candidat renseignera impérativement le formulaire Dc-4 accessible sur le site
                        http://www.economie.gouv.fr/daj/formulaires-declaration-candidat ou la déclaration mentionnée au
                        II de l'article 283 du code des marchés publics, et fournira la preuve qu'il disposera des
                        moyens de cet opérateur pour l'exécution du marché.<br/></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt">Critères relatifs à la situation économique et financière de sous-traitants
                        (susceptibles d'entraîner leur rejet)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt">Renseignements et formalités nécessaires pour évaluer si ces exigences sont remplies
                        : cette information peut être fournie en complétant le bloc H du formulaire DC&nbsp;4
                        précité.<br/></td>
                </tr>
                <tr>
                    <td align="right" valign="top" colspan="2" class="txt">III.2.3)</td>
                    <td class="bold"><i>Capacité technique et/ou professionnelle :</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt">Critères relatifs à la capacité technique et/ou professionnelle d'opérateurs
                        économiques (susceptibles d'entraîner leur exclusion)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt">Renseignements et formalités nécessaires pour évaluer si ces exigences sont
                        remplies: : le candidat (ou le groupement) devra renseigner dans leur intégralité les
                        formulaires Dc-1 et Dc-2 accessibles sur le site
                        http://www.economie.gouv.fr/daj/formulaires-declaration-candidat.<BR>Expérience et/ou compétence
                        devront être démontrées dans le domaine objet du marché . Cela pourra être démontré au moyen de
                        la liste des principaux services effectués au cours des cinq dernières années, indiquant
                        notamment la nature du projet, le montant, la date et le destinataire (public ou privé). Les
                        livraisons et les prestations de service sont prouvées par des attestations du destinataire ou,
                        à défaut, par une déclaration du candidat.<br/></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt">Critères relatifs à la capacité technique et/ou professionnelle de sous-traitants
                        (susceptibles d'entraîner leur rejet)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt">Renseignements et formalités nécessaires pour évaluer si ces exigences sont remplies
                        : cette information peut être fournie en complétant le bloc H du formulaire DC&nbsp;4
                        précité.<br/></td>
                </tr>
                <tr>
                    <td align="right" valign="top" colspan="2" class="txt">III.2.4)</td>
                    <td class="bold"><i>Informations sur les marchés réservés :</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt"></td>
                </tr>
                <tr>
                    <td align="right" valign="top" class="txt">III.3)</td>
                    <td></td>
                    <td class="bold"><i>Conditions propres aux marchés de services</i></td>
                </tr>
                <tr>
                    <td align="right" valign="top" colspan="2" class="txt">III.3.1)</td>
                    <td class="bold"><i>Information relative à la profession :</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt"></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt"></td>
                </tr>
                <tr>
                    <td align="right" valign="top" colspan="2" class="txt">III.3.2)</td>
                    <td class="bold"><i>Membres du personnel responsables de l'exécution du service :</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="txt"></td>
                </tr>
            </table>
            <br/>SECTION IV : <strong>PROCEDURE</strong><br/><br/><a name="IV"></a>
            <table width="100%" border="0" cellpadding="0" cellspacing="2">
                <thead>
                <colgroup>
                    <col width="20"/>
                    <col width="20"/>
                    <col width="*"/>
                </colgroup>
                </thead>
                <tr>
                    <td align="right" valign="top" class="txt">IV.1)</td>
                    <td>&nbsp;</td>
                    <td class="bold"><i>Type de procédure</i></td>
                </tr>
                <tr>
                    <td align="right" valign="top" colspan="2" class="txt">IV.1.1)</td>
                    <td class="bold"><i>Type de procédure :</i></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="txt">Procédure adaptée.</td>
                </tr>
                <tr>
                    <td align="right" valign="top" colspan="2" class="txt">IV.1.2)</td>
                    <td class="bold"><i>Limites concernant le nombre d'opérateurs invités à soumissionner ou à
                        participer :</i></td>
                </tr>
                <tr>
                    <td align="right" valign="top" colspan="2" class="txt">IV.1.3)</td>
                    <td class="bold"><i>Réduction du nombre d'opérateurs durant la négociation ou le dialogue :</i></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="txt">Recours à une procédure se déroulant en phases successives afin de réduire
                        progressivement le nombre des solutions à discuter ou des offres à négocier : non.
                    </td>
                </tr>
                <tr>
                    <td align="right" valign="top" class="txt">IV.2)</td>
                    <td>&nbsp;</td>
                    <td class="bold"><i>Critères d'attribution</i></td>
                </tr>
                <tr>
                    <td align="right" valign="top" colspan="2" class="txt">IV.2.1)</td>
                    <td class="bold"><i>Critères d'attribution :</i></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="txt">Offre économiquement la plus avantageuse appréciée en fonction des critères énoncés
                        dans le cahier des charges, dans l'invitation à soumissionner ou à négocier ou encore dans le
                        document descriptif.
                    </td>
                </tr>
                <tr>
                    <td align="right" valign="top" colspan="2" class="txt">IV.2.2)</td>
                    <td class="bold"><i>Enchère électronique :</i></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="txt">Une enchère électronique sera effectuée : non.</td>
                </tr>
                <tr>
                    <td align="right" valign="top" class="txt">IV.3)</td>
                    <td>&nbsp;</td>
                    <td class="bold"><i>Renseignements d'ordre administratif</i></td>
                </tr>
                <tr>
                    <td align="right" valign="top" colspan="2" class="txt">IV.3.1)</td>
                    <td class="bold"><i>Numéro de référence attribué au dossier par le pouvoir adjudicateur/l'entité
                        adjudicatrice :</i></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="txt">DGATA-MAPA-FI1500104TATLS-LC.</td>
                </tr>
                <tr>
                    <td align="right" valign="top" colspan="2" class="txt">IV.3.2)</td>
                    <td class="bold"><i>Publication(s) antérieure(s) concernant le même marché :</i></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="txt">Publication(s) antérieure(s) concernant le même marché : Non.</td>
                </tr>
                <tr>
                    <td align="right" valign="top" colspan="2" class="txt">IV.3.3)</td>
                    <td class="bold"><i>Conditions d'obtention du cahier des charges et des documents complémentaires ou
                        du document descriptif :</i></td>
                </tr>
                <tr>
                    <td align="right" valign="top" colspan="2" class="txt">IV.3.4)</td>
                    <td class="bold"><i>Date limite des demandes de participation :</i></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="txt">17&nbsp;août&nbsp;2015 - 16:00.</td>
                </tr>
                <tr>
                    <td align="right" valign="top" colspan="2" class="txt">IV.3.5)</td>
                    <td class="bold"><i>Date d'envoi des invitations à soumissionner ou à participer aux candidats
                        sélectionnés :</i></td>
                </tr>
                <tr>
                    <td align="right" valign="top" colspan="2" class="txt">IV.3.6)</td>
                    <td class="bold"><i>Langue(s) pouvant être utilisée(s) dans l'offre ou la demande de participation
                        :</i></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="txt">Langue(s) officielle(s) de l'UE : français.</td>
                </tr>
            </table>
            <br/>SECTION VI : <strong>RENSEIGNEMENTS COMPLEMENTAIRES</strong><br/><br/><a name="VI"></a>
            <table width="100%" border="0" cellpadding="0" cellspacing="2">
                <thead>
                <colgroup>
                    <col width="20"/>
                    <col width="20"/>
                    <col width="*"/>
                </colgroup>
                </thead>
                <tr>
                    <td align="right" valign="top" class="txt">VI.1)</td>
                    <td>&nbsp;</td>
                    <td class="bold"><i>Renouvellement :</i></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="txt">Il s'agit d'un marché renouvelable : Non.</td>
                </tr>
                <tr>
                    <td align="right" valign="top" class="txt">VI.2)</td>
                    <td>&nbsp;</td>
                    <td class="bold"><i>Information sur les fonds de l'Union européenne :</i></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="txt">Le marché s'inscrit dans un projet/programme financé par des fonds de l'Union
                        européenne : Non.
                    </td>
                </tr>
                <tr>
                    <td align="right" valign="top" class="txt">VI.3)</td>
                    <td>&nbsp;</td>
                    <td class="bold"><i>Informations complémentaires :</i></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="txt">Marché passé selon une procédure adaptée conformément aux les articles 201.iii-1°,
                        203, et 251 du Cmp.<Br>Montant du marché :<Br>Le montant du marché correspondra :<Br>- au
                        montant forfaitaire du poste 1,<br>- au montant des bons de commande émis au titre du poste
                        2.<br>- le poste à bon de commande est limité au montant maximum annuel : 5000 euro(s)
                        (T.T.C.)/An sur le lot 1 et 10000 euro(s) (T.T.C.)/An sur le lot 2.<br>visite préliminaire avant
                        remise de l'offre :<Br>Avant la remise des offres, une visite préliminaire obligatoire sera
                        organisée le 16/07/2015 à 9h00.<br>les bio data des personnes désirant participer à la visite
                        devront être communiquées dans les 72 h précédent la date de celle-ci au service achat
                        (coordonnées voir article I.1 du présent document).<br>les personnes (2 maximum par société) se
                        présenteront, munies de la carte nationale d'identité et demanderont Laurent Capdegelle à DGA-TA
                        - 47 rue Saint-Jean 31130 balma. <br>nb : pour les modalités d'accès des ressortissants
                        étrangers, ils devront prendre contact avec le bureau de sécurité.<br>durée du marché ou délai
                        d'exécution :<Br>Il y a lieu de comprendre " date de notification du contrat " en lieu et place
                        de la " date d'attribution du contrat " <Br>Candidat s'appuyant sur d'autres opérateurs
                        économiques :<Br>En complément de la rubrique Iii.Ii.1, si le candidat (ou le groupement)
                        s'appuie sur d'autres opérateurs économiques pour justifier de ses capacités professionnelles,
                        techniques et financières, il devra fournir pour chacun de ces opérateurs, les mêmes
                        renseignements que ceux qui lui sont demandés par le pouvoir adjudicateur pour présenter sa
                        candidature (Voir la section Iii.2 du présent avis). Par ailleurs, il devra également être
                        produit un engagement écrit de chacun de ces opérateurs.<br>information sur la
                        sous-traitance<br>- les contrats de sous-traitance au sens de la loi no75-1334 du 31 décembre
                        1975 relative à la sous-traitance feront l'objet d'une acceptation dans les conditions prévues
                        aux articles 277 et 278 du code des marchés publics.<br>afin de permettre cette acceptation, le
                        soumissionnaire présentera à la personne publique avec son offre ou après le dépôt de son offre
                        la déclaration mentionnée à l'article 277 pour les contrats de sous-traitance au sens de la loi
                        no75-1334.<br>le rejet d'un sous-traitant n'est possible que dans les cas définis à l'article
                        278 du code des marchés publics.<br>les capacités techniques, professionnelles et financières
                        demandées aux sous-traitants sont celles exigées des candidats au marché principal et qui sont
                        objectivement rendues nécessaires par l'objet du contrat de sous-traitance et la nature des
                        prestations à réaliser. Cet examen pour chaque sous-traitant s'effectuera au regard des mêmes
                        renseignements que ceux exigés au Iii.2 du présent avis pour le candidat au marché
                        principal.<br>opérateurs économiques des pays tiers à l'ue ou à l'eee<br>conformément à
                        l'article 215 I du code des marchés publics, la présente procédure n'est pas ouverte aux
                        opérateurs économiques des pays tiers à l'union européenne ou à l'espace économique
                        européen.<br>les candidats produiront en outre tous renseignements ou documents justifiant de
                        leur nationalité.<br>modalités de transmission des candidatures et offres :<Br>Le candidat
                        pourra transmettre son pli soit de façon dématérialisée, par transmission électronique via la
                        plate-forme des achats de l'état (Place), accessible depuis www.marches-publics.gouv.fr ou via
                        les portails www.achats.defense.gouv.fr ou www.ixarm.com, soit sur support physique (support
                        papier, ou support électronique tel que CD-ROM par exemple).<br>les modalités détaillées de
                        transmission sont précisées dans le fichier " Modalités de transmission des candidatures et
                        offres au scat " accessible sur www.ixarm.com, rubrique Marchés et opportunités, sous-rubrique
                        Procédure et documentation marchés publics (adresse :
                        http://www.ixarm.com/IMG/pdf/Modalites_de_transmission_des_candidatures_au_sein_du_SCAT.pdf).<BR>En
                        cas de difficulté pour accéder à ce fichier les renseignements pourront être obtenus à l'adresse
                        indiquée pour l'obtention de renseignements d'ordre administratif.<br>délai minimal pendant
                        lequel le soumissionnaire est tenu de maintenir son offre :<Br>Le délai de validité des offres
                        sera indiqué dans les documents de la consultation.<br>langue :<Br>Conformément à l'article 219
                        V du code des marchés publics, les documents remis à l'appui des candidatures dans une autre
                        langue que la langue française doivent être accompagnés d'une traduction en français certifiée
                        conforme à l'original par un traducteur assermenté. En cas de contradiction entre les deux
                        documents, la version en langue française fait seule foi.<br>informations complémentaires
                        relatives aux conditions de participation :<Br>Afin, de permettre au pouvoir adjudicateur
                        d'apprécier la situation juridique et la capacité économique, financière, technique et
                        professionnelle minimale requise en vue de la sélection des candidatures, il est impérativement
                        demandé aux candidats de fournir, sous peine de rejet de la candidature, les formulaires DC 1 et
                        DC 2 dûment renseignés ainsi que le cas échéant le (les) formulaire(s) DC&nbsp;4<br>la lettre de
                        candidature et les déclarations sur l'honneur ainsi que l'offre doivent être impérativement
                        signées par une personne habilitée à engager l'opérateur économique (ou le groupement
                        d'opérateurs économiques) sous peine de rejet de la candidature.<br>un candidat qui fait une
                        fausse déclaration pourra être sanctionné au titre de l'article 441-1 du code pénal pour faux et
                        usage de faux.
                    </td>
                </tr>
                <tr>
                    <td align="right" valign="top" class="txt">VI.4)</td>
                    <td>&nbsp;</td>
                    <td class="bold"><i>Procédures de recours</i></td>
                </tr>
                <tr>
                    <td align="right" valign="top" colspan="2" class="txt">VI.4.1)</td>
                    <td class="bold"><i>Instance chargée des procédures de recours :</i></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="txt">Greffe du Tribunal Administratif de Toulouse,&nbsp;68 rue Raymond IV - B.P.&nbsp;7007,&nbsp;F-31068&nbsp;Toulouse
                        Cedex 07.&nbsp;E-mail&nbsp;:&nbsp;<a href="mailto:greffe.ta-toulouse@juradm.fr">greffe.ta-toulouse@juradm.fr</a>.&nbsp;Tél.&nbsp;(+33)
                        5 62 73 57 57.&nbsp;Fax&nbsp;(+33) 5 62 73 57 40.<br/></td>
                </tr>
                <tr>
                    <td align="right" valign="top" colspan="2" class="txt">VI.4.2)</td>
                    <td class="bold"><i>Introduction des recours :</i></td>
                </tr>
                <tr>
                    <td align="right" valign="top" colspan="2" class="txt">VI.4.3)</td>
                    <td class="bold"><i>Service auprès duquel des renseignements peuvent être obtenus concernant
                        l'introduction des recours :</i></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="txt">Greffe du Tribunal Administratif de Toulouse,&nbsp;68 rue Raymond IV - B.P.&nbsp;7007,&nbsp;F-31068&nbsp;Toulouse
                        Cedex 07.&nbsp;E-mail&nbsp;:&nbsp;<a href="mailto:greffe.ta-toulouse@juradm.fr">greffe.ta-toulouse@juradm.fr</a>.&nbsp;Tél.&nbsp;(+33)
                        5 62 73 57 57.&nbsp;Fax&nbsp;(+33) 5 62 73 57 40.<br/></td>
                </tr>
                <tr>
                    <td align="right" valign="top" class="txt">VI.5)</td>
                    <td>&nbsp;</td>
                    <td class="bold"><i>Date d'envoi du présent avis :</i></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="txt">2&nbsp;juillet&nbsp;2015.</td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000639&noa=15-102077" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>