<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>91</B><!-- ED=20158191--><BR>Annonce No&nbsp;<B>15-102362</B><BR>Travaux
            <!--Etablissement public territorial--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Syndicat mixte de la Vallée de
            l'Orge.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;le président,&nbsp;163 route de Fleury&nbsp;91172&nbsp;Viry
            Châtillon Cedex, tél.&nbsp;:&nbsp;01-69-12-15-40, télécopieur&nbsp;:&nbsp;01-69-45-09-21, courriel&nbsp;:&nbsp;info@syndicatdelorge.fr&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.syndicatdelorge.fr","TestLien","");'
                               class="lien">http://www.syndicatdelorge.fr</A>.<BR><i>Principale(s) Activité(s) du
                pouvoir adjudicateur : </i> Services généraux des administrations publiques, Environnement.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>création d'un réseau d'assainissement eaux usées hameaux de
                la Charmoise, la Roncière et la Soulaudière à Fontenay les Briis et Courson Monteloup</B>.<BR><I>Type de
                marché de travaux&nbsp;:&nbsp;</I> exécution.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR><I>Refus des variantes</I>.<BR>Prestations
                divisées en lots : non.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>4 mois à compter de la notification du
                marché.<BR><I>Langues pouvant être utilisées dans l'offre ou la
                    candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix
                : 45 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur technique : 50 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;insertion
                sociale : 5 %.
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>10&nbsp;août&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i>
            <P><I>Renseignements complémentaires&nbsp;:&nbsp;</I>le Dossier de Consultation des Entreprises est
                consultable et téléchargeable sur le site "www.syndicatdelorge.fr" (rubrique "marchés publics").
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>9&nbsp;juillet&nbsp;2015.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000924&noa=15-102362" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>