<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>59</B>,&nbsp;62<!-- ED=20158208--><BR>Annonce No&nbsp;<B>15-102405</B><BR>Travaux
            <!--Commune--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Ville de Roubaix.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;le
            maire,&nbsp;17 grand'place D.G.R Marchés publics CS 70737&nbsp;59066&nbsp;Roubaix Cedex 1, tél.&nbsp;:&nbsp;03-20-66-46-00,
            courriel&nbsp;:&nbsp;commandepublique@ville-roubaix.fr&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.ville-roubaix.fr/","TestLien","");' class="lien">http://www.ville-roubaix.fr/</A>.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.ville-roubaix.fr/espace-pro/marches-publics.html","TestLien","");'
                    class="lien">http://www.ville-roubaix.fr/espace-pro/marches-publics.html</A>.<BR>Le pouvoir
            adjudicateur n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<p><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>travaux
                de remplacement des groupes froids au musée d'art et d'industrie André Diligent</B>.<BR><I>Type de
                marché de travaux&nbsp;:&nbsp;</I> exécution.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>23 rue de
                l'espérance,&nbsp;59100&nbsp;Roubaix.<BR><I>Code NUTS : </I>FR301.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><br><i>Options : descriptions concernant les
                achats complémentaires&nbsp;:&nbsp;</i>deux options sont proposées aux candidats.<Br>Option 1 :
                Fourniture et pose sur le départ eau glacée d'un ballon tampon de 2 000 L.<Br>Option 2 : Fourniture et
                pose d'une vanne d'équilibrage sur le by-pass de la vanne 3 voies de la batterie froide des CTA 1, 2, 3,
                4, 5, 6, 7, 8 et 9.<BR><I>Des variantes seront-elles prises en compte: </I>oui.<BR>Prestations divisées
                en lots : non.<BR><I>Langues pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I>
            <P><I>Marché réservé :&nbsp;</I>non.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire obligatoirement par le candidat, à l'appui de sa candidature&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Copie
                du ou des jugements prononcés, si le candidat est en redressement judiciaire;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                sur l'honneur du candidat justifiant qu'il n'entre dans aucun des cas mentionnés à l'article 43 du code
                des marchés publics, concernant les interdictions de soumissionner;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                sur l'honneur du candidat attestant qu'il est en règle, au cours de l'année précédant celle au cours de
                laquelle a lieu le lancement de la consultation, au regard des articles L. 5212-1, L. 5212-2, L. 5212 5
                et L. 5212-9 du code du travail, concernant l'emploi des travailleurs handicapés.<br/><br/><i>Documents
                    à produire à l'appui des candidatures par le candidat, au choix de l'acheteur
                    public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration concernant le chiffre
                d'affaires global et le chiffre d'affaires concernant les fournitures, services ou travaux objet du
                marché, réalisés au cours des trois derniers exercices disponibles;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                indiquant les effectifs moyens annuels du candidat et l'importance du personnel d'encadrement pour
                chacune des trois dernières années;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Présentation d'une liste des
                travaux exécutés au cours des cinq dernières années, appuyée d'attestations de bonne exécution pour les
                travaux les plus importants. Ces attestations indiquent le montant, l'époque et le lieu d'exécution des
                travaux et précisent s'ils ont été effectués selon les règles de l'art et menés régulièrement à bonne
                fin;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration indiquant l'outillage, le matériel et
                l'équipement technique dont le candidat dispose pour la réalisation de marchés de même nature;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC1, Lettre de candidature - Habilitation du mandataire par ses co-traitants (disponible à l'adresse
                suivante : http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC2, Déclaration du candidat individuel ou du membre du groupement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4).
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix
                des prestations : 60 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur technique appréciée en fonction
                du mémoire technique du candidat : 40 %.
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>11&nbsp;septembre&nbsp;2015,&nbsp;à&nbsp;11&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>180 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>15TRA023.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>la ville négociera avec l'ensemble des candidats admis
                à négocier. La négociation pourra porter sur l'ensemble des composantes techniques et/ou financières de
                l'offre.<Br>Cette négociation pourra se dérouler :<Br>- par télécopieur ou par mail<Br>- sur entretien
                organisé par le représentant du pouvoir adjudicateur, et suivi d'un compte rendu des éléments de
                négociation signé des deux parties.<Br><Br>Une visite du site est obligatoire sous peine du rejet de
                l'offre.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>24&nbsp;juillet&nbsp;2015.</P>
            <P><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de Lille&nbsp;143
                rue Jacquemars Giélée&nbsp;59800&nbsp;Lille, tél.&nbsp;:&nbsp;03-20-63-13-00.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000967&noa=15-102405" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>