<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>6</B><!-- ED=20158181--><BR>Annonce No&nbsp;<B>15-100067</B><BR>Fournitures<!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Ville de Cannes.<BR>&nbsp;Correspondant&nbsp;:&nbsp;
            M.&nbsp;le maire ou son représentant, l'adjoint délégué,&nbsp;hôtel de ville de Cannes - place Bernard
            Cornut Gentille<Br>Cs 30. 140&nbsp;06406&nbsp;Cannes Cedex, tél.&nbsp;:&nbsp;(+33) 4-97-06-45-50,
            télécopieur&nbsp;:&nbsp;(+33) 4-97-06-45-40, courriel&nbsp;:&nbsp;marches-publics@ville-cannes.fr&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.cannes.com","TestLien","");' class="lien">http://www.cannes.com</A>.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://www.e-marches06.fr","TestLien","");' class="lien">https://www.e-marches06.fr</A>.<BR><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>fournitures, prestations et maintenance de matériels et
                infrastructures de radiofréquence mixte</B>.<BR><I>Type de marché de fournitures&nbsp;:&nbsp;</I> achat.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;32344210.<BR><I>Lieu de livraison&nbsp;:&nbsp;</I>ville de Cannes,&nbsp;06400&nbsp;Cannes.<BR><I>Code
                    NUTS : </I>|FR823|.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>la Ville de Cannes est équipée
                d'infrastructures de radiofréquence numérique et analogique.<BR>l'objet de ce marché est de permettre
                l'évolution et la maintenance des infrastructures de radiotéléphonie et des terminaux associés. <BR>La
                présente consultation porte donc sur la maintenance de quelques équipements actuels de radiofréquence et
                l'acquisition d'équipements de radiofréquence mixte (analogique / numérique) sur le territoire
                opérationnel de la Ville de Cannes<BR><i>Quantités (fournitures et services), nature et étendue
                    (travaux)&nbsp;:&nbsp;</i>en application de l'article 77 du Code des marchés publics, la
                consultation donnera lieu à un marché à bons de commande. Les valeurs ou quantités des prestations
                faisant l'objet de ce marché sont susceptibles de varier dans les limites annuelles et contractuelles
                suivantes :<Br>- montant minimum annuel par an : 0 eur ht<br>- montant maximum annuel par an : 66 666,67
                eur (H.T.).<BR><i>Options : descriptions concernant les achats complémentaires&nbsp;:&nbsp;</i>le marché
                est un marché à bons de commande passé pour une durée initiale d'1an à compter de la notification du
                marché. Il est reconductible 2 fois de manière tacite dans les conditions définies au CCAP, par période
                de 1 an, pour une durée maximale de 3 ans. <Br>A défaut de décision expresse du pouvoir adjudicateur 4
                mois au plus tard avant la date anniversaire, le marché sera considéré comme tacitement reconduit.<br>toutefois,
                le titulaire peut refuser la reconduction ; dans ce cas il devra, par décision motivée, notifier son
                refus au pouvoir adjudicateur par LRAR 5 mois au plus tard avant la date anniversaire du marché. A
                défaut de refus exprès avant ce délai, le titulaire sera alors tenu d'accepter la reconduction.<BR><i>Nombre
                    de reconductions éventuelles&nbsp;:&nbsp;</i>entre 1 et 2.<BR><I>Refus des variantes</I>.<BR>La
                procédure d'achat du présent avis est couverte par l'accord sur les marchés publics de l'OMC : non.<br/><BR>Prestations
                divisées en lots : non.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>12 mois à compter de la notification du
                marché.<BR><I>Modalités essentielles de financement et de paiement et/ou références aux textes qui les
                    réglementent&nbsp;:&nbsp;</I>- Pas d'avance prévue<br>- le règlement des dépenses se fera par mandat
                administratif suivi d'un virement. <Br>- le délai global de paiement ne pourra excéder 30 jours<br>- le
                taux des intérêts moratoires est égal au taux d'intérêt appliqué par la Banque centrale européenne à ses
                opérations principales de refinancement les plus récentes, en vigueur au premier jour du semestre de
                l'année civile au cours duquel les intérêts moratoires ont commencé à courir, majoré de huit points de
                pourcentage. Le montant de l'indemnité forfaitaire pour frais de recouvrement est fixé à 40&nbsp;euros.
                <Br>- les crédits nécessaires au financement de l'opération sont inscrits dans les comptes de la ville
                au budget annuel <Br>- financement sur fonds propres<br>- prix unitaires, révisables.<BR><i>Forme
                    juridique que devra revêtir le groupement d'opérateurs économiques attributaire du marché&nbsp;:&nbsp;</i>aucune
                forme de groupement n'est imposée par le pouvoir adjudicateur.<BR>le pouvoir adjudicateur interdit aux
                candidats de présenter leurs offres en agissant à la fois en qualité de candidats individuels et de
                membres d'un ou plusieurs groupements, conformément à l'article 51-vi-1 du Code des marchés publics.<BR><I>L'exécution
                    du marché est soumise à d'autres conditions particulières : </I>non.<BR><I>Langues pouvant être
                    utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée,
                    l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>-
                Dc1 (nouvelle version disponible sur www.economie.gouv.fr) ou lettre de candidature accompagnée des
                documents relatifs aux pouvoirs de la personne habilitée pour engager le candidat, y compris en cas de
                groupement, la nature de ce dernier et les habilitations nécessaires pour représenter les
                cotraitants.<br>- la copie du ou des jugements prononcés à cet effet si le candidat est en redressement
                judiciaire.<br>- la déclaration sur l'honneur attestant que le candidat n'entre dans aucun cas mentionné
                à l'article 43 du Code des marchés publics (en l'absence de Dc1) <Br>- une déclaration sur l'honneur
                attestant que le candidat est en règle au regard des articles L. 5212-1, L5212-2, L. 5212-5 et L. 5212-9
                du Code du travail, concernant l'emploi des travailleurs handicapés ou règles d'effet équivalent pour
                les candidats non établis en France (en l'absence de Dc1)<Br>- la déclaration sur l'honneur dûment datée
                et signée par le candidat pour justifier que le candidat (pour un groupement tous les co-traitants) a
                satisfait à ses obligations fiscales et sociales au 31 décembre 2014 (en l'absence de Dc1)<Br>- une
                déclaration sur l'honneur (en l'absence de Dc1) attestant :<Br>One pas avoir fait l'objet, depuis moins
                de cinq ans, d'une condamnation inscrite au bulletin n<sup>o</sup> 2 du casier judiciaire pour les
                infractions mentionnées à l'article L. 1146-1 du code du travail ;<Br>Oavoir, au 31 décembre de l'année
                précédant celle au cours de laquelle a lieu le lancement de la consultation, mis en &oelig;uvre
                l'obligation de négociation prévue à l'article L. 2242-5 du code du travail ou, à défaut, avoir réalisé
                ou engagé la régularisation de cette situation à la date de la soumission.<BR><I>Capacité économique et
                    financière - références requises&nbsp;:&nbsp;</I>- DC 2 ou la déclaration concernant le chiffre
                d'affaires global et le chiffre d'affaires concernant les fournitures et services auxquels se réfère le
                marché, réalisés au cours des trois derniers exercices<BR><I>Capacité économique et financière -
                    Niveau(x) spécifique(s) minimal(aux) exigé(s)&nbsp;:&nbsp;</I>aucun niveau spécifique minimal n'est
                exigé des candidats.<BR><I>Référence professionnelle et capacité technique - références requises&nbsp;:&nbsp;</I>-
                La déclaration indiquant les effectifs du candidat et l'importance du personnel d'encadrement pour
                chacune des trois dernières années <Br>- présentation d'une liste des principales fournitures ou des
                principaux services fournis au cours des trois dernières années ou présentation d'une liste des travaux
                en cours d'exécution ou exécutés au cours des cinq dernières années, indiquant notamment le montant, la
                date et le destinataire public ou privé <Br>- déclaration indiquant l'outillage, le matériel et
                l'équipement technique dont l'entrepreneur dispose pour l'exécution des prestations.<BR><I>Référence
                    professionnelle et capacité technique - Niveau(x) spécifique(s) minimal(aux)
                    exigé(s)&nbsp;:&nbsp;</I>aucun niveau spécifique minimal n'est exigé des candidats.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix
                des prestations : 40 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur technique appréciée au regard du
                mémoire technique répondant aux sous-critères figurant dans le réglement de la consultation : 60 %.<BR>Une
                enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>30&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>15/018.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>dans le but de parfaire leur offre, la Ville de Cannes
                se réserve le droit d'engager une négociation avec les candidats, pouvant porter sur tous les éléments
                de leur offre, notamment sur le prix. Les modalités sont décrites à l'article 5.6 du réglement de la
                consulation.
            <p><i>Le présent marché a un caractère périodique :&nbsp;</i>non.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>il est possible de consulter et de
                télécharger le Dossier de Consultation des Entreprises sur le site www.e-marches06.fr. Identifiant
                maître d'ouvrage : Mairie de Cannes (06)<br>les dossiers contenant les candidatures et/ou les offres
                devront être envoyés par pli recommandé avec avis de réception, ou par tout moyen permettant de donner
                une date certaine de réception<BR>les offres seront contenues dans une enveloppe parfaitement
                identifiable portant la mention ci-après :<Br>" Affaire n<sup>o</sup>15s0018 - fournitures, prestations
                et maintenance de matériels et infrastructures de radiofréquence mixte - ne pas ouvrir ".<Br>Les
                candidats peuvent également transmettre à l'adresse Internet www.e-marches06.fr les candidatures et les
                offres par voie électronique en<br>vertu des art. 48 et 56 du C. Marchés publ. Et des arrêtés pris pour
                leur application (arrêté du 14 décembre 2009 relatif à la dématérialisation<br>des procédures de
                passation des marchés publics - nOR: Ecem0929046a et arrêté du 15 juin 2012 relatif à la signature
                électronique entrant en vigueur le 1<sup>er</sup> octobre 2012) - les certificats de signature
                électronique seront examinés selon l'arrêté (acceptation des certificats conformes au RGS ou
                équivalent).
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>30&nbsp;juin&nbsp;2015.</P><I>Adresse à
                laquelle les offres/candidatures/projets/demandes de participation doivent être envoyés&nbsp;:&nbsp;</I>Direction
            des achats.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I> Direction des achats, du lundi au vendredi - hors
            jours fériés- de 8 h 30 à 12h30 et de 13h30 à 17h30,&nbsp;&nbsp;3 rue des Fauvettes,&nbsp;&nbsp;06400&nbsp;Cannes,&nbsp;,
            tél.&nbsp;:&nbsp;(+33) 4-97-06-45-50,&nbsp;, télécopieur&nbsp;:&nbsp;(+33) 4-97-06-45-40,&nbsp;&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.e-marches06.fr","TestLien","");'
                               class="lien">http://www.e-marches06.fr</A>.<BR><I>Adresse auprès de laquelle des
                renseignements complémentaires peuvent être obtenus&nbsp;:&nbsp;</I>Direction des achats.<BR>&nbsp;3 rue
            des Fauvettes,&nbsp;&nbsp;06400&nbsp;Cannes,&nbsp;, tél.&nbsp;:&nbsp;(+33) 4-97-06-45-50,&nbsp;, télécopieur&nbsp;:&nbsp;(+33)
            4-97-06-45-40,&nbsp;, courriel&nbsp;:&nbsp;marches-publics@ville-cannes.fr,&nbsp;&nbsp;adresse internet&nbsp;:
            <A HREF='javascript:BMP_openWindow("http://www.e-marches06.fr","TestLien","");' class="lien">http://www.e-marches06.fr</A>.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre technique peuvent être obtenus&nbsp;:&nbsp;</I>Direction
            des Systèmes d'Information et des Télécommunications.<BR>&nbsp;15&nbsp;avenue de Grasse,&nbsp;&nbsp;06400&nbsp;Cannes,&nbsp;,
            tél.&nbsp;:&nbsp;(+33) 4-97-06-42-34,&nbsp;, télécopieur&nbsp;:&nbsp;(+33) 4-97-06-42-32,&nbsp;&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.e-marches06.fr","TestLien","");'
                               class="lien">http://www.e-marches06.fr</A>.<BR><I>Adresse auprès de laquelle des
                renseignements d'ordre administratif peuvent être obtenus&nbsp;:&nbsp;</I>Direction des achats.<BR>&nbsp;3
            rue des Fauvettes,&nbsp;&nbsp;06400&nbsp;Cannes,&nbsp;, tél.&nbsp;:&nbsp;(+33) 4-97-06-45-50,&nbsp;,
            télécopieur&nbsp;:&nbsp;(+33) 4-97-06-45-40,&nbsp;, courriel&nbsp;:&nbsp;marches-publics@ville-cannes.fr,&nbsp;&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.e-marches06.fr","TestLien","");'
                               class="lien">http://www.e-marches06.fr</A>.<BR><I>Adresse auprès de laquelle les
                documents peuvent être obtenus&nbsp;:&nbsp;</I>Direction des achats.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>
            Direction des achats, du lundi au vendredi - hors jours fériés- de 8 h 30 à 12h30 et de 13h30 à 17h30,&nbsp;&nbsp;3
            rue des Fauvettes,&nbsp;&nbsp;06400&nbsp;Cannes,&nbsp;, tél.&nbsp;:&nbsp;(+33) 4-97-06-45-50,&nbsp;,
            télécopieur&nbsp;:&nbsp;(+33) 4-97-06-45-40,&nbsp;, courriel&nbsp;:&nbsp;marches-publics@ville-cannes.fr,&nbsp;&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.e-marches06.fr","TestLien","");'
                               class="lien">http://www.e-marches06.fr</A>.<p><I>Instance chargée des procédures de
                recours&nbsp;:&nbsp;</I>Tribunal Administratif de Nice&nbsp;33 boulevard Franck Pilatte - B.P.&nbsp;4179&nbsp;06359&nbsp;Nice
                Cedex 4, tél.&nbsp;:&nbsp;(+33) 4-92-04-13-13, télécopieur&nbsp;:&nbsp;(+33) 4-93-55-78-31.</P>
            <P><I>Organe chargé des procédures de médiation&nbsp;:&nbsp;</I>Comité Consultatif Interrégional de
                Règlement Amiable des Litiges en matière de marchés publics (CCIRAL)&nbsp;préfecture de la région
                Provence Alpes Côte d'azur - secrétariat Général pour les Affaires Générales - bd Paul Peytral&nbsp;13282&nbsp;Marseille
                Cedex 20, tél.&nbsp;:&nbsp;(+33) 4-91-15-63-74, télécopieur&nbsp;:&nbsp;(+33) 4-91-15-61-90.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Ville
                de Cannes - Direction des achats - Service juridique&nbsp;3 rue des Fauvettes&nbsp;06400&nbsp;Cannes,
                tél.&nbsp;:&nbsp;(+33) 4-97-06-45-50, télécopieur&nbsp;:&nbsp;(+33) 4-97-06-45-40.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2998629&noa=15-100067" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>