<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>33</B><!-- ED=20158182--><BR>Annonce No&nbsp;<B>15-101216</B><BR>Travaux<!--Commune-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>VILLE DE PAREMPUYRE.<BR>&nbsp;Correspondant&nbsp;:&nbsp;Mme&nbsp;De
            François Bétarice, Ville de Parempuyre,&nbsp;1&nbsp;avenue Philippe Durand Dassier&nbsp;33290&nbsp;Parempuyre,
            tél.&nbsp;:&nbsp;05-56-95-56-20, télécopieur&nbsp;:&nbsp;05-56-95-56-10&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.parempuyre.fr/","TestLien","");' class="lien">http://www.parempuyre.fr/</A>.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://marchespublics.aquitaine.fr","TestLien","");' class="lien">http://marchespublics.aquitaine.fr</A>.<BR>Le
            pouvoir adjudicateur n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>travaux de restauration des murs de clôture en pierre du
                cimetière</B>.<BR><I>Type de marché de travaux&nbsp;:&nbsp;</I> exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;45454100.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>.<BR><I>Code NUTS : </I>|FR612|.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR><I>Des variantes seront-elles prises en
                compte: </I>oui.La procédure d'achat du présent avis est couverte par l'accord sur les marchés publics
                de l'OMC : non.<br/><BR>Prestations divisées en lots : non.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>3 mois à compter de la notification du
                marché.<BR><I>Modalités essentielles de financement et de paiement et/ou références aux textes qui les
                    réglementent&nbsp;:&nbsp;</I>les comptes seront réglés après service fait et réception des
                prestations. Les sommes dues<br>au(x) titulaire(s), seront payées dans un délai global de 30 jours à
                compter de la date de<br>réception des factures ou des demandes de paiement équivalentes. Financement :
                ressources<br>propres de la collectivité et subventions.<BR><I>Langues pouvant être utilisées dans
                    l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I>
            <P><I>Marché réservé :&nbsp;</I>non.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire à l'appui des candidatures par le candidat, au choix de l'acheteur
                public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire DC1, Lettre de candidature -
                Habilitation du mandataire par ses co-traitants (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC2, Déclaration du candidat individuel ou du membre du groupement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;S'il
                s'appuie, pour présenter sa candidature, sur les capacités professionnelles, techniques et financières
                d'autres opérateurs économiques, le candidat produit les mêmes documents concernant cet opérateur
                économique que ceux qui lui sont exigés par l'acheteur public. Le candidat doit également apporter la
                preuve que chacun de ces opérateurs économiques mettra à sa disposition les moyens nécessaires, pendant
                toute la durée d'exécution du marché public ou de l'accord-cadre;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                les documents fournis par le candidat ne sont pas établis en langue française, ils doivent être
                accompagnés d'une traduction en français, certifiée conforme à l'original par un traducteur
                assermenté.<br/><br/><i>Documents à produire obligatoirement par l'attributaire, avant la signature et
                    la notification du marché public ou de l'accord-cadre (formulaire NOTI1)&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Les
                pièces prévues aux articles D. 8222-5 ou D. 8222-7 et D. 8222-8 du code du travail;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                l'attributaire est établi en France, les attestations et certificats délivrés par les administrations et
                organismes compétents prouvant qu'il a satisfait à ses obligations fiscales et sociales ou un état
                annuel des certificats reçus;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si l'attributaire est établi dans
                un Etat autre que la France, un certificat établi par les administrations et organismes du pays
                d'origine. Lorsqu'un tel certificat n'est pas délivré par le pays concerné, il peut être remplacé par
                une déclaration sous serment, ou dans les Etats où un tel serment n'existe pas, par une déclaration
                solennelle faite par l'intéressé devant l'autorité judiciaire ou administrative compétente, un notaire
                ou un organisme professionnel qualifié du pays;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si les documents
                fournis par le candidat ne sont pas établis en langue française, ils doivent être accompagnés d'une
                traduction en français, certifiée conforme à l'original par un traducteur assermenté.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).<BR>Une enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>28&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;17&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>90 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>MAPA-2015-TVX-09.
            <p><I>Conditions et mode de paiement pour obtenir les documents contractuels et additionnels</I> :<BR>Les
                dossiers peuvent être :<Br>Soit téléchargés sur la plateforme " marché publics d'aquitaine " :
                http://www.marchespublics-aquitaine.org<BR>Soit retirés gratuitement à la Mairie, Service Commande
                Publique, Hôtel de Ville, 1avenue Durand Dassier, 33290 PAREMPUYRE après demande par télécopie au
                05.56.95.56.10 ou par mail à daf@parempuyre.fr<br>soit envoyés par courrier après demande par télécopie
                au 05.56.95.56.10 ou par mail à daf@parempuyre.fr.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>1.e.r&nbsp;juillet&nbsp;2015.</P><I>Adresse
                auprès de laquelle des renseignements d'ordre technique peuvent être obtenus&nbsp;:&nbsp;</I>Ville de
            Parempuyre.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>M.&nbsp;Pallas Frédéric,&nbsp;&nbsp;12 rue Maurice
            Fillon,&nbsp;&nbsp;33290&nbsp;Parempuyre,&nbsp;, tél.&nbsp;:&nbsp;05-56-16-19-31,&nbsp;, courriel&nbsp;:&nbsp;ctm@parempuyre.fr.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre administratif peuvent être obtenus&nbsp;:&nbsp;</I>Ville
            de Parempuyre.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>M.&nbsp;Daviaud Thomas,&nbsp;&nbsp;1&nbsp;avenue
            durand dassier,&nbsp;&nbsp;33290&nbsp;Parempuyre,&nbsp;, tél.&nbsp;:&nbsp;05-56-95-56-20,&nbsp;, télécopieur&nbsp;:&nbsp;05-56-95-56-10,&nbsp;,
            courriel&nbsp;:&nbsp;daf@parempuyre.fr.<BR><I>Adresse auprès de laquelle les documents peuvent être obtenus&nbsp;:&nbsp;</I><BR>&nbsp;adresse
            internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://marchespublics.aquitaine.fr/?page=entreprise.EntrepriseAdvancedSearch&AllCons&refConsultation=1902&orgAcronyme=a6b","TestLien","");'
                    class="lien">https://marchespublics.aquitaine.fr/?page=entreprise.EntrepriseAdvancedSearch&AllCons&refConsultation=1902&orgAcronyme=a6b</A>.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de bordeaux&nbsp;9
                rue Tastet&nbsp;33000&nbsp;Bordeaux, tél.&nbsp;:&nbsp;05-56-99-38-00, télécopieur&nbsp;:&nbsp;05-56-24-39-03.
            </P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Tribunal
                administratif de bordeaux&nbsp;9 rue Tastet&nbsp;33000&nbsp;Bordeaux, tél.&nbsp;:&nbsp;05-56-99-38-00,
                télécopieur&nbsp;:&nbsp;05-56-24-39-03.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2999778&noa=15-101216" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>