<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>51</B><!-- ED=20158181--><BR>Annonce No&nbsp;<B>15-100267</B><BR>Services
            <!--Etablissement public territorial--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Communauté d'Agglomération de
            Reims.<BR>&nbsp;Correspondant&nbsp;:&nbsp;Mme&nbsp;Baira Véronique, Chef de service,&nbsp;c3c Pôle service
            Urbains - bureau 110- cS 80036 Place de l'hôtel de Ville&nbsp;51722&nbsp;Reims Cedex, tél.&nbsp;:&nbsp;03-26-77-73-47,
            télécopieur&nbsp;:&nbsp;03-26-77-73-50, courriel&nbsp;:&nbsp;c3c.psu@mairie-reims.fr&nbsp;adresse internet&nbsp;:
            <A HREF='javascript:BMP_openWindow("http://www.reimsmetropole.fr","TestLien","");' class="lien">http://www.reimsmetropole.fr</A>.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://marches.reimsmetropole.fr","TestLien","");' class="lien">https://marches.reimsmetropole.fr</A>.<BR>Le
            pouvoir adjudicateur agit pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s) Activité(s) du
                pouvoir adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>accès à une plateforme d'échange et de gestion de
                formulaires règlementaires DT - dICT pour les services de Reims Metrople et de la Ville de
                Reims</B>.<BR><I>Catégorie de services&nbsp;:&nbsp;</I>5.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;34951000.<BR><I>Lieu
                d'ex&eacute;cution&nbsp;:&nbsp;</I>.<BR><I>Code NUTS : </I>|FR213|.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>mise à disposition d'une solution de
                traitement des déclarations de travaux (dt, dict, ...) pour les différentes directions de reims
                metropole et de la ville de reims exploitant de réseau ou réalisant des travaux/projets.<br>marché à
                bons de commande à prix unitaires <BR><i>Quantités (fournitures et services), nature et étendue
                    (travaux)&nbsp;:&nbsp;</i>fourchette annuelle de commandes : mini : 5 000 euro(s) (H.T.) - maxi : 50
                000 euro(s) Ht<Br>La durée du marché est de 4 ans maximum à compter de sa notification à l'attributaire.<BR>sans
                préjudice des dispositions des articles 39 et suivants du ccag tic, le Pouvoir adjudicateur se réserve
                la possibilité de résilier le marché annuellement, par lettre par lettre recommandée avec avis de
                réception envoyée au titulaire au minimum 3 mois avant l'expiration de l'année en cours.<br>cette
                décision n'ouvre droit à aucune indemnité au titulaire.<BR><I>Refus des variantes</I>.<BR>Prestations
                divisées en lots : non.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>48 mois à compter de la notification du
                marché.<BR><I>Cautionnement et garanties exigés&nbsp;:&nbsp;</I>néant.<BR><I>Modalités essentielles de
                    financement et de paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>virement
                administratif <Br>- délai global de paiement : 30 jours suivant la réception de la demande de règlement
                <Br>- ordonnateurs :M.&nbsp;le député-maire de Reims et Mme&nbsp;la Présidente de Reims Métropole<Br>-
                comptable public assignataire des paiements :M.&nbsp;le Comptable du Trésor de Reims Municipale <Br>-
                l'avance est versée pour tous les marchés supérieurs à 50000&nbsp;euros (H.T.) dans les conditions
                fixées à l'article 87 du Code des Marchés Publics <Br>- le financement est assuré par les budgets des
                personnes publiques contractantes.<BR><I>L'exécution du marché est soumise à d'autres conditions
                    particulières : </I>non.<BR><I>Langues pouvant être utilisées dans l'offre ou la
                    candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>les candidats peuvent utiliser les formulaires Dc1 et Dc2 et Noti2 (fournis
                dans le dossier de consultation ou disponibles gratuitement sur le site www.economie.gouv.fr), et le
                modèle d'attestation sur l'honneur, pour présenter leur candidature ou bien, répondre sur papier libre à
                l'ensemble des exigences prévues ci-dessous.<BR>les entreprises ne présentant pas les capacités
                techniques, professionnelles et financières suffisantes sont susceptibles de ne pas être admises par le
                pouvoir adjudicateur.<BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>la lettre de
                candidature détaillant les cocontractants en cas de groupement. Le candidat renseigne les conditions de
                sa candidature : seul ou en groupement d'opérateurs économiques (cotraitance). En cas de groupement, le
                candidat indique la forme du groupement : solidaire et, le cas échéant, il produit l'habilitation du
                mandataire du groupement par les autres membres du groupement.<br>une déclaration sur l'honneur du
                candidat pour justifier qu'il n'a pas fait l'objet d'une interdiction de concourir prévue à l'article 43
                du code des marchés publics.<br>la copie du ou des jugements prononcés si le candidat est en
                redressement judiciaire.<br>documents relatifs aux pouvoirs de la personne habilitée à engager la
                société, le cas échéant.<BR><I>Capacité économique et financière - références requises&nbsp;:&nbsp;</I>déclaration
                concernant le chiffre d'affaires global et le chiffre d'affaires concernant les fournitures services ou
                travaux objet du marché, réalisés au cours des trois derniers exercices disponibles<BR><I>Référence
                    professionnelle et capacité technique - références requises&nbsp;:&nbsp;</I>déclaration indiquant
                les effectifs moyens annuels du candidat et l'importance du personnel d'encadrement pour chacune des
                trois dernières années. <Br>Présentation des principaux services effectués au cours des trois dernières
                années indiquant le montant, la date et le destinataire public ou privé. Les livraisons et les
                prestations de services sont prouvées par des attestations du destinataire ou, à défaut par une
                déclaration de l'opérateur économique.
            <p>La prestation n'est pas réservée à une profession particulière.
            <p>Les personnes morales sont tenues d'indiquer les noms et qualifications professionnelles des membres du
                personnel chargé de la prestation.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).<BR>Une enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>15&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;17&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>150 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>C8O5016.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>hôtel de Ville - pôle Services Urbains - c3c - bureau
                110 - 1<sup>er</sup> étage - 51100 Reims<Br>Tél : 03.26.77.73.15 - télécopieur : 03.26.77.73.50<br>mail
                : c3c.psu@mairie-reims.fr<br>service ouvert du lundi au vendredi de 8h30 à 12&nbsp;heures et de 13h30 à
                17&nbsp;heures ou demande par télécopie.<br>lle DCE peut être obetenu, via internet, à l'adresse
                suivante :<BR>https://marches.reimsmetropole.fr<BR>Adresse auprès de laquelle des informations
                complémentaires peuvent être obtenues :<Br>Direction de l'eau et de l'assainissement<br>Mme&nbsp;Céline
                Delozanne<Br>Tél : 03.26.77.83.38<BR>questions complémentaires :<Br>Les candidats sont informés que
                toute question relative à la présente procédure pourra être posée jusqu'au 6 juillet 2015 inclus. Elles
                peuvent être posées par courriel via la plate-forme de dématérialisation.<BR><I>Date limite
                    d'obtention</I> : 15&nbsp;juillet&nbsp;2015, à 17&nbsp;heures.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>30&nbsp;juin&nbsp;2015.</P>
            <P><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de Châlons en
                Champagne&nbsp;25, rue du Lycée&nbsp;51000&nbsp;Châlons-en-Champagne, tél.&nbsp;:&nbsp;03-26-66-86-87,
                courriel&nbsp;:&nbsp;Greffe.ta-chalons-en-champagne@juradm.fr, télécopieur&nbsp;:&nbsp;03-26-21-01-87.
            </P>
            <P><I>Organe chargé des procédures de médiation&nbsp;:&nbsp;</I>Comité consultatif interrégional des
                règlements amiables des litiges en matière de marchés publics&nbsp;préfecture de Meurthe et Moselle 1
                rue du préfet Claude ERIGNAC&nbsp;54038&nbsp;Nancy, tél.&nbsp;:&nbsp;03-83-34-25-45, télécopieur&nbsp;:&nbsp;03-83-34-22-24.
            </P><I>Précisions concernant le(s) délai(s) d'introduction des recours : </I>tous les renseignements
            relatifs aux recours se trouvent sur :<BR>http://chalons-en-champagne.tribunal-administratif.fr/demarches-procedures/.<BR><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2998829&noa=15-100267" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>