<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>1</B><!-- ED=20158183--><BR>Annonce No&nbsp;<B>15-101631</B><BR>Travaux<!--Commune-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Ville d'Oyonnax.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;Arnaud
            CORBET,&nbsp;126 rue Anatole France&nbsp;01100&nbsp;Oyonnax, tél.&nbsp;:&nbsp;(+33) 4-74-77-00-06,
            télécopieur&nbsp;:&nbsp;(+33) 4-74-77-18-60, courriel&nbsp;:&nbsp;arnaud.corbet@oyonnax.fr.<BR><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>amélioration thermique de l' Hôtel de ville - phase
                2</B>.<BR><I>Type de marché de travaux&nbsp;:&nbsp;</I> exécution.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>126.
                Rue A.France,&nbsp;01100&nbsp;Oyonnax.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>marché séparé ordinaire<BR><I>Refus des
                variantes</I>.<BR>La procédure d'achat du présent avis est couverte par l'accord sur les marchés publics
                de l'OMC : non.<br/><BR>Prestations divisées en lots : oui.<BR>Possibilité de pr&eacute;senter une offre
                pour un ou plusieurs lots.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>.<BR>à compter du 3&nbsp;août&nbsp;2015 et
                jusqu'au 19&nbsp;octobre&nbsp;2015.<BR><I>Cautionnement et garanties exigés&nbsp;:&nbsp;</I>retenue de
                garantie de 5,000%, qui peut etre remplacée par une garantie à première demande ou à une caution
                personnelle et solidaire. Garantie à première demande ou caution personnelle et solidaire couvrant
                100,000% du montant de l'avance.<BR><I>Modalités essentielles de financement et de paiement et/ou
                    références aux textes qui les réglementent&nbsp;:&nbsp;</I>articles 86 à 111 du Code des marchés
                publics français. Caractéristiques des prix : Prix global forfaitaire. Modalités de variation des prix :
                Révision Périodique. Semestrielle. Une avance de 5,000% sera accordée dans les conditions prévues au
                contrat. Modalité de règlement des comptes : selon les modalités du C.C.A.G.-Travaux Le délai global de
                paiement est de 30 jours. Modalités de financements : Fonds propres de la Ville d'oyonnax - section
                Investissement du budget principal.<BR><i>Forme juridique que devra revêtir le groupement d'opérateurs
                    économiques attributaire du marché&nbsp;:&nbsp;</i>groupement conjoint avec mandataire solidaire. Il
                est interdit aux candidats de présenter plusieurs offres en agissant à la fois : - en qualité de
                candidats individuels et de membres d'un ou plusieurs groupements ; - en qualité de membres de plusieurs
                groupements.<BR><I>L'exécution du marché est soumise à d'autres conditions particulières : </I>les
                marchés débuteront à compter du 03/08/2015 jusqu'au 19/10/2015. Des prestations supplémentaires ou
                alternatives sont définies au cahier des charges.<BR><I>Langues pouvant être utilisées dans l'offre ou
                    la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>copie
                du ou des jugements prononcés, si le candidat est en redressement judiciaire ; Déclaration sur l'honneur
                pour justifier que le candidat n'entre dans aucun des cas mentionnés à l'article 43 du CMP ;
                Renseignements sur le respect de l'obligation d'emploi mentionnée aux articles L. 5212-1 à L. 5212-11 du
                Code du travail.<BR><I>Capacité économique et financière - références requises&nbsp;:&nbsp;</I>déclaration
                concernant le chiffre d'affaires global et le chiffre d'affaires concernant les travaux objet du
                contrat, réalisés au cours des trois derniers exercices disponibles ; Déclaration appropriée de banques
                ou preuve d'une assurance pour les risques professionnels<BR><I>Référence professionnelle et capacité
                    technique - références requises&nbsp;:&nbsp;</I>déclaration indiquant les effectifs moyens annuels
                du candidat et l'importance du personnel d'encadrement pour chacune des trois dernières années ; Liste
                des travaux exécutés au cours des cinq dernières années, appuyée d'attestations de bonne exécution pour
                les travaux les plus importants. Ces attestations indiquent le montant, l'époque et le lieu d'exécution
                des travaux et précisent s'ils ont été effectués selon les règles de l'art et menés régulièrement à
                bonne fin ; Indication des titres d'études et professionnels de l'opérateur économique et/ou des cadres
                de l'entreprise, et notamment des responsables de prestation de services ou de conduite des travaux de
                meme nature que celle du contrat ; Déclaration indiquant l'outillage, le matériel et l'équipement
                technique dont le candidat dispose pour la réalisation de contrats de meme nature.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix
                des prestations : 60 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur technique : 40 %.<BR>Une enchère
                électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>20&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;16&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>1503THHO.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>conformément à la législation française, l'ouverture
                des offres n'est pas publique. Les offres peuvent etre transmises par lettre recommandée avec avis de
                réception ou déposées contre récépissé . Dématérialisation des procédures : l'organisme acheteur
                préconise la transmission des plis par voie papier. Il accepte cependant les plis adressés par d'autres
                moyens permettant d'en garantir la confidentialité et la date de réception. Le fuseau horaire de
                référence sera celui de (Gmt+01:00) Paris, Bruxelles, Copenhague, Madrid. Les formats électroniques dans
                lesquels les documents peuvent etre transmis sont les suivants : pdf exclusivement. Le niveau de
                sécurité requis pour le certificat de signature électronique est le Niveau (**) du RGS. Les candidats
                utilisent un certificat conforme au RGS (Référentiel Général de Sécurité) figurant sur la liste de
                confiance française (http://references.modernisation.gouv.fr) ou sur une liste de confiance d'un autre
                Etat-Membre de l'union européenne. Toutefois, les candidats sont libres d'utiliser le certificat de leur
                choix si celui-ci est conforme aux obligations minimales résultant du RGS. Dans ce cas, ils doivent
                transmettre tous les éléments nécessaires à la vérification de cette conformité.tout document contenant
                un virus informatique fera l'objet d'un archivage de sécurité et sera réputé n'avoir jamais été reçu. Il
                est conseillé aux candidats de soumettre leurs documents à un anti-virus avant envoi.
            <p><I>Conditions et mode de paiement pour obtenir les documents contractuels et additionnels</I> :<BR>Dossier
                de consultation remis contre paiement des frais de reprographie estimés pour chaque lot à 6.40&nbsp;euros
                et à verser à m. Le tresorier principal.<BR>L'obtention des documents contractuels et additionnels est
                payante.<BR><I>Prix</I> : 6,40&nbsp;euros.
            <p><i>Le présent marché a un caractère périodique :&nbsp;</i>non.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>1.e.r&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I>Mairie d'Oyonnax.<BR>&nbsp;service Marchés Publics, 126 rue Anatole France,&nbsp;&nbsp;01100&nbsp;Oyonnax,&nbsp;,
            tél.&nbsp;:&nbsp;(+33) 4-74-77-00-06,&nbsp;, télécopieur&nbsp;:&nbsp;(+33) 4-74-77-18-60,&nbsp;&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://oyonnax.marcoweb.fr","TestLien","");'
                               class="lien">http://oyonnax.marcoweb.fr</A>.<BR><I>Adresse auprès de laquelle des
                renseignements d'ordre technique peuvent être obtenus&nbsp;:&nbsp;</I>Ville d'Oyonnax.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>M.&nbsp;Damien
            BIEZ-CHARRETON,&nbsp;&nbsp;services Techniques, 6 rue du Stand,&nbsp;&nbsp;01100&nbsp;Oyonnax,&nbsp;, tél.&nbsp;:&nbsp;(+33)
            4-74-81-27-27,&nbsp;, télécopieur&nbsp;:&nbsp;(+33) 4-74-77-18-02,&nbsp;, courriel&nbsp;:&nbsp;damien.biez-charreton@oyonnax.fr.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre administratif peuvent être obtenus&nbsp;:&nbsp;</I>Mairie
            d'Oyonnax.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>M.&nbsp;Arnaud CORBET,&nbsp;&nbsp;service Marchés
            Publics, 126 rue Anatole France,&nbsp;&nbsp;01100&nbsp;Oyonnax,&nbsp;, tél.&nbsp;:&nbsp;(+33) 4-74-77-00-06,&nbsp;,
            télécopieur&nbsp;:&nbsp;(+33) 4-74-77-18-60,&nbsp;, courriel&nbsp;:&nbsp;arnaud.corbet@oyonnax.fr.<BR><I>Adresse
                auprès de laquelle les documents peuvent être obtenus&nbsp;:&nbsp;</I>Mairie d'Oyonnax.<BR>&nbsp;service
            Marchés Publics, 126 rue Anatole France,&nbsp;&nbsp;01100&nbsp;Oyonnax,&nbsp;, tél.&nbsp;:&nbsp;(+33)
            4-74-77-00-06,&nbsp;, télécopieur&nbsp;:&nbsp;(+33) 4-74-77-18-60,&nbsp;&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://oyonnax.marcoweb.fr","TestLien","");' class="lien">http://oyonnax.marcoweb.fr</A>.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal Administratif de Lyon&nbsp;184 rue
                Duguesclin&nbsp;69003&nbsp;Lyon Cedex, tél.&nbsp;:&nbsp;(+33) 4-78-14-10-10, courriel&nbsp;:&nbsp;greffe.ta-lyon@juradm.fr,
                télécopieur&nbsp;:&nbsp;(+33) 4-78-14-10-65.</P><I>Précisions concernant le(s) délai(s) d'introduction
                des recours : </I>introduction des recours: - référé précontractuel conformément aux dispositions de
            l'article L. 551-1 du Code de justice administrative, pouvant etre introduit depuis le début de la procédure
            de passation jusqu'à la signature du contrat. - recours gracieux dans un délai de deux mois à compter de la
            notification ou de la publication de la décision faisant grief. - recours pour excès de pouvoir contre les
            actes détachables du contrat et/ou référé suspension (article L. 521-1 du Code de justice administrative)
            dans un délai de deux mois à compter de la notification ou de la publication de la décision attaquée
            (article R. 421-1 du Code de justice administrative). - référé contractuel dans le délai de 30 jours suivant
            la publication de l'avis d'attribution ou dans le délai de six mois suivant la signature du contrat en
            l'absence d'un tel avis (L551-13 et suivants du Code de Justice Administrative). - recours de pleine
            juridiction exercé par tout concurrent évincé de la conclusion d'un contrat administratif contestant la
            validité de ce contrat ou de certaines de ses clauses, assorti le cas échéant de demandes indemnitaires,
            dans un délai de deux mois à compter de l'accomplissement des mesures de publicité appropriées (conséquence
            de la jurisprudence du Conseil d'état du 16 juillet 2007, Société Tropic Travaux Signalisation - req. No
            291545).<p><I>Renseignements relatifs aux lots&nbsp;:&nbsp;</I>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 1.</span> - chauffage - cLIMATISATION.</td>
                            </tr>
                            <tr>
                                <td class="txt">Délai d'exécution hors préparation fixé à 6 semaines OPTION : fourniture
                                    et pose d'un rideau d'air chaud
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : références et qualifications : Références
                                    de travaux de meme nature.. Pour chaque certificat précité, le représentant du
                                    pouvoir adjudicateur accepte tout moyen de preuve équivalent.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 2.</span> - ascenseur.</td>
                            </tr>
                            <tr>
                                <td class="txt">Délai d'exécution hors préparation fixé à 3 semaines</td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : références et qualifications : Références
                                    de travaux de meme nature.. Pour chaque certificat précité, le représentant du
                                    pouvoir adjudicateur accepte tout moyen de preuve équivalent.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 3.</span> - menuiseries exterieures aluminium.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Délai d'exécution hors préparation fixé à 3 semaines</td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : références et qualifications : Références
                                    travaux de meme nature.. Pour chaque certificat précité, le représentant du pouvoir
                                    adjudicateur accepte tout moyen de preuve équivalent.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 4.</span> - films protection sur vitrage.</td>
                            </tr>
                            <tr>
                                <td class="txt">Délai d'exécution hors préparation fixé à 4 semaines</td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : références et qualifications : Références
                                    travaux de meme nature.. Pour chaque certificat précité, le représentant du pouvoir
                                    adjudicateur accepte tout moyen de preuve équivalent.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000193&noa=15-101631" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>