<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>44</B><!-- ED=20158187--><BR>Annonce No&nbsp;<B>15-102358</B><BR>Travaux
            <!--Etablissement public national--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Centre Hospitalier de
            Saint-Nazaire.<BR>&nbsp;Correspondant&nbsp;:&nbsp;sylvie LEBIHAIN,&nbsp;direction du Patrimoine et des
            Travaux B.P.&nbsp;414&nbsp;44606&nbsp;Saint-Nazaire Cedex, tél.&nbsp;:&nbsp;02-72-27-85-56, télécopieur&nbsp;:&nbsp;02-72-27-85-41,
            courriel&nbsp;:&nbsp;s.lebihain@ch-saintnazaire.fr&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.klekoon.com/dematernet/formulaire_3_Detail_Consultation.asp?consultation_ID=55434","TestLien","");'
                    class="lien">http://www.klekoon.com/dematernet/formulaire_3_Detail_Consultation.asp?consultation_ID=55434</A>.<BR>Le
            pouvoir adjudicateur n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Santé.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>travaux de revêtements de sols, peinture et revêtements
                muraux, installations électriques, plomberie chauffage ventilation (petits travaux d'entretien
                courant)</B>.<BR><I>Type de marché de travaux&nbsp;:&nbsp;</I> exécution.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>tous
                sites du centre hospitalier,&nbsp;44600&nbsp;Saint-Nazaire.<BR><I>Code NUTS : </I>FR.
            <p>L'avis implique l'établissement d'un accord-cadre.<BR>Accord-cadre avec plusieurs opérateurs.<BR>Nombre
                maximal de participants à l'accord-cadre envisagé :&nbsp;3.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>le pouvoir adjudicateur se réserve la
                possibilité de traiter hors du présent accord-cadre des opérations exceptionnelles, par leur complexité
                ou leurs conditions de mise en &oelig;uvre pouvant nécessiter des procédures peu compatibles avec le
                fonctionnement de l'accord-cadre. Il en sera de meme en cas d'absence de respect des dispositions de
                l'accord cadre par les titulaires (absence de réponse meme motivée, non respect de l'offre qualitative
                notamment, ...). Accord-Cadre avec maximum et plusieurs opérateurs économiques<BR><i>Quantités
                    (fournitures et services), nature et étendue (travaux)&nbsp;:&nbsp;</i>les accords-cadres sont
                conclus pour une période de 1 an à compter du 01/09/2015 jusqu'au 31/08/2016. Les accords-cadres sont
                reconductibles pour 3 périodes de un an.<BR><I>Refus des variantes</I>.<BR>La procédure d'achat du
                présent avis est couverte par l'accord sur les marchés publics de l'OMC : non.<br/><BR>Prestations
                divisées en lots : oui.<BR>Possibilité de pr&eacute;senter une offre pour un ou plusieurs lots.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>.<BR>à compter du 1.e.r&nbsp;septembre&nbsp;2015
                et jusqu'au 31&nbsp;août&nbsp;2016.<BR><I>Cautionnement et garanties exigés&nbsp;:&nbsp;</I>aucune
                garantie financière n'est exigée.<BR><I>Modalités essentielles de financement et de paiement et/ou
                    références aux textes qui les réglementent&nbsp;:&nbsp;</I>articles 86 à 111 du Code des marchés
                publics français. Caractéristiques des prix : Prix unitaires. Modalités de variation des prix : Révision
                Périodique. Annuelle. Modalité de règlement des comptes : selon les modalités du C.C.A.G.-Travaux Le
                délai global de paiement est de 50 jours. Modalités de financements : sur les ressources d'exploitation
                du Centre Hospitalier.<BR><i>Forme juridique que devra revêtir le groupement d'opérateurs économiques
                    attributaire du marché&nbsp;:&nbsp;</i>groupement conjoint avec mandataire solidaire. Il est
                interdit aux candidats de présenter plusieurs offres en agissant à la fois : - en qualité de candidats
                individuels et de membres d'un ou plusieurs groupements ; - en qualité de membres de plusieurs
                groupements.<BR><I>Langues pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>copie
                du ou des jugements prononcés, si le candidat est en redressement judiciaire ; Déclaration sur l'honneur
                pour justifier que le candidat n'entre dans aucun des cas mentionnés à l'article 43 du CMP ;
                Renseignements sur le respect de l'obligation d'emploi mentionnée aux articles L. 5212-1 à L. 5212-11 du
                Code du travail.<BR><I>Capacité économique et financière - références requises&nbsp;:&nbsp;</I>déclaration
                concernant le chiffre d'affaires global et le chiffre d'affaires concernant les travaux objet du
                contrat, réalisés au cours des trois derniers exercices disponibles ; Preuve d'une assurance pour les
                risques professionnels ; Bilans ou extraits de bilans, concernant les trois dernières années, des
                opérateurs économiques pour lesquels l'établissement des bilans est obligatoire en vertu de la
                loi<BR><I>Référence professionnelle et capacité technique - références requises&nbsp;:&nbsp;</I>déclaration
                indiquant les effectifs moyens annuels du candidat et l'importance du personnel d'encadrement pour
                chacune des trois dernières années ; Liste des travaux exécutés au cours des cinq dernières années,
                appuyée d'attestations de bonne exécution pour les travaux les plus importants. Ces attestations
                indiquent le montant, l'époque et le lieu d'exécution des travaux et précisent s'ils ont été effectués
                selon les règles de l'art et menés régulièrement à bonne fin ; Indication des titres d'études et
                professionnels de l'opérateur économique et/ou des cadres de l'entreprise, et notamment des responsables
                de prestation de services ou de conduite des travaux de meme nature que celle du contrat ; Déclaration
                indiquant l'outillage, le matériel et l'équipement technique dont le candidat dispose pour la
                réalisation de contrats de même nature.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur
                technique : 50 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix des prestations : 50 %.<BR>Une enchère
                électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>31&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>817027.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>les candidats doivent utiliser les formulaires Dc1
                (lettre de candidature) et Dc2 (déclaration du candidat) pour présenter leur candidature. Ces documents
                sont disponibles gratuitement sur le site www.economie.gouv.fr. Ouverture des offres prévue le
                31/07/2015. Conformément à la législation française, l'ouverture des offres n'est pas publique. Les
                offres peuvent etre transmises par lettre recommandée avec avis de réception ou déposées contre
                récépissé ou transmises par télécopie . Dématérialisation des procédures : l'organisme acheteur
                préconise la transmission des plis par voie papier. Il accepte cependant les plis adressés par d'autres
                moyens permettant d'en garantir la confidentialité et la date de réception. Le fuseau horaire de
                référence sera celui de (Gmt+01:00) Paris, Bruxelles, Copenhague, Madrid. Les formats électroniques dans
                lesquels les documents peuvent etre transmis sont les suivants : Word, Excel et Autocad à privilégier,
                Pdf. Pour les marchés subséquents, les remises d'offres par courrier électronique seront à privilégier..
                Le niveau de sécurité requis pour le certificat de signature électronique est le Niveau (**) du RGS. Les
                candidats utilisent un certificat conforme au RGS (Référentiel Général de Sécurité) figurant sur la
                liste de confiance française (http://references.modernisation.gouv.fr) ou sur une liste de confiance
                d'un autre Etat-Membre de l'union européenne. Toutefois, les candidats sont libres d'utiliser le
                certificat de leur choix si celui-ci est conforme aux obligations minimales résultant du RGS. Dans ce
                cas, ils doivent transmettre tous les éléments nécessaires à la vérification de cette conformité.tout
                document contenant un virus informatique fera l'objet d'un archivage de sécurité et sera réputé n'avoir
                jamais été reçu. Il est conseillé aux candidats de soumettre leurs documents à un anti-virus avant
                envoi. Les documents transmis par voie électronique seront re-matérialisés après l'ouverture des plis et
                pourront faire l'objet d'une signature manuscrite. Le candidat intégrera le temps de téléchargement pour
                déposer son offre dans les délais impartis. Il est également important que le nom de la personne
                habilitée à engager la société et le nom de la personne mentionné dans le certificat de signature
                électronique concordent.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>3&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I>Centre Hospitalier.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>direction du
            Patrimoine et des Travaux,&nbsp;&nbsp;B.P.&nbsp;414,&nbsp;&nbsp;44606&nbsp;Saint-Nazaire Cedex,&nbsp;, tél.&nbsp;:&nbsp;02-72-27-85-56,&nbsp;,
            télécopieur&nbsp;:&nbsp;02-72-27-85-41,&nbsp;, courriel&nbsp;:&nbsp;s.lebihain@ch-saintnazaire.fr.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre technique peuvent être obtenus&nbsp;:&nbsp;</I>Centre
            Hospitalier<BR>Direction du Patrimoine et des Travaux.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>héloïse
            MILON,&nbsp;&nbsp;B.P.&nbsp;414,&nbsp;&nbsp;44606&nbsp;Saint-Nazaire Cedex,&nbsp;, tél.&nbsp;:&nbsp;02-72-27-85-58,&nbsp;,
            télécopieur&nbsp;:&nbsp;02-72-27-85-41,&nbsp;, courriel&nbsp;:&nbsp;h.milon@ch-saintnazaire.fr.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre administratif peuvent être obtenus&nbsp;:&nbsp;</I>Centre
            Hospitalier<BR>Direction du Patrimoine et des Travaux.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>sylvie
            LEBIHAIN,&nbsp;&nbsp;B.P.&nbsp;414,&nbsp;&nbsp;44606&nbsp;Saint-Nazaire Cedex,&nbsp;, tél.&nbsp;:&nbsp;02-72-27-85-56,&nbsp;,
            télécopieur&nbsp;:&nbsp;02-72-27-85-41,&nbsp;, courriel&nbsp;:&nbsp;s.lebihain@ch-saintnazaire.fr.<p><I>Instance
                chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal Administratif de Nantes&nbsp;6 allée
                Gloriette&nbsp;44000&nbsp;Nantes.</P>
            <P><I>Organe chargé des procédures de médiation&nbsp;:&nbsp;</I>Comité Consultatif Inter-régional de
                règlement amiable des litiges relatifs aux marchés publics&nbsp;8 rue de Chateaubriand&nbsp;44000&nbsp;Nantes.
            </P><I>Précisions concernant le(s) délai(s) d'introduction des recours : </I>voies et délais des recours
            dont dispose le candidat : - référé précontractuel prévu aux articles L. 551-1 à L. 551-12 du code de
            justice administrative (Cja), et pouvant etre exercé avant la signature du contrat. - Référé contractuel
            prévu aux articles L.551-13 à L.551-23 du CJA, et pouvant etre exercé dans les délais prévus à l'article R.
            551-7 du CJA. - Recours de pleine juridiction ouvert aux concurrents évincés, et pouvant etre exercé dans
            les deux mois suivant la date à laquelle la conclusion du contrat est rendue publique. - Recours contre une
            décision administrative prévu aux articles R. 421-1 à R. 421-7 du CJA, et pouvant etre exercé dans les 2
            mois suivant la notification ou publication de la décision de l'organisme.<p><I>Renseignements relatifs aux
                lots&nbsp;:&nbsp;</I>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 1.</span> - revêtements de sols.</td>
                            </tr>
                            <tr>
                                <td class="txt">Revêtements de sols&nbsp;:&nbsp;maximum 80 000.00&nbsp;euros pour la
                                    période initiale. Ces montants seront identiques pour les périodes de reconduction.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45432111.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 2.</span> - peinture et revêtements muraux.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Peinture et revêtements muraux&nbsp;:&nbsp;maximum 100 000.00&nbsp;euros
                                    pour la période initiale. Ces montants seront identiques pour les périodes de
                                    reconduction.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45442110.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 3.</span> - electricité Courants forts et
                                    faibles.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Electricité Courants forts et faibles&nbsp;:&nbsp;maximum 80 000.00&nbsp;euros
                                    pour la période initiale. Ces montants seront identiques pour les périodes de
                                    reconduction.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45311200.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 4.</span> - plomberie Chauffage Ventilation.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Plomberie Chauffage Ventilation&nbsp;:&nbsp;maximum 80 000.00&nbsp;euros
                                    pour la période initiale. Ces montants seront identiques pour les périodes de
                                    reconduction.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45330000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000920&noa=15-102358" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>