<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>93</B>,&nbsp;60,&nbsp;75,&nbsp;77,&nbsp;95<!-- ED=20158182--><BR>Annonce No&nbsp;<B>15-101191</B><BR>Travaux
            <!--Commune--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Ville d'Aulnay-sous-Bois.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;Beschizza
            Bruno, Maire d'aulnay-sous-bois , Conseiller Régional d'ile de France,&nbsp;direction de la Commande
            Publique ; Place de l'hôtel de Ville ; RDC Bas Bp56&nbsp;93602&nbsp;Aulnay-sous-Bois Cedex.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://www.achatpublic.com/sdm/ent/gen/index.jsp","TestLien","");'
                    class="lien">https://www.achatpublic.com/sdm/ent/gen/index.jsp</A>.<BR>Le pouvoir adjudicateur
            n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s) Activité(s) du pouvoir
                adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>travaux d'entretien de la signalisation horizontale pour
                l'année 2016 et éventuellement renouvelable jusqu'en 2019</B>.<BR><I>Type de marché de travaux&nbsp;:&nbsp;</I>
                exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45233221.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>aulnay-Sous-Bois,&nbsp;93600&nbsp;Aulnay-sous-Bois.<BR><I>Code
                    NUTS : </I>|FR106|.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>le présent marché a pour objet les
                travaux d'entretien de la signalisation horizontale pour l'année 2016 et éventuellement renouvelable
                jusqu'en 2019<BR><i>Nombre de reconductions éventuelles&nbsp;:&nbsp;</i>3.<BR><i>Calendrier des marchés
                    ultérieurs en cas de marchés reconductibles&nbsp;:&nbsp;</i>le marché est conclu pour une période
                initiale du 17 avril 2016 au 31 décembre 2016.<br>le marché peut être reconduit par période successive
                de 1 an pour une durée maximale de reconduction de 3 ans.<BR><I>Refus des variantes</I>.<BR>La procédure
                d'achat du présent avis est couverte par l'accord sur les marchés publics de l'OMC : non.<br/>Le présent
                avis correspond à un avis périodique indicatif constituant une mise en concurrence.<br/><BR>Prestations
                divisées en lots : non.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>.<BR>à compter du 17&nbsp;avril&nbsp;2016 et
                jusqu'au 31&nbsp;décembre&nbsp;2016.<BR><I>Cautionnement et garanties exigés&nbsp;:&nbsp;</I>une retenue
                de garantie de 5,00 % du montant initial du marché (augmenté le cas échéant du montant des avenants)
                sera prélevée sur le montant de chaque acompte par le comptable assignataire des paiements.<br>une
                avance est accordée pour chaque bon de commande d'un montant supérieur à 50 000 euro(s).ht, sauf
                indication contraire dans l'acte d'engagement et dans la mesure où le délai d'exécution est supérieur à
                2 mois.<br>le montant de l'avance est fixé à 5,00 % du montant du bon de commande si la durée de son
                exécution est inférieure ou égale à douze mois ; si cette durée est supérieure à douze mois, l'avance
                est égale à 5,00 % d'une somme égale à douze fois le montant du bon de commande divisé par cette durée
                exprimée en mois.<br>le montant de l'avance ne peut être affecté par la mise en &oelig;uvre d'une clause
                de variation de prix.<br>le remboursement de l'avance commence lorsque le montant des prestations
                exécutées par le titulaire atteint ou dépasse 65,00 % du montant du bon de commande. Il doit être
                terminé lorsque ledit montant atteint 80,00 % du montant, toutes taxes comprises, du bon de
                commande.<br>ce remboursement s'effectue par précompte sur les sommes dues ultérieurement au titulaire à
                titre d'acompte ou de solde.<br>le titulaire, sauf s'il s'agit d'un organisme public, doit justifier de
                la constitution d'une caution personnelle et solidaire ou d'une garantie à première demande à
                concurrence de 100,00 % du montant de l'avance.<BR><I>Modalités essentielles de financement et de
                    paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>les prestations seront
                financées selon les modalités suivantes : Sur budget propre <Br>Les sommes dues au(x) titulaire(s) du
                marché, seront payées dans un délai global de 30 jours à compter de la date de réception des factures ou
                des demandes de paiement équivalentes.<BR><i>Forme juridique que devra revêtir le groupement
                    d'opérateurs économiques attributaire du marché&nbsp;:&nbsp;</i>en cas de groupement, la forme
                souhaitée par le pouvoir adjudicateur est un groupement conjoint avec mandataire solidaire. Si le
                groupement attributaire du marché est d'une forme différente, il pourra se voir contraint d'assurer sa
                transformation pour se conformer au souhait du pouvoir adjudicateur tel qu'il est indiqué ci-dessus.<br>il
                est interdit aux candidats de présenter plusieurs offres en agissant à la fois :<Br>- en qualité de
                candidats individuels et de membres d'un ou plusieurs groupements ; <Br>- en qualité de membres de
                plusieurs groupements.<BR><I>L'exécution du marché est soumise à d'autres conditions particulières
                    : </I>non.<BR><I>Langues pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>les candidatures seront appréciées au regard des renseignements fournis au
                titre des qualités et des capacités.<BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>lettre
                de candidature et habilitation du mandataire par ses co-traitants(dc1),<br>copie du (ou des) jugement(s)
                prononcé(s), si le candidat est en redressement judiciaire,<br>déclaration sur l'honneur pour justifier
                que le candidat n'entre dans aucun des cas mentionnés à l'article 43 du CMP (Dc1 rubrique : Attestation
                sur l'honneur).<BR><I>Capacité économique et financière - références requises&nbsp;:&nbsp;</I>déclaration
                concernant le chiffre d'affaires global et le chiffre d'affaires des études et réalisations, objet du
                contrat, réalisé au cours des trois derniers exercices disponibles ;<Br>Déclaration appropriée de
                banques ou preuve d'une assurance pour les risques professionnels<BR><I>Référence professionnelle et
                    capacité technique - références requises&nbsp;:&nbsp;</I>déclaration indiquant les effectifs moyens
                annuels du candidat et l'importance du personnel d'encadrement pour chacune des trois dernières années ;<Br>Déclaration
                indiquant l'outillage, le matériel et l'équipement technique dont le candidat dispose pour la
                réalisation de contrats de même nature ;<Br>Liste des travaux exécutés au cours des trois dernières
                années, appuyée d'attestations de bonne exécution pour les travaux les plus importants. Ces attestations
                indiquent le montant, l'époque et le lieu d'exécution des travaux et précisent s'ils ont été effectués
                selon les règles de l'art et menés régulièrement à bonne fin;<br>les certificats de qualifications et/ou
                de qualité demandés aux candidats sont en particulier les certificats ASQUER ou équivalent.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).<BR>Une enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>15&nbsp;septembre&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>VOI-1502.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>la présente procédure adaptée ouverte est soumise aux
                dispositions de l'article 28 du code des marchés publics.<br>cette consultation sera passée en
                application de l'article 77 du Code des marchés publics relatif aux marchés à bons de commande.<br>il
                s'agit d'un marché à bon de commande sans minimum et avec un maximum par période de 80 000 euro(s)
                (H.T.).<Br>Les bons de commande seront notifiés par le pouvoir adjudicateur au fur et à mesure des
                besoins.<br>le détail du jugement des offres ( sous-critères) est disponible dans le règlement de la
                consultation.<br>après examen des offres selon la méthode exposée ci-dessus, le pouvoir adjudicateur
                retiendra l'offre la mieux classée et engagera des négociations avec tous les candidats ayant remis une
                candidature admissible et une offre. Les candidats sont tenus de répondre aux demandes de la ville. <Br>Les
                modalités de tramission sont détaillées dans le règlement de la consultation, toutetois, le pouvoir
                adjudicateur préconise la transmission des documents par voie électronique à l'adresse suivante :
                www.aulnay-sous-bois.com<BR>Il est à préciser que le choix du mode de transmission est irréversible :
                l'utilisation d'un mode de transmission différencié entre la candidature et l'offre n'est pas autorisée.
                Le pouvoir adjudicateur accepte cependant les plis adressés par d'autres moyens permettant d'en garantir
                la confidentialié et la date de récéption.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>1.e.r&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I>VILLE D'AULNAY SOUS BOIS.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>M.&nbsp;Beschizza
            Bruno,&nbsp;&nbsp;maire d'aulnay-sous-bois, Place de l'hôtel de Ville, Direction de la commande publique,
            rdc bas, B.P.&nbsp;56,&nbsp;&nbsp;93602&nbsp;Aulnay-sous-Bois Cedex,&nbsp;&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.aulnay-sous-bois.fr","TestLien","");' class="lien">http://www.aulnay-sous-bois.fr</A>.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre administratif et technique peuvent être obtenus&nbsp;:&nbsp;</I>VILLE
            D' AULNAY SOUS BOIS.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>Mlle&nbsp;de monjour Cécile,&nbsp;&nbsp;place
            de l'hôtel de Ville, Direction de la commande publique, RDC bas, B.P.&nbsp;56,&nbsp;&nbsp;93602&nbsp;Aulnay-sous-Bois
            Cedex,&nbsp;, tél.&nbsp;:&nbsp;01-48-79-65-04,&nbsp;, télécopieur&nbsp;:&nbsp;01-48-79-64-81,&nbsp;,
            courriel&nbsp;:&nbsp;cdemonjour@aulnay-sous-bois.com.<BR><I>Adresse auprès de laquelle les documents peuvent
                être obtenus&nbsp;:&nbsp;</I>VILLE D'AULNAY SOUS BOIS.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>Mme&nbsp;HUSSON
            Catherine,&nbsp;&nbsp;place de l'hôtel de Ville, Direction de la commande publique, RDC bas, B.P.&nbsp;56,&nbsp;&nbsp;93602&nbsp;Aulnay-sous-Bois
            Cedex,&nbsp;, tél.&nbsp;:&nbsp;01-48-79-66-43,&nbsp;, télécopieur&nbsp;:&nbsp;01-48-79-64-81,&nbsp;,
            courriel&nbsp;:&nbsp;mp-caosecretariat@aulnay-sous-bois.com,&nbsp;&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.aulnay-sous-bois.com","TestLien","");' class="lien">http://www.aulnay-sous-bois.com</A>.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal Administratif de Montreuil&nbsp;7
                rue Catherine Puig&nbsp;93100&nbsp;Montreuil, tél.&nbsp;:&nbsp;01-49-20-20-00, courriel&nbsp;:&nbsp;greffe.ta-montreuil@juradm.fr,
                télécopieur&nbsp;:&nbsp;01-49-20-20-99.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Ville
                d'Aulnay-sous-Bois&nbsp;direction de la Commande Publique ; Place de l'hotel de Ville ; rdc bas Bp56&nbsp;93602&nbsp;Aulnay-sous-Bois
                Cedex, tél.&nbsp;:&nbsp;01-48-79-65-04, courriel&nbsp;:&nbsp;cdemonjour@aulnay-sous-bois.com,
                télécopieur&nbsp;:&nbsp;01-48-79-64-81.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2999753&noa=15-101191" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>