<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>20A</B>,&nbsp;13,&nbsp;20b,&nbsp;30,&nbsp;34,&nbsp;4,&nbsp;6,&nbsp;83,&nbsp;84
            <!-- ED=20158184--><BR>Annonce No&nbsp;<B>15-102014</B><BR>Fournitures<!--Etat--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>SGAP de Marseille.<BR>&nbsp;Correspondant&nbsp;:&nbsp;Mme&nbsp;CASELLA
            Marjorie, Sgami/Dagf/Bcpa,&nbsp;299, chemin de Sainte-Marthe&nbsp;13313&nbsp;Marseille Cedex 14, tél.&nbsp;:&nbsp;04-91-21-56-03,
            télécopieur&nbsp;:&nbsp;04-91-21-55-84.<BR><i>Principale(s) Activité(s) du pouvoir adjudicateur : </i> Ordre
            et sécurité publics.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>marché passé selon la procédure adaptée pour la fourniture,
                l'installation et mise en service de matériel de cuisson pour le cantonnement CRS d'aspretto d'ajaccio
                (Délégation CRS de Corse) et pour la compagnie républicaine de sécurité d'ollioules (CRS 59)</B>.<BR><I>Type
                de marché de fournitures&nbsp;:&nbsp;</I> achat.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;39314000.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>ce marché concerne la fourniture,
                l'installation et la mise en service de deux pianos centraux de cuisson pour des cuisines sur le ressort
                de la Direction zonale des CRS Sud<BR><I>Refus des variantes</I>.<BR>Prestations divisées en lots : oui.<BR>Possibilité
                de pr&eacute;senter une offre pour un ou plusieurs lots.<BR><I>Modalités essentielles de financement et
                    de paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>budget de l'etat -
                délai global de paiement : 30 jours - application des articles 87, 91 et 98 du code des marchés publics.<BR><I>L'exécution
                    du marché est soumise à d'autres conditions particulières : </I>non.<BR><I>Langues pouvant être
                    utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée,
                    l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>situation
                juridique et références suffisantes pour l'exécution du marché.<BR><I>Capacité économique et financière
                    - références requises&nbsp;:&nbsp;</I>capacités économiques et financières suffisantes pour
                l'exécution du marché<BR><I>Référence professionnelle et capacité technique - références requises&nbsp;:&nbsp;</I>références
                professionnelles et capacités techniques suffisantes pour l'exécution du marché.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire obligatoirement par le candidat, à l'appui de sa candidature&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Copie
                du ou des jugements prononcés, si le candidat est en redressement judiciaire;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                sur l'honneur du candidat justifiant qu'il n'entre dans aucun des cas mentionnés à l'article 43 du code
                des marchés publics, concernant les interdictions de soumissionner;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                sur l'honneur du candidat attestant qu'il est en règle, au cours de l'année précédant celle au cours de
                laquelle a lieu le lancement de la consultation, au regard des articles L. 5212-1, L. 5212-2, L. 5212 5
                et L. 5212-9 du code du travail, concernant l'emploi des travailleurs handicapés;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                le candidat est établi en France, une déclaration sur l'honneur du candidat justifiant que le travail
                est effectué par des salariés employés régulièrement au regard des articles L. 1221-10, L. 3243-2 et R.
                3243-1 du code du travail (dans le cas où le candidat emploie des salariés, conformément à l'article D.
                8222-5-3° du code du travail);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si le candidat est établi ou
                domicilié à l'étranger, une déclaration sur l'honneur du candidat attestant qu'il fournit à ses salariés
                des bulletins de paie comportant les mentions prévues à l'article R. 3243-1 du code du travail, ou des
                documents équivalents.<br/><br/><i>Documents à produire à l'appui des candidatures par le candidat, au
                    choix de l'acheteur public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                concernant le chiffre d'affaires global et le chiffre d'affaires concernant les fournitures, services ou
                travaux objet du marché, réalisés au cours des trois derniers exercices disponibles;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                indiquant les effectifs moyens annuels du candidat et l'importance du personnel d'encadrement pour
                chacune des trois dernières années;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Présentation d'une liste des
                principales fournitures ou des principaux services effectués au cours des trois dernières années,
                indiquant le montant, la date et le destinataire public ou privé. Les livraisons et les prestations de
                services sont prouvées par des attestations du destinataire ou, à défaut, par une déclaration de
                l'opérateur économique;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration indiquant l'outillage, le
                matériel et l'équipement technique dont le candidat dispose pour la réalisation de marchés de même
                nature.<br/><br/><i>Autres renseignements demandés&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres
                renseignements demandés : un relevé d'identité bancairele certificat de visite de site (en fonction du
                lot concerné).
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix
                : 60 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur technique (au regard du mémoire technique fourni
                par le candidat - cf.&nbsp;sous-critères dans la rubrique renseignements complémentaires) : 40 %.
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>27&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;16&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>180 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>SGAMI13-MAPA-2015-06-32.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>les critères retenus pour juger de l'offre
                économiquement la plus avantageuse sont, par ordre de priorité décroissante :<Br>1) Prix : 60 %<Br>2)
                Valeur technique : 40 %<Br>Répartition de la notation technique du lot n<sup>o</sup>1 - remplacement du
                piano central de cuisson du mess du Cantonnement CRS d'aspretto :<Br>- surface brut de la plaque de
                cuisson de la plancha gaz (exemple de dimension de plaque : 750 mm x 730 mm égal à 54,75 dm²) - 5 points<br>-
                surface brut de la plaque coup de feu gaz (exemple de dimension : 750 mm x 620 mm égal à 46,5 dm²) - 5
                points<br>- rendement de production de frites surgelées 6x6 précuites en débit théorique pour les deux
                friteuses gaz (exemple : 80 kg/heure) - 10 points<br>- volume maximal de la cuve de la marmite
                cylindrique gaz (exemple : 130 litres de volume minimale et 152 litres de volume maximal) - 10
                points<br>- surface utile de la cuve de la sauteuse basculante à gaz (exemple : 50 dm²) - 10 points <BR>Répartition
                de la notation technique du lot n<sup>o</sup>2 - remplacement du piano central de cuisson du mess de la
                CRS 59 - ollioules :<Br>- surface brut de la plaque de cuisson de la plancha gaz (exemple de dimension
                de plaque : 750 mm x 730 mm égal à 54,75 dm²) - 5 points<br>- surface brut de la plaque coup de feu gaz
                (exemple de dimension : 750 mm x 620 mm égal à 46,5 dm²) - 5 points<br>- rendement de production de
                frites surgelées 6x6 précuites en débit théorique pour la friteuse électrique (exemple : 70 kg/heure) -
                10 points<br>- surface utile de la cuve de la petite sauteuse basculante à gaz (exemple : 40 dm²) - 10
                points <Br>- surface utile de la cuve de la grande sauteuse basculante à gaz (exemple : 60 dm²) - 10
                points <BR>Le critère valeur technique sera analysé au regard des mémoires techniques relatifs à chaque
                lot fourni dans le Dce.<BR>- une documentation technique des matériels qui seront proposés dans la
                proposition d'offre avec la référence de chaque appareil.<br>- les cadres de mémoire technique fournis
                en annexe 1 et 2 du C.C.T.P. Dûment remplis et signés parle représentant légal de la société.<br>- un
                plan d'implantation des différents éléments proposés qui constitueront ce ou ces pianos de cuisson (en
                fonction du ou des schéma(s) présenté(s) dans le paragraphe 2.3.1.2 ou 2.3.2.2 du C.C.T.P.). Le piano(s)
                de cuisson devra être centré en fonction du robinet de la marmite. L'emplacement du bec verseur de la ou
                des sauteuses basculantes devront le cas échéant être modifié (voir schéma(s) présenté(s) en annexes 3
                et 4 à titre indicatif pour l'emplacement des caniveaux de sol inox).<br>- un plan technique côté
                représentant les caniveaux de sol et le socle béton ainsi que les besoins énergétiques des différents
                appareils.<BR>durée du marché:<br>le présent marché est conclu pour une durée globale de cinq (5) mois à
                compter de la date de notification du marché.<br>délai d'exécution:<br>la livraison, l'installation et
                la mise en service du matériel ont lieu sous un délai maximum de dix (10) semaines à compter de la date
                de démarrage destravaux indiquée sur l'ordre de service n<sup>o</sup> 1 délivré par le maître d'ouvrage.<BR>le
                dossier de consultation des entreprises est téléchargeable sur le site
                htpps://www.marches-publics.gouv.fr sous la référence : Sgami13-Mapa-2015-06-32.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>sauf s'ils sont déposés physiquement,
                dans ce cas, ils devront l'être à l'adresse suivante :<Br>2 boulevard Baratier, 13014 Marseille, 1<sup>er</sup>
                étage entre 09&nbsp;heures et 11h30, puis 14&nbsp;heures et 16&nbsp;heures du lundi au vendredi. <Br>L'Enveloppe
                extérieure portera la mention : "ne pas ouvrir - mPPA : Fourniture, installation et mise en service de
                matériel de cuisson pour des cuisines sur le ressort de la DZCRS, nom et coordonnées du
                soumissionnaire". En cas de dépôt des propositions, un avis de réception sera remis au candidat.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>2&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I>Secrétariat général pour l'administration du Ministère de l'Intérieur de la zone
            Sud - Direction de l'administration générale et des finances - Bureau de la commande publique et des achats.<BR>&nbsp;299,
            chemin de Sainte Marthe,&nbsp;&nbsp;13014&nbsp;Marseille,&nbsp;, tél.&nbsp;:&nbsp;04-91-21-56-03,&nbsp;,
            télécopieur&nbsp;:&nbsp;04-91-21-55-84.<BR><I>Adresse auprès de laquelle des renseignements d'ordre
                technique peuvent être obtenus&nbsp;:&nbsp;</I>Secrétariat général pour l'administration du Ministère de
            l'Intérieur de la zone Sud - Direction zonale des CRS Sud - Bureau du Patrimoine.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>M.&nbsp;Echchatoui
            Nor-Dyn,&nbsp;&nbsp;299, chemin de Sainte Marthe,&nbsp;&nbsp;13014&nbsp;Marseille,&nbsp;, tél.&nbsp;:&nbsp;06-17-30-80-87,&nbsp;,
            courriel&nbsp;:&nbsp;nor-dyn.echchatoui@interieur.gouv.fr.<BR><I>Adresse auprès de laquelle des
                renseignements d'ordre administratif peuvent être obtenus&nbsp;:&nbsp;</I>Secrétariat général pour
            l'administration du Ministère de l'Intérieur de la zone Sud - Direction de l'administration générale et des
            finances - Bureau de la commande publique et des achats.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>Mme&nbsp;CASELLA
            Marjorie,&nbsp;&nbsp;299, chemin de Sainte Marthe,&nbsp;&nbsp;13014&nbsp;Marseille,&nbsp;, tél.&nbsp;:&nbsp;04-91-21-56-03,&nbsp;,
            télécopieur&nbsp;:&nbsp;04-91-21-55-84,&nbsp;,
            courriel&nbsp;:&nbsp;marjorie.casella@interieur.gouv.fr.<BR><I>Adresse auprès de laquelle les documents
                peuvent être obtenus&nbsp;:&nbsp;</I><BR>&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://www.marches-publics.gouv.fr/?page=entreprise.EntrepriseAdvancedSearch&AllCons&refConsultation=256109&orgAcronyme=g6l","TestLien","");'
                    class="lien">https://www.marches-publics.gouv.fr/?page=entreprise.EntrepriseAdvancedSearch&AllCons&refConsultation=256109&orgAcronyme=g6l</A>.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de Marseille&nbsp;22
                rue Breuteuil&nbsp;13006&nbsp;Marseille.</P>
            <P><I>Renseignements relatifs aux lots&nbsp;:&nbsp;</I>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 1.</span> - fourniture, installation et mise
                                    en service d'un piano central de cuisson pour le mess du cantonnement CRS d'aspretto
                                    (2a).
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Fourniture, installation et mise en service d'un piano central de
                                    cuisson pour le mess du cantonnement CRS d'aspretto (2a)
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;39314000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 2.</span> - fourniture, installation et mise
                                    en service d'un piano central de cuisson pour le mess de la CRS 59 - ollioules (83).
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Fourniture, installation et mise en service d'un piano central de
                                    cuisson pour le mess de la CRS 59 - ollioules (83)
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;39314000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000576&noa=15-102014" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>