<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>13</B><!-- ED=20158182--><BR>Annonce No&nbsp;<B>15-100155</B><BR>Travaux
            <!--Etablissement public territorial--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Cté d'Agglo. du Pays d'Aix en
            Provence.<BR>&nbsp;Correspondant&nbsp;:&nbsp;Mme&nbsp;De la commande publique le directeur,&nbsp;communauté
            du Pays d'aix CS 40868&nbsp;13626&nbsp;Aix-en-Provence Cedex 1, tél.&nbsp;:&nbsp;04-88-78-88-00, télécopieur&nbsp;:&nbsp;04-88-78-88-08,
            courriel&nbsp;:&nbsp;direction-marches@agglo-paysdaix.fr.<BR>Le pouvoir adjudicateur n'agit pas pour le
            compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s) Activité(s) du pouvoir adjudicateur : </i>
            Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>la présente consultation concerne la réalisation de travaux
                d'aménagement d'un local brut de construction en un carrefour de l'innovation, dit "Fab Lab" au rez de
                chaussée d'un immeuble</B>.<BR><I>Type de marché de travaux&nbsp;:&nbsp;</I> exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;45000000.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>8 rue des B&oelig;ufs
                13100 Aix en Provence,&nbsp;13100&nbsp;Aix-en-Provence.<BR><I>Code NUTS : </I>|FR824|.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>les travaux concernent les corps d'état
                suivants :<br>gros &oelig;uvre<br>serrurerie<br>cloison - faux plafond - correction acoustique<br>electricite
                courant fort - courant faible<br>plomberie - chauffage climatisation - vmc<Br>Peinture - revetement de
                sol souple<br>menuiserie bois pvc<BR><i>Quantités (fournitures et services), nature et étendue (travaux)&nbsp;:&nbsp;</i>conformément
                à l'article 10 du CMP, la présente consultation fait l'objet d'un allotissement. Elle est décomposée en
                7 lots, chaque lot faisant l'objet d'un marché. Chaque candidat peut présenter une offre pour un,
                plusieurs ou l'ensemble des lots.<br>le marché prend effet à compter de sa date de notification pour une
                durée globale de 15 semaines. Une période de préparation de 4 semaines démarrera à compter de la
                notification du marché. Un ordre de service prescrira le démarrage des travaux.<BR><I>Refus des
                    variantes</I>.<BR>La procédure d'achat du présent avis est couverte par l'accord sur les marchés
                publics de l'OMC : oui.<br/><BR>Prestations divisées en lots : oui.<BR>Possibilité de pr&eacute;senter
                une offre pour un ou plusieurs lots.<BR><I>Cautionnement et garanties exigés&nbsp;:&nbsp;</I>le marché
                ne prévoit aucun cautionnement. Toutefois, une retenue de garantie égale à 5% du montant du marché sera
                appliquée sur le versement de chaque acompte du marché. Cette retenue de garantie peut être remplacée au
                gré du titulaire par une garantie à première demande.<br>une garantie à première demande conditionne le
                versement de l'avance.<BR><I>Modalités essentielles de financement et de paiement et/ou références aux
                    textes qui les réglementent&nbsp;:&nbsp;</I>possibilité de cession ou de nantissement de
                créances<br>- marchés à prix global et forfaitaire, actualisables<br>- délai global de paiement à 30
                jours conformément à l'article 98 du CMP, paiement par mandat administratif, après service fait.<br>-
                financement prévu au budget de la CPA sur ses fonds propres section investissement.<br>- en application
                de l'article 87 du CMP, une avance de 5% du montant (T.T.C.) du marché est accordée au titulaire sauf
                avis contraire de sa part indiqué dans l'acte d'engagement.<BR><i>Forme juridique que devra revêtir le
                    groupement d'opérateurs économiques attributaire du marché&nbsp;:&nbsp;</i>solidaire à
                l'attribution.<BR><I>Langues pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>les critères de sélection des candidatures sont les capacités technique,
                financière et professionnelle des candidats, liées et proportionnées à l'objet du marché appréciées au
                vu des renseignements listés ci-après.<br>n.b : Les candidats ne sont pas tenus de fournir les documents
                et renseignements du dossier de candidature que la CPA peut obtenir directement par le biais d'un
                système électronique de mise à disposition d'informations administré par un organisme officiel ou d'un
                espace de stockage numérique, à condition que figurent dans le dossier de candidature toutes les
                informations nécessaires à la consultation de ce système ou de cet espace, et que cet accès soit
                gratuit.<BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>les déclarations, certificats
                et attestations prévus aux articles 44 et 45 du Code des marchés publics permettant la vérification de
                la satisfaction des conditions d'accès à la commande publique (ces documents devront être fournis pour
                chacun des membres du groupement éventuel):<br> Une lettre de candidature comprenant l'identification du
                candidat, l'objet du marché et le n<sup>o</sup> du lot. Pour une soumission en groupement, les candidats
                indiqueront, par tous les moyens à leur convenance, la forme de leur groupement, l'identification des
                membres du groupement, ainsi que la désignation du mandataire.<br>- le(s) document(s) relatif(s) aux
                pouvoirs de la personne habilitée à engager l'entreprise (extrait K bis, délégation de pouvoir,
                statuts...) ainsi qu'une habilitation du mandataire par ses co-traitants en cas de groupement
                d'entreprises. <Br>- si le candidat est en redressement judiciaire, la copie du ou des jugements
                prononcés à cet effet<br>- une déclaration sur l'honneur, dûment datée et signée par le candidat, pour
                justifier qu'il n'entre dans aucun des cas mentionnés à l'article 38 de l'ordonnance no 2005-649 du 6
                juin 2005 modifiée et de l'article 29 de la loi no 2005-102 du 11 février 2005 modifiée, conformément à
                l'article 43 du CMP.<BR><I>Capacité économique et financière - références requises&nbsp;:&nbsp;</I>pour
                chacun des membres du groupement éventuel:<br>une déclaration concernant le chiffre d'affaires global et
                le chiffre d'affaires concernant les travaux auxquels se réfère le marché, réalisés au cours des trois
                derniers exercices disponibles<BR><I>Référence professionnelle et capacité technique - références
                    requises&nbsp;:&nbsp;</I>pour chacun des membres du groupement éventuel:<br>- une déclaration
                indiquant les effectifs moyens annuels du candidat et l'importance du personnel d'encadrement pour
                chacune des trois dernières années ;<Br>- présentation d'une liste des travaux exécutés au cours des
                cinq dernières années appuyée d'attestations de bonne exécution pour les travaux les plus importants.
                Ces attestations indiquent le montant, l'époque et le lieu d'exécution des travaux et précisent s'ils
                ont été effectués selon les règles de l'art et menés régulièrement à bonne fin ;<Br>- déclaration
                indiquant l'outillage, le matériel et l'équipement technique dont le candidat dispose pour la
                réalisation de marchés de même nature ;<Br>- pour le lot n<sup>o</sup> 2 Serrurerie, la copie du
                certificat Qualibat 35 de l'entreprise<br>pour le lot n<sup>o</sup> 5 Plomberie Chauffage Climatisation
                VMC, la copie des certificats Qualibat n<sup>o</sup>53 et 54<br>pour justifier de ses capacités
                professionnelles, techniques et financières, le candidat, même s'il s'agit d'un groupement, peut
                demander que soient également prises en compte les capacités professionnelles, techniques et financières
                d'autres opérateurs économiques, quelle que soit la nature juridique des liens existant entre ces
                opérateurs et lui. Dans ce cas, il justifie des capacités de ce ou ces opérateurs économiques et apporte
                la preuve qu'il en disposera pour l'exécution du marché.<br>les entreprises de création récente pourront
                justifier de leurs capacités professionnelles, techniques et financières par tout moyen de preuve et,
                notamment, par la présentation des titres d'études ou de l'expérience professionnelle du ou des
                responsables des prestations.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>28&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>2015 1BAT M26 à 32.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>la CPA est un établissement public de coopération
                intercommunale.<br>les notes cumulées des critères pondérés, notés sur 5 et mentionnés ci-dessus
                permettront de classer les offres par ordre décroissant et de déterminer l'offre économiquement la plus
                avantageuse.<br>les offres relatives aux lots 1, 3, 6 et 7 seront analysées sur la base du critère
                unique du prix le plus bas.<br>les offres relatives au lot n<sup>o</sup>2 seront analysées sur la base
                des deux critères suivants "Prix" (80%) et "Valeur technique" (20%)<br>la valeur technique sera analysée
                sur la base du sous-critère unique du délai de réalisation des travaux.<br>les offres relatives au lot n<sup>o</sup>
                4 et 5 seront analysées sur la base des deux critères suivants "Prix" (80%) et "Valeur technique" (20%).<br>la
                valeur technique sera analysée sur la base des sous critères suivants, également pondérés :<Br>Sous-Critère
                n<sup>o</sup>1 : Pertinence de la méthodologie de préparation, d'organisation, de réalisation de
                chantier etadéquation des moyens humains et techniques<br>sous-critère n<sup>o</sup>2 : Délai de
                réalisation des travaux (en jours ouvrés)<br>les notes cumulées des critères pondérés, notés sur 5 et
                mentionnés ci-dessus permettront de classer les offres par ordre décroissant et de déterminer l'offre
                économiquement la plus avantageuse.<br>le Pouvoir Adjudicateur engagera des négociations avec le ou les
                candidats ayant présenté une offre.<br>la négociation pourra se dérouler en une ou plusieurs phases et à
                chacune de ces phases, le pouvoir adjudicateur se réserve la possibilité d'éliminer les offres les moins
                intéressantes après le premier tour de la négociation au regard des critères fixés au présent règlement
                de la consultation. <Br>Le candidat qui ne répond pas au courrier engageant la négociation sera réputé
                avoir maintenu sa dernière offre.<br>au terme des négociations, le Pouvoir Adjudicateur, après
                classement des offres, choisit l'offre économiquement la plus avantageuse au regard des critères
                précités.la remise des plis peut se faire :<Br>- soit par envoi à l'adresse postale indiquée en haut du
                présent avis, pour tout envoi en recommandé avec avis de réception,<br>- soit par dépôt contre récépissé
                ou pour tout autre mode d'acheminement (chronopost,ups,fedex, etc...) aux<br>horaires et à l'adresse
                géographique susvisée.<br>- soit par voie électronique à l'adresse internet suivante:<BR>https://www.achatpublic.com/sdm/ent/gen/ent_detail.do?PCSLID=CSL_2015_jwKRTpYq65&v=1&selected=0<BR>Le
                candidat devra impérativement choisir entre le dépôt de son offre sur la plate-forme de
                dématérialisation ou l'envoi sur support papier. Lors du téléchargement du DCE, les candidats sont
                expressément invités à communiquer les coordonnées d'une personne physique et son adresse électronique
                afin qu'ils soient informés, en cours de consultation, des éventuelles erreurs matérielles
                rectifications ou compléments d'information apportés au DCE initial.<br>une visite du site, non
                obligatoire, est organisée dans les conditions suivantes :<Br>La visite du site n'est pas obligatoire,
                mais fortement recommandée<br>la visite se déroulera au plus tard 6 jours calendaires avant la date
                limite de remise des offres.<br>il ne pourra être répondu à aucune question durant cette visite. Les
                demandes de renseignement complémentaire consécutives à la visite devront s'effectuer dans les
                conditions décrites à l'article 6.2 du règlement de la consultation.<br>pour effectuer la visite, il
                convient de contacter 48 heures à l'avance M.&nbsp;Philippe RIEUX par mail : prieux@agglo-paysdaix.fr ou
                en joignant le secrétariat au numéro de téléphone suivant : 04 42 93 82 80<br>dans le cadre des visites
                de site, aucune réponse à d'éventuelles questions ne sera communiquée.<br>les candidats sont invités à
                formuler leurs questions par écrit selon les modalités prévues à l'article 6.2 du règlement de la
                consultation.
            <p><I>Conditions et mode de paiement pour obtenir les documents contractuels et additionnels</I> :<BR>Le
                dossier de consultation des entreprises sera remis gratuitement à chaque candidat qui en fera la demande
                par courriel ou par télécopie aux coordonnées indiquées en haut du présent avis ou qui viendra le
                retirer à l'adresse géographique suivante : direction de la commande publique - 3, Cours Sextius 13100
                Aix en Provence, aux heures d'ouverture des bureaux qui sont les suivantes : 8h30 - 12h30, 14&nbsp;heures
                - 17&nbsp;heures du lundi au jeudi et 8h30 - 12h30, 14&nbsp;heures - 16&nbsp;heures le vendredi sauf
                jours fériés. Il pourra être téléchargé par voie électronique à l'adresse internet suivante:
                https://www.achatpublic.com/sdm/ent/gen/ent_detail.do?PCSLID=CSL_2015_jwKRTpYq65&v=1&selected=0.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>30&nbsp;juin&nbsp;2015.</P><I>Adresse
                auprès de laquelle les documents peuvent être obtenus&nbsp;:&nbsp;</I><BR>&nbsp;adresse internet&nbsp;:
            <A HREF='javascript:BMP_openWindow("https://www.achatpublic.com/sdm/ent/gen/ent_detail.do?PCSLID=CSL_2015_jwKRTpYq65","TestLien","");'
               class="lien">https://www.achatpublic.com/sdm/ent/gen/ent_detail.do?PCSLID=CSL_2015_jwKRTpYq65</A>.<p><I>Instance
                chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de Marseille&nbsp;22/24 rue
                Breteuil&nbsp;13281&nbsp;Marseille Cedex 06, tél.&nbsp;:&nbsp;04-91-13-48-13, télécopieur&nbsp;:&nbsp;04-91-81-13-87.
            </P>
            <P><I>Organe chargé des procédures de médiation&nbsp;:&nbsp;</I>Préfecture de région PACA - Comité
                consultatif interrégional de règlement amiable des litiges (Cciral)&nbsp;boulevard Paul Peytral&nbsp;13282&nbsp;Marseille
                Cedex 20, tél.&nbsp;:&nbsp;04-91-15-63-74, télécopieur&nbsp;:&nbsp;04-91-15-61-90.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Greffe
                du Tribunal administratif de Marseille&nbsp;22/24 rue Breteuil&nbsp;13281&nbsp;Marseille Cedex 06, tél.&nbsp;:&nbsp;04-91-13-48-13,
                télécopieur&nbsp;:&nbsp;04-91-81-13-87.</P>
            <P><I>Renseignements relatifs aux lots&nbsp;:&nbsp;</I>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 1.</span> - gros &oelig;uvre.</td>
                            </tr>
                            <tr>
                                <td class="txt">Les travaux du lot consistent en :<BR> 1 / Installation de chantier<br>
                                    2 / La découpe de voile béton<br> 3 / La réalisation d'une chape au sol<br> 4 / La
                                    réalisation d'une chape isophonique<br> 5 / Seuil de porte<br> 6 / La réalisation
                                    d'un muret de rehausse<br> 7 / l'étanchéité en pied de façade vitrée<br> 8 /
                                    Scellement d'un cadre de tapis d'entrée<br> 9 / Carrelage - faïence
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 2.</span> - serrurerie.</td>
                            </tr>
                            <tr>
                                <td class="txt">Les travaux du lot consistent en :<BR> 1 / La réalisation et la pose de
                                    châssis vitrée et porte d'entrée en façade (dont une partie avec grille à ventelles)<br>
                                    2 / La fourniture et la pose de volets roulants électriques.<br> 3 / La fourniture
                                    et la pose d'un châssis fixe avec grille à ventelles.<br> 4 / La fourniture d'un
                                    cadre de tapis d'entrée<br> 5 / La fourniture et la pose d'un coffre/cache extérieur
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 3.</span> - cloison - faux Plafond -
                                    correction Acoustique.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Les travaux du lot consistent en :<BR> 1 / Réalisation de cloisons
                                    sèches en plaque de plâtre<br> 2 / Doublage périphérique<br> 3 / Réalisation de faux
                                    plafond<br> 4 / Fourniture et pose de baffles acoustiques<br> 5 / Fourniture et pose
                                    de cloison translucides
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 4.</span> - electricité - courant Fort -
                                    courant Faible.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Les travaux du lot consistent en :<Br> Réalisation de l'installation
                                    électrique courant fort<br> Réalisation de l'installation électrique courant
                                    faible<br> Fourniture et pose d'une alarme intrusion
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 5.</span> - plomberie - chauffage
                                    Climatisation - vMC.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Les travaux du lot consistent en :<Br> Réalisation de l'installation
                                    sanitaire<br> Réalisation de l'installation de chauffage et climatisation<br>
                                    Réalisation de l'installation de ventilation mécanique contrôlée
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 6.</span> - peinture - revêtement Sol Souple.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Les travaux du lot consistent en :<Br> 1 / La mise en peinture des
                                    locaux<br> 2 / La fourniture et la pose de sols souples<br> 3 / La fourniture et la
                                    pose d'un tapis d'entrée
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 7.</span> - menuiserie Bois - pVC.</td>
                            </tr>
                            <tr>
                                <td class="txt">Les travaux du lot consistent en :<Br> 1 / La fourniture et la pose de
                                    volet bois<br> 2 / La réalisation et la pose d'un comptoir d'accueil<br> 3 / La
                                    fourniture et la pose de meubles.<br> 4 / La fourniture et la pose de meuble sous
                                    vasques<br> 5 / La fourniture et la pose de portes vitrée Pvc<Br> 6 / La fourniture
                                    et la pose de plinthes bois<br> 7 / La fourniture et la mise en jeu de portes
                                    bois<br> 8 / La fourniture et pose d'étagères<br> 9 / La fourniture et la pose d'un
                                    platelage bois formant coffre
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2998717&noa=15-100155" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>