<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center>
            <BR>Département(s) de publication : <B>1</B><!-- ED=20158188--><BR>Annonce No&nbsp;<B>15-102505</B><BR>Fournitures<BR>Services
            <!--Etablissement public territorial--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Centre Hospitalier Dr
            Récamier.<BR>&nbsp;Correspondant&nbsp;:&nbsp;mr le directeur ou son représentant,&nbsp;52 rue georges girerd&nbsp;01300&nbsp;Belley.<BR>Le
            pouvoir adjudicateur agit pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s) Activité(s) du
                pouvoir adjudicateur : </i> Santé.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>marché de gaz et électricité</B>.<BR><I>Type de marché de
                fournitures&nbsp;:&nbsp;</I> achat.<BR><I>Catégorie de services&nbsp;:&nbsp;</I>27.
            <p>L'avis implique l'établissement d'un accord-cadre.<BR>Accord-cadre avec plusieurs opérateurs.<BR>Durée de
                l'accord-cadre :&nbsp;4 an(s).
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR><I>Refus des variantes</I>.<BR>Prestations
                divisées en lots : oui.<BR>Possibilité de pr&eacute;senter une offre pour un ou plusieurs lots.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>48 mois à compter de la notification du marché.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;critere
                1:respect des modalités de livraison, des engagements mini et maxi et des services associés aux
                cctpconcernés : 40 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;critere2:respect des caractéristiques du
                prix de l'énergie active ou du gaz naturel énoncées aus cctpconcernés : 40 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;critère3:cohérence
                des conditions generales, des conditions particulières et du mémoire technique avec les besoins exprimés
                dans le dossier de consultation : 20 %.
            <P><I>Type de procédure&nbsp;:&nbsp;</I>appel d'offres ouvert.<BR><i>Délai d'urgence&nbsp;-&nbsp;Justification&nbsp;:&nbsp;</i>marché
                de fourniture d'électricité et gaz.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>18&nbsp;août&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>7&nbsp;juillet&nbsp;2015.</P><I>Adresse
                auprès de laquelle des renseignements d'ordre technique peuvent être obtenus&nbsp;:&nbsp;</I>Société
            STUDEN.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>patrice demoly,&nbsp;&nbsp;studen 33 rue des clefs,&nbsp;&nbsp;68000&nbsp;Colmar,&nbsp;,
            tél.&nbsp;:&nbsp;06-12-91-83-64,&nbsp;, télécopieur&nbsp;:&nbsp;03-89-41-16-70,&nbsp;, courriel&nbsp;:&nbsp;studen@studen.fr.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre administratif peuvent être obtenus&nbsp;:&nbsp;</I>Centre
            hospitalier de belley.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>philippe vigneron,&nbsp;&nbsp;52 rue
            georges girerd,&nbsp;&nbsp;01300&nbsp;Belley,&nbsp;, tél.&nbsp;:&nbsp;04-79-42-59-65,&nbsp;, courriel&nbsp;:&nbsp;philippe.vigneron@ch-belley.fr.<BR><I>Adresse
                auprès de laquelle les documents peuvent être obtenus&nbsp;:&nbsp;</I><BR>&nbsp;adresse internet&nbsp;:
            <A HREF='javascript:BMP_openWindow("http://www.achat-hopital.com","TestLien","");' class="lien">http://www.achat-hopital.com</A>.
            <p><I>Renseignements relatifs aux lots&nbsp;:&nbsp;</I>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) n<sup>o</sup>1.</span> - fourniture
                                    electricite.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Fourniture électricité au ch belley</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 2.</span> - fourniture électricité EHPAD.</td>
                            </tr>
                            <tr>
                                <td class="txt">Fourniture d électricité aux EHPAD suivantes :<Br>Ehpad de l'huis<Br>Ehpad
                                    de Champagne en Valromey
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 3.</span> - fourniture de gaz au ch belley.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Fournture de gaz au ch belley</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3001067&noa=15-102505" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>