<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>26</B><!-- ED=20158184--><BR>Annonce No&nbsp;<B>15-102384</B><BR>Fournitures<!--Autre-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Centre Hospitalier de
            Valence.<BR>&nbsp;Correspondant&nbsp;:&nbsp; le directeur,&nbsp;179 boulevard maréchal juin, Direction
            Achats, Travaux, Equipements, Logistique&nbsp;26953&nbsp;Valence, tél.&nbsp;:&nbsp;04-75-75-72-23,
            télécopieur&nbsp;:&nbsp;04-75-75-73-76, courriel&nbsp;:&nbsp;secdatel@ch-valence.fr&nbsp;adresse internet&nbsp;:
            <A HREF='javascript:BMP_openWindow("http://www.aobtp.net/chv","TestLien","");' class="lien">http://www.aobtp.net/chv</A>.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.aobtp.net/chv","TestLien","");' class="lien">http://www.aobtp.net/chv</A>.<BR><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Santé.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>fourniture, installation, mise en service et maintenance
                d'une Unité de Consultation pour le service d'ophtalmologie du Centre Hospitalier de Valence</B>.<BR><I>Type
                de marché de fournitures&nbsp;:&nbsp;</I> achat.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;33192000.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>le présent marché porte sur la
                fourniture, l'installation, la mise en service et la maintenance d'une Unité de Consultation pour le
                service d'ophtalmologie du Centre Hospitalier de Valence<BR><I>Refus des variantes</I>.<BR>Prestations
                divisées en lots : non.<BR><I>Modalités essentielles de financement et de paiement et/ou références aux
                    textes qui les réglementent&nbsp;:&nbsp;</I>le financement est prévu sur le budget d'exploitation /
                investissement du centre hospitalier de Valence. Paiement conformément à l'article 98 du code des
                marchés publics (50 jours maximum).<BR><I>Langues pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>pieces
                de la candidature :<br>* lettre de candidature dûment complétée (formulaire dc1)
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-DC&nbsp;4<BR>Ou<BR>*
                ensemble des déclarations et attestations énoncées ci-dessous :<Br>- copie des documents relatifs aux
                pouvoirs de la personne habilitée à engager la candidature et ce à hauteur de l'opération
                considérée.<br>- déclaration sur l'honneur dûment datée et signée par une personne habilitée à engager
                l'entreprise, attestant que le candidat a satisfait à ses obligations fiscales et sociales au 31
                décembre de l'année qui précède le lancement de la procédure (article 43) ou tout document
                équivalent<br>- déclaration sur l'honneur de ne pas avoir fait l'objet, depuis moins de cinq ans d'une
                condamnation définitive<br>- déclaration sur l'honneur ne pas avoir fait l'objet, depuis moins de cinq
                ans, d'une condamnation inscrite au bulletin n<sup>o</sup> 2 du casier judiciaire pour les infractions
                mentionnées aux articles du code du travail, ou pour des infractions de même nature dans un autre Etat
                de l'union européenne;<br>- attestation déclarant être en règle concernant l'emploi des travailleurs
                handicapés ;<Br>- attestation déclarant ne pas être soumis à la procédure de liquidation judiciaire<br>-
                attestation déclarant ne pas être admis à la procédure de redressement judiciaire<br>- attestation
                déclarant ne pas avoir fait l'objet, depuis moins de cinq ans, d'une condamnation inscrite au bulletin n<sup>o</sup>
                2 du casier judiciaire pour les infractions mentionnées à l'article L. 1146-1 du code du travail ; avoir
                mis en &oelig;uvre l'obligation de négociation prévue à l'article L. 2242-5 du code du travail<br>-
                adresse électronique qui servira à l'information des candidats.<BR><I>Capacité économique et financière
                    - références requises&nbsp;:&nbsp;</I>les pièces d'examen de l'offre<br>- le CCP valant acte
                d'engagement signé et renseigné par la personne ayant le pouvoir d'engager la société en termes de
                marché publics y compris les articles 15.1.2. Et 15.3., et ses annexes<br>- un mémoire technique
                exposant les éléments techniques de l'offre et les modalités de la prestation objet du marché<br>- les
                renseignements relatifs aux critères de jugement de l'offre
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix
                de l'équipement : 40 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;caractéristiques techniques : 20 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;ergonomie
                : 20 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;modalités de maintenance : 20 %.<BR>Une enchère
                électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>22&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>90 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i>
            <P><I>Renseignements complémentaires&nbsp;:&nbsp;</I>retrouvez cet avis intégral, l'accès au dossier et le
                guichet de dépôt sur http://www.aobtp.net/chv<BR>Questions complémentaires en cours de consultation
                :<Br>D'Éventuelles questions administratives et techniques peuvent être posées par les candidats à
                l'adresse suivante : secdatel@ch-valence.fr. Ces questions peuvent être posées par les candidats au plus
                tard huit jours calendaires avant la date limite de réception des offres.<br>-----------------------------------<br>modification
                de détail au dossier de consultation :<Br>Le Représentant du pouvoir adjudicateur se réserve le droit
                d'apporter au plus tard six jours calendaires avant la date limite de remise des offres, des
                modifications de détail au dossier de consultation. Les candidats devront alors répondre sur la base du
                dossier modifié sans pouvoir n'élever aucune réclamation à ce sujet.<br>-----------------------------------<br>négociation
                des offres<br>les trois candidats les mieux classés suivant la notation définie à l'article 7 du
                règlement de consultation seront admis à négocier sous réserve d'un nombre suffisant d'offres. Cette
                négociation sera réalisée par mail. L'adresse mail servant pour la négociation sera celle renseignée
                comme telle dans l'acte d'engagement.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>2&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I>Centre hospitalier de Valence : Direction achats, travaux, équipement,
            logistique.<BR>&nbsp;179 boulevard maréchal Juin Cedex 9,&nbsp;&nbsp;26953&nbsp;Valence.<BR><I>Adresse
                auprès de laquelle les documents peuvent être obtenus&nbsp;:&nbsp;</I>Centre hospitalier de Valence :
            Direction achats, travaux, équipement, logistique.<BR>&nbsp;179 boulevard maréchal Juin Cedex 9,&nbsp;&nbsp;26953&nbsp;Valence,&nbsp;,
            tél.&nbsp;:&nbsp;04-75-75-72-23.<p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal
                administratif de Grenoble&nbsp;2 Place de Verdun B.P.&nbsp;1135&nbsp;38022&nbsp;Grenoble, tél.&nbsp;:&nbsp;04-76-42-90-00,
                courriel&nbsp;:&nbsp;greffe.ta-grenoble@juradm.fr, télécopieur&nbsp;:&nbsp;04-76-42-22-69.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Tribunal
                administratif de Grenoble&nbsp;2 Place de Verdun B.P.&nbsp;1135&nbsp;38022&nbsp;Grenoble, tél.&nbsp;:&nbsp;04-76-42-90-00,
                courriel&nbsp;:&nbsp;greffe.ta-grenoble@juradm.fr, télécopieur&nbsp;:&nbsp;04-76-42-22-69.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000946&noa=15-102384" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>