<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>59</B><!-- ED=20158183--><BR>Annonce No&nbsp;<B>15-101007</B><BR>Services<!--Autre-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Centre Hospitalier de Douai.<BR>&nbsp;Correspondant&nbsp;:&nbsp;cellule
            des Marchés Publics - service des Affaires Juridiques,&nbsp;route de Cambrai - B.P.&nbsp;10740&nbsp;59507&nbsp;Douai
            Cedex, tél.&nbsp;:&nbsp;03-27-94-71-02, télécopieur&nbsp;:&nbsp;03-27-94-70-14, courriel&nbsp;:&nbsp;marchespublics@ch-douai.fr&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("https://marchespublics.nord-sante.org","TestLien","");'
                               class="lien">https://marchespublics.nord-sante.org</A>.<BR>Adresse internet du profil
            d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://marchespublics.nord-sante.org","TestLien","");'
                    class="lien">https://marchespublics.nord-sante.org</A>.<BR>Le pouvoir adjudicateur n'agit pas pour
            le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s) Activité(s) du pouvoir adjudicateur : </i>
            Santé.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>réalisation de prestations de sophrologie clinique et
                relaxation</B>.<BR><I>Catégorie de services&nbsp;:&nbsp;</I>24.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;85300000<br><i>Objets supplémentaires&nbsp;:&nbsp;</i>33693300.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>centre
                Hospitalier,&nbsp;59507&nbsp;Douai Cedex.<BR><I>Code NUTS : </I>FR30.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>la prestation de la sophrologue entre
                dans le cadre de la prise en charge globale du patient. Elle est réalisée sur prescription médicale.
                Elle aide le patient à harmoniser le corps et l'esprit pour résoudre sa problématique d'addiction.<Br>La
                sophrologie a pour but une remise à niveau de l'image corporelle, mentale et émotionnelle.<Br>Les
                consultations sont proposées au patient à condition qu'il soit suivi par un médecin ou un psychologue du
                CSAPA<BR><i>Quantités (fournitures et services), nature et étendue (travaux)&nbsp;:&nbsp;</i>le marché
                est passé conformément à l'article 77 du Code des Marchés Publics. (Marchés à bons de commande), passé
                avec un seul opérateur, avec un minimum et un maximum, en quantité, en nombre d'heure d'intervention,
                par semaine, de :<Br><Br>Quantité minimum : 7 heuresquantité maximum : 28 heures<Br><Br>Les prestations
                demandées à l'occasion de la présente consultation font donc l'objet d'envois de bons de commande au fur
                et à mesure des besoins. Les bons de commande porteront sur les spécifications techniques figurant au
                CCTP.<BR><i>Options : descriptions concernant les achats complémentaires&nbsp;:&nbsp;</i>le présent
                marché ne prévoit pas d'achats complémentaires.<BR><I>Refus des variantes</I>.<BR>La procédure d'achat
                du présent avis est couverte par l'accord sur les marchés publics de l'OMC : oui.<br/><BR>Prestations
                divisées en lots : non.<BR><I>Cautionnement et garanties exigés&nbsp;:&nbsp;</I>le versement d'une
                avance est conditionné par l'article 87 du Code des Marchés Publics. Le titulaire peut refuser le
                versement de cette avance. Pas d'application de retenue de garantie ni de cautionnement.<BR><I>Modalités
                    essentielles de financement et de paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>conforme
                au Code des Marchés Publics et à ses textes d'application. Financement : fonds propres de
                l'établissement. Le mode de paiement proposé est le paiement par mandat administratif, 50 jours après
                réception d'une facture conforme.<BR><i>Forme juridique que devra revêtir le groupement d'opérateurs
                    économiques attributaire du marché&nbsp;:&nbsp;</i>le marché est attribué, soit à un titulaire, soit
                à un groupement d'opérateurs économiques sous la forme de groupement solidaire ou conjoint qui aura été
                constitué dès la phase de candidature. En cas de groupement, la forme imposée après attribution du
                marché devra être exclusivement de type solidaire. La même entreprise peut faire partie de plusieurs
                groupements concurrents à condition de ne pas être plus d'une fois mandataire. En cas d'erreur des
                candidats quant à la forme juridique de leur groupement, leur offre ne sera acceptée que sous réserve
                qu'ils assurent la transformation nécessaire lors de la mise au point du marché.<BR><I>L'exécution du
                    marché est soumise à d'autres conditions particulières : </I>non.<BR><I>Langues pouvant être
                    utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée,
                    l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>les capacités professionnelles, techniques et financières du
                candidat.<BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>les candidats devront fournir
                le dossier suivant : <Br>1/ Lettre de candidature (sur papier entête ou formulaire Dc1 disponible sur
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat) <Br>2/ Le formulaire Dc2 "Déclaration
                du candidat" (disponible sur http://www.economie.gouv.fr/daj/formulaires-declaration-candidat) <Br><Br>Pour
                les candidats non établis en France, les pièces similaires au regard des règles d'effet équivalent. <Br><Br>Si
                le candidat est en redressement judiciaire, la copie du ou des jugements prononcés à cet effet.<Br><Br>Si
                le candidat s'appuie sur d'autres opérateurs économiques pour présenter sa candidature : <Br>-
                production pour chacun de ses opérateurs des mêmes documents qui sont exigés du candidat pour justifier
                de sa situation propre et de ses capacités professionnelles, techniques et financières, <Br>- production
                d'un engagement écrit de chacun de ses opérateurs justifiant que le candidat dispose de leurs capacités
                pour l'exécution du marché. <Br><Br>Si les documents fournis par le candidat ne sont pas rédigés en
                langue française, ils doivent être accompagnés d'une traduction en français certifiée conforme à
                l'original par un traducteur assermenté.<BR><I>Capacité économique et financière - références requises&nbsp;:&nbsp;</I>déclaration
                concernant le chiffre d'affaires global et le chiffre d'affaires concernant les services auxquels se
                réfère le marché, réalisés au cours des trois derniers exercices ;<BR><I>Référence professionnelle et
                    capacité technique - références requises&nbsp;:&nbsp;</I>- Déclaration indiquant les effectifs du
                candidat et l'importance du personnel d'encadrement pour chacune des trois dernières années ;<Br>-
                indication des titres d'études et/ou de l'expérience professionnelle du ou des responsables et des
                exécutants de la prestation de service envisagée.
            <p>La prestation n'est pas réservée à une profession particulière.
            <p>Les personnes morales ne sont pas tenues d'indiquer les noms et qualifications professionnelles des
                membres du personnel chargé de la prestation.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur
                technique : 60 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;coût horaire brut : 40 %.<BR>Une enchère
                électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>27&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i>
            <P><I>Renseignements complémentaires&nbsp;:&nbsp;</I>pour obtenir tous les renseignements complémentaires
                qui leur seraient nécessaires au cours de leur étude, les candidats devront adresser leur demande, par
                écrit et non par téléphone, au plus tard, le 17 juillet 2015, à 12&nbsp;heures, auprès de :<br><br>renseignements
                d'ordre technique et administratif : marchespublics@ch-douai.fr<Br><Br>Afin de respecter le principe
                d'égalité de traitement des candidats, toute question, dont la réponse peut intéresser tous les
                candidats, sera transmise, avec sa réponse, à tous les candidats.<BR><I>Date limite d'obtention</I> : 27&nbsp;juillet&nbsp;2015,
                à 12&nbsp;heures.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>1.e.r&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I>Centre hospitalier de douai.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>cellule
            des Marchés Publics - service des Affaires Juridiques,&nbsp;&nbsp;1<sup>er</sup> étage B - route de Douai -
            B.P.&nbsp;10740,&nbsp;&nbsp;59507&nbsp;Douai Cedex,&nbsp;&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://marchespublics.nord-sante.org","TestLien","");'
                    class="lien">https://marchespublics.nord-sante.org</A>.<BR><I>Adresse auprès de laquelle des
                renseignements d'ordre administratif et technique peuvent être obtenus&nbsp;:&nbsp;</I>Centre
            hospitalier de douai.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>cellule des Marchés Publics - service des
            Affaires Juridiques,&nbsp;&nbsp;route de Douai - B.P.&nbsp;10740,&nbsp;&nbsp;59507&nbsp;Douai Cedex,&nbsp;,
            tél.&nbsp;:&nbsp;03-27-94-71-02,&nbsp;, télécopieur&nbsp;:&nbsp;03-27-94-70-14,&nbsp;, courriel&nbsp;:&nbsp;marchespublics@ch-douai.fr,&nbsp;&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("https://marchespublics.nord-sante.org","TestLien","");'
                               class="lien">https://marchespublics.nord-sante.org</A>.<BR><I>Adresse auprès de laquelle
                les documents peuvent être obtenus&nbsp;:&nbsp;</I>Centre hospitalier de douai.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>cellule
            des Marchés Publics - service des Affaires Juridiques,&nbsp;&nbsp;route de Douai - B.P.&nbsp;10740,&nbsp;&nbsp;59507&nbsp;Douai
            Cedex,&nbsp;, tél.&nbsp;:&nbsp;03-27-94-71-02,&nbsp;, télécopieur&nbsp;:&nbsp;03-27-94-70-14,&nbsp;,
            courriel&nbsp;:&nbsp;marchespublics@ch-douai.fr,&nbsp;&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://marchespublics.nord-sante.org","TestLien","");'
                    class="lien">https://marchespublics.nord-sante.org</A>.<p><I>Instance chargée des procédures de
                recours&nbsp;:&nbsp;</I>Tribunal administratif de Lille&nbsp;59014&nbsp;Lille Cedex, tél.&nbsp;:&nbsp;03-20-63-13-00,
                courriel&nbsp;:&nbsp;greffe.ta-lille@juradm.fr, télécopieur&nbsp;:&nbsp;03-20-63-13-47.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Tribunal
                administratif de Lille&nbsp;59014&nbsp;Lille Cedex, tél.&nbsp;:&nbsp;03-20-63-13-00, courriel&nbsp;:&nbsp;greffe.ta-lille@juradm.fr,
                télécopieur&nbsp;:&nbsp;03-20-63-13-47.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2999569&noa=15-101007" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>