<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>75</B><!-- ED=20158184--><BR>Annonce No&nbsp;<B>15-100138</B><BR>Services<!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Service Central des
            Blanchisseries.<BR>&nbsp;Correspondant&nbsp;:&nbsp;balde Eric,&nbsp;bd Vincent Auriol B.P.&nbsp;20257&nbsp;75624&nbsp;Paris
            Cedex 13, télécopieur&nbsp;:&nbsp;01-44-06-59-21, courriel&nbsp;:&nbsp;eric.balde@scb.aphp.fr.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.achats-hopitaux.com","TestLien","");' class="lien">http://www.achats-hopitaux.com</A>.<BR><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Santé.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>maintenance des portes et portails au Service Central des
                Blanchisseries</B>.<BR><I>Catégorie de services&nbsp;:&nbsp;</I>1.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;72250000.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>service Central des
                Blanchisseries bd Vincent Auriol bp20257,&nbsp;75624&nbsp;Paris Cedex 13.<BR><I>Code NUTS : </I>FR101.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>maintenance des portes et portails au
                Service Central des Blanchisseries<BR><i>Quantités (fournitures et services), nature et étendue
                    (travaux)&nbsp;:&nbsp;</i>ce marché est un marché fractionné à bons de commande en application de
                l'article 77 du code des Marchés Publics.<Br>En application de l'article 77.i.1, le titulaire est engagé
                pour le montant maximum et la personne publique pour le montant minimum.<Br>Le montant minimum estimé du
                marché est fixé à 50 000,00 euros ht<Br>Le montant maximum estimé du marché est fixé à 205 000,00 euros
                (H.T.).<BR><I>Refus des variantes</I>.<BR>La procédure d'achat du présent avis est couverte par l'accord
                sur les marchés publics de l'OMC : non.<br/><BR>Prestations divisées en lots : non.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>36 mois à compter de la notification du
                marché.<BR><I>Cautionnement et garanties exigés&nbsp;:&nbsp;</I>le ou les fournisseurs seront dispensés
                du versement de la retenue de garantie.<BR><I>Modalités essentielles de financement et de paiement et/ou
                    références aux textes qui les réglementent&nbsp;:&nbsp;</I>modalités essentielles de financement et
                de paiement<Br>L'Exécution du marché sera financée par le budget des hôpitaux, services généraux et
                directions du siège concernés, et sera régie par le titre IV de la première partie du Code des Marchés
                Publics. Le ou les fournisseurs seront dispensés du versement de la retenue de garantie. Il ne sera pas
                accordé d'avance facultative. En application des articles 17 et 18 du Code des Marchés Publics, les prix
                du marché seront fermes dans les conditions fixées à l'article 4 du CCAP.<BR><i>Forme juridique que
                    devra revêtir le groupement d'opérateurs économiques attributaire du marché&nbsp;:&nbsp;</i>le
                candidat peut se présenter sous forme de groupement sous réserve du respect des règles relatives à la
                concurrence. Dans ce cas, le formulaire Dc1 devra préciser si le groupement est solidaire ou conjoint et
                être dûment complété. Les actes d'engagements et les annexes financières devront être soit co-signées
                par l'ensemble des entreprises groupées, soit signées par le mandataire seul dès lors qu'il justifie des
                habilitations nécessaires pour représenter les membres du groupement. <Br>Dans les deux formes de
                groupement, le nom du mandataire doit être expressément désigné dans l'acte d'engagement.<Br>Chaque
                membre du groupement doit fournir les documents listés à l'article 3.1.<Br>Les candidats ne sont pas
                autorisés à présenter, pour le marché ou un de ses lots, plusieurs offres en agissant à la fois en
                qualité de candidat individuel et de membres d'un ou plusieurs groupements.<BR><I>L'exécution du marché
                    est soumise à d'autres conditions particulières : </I>non.<BR><I>Langues pouvant être utilisées dans
                    l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire à l'appui des candidatures par le candidat, au choix de l'acheteur
                public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire DC1, Lettre de candidature -
                Habilitation du mandataire par ses co-traitants (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC2, Déclaration du candidat individuel ou du membre du groupement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC&nbsp;4, Déclaration de sous-traitance (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;S'il
                s'appuie, pour présenter sa candidature, sur les capacités professionnelles, techniques et financières
                d'autres opérateurs économiques, le candidat produit les mêmes documents concernant cet opérateur
                économique que ceux qui lui sont exigés par l'acheteur public. Le candidat doit également apporter la
                preuve que chacun de ces opérateurs économiques mettra à sa disposition les moyens nécessaires, pendant
                toute la durée d'exécution du marché public ou de l'accord-cadre.<br/><br/><i>Documents à produire
                    obligatoirement par l'attributaire, avant la signature et la notification du marché public ou de
                    l'accord-cadre (formulaire NOTI1)&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                l'attributaire est établi en France, les attestations et certificats délivrés par les administrations et
                organismes compétents prouvant qu'il a satisfait à ses obligations fiscales et sociales ou un état
                annuel des certificats reçus.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;analyse
                des prix : 60 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;analyse du dossier technique et des délais
                contractuels : 40 %.
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>29&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;15&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>60 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i>
            <P><I>Renseignements complémentaires&nbsp;:&nbsp;</I>procédure par voie électronique<Br>En application de
                l'article 56 du Code des Marchés Publics, les candidats ont la possibilité de télécharger le Dossier de
                Consultation des Entreprises (Dce) dans son intégralité et de répondre via le site dont l'adresse
                Internet est https://www.achats-hopitaux.com<Br>Le candidat envoie son offre selon les modalités
                indiquées dans l'avis d'appel Public à la Concurrence. Toutefois, sa candidature ou son offre ne sera
                pas rejetée si elle est transmise selon une autre modalité.<Br>Les offres reçues par voie postale et les
                offres transmises par le site https://www.achats-hopitaux.com ont la même valeur juridique.<Br>Le
                retrait de documents électroniques n'oblige pas le candidat à déposer électroniquement son offre et
                inversement.<Br>Afin de décompresser et pouvoir lire les documents mis en ligne par l'ap-hp, les
                candidats doivent notamment disposer des logiciels permettant de lire les formats suivants : zip, rtf,
                doc, xls, pdf, dwg, dxf. <Br>Les plis électroniques devront impérativement être déposés sur le site
                https://www.achats-hopitaux.com avant le 29 Juillet 2015 à 15&nbsp;heures<Br>Pour répondre sous forme
                dématérialisée, la personne habilitée à engager le candidat doit être inscrit sur la plate-forme de
                gestion des marchés publics de l'ap-hp accessible à l'adresse https://www.achats-hopitaux.com et
                titulaire d'un certificat électronique afin de signer sa réponse. Les réponses sont envoyées sous la
                forme de deux fichiers distincts, l'un comportant les éléments relatifs à la candidature, l'autre les
                éléments relatifs à l'offre et constituées sur la plate-forme de l'ap-hp. Les candidats doivent insérer
                dans chaque enveloppe électronique l'ensemble des documents requis précisés dans ce règlement de
                consultation. <Br>L'Enveloppe de candidature (au format Zip) contient les documents indiqués à l'article
                3.1 ci-dessus.<Br>L'Enveloppe d'offre (au format Zip) contient les offres proprement dites à savoir les
                pièces et documents indiqués aux articles 3.2.1et 3.2.3.<Br>A l'intérieur des deux enveloppes, les
                documents demandés sont transmis sous la forme de fichiers dans l'un des formats suivants : zip, rtf,
                doc, xls, pdf, dwg, dxf.<Br>Ces fichiers seront nommés Société_Nom_Fichier.Ext où :<Br>Société
                correspond au nom de la société candidate (ou du mandataire du groupement)<Br>"Nom_Fichier correspond
                au nom du document (ex. : "DC&nbsp;4", "Mémoire_Technique", etc.)<Br>".Ext correspond à l'une des
                extensions des formats ci-dessus acceptés par la plate-forme<Br>Après la préparation des fichiers, les
                candidats se connectent sur la plate-forme à l'adresse https://www.achats-hopitaux.com. Ils doivent les
                déposer dans les espaces qui leur sont réservés sur la page de réponse à cette consultation de la
                plate-forme, chaque consultation ayant une page spécifique de réponse. Une fois l'ensemble des éléments
                de la réponse réunis sur la page de constitution de la réponse, les candidats mettent en &oelig;uvre le
                processus cryptographique de signature électronique et de chiffrement de l'offre complète, signent puis
                envoient les réponses. <Br>Les documents constitutifs de la candidature et de l'offre doivent être
                accompagnés d'un certificat de signature. A cet effet, les candidats doivent être en possession d'un
                certificat électronique. Le certificat électronique doit être conforme aux exigences de la Directive
                Européenne n<sup>o</sup>1999/93/ce et des articles 1316-1 et 1316-4 du Code Civil. Il doit être délivré
                par un prestataire de certification et permettre de faire le lien entre la signature des documents et la
                personne physique signataire, celle-ci devant avoir le pouvoir d'engager la société candidate. Les
                candidats doivent prévoir un délai d'obtention pouvant aller jusqu'à plusieurs semaines selon les
                fournisseurs. La possession d'un certificat électronique n'est pas requise au stade du retrait du
                dossier de consultation (Dce) via la plate-forme.<Br>Les échanges sont sécurisés grâce à l'utilisation
                du protocole https.<Br>La plate-forme de gestion de l'ap-hp accepte les catégories de certificats de
                signature désignés dans la rubrique : Autorités de certification acceptées.<Br>La durée du
                téléchargement est fonction du débit de l'accès Internet du candidat et de la taille des documents à
                transmettre.<Br>L'Envoi des réponses en deux temps est interdit.<Br>Avertissement<Br>Tout fichier
                constitutif de la candidature et de l'offre, doit être traité préalablement par le candidat par un
                anti-virus régulièrement mis à jour.<Br>Copie de sauvegarde<Br>Lorsque l'offre est envoyée par voie
                électronique, une copie de sauvegarde peut-être envoyée dans les conditions fixées par arrêté du
                ministre chargé de l'économie (arrêté du 28 août 2006 pris en application des articles 48 I et 56 du
                Code des Marchés Publics).<Br>La copie de sauvegarde doit être placée dans un pli scellé comportant la
                mention lisible : " copie de sauvegarde ".<Br>Le candidat qui effectue à la fois une transmission
                électronique et, à titre de copie de sauvegarde, une transmission sur support physique électronique ou
                sur support papier doit faire parvenir cette copie dans les délais impartis pour la remise des
                candidatures ou des offres.<Br>La copie de sauvegarde ne peut être ouverte que lorsque le Service
                Central des Blanchisseries a détecté un programme informatique malveillant dans les candidatures et les
                offres transmises par voie électronique ou que ces dernières ne sont pas parvenues au S.C.B. Dans les
                délais de dépôt des candidatures et des offres. <Br>Support physique électronique<Br>Les candidats
                peuvent envoyer les dossiers de candidature et d'offre sur support physique électronique. Le premier
                support comprend les éléments relatifs à la candidature, l'autre les éléments relatifs à l'offre.<Br>Le
                dépôt des candidatures et des offres transmises sur support physique et électronique donne lieu à un
                avis de réception mentionnant la date et l'heure de réception. Les candidatures et les actes
                d'engagements envoyés sur support physique électronique sont signés par le candidat au moyen d'un
                certificat de signature électronique dans les conditions exposées précédemment.<Br>Les supports
                physiques électroniques suivants sont acceptés :<Br>Disque CD-ROM 600-800 Mega-Bytes<Br>Disque DVD 4,7
                Giga-Bytes<Br>Chaque candidat doit présenter à l'appui de son offre le dossier suivant :<Br>Imprimé DC 1
                ou équivalent, en cas de groupement, date et signature obligatoirement originales ou date et signature
                électroniques obligatoires.<Br>Imprimé DC 2 ou équivalent, date et signature obligatoirement originales
                ou date et signature électroniques obligatoires. Les mentions du capital et du Chiffre d'affaires
                doivent être suivies de l'unité monétaire correspondante.<Br>Imprimé NOTI 2 ou équivalent, date et
                signature obligatoirement originales ou date et signature électroniques obligatoires. Les mentions du
                capital et du Chiffre d'affaires doivent être suivies de l'unité monétaire correspondante<Br>Ces
                formulaires sont disponibles sur le site du Ministère de l'economie, des Finances et de l'industrie :
                http://www.minefe.gouv.fr/themes/marches_publics/formulaires/index.htm <Br>Si le NOTI 2 n'est pas
                présenté dans le dossier de candidature, ce document doit être fourni dans les 4 jours suivant l'envoi
                du courrier par télécopieur, confirmé par envoi postal, informant le candidat qu'il est classe
                n<sup>o</sup> 1 : le jour de du télécopieur et le jour de réception ne sont pas comptabilisés.<Br>(Ex :
                envoi mercredi 9 heures, réception lundi 9 heures).<Br>La preuve de la capacité de l'entreprise peut
                être apportée par tout moyen, notamment par des références de travaux attestant de la compétence de
                l'entreprise à réaliser la prestation pour laquelle elle se porte candidate ou des certificats
                d'identification professionnelle (exemple Qualibat).<Br>En cas de non présentation de ces documents dans
                le dossier de candidature, ils devront être fournis dans les 3 jours suivant l'envoi d'une demande de
                précision sur le teneur des offres des candidats (Dc11) par télécopieur, confirmé par courrier: le jour
                de l'envoi du télécopieur et le jour de réception ne sont pas comptabilisés.<Br>La production des
                documents dûment complétés dans le délai imparti conditionne la validité de la candidature.<Br>Tout
                document remis doit comporter la dénomination sociale exacte et complète telle qu'elle figure dans le
                Kbis, à l'exclusion des appellations abrégées et commerciales.<Br>Chaque candidat formule son offre en
                produisant :<Br>L'Acte d'engagement et ses annexes complétés (compte chèque postal ou compte bancaire ;
                n<sup>o</sup> de compte et adresse de la banque désignée ; code banque, code guichet, clé) accompagné de
                sa ou ses grilles tarifaires, signées et portant le cachet de la société.<Br>Le candidat est tenu de
                répondre à la totalité des prestations ou des articles désignés(e) s dans le lot. Ces prix seront
                obligatoirement franco de port quelle que soit la quantité commandée. Le candidat est tenu de respecter
                la présentation des grilles tarifaires définies par l'administration.<Br>Tout ajout ou suppression
                entraînera l'élimination du candidat.<Br>Dans le cas de groupement autorisé de candidats (voir art.
                2.11.), l'acte d'engagement ainsi que les annexes financières devront être signés soit par le mandataire
                expressément désigné et tous les membres soit par le mandataire du groupement, s'il justifie des
                habilitations nécessaires pour représenter ces entreprises.<Br>Le CCP visé par l'entreprise. <Br>Le
                dossier technique détaillé sur la prestation proposée par le candidat (organisation, méthode, moyens,
                effectifs et qualification des intervenants, qualifications et certifications du candidat pour la
                prestation). La preuve de la capacité du candidat peut être apportée par tout moyen, notamment par des
                certificats d'identité professionnelle ou des références de travaux attestant de la compétence de
                l'opérateur économique à réaliser la prestation pour laquelle il se porte candidat. Dossier technique à
                fournir en deux exemplaires.<Br>L'Absence de dossier technique rendra l'offre irrecevable.<Br>La
                production de ces documents dûment complétés conditionne la validité de l'offre.<Br>Les éléments
                relatifs à l'offre doivent être clairement identifiés comme tels.<Br>Il est rappelé aux candidats que
                l'utilisation, dans leur offre, du logo de l'ap-hp ou tous autres signes distinctifs propriétés de
                l'ap-hp, est strictement interdite.<Br>Documents complémentaires souhaités par l'ap-hp<Br>Pour les
                candidats établis dans un état autre que la France, il sera demandé de produire les documents listés à
                l'article 46.ii du Code des Marchés Publics. Ces documents seront accompagnés d'une traduction en
                français certifiée conforme à l'original par un traducteur assermenté.<Br>Tout document certifié
                conforme doit être signé par le candidat, représentant légal de la société.<Br>Une copie de la police
                d'assurance de responsabilité civile, <Br>Un RIB ou un RIP <Br>Un extrait du Kbis (datant de moins de 3
                mois à la date d'envoi de la candidature) ainsi que la composition de capital,<Br>Toute autre pièce que
                le candidat estime de nature à appuyer sa candidature, dont notamment des liens avec des entreprises
                adaptées ou à des établissements et services d'aide par le travail,<Br>Le Manuel Assurance Qualité, si
                la société est certifiée selon la Norme ISO 9001,<Br>Imprimé DC&nbsp;4 ou équivalent, en cas de
                sous-traitance, date et signature obligatoirement originales ou date et signature électroniques
                obligatoires (uniquement pour les prestations de service),<Br>Si le signataire des pièces de ce marché
                n'est pas le représentant légal de la société, un pouvoir au nom du signataire est nécessaire.<Br>Dans
                un délai de deux mois à compter de la notification du rejet de leur candidature ou de leur offre, les
                candidats peuvent former un recours gracieux (auprès du directeur de Sms) ou hiérarchique (auprès de la
                Direction Générale de l'ap-hp).<Br>Un référé précontractuel peut être déposé auprès du tribunal
                administratif de Paris depuis le début de la procédure de passation et avant la signature du marché.
                L'ap-hp doit respecter un délai minimal de dix jours entre la notification du rejet de la candidature ou
                de l'offre et celle du marché.<Br>Un recours de droit commun peut être exercé dans les deux mois à
                compter de la parution de l'avis d'attribution du marché.<Br>Pour tous les renseignements
                complémentaires qui leur seraient nécessaires en vue de répondre à la présente consultation, les
                candidats peuvent s'adresser par télécopie ou par mail à :<Br>Pour les renseignements administratifs<Br>M.&nbsp;Thierry
                hameury<br>télécopieur : 01 44 06 59 21<br>thierry.hameury@scb.aphp.fr<Br>M.&nbsp;Eric balde<br>télécopieur
                : 01 44 06 59 21<br>eric.balde@scb.aphp.fr<Br>Pour les renseignements techniques<Br>M.&nbsp;Max
                maikoouva<br>télécopieur : 01 44 06 59 99<br>max.maikoouva@scb.aphp.fr<Br>Mme&nbsp;Magali baticle<br>télécopieur
                : 01 45 13 67 80<br>magali.baticle@sca.aphp.fr<Br>Toute question relative au dossier de consultation
                doit parvenir par télécopie au Service Central des Blanchisseries au plus tard le 22 juillet 2015 à 15&nbsp;heures<Br>Le
                Service Central des Blanchisseries transmet les réponses à ces questions au plus tard 5 jours avant la
                date limite de remise des offres, soit le 24 juillet 2015.
            <p><I>Conditions et mode de paiement pour obtenir les documents contractuels et additionnels</I> :<BR>gratuit.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>procédure au format papier<Br>Le pli
                contenant la candidature et l'offre est transmis par lettre recommandée avec demande d'avis de réception
                postale ou remis à la cellule des marchés, Service Central des Blanchisseries contre récépissé, du lundi
                au vendredi de 9 heures à 15 heures 00.<Br>Les candidats transmettent leur offre sous l'enveloppe
                cachetée. <Br>L'Enveloppe doit porter obligatoirement l'indication de l'appel d'offres (intitulé et
                n<sup>o</sup> de la consultation).<Br>Le pli doit être remis Au plus tard le 29 Juillet 2015 à 15 heures
                00 contre récépissé à :<br>service central des blanchisseries<Br>Bureau des marchés<Br>52, Boulevard
                Vincent Auriol - B.P.&nbsp;20257<Br>75624 paris Cedex 13<Br>S'Il est envoyé par la poste, il doit
                parvenir à destination avant ces mêmes dates et heures limites.<Br>Une fois que le candidat a expédié ou
                déposé son dossier, il ne peut ni le retirer, ni modifier son offre.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>2&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I>Service Central des Blanchisseries.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>cellule
            des marchés,&nbsp;&nbsp;bd Vincent Auriol Bp20257,&nbsp;&nbsp;75624&nbsp;Paris Cedex 13.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre technique peuvent être obtenus&nbsp;:&nbsp;</I>Service
            Central des Blanchisseries.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>max MAIKOOUVA,&nbsp;&nbsp;bd Vincent
            Auriol Bp20257,&nbsp;&nbsp;75624&nbsp;Paris Cedex 13,&nbsp;, télécopieur&nbsp;:&nbsp;01-44-06-59-99,&nbsp;,
            courriel&nbsp;:&nbsp;max.maikoouva@scb.aphp.fr.<BR><I>Adresse auprès de laquelle des renseignements d'ordre
                administratif peuvent être obtenus&nbsp;:&nbsp;</I>Service Central des Blanchisseries.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>thierry
            Hameury,&nbsp;&nbsp;bd Vincent Auriol Bp20257,&nbsp;&nbsp;75624&nbsp;Paris Cedex 13,&nbsp;, télécopieur&nbsp;:&nbsp;01-44-06-59-21,&nbsp;,
            courriel&nbsp;:&nbsp;thierry.hameury@scb.aphp.fr.<BR><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2998700&noa=15-100138" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>