<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>86</B><!-- ED=20158184--><BR>Annonce No&nbsp;<B>15-102651</B><BR>Services<!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>CA du Pays Châtelleraudais
            (86).<BR>&nbsp;Correspondant&nbsp;:&nbsp; le président,&nbsp;78 bd blossac - cS 90618&nbsp;86106&nbsp;Chatellerault,
            tél.&nbsp;:&nbsp;(+33) 5-49-20-30-00, télécopieur&nbsp;:&nbsp;(+33) 5-49-20-30-05&nbsp;adresse internet&nbsp;:
            <A HREF='javascript:BMP_openWindow("http://www.marches-securises.fr","TestLien","");' class="lien">http://www.marches-securises.fr</A>.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://www.marches-securises.fr","TestLien","");' class="lien">https://www.marches-securises.fr</A>.<BR><i>Principale(s)
                Activité(s) de l'entité adjucatrice : </i> Eau.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>essais préalables à la réception des réseaux
                d'assainissement</B>.<BR><I>Catégorie de services&nbsp;:&nbsp;</I>16.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;71631430.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>.<BR><I>Code NUTS : </I>|FR534|.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>procédure expérimentale " marché public
                simplifié " (M.P.S.)<Br>Dossier téléchargeable sur le site www.marches-securises.fr<BR>En cas de
                problème d'inscription et de téléchargement sur www.marches-securises.fr, un numéro est à la disposition
                des soumissionnaires : 04 92 90 93 27<br>renseignements administratifs et techniques:<BR>le pouvoir
                adjudicateur se réserve la possibilité de négocier (voir clause de négociation RC article 5-6)<BR><i>Calendrier
                    des marchés ultérieurs en cas de marchés reconductibles&nbsp;:&nbsp;</i>durée du marché à compter de
                01/10/15 pour 1 an avec 3 reconductions tacites d'une période d'un an soit une durée maximum de 4
                ans.<BR><I>Des variantes seront-elles prises en compte: </I>oui.<BR>Prestations divisées en lots : non.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>48 mois à compter de la notification du
                marché.<BR><i>Date&nbsp;prévisionnelle&nbsp;de&nbsp;début&nbsp;des&nbsp;prestations&nbsp;(fournitures/services)&nbsp;:&nbsp;</i>1.e.r&nbsp;octobre&nbsp;2015.<BR><I>Modalités
                    essentielles de financement et de paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>par
                virement bancaire sous 30 jours.<BR><i>Forme juridique que devra revêtir le groupement d'opérateurs
                    économiques attributaire du marché&nbsp;:&nbsp;</i>marché à bons de commande pour un montant de 60
                000 eur (H.T.) maximum pour la 1ère période et 180 000 eur (H.T.) maximum pour le cumul des périodes
                suivantes.<BR><I>Langues pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Capacité économique et financière - références
                requises&nbsp;:&nbsp;</I>l'accrédication COFRAQ<BR><I>Référence professionnelle et capacité technique -
                références requises&nbsp;:&nbsp;</I>mémoire technique ( voir art.6 du rc ).
            <p>La prestation n'est pas réservée à une profession particulière.
            <p>Les personnes morales ne sont pas tenues d'indiquer les noms et qualifications professionnelles des
                membres du personnel chargé de la prestation.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire à l'appui des candidatures par le candidat, au choix de l'acheteur
                public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire DC1, Lettre de candidature -
                Habilitation du mandataire par ses co-traitants (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC2, Déclaration du candidat individuel ou du membre du groupement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4).<br/><br/><i>Documents
                    à produire obligatoirement par l'attributaire, avant la signature et la notification du marché
                    public ou de l'accord-cadre (formulaire NOTI1)&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                l'attributaire est établi en France, les attestations et certificats délivrés par les administrations et
                organismes compétents prouvant qu'il a satisfait à ses obligations fiscales et sociales ou un état
                annuel des certificats reçus.<br/><br/><i>Autres renseignements demandés&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres
                renseignements demandés : attestations d'assurances;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres
                renseignements demandés : extrait K-Bis.<BR>les documents administratifs en candidature MPS seront
                téléchargés par le pouvoir adjudicateur sur la plateforme après attribution.<br>en cas de candidature
                classique, ils seront à fournir par le candidat retenu après attribution du marché.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction du critère unique du prix le plus bas.<BR>Une enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>3&nbsp;août&nbsp;2015,&nbsp;à&nbsp;16&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>90 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i>
            <P><I>Renseignements complémentaires&nbsp;:&nbsp;</I><Br>Critères de jugement des offres :<Br>1. Valeur
                technique selon mémoire ( pondération : 60 ) : voir décomposition à l'art.6 du Rc<Br>2. Prix (
                pondération : 40 ) ( comparés sur la base de 3 chantiers types).
            <p><i>Le présent marché a un caractère périodique :&nbsp;</i>non.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>remise des plis par voie électronique
                obligatoire sur www.marches-securises.fr ( assistance : 04.92.90.93.27 )<Br>Réponse électronique des
                entreprises uniquement avec le SIRET, pas de remise des documents administratifs (type Dc1, Dc2...), pas
                de signature électronique.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>3&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I>Plate forme marches-securises.<BR>, tél.&nbsp;:&nbsp;(+33) 4-92-90-93-27,&nbsp;&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.marches-securises.fr","TestLien","");'
                               class="lien">http://www.marches-securises.fr</A>.<BR><I>Adresse auprès de laquelle des
                renseignements d'ordre technique peuvent être obtenus&nbsp;:&nbsp;</I>CAPC - S. CAPDEVILLE.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>
            Service Aménagement Urbain - unité de réseaux rigides,&nbsp;&nbsp;208 rue d'antran,&nbsp;&nbsp;86100&nbsp;Chatellerault,&nbsp;,
            tél.&nbsp;:&nbsp;(+33) 5-49-20-30-74,&nbsp;, télécopieur&nbsp;:&nbsp;(+33) 5-49-20-21-22,&nbsp;, courriel&nbsp;:&nbsp;stephanie.capdeville@capc-chatellerault.fr.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre administratif peuvent être
                obtenus&nbsp;:&nbsp;</I>CAPC.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I> Service Achats Publics - anne
            Devaud,&nbsp;&nbsp;78 bd blossac,&nbsp;&nbsp;86100&nbsp;Chatellerault,&nbsp;, tél.&nbsp;:&nbsp;(+33)
            5-49-23-65-06.<BR><I>Adresse auprès de laquelle les documents peuvent être obtenus&nbsp;:&nbsp;</I>Plate
            forme marches-securises.<BR>, tél.&nbsp;:&nbsp;(+33) 4-92-90-93-27,&nbsp;&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.marches-securises.fr","TestLien","");' class="lien">http://www.marches-securises.fr</A>.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de Poitiers&nbsp;15
                rue blossac&nbsp;86000&nbsp;Poitiers, tél.&nbsp;:&nbsp;(+33) 5-49-60-79-19.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>CAPC
                - Achats Publics - Mme&nbsp;DEVAUD&nbsp;78 bd blossac&nbsp;86100&nbsp;Châtellerault, tél.&nbsp;:&nbsp;(+33)
                5-49-23-65-06.</P><img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3001213&noa=15-102651"
                                       width="1" height="1"></td>
    </tr>
</table>
</body>
</html>