<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>31</B><!-- ED=20158182--><BR>Annonce No&nbsp;<B>15-100588</B><BR>Fournitures<!--Commune-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Ville de Fenouillet.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;Broquere
            Gilles, Maire,&nbsp;place A. Olives Cedex 01 B.P.&nbsp;95110&nbsp;31151&nbsp;Fenouillet, tél.&nbsp;:&nbsp;05-62-75-89-75,
            télécopieur&nbsp;:&nbsp;05-62-75-89-88, courriel&nbsp;:&nbsp;marches@mairie-fenouillet.fr.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.klekoon.com","TestLien","");' class="lien">http://www.klekoon.com</A>.
            <p><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>acquisition véhicule pour les services techniques et
                location longue durée de véhicules de service pour la commune de Fenouillet</B>.<BR><I>Type de marché de
                fournitures&nbsp;:&nbsp;</I> achat, location.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;34110000<br><i>Objets
                supplémentaires&nbsp;:&nbsp;</i>34144700<BR>50111000.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>lot 1 : Acquisition véhicule services
                techniques<br>solution 1 : acquisition véhicule neuf<br>solution 2 : acquisition véhicule occasion<br>option
                : reprise d'un véhicule<br>lot 2 : Location longue durée de véhicules de service<br>offre de base : 2
                véhicules particuliers 5 <Br> 2 véhicules Police Municipale 5 portes dont un break<br>option
                n<sup>o</sup> 1 Véhicule utilitaire frigorifique<br> n<sup>o</sup> 2 Véhicule particulier 5 portes<br>la
                livraison des véhicules en location devra être effective le 15/10/2015<BR><I>Refus des
                    variantes</I>.<BR>Prestations divisées en lots : oui.<BR>Possibilité de pr&eacute;senter une offre
                pour tous les lots.<BR><I>Modalités essentielles de financement et de paiement et/ou références aux
                    textes qui les réglementent&nbsp;:&nbsp;</I>paiement par mandat administratif dans un délai de 30
                jours à compter de la réception de la facture.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>cf.&nbsp;cahier des charges.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>20&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;17&nbsp;heures.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>26062015.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>adresse profil acheteur, le DCE (Dossier de
                Consultation) est téléchargeable gratuitement sur : www.klekoon.com<BR>Procédures de recours<BR>tribunal
                Administratif de Toulouse 68 rue Raymond IV 31068 TOULOUSE 05.62.73.57.57.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>30&nbsp;juin&nbsp;2015.</P><I>Adresse
                auprès de laquelle des renseignements d'ordre technique peuvent être obtenus&nbsp;:&nbsp;</I>commune de
            fenouillet.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>M.&nbsp;Meslier Gilles,&nbsp;&nbsp;place A Olives,&nbsp;&nbsp;31150&nbsp;Fenouillet,&nbsp;,
            courriel&nbsp;:&nbsp;gilles.meslier@mairie-fenouillet.fr.<BR><I>Adresse auprès de laquelle des
                renseignements d'ordre administratif peuvent être obtenus&nbsp;:&nbsp;</I>Commune de Fenouillet.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>
            Service marchés publics,&nbsp;&nbsp;place A Olives,&nbsp;&nbsp;31150&nbsp;Fenouillet,&nbsp;, courriel&nbsp;:&nbsp;marches@mairie-fenouillet.fr.
            <p><I>Renseignements relatifs aux lots&nbsp;:&nbsp;</I>
            <table border="0" cellpadding="1" align="center" width="80%">
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">1.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Lot 1 : Acquisition véhicule services techniquesSolution 1
                        : acquisition véhicule neufSolution 2 : acquisition véhicule occasionOption : reprise dun
                        véhicule
                    </td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">2.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Lot 2 : Location longue durée de véhicules de serviceOffre
                        de base : 2 véhicules particuliers 5 portes 2 véhicules Police Municipale 5 portes dont un
                        breakOption n<sup>o</sup> 1 Véhicule utilitaire frigorifique n<sup>o</sup> 2 Véhicule
                        particulier 5 portes
                    </td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2999150&noa=15-100588" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>