<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>76</B><!-- ED=20158187--><BR>Annonce No&nbsp;<B>15-100390</B><BR>Travaux<!--Département-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Conseil Général de
            Seine-Maritime.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;le président du Département,&nbsp;quai jean
            moulin - cs56101&nbsp;76101&nbsp;Rouen Cedex, télécopieur&nbsp;:&nbsp;02-03-03-67-08.<BR>Le pouvoir
            adjudicateur n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<p><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>avis
                d'appel public à la concurrence en vue de la passation de marchés ayant pour objet les travaux de
                restauration des ruines des bâtiments conventuels et du ch&oelig;ur de l'église Notre-Dame de l'abbaye
                de JUMIEGES suivant une procédure adaptée passée en application de l'article 28 du Code des Marchés
                Publics</B>.<BR><I>Type de marché de travaux&nbsp;:&nbsp;</I> exécution.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>le marché comporte une tranche ferme et
                deux tranches conditionnelles.<Br><br>a noter : le lot n<sup>o</sup>3 - restauration des décors peints
                n'intervient pas dans la tranche conditionnelle n<sup>o</sup>1 de l'opération.<Br><br>- tranche ferme :
                restauration des celliers (1ère phase).<Br>- tranche conditionnelle n<sup>o</sup>1 : restauration des
                celliers (2<sup>e</sup> phase), de la salle capitulaire et de la sacristie.<Br>- tranche conditionnelle
                n<sup>o</sup>2 : restauration de la salle capitulaire, de la sacristie, du ch&oelig;ur et du mur de
                soutènement<BR><I>Refus des variantes</I>.<BR>Prestations divisées en lots : oui.<BR>Possibilité de pr&eacute;senter
                une offre pour un ou plusieurs lots.<BR><I>Cautionnement et garanties exigés&nbsp;:&nbsp;</I>garanties
                liées à l'avance : sauf en cas de renoncement dans le cadre d'acte d'engagement, pour les marchés
                supérieurs à 50 000euros HT, l'avance ne sera versée qu'après constitution d'une garantie à première
                demande couvrant le montant de l'avance (cf. 87 à 90 du Cmp). Le montant de cette avance est de 10 % du
                montant global du marché. <Br><Br>Il sera fait application des articles 101 à 103 du Code des Marchés
                Publics pour ce marché, en conséquence, une retenue de garantie de 5 % sera effectuée sur le montant des
                acomptes. La retenue de garantie a pour seul objet de couvrir les réserves à la réception des travaux
                ainsi que celles formulées pendant le délai de garantie. La retenue de garantie peut être remplacée au
                gré du titulaire par une garantie à première demande. <Br><Br>Le délai de garantie est de 1 (un) ans
                conformément à l'article 9.5 du CCAP.<BR><I>Modalités essentielles de financement et de paiement et/ou
                    références aux textes qui les réglementent&nbsp;:&nbsp;</I>le paiement est effectué par mandat
                administratif (virement bancaire). Le délai de paiement est fixé à 30 jours à compter de la réception de
                la facture ou mémoire.<Br><Br>Le défaut de paiement à l'expiration du délai ouvre droit à intérêts
                moratoires, le taux applicable est égal au taux d'intérêt de la principale facilité de refinancement
                appliquée par la banque centrale européenne à son opération de refinancement principale la plus récente
                effectuée avant le premier jour du calendrier du semestre de l'année civile au cours duquel les intérêts
                moratoires ont commencé à courir, majoré de huit points. Le retard de paiement donne lieu, de plein
                droit et sans autre formalité, au versement d'une indemnité forfaitaire pour frais de recouvrement, dont
                le montant est fixé à 40 euros.<Br><Br>Les prestations sont réalisées avec un financement issu des fonds
                propres du Département de Seine-Maritime et des subventions aussi élevées que possible, a obtenir auprès
                du Ministère de la Culture et du contrat 276.<BR><i>Forme juridique que devra revêtir le groupement
                    d'opérateurs économiques attributaire du marché&nbsp;:&nbsp;</i>si l'attributaire est un groupement
                d'entreprises conjointes, le mandataire sera obligatoirement solidaire conformément à l'article 51 II et
                IV et VII du Code des Marchés Publics.<BR><I>L'exécution du marché est soumise à d'autres conditions
                    particulières : </I>non.<BR><I>Langues pouvant être utilisées dans l'offre ou la
                    candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><BR>présence
                effective des pièces exigées au stade de la candidature <Br> Garanties professionnelles techniques et
                financières adaptées à l'objet du marché.<Br>Renseignements concernant la situation propre de
                l'entreprise:<Br><Br>-Déclaration concernant le chiffre d'affaires global et le chiffre d'affaires
                concernant les travaux auxquels se référent le marché, réalisés au cours des 3 derniers exercices
                disponibles.<Br>-Déclaration indiquant les effectifs moyens annuels du candidat et l'importance du
                personnel d'encadrement pour chacune des 3 dernières années.<Br>-Présentation d'une liste des travaux
                exécutés au cours des 5 dernières années appuyée d'attestations de bonne exécution pour les travaux les
                plus importants. Ces attestations indiquent le montant, l'époque et le lieu d'exécution des travaux et
                précisent s'ils ont été effectués selon les règles de l'art et menées régulièrement à bonne fin.<Br>-Indication
                des titres d'études et professionnels de l'opérateur économique et/ou des cadres de l'entreprise, et
                notamment des responsables de prestation de services ou de conduite des travaux de même nature que celle
                du marché,<Br>-Déclaration indiquant l'outillage, le matériel et l'équipement technique dont le candidat
                dispose pour la réalisation de marchés de même nature.<Br><Br>-Certificats de qualifications
                professionnelles des entreprises (qualification ou références équivalentes : Lot n<sup>o</sup>1 :
                Qualibat 2194 Restauration des monuments historiques ; Lot n<sup>o</sup>4 : Qualibat 3194 Couverture des
                monuments historiques)<Br>-La preuve de capacité de l'entreprise peut être apportée par tout moyen,
                notamment par des certificats d'identité professionnelle ou des références de travaux attestant de la
                compétence de l'entreprise à réaliser la prestation pour laquelle elle se porte candidate.<Br>Le
                formulaire Dc1 " Lettre de candidature "; Dc2 " Déclaration du candidat "; à compléter, à dater et à
                signer. Ces documents sont disponibles sur l'adresse internet suivante :
                http://www.economie.gouv.fr/daj/formulaires.
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>28&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;16&nbsp;h&nbsp;30.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>15S0161.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>nb : le lot 1 : Maçonnerie/Pierre de taille fera
                l'objet d'une clause d'insertion par l'économique.<Br><Br>Durée des marchés :<Br>Les marchés prendront
                effet à compter de leur notification et prendront fin à la réception sans réserve des travaux.<Br><Br>Le
                délai d'exécution des travaux est de 14 mois pour chaque tranche y compris la période de préparation de
                2 mois à partir de la date fixée par l'ordre de service prescrivant à l'entrepreneur du premier lot de
                commencer l'exécution des travaux lui incombant. <Br><Br>Date prévisionnelle de début des prestations :
                Octobre 2015<Br><Br>Visite obligatoire :<Br>Il est primordial qu'avant d'établir son offre, le candidat
                prenne connaissance du site.<Br>A cette occasion, l'entrepreneur fera signer par le responsable du site
                ou son représentant l'attestation de visite jointe au présent règlement de consultation. Cette
                attestation signée sera jointe à l'offre du candidat. <Br><Br>Pour la visite des lieux, l'entreprise
                devra prendre au préalable contact avec l'abbaye de Jumièges au 02.35.37.24.02 tous les jours
                ouvrés.<Br><Br>-La valeur technique comprend 4 sous-critères : <Br><Br>1)Méthodologie d'organisation du
                chantier (3 points)<Br>2)Qualité des matériaux avec documentation technique (4 points)<Br>3)Mesures de
                sécurité prises pour la réalisation du chantier (1 point)<Br>4)Dispositions prises pour le respect des
                délais (2 points).<Br><Br>Recours à la négociation : <Br>Le Département se réserve le droit de négocier
                avec les candidats admis. Cette négociation pourra porter sur tous les éléments de l'offre, notamment
                sur le prix. Un courrier sera adressé à chacun des candidats retenus qui pourra alors présenter une
                offre modifiée.<Br><Br>Toutes demandes de renseignements complémentaires seront formulées par écrit ou
                par télécopieur au 02 35 03 67 08 <Br><Br>Les demandes de renseignements complémentaires peuvent
                également être transmises sur le site http://www.mpe76.fr. <Br><Br>Renseignements administratifs : Mme&nbsp;Virginie
                TELLART Numéro de télécopieur : 02.35.03.67.08 <Br>Renseignements techniques : m. Jj lecacheleux numéro
                de télécopieur : 02.35.03.53.95.
            <p><I>Conditions et mode de paiement pour obtenir les documents contractuels et additionnels</I> :<BR>Le
                dossier de consultation est remis en mains propres ou envoyé gratuitement sur simple demande écrite ou
                par télécopie auprès de Mme&nbsp;TELLART (télécopieur : 02.35.03.67.08) et disponible sur le site : "
                http://www.mpe76.fr".
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>les offres seront adressées au
                Département de Seine Maritime -Direction du Domaine Départemental - cellule Appel d'offres Hôtel du
                Département - quai Jean Moulin - cs 56101 - 76101 Rouen Cedex, soit par la poste en recommandé avec avis
                de réception, soit remis contre récépissé du lundi au vendredi de 13h30 à 16h30. <Br><Br>Le dossier de
                consultation peut être remis sur le site http://www.mpe76.fr <Br><Br>La transmission des offres fera
                l'objet d'une date de réception et d'un avis de réception électronique.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>3&nbsp;juillet&nbsp;2015.</P>
            <P><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal Administratif de Rouen 53 av
                Gustave Flaubert 76005 Rouen Cedex 2, tél.&nbsp;:&nbsp;02-32-08-12-70, télécopieur&nbsp;:&nbsp;02-32-08-12-71.
            </P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Greffe
                du Tribunal Administratif de Rouen - 53,&nbsp;avenue Gustave Flaubert - 76005 Rouen Cedex 2 ou
                Département de Seine Maritime Quai jean moulin 76000 Rouen Direction juridique et des Marchés Service
                des marchés publics, tél.&nbsp;:&nbsp;02-35-03-55-82.</P>
            <P><I>Renseignements relatifs aux lots&nbsp;:&nbsp;</I>
            <table border="0" cellpadding="1" align="center" width="80%">
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">1.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Maçonnerie / Pierre de taille- Insertion par
                        l'économique
                    </td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">2.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Restauration des sculptures / Sculpture sur pierre neuve
                    </td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">3.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Restauration des décors peints</td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">4.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Couverture plomb</td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2998952&noa=15-100390" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>