<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>83</B><!-- ED=20158187--><BR>Annonce No&nbsp;<B>15-101968</B><BR>Fournitures<!--Autre-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>CHI Toulon La Seyne sur mer.<BR>&nbsp;Correspondant&nbsp;:&nbsp;cellule
            des marchés publics,&nbsp;54, rue henri sainte claire deville cs 3 1412&nbsp;83056&nbsp;Toulon.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://ch-toulon.achatpublic.com","TestLien","");' class="lien">http://ch-toulon.achatpublic.com</A>.<BR><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Santé.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>le présent marché a pour objet la fourniture,
                l'installation, la mise en service et la maintenance d'une solution progicielle permettant
                l'informatisation des fonctions administratives d'un GCS de moyens dont la finalité est la production
                alimentaire</B>.<BR><I>Type de marché de fournitures&nbsp;:&nbsp;</I> achat.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;48000000<br><i>Objets supplémentaires&nbsp;:&nbsp;</i>72267000.<BR><I>Lieu de
                    livraison&nbsp;:&nbsp;</I>centre Hospitalier Intercommunal de Toulon La Seyne - uCP,&nbsp;83130&nbsp;La
                Garde.<BR><I>Code NUTS : </I>FR825.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>le marché est composé d'une tranche
                ferme, une tranche conditionnelle et une partie à bon de commande.<Br><Br>Tranche ferme :<Br>Fourniture,
                installation et mise en service de la solution progicielle.<Br><Br>Tranche maintenance :<Br>La
                prestation de maintenance curative, préventive et évolutive de la solution progicielle ainsi que la
                prestation d'assistance aux utilisateurs à l'issue de la période de garantie.<Br><Br>Prestations au
                service fait :<Br>Des bons de commande pourront être émis, sans minimum ni maximum, à compter de la date
                de notification de la vérification de Service Régulier de la tranche ferme afin de commander des
                prestations au service fait<BR><i>Quantités (fournitures et services), nature et étendue (travaux)&nbsp;:&nbsp;</i>la
                création du Groupement de Coopération Sanitaire (Gcs) concerné n'étant pas finalisée à la date de
                publication de la présente consultation, le présent marché sera contractualisé avec le C.H.I.T.S et
                transféré par voie d'avenant. L'avenant précisera les nouvelles modalités de commandes, de livraisons et
                de facturations. Le titulaire ne pourra pas s'opposer au transfert sans frais.<BR><i>Options :
                    descriptions concernant les achats complémentaires&nbsp;:&nbsp;</i>les options administratives
                suivantes sont envisagées : <Br>- marché de reconduction (article 16 du Code des Marchés Publics)<Br>-
                conclusion d'avenants possible (article 20 du Code des Marchés Publics)<Br>- les marchés complémentaires
                de fournitures (article 35-ii 4° du Code des Marchés Publics)<Br>- les marchés complémentaires de
                services (article 35-ii 5° du Code des Marchés Publics)<Br>- les marchés de prestations similaires de
                services (article 35-ii 6° du Code des Marchés Publics).<BR><i>Nombre de reconductions éventuelles&nbsp;:&nbsp;</i>0.<BR><I>Des
                    variantes seront-elles prises en compte: </I>oui.<BR>Prestations divisées en lots : non.<BR><i>Date&nbsp;prévisionnelle&nbsp;de&nbsp;début&nbsp;des&nbsp;prestations&nbsp;(fournitures/services)&nbsp;:&nbsp;</i>1.e.r&nbsp;octobre&nbsp;2015.<BR><I>Modalités
                    essentielles de financement et de paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>concernant
                la tranche ferme :<Br>La rémunération forfaitaire du titulaire est indiquée dans l'acte d'engagement
                <Br><Br>Le paiement sera échelonné comme suit :<Br>- 30% du montant du marché à la mise en ordre de
                marche (Mom) ;<Br>- 35% du montant du marché à la vérification d'aptitude (Va) ;<Br>- 35% du montant du
                marché à la vérification du service régulier (Vsr).<Br>Ces différentes étapes sont décrites à l'article
                3 du présent ccap.<Br><Br>Concernant la tranche maintenance :<Br>La rémunération forfaitaire du
                titulaire est indiquée dans l'acte d'engagement <Br>Elle est facturable semestriellement à terme
                échu.<Br><Br>Concernant les prestations au service fait : <Br>La rémunération du titulaire du présent
                marché sera calculée en appliquant les prix du bordereau des prix unitaires aux prestations qui seront
                effectivement réalisées. Elle est facturable dès validation du service fait par le chits.<Br><Br>Le mode
                de règlement est le virement administratif conformément aux dispositions du décret n<sup>o</sup>
                2002-232 du 21/02/2002.<Br><Br>Le délai global de paiement sur lequel s'engage le CHITS est de 50 jours.<Br><Br>Le
                point de départ du délai global de paiement est la date de réception de la facture si la livraison a été
                effectuée avant cette date. Le point de départ du délai global de paiement est la date d'exécution des
                prestations (constatation de l'exécution conforme de la prestation aux spécifications du marché)
                lorsqu'elle est postérieure à la date de réception de la demande de paiement.<BR><I>Langues pouvant être
                    utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée,
                    l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>en conformité avec l'article 52 du Code des Marchés Publics, le candidat
                qui n'a pas qualité pour présenter une offre en application de l'article 43 du CMP, ou qui, le cas
                échéant, n'aura pas complété son dossier de candidature dans un délai de 7 jours francs à compter de la
                date de réception de la demande sera éliminé. <Br><Br>Le pouvoir adjudicateur procèdera à l'examen des
                pièces relatives à la candidature préalablement à l'examen des offres. <Br>Si une candidature est
                rejetée, en application de l'article 52 du code des marchés publics l'offre correspondante ne sera pas
                analysée par le pouvoir adjudicateur. Le candidat en est informé.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Autres
                renseignements demandés&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres renseignements
                demandés : documents a fournir dans le cadre de la candidature<BR>Documentsa - pour un candidat
                individuel ou groupement<BR>B - pour chaque membre du groupementdescription<BR>1 La lettre de
                candidature dûment complétée , datée et signée<BR>Al'Imprimé Dc1 téléchargeable sur le lien suivant
                :<BR>http://www.economie.gouv.fr/formulaires/daj/DC/imprimes_dc/dc1.rtf<BR>l'ensemble des rubriques de
                la déclaration doit être complété.<BR>1 La déclaration du candidat dûment complétée , datée<BR>Bl'Imprimé
                Dc2 téléchargeable sur le lien suivant :<BR>http://www.economie.gouv.fr/formulaires/daj/DC/imprimes_dc/dc2.rtf<BR>l'ensemble
                des rubriques de la déclaration doit être complété.<BR>1 Références similaires sur les trois dernières
                années<BR>Ble candidat mentionnera les établissements publics et/ou privés, utilisateurs des logiciels
                et services qu'il propose, ainsi que les références des personnes à contacter <BR>En cas d'absence de
                références (entreprise de création récente) la capacité sera estimée sur les moyens financiers
                techniques et humains.<BR>1 en cas de redressement judiciairecopie du ou des jugements prononcés<BR>La
                preuve de la capacité de l'entreprise peut être apportée, par tout moyen, notamment, par des certificats
                d'identité professionnelle ou des références attestant de la compétence de l'entreprise à réaliser la
                prestation pour laquelle elle se porte candidate. <BR>Les capacités professionnelles, techniques et
                financières des sous-traitants peuvent également être prises en compte. Dans ce cas, le candidat devra
                fournir dans son offre le ou les demandes d'acceptation des sous-traitants.;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres
                renseignements demandés : documents a fournir dans le cadre de l'offre :<BR>Documentsdescriptions :<BR>1acte
                d'engagement <BR>comprenant les bordereaux de prix <BR>Document joint au dossier de consultation en un
                original, complété, daté, paraphé et signé par le(s) représentant(s) qualifié(s) de l'entreprise ou du
                groupement<BR>1mémoire TECHNIQUE<BR>Document joint au dossier de consultation en un original, complété,
                daté, paraphé et signé par le(s) représentant(s) qualifié(s) de l'entreprise ou du groupement. <BR>Le
                candidat pourra également joindre à son mémoire technique l'ensemble des éléments qu'il juge nécessaire
                à l'évaluation de son offre conformément aux critères de choix fixés au présent règlement de
                consultation <BR>1charte d'utilisation des ressources informatiques du Chitsdemande d'habilitation d'un
                tiers à accéder ou à intervenir sur le système d'information dument complétée (Ce document est fourni en
                dernières pages de la Charte)<BR>1le calendrier d'execution<BR>Le candidat proposera un calendrier de
                déploiement en précisant les échéances des différentes étapes.<BR>A noter : Le calendrier d'exécution
                définitif sera celui fixé au démarrage du projet selon un accord entre les deux parties<BR>1rib<BR>un
                Relevé d'identité Bancaire (Rib), caisse épargne (Rice).<BR>1fiche fournisseur et fiche de prestations
                fournisseur<BR>Chaque fiche complétée, datée et signée.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>2&nbsp;septembre&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>180 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>15S0029.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>offre électronique.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>3&nbsp;juillet&nbsp;2015.</P><I>Adresse
                auprès de laquelle des renseignements d'ordre technique peuvent être obtenus&nbsp;:&nbsp;</I>Centre
            Hospitalier Intercommunal de Toulon La Seyne sur mer.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>françois-Xavier
            GAVALDA,&nbsp;&nbsp;54, rue Henri Sainte Claire Deville - cS 31412,&nbsp;&nbsp;83056&nbsp;Toulon,&nbsp;,
            tél.&nbsp;:&nbsp;04-94-14-51-02,&nbsp;, télécopieur&nbsp;:&nbsp;04-94-14-51-06.<BR><I>Adresse auprès de
                laquelle des renseignements d'ordre administratif peuvent être obtenus&nbsp;:&nbsp;</I>Centre
            Hospitalier Intercommunal de Toulon La Seyne sur mer.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>cellule des
            marchés,&nbsp;&nbsp;54, rue henri sainte claire deville cs 3 1412,&nbsp;&nbsp;83056&nbsp;Toulon,&nbsp;, tél.&nbsp;:&nbsp;04-94-14-56-90,&nbsp;,
            courriel&nbsp;:&nbsp;cellule-marches@ch-toulon.fr.<p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Le
                Tribunal Administratif de Toulon&nbsp;5 rue racine - cS 40510&nbsp;83041&nbsp;Toulon, tél.&nbsp;:&nbsp;04-94-42-79-30,
                télécopieur&nbsp;:&nbsp;04-94-42-79-89.</P>
            <P><I>Organe chargé des procédures de médiation&nbsp;:&nbsp;</I>le Comité Consultatif Inter Régional de
                Règlement Amiable de Marseille&nbsp;boulevard Paul Peytral - Cedex 20&nbsp;13282&nbsp;Marseille, tél.&nbsp;:&nbsp;04-91-15-63-74,
                télécopieur&nbsp;:&nbsp;04-91-15-61-90.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000530&noa=15-101968" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>