<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>6</B><!-- ED=20158187--><BR>Annonce No&nbsp;<B>15-102056</B><BR>Travaux
            <!--Etablissement public territorial--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Communauté de Communes Alpes
            d'Azur.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;le président,&nbsp;maison des services publics Place
            Conil&nbsp;06260&nbsp;Puget Théniers, tél.&nbsp;:&nbsp;04-93-05-02-81, télécopieur&nbsp;:&nbsp;04-93-05-18-05,
            courriel&nbsp;:&nbsp;secretariat@alpesdazur.fr.<BR>Adresse internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://www.marches-securises.fr","TestLien","");' class="lien">https://www.marches-securises.fr</A>.<BR><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>travaux d'entretien de la voirie communale sur les communes
                de beuil, châteauneuf d'entraunes, daluis, entraunes, guillaumes, peone, saint-martin d'entraunes,
                sauze, villeneuve d'entraunes programme 2015-2017</B>.<BR><I>Type de marché de travaux&nbsp;:&nbsp;</I>
                exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45233141.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>.<BR><I>Code
                    NUTS : </I>FR823.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>travaux d'entretien et de grosses
                réparations des voiries de 9 communes de la CC Alpes d'azur<BR><i>Quantités (fournitures et services),
                    nature et étendue (travaux)&nbsp;:&nbsp;</i>marché fractionné à bons de commande sans minimum avec
                maximum de 600 000 euros (H.T.) Par période de 12 mois.<BR><i>Nombre de reconductions éventuelles&nbsp;:&nbsp;</i>2.<BR><i>Calendrier
                    des marchés ultérieurs en cas de marchés reconductibles&nbsp;:&nbsp;</i>le marché a une durée
                initiale de 12 mois. Il est reconductible 2 fois par reconduction tacite par période de 12 mois.<BR><I>Refus
                    des variantes</I>.<BR>Prestations divisées en lots : non.<BR><i>Date&nbsp;prévisionnelle&nbsp;de&nbsp;commencement&nbsp;des&nbsp;travaux&nbsp;:&nbsp;</i>1.e.r&nbsp;septembre&nbsp;2015.<BR><I>Langues
                    pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>capacités professionnelles techniques et financières.<BR><I>Référence
                professionnelle et capacité technique - Niveau(x) spécifique(s) minimal(aux) exigé(s)&nbsp;:&nbsp;</I>qualification
                du candidat ou d'un co-traitant ou d'un sous-traitant pour le retrait et l'évacuation de déchets
                amiantés.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire à l'appui des candidatures par le candidat, au choix de l'acheteur
                public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire DC1, Lettre de candidature -
                Habilitation du mandataire par ses co-traitants (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;S'il
                s'appuie, pour présenter sa candidature, sur les capacités professionnelles, techniques et financières
                d'autres opérateurs économiques, le candidat produit les mêmes documents concernant cet opérateur
                économique que ceux qui lui sont exigés par l'acheteur public. Le candidat doit également apporter la
                preuve que chacun de ces opérateurs économiques mettra à sa disposition les moyens nécessaires, pendant
                toute la durée d'exécution du marché public ou de l'accord-cadre;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                les documents fournis par le candidat ne sont pas établis en langue française, ils doivent être
                accompagnés d'une traduction en français, certifiée conforme à l'original par un traducteur
                assermenté.<br/><br/><i>Documents à produire obligatoirement par l'attributaire, avant la signature et
                    la notification du marché public ou de l'accord-cadre (formulaire NOTI1)&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Les
                pièces prévues aux articles D. 8222-5 ou D. 8222-7 et D. 8222-8 du code du travail.<br/><br/><i>Autres
                    renseignements demandés&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres
                renseignements demandés : cf.&nbsp;règlement de consultation.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).<BR>Une enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>30&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;16&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>90 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>MAPA-2015-14-MULTI-165-01.
            <p><I>Conditions et mode de paiement pour obtenir les documents contractuels et additionnels</I> :<BR>Téléchargement
                électronique gratuit du dossier de consultation sur la plate-forme https://www.marches-securises.fr.<Br>Il
                est vivement recommandé de s'identifier sur le site et d'indiquer une adresse électronique valide afin
                de recevoir d'éventuels renseignements complémentaires et modifications du cahier des charges. Le
                pouvoir adjudicateur ne pourra pas être retenu responsable si le candidat n'a pas renseigné son adresse
                mail.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>cf.&nbsp;règlement de consultation.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>3&nbsp;juillet&nbsp;2015.</P><I>Adresse
                auprès de laquelle des renseignements d'ordre technique peuvent être obtenus&nbsp;:&nbsp;</I><BR>,
            courriel&nbsp;:&nbsp;gerard.micol@hotmail.com,&nbsp;&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://www.marches-securises.fr","TestLien","");' class="lien">https://www.marches-securises.fr</A>.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre administratif peuvent être obtenus&nbsp;:&nbsp;</I>Communauté
            de Communes Alpes d'Azur<BR>Pôle de Valberg.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>sophie GAUDIN,&nbsp;&nbsp;centre
            administratif Place Charles Ginesy,&nbsp;&nbsp;06470&nbsp;Valberg,&nbsp;, tél.&nbsp;:&nbsp;06-70-58-45-14,&nbsp;,
            courriel&nbsp;:&nbsp;sgaudin@alpesdazur.fr.<p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal
                Administratif de Nice&nbsp;33 boulevard Franck Pilatte B.P.&nbsp;4179&nbsp;06359&nbsp;Nice Cedex 4, tél.&nbsp;:&nbsp;04-92-04-13-13,
                courriel&nbsp;:&nbsp;greffe.ta-nice@juradm.fr, télécopieur&nbsp;:&nbsp;04-93-55-78-31&nbsp;adresse
                internet&nbsp;: <A
                        HREF='javascript:BMP_openWindow("http://nice.tribunal-administratif.fr","TestLien","");'
                        class="lien">http://nice.tribunal-administratif.fr</A>.</P>
            <P><I>Organe chargé des procédures de médiation&nbsp;:&nbsp;</I>Comité Consultatif Interrégional de
                Règlement Amiable des Litiges (CCIRAL)&nbsp;préfecture de Région Provence Alpes côte d'azur Secrétariat
                Général pour les affaires générales Place Félix Baret - cs80001&nbsp;13282&nbsp;Marseille Cedex 06, tél.&nbsp;:&nbsp;04-84-35-45-54,
                courriel&nbsp;:&nbsp;catherine.pietri@paca.pref.gouv.fr, télécopieur&nbsp;:&nbsp;04-84-35-44-60&nbsp;adresse
                internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.paca.pref.gouv.fr","TestLien","");'
                                   class="lien">http://www.paca.pref.gouv.fr</A>.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Tribunal
                Administratif de Nice.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000618&noa=15-102056" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>