<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>56</B><!-- ED=20158182--><BR>Annonce No&nbsp;<B>15-100030</B><BR>Travaux<!--Etat-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Université de Bretagne Sud.<BR>&nbsp;Correspondant&nbsp;:&nbsp;président
            de l'université de Bretagne Sud,&nbsp;B.P.&nbsp;92 116&nbsp;56321&nbsp;Lorient, courriel&nbsp;:&nbsp;sefi.marches@listes.univ-ubs.fr&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.univ-ubs.fr","TestLien","");' class="lien">http://www.univ-ubs.fr</A>.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.marches-publics.gouv.fr","TestLien","");' class="lien">http://www.marches-publics.gouv.fr</A>.<BR>Le
            pouvoir adjudicateur n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Éducation.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>installation d'un système de contrôle d'accès et
                d'anti-intrusion centralisé sur les bâtiments du campus de Tohannic à Vannes</B>.<BR><I>Type de marché
                de travaux&nbsp;:&nbsp;</I> exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;35120000.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>vannes,&nbsp;56000&nbsp;Vannes.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>la présente consultation concerne des
                travaux d'installation d'un système de contrôle d'accès et d'anti-intrusion centralisé sur les bâtiments
                du campus de Tohannic à Vannes. Ils intègrent l'évolution ou le remplacement des systèmes de sécurité
                incendie des bâtiments concernés<BR><i>Options : descriptions concernant les achats complémentaires&nbsp;:&nbsp;</i>le
                marché prévoit une option. Il s'agit d'un contrat de maintenance de l'ensemble des équipements de
                contrôle d'accès et d'anti-intrusion sur le campus de Tohannic. La durée de ce contrat sera de 3 ans,
                renouvelable 1 fois.<BR><i>Nombre de reconductions éventuelles&nbsp;:&nbsp;</i>1.<BR><I>Refus des
                    variantes</I>.<BR>La procédure d'achat du présent avis est couverte par l'accord sur les marchés
                publics de l'OMC : oui.<br/><BR>Prestations divisées en lots : non.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>3 mois à compter de la notification du
                marché.<BR><i>Date&nbsp;prévisionnelle&nbsp;de&nbsp;commencement&nbsp;des&nbsp;travaux&nbsp;:&nbsp;</i>1.e.r&nbsp;septembre&nbsp;2015.<BR><I>Modalités
                    essentielles de financement et de paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>application
                du décret no 62-1587 du 29.12.1962 portant règlement général sur la comptablilité Publique.<Br>Le
                financement de ce marché est assuré par la subvention pour charges de service public.<Br>Délai maximum
                de paiement fixé à 30 jours à compter de la réception de la facture par l'université.<BR><i>Forme
                    juridique que devra revêtir le groupement d'opérateurs économiques attributaire du marché&nbsp;:&nbsp;</i>le
                marché sera conclu soit avec un entrepreneur unique, soit avec des entrepreneurs groupés solidaires.<BR><I>L'exécution
                    du marché est soumise à d'autres conditions particulières : </I>non.<BR><I>Langues pouvant être
                    utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée,
                    l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>les
                pouvoirs de la personne habilitée pour engager le candidat y compris, en cas de groupement, le cas
                échéant, les habilitations nécessaires pour représenter les entreprises au stade de la passation du
                marché<Br>Si le candidat est en redressement judiciaire, la copie du ou des jugements prononcés à cet
                effet.<BR><I>Capacité économique et financière - références requises&nbsp;:&nbsp;</I>une déclaration
                indiquant les moyens financiers du candidat (chiffre d'affaires global et chiffre d'affaires concernant
                des travaux similaires)<BR><I>Capacité économique et financière - Niveau(x) spécifique(s) minimal(aux)
                    exigé(s)&nbsp;:&nbsp;</I>pas de niveau chiffré, apprécié au regard de l'adéquation de ces données au
                regard de l'ampleur du marché.<BR><I>Référence professionnelle et capacité technique - références
                    requises&nbsp;:&nbsp;</I>un état détaillé des prestations similaires que le candidat a été amené à
                réaliser au cours des 3 dernières années<Br>Une déclaration indiquant les effectifs moyens annuels du
                candidat et l'importance du personnel d'encadrement pour chacune des trois dernières années<Br>Des
                certificats de qualifications professionnelles (carte identité professionnelle, attestation de
                compétence sur chantier équivalent...).<BR><I>Référence professionnelle et capacité technique -
                    Niveau(x) spécifique(s) minimal(aux) exigé(s)&nbsp;:&nbsp;</I>pas de niveau chiffré, apprécié au
                regard de l'adéquation de ces données au regard de l'ampleur du marché.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Autres
                renseignements demandés&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres renseignements
                demandés : voir règlement de la consultation.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;la
                valeur technique de l'offre : 70 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;le prix : 30 %.
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>22&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>2015/17.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>les renseignements d'ordre administratif peuvent être
                obtenus auprès de :<Br><Br>Mme&nbsp;Brochard<Br>Service Financier - domaine marchés Tél. :
                02.97.01.70.92 télécopieur : 02.97.01.70.63<Br>Mme&nbsp;Le Barbier<Br>Service Financier - domaine
                marchés Tél. : 02.97.01.70.93 télécopieur : 02.97.01.70.63<Br><Br>Mel :
                sefi.marches@listes.univ-ubs.fr<Br><Br>Les renseignements d'ordre techniques peuvent être obtenus auprès
                de :<br><br>ingenierie le bagousse<Br>15 rue de Kerhoas<Br>56260 larmor plage<Br>Tel :
                02.97.37.44.21<Br>télécopieur : 02.97.37.72.68<Br>Courriel : bet@ilb-fluides.com.
            <p><I>Conditions et mode de paiement pour obtenir les documents contractuels et additionnels</I> :<BR>retrait
                gratuit du dossier :<Br><Br>1 - en adressant une demande à l'adresse suivante :<Br>Université de
                Bretagne Sud<Br>Service financier - domaine marchés<Br>Bâtiment des services centraux<Br>Rue André Lwoff<Br>B.P.&nbsp;573<Br>56017
                vannes Cedex<Br>Tel 02.97.01.70.92<Br>Tel 02.97.01.70.93<Br>télécopieur 02.97.01.70.63<br>sefi.marches@listes.univ-ubs.fr<Br><Br>2
                - en téléchargeant le dossier sur le site www.marches-publics.gouv.fr<Br><Br>Les candidats pourront se
                référer au manuel d'utilisation ainsi qu'aux pré- requis techniques disponibles sur ce site.<Br>Afin de
                pouvoir décompresser et lire les documents, les soumissionnaires devront disposer des logiciels
                permettant de lire les formats suivants :<Br>- zip, pdf, doc et xls.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>transmission papier :<Br>Les offres
                seront envoyées par la poste en recommandé avec avis de réception postal, par transporteur ou déposées
                contre récépissé à l'adresse suivante:<Br><Br>Universite de Bretagne Sud<Br>Service financier - domaine
                marchés<Br>Bâtiment des services centraux<Br>Campus de Tohannic<Br>Rue André Lwoff B.P.&nbsp;573<Br>56017
                Vannes Cedex<Br><Br>En cas de remise contre récépissé, le service est ouvert du lundi au vendredi, de 9
                heures à 12 heures et de 14 heures à 17 heures.<Br><Br>Transmission électronique :<Br>Les candidats
                peuvent transmettre leurs documents par voie électronique sur le profil d'acheteur du pouvoir
                adjudicateur, à l'adresse URL suivante : http://www.marches-publics.gouv.fr.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>30&nbsp;juin&nbsp;2015.</P><I>Adresse
                auprès de laquelle des renseignements d'ordre administratif et technique peuvent être obtenus&nbsp;:&nbsp;</I>Universite
            Bretagne Sud.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>service financier marchés,&nbsp;&nbsp;rue André
            Lwoff B.P.&nbsp;573,&nbsp;&nbsp;56017&nbsp;Vannes,&nbsp;, courriel&nbsp;:&nbsp;sefi.marches@listes.univ-ubs.fr.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de Rennes&nbsp;cité
                judiciaire&nbsp;35000&nbsp;Rennes.</P>
            <P><I>Organe chargé des procédures de médiation&nbsp;:&nbsp;</I>Comité consultatif interrégional de
                règlement amiable des litiges relatifs aux marchés publics&nbsp;44000&nbsp;Nantes.</P><I>Précisions
                concernant le(s) délai(s) d'introduction des recours : </I>recours gracieux auprès de l'administration :
            pas de condition de délais<Br>Recours contentieux : 2 mois à compter de la date de la décision individuelle
            défavorable.<Br>Service auprès duquel des renseignements sur l'introduction des recours peuvent être obtenus<Br>Universite
            de bretagne sud<Br>Service financier / Marchés<Br>Campus de Tohannic<Br>B.P.&nbsp;573<Br>56017 Vannes. .<BR><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2998592&noa=15-100030" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>