<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>18</B><!-- ED=20158182--><BR>Annonce No&nbsp;<B>15-100893</B><BR>Travaux<!--Commune-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Ville de Vierzon.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;Sansu
            Nicolas, Maire,&nbsp;place de l'hôtel de Ville - B.P.&nbsp;337&nbsp;18103&nbsp;Vierzon Cedex, tél.&nbsp;:&nbsp;02-48-52-65-00.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://www.achatpublic.com/sdm/ent/gen/index.jsp","TestLien","");'
                    class="lien">https://www.achatpublic.com/sdm/ent/gen/index.jsp</A>.<BR>Le pouvoir adjudicateur
            n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s) Activité(s) du pouvoir
                adjudicateur : </i> Services généraux des administrations publiques, Ordre et sécurité publics, Loisirs,
            culture et religion, Éducation.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>travaux d'élargissement du chemin des Gaudrets</B>.<BR><I>Type
                de marché de travaux&nbsp;:&nbsp;</I> exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45233140.<BR><I>Lieu
                d'ex&eacute;cution&nbsp;:&nbsp;</I>vierzon,&nbsp;18100&nbsp;Vierzon.<BR><I>Code NUTS : </I>|FR241|.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>la consultation est composée d'une
                tranche ferme et de deux tranches conditionnelles :<BR>tranche ferme : élargissement de la voie<br>tranche
                CONDITIONNELLE 1 : création d'un mini giratoire<br>tranche CONDITIONNELLE 2 : installation de chantier
                pour le mini giratoire<BR><I>Refus des variantes</I>.<BR>La procédure d'achat du présent avis est
                couverte par l'accord sur les marchés publics de l'OMC : oui.<br/><BR>Prestations divisées en lots :
                non.<BR><I>Cautionnement et garanties exigés&nbsp;:&nbsp;</I>pour la tranche ferme, conformément à
                l'article 101 du code des marchés publics, une retenue de garantie de 5% sera prélevée par fraction sur
                chacun des versements et augmentée le cas échéant du montant des avenants.<br>conformément à l'article
                102 du code des marchés publics, la retenue de garantie peut être remplacée au gré du titulaire par une
                garantie à première demande ou si le pouvoir adjudicateur ne s'y oppose pas par une caution personnelle
                et solidaire. En cas d'avenant, elle doit être complétée dans les mêmes conditions.<br>aucune retenue de
                garantie ne sera appliquée pour les tranches conditionnelles.<BR><I>Modalités essentielles de
                    financement et de paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>les
                paiements seront effectués par virement administratif au compte ouvert correspondant au RIB fourni par
                le candidat.<br>le délai maximum de paiement et sa mise en &oelig;uvre sont fixés par décret
                n<sup>o</sup>2013-269 du 29 mars 2013 relatif à la lutte contre les retards de paiements dans les
                contrats de la commande publique, il est de 30 jours à compter de la date de réception de la demande de
                paiement à la mairie de Vierzon.<Br>Le défaut de paiement dans le délai global maximum fait courir de
                plein droit des intérêts moratoires au bénéfice du titulaire du marché dans les conditions prévues aux
                articles 8 à 12 du décret n<sup>o</sup>2013-269 du 29 mars 2013.<BR><I>L'exécution du marché est soumise
                    à d'autres conditions particulières : </I>non.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I>
            <P><I>Marché réservé :&nbsp;</I>non.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire obligatoirement par le candidat, à l'appui de sa candidature&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Copie
                du ou des jugements prononcés, si le candidat est en redressement judiciaire.<br/><br/><i>Documents à
                    produire à l'appui des candidatures par le candidat, au choix de l'acheteur
                    public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire DC1, Lettre de
                candidature - Habilitation du mandataire par ses co-traitants (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC2, Déclaration du candidat individuel ou du membre du groupement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC&nbsp;4, Déclaration de sous-traitance (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4).<br/><br/><i>Documents
                    à produire obligatoirement par l'attributaire, avant la signature et la notification du marché
                    public ou de l'accord-cadre (formulaire NOTI1)&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Les
                pièces prévues aux articles D. 8222-5 ou D. 8222-7 et D. 8222-8 du code du travail;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                l'attributaire est établi en France, les attestations et certificats délivrés par les administrations et
                organismes compétents prouvant qu'il a satisfait à ses obligations fiscales et sociales ou un état
                annuel des certificats reçus;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si les documents fournis par le
                candidat ne sont pas établis en langue française, ils doivent être accompagnés d'une traduction en
                français, certifiée conforme à l'original par un traducteur assermenté.<br/><br/><i>Autres
                    renseignements demandés&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres
                renseignements demandés : les attestations d'assurance en cours de validité (décennale le cas échéant et
                risques professionnels) à fournir par l'attributaire avant la signature et la notification du marché.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>24&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;17&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>FC 15/193.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>le retrait du dossier est obligatoire pour répondre à
                la consultation. Le dossier peut être retiré gratuitement :<Br>- en mairie de Vierzon au pôle marchés
                publics situé place de l'hôtel de Ville à Vierzon (18100)<br>ou téléchargé :<Br>- sur la plateforme
                "achatpublic.com" : http://www.achatpublic.com<BR>ou demandé (le dossier sera envoyé par voie postale) :<Br>-
                par mail à : severine.limousin@ville-vierzon.fr<br>- par télécopieur au : 02 48 52 69 50<BR>l'exécutif
                du pouvoir adjudicateur pourra négocier avec les candidats ayant déposé une offre, sur tous les éléments
                de celle-ci, notamment le prix. De même, il pourra admettre à la négociation les candidats ayant remis
                des offres inappropriées, irrégulières ou inacceptables.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>1.e.r&nbsp;juillet&nbsp;2015.</P><I>Adresse
                auprès de laquelle les documents peuvent être obtenus&nbsp;:&nbsp;</I>Mairie - Pôle Marchés Publics.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>Mme&nbsp;LIMOUSIN
            Séverine,&nbsp;&nbsp;place de l'hôtel de Ville,&nbsp;&nbsp;18100&nbsp;Vierzon,&nbsp;, tél.&nbsp;:&nbsp;02-48-52-65-16,&nbsp;,
            télécopieur&nbsp;:&nbsp;02-48-52-69-50,&nbsp;, courriel&nbsp;:&nbsp;severine.limousin@ville-vierzon.fr,&nbsp;&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://achatpublic.com","TestLien","");' class="lien">http://achatpublic.com</A>.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal Administratif d'Orléans&nbsp;28,
                rue de la Bretonnerie&nbsp;45057&nbsp;Orléans Cedex, tél.&nbsp;:&nbsp;02-38-77-59-00, courriel&nbsp;:&nbsp;greffe.ta-orleans@juradm.fr,
                télécopieur&nbsp;:&nbsp;02-38-53-85-16&nbsp;adresse internet&nbsp;: <A
                        HREF='javascript:BMP_openWindow("http://www.orleans.tribunal-administratif.fr","TestLien","");'
                        class="lien">http://www.orleans.tribunal-administratif.fr</A>.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Tribunal
                Administratif d'Orléans&nbsp;28, rue de la Bretonnerie&nbsp;45057&nbsp;Orléans Cedex, tél.&nbsp;:&nbsp;02-38-77-59-00,
                courriel&nbsp;:&nbsp;greffe.ta-orleans@juradm.fr, télécopieur&nbsp;:&nbsp;02-38-53-85-16&nbsp;adresse
                internet&nbsp;: <A
                        HREF='javascript:BMP_openWindow("http://www.orleans.tribunal-adminstratif.fr","TestLien","");'
                        class="lien">http://www.orleans.tribunal-adminstratif.fr</A>.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2999455&noa=15-100893" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>