<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>83</B>,&nbsp;13,&nbsp;4,&nbsp;6<!-- ED=20158182--><BR>Annonce No&nbsp;<B>15-101086</B><BR>Travaux
            <!--Autre--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>SAGEM.<BR>&nbsp;Correspondant&nbsp;:&nbsp;
            M.&nbsp;le directeur général,&nbsp;132 rue le corbusier&nbsp;83130&nbsp;La Garde, tél.&nbsp;:&nbsp;04-94-08-63-07,
            courriel&nbsp;:&nbsp;c.eyraud@sagep83.com&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://sagem-lagarde.e-marchespublics.com","TestLien","");'
                    class="lien">http://sagem-lagarde.e-marchespublics.com</A>.<BR>Adresse internet du profil d'acheteur&nbsp;:
            <A HREF='javascript:BMP_openWindow("http://sagem-lagarde.e-marchespublics.com","TestLien","");'
               class="lien">http://sagem-lagarde.e-marchespublics.com</A>.<BR>Le pouvoir adjudicateur n'agit pas pour le
            compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s) Activité(s) du pouvoir adjudicateur : </i>
            Logement et équipements collectifs, Aménagement et construction.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>travaux de réaménagement du rez-de-chaussée et du
                1<sup>er</sup> étage de l'immmeuble " le florès" en centre de formation spécialisé dans la restauration
                et l'implantation d'une antenne locale de la sagem</B>.<BR><I>Type de marché de travaux&nbsp;:&nbsp;</I>
                exécution.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>le florès -&nbsp;avenue jacques duclos - 83130
                la garde,&nbsp;83130&nbsp;La Garde.<BR><I>Code NUTS : </I>|FR825|.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><br><i>Quantités (fournitures et services),
                nature et étendue (travaux)&nbsp;:&nbsp;</i>le réaménagement et la réhabilitation du rdc et du r+1 de
                l'immeuble le florès pour l'implantation d'un centre de formation spécialisé dans la restauration au rdc
                et r+1 : avec une cuisine pédagogique, une salle de restaurant, des vestiaires et sanitaires, des salles
                de classes et des salles administratives et une terrasse extérieure à l'extérieure du bâtiment, pour une
                surface utile de 729.8 mètres carrés<br>au rdc également, l'installation de l'antenne de la sagem : avec
                des bureaux, sanitaires et salle de vie, pour une surface utile de 91.5 mètres carrés et un local vélo
                de 31 mètres carrés de surface utile.<BR><i>Options : descriptions concernant les achats complémentaires&nbsp;:&nbsp;</i>oui<Br>Description
                de ces options : option au sens communautaire : le maître d'ouvrage se réserve le droit de passer des
                avenants, des marchés de travaux ayant pour objet la réalisation de prestations similaires ou des
                marchés de travaux complémentaires.<BR><I>Refus des variantes</I>.<BR>Le présent avis correspond à un
                avis périodique indicatif constituant une mise en concurrence.<br/><BR>Prestations divisées en lots :
                oui.<BR>Possibilité de pr&eacute;senter une offre pour tous les lots.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>5 mois à compter de la notification du
                marché.<BR><i>Date&nbsp;prévisionnelle&nbsp;de&nbsp;commencement&nbsp;des&nbsp;travaux&nbsp;:&nbsp;</i>27&nbsp;juillet&nbsp;2015.<BR><I>Cautionnement
                    et garanties exigés&nbsp;:&nbsp;</I>retenue de garantie de 5% sur les situations de travaux ou, en
                substitution, une caution personnelle et solidaire.<BR><I>Modalités essentielles de financement et de
                    paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>prix global, ferme et non
                actualisable et forfaitaire<br>délai de paiement de 45 jours à compter de la réception de la demande
                d'accompte par le maître d'&oelig;uvre, les 45 jours étants comptés à partir de la fin du mois
                d'émission de la facture.<br>le délai maximum de paiement du solde est de 45 jours, à compter de la date
                de réception du décompte général et définitif par le maître d'ouvrage, les 45 jours étant comptés à
                partir de la fin du mois d&#8216;émission du décompte général.<BR><i>Forme juridique que devra revêtir
                    le groupement d'opérateurs économiques attributaire du marché&nbsp;:&nbsp;</i>chaque lot fait
                l'objet d'un marché séparé confié à une entreprise ou à un groupement d'entreprises solidaires ou
                conjointes, le mandataire du groupement étant obligatoirement solidaire de l'ensemble des
                co-traitants.<BR><I>Langues pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Situation juridique - références requises&nbsp;:&nbsp;</I>renseignements
                et formalités nécessaires pour évaluer si ces exigences sont remplies:<br>- une lettre de candidature,
                mentionnant l'identification du candidat, l'objet du contrat pour lequel il fait acte de candidature,
                datée et signée par le candidat en précisant ses noms et qualité. En cas de groupement, cette lettre
                sera signée par chaque membre du groupement ou par le mandataire dûment habilité, et les justifications
                exigées ci-dessous seront à produire par chaque membre du groupement.<br>- une déclaration sur l'honneur
                (cf. Modèle joint) attestant qu'il ne fait pas l'objet d'une des interdictions de soumissionner telles
                que définies à l'article 8 de l'ordonnance du 6 juin 2005 n<sup>o</sup>2005-649.<br>- si le candidat est
                en redressement judiciaire, copie du ou des jugements prononcés à cet effet.<br>- pouvoirs de la
                personne habilitée à engager le candidat.<BR><I>Capacité économique et financière - références requises&nbsp;:&nbsp;</I>renseignements
                et formalités nécessaires pour évaluer si ces exigences sont remplies :<Br>- déclaration concernant le
                ca global et le ca concernant les travaux objets du marché, réalisés au cours des 3 derniers exercices
                disponibles.<br>- attestation d'assurance responsabilité civile professionnelle<BR><I>Référence
                    professionnelle et capacité technique - références requises&nbsp;:&nbsp;</I>renseignements et
                formalités nécessaires pour évaluer si les exigences sont remplies :<Br>- déclaration indiquant les
                effectifs moyens annuels et l'importance du personnel d'encadrement pour chacune des 3 dernières années.<br>-
                déclaration indiquant l'outillage, le matériels et l'équipement technique dont le candidat dont le
                candidat dispose pour la réalisation de marchés de même nature.<br>- liste des travaux exécutés au cours
                des 5 dernières années, appuyée d'attestations de bonne exécution pour les travaux les plus importants,
                indquant le montant, la date et le lieu d'exécution, précisant s'ils ont été effectués dans les règles
                de l'art et menés régulièrement à bonne fin.<br>- titres d'études et professionnels de l'opérateur
                économique et/ou des cadres de l'entreprise, et notamment des responsables de conduites de travaux de
                même nature que celle du marché.<br>- certificats et qualifications professionnelles ou la preuve de la
                capacité du candidat apportée par tout moyen, notamment par des certificats d'identité professionnelle
                ou des références de travaux attestant de la compétence du candidat à réaliser la prestation.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>17&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i>
            <P><I>Renseignements complémentaires&nbsp;:&nbsp;</I>- procédure " adaptée " en application de l'article 10
                du décret n<sup>o</sup>2005-1742 du 30-12-05 en une seule phase avec négociation.<br>- en application
                des dispositions de l'article 4 de l'ordonnance n<sup>o</sup>2005-649 du 6 juin 2005, l'exécution du
                marché comporte une clause sociale d'insertion obligatoire.<br>- le lot 1 : désamiantage fera l'objet
                d'un prochain appel d'offre.
            <p><I>Conditions et mode de paiement pour obtenir les documents contractuels et additionnels</I> :<BR>Un
                exemplaire du dossier de consultation des entreprises est remis ou envoyé à chaque candidat sur sa
                demande, par courrier ou par retrait sur support papier contre un chèque caution d'un montant de 50&nbsp;euros
                libellé à l'ordre de la sagem restitué à tout candidat qui aura remis une offre.<BR>les documents ne
                seront remis ou envoyés aux candidats qu'après réception par le maître de l'ouvrage du chèque de
                paiement. <BR>Le dossier de consultation peut être demandé ou retiré en temps utile à l'adresse suivante
                :<Br>Pouvoir adjudicateur : sagem - 132, rue le corbusier - 83130 la
                garde<br>c.gohe@sagem-lagarde.com<br>c.eyraud@sagep83.com.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>les candidatures et/ou offres devront
                être remises, sous forme papier, dans une enveloppe cachetée insérée sous pli également cachetée, avant
                les jours et heures inscrits sur le présent avis. Si elles sont envoyées par la poste, elles devront
                l'être à cette même adresse, par pli recommandé avec avis de réception postale, et parvenir à
                destination avant ces mêmes dates et heures limites.<br>les plis qui seraient remis, ou dont l'avis de
                réception serait délivré après les dates et heures limites fixées ci-dessus, ainsi que ceux remis à
                l'adresse suivante et porteront les mentions suivantes :<Br>M.&nbsp;le directeur général<br>132 rue le
                corbusier<br>83 130 la garde<br>offre pour : réaménagement du rdc et r+1 du florès entreprise :<Br>Lot n<sup>o</sup>:<br>ne
                pas ouvrir avant la séance d'ouverture des plis.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>30&nbsp;juin&nbsp;2015.</P><I>Adresse
                auprès de laquelle des renseignements complémentaires peuvent être obtenus&nbsp;:&nbsp;</I>Sagem.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>
            Camille eyraud,&nbsp;&nbsp;132 rue le corbusier,&nbsp;&nbsp;83130&nbsp;La Garde,&nbsp;, tél.&nbsp;:&nbsp;04-94-08-63-08,&nbsp;,
            courriel&nbsp;:&nbsp;c.eyraud@sagep83.com.<BR><I>Adresse auprès de laquelle des renseignements d'ordre
                technique peuvent être obtenus&nbsp;:&nbsp;</I>Sagem.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I> Camille
            eyraud,&nbsp;&nbsp;132 rue le corbusier,&nbsp;&nbsp;83130&nbsp;La Garde,&nbsp;, tél.&nbsp;:&nbsp;04-94-08-63-07,&nbsp;,
            courriel&nbsp;:&nbsp;c.eyraud@sagep83.com.<BR><I>Adresse auprès de laquelle des renseignements d'ordre
                administratif peuvent être obtenus&nbsp;:&nbsp;</I>Sagem.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>
            Charlotte gohe,&nbsp;&nbsp;132 rue le corbusier,&nbsp;&nbsp;83130&nbsp;La Garde,&nbsp;, tél.&nbsp;:&nbsp;04-94-08-63-08,&nbsp;,
            courriel&nbsp;:&nbsp;c.gohe@sagem-lagarde.com.<BR><I>Adresse auprès de laquelle les documents peuvent être
                obtenus&nbsp;:&nbsp;</I>Sagem.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I> Charlotte gohe,&nbsp;&nbsp;132
            rue le corbusier,&nbsp;&nbsp;83130&nbsp;La Garde,&nbsp;, tél.&nbsp;:&nbsp;04-94-08-63-08,&nbsp;, courriel&nbsp;:&nbsp;c.gohe@sagem-lagarde.com.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal de grande instance&nbsp;place
                gabriel peri&nbsp;83000&nbsp;Toulon.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Greffe
                du tribunal de grande instance&nbsp;place gabriel peri&nbsp;83000&nbsp;Toulon.</P>
            <P><I>Renseignements relatifs aux lots&nbsp;:&nbsp;</I>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 1.</span> - désamiantage (ce lot fera l'objet
                                    d'une prochaine mise en concurrence).
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Désamiantage selon diagnostique amiante</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 2.</span> - gros &oelig;uvre - demolition
                                    ravalement etancheitee.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">- mise à nu de l'existant (décloisenement, désahbillage, déséquipement,
                                    démolition et sciage)<br>- isolement du local cycle (réalisation d'un mur en
                                    parapaing)<br>- accès PMR (création d'une rampe d'accès, d'un escalier et
                                    modification du palier existant)<br>- aménagement d'une terrasse extérieure<br>-
                                    terrasse toiture R+1 (étanchéité : pose de dalles sur plot, garde corps, sortie
                                    d'eau et trop pleins, passage de la Vmc)
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 3.</span> - menuiserie interieures et
                                    exterieures serrurerie.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">- remplaçement des menuiseries extérieures sauf celles en alu existantes<br>-
                                    fourniture et pose de portes intérieures<br>- mise en jeu, révision de portes
                                    existantes<br>- fournitures et pose de blocs portes coupe feu<br>- portes
                                    extérieures alu (dépose, pose de nouvelle portes d'entrée, révision des volets
                                    roulants)<br>- dépose et repose de portes extérieures acier<br>- fourniture et pose
                                    de garde corps, casiers, bancs, plan vasque, placards pour kitchenettes, penderie,
                                    trappes de vistes techniques etc&#8230;
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 4.</span> - cloisons et faux plafonds.</td>
                            </tr>
                            <tr>
                                <td class="txt">- décloisonnement Recloisonnement (travaux de réalisation de cloisons de
                                    distrubutions, de doublages, faux plafonds et divers)
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 5.</span> - peinture.</td>
                            </tr>
                            <tr>
                                <td class="txt">- travaux préparatoires<br>- application (peintures sur bois, métal, sur
                                    PVC, peintures au sol et extérireur, notamment pour une partie du ravalement de la
                                    façade et pour le dispositif PMR sur voirie)<br>- nettoyage (pour les OPR et pour la
                                    livraison)<br>- echantillons
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 6.</span> - revetements sols et murs.</td>
                            </tr>
                            <tr>
                                <td class="txt">- revêtements de sols (Carrelages, étanchéité, plinthes, sols souples,
                                    tapis de sols)<br>- revêtements muraux - plinthes (faiences)
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 7.</span> - electricite.</td>
                            </tr>
                            <tr>
                                <td class="txt">- travaux d'électricité courant fort et courant faible (interphonie,
                                    réseaux TV, téléphoniques et informatique et divers)<br>- fourniture et pose des
                                    éclairages intérieurs et extérieurs<br>- alarme technique et incendie
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 8.</span> - chauffage ventilation
                                    climatisation plomberie.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">- travaux de chauffage (chaufferie existante, distrubution,
                                    radiateurs)<br>- travaux de ventilation (caissons d'extraction VMC, centrale de
                                    traitement d'air, réseaux aérauliques, grille de difusion et de reprise,
                                    calorifugeage des gaines, bouches d'entrée d'air, asservissements des
                                    ventilateurs)<br>- travaux de ventilation de la zone cuisson<br>- travaux de
                                    désenfumage<br>- travaux de climatisation (en option)<br>- travaux de plomberie
                                    (alimentation ef, ecs et sanitaires)
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 9.</span> - cuisine.</td>
                            </tr>
                            <tr>
                                <td class="txt">- fourniture et pose de laves mains<br>- dépose et remplacement de la
                                    tourelle d'extraction<br>- dépose et remplacement d'un nouveau caisson de
                                    ventilation (moteur de compensation) au R+1
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2999648&noa=15-101086" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>