<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>44</B><!-- ED=20158184--><BR>Annonce No&nbsp;<B>15-101404</B><BR>Services<!--Commune-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Ville de Nantes.<BR>&nbsp;Correspondant&nbsp;:&nbsp;Mme&nbsp;le
            maire,&nbsp;centre Communal d'action Sociale Département prévention et solidarité Direction des Services
            Généraux - service Coordination de la commande publique 1, bis place Saint Similien B.P.&nbsp;63625&nbsp;44036&nbsp;Nantes
            Cedex 1, tél.&nbsp;:&nbsp;(+33)2-40-99-28-33, courriel&nbsp;:&nbsp;laurence.duchaussoy@mairie-nantes.fr&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.nantes.fr","TestLien","");' class="lien">http://www.nantes.fr</A>.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.marchespublics.nantesmetropole.fr","TestLien","");'
                    class="lien">http://www.marchespublics.nantesmetropole.fr</A>.<BR>Le pouvoir adjudicateur n'agit pas
            pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s) Activité(s) du pouvoir adjudicateur
                : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>prestations de services d'insertion et de qualifications
                professionnelles: nettoyage du linge des personnes sans domicile</B>.<BR><I>Catégorie de services&nbsp;:&nbsp;</I>27.<BR><I>Lieu
                d'ex&eacute;cution&nbsp;:&nbsp;</I>nantes.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>le présent marché à procédure adaptée
                (M.A.Pa.) a pour objet des prestations de services d'insertion et de qualification professionnelles,
                dans les conditions prévues à l'article 30 du Code des marchés publics, et vise l'insertion sociale et
                professionnelle de personnes durablement exclues du marché du travail ou qui rencontrent des difficultés
                d'accès ou de maintien dans l'emploi.<Br>La prestation support portera sur le nettoyage de linge pour
                des personnes sans domicile. <Br>Ainsi, le CCAS de Nantes confiera au candidat retenu des prestations
                d'appui et d'accompagnement à l'emploi dans le cadre d'activités d'utilité sociale axées sur des travaux
                de nettoyage de linge pour des personnes sans domicile.<Br>Le ou les candidats s'engage(nt) à accueillir
                des salariés conformément aux postes conventionnés par le Comité Départemental d'insertion par
                l'activité Economique.<Br>La présente procédure adaptée ouverte est soumise aux dispositions de
                l'article 30 du Code des marchés publics.<Br>Le montant annuel des commandes ne pourra pas dépasser le
                seuil de 90 000 euros (H.T.).<Br>Le présent marché est conclu sans seuil minimum, le seuil maximum
                annuel est de 90 000euros HT<BR><I>Refus des variantes</I>.<BR>Prestations divisées en lots : non.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>48 mois à compter de la notification du
                marché.<BR><i>Date&nbsp;prévisionnelle&nbsp;de&nbsp;début&nbsp;des&nbsp;prestations&nbsp;(fournitures/services)&nbsp;:&nbsp;</i>1.e.r&nbsp;janvier&nbsp;2016.<BR><I>Modalités
                    essentielles de financement et de paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>financement
                sur le budget général du CCAS de Nantes.<Br>Paiement par virement à 30 jours conformément aux règles de
                la comptabilité publique.<Br>Ordonnateur: Mme&nbsp;la Vice-Présidente du CCAS de la Ville de Nantes.<Br>Comptable
                public assignataire des paiements: M.&nbsp;le Receveur des finances de Nantes Municipale.<BR><i>Forme
                    juridique que devra revêtir le groupement d'opérateurs économiques attributaire du marché&nbsp;:&nbsp;</i>pas
                de forme de groupement imposée.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>capacités professionnelles, techniques et financières.<BR><I>Situation
                juridique - références requises&nbsp;:&nbsp;</I>les candidats doivent utiliser les formulaires Dc1
                (lettre de candidature) et Dc2 (déclaration du candidat) pour présenter leur candidature. Ces documents
                sont disponibles gratuitement sur le site www.economie.gouv.fr.<BR><I>Capacité économique et financière
                    - références requises&nbsp;:&nbsp;</I>-Un document précisant le chiffres d'affaires global et le
                chiffre d'affaires spécifiques à l'objet du présent marché réalisé au cours des trois derniers exercices
                ou depuis leur création pour les entreprises plus récentes (cadre D1 du documents Dc2)<BR><I>Référence
                    professionnelle et capacité technique - références requises&nbsp;:&nbsp;</I>-Déclaration indiquant
                les effectifs moyens annuels du candidat et l'importance du personnel d'encadrement pour chacune des
                trois dernières années<Br>-Déclaration indiquant l'outillage, le matériel et l'équipement technique dont
                le candidat dispose pour la réalisation de contrats de même nature<Br>-Un document indiquant la liste
                des principales références dans des opérations similaires au cours des 3 dernières années ou depuis leur
                création pour les entreprises plus récentes, avec notamment l'objet, le montant, l'année de réalisation,
                les bénéficiaires des prestations. Ces références peuvent être accompagnées d'attestations de maîtres
                d'ouvrage publics ou privés et/ou complétées de certifications ou qualifications professionnelles
                éventuels du candidat (en annexe au Dc2).
            <p>La prestation n'est pas réservée à une profession particulière.
            <p>Les personnes morales sont tenues d'indiquer les noms et qualifications professionnelles des membres du
                personnel chargé de la prestation.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>11&nbsp;septembre&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>150 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>1515A002.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>2&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I>Ville de Nantes<BR>Direction de la Commande Publique<BR>Service des Marchés
            Publics.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>céline MOUSSION,&nbsp;&nbsp;11,&nbsp;avenue Carnot
            Immeuble Valmy 3<sup>e</sup> étage,&nbsp;&nbsp;44923&nbsp;Nantes Cedex 9,&nbsp;, tél.&nbsp;:&nbsp;(+33)2-40-99-62-46,&nbsp;,
            télécopieur&nbsp;:&nbsp;(+33)2-40-99-62-40,&nbsp;,
            courriel&nbsp;:&nbsp;celine.moussion@nantesmetropole.fr.<BR><I>Adresse auprès de laquelle des renseignements
                complémentaires peuvent être obtenus&nbsp;:&nbsp;</I>pour des renseignements liés à la prestation
            insertion:<BR>Nantes Métropole<BR>Direction de l'emploi et de l'innovation sociale<BR>AMO Insertion.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>thierry
            BOUREAU,&nbsp;&nbsp;2, cours du champ de mars,&nbsp;&nbsp;44923&nbsp;Nantes Cedex 9,&nbsp;, tél.&nbsp;:&nbsp;(+33)2-40-99-32-92,&nbsp;,
            courriel&nbsp;:&nbsp;thierry.boureau@nantesmetropole.fr.<BR><I>Adresse auprès de laquelle des renseignements
                d'ordre technique peuvent être obtenus&nbsp;:&nbsp;</I>CCAS de Nantes<BR>Direction des Solidarités<BR>Pôle
            Relations Usagers et Accès aux Droits.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>nathalie LEGUAY-GERMAIN,&nbsp;&nbsp;1
            bis, place Saint Similien B.P.&nbsp;63625,&nbsp;&nbsp;44036&nbsp;Nantes Cedex 1,&nbsp;, tél.&nbsp;:&nbsp;(+33)2-40-99-28-93,&nbsp;,
            courriel&nbsp;:&nbsp;nathalie.leguay-germain@mairie-nantes.fr.<BR><I>Adresse auprès de laquelle des
                renseignements d'ordre administratif peuvent être obtenus&nbsp;:&nbsp;</I>CCAS de Nantes<BR>Direction
            des Services Généraux<BR>Service coordination de la commande publique.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>laurence
            DUCHAUSSOY,&nbsp;&nbsp;1, bis place Saint Similien B.P.&nbsp;63625,&nbsp;&nbsp;44036&nbsp;Nantes Cedex 1,&nbsp;,
            tél.&nbsp;:&nbsp;(+33)2-40-99-28-33,&nbsp;,
            courriel&nbsp;:&nbsp;laurence.duchaussoy@mairie-nantes.fr.<BR><I>Adresse auprès de laquelle les documents
                peuvent être obtenus&nbsp;:&nbsp;</I>Ville de Nantes<BR>Direction de la Commande Publique<BR>Service des
            Marchés Publics.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>céline MOUSSION,&nbsp;&nbsp;11,&nbsp;avenue
            Carnot Immeuble Valmy 3<sup>e</sup> étage,&nbsp;&nbsp;44923&nbsp;Nantes Cedex 9,&nbsp;, tél.&nbsp;:&nbsp;(+33)2-40-99-62-46,&nbsp;,
            télécopieur&nbsp;:&nbsp;(+33)2-40-99-62-40,&nbsp;, courriel&nbsp;:&nbsp;celine.moussion@nantesmetropole.fr.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de Nantes&nbsp;6,
                allée de l'ile Gloriette B.P.&nbsp;24111&nbsp;44041&nbsp;Nantes Cedex 1, tél.&nbsp;:&nbsp;(+33)
                2-40-99-46-00, courriel&nbsp;:&nbsp;greffe.ta.nantes@juradm.fr, télécopieur&nbsp;:&nbsp;(+33)
                2-40-99-46-58&nbsp;adresse internet&nbsp;: <A
                        HREF='javascript:BMP_openWindow("http://nantes.tribunal-administratif.fr","TestLien","");'
                        class="lien">http://nantes.tribunal-administratif.fr</A>.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Tribunal
                administratif de Nantes&nbsp;6, allée de l'ile Gloriette B.P.&nbsp;24111&nbsp;44041&nbsp;Nantes Cedex 1,
                tél.&nbsp;:&nbsp;(+33) 2-40-99-46-00, courriel&nbsp;:&nbsp;greffe.ta.nantes@juradm.fr, télécopieur&nbsp;:&nbsp;(+33)
                2-40-99-46-58&nbsp;adresse internet&nbsp;: <A
                        HREF='javascript:BMP_openWindow("http://nantes.tribunal-administratif.fr","TestLien","");'
                        class="lien">http://nantes.tribunal-administratif.fr</A>.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=2999966&noa=15-101404" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>