<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>75</B>,&nbsp;77,&nbsp;78,&nbsp;91,&nbsp;92,&nbsp;93,&nbsp;94,&nbsp;95<!-- ED=20158184-->
            <BR>Annonce No&nbsp;<B>15-102314</B><BR>Travaux<!--Etat--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Ministère de l'agriculture.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;Simon
            Philippe, Sous-Directeur de la Logistique et du Patrimoine,&nbsp;78, rue de Varenne 78, rue de Varenne&nbsp;75349&nbsp;Paris
            07 Sp, tél.&nbsp;:&nbsp;01-49-55-60-86, télécopieur&nbsp;:&nbsp;01-49-55-48-14, courriel&nbsp;:&nbsp;bcpa.sdlp.safsl.sg@agriculture.gouv.fr.<BR>Le
            pouvoir adjudicateur n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>bsmb-2015-049 : Travaux de réaménagement d'un ensemble
                immobilier de bureaux situé au 3-7 rue Barbet de Jouy - 75007 Paris</B>.<BR><I>Type de marché de travaux&nbsp;:&nbsp;</I>
                exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45262522<br><i>Objets supplémentaires&nbsp;:&nbsp;</i>45421141<BR>45311000<BR>45331000.<BR><I>Lieu
                    d'ex&eacute;cution&nbsp;:&nbsp;</I>paris,&nbsp;75007&nbsp;Paris.<BR><I>Code NUTS : </I>|FR101|.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>selon les macros-lots et conformément à
                l'article 72 du code des marchés publics, les prestations sont réparties entre une tranche ferme et une
                ou deux tranches conditionnelles.<br>les prestations seront à exécuter au 3-7 rue Barbet de Jouy - 75007
                Paris.<Br>Le titulaire du macro lot contrôle d'accès devra également intervenir sur le site d'auzeville
                situé au complexe agricole d'auzeville-tolosane - rD 813 - 31320 Auzeville-Tolosane et sur le site de
                Varenne situé au 78 rue de Varenne - 75007 Paris<BR><i>Quantités (fournitures et services), nature et
                    étendue (travaux)&nbsp;:&nbsp;</i>travaux d'aménagement de la zone bureaux : accessibilité, mise aux
                normes incendie, réseau, contrôle d'accès<br>l'exécution des travaux sera répartie en quatre phases. Les
                phases 1 - 2 et 3 feront l'objet de réceptions partielles.<BR><I>Refus des variantes</I>.<BR>Prestations
                divisées en lots : oui.<BR>Possibilité de pr&eacute;senter une offre pour un ou plusieurs lots.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>11 mois à compter de la notification du
                marché.<BR><i>Date&nbsp;prévisionnelle&nbsp;de&nbsp;commencement&nbsp;des&nbsp;travaux&nbsp;:&nbsp;</i>9&nbsp;octobre&nbsp;2015.<BR><I>Cautionnement
                    et garanties exigés&nbsp;:&nbsp;</I>conformément aux dispositions de l'article 101 du code des
                marchés publics, une retenue de garantie de 5 % sera appliquée sur les paiements de chaque
                facture.<BR><I>Modalités essentielles de financement et de paiement et/ou références aux textes qui les
                    réglementent&nbsp;:&nbsp;</I>la dépense du marché est imputée sur les programmes 215 - 309 - 723 et
                148.<br>conformément à l'article 87 du code des marchés publics, une avance de 5 % est accordée au
                titulaire si le montant du marché ou de la tranche affermie est supérieur à 50 000,00 euro(s) (H.T.) et
                dans la mesure où le délai d'exécution est supérieur à deux mois, sauf renonciation de la part du
                titulaire exprimée à l'acte d'engagement.<br>le délai maximum de paiement, sur lequel l'acheteur
                s'engage, est de trente (30) jours conformément au titre IV de la loi n<sup>o</sup> 2013-100 du 28
                janvier 2013 portant diverses dispositions d'adaptation de la législation au droit de l'union européenne
                en matière économique et financière. Le retard de paiement donne lieu, de plein droit et sans autre
                formalité, au versement d'une indemnité forfaitaire de quarante (40)&nbsp;euros pour frais de
                recouvrement. Lorsque les frais de recouvrement exposés sont supérieurs au montant de cette indemnité
                forfaitaire, le créancier peut demander une indemnisation complémentaire, sur justification. Le taux des
                intérêts moratoires, applicable pour le calcul de l'indemnisation complémentaire, est égal au taux
                d'intérêt de la principale facilité de refinancement appliquée par la Banque centrale européenne à ses
                opérations principales de refinancement les plus récentes en vigueur au premier jour du semestre de
                l'année civile au cours duquel les intérêts moratoires ont commencé à courir majoré de huit
                points.<BR><I>L'exécution du marché est soumise à d'autres conditions particulières : </I>non.<BR><I>Langues
                    pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>se référer à l'article 3.3 du Règlement de la consultation.<BR><I>Situation
                juridique - références requises&nbsp;:&nbsp;</I>se référer à l'article 3.3 du Règlement de la
                consultation.<BR><I>Capacité économique et financière - références requises&nbsp;:&nbsp;</I>se référer à
                l'article 3.3 du Règlement de la consultation<BR><I>Capacité économique et financière - Niveau(x)
                    spécifique(s) minimal(aux) exigé(s)&nbsp;:&nbsp;</I>se référer à l'article 3.3 du Règlement de la
                consultation.<BR><I>Référence professionnelle et capacité technique - références
                    requises&nbsp;:&nbsp;</I>se référer à l'article 3.3 du Règlement de la consultation.<BR><I>Référence
                    professionnelle et capacité technique - Niveau(x) spécifique(s) minimal(aux)
                    exigé(s)&nbsp;:&nbsp;</I>se référer à l'article 3.3 du Règlement de la consultation.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire à l'appui des candidatures par le candidat, au choix de l'acheteur
                public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire DC1, Lettre de candidature -
                Habilitation du mandataire par ses co-traitants (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC2, Déclaration du candidat individuel ou du membre du groupement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC3, Acte d'engagement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC&nbsp;4, Déclaration de sous-traitance (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;S'il
                s'appuie, pour présenter sa candidature, sur les capacités professionnelles, techniques et financières
                d'autres opérateurs économiques, le candidat produit les mêmes documents concernant cet opérateur
                économique que ceux qui lui sont exigés par l'acheteur public. Le candidat doit également apporter la
                preuve que chacun de ces opérateurs économiques mettra à sa disposition les moyens nécessaires, pendant
                toute la durée d'exécution du marché public ou de l'accord-cadre;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                les documents fournis par le candidat ne sont pas établis en langue française, ils doivent être
                accompagnés d'une traduction en français, certifiée conforme à l'original par un traducteur
                assermenté.<br/><br/><i>Documents à produire obligatoirement par l'attributaire, avant la signature et
                    la notification du marché public ou de l'accord-cadre (formulaire NOTI1)&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Les
                pièces prévues aux articles D. 8222-5 ou D. 8222-7 et D. 8222-8 du code du travail;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                l'attributaire est établi en France, les attestations et certificats délivrés par les administrations et
                organismes compétents prouvant qu'il a satisfait à ses obligations fiscales et sociales ou un état
                annuel des certificats reçus;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si l'attributaire est établi dans
                un Etat autre que la France, un certificat établi par les administrations et organismes du pays
                d'origine. Lorsqu'un tel certificat n'est pas délivré par le pays concerné, il peut être remplacé par
                une déclaration sous serment, ou dans les Etats où un tel serment n'existe pas, par une déclaration
                solennelle faite par l'intéressé devant l'autorité judiciaire ou administrative compétente, un notaire
                ou un organisme professionnel qualifié du pays;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si les documents
                fournis par le candidat ne sont pas établis en langue française, ils doivent être accompagnés d'une
                traduction en français, certifiée conforme à l'original par un traducteur assermenté.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;planning,
                organisation de chantier et moyens mobilisés : 30 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;mémoire
                technique : 25 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;montant global et forfaitaire de l'offre : 45
                %.<BR>Une enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>27&nbsp;août&nbsp;2015,&nbsp;à&nbsp;17&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>BSMB-2015-049.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>le dossier de consultation sera disponible à compter du
                10 juillet 2015. Un complément pour le macro lot fluide sera disponible vers le 16 juillet 2015. Le
                dossier de consultation peut être téléchargé sur la plate-forme dédiée aux marchés publics de l'etat
                (https://www.marches-publics.gouv.fr/) sous la référence Bsmb-2015-049.<Br>Le contenu du dossier de
                consultation (Dce) mis en ligne sur la Plateforme des Achats de l'etat (Place) est susceptible de faire
                l'objet de modification jusqu'à cinq jours avant la date limite de remise des plis : les candidats sont
                invités à consulter la Plateforme des Achats de l'etat (Place) et les mails transmis automatiquement par
                celle-ci à chaque modification.<br>les demandes de renseignements complémentaires peuvent être
                transmises par écrit (plate-forme dédiée aux marchés publics de l'etat, courrier, télécopie ou mail à
                l'adresse bcpa.sdlp.safsl.sg@agriculture.gouv.fr) au pouvoir adjudicateur jusqu'à huit jours avantla
                date limite de remise des plis.<br>le dossier de candidature doit comporter les pièces listées à
                l'article 5.1 du règlement de la consultation. <Br>Le dossier d'offre doit comporter les pièces listées
                à l'article 5.2 du règlement de la consultation.<br>la visite du site préalablement à la remise de
                l'offre n'est pas obligatoire. Toutefois, pour les candidats souhaitant visiter le site, trois visites
                seront organisées les 28 juillet, 11 et 18 août 2015. Le rendez-vous est fixé à 9 h 30 dans le hall de
                Barbet de Jouy 3-7 rue Barbet de Jouy - 75007 Paris. Afin de signaler sa participation, le candidat
                contactera Philippe BUSSIERE (Email : philippe.bussiere@agriculture.gouv.fr), Alexandre LAPEYRE (Email :
                alexandre.lapeyre@agriculture.gouv.fr) et Jean-Louis BONICEL (Email :
                jean-louis.bonicel@agriculture.gouv.fr).<br>pour chaque macro lot, après examen des offres reçues, le
                pouvoir adjudicateur engagera des négociations. Les négociations auront lieu avec les trois meilleurs
                candidats à l'issue de la première analyse des offres. Les négociations pourront se dérouler par phases
                successives au cours desquelles le nombre de candidat admis à négocier pourra être réduit. Le cas
                échéant, l'invitation à négocier parviendra par email. La négociation fera l'objet d'une procédure
                écrite par courrier ou e-mail ou d'entretien(s). Les négociations pourront porter sur tous les éléments
                de l'offre, notamment sur le prix.<br>en cas de besoin, et en application des articles 35 II 5° et 35 II
                6° du code des marchés publics, la personne publique pourra recourir à la procédure négociée en vue de
                la passation de marchés complémentaires ou similaires.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>se référer à la l'article 6 du règlement
                de la consultation.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>2&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I>Ministère de l'Agriculture, de l'Agroalimentaire et de la Forêt - SG-SAFSL-SDLP
            - Bureau de la Commande Publique et des Achats.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>Mme&nbsp;BRIONNE
            Valérie,&nbsp;&nbsp;78 rue de Varenne,&nbsp;&nbsp;75349&nbsp;Paris 07 Sp,&nbsp;, tél.&nbsp;:&nbsp;01-49-55-60-86,&nbsp;,
            télécopieur&nbsp;:&nbsp;01-49-55-48-14.<BR><I>Adresse auprès de laquelle des renseignements complémentaires
                peuvent être obtenus&nbsp;:&nbsp;</I>Ministère de l'Agriculture, de l'Agroalimentaire et de la Forêt -
            SG-SAFSL-SDLP - Bureau de la Commande Publique et des Achats.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>Mme&nbsp;BRIONNE
            Valérie,&nbsp;&nbsp;78 rue de Varenne,&nbsp;&nbsp;75349&nbsp;Paris 07 Sp,&nbsp;, tél.&nbsp;:&nbsp;01-49-55-60-86,&nbsp;,
            télécopieur&nbsp;:&nbsp;01-49-55-48-14,&nbsp;,
            courriel&nbsp;:&nbsp;bcpa.sdlp.safsl.sg@agriculture.gouv.fr.<BR><I>Adresse auprès de laquelle des
                renseignements d'ordre technique peuvent être obtenus&nbsp;:&nbsp;</I>Et alexandre lapeyre (tél : 01 49
            55 53 80 - mail : alexandre.lapeyre@agriculture.gouv.fr) et jean-louis bonicel (tél : 01 49 55 56 73 - mail
            : jean-louis.bonicel@agriculture.gouv.fr).<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>M.&nbsp;Bussiere
            Philippe,&nbsp;&nbsp;78 rue de Varenne,&nbsp;&nbsp;75349&nbsp;Paris 07 Sp,&nbsp;, tél.&nbsp;:&nbsp;01-49-55-49-61,&nbsp;,
            télécopieur&nbsp;:&nbsp;01-49-55-50-40,&nbsp;,
            courriel&nbsp;:&nbsp;philippe.bussiere@agriculture.gouv.fr.<BR><I>Adresse auprès de laquelle des
                renseignements d'ordre administratif peuvent être obtenus&nbsp;:&nbsp;</I>Ministère de l'Agriculture, de
            l'Agroalimentaire et de la Forêt - SG-SAFSL-SDLP - Bureau de la Commande Publique et des Achats.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>M.&nbsp;Dumas
            Patrice,&nbsp;&nbsp;78 rue de Varenne,&nbsp;&nbsp;75349&nbsp;Paris 07 Sp,&nbsp;, tél.&nbsp;:&nbsp;01-49-55-52-09,&nbsp;,
            télécopieur&nbsp;:&nbsp;01-49-55-48-14,&nbsp;,
            courriel&nbsp;:&nbsp;bcpa.sdlp.safsl.sg@agriculture.gouv.fr.<BR><I>Adresse auprès de laquelle les documents
                peuvent être obtenus&nbsp;:&nbsp;</I>Ministère de l'Agriculture, de l'Agroalimentaire et de la Forêt -
            SG-SAFSL-SDLP - Bureau de la Commande Publique et des Achats.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>Mme&nbsp;BRIONNE
            Valérie,&nbsp;&nbsp;78 rue de Varenne,&nbsp;&nbsp;75349&nbsp;Paris 07 Sp,&nbsp;, tél.&nbsp;:&nbsp;01-49-55-60-86,&nbsp;,
            télécopieur&nbsp;:&nbsp;01-49-55-48-14,&nbsp;, courriel&nbsp;:&nbsp;bcpa.sdlp.safsl.sg@agriculture.gouv.fr.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal Administratif de Paris&nbsp;7 rue
                de Jouy&nbsp;75181&nbsp;Paris Cedex 4, tél.&nbsp;:&nbsp;01-44-59-44-00, courriel&nbsp;:&nbsp;greffe.ta-paris@juradm.fr,
                télécopieur&nbsp;:&nbsp;01-44-59-46-46&nbsp;adresse internet&nbsp;: <A
                        HREF='javascript:BMP_openWindow("http://www.conseiletat.fr/ta/paris/index.shtml","TestLien","");'
                        class="lien">http://www.conseiletat.fr/ta/paris/index.shtml</A>.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Ministère
                de l'Agriculture, de l'Agroalimentaire et de la Forêt - Service des Affaires Juridiques - Bureau du
                droit financier, des contrats publics et de la concurrence&nbsp;251 rue de Vaugirard&nbsp;75732&nbsp;Paris
                Cedex 15, tél.&nbsp;:&nbsp;01-49-55-83-85, télécopieur&nbsp;:&nbsp;01-49-55-44-63.</P>
            <P><I>Renseignements relatifs aux lots&nbsp;:&nbsp;</I>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 1.</span> - macro lot Gros-&oelig;uvre -
                                    second-&oelig;uvre.
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Macro lot Gros-&oelig;uvre - second-&oelig;uvre. Ce macro lot regroupe
                                    les travaux suivants :<Br>Démolition - maçonnerie - gros-&oelig;uvre - revêtements
                                    scellés - traitement des extérieurs - charpente / Couverture / Bardage métallique -
                                    etanchéité<Br>Menuiserie extérieure - serrurerie<Br>Cloisons - faux-Plafonds<Br>Menuiserie
                                    intérieure bois<br>peinture - revêtements de sols collés
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : les candidats ont obligation de répondre
                                    à l'ensemble des prestations constituant ce macro lot. Dans le cas contraire,
                                    l'offre sera jugée irrégulière, car incomplète, conformément à l'article 35-i du
                                    code des marchés publics et sera éliminée conformément à l'article 53-iii du code
                                    des marchés publics.<BR></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45262522<br><i>Objets
                                    supplémentaires&nbsp;:&nbsp;</i>44316500<BR>45421141<BR>45421000<BR>45442100.<BR>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 2.</span> - macro lot Fluides.</td>
                            </tr>
                            <tr>
                                <td class="txt">Macro lot Fluides. Ce macro lot regroupe les travaux suivants :<Br>Electricité
                                    courants forts - courants faibles<br>système de Sécurité Incendie<Br>Chauffage -
                                    ventilation - climatisation<Br>Ascenseurs
                                </td>
                            </tr>
                            <tr>
                                <td class="txt">Informations complémentaires : les candidats ont obligation de répondre
                                    à l'ensemble des prestations constituant ce macro lot. Dans le cas contraire,
                                    l'offre sera jugée irrégulière, car incomplète, conformément à l'article 35-i du
                                    code des marchés publics et sera éliminée conformément à l'article 53-iii du code
                                    des marchés publics.<BR></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45311000<br><i>Objets
                                    supplémentaires&nbsp;:&nbsp;</i>45343000<BR>51700000<BR>45331000<BR>45313100.<BR>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 3.</span> - macro lot Rayonnages mobiles.</td>
                            </tr>
                            <tr>
                                <td class="txt">Macro lot Rayonnages mobiles. Ce macro lot regroupe les travaux relatif
                                    à la fourniture et l'installation de rayonnages mobiles
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;39152000<br><i>Objets
                                    supplémentaires&nbsp;:&nbsp;</i>39131100<BR>39132000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 4.</span> - macro lot Contrôle d'accès.</td>
                            </tr>
                            <tr>
                                <td class="txt">Macro lot Contrôle d'accès. Ce macro lot regroupe les travaux relatif à
                                    l'installation des équipements de contrôle d'accès et la fourniture du logiciel
                                    associé
                                </td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;42961100.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000876&noa=15-102314" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>