<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>77</B>,&nbsp;75<!-- ED=20158183--><BR>Annonce No&nbsp;<B>15-101616</B><BR>Fournitures
            <!--Etablissement public territorial--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Agence des Espaces Verts.<BR>&nbsp;Correspondant&nbsp;:&nbsp;Mme&nbsp;LOYSEAU
            Isabelle,&nbsp;cité régionale de l'environnement 90 92&nbsp;avenue du Général Leclerc&nbsp;93500&nbsp;Pantin,
            tél.&nbsp;:&nbsp;01-83-65-38-79&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.aev-iledefrance.fr","TestLien","");' class="lien">http://www.aev-iledefrance.fr</A>.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.maximilien.fr","TestLien","");' class="lien">http://www.maximilien.fr</A>.<BR>Le
            pouvoir adjudicateur n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>réalisation d'un brise-vue en bois sur la passerelle de
                l'allée Royale</B>.<BR><I>Type de marché de fournitures&nbsp;:&nbsp;</I>
                achat.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45422100.<BR><I>Lieu de livraison&nbsp;:&nbsp;</I>passerelle
                de l'allée royale,&nbsp;77127&nbsp;Lieusaint.<BR><I>Code NUTS : </I>|FR102|.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>réalisation d'un brise-vue sur la
                passerelle de l'allée-royale surplombant la N104, et située sur la commune de Lieusaint, dans le
                département de la Seine-Et-Marne (77)<BR><i>Quantités (fournitures et services), nature et étendue
                    (travaux)&nbsp;:&nbsp;</i>le projet prévoit des travaux de dépose d'un brise-vue provisoire, de
                démolition de revêtement, de réalisation d'une nouvelle dalle béton à usage de revêtement et de support
                d'ancrage du brise-vue, de fourniture et mise en &oelig;uvre d'un brise-vue en bois sur les 2 trottoirs
                de la passerelle.<BR><I>Refus des variantes</I>.<BR>La procédure d'achat du présent avis est couverte
                par l'accord sur les marchés publics de l'OMC : oui.<br/><BR>Prestations divisées en lots : non.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>119 jours à compter de la notification du marché.<BR><I>Cautionnement
                et garanties exigés&nbsp;:&nbsp;</I>sauf renoncement du titulaire porté à l'acte d'engagement, une
                avance est prévue dans les cas et selon les modalités stipulées dans le cahier des clauses
                administratives particulières. Son montant n'est ni révisable, ni actualisable. L'avance ne pourra être
                versée qu'après constitution de la garantie à première demande à hauteur du montant de l'avance prévue à
                l'article 89 du Code des marchés publics. Cette garantie à première demande pourra être remplacée par
                une caution personnelle et solidaire.<BR><I>Modalités essentielles de financement et de paiement et/ou
                    références aux textes qui les réglementent&nbsp;:&nbsp;</I>le règlement des dépenses se fera par
                virement bancaire. Le présent marché est financé sur les ressources propres de l'établissement.<BR><i>Forme
                    juridique que devra revêtir le groupement d'opérateurs économiques attributaire du marché&nbsp;:&nbsp;</i>aucune
                forme de groupement n'est imposée par le pouvoir adjudicateur.<br>le pouvoir adjudicateur interdit aux
                candidats de présenter leurs offres en agissant à la fois en qualité de candidats individuels et de
                membres d'un ou plusieurs groupements, conformément à l'article 51-vi-1 du Code des marchés publics.<br>le
                pouvoir adjudicateur interdit aux candidats de présenter leurs offres en agissant à la fois en qualité
                de membres de plusieurs groupements, conformément à l'article 51-vi-2 du Code des marchés publics.<br>en
                cas d'attribution du marché à un groupement conjoint, le mandataire du groupement sera solidaire, pour
                l'exécution du marché, de chacun des membres du groupement pour ses obligations contractuelles en
                application de l'article 51-ii du Code des marchés publics.<BR><I>L'exécution du marché est soumise à
                    d'autres conditions particulières : </I>non.<BR><I>Langues pouvant être utilisées dans l'offre ou la
                    candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>1. Capacités professionnelles et références présentées par le candidat.<br>2.
                Garanties et capacités techniques et financières présentées par le candidat.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Autres
                renseignements demandés&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres renseignements
                demandés : lettre de candidature (Dc1 disponible sur http://www.economie.gouv.fr/daj/formulaires )-
                déclaration du candidat (Dc2 disponible sur http://www.economie.gouv.fr/daj/formulaires )- les
                attestations d'assurance responsabilité civile et professionnelle- description des moyens humains
                (nombre et qualification du personnel et des sous-traitants...) et matériels (logistique,
                informatique...) de l'opérateur économique représentatifs de l'objet du marché.- Qualifications
                professionnelles : La preuve de la qualification de l'opérateur économique peut être apportée par tout
                moyen (certificats d'identité professionnelle, références de travaux attestant de la compétence de
                l'opérateur à réaliser la prestation ...).- Les références de marchés similaires attestées par des
                certificats de capacité datant de moins de trois (3) ans ou, à défaut, le descriptif très détaillé des
                moyens humains et matériels de l'opérateur économique représentatifs de l'objet du marché. Les
                références appréciées seront celles d'ouvrages similaires à celui qui est l'objet du marché, ou celles
                de travaux d'installation d'ouvrages en situation similaire à celle du présent marché (travail sur une
                passerelle enjambant une autoroute).
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>31&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>15S0021.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>la remise des offres est subordonnée à la visite des
                lieux d'exécution du marché.<br>avant d'effectuer la visite, l'entreprise devra prendre rdv avec :<Br>-
                Mme&nbsp;Barchon Aurélie : 01.83.65.39.65 ou 06 25 62 35 34 ou<br>- M.&nbsp;Sébastien Colnot :
                01.41.58.69.93 ou 06 80 05 95 06.<br>la visite des lieux devra s'effectuer au moins 11 jours avant la
                date limite de remise des offres.<br>il est conseillé aux candidats de prendre connaissance de
                l'ensemble des pièces du dossier de consultation avant la visite du site.<br>les questions éventuelles
                suscitées lors de la visite du site devront être posées par écrit, au plus tard 8 jours avant la date
                limite de réception des offres. Une réponse sera adressée, par écrit, à toutes les entreprises ayant
                retirées le dossier, 6 jours au plus tard avant la date limite de réception des offres.<br>un certificat
                de visite sera délivré sur place. Ce certificat devra être remis avec l'offre du candidat.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>1.e.r&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I>Agence des espaces verts de la Région Ile-de-France.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>
            Pôle AJCP,&nbsp;&nbsp;cité régionale de l'environnement 90 92&nbsp;avenue du Général Leclerc,&nbsp;&nbsp;93500&nbsp;Pantin,&nbsp;&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.maximilien.fr","TestLien","");' class="lien">http://www.maximilien.fr</A>.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre technique peuvent être obtenus&nbsp;:&nbsp;</I>Agence des
            espaces verts de la Région Ile-de-France.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>Mme&nbsp;BARCHON
            Aurélie,&nbsp;&nbsp;chemin des maisons forestières Maison forestière des régales,&nbsp;&nbsp;77176&nbsp;Savigny-le-Temple,&nbsp;,
            tél.&nbsp;:&nbsp;01-86-65-39-65,&nbsp;&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.maximilien.fr","TestLien","");' class="lien">http://www.maximilien.fr</A>.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre administratif peuvent être obtenus&nbsp;:&nbsp;</I>Agence
            des espaces verts de la Région Ile-de-France.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>Mme&nbsp;LOYSEAU
            Isabelle,&nbsp;&nbsp;cité régionale de l'environnement 90 92&nbsp;avenue du Général Leclerc,&nbsp;&nbsp;93500&nbsp;Pantin,&nbsp;,
            tél.&nbsp;:&nbsp;01-83-65-38-79,&nbsp;&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.maximilien.fr","TestLien","");' class="lien">http://www.maximilien.fr</A>.<BR><I>Adresse
                auprès de laquelle les documents peuvent être obtenus&nbsp;:&nbsp;</I>Agence des espaces verts de la
            Région Ile-de-France.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>Mme&nbsp;LOYSEAU Isabelle,&nbsp;&nbsp;cité
            régionale de l'environnement 90 92&nbsp;avenue du Général Leclerc,&nbsp;&nbsp;93500&nbsp;Pantin,&nbsp;, tél.&nbsp;:&nbsp;01-83-65-38-79,&nbsp;&nbsp;adresse
            internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://marches.maximilien.fr/?page=entreprise.EntrepriseAdvancedSearch&AllCons&refConsultation=175455&orgAcronyme=b4g","TestLien","");'
                    class="lien">https://marches.maximilien.fr/?page=entreprise.EntrepriseAdvancedSearch&AllCons&refConsultation=175455&orgAcronyme=b4g</A>.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal Administratif de Melun&nbsp;43 rue
                du Général de Gaulle Case postale n<sup>o</sup>8630 7 rue Catherine Puig&nbsp;77008&nbsp;Melun Cedex,
                tél.&nbsp;:&nbsp;01-60-56-66-30, courriel&nbsp;:&nbsp;greffe.ta-melun@juradm.fr, télécopieur&nbsp;:&nbsp;01-60-56-66-10.
            </P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Greffe
                du Tribunal Administratif de Melun&nbsp;43 rue du Général de Gaulle Case postale n<sup>o</sup>8630 7 rue
                Catherine Puig&nbsp;77008&nbsp;Melun, tél.&nbsp;:&nbsp;01-60-56-66-30, courriel&nbsp;:&nbsp;greffe.ta-melun@juradm.fr,
                télécopieur&nbsp;:&nbsp;01-60-56-66-10.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000178&noa=15-101616" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>