<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>91</B><!-- ED=20158184--><BR>Annonce No&nbsp;<B>15-101820</B><BR>Fournitures<!--Commune-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Ville d'Athis-Mons.<BR>&nbsp;Correspondant&nbsp;:&nbsp;Mme&nbsp;le
            maire, Service de l'achat Public,&nbsp;place du Général de Gaulle&nbsp;91200&nbsp;Athis Mons, tél.&nbsp;:&nbsp;01-69-54-55-69,
            télécopieur&nbsp;:&nbsp;01-69-54-54-99, courriel&nbsp;:&nbsp;service.marches@mairie-athis-mons.fr&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.mairie-athis-mons.fr","TestLien","");'
                               class="lien">http://www.mairie-athis-mons.fr</A>.<BR>Adresse internet du profil
            d'acheteur&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.mairie-athis-mons.fr","TestLien","");'
                                 class="lien">http://www.mairie-athis-mons.fr</A>.<BR>Le pouvoir adjudicateur n'agit pas
            pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s) Activité(s) du pouvoir adjudicateur
                : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>location d'un vehicule de transport en commun sans
                chauffeur</B>.<BR><I>Type de marché de fournitures&nbsp;:&nbsp;</I> location.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;34100000<br><i>Objets supplémentaires&nbsp;:&nbsp;</i>34121000.<BR><I>Lieu de
                    livraison&nbsp;:&nbsp;</I>.<BR><I>Code NUTS : </I>|FR104|.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>le présent marché a pour objet la
                location longue durée sans chauffeur<br>d'un véhicule de transport en commun<BR><i>Nombre de
                    reconductions éventuelles&nbsp;:&nbsp;</i>entre 1 et 3.<BR><I>Des variantes seront-elles prises en
                    compte: </I>oui.La procédure d'achat du présent avis est couverte par l'accord sur les marchés
                publics de l'OMC : oui.<br/><BR>Prestations divisées en lots : non.<BR><I>Modalités essentielles de
                    financement et de paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>ce
                marché est financé par le budget de fonctionnement de la ville.<br>le paiement s'effectuera par mandat
                administratif dans les délais règlementaires à compter de la réception des factures.<BR><i>Forme
                    juridique que devra revêtir le groupement d'opérateurs économiques attributaire du marché&nbsp;:&nbsp;</i>en
                cas de groupement, la forme imposée après l'attribution du marché sera celle du groupement
                solidaires.<BR><I>Langues pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire obligatoirement par le candidat, à l'appui de sa candidature&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Copie
                du ou des jugements prononcés, si le candidat est en redressement judiciaire.<br/><br/><i>Documents à
                    produire à l'appui des candidatures par le candidat, au choix de l'acheteur
                    public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration concernant le chiffre
                d'affaires global et le chiffre d'affaires concernant les fournitures, services ou travaux objet du
                marché, réalisés au cours des trois derniers exercices disponibles;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                appropriée de banques ou preuve d'une assurance pour les risques professionnels;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Bilans
                ou extraits de bilans, concernant les trois dernières années, des opérateurs économiques pour lesquels
                l'établissement des bilans est obligatoire en vertu de la loi;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                indiquant les effectifs moyens annuels du candidat et l'importance du personnel d'encadrement pour
                chacune des trois dernières années;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Présentation d'une liste des
                principales fournitures ou des principaux services effectués au cours des trois dernières années,
                indiquant le montant, la date et le destinataire public ou privé. Les livraisons et les prestations de
                services sont prouvées par des attestations du destinataire ou, à défaut, par une déclaration de
                l'opérateur économique;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;En matière de fournitures et services,
                une description de l'équipement technique, des mesures employées par l'opérateur économique pour
                s'assurer de la qualité et des moyens d'étude et de recherche de son entreprise;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Echantillons,
                descriptions et/ou photographies des fournitures.<br/><br/><i>Autres renseignements demandés&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres
                renseignements demandés : lettre de candidature Dc1 (anciennement DC&nbsp;4) et Déclaration du Candidat
                Dc2 (anciennement Dc5) disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres
                renseignements demandés : certificat(S) de qualité ou de capacité délivré(s) par des organismes
                indépendants ou moyens de preuve équivalents, notamment, certificats de qualifications professionnelles
                ou de conformité à des spécifications techniques;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres
                renseignements demandés : production pour chacun de ces opérateurs des mêmes documents qui sont exigés
                du candidat pour justifier de ses capacités professionnelles, techniques et financières;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres
                renseignements demandés : production d'un engagement écrit de chacun de ces opérateurs justifiant que le
                candidat dispose de leurs capacités pour l'exécution du marché;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres
                renseignements demandés : si les documents fournis par le candidat ne sont pas rédigés en langue
                française, ils doivent être accompagnés d'une traduction en français certifiée conforme à l'original par
                un traducteur assermenté;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres renseignements demandés :
                pièces prévues aux articles D. 8222-5 ou D. 8222-7 et D. 8222-8 du code du travail;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres
                renseignements demandés : attestations et certificats délivrés par les administrations et organismes
                compétents prouvant que le candidat a satisfait à ses obligations fiscales et sociales (si ces éléments
                ne sont pas déjà demandés dans le cadre du DC&nbsp;7, ci-après) ou documents équivalents en cas de
                candidat étranger;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres renseignements demandés : noti2 (DC&nbsp;7)
                ou documents équivalents en cas de candidat étranger (Etat annuel des certificats reçus, disponible à
                l'adresse suivante : http://www.economie.gouv.fr/daj/formulaires-notification);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres
                renseignements demandés : si les documents fournis par le candidat ne sont pas rédigés en langue
                française, ils doivent être accompagnés d'une traduction en français certifiée conforme à l'original par
                un traducteur assermenté.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix
                : 70 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;qualité de l'offre : 30 %.<BR>Une enchère électronique
                ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>24&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;12&nbsp;h&nbsp;30.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>2015-025-AM.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>retrouvez cet avis intégral, l'accès au dossier et le
                guichet de dépôt sur http://www.mairie-athis-mons.fr<BR>Marché à bons de commande<br>le dossier de
                consultation est à télécharger gratuitement par les<br>candidats auprès de la plateforme internet
                Marchés Publics à l'adresse<br>suivante www.marches-publics.info. Le téléchargement n'est possible
                qu'après inscription sur le site internet.la communication des<br>coordonnées, notamment l'adresse
                électronique est fortement<br>recommandé afin de bénéficier rapidement des compléments d'information.la
                Ville d'athis-mons informe les candidats qu'aucun DCE ne sera transmis par courrier, par télécopie, sur
                support physique électronique (cd, usb, dvd ou tout autre support informatique),sous format papier.<br>renseignements
                Administratifs : Service Achats-Marchés<Br>Tél : 01.69.54.55.40/23<br>renseignement d'ordre technique :
                Service Transport<Br>Tel : 01.69.57 83 74 M.&nbsp;Henri BRES.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>2&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I>Mairie d'Athis-Mons : Service Marchés.<BR>&nbsp;place du Général de Gaulle,&nbsp;&nbsp;91200&nbsp;Athis
            Mons.<p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de Versailles&nbsp;56&nbsp;avenue
                de Saint Cloud&nbsp;78011&nbsp;Versailles, tél.&nbsp;:&nbsp;01-39-20-54-00, courriel&nbsp;:&nbsp;greffe.ta-versailles@juradm.fr,
                télécopieur&nbsp;:&nbsp;01-39-20-54-87.</P><I>Précisions concernant le(s) délai(s) d'introduction des
                recours : </I>-recours gracieux dans un délai de deux mois à compter de la notification de la décision
            de rejet,<br>-recours pour excès de pouvoir devant le tribunal administratif de Versailles dans un délai de
            deux mois à compter de la notification de la décision de rejet ou de la publication de l'avis d'attribution,
            à l'encontre des décisions faisant grief,<br>-référé pré-contractuel dans les conditions définies par le
            Code de justice administrative (Article L. 551-1 Cja),<Br>-Référé contractuel (Article L 551-13
            Cja).<BR><img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000382&noa=15-101820" width="1"
                          height="1"></td>
    </tr>
</table>
</body>
</html>