<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>92</B><!-- ED=20158184--><BR>Annonce No&nbsp;<B>15-102457</B><BR>Travaux<!--Commune-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Ville de Neuilly-sur-Seine.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;Fromantin
            Jean-Christophe, Maire de Neuilly-Sur-Seine,&nbsp;96&nbsp;avenue Achille Peretti&nbsp;92522&nbsp;Neuilly-sur-Seine,
            tél.&nbsp;:&nbsp;01-40-88-89-96, télécopieur&nbsp;:&nbsp;01-40-88-87-92, courriel&nbsp;:&nbsp;marchespublics@ville-neuillysurseine.fr&nbsp;adresse
            internet&nbsp;: <A HREF='javascript:BMP_openWindow("http://www.neuillysurseine.fr","TestLien","");'
                               class="lien">http://www.neuillysurseine.fr</A>.<BR>Adresse internet du profil d'acheteur&nbsp;:
            <A HREF='javascript:BMP_openWindow("https://avis.maximilien.fr/?page=entreprise.EntrepriseAdvancedSearch&AllCons&selectedorg=b4a","TestLien","");'
               class="lien">https://avis.maximilien.fr/?page=entreprise.EntrepriseAdvancedSearch&AllCons&selectedorg=b4a</A>.<BR>Le
            pouvoir adjudicateur n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s)
                Activité(s) du pouvoir adjudicateur : </i> Services généraux des administrations publiques.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>accord-Cadre portant sur des travaux de rénovation de
                l'éclairage public et de la signalisation lumineuse tricolore pour la Ville de
                Neuilly-Sur-Seine</B>.<BR><I>Type de marché de travaux&nbsp;:&nbsp;</I> exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;45311200<br><i>Objets supplémentaires&nbsp;:&nbsp;</i>31518000.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>neuilly-Sur-Seine,&nbsp;92200&nbsp;Neuilly-sur-Seine.<BR><I>Code
                    NUTS : </I>|FR105|.
            <p>L'avis implique l'établissement d'un accord-cadre.<BR>Accord-cadre avec plusieurs opérateurs.<BR>Nombre
                de participants à l'accord-cadre envisagé :&nbsp;3.<BR>Durée de l'accord-cadre :&nbsp;1 an(s).<BR>Fréquence
                et valeur des marchés à attribuer :&nbsp;remise en concurrence au fur et à mesure de l'apparition des
                besoins par marchés subséquents.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>accord-Cadre portant sur des travaux de
                rénovation de l'éclairage public et de la signalisation lumineuse tricolore pour la Ville de
                Neuilly-Sur-Seine<BR><i>Quantités (fournitures et services), nature et étendue
                    (travaux)&nbsp;:&nbsp;</i>la consultation porte sur un accord-cadre relatif à la rénovation de
                l'éclairage public et de la signalisation lumineuse tricolore. <BR>L'Accord-Cadre est passé selon une
                procédure adaptée en application des articles 26-ii 5°, 28, 40-iii et 76 du Code des Marchés
                Publics.<BR>Conformément à l'article 76 du Code des marchés publics, la consultation donnera lieu à un
                accord-cadre dont les prestations seront susceptibles de varier selon les montants minimum et maximum
                annuels suivants :<Br>- montant minimum annuel : 500 000 euro(s) (H.T.) <br>- montant maximum annuel : 1
                000 000 euro(s) Ht<BR>L'Accord-Cadre sera attribué à trois opérateurs économiques, sous réserve d'un
                nombre suffisant de candidats et d'offres. Les titulaires de l'accord-cadre seront remis en concurrence
                au moment de la survenance du besoin. Les modalités de remise en concurrence sont précisées dans le
                Cahier des Clauses Particulières de l'accord-cadre.<BR>les marchés subséquents passés sur le fondement
                de l'accord-cadre seront traités à prix unitaires.<BR>il sera fait application du Cahier des Clauses
                Administratives Générales - travaux approuvé par l'arrêté du 8 septembre 2009.<BR>l'accord-cadre est
                passé pour une période d'un an à compter de sa notification.<BR><i>Options : descriptions concernant les
                    achats complémentaires&nbsp;:&nbsp;</i>l'accord-cadre est renouvelable trois fois pour un an à
                chaque fois, par tacite reconduction. <BR>Les modalités de reconduction sont fixées dans le cahier des
                clauses administratives particulières de l'accord-cadre.<BR><I>Refus des variantes</I>.<BR>Prestations
                divisées en lots : non.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>12 mois à compter de la notification du
                marché.<BR><I>Cautionnement et garanties exigés&nbsp;:&nbsp;</I>avance et retenue de garantie dans les
                conditions prévues au contrat.<BR><I>Modalités essentielles de financement et de paiement et/ou
                    références aux textes qui les réglementent&nbsp;:&nbsp;</I>financement sur le budget communal de la
                Ville de Neuilly-Sur-Seine - paiement direct - prix unitaires, révisables. Périodicité des paiements
                fixée au contrat.<BR><i>Forme juridique que devra revêtir le groupement d'opérateurs économiques
                    attributaire du marché&nbsp;:&nbsp;</i>groupement solidaire.<BR><I>Langues pouvant être utilisées
                    dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>garanties et capacités professionnelles, techniques et financières.<BR><I>Situation
                juridique - références requises&nbsp;:&nbsp;</I>le candidat individuel ou le groupement est invité à
                produire la Dc1 dans sa dernière version mise à jour dûment remplie, datée et signée et le candidat
                individuel ou chaque membre du groupement devra produire également la Dc2 renseignée dans ses rubriques
                a, b, c, d, e le cas échéant, et G. Le candidat pourra également produire ces informations sur papier
                libre. Le cas échéant, devront être produits les documents attestant des pouvoirs des personnes
                habilitées à engager le candidat.<BR><I>Capacité économique et financière - références requises&nbsp;:&nbsp;</I>le
                candidat individuel ou chaque membre du groupement sera(ont) invité à produire la Dc2 renseignée en
                rubrique D en précisant le chiffre d'affaires global au cours des trois derniers exercices
                disponibles.<BR>si le candidat s'appuie sur d'autres opérateurs économiques pour présenter sa
                candidature, il doit les mentionner dans son formulaire Dc2 (rubrique E) et produire, pour chacun d'eux,
                les mêmes documents et informations que ceux qui sont exigés de lui pour justifier de ses capacités,
                ainsi qu'un engagement écrit de chacun d'eux justifiant qu'il dispose de leurs capacités pour
                l'exécution des prestations.<BR>si le candidat ne se sert pas de la Dc2, il pourra également produire
                ces informations sur papier libre<BR><I>Référence professionnelle et capacité technique - références
                    requises&nbsp;:&nbsp;</I>la Dc2 devra être accompagnée des documents suivants :<Br>- déclaration
                indiquant les effectifs moyens annuels du candidat pour chacune des trois dernières années ;<Br>-
                présentation d'une liste des travaux exécutés au cours des cinq dernières années, appuyée d'attestations
                de bonne exécution pour les travaux les plus importants. Ces attestations indiquent le montant, l'époque
                et le lieu d'exécution des travaux et précisent s'ils ont été effectués selon les règles de l'art et
                menés régulièrement à bonne fin ;<Br>- certificat de qualification professionnelle.<BR><I>Référence
                    professionnelle et capacité technique - Niveau(x) spécifique(s) minimal(aux)
                    exigé(s)&nbsp;:&nbsp;</I>qualifelec - indice Tn4 mention (H.T.) et RT ou tout moyen de preuve
                permettant de juger d'une équivalence.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>24&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;16&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>120 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>2015-61.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>en cas de retrait du dossier de consultation des
                entreprises (Dce) par voie dématérialisée à l'adresse :
                https://avis.maximilien.fr/?page=entreprise.EntrepriseAdvancedSearch&AllCons&selectedorg=b4a, il est à
                noter que conformément à l'arrêté du 14 décembre 2009 relatif à la dématérialisation des procédures de
                passation des marchés publics, l'identification des opérateurs économiques pour accéder aux documents de
                la consultation par voie électronique n'est plus obligatoire. Toutefois, nous attirons votre attention
                sur le fait que l'identification vous permet d'être tenus informés automatiquement des modifications et
                des précisions éventuellement apportées aux documents que vous téléchargerez. Dans le cas contraire, il
                vous appartiendra de récupérer par vos propres moyens les informations communiquées.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>de 9h30 à 12&nbsp;heures et de 14&nbsp;heures
                à 17&nbsp;heures du lundi au vendredi, sauf le dernier jour de remise des offres jusqu'à 16&nbsp;heures.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>2&nbsp;juillet&nbsp;2015.</P><I>Adresse
                à laquelle les offres/candidatures/projets/demandes de participation doivent être
                envoyés&nbsp;:&nbsp;</I>Ville de Neuilly-sur-Seine - Direction des marchés publics.<BR>&nbsp;127&nbsp;avenue
            Achille Peretti (4<sup>e</sup> étage),&nbsp;&nbsp;92522&nbsp;Neuilly-sur-Seine Cedex,&nbsp;, tél.&nbsp;:&nbsp;01-40-88-88-05,&nbsp;&nbsp;adresse
            internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://marches.maximilien.fr/?page=entreprise.EntrepriseAdvancedSearch&AllCons&refConsultation=174099&orgAcronyme=b4a","TestLien","");'
                    class="lien">https://marches.maximilien.fr/?page=entreprise.EntrepriseAdvancedSearch&AllCons&refConsultation=174099&orgAcronyme=b4a</A>.<BR><I>Adresse
                auprès de laquelle des renseignements d'ordre administratif et technique peuvent être obtenus&nbsp;:&nbsp;</I>Ville
            de Neuilly-sur-Seine - Direction des marchés publics.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>M.&nbsp;Croyal
            Guillaume,&nbsp;&nbsp;127&nbsp;avenue Achille Peretti (4<sup>e</sup> étage),&nbsp;&nbsp;92522&nbsp;Neuilly-sur-Seine
            Cedex,&nbsp;, tél.&nbsp;:&nbsp;01-40-88-89-96,&nbsp;, télécopieur&nbsp;:&nbsp;01-40-88-87-92,&nbsp;,
            courriel&nbsp;:&nbsp;marchespublics@ville-neuillysurseine.fr,&nbsp;&nbsp;adresse internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://marches.maximilien.fr/?page=entreprise.EntrepriseAdvancedSearch&AllCons&refConsultation=174099&orgAcronyme=b4a","TestLien","");'
                    class="lien">https://marches.maximilien.fr/?page=entreprise.EntrepriseAdvancedSearch&AllCons&refConsultation=174099&orgAcronyme=b4a</A>.<BR><I>Adresse
                auprès de laquelle les documents peuvent être obtenus&nbsp;:&nbsp;</I>Ville de Neuilly-sur-Seine -
            Direction des marchés publics Pour obtenir les documents sur support physique électronique (CD-ROM),
            secrétariat (Séverine Hervé ou Catherine Coutaud) - de 9h à 12&nbsp;heures et de 14&nbsp;heures à 17h du
            lundi au vendredi.<BR>&nbsp;127&nbsp;avenue Achille Peretti,&nbsp;&nbsp;92522&nbsp;Neuilly-sur-Seine Cedex,&nbsp;,
            tél.&nbsp;:&nbsp;01-40-88-88-05,&nbsp;, télécopieur&nbsp;:&nbsp;01-40-88-87-92,&nbsp;, courriel&nbsp;:&nbsp;marchespublics@ville-neuillysurseine.fr,&nbsp;&nbsp;adresse
            internet&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://marches.maximilien.fr/?page=entreprise.EntrepriseAdvancedSearch&AllCons&refConsultation=174099&orgAcronyme=b4a","TestLien","");'
                    class="lien">https://marches.maximilien.fr/?page=entreprise.EntrepriseAdvancedSearch&AllCons&refConsultation=174099&orgAcronyme=b4a</A>.
            <p><I>Instance chargée des procédures de recours&nbsp;:&nbsp;</I>Tribunal administratif de Cergy-Pontoise&nbsp;2-4
                boulevard de l'hautil, B.P.&nbsp;30322&nbsp;95027&nbsp;Cergy Pontoise Cedex, tél.&nbsp;:&nbsp;01-30-17-34-00,
                courriel&nbsp;:&nbsp;greffe.ta-cergy-pontoise@juradm.fr, télécopieur&nbsp;:&nbsp;01-30-17-34-59&nbsp;adresse
                internet&nbsp;: <A
                        HREF='javascript:BMP_openWindow("http://cergy-pontoise.tribunal-administratif.fr/","TestLien","");'
                        class="lien">http://cergy-pontoise.tribunal-administratif.fr/</A>.</P>
            <P><I>Organe chargé des procédures de médiation&nbsp;:&nbsp;</I>Comité consultatif interdépartemental de
                règlement amiable des litiges relatifs aux marchés&nbsp;21 rue Miollis ou 29 rue Barbet de Jouy&nbsp;75015&nbsp;Paris,
                tél.&nbsp;:&nbsp;01-44-42-63-75, télécopieur&nbsp;:&nbsp;01-45-55-47-02.</P>
            <P><I>Service auprès duquel des renseignements peuvent être obtenus concernant l'introduction des recours&nbsp;:&nbsp;</I>Greffe
                du Tribunal administratif de Cergy-Pontoise&nbsp;2-4 boulevard de l'hautil, B.P.&nbsp;30322&nbsp;95027&nbsp;Cergy
                Pontoise Cedex, tél.&nbsp;:&nbsp;01-30-17-34-00, courriel&nbsp;:&nbsp;greffe.ta-cergy-pontoise@juradm.fr,
                télécopieur&nbsp;:&nbsp;01-30-17-34-59&nbsp;adresse internet&nbsp;: <A
                        HREF='javascript:BMP_openWindow("http://cergy-pontoise.tribunal-administratif.fr/","TestLien","");'
                        class="lien">http://cergy-pontoise.tribunal-administratif.fr/</A>.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3001019&noa=15-102457" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>