<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>77</B><!-- ED=20158184--><BR>Annonce No&nbsp;<B>15-101678</B><BR>Travaux<!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>SIRMOTOM.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;Jego
            Yves, Président,&nbsp;22, rue de la grande haie&nbsp;77130&nbsp;Montereau Fault Yonne, tél.&nbsp;:&nbsp;01-64-32-67-23,
            télécopieur&nbsp;:&nbsp;01-64-32-08-12, courriel&nbsp;:&nbsp;a.zaidi-sirmotom@orange.fr.<BR>Adresse internet
            du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("https://www.achatpublic.com/sdm/ent/gen/index.jsp","TestLien","");'
                    class="lien">https://www.achatpublic.com/sdm/ent/gen/index.jsp</A>.<BR>Le pouvoir adjudicateur
            n'agit pas pour le compte d'autres pouvoirs adjudicateurs.<br><i>Principale(s) Activité(s) du pouvoir
                adjudicateur : </i> Environnement.<br/>
            <P><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>rehabilitation et extension de la dechetterie de
                voulx</B>.<BR><I>Type de marché de travaux&nbsp;:&nbsp;</I> exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet
                principal&nbsp;:&nbsp;45110000<br><i>Objets supplémentaires&nbsp;:&nbsp;</i>45233200<BR>45210000<BR>45231112<BR>45112710.<BR><I>Lieu
                    d'ex&eacute;cution&nbsp;:&nbsp;</I>déchetterie de Voulx,&nbsp;77940&nbsp;Voulx.<BR><I>Code NUTS
                    : </I>|FR102|.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>l'objet du marché concerne la réalisation
                des travaux de VRD et de bâtiment dans le cadre du projet de réhabilitation et d'extension de la
                déchèterie à Voulx.<Br>Le marché comprendra une seule tranche de travaux<BR><i>Quantités (fournitures et
                    services), nature et étendue (travaux)&nbsp;:&nbsp;</i>quantités (fournitures et services), nature
                et étendue (travaux) : l'objet du marché concerne la réalisation des travaux de bâtiment et de VRD dans
                le cadre du projet de réhabilitation et d'extension de la déchèterie à Voulx.<Br>Les nouvelles
                installations comprendront :<Br>Un local gardien de 40 mètres carrés ;<Br>Un local D3e de 20 mètres
                carrés ;<Br>Un local DMS de 20 mètres carrés ;<Br>12 emplacements de bennes ;<Br>1 monte charge pour les
                palettes ;<Br>Voiries PL et VL ;<Br>1 bassin enterré de 120 m3 ;<Br>Réseaux divers ;<Br>Clôture,
                aménagements paysagers.<BR><I>Refus des variantes</I>.<BR>La procédure d'achat du présent avis est
                couverte par l'accord sur les marchés publics de l'OMC : non.<br/><BR>Prestations divisées en lots :
                non.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>7 mois à compter de la notification du
                marché.<BR><I>Cautionnement et garanties exigés&nbsp;:&nbsp;</I>retenue de garantie de 5 % sur chaque
                acompte pouvant être remplacée par une garantie à première demande. <Br>Constitution d'une garantie à
                première demande en contrepartie de l'avance.<BR><I>Modalités essentielles de financement et de paiement
                    et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>paiement à 30 jours conformément au
                décret n<sup>o</sup> 2013-269 du 29/03/2013.<br>avance selon les modalités définies au cahier des
                charges.<br>prix révisables.<BR><i>Forme juridique que devra revêtir le groupement d'opérateurs
                    économiques attributaire du marché&nbsp;:&nbsp;</i>le marché sera conclu :<Br>Soit avec un candidat
                individuel,<br>soit avec des candidats groupés solidaires,<br>soit avec des candidats groupés conjoints
                dont le mandataire est responsable solidairement de tous les autres membres du groupement à l'égard du
                Maître d'ouvrage pour l'exécution du marché.<BR><I>L'exécution du marché est soumise à d'autres
                    conditions particulières : </I>non.<BR><I>Langues pouvant être utilisées dans l'offre ou la
                    candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>renseignements et formalités nécessaires pour évaluer si ces exigences sont
                remplies :<Br>Lettre de candidature mentionnant l'identité du candidat, sa forme juridique et les
                pouvoirs de la personne habilitée pour l'engager ainsi que, le cas échéant, les habilitations
                nécessaires données au mandataire du<br>groupement pour représenter ses membres lors de la passation du
                marché.<br>attestation sur l'honneur que le candidat ne fait pas l'objet d'une des interdictions de
                soumissionner prévues à l'article 8 de l'ordonnance du 6 juin 2005.<br>les candidats étrangers devront
                satisfaire les mêmes exigences au regard de règles d'effet équivalent dans leur pays.<br>pour justifier
                de ses capacités professionnelles, techniques et financières, le candidat, même s'il s'agit d'un
                groupement, peut demander que soient également prises en compte les capacités professionnelles,
                techniques et financières d'autres opérateurs économiques, quelle que soit la nature juridique des liens
                existant entre ces<br>opérateurs et lui. Dans ce cas, il justifie des capacités de ce ou ces opérateurs
                économiques et apporte la preuve qu'il en disposera pour l'exécution du marché.<BR><I>Situation
                    juridique - références requises&nbsp;:&nbsp;</I>références requises : Pour satisfaire ces exigences,
                le candidat pourra utiliser les imprimés Dc1et Dc2 téléchargeables sur le site<BR>http://www.economie.gouv.fr/directions_services/daj/marches_publics/formulaires/DC/daj_dc.htm<BR>En
                cas de groupement :<Br>L'Imprimé Dc1doit être signé par chacun de ses membres, et pour les groupements
                conjoints, la répartition des prestations entre ses membres doit être précisée en rubrique E<Br>L'Imprimé
                Dc2 doit être fourni par chacun des membres du groupement.<BR><I>Capacité économique et financière -
                    références requises&nbsp;:&nbsp;</I>références requises : Renseignements et formalités nécessaires
                pour évaluer si ces exigences sont remplies :<Br>Déclaration précisant pour les 3 derniers exercices
                :<Br>Le chiffre d'affaires global,<br>le chiffre d'affaires concernant les travaux auxquels se réfèrent
                le marché.<br>le candidat pourra utiliser à cet effet l'imprimé Dc2 sus mentionné.<br>en cas de
                redressement judiciaire, la copie du jugement correspondant doit être jointe<BR><I>Référence
                    professionnelle et capacité technique - références requises&nbsp;:&nbsp;</I>références requises :
                Renseignements et formalités nécessaires pour évaluer si ces exigences sont remplies :<Br>Présentation
                d'une liste de travaux en cours d'exécution, ou exécutées au cours des 5 dernières années, appuyée, pour
                les travaux les plus importants, d'attestations de bonne exécution. Ces attestations indiquent le lieu
                d'exécution des travaux et précisent s'ils ont été effectués selon les règles de l'art et menés
                régulièrement à bonne fin,<br>déclaration indiquant l'outillage, le matériel et l'équipement technique
                dont le candidat dispose pour la réalisation de marchés de même nature,<br>déclaration indiquant les
                effectifs du candidat et l'importance du personnel d'encadrement pour chacune des 3 dernières
                années,<br>certificats de qualification professionnelle des entreprises.<br>la preuve de ces
                qualifications peut être apportée par tout moyen et notamment par des références qui en font état.
            <p><I>Marché réservé :&nbsp;</I>non.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Documents
                à produire à l'appui des candidatures par le candidat, au choix de l'acheteur
                public&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration concernant le chiffre
                d'affaires global et le chiffre d'affaires concernant les fournitures, services ou travaux objet du
                marché, réalisés au cours des trois derniers exercices disponibles;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                appropriée de banques ou preuve d'une assurance pour les risques professionnels;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration
                indiquant les effectifs moyens annuels du candidat et l'importance du personnel d'encadrement pour
                chacune des trois dernières années;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Présentation d'une liste des
                travaux exécutés au cours des cinq dernières années, appuyée d'attestations de bonne exécution pour les
                travaux les plus importants. Ces attestations indiquent le montant, l'époque et le lieu d'exécution des
                travaux et précisent s'ils ont été effectués selon les règles de l'art et menés régulièrement à bonne
                fin;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Déclaration indiquant l'outillage, le matériel et
                l'équipement technique dont le candidat dispose pour la réalisation de marchés de même nature;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Certificats
                de qualifications professionnelles. La preuve de la capacité du candidat peut être apportée par tout
                moyen, notamment par des certificats d'identité professionnelle ou des références de travaux attestant
                de la compétence de l'opérateur économique à réaliser la prestation pour laquelle il se porte
                candidat;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire DC1, Lettre de candidature - Habilitation
                du mandataire par ses co-traitants (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC2, Déclaration du candidat individuel ou du membre du groupement (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Formulaire
                DC&nbsp;4, Déclaration de sous-traitance (disponible à l'adresse suivante :
                http://www.economie.gouv.fr/daj/formulaires-declaration-candidat-dc1-dc2-dc3-dc4);<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;S'il
                s'appuie, pour présenter sa candidature, sur les capacités professionnelles, techniques et financières
                d'autres opérateurs économiques, le candidat produit les mêmes documents concernant cet opérateur
                économique que ceux qui lui sont exigés par l'acheteur public. Le candidat doit également apporter la
                preuve que chacun de ces opérateurs économiques mettra à sa disposition les moyens nécessaires, pendant
                toute la durée d'exécution du marché public ou de l'accord-cadre;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                les documents fournis par le candidat ne sont pas établis en langue française, ils doivent être
                accompagnés d'une traduction en français, certifiée conforme à l'original par un traducteur
                assermenté.<br/><br/><i>Documents à produire obligatoirement par l'attributaire, avant la signature et
                    la notification du marché public ou de l'accord-cadre (formulaire NOTI1)&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Les
                pièces prévues aux articles D. 8222-5 ou D. 8222-7 et D. 8222-8 du code du travail;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Si
                l'attributaire est établi en France, les attestations et certificats délivrés par les administrations et
                organismes compétents prouvant qu'il a satisfait à ses obligations fiscales et sociales ou un état
                annuel des certificats reçus.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).<BR>Une enchère électronique ne sera pas effectuée.
            <p><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>17&nbsp;août&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>2015 - 03.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>procédure de passation : procédure adaptée en
                application des dispositions des articles 26 et 28 du Code des Marchés Publics. Remise d'offre ouverte à
                tout candidat.<br>elimination des offres arrivées hors délai et négociation avec les candidats choisis
                parmi ceux dont l'offre est recevable.<br>les groupements doivent être constitués dès la remise de
                l'offre. Aucun groupement ne pourra être constitué ultérieurement.<br>la durée indiquée à la rubrique
                Ii.3 " durée du marché " est une durée maximale .Elle s'entend non pas à compter de la date
                d'attribution du contrat mais à compter de la date de notification de l'ordre de service prescrivant le
                démarrage des prestations, qui est fixée à titre prévisionnel au 01 octobre 2015.<br>les offres pourront
                être transmises sur support papier /Ou sur support physique électronique (CD Rom) / ou par voie
                électronique.<br>les offres sous forme papier /Ou sur support physique électronique/ sont transmises par
                voie postale ou remises contre récépissé à l'adresse indiquée à cet effet.<br>les offres doivent être
                placées sous pli fermé impérativement portant l'indication de l'objet de la consultation, le<br>nom du
                candidat (en cas de groupement, l'identité du mandataire devra être précisée) et la mention " Ne pas
                ouvrir avant la séance d'ouverture des plis ".<Br>Les offres transmises sous forme électronique sont
                envoyées à l'adresse du profil acheteur sur le site :<BR>https://www.achatpublic.com en respectant les
                prérequis et les modalités précisées sur le site.<br>les pièces du Dossier de Consultation sont
                accessibles par voie électronique à l'adresse du profil acheteur<br>(url)
                https://www.achatpublic.com<BR>Ce marché a déjà fait l'objet d'une publication qui a été rendu sans
                suite pour motif d'intérêt général.<BR><I>Date limite d'obtention</I> : 17&nbsp;août&nbsp;2015, à 12&nbsp;heures.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>2&nbsp;juillet&nbsp;2015.</P><I>Adresse
                auprès de laquelle des renseignements d'ordre administratif et technique peuvent être obtenus&nbsp;:&nbsp;</I>Syndicat
            de la Région de Montereau-Fault-Yonne pour le Traitement des Ordures Ménagères (SIRMOTOM).<BR>&nbsp;22 rue
            de la grande haie,&nbsp;&nbsp;77130&nbsp;Montereau Fault Yonne,&nbsp;, tél.&nbsp;:&nbsp;01-64-32-67-23,&nbsp;,
            télécopieur&nbsp;:&nbsp;01-64-32-08-12,&nbsp;, courriel&nbsp;:&nbsp;sirmotom@wanadoo.fr.<p><I>Instance
                chargée des procédures de recours&nbsp;:&nbsp;</I>TRIBUNAL ADMINISTRATIF&nbsp;43 rue du général de
                gaulle&nbsp;77000&nbsp;Melun, tél.&nbsp;:&nbsp;01-60-56-66-30.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3000240&noa=15-101678" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>