<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>21</B><!-- ED=20158184--><BR>Annonce No&nbsp;<B>15-102462</B><BR>Travaux
            <!--Etablissement public national--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>C.H.S. "La Chartreuse".<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;Biboulet
            Pierre,&nbsp;1, boulevard Chanoine Kir B.P.&nbsp;23314&nbsp;21000&nbsp;Dijon, tél.&nbsp;:&nbsp;03-80-42-52-85,
            télécopieur&nbsp;:&nbsp;03-80-42-49-69, courriel&nbsp;:&nbsp;marches.publics@chs-chartreuse.fr.<BR>Adresse
            internet du profil d'acheteur&nbsp;: <A
                    HREF='javascript:BMP_openWindow("http://www.klekoon.com","TestLien","");' class="lien">http://www.klekoon.com</A>.
            <p><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>réaménagement de la salle du Conseil d'administration et
                aménagement de la salle de restauration de la Cuisine Centrale du Centre Hospitalier La Chartreuse à
                Dijon - 6 lots</B>.<BR><I>Type de marché de travaux&nbsp;:&nbsp;</I>
                exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45000000.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>1,
                5 Chanoine Kir,&nbsp;21000&nbsp;Dijon.
            <p>L'avis implique un marché public.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>travaux de réaménagement de la salle du
                conseil d'administration et d'aménagement de la salle de restauration de la cuisine centrale sur le site
                du Centre Hospitalier La Chartreuse à Dijon. 6 lots traités par marchés séparés.<BR>les travaux faisant
                l'objet de la présente consultation se dérouleront dans un bâtiment existant occupé au rez-de-chaussée,
                à l'étage et accessible au public pendant la durée des travaux<BR><I>Des variantes seront-elles prises
                    en compte: </I>oui.Le présent avis correspond à un avis périodique indicatif constituant une mise en
                concurrence.<br/><BR>Prestations divisées en lots : oui.<BR>Possibilité de pr&eacute;senter une offre
                pour un seul lot un ou plusieurs lots tous les lots.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>3 mois à compter de la notification du
                marché.<BR><I>Cautionnement et garanties exigés&nbsp;:&nbsp;</I>voir réglement de consultation.<BR><I>Modalités
                    essentielles de financement et de paiement et/ou références aux textes qui les réglementent&nbsp;:&nbsp;</I>voir
                CCAP.<BR><i>Forme juridique que devra revêtir le groupement d'opérateurs économiques attributaire du
                    marché&nbsp;:&nbsp;</i>voir réglement de consultation.<BR><i>Unité monétaire utilisée, l'euro</i>.
            <p><I>Conditions de participation&nbsp;:&nbsp;</I><BR><I>Critères de sélection des
                candidatures&nbsp;:&nbsp;</I>voir article 5 du réglement de consultation.<BR><I>Situation juridique -
                références requises&nbsp;:&nbsp;</I>voir article 5 du réglement de consultation.<BR><I>Capacité
                économique et financière - références requises&nbsp;:&nbsp;</I>voir réglement de consultation<BR><I>Référence
                professionnelle et capacité technique - références requises&nbsp;:&nbsp;</I>voir réglement de
                consultation.
            <p><I>Justifications à produire quant aux qualités et capacités du candidat&nbsp;:&nbsp;</I><br/><br/><i>Autres
                renseignements demandés&nbsp;:&nbsp;</i><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;Autres renseignements
                demandés : voir article 4 du réglement de consultation.
            <P><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;organisation
                des éqauipes intervenant sur le chantier : 30 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;méthodologie
                détaillée de éalisation des t ravaux : 30 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix : 40 %.
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>24&nbsp;juillet&nbsp;2015,&nbsp;à&nbsp;16&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>90 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i><br/><i>Numéro de référence attribué au marché par le pouvoir
                adjudicateur / l'entité adjudicatrice&nbsp;:&nbsp;</i>2015-22.
            <p><I>Renseignements complémentaires&nbsp;:&nbsp;</I>adresse profil acheteur, le DCE (Dossier de
                Consulation) est téléchargeable gratuitement sur : www.klekoon.com. Il peut également être demandé par
                mail : <br>marches.publics@chs-chartreuse.fr.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>2&nbsp;juillet&nbsp;2015.</P>
            <P><I>Renseignements relatifs aux lots&nbsp;:&nbsp;</I>
            <table border="0" cellpadding="1" align="center" width="80%">
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">1.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Menuiseries extérieures - Couverture - Métallerie</td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">2.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Plâtrerie, peinture</td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">3.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Menuiseries intérieures bois</td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">5.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Electricité</td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">6.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Chauffage</td>
                </tr>
                <tr>
                    <td valign="top" width="1%" nowrap class="lien">&nbsp;</td>
                    <td valign="top" align="right" width="1%" class="txt">Lot</td>
                    <td valign="top" width="1%" nowrap class="txt">4.</td>
                    <td valign="top" width="1%" nowrap class="txt"> - </td>
                    <td valign="top" width="100%" class="txt">Revêtements de sols souples</td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=3001024&noa=15-102462" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>