<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B>59</B><!-- ED=20158104--><BR>Annonce No&nbsp;<B>09-248141</B><BR>Travaux<!--Commune-->
            <!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Ville de Templemars.<BR>&nbsp;Correspondant&nbsp;:&nbsp;M.&nbsp;le
            maire de Templemars,&nbsp;hôtel de Ville 101 Rue Jules Guesde&nbsp;59175&nbsp;Templemars, tél.&nbsp;:&nbsp;03-20-58-99-99,
            télécopieur&nbsp;:&nbsp;03-20-58-99-90, courriel&nbsp;:&nbsp;villedetemplemars@wanadoo.fr.<p><I>Objet du
                march&eacute;&nbsp;:&nbsp;</I><B>aménagement des abords du centre technique municipal</B>.<BR><I>Type de
                marché de travaux&nbsp;:&nbsp;</I> exécution.<BR><i>CPV&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45223300<br><i>Objets
                supplémentaires&nbsp;:&nbsp;</i>45340000.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>rue
                d'ennetieres,&nbsp;59175&nbsp;Templemars.<BR><I>Code NUTS : </I>FR301.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>lot n<sup>o</sup>1 - création de 800
                mètres carrés de parking <Br>Lot n<sup>o</sup>2 Fourniture et pose de 100ml de clôture et de deux
                portails autoportés et motorisés<BR><i>Options : descriptions concernant les achats complémentaires&nbsp;:&nbsp;</i>tranche
                condityionnelle lot n<sup>o</sup>1 - aménagement de la cour à matériaux 500m².<BR><I>Des variantes
                    seront-elles prises en compte: </I>oui.<BR>Prestations divisées en lots : oui.<BR>Possibilité de pr&eacute;senter
                une offre pour un ou plusieurs lots.<BR><i>Date&nbsp;prévisionnelle&nbsp;de&nbsp;début&nbsp;des&nbsp;prestations&nbsp;(fournitures/services)&nbsp;:&nbsp;</i>15&nbsp;juin&nbsp;2015.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés dans le cahier des charges (règlement de la consultation, lettre
                d'invitation ou document descriptif).
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>18&nbsp;mai&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i>
            <P><I>Conditions et mode de paiement pour obtenir les documents contractuels et additionnels</I> :<BR>Le
                D.C.E. Est disponible sur le site :<BR>https://marches.cdg59.fr<Br>L'Intitulé de la consultation est
                :<Br>Abords CTM<Br>Les modalités pratiques sont détaillées sur ce site.
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>les candidats doivent choisir entre
                l'envoi électronique, le support papier ou le cas échéant<Br>Un support physique électronique remis
                contre récépissé au Secrétariat ou transmis par lettre<Br>Recommandée avec demande d'avis de réception
                postal avant le Lundi 18 mai 2015 à 12<Br>Heures<Br>Les offres et les candidatures seront remises sous
                enveloppe portant l'adresse et les mentions<Br>Suivantes<Br>M.&nbsp;le maire <Br>Hôtel de ville <Br>101,
                rue Jules Guesde<Br>59175 TEMPLEMARS<Br>Offre pour : Abords CTM<Br>Lot n<sup>o</sup> :<br>" ne pas
                ouvrir ".
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>13&nbsp;avril&nbsp;2015.</P><I>Adresse
                auprès de laquelle des renseignements d'ordre administratif et technique peuvent être obtenus&nbsp;:&nbsp;</I>Ville
            de Templemars.<BR><I>&nbsp;Correspondant&nbsp;:&nbsp;</I>m.Pirone,&nbsp;&nbsp;101 Rue Jules Guesde,&nbsp;&nbsp;59175&nbsp;Templemars,&nbsp;,
            tél.&nbsp;:&nbsp;03-20-58-99-99,&nbsp;, télécopieur&nbsp;:&nbsp;03-20-58-99-90,&nbsp;, courriel&nbsp;:&nbsp;villedetemplemars@wanadoo.fr.
            <p><I>Renseignements relatifs aux lots&nbsp;:&nbsp;</I>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 1.</span> - vrd.</td>
                            </tr>
                            <tr>
                                <td class="txt">Travaux de voirie</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45223300.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <table width="85%%" border="0" align="center" cellpadding="0" cellspacing="2">
                <tr>
                    <td width="1%" valign="top" class="lien"><br><img src="/boamp-web-img/1x1.gif" width="30"
<br/>$TEMPLATE$<br/>                                                                      height="1"></td>
                    <td width="99%">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                                <td class="txt"><span class="data">Lot(s) 2.</span> - clôtures.</td>
                            </tr>
                            <tr>
                                <td class="txt">Travaux de pose de clôtures et de portails</td>
                            </tr>
                            <tr>
                                <td class="txt"></td>
                            </tr>
                            <tr>
                                <td class="txt"><i>C.P.V.&nbsp;-&nbsp;</i>Objet principal&nbsp;:&nbsp;45340000.<BR></td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%" valign="top" class="data"></td>
                </tr>
            </table>
            <img src="http://saisie.boamp.fr/pls/enregistrement/image?ida=1628174&noa=09-248141" width="1" height="1">
        </td>
    </tr>
</table>
</body>
</html>