<html>
<head>
    <meta charset="UTF-8">
    <title>Annonce MAPA</title>
    <script language="JavaScript"><!--
    function BMP_openWindow(Lien, Nom, Options) {
        window.open(Lien, Nom, Options);
    }//--></script>
</head>
<body link="#3300CC" vlink="#3300CC" alink="#3300CC">
<table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" class="txt"><!-- R1=BOMP-->
            <center><B>Avis d'appel public à la concurrence<!-- V2 R2=3--></B></center><!--R4=55--><BR>Département(s) de
            publication : <B></B><!-- ED=20158065--><BR>Annonce No&nbsp;<B>10-146370</B><BR>Travaux
            <!--Etablissement public territorial--><!--DEBUTFACT-->
            <HR>
            -&nbsp;<I>Nom et adresse officiels de l'organisme acheteur&nbsp;:&nbsp;</I>Syndicat mixte du plateau retord.<BR>&nbsp;Correspondant&nbsp;:&nbsp;m
            le président,&nbsp;syndicat mixte pour l'équipement et l'animation du Plateau de Retord et du Haut Valromey&nbsp;01130&nbsp;Nantua,
            tél.&nbsp;:&nbsp;04-74-75-14-76, télécopieur&nbsp;:&nbsp;04-74-75-20-86, courriel&nbsp;:&nbsp;syndicatmixteretord@wanadoo.fr.
            <p><I>Objet du march&eacute;&nbsp;:&nbsp;</I><B>porte de Cuvéry - réhablilitation du bâtiment d'accueil -
                pôle multi saisons</B>.<BR><I>Type de marché de travaux&nbsp;:&nbsp;</I> exécution.<BR><I>Lieu d'ex&eacute;cution&nbsp;:&nbsp;</I>col
                de Cuvéry,&nbsp;01200&nbsp;Châtillon-en-Michaille.
            <p><i>Caract&eacute;ristiques principales&nbsp;:&nbsp;</i><br/><BR>réhabilitation du bâtiment d'accueil -
<br/>$TEMPLATE$<br/>                pôle multi saison<BR><i>Quantités (fournitures et services), nature et étendue
                    (travaux)&nbsp;:&nbsp;</i>lot 1 : Gros &oelig;uvre<Br>Lot 2 : Charpente ossature bois - plafond bois<Br>Lot
                3 : Etanchéité - couverture bac acier - etanchéité des bassins <Br>Lot 4 : Revêtement de façade ITE<Br>Lot
                5 : Menuiserie extérieure bois - occultation<Br>Lot 6 : Rideau métallique<Br>Lot 7 : Doublage - cloison
                - peinture<Br>Lot 8 : Menuiserie intérieure bois <Br>Lot 9 : Carrelage - faïence<Br>Lot 10 : Serrurerie
                escalier coursive<Br>Lot 11 : Chauffage ventilation<Br>Lot 12 : Plomberie sanitaire<Br>Lot 13 :
                Electricité cf.&nbsp;cf<Br>Lot 14 : Elévateur vertical<Br>Lot 15 : VRD - espaces Extérieurs.<BR><I>Des
                    variantes seront-elles prises en compte: </I>oui.<BR>Prestations divisées en lots : oui.
            <p><i>Durée du marché ou délai d'exécution&nbsp;:&nbsp;</i>17 mois à compter de la notification du
                marché.<BR><i>Date&nbsp;prévisionnelle&nbsp;de&nbsp;commencement&nbsp;des&nbsp;travaux&nbsp;:&nbsp;</i>1.e.r&nbsp;mai&nbsp;2015.<BR><I>Langues
                    pouvant être utilisées dans l'offre ou la candidature&nbsp;:</I>&nbsp;français.<BR><i>Unité
                    monétaire utilisée, l'euro</i>.
            <p><I>Critères d'attribution&nbsp;:&nbsp;</I><BR>Offre économiquement la plus avantageuse appréciée en
                fonction des critères énoncés ci-dessous avec leur pondération.<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;prix
                des prestations : 60 %;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;valeur technique : 40 %.
            <P><I>Type de procédure&nbsp;:&nbsp;</I>procédure adaptée.
            <p><I>Date limite de réception des offres&nbsp;:&nbsp;</I>31&nbsp;mars&nbsp;2015,&nbsp;à&nbsp;12&nbsp;heures.<BR><I>D&eacute;lai
                minimum de validit&eacute; des offres&nbsp;:&nbsp;</I>90 jours à compter de la date limite de réception
                des offres.
            <p><I>Autres renseignements&nbsp;:&nbsp;</i>
            <P><I>Renseignements complémentaires&nbsp;:&nbsp;</I>cabinet Mégard Architectes - place Saint-Vincent de
                Paul - 01400 Châtillon-Sur-Chalaronne.
            <p><I>Conditions et mode de paiement pour obtenir les documents contractuels et additionnels</I> :<BR>les
                dossiers sont à retirer contre paiement en temps utile auprès de QUICKPRINT 7 rue Tour, 01000 st denis
                les bourg - après demande par télécopie au 04.74.21.28.09 en précisant le ou les lots .
            <p><i>Conditions de remise des offres ou des candidatures :</i><br>voie papier uniquement déposé contre
                récépissé en envoyé avec accusé réception sous pli cacheté à M.&nbsp;le président - syndicat Mixte du
                Plateau de Retord - B.P.&nbsp;54 - 31 rue du docteur Mercier - 01130 NANTUA<Br>Du lundi au jeudi de 8 h
                à 12 h et de 13 h 30 à 17 h 30, le vendredi de 8 h à 12 h.
            <p><I>Date d'envoi du présent avis à la publication&nbsp;:&nbsp;</I>5&nbsp;mars&nbsp;2015.</P><img
                    src="http://saisie.boamp.fr/pls/enregistrement/image?ida=1803030&noa=10-146370" width="1"
                    height="1"></td>
    </tr>
</table>
</body>
</html>